<script id="CartTemplate" type="text/template">
  {% render 'banana-stand-cart-top-container' %}
{% raw %}
  <form action="/cart" method="post" novalidate class="cart ajaxcart gip-secondary-cart">
    <div class="drawer__inner drawer__inner--has-fixed-footer">
      {% endraw %}
      {% if settings.free_shipping_text != blank and settings.free_shipping_value != blank %}
        <div class="cart-free-shipping appear-animation appear-delay-2">
          <div class="cart-free-shipping__line"></div>
          <div class="cart-is-empty__footer_shipping d-flex align-items-start justify-content-center">
            {% assign free_shipping = settings.free_shipping_value | times: 100  %}
            <img src="{{ 'green-check.svg' | asset_url }}" />
            <div class="text">{{ settings.free_shipping_text }}
              <span class="cart__price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_free_shipping" style="display:none !important;"></span>{{ free_shipping | money }}</span>
            </div>
          </div>
        </div>
      {% endif %}
      {% raw %}
      {{#items}}
      <div class="gip-secondary-cart-line-item ajaxcart__product appear-animation appear-delay-{{animationRow}}">
        <div class="ajaxcart__row">
          <div class="grid display-table{{class}} ">
            <div class="grid__item one-third display-table-cell">
              <a href="{{url}}" class="ajaxcart__product-image">
                <img src="{{img}}"{{#if bundleMain}} data-product-id="{{id}}"{{/if}} alt="{{name}}">
              </a>
            </div>
            <div class="grid__item two-thirds display-table-cell">

              <div class="ajaxcart__product-name--wrapper">
                <div class="cell-qty">
                  <div class="ajaxcart__quantity js-qty">
                    <label for="updates_{{key}}" class="visually-hidden">{% endraw %}{{ 'products.product.quantity' | t }}{% raw %}</label>
                    <input type="number" id="updates_{{key}}" name="updates[]" value="{{itemQty}}" min="0" class="js-qty__fallback" data-id="{{key}}">
                    <span class="gip-secondary-cart-line-item-qty" style="display: none">{{itemQty}}</span>
                  </div>
                </div>

                <a href="{{url}}" class="ajaxcart__product-name">{{{name}}}</a>
                {{#if variation}}
                  <span class="ajaxcart__product-meta ajaxcart__product-meta-variation">{{variation}}</span>
                {{/if}}
                {{#properties}}
                  {{#each this}}
                    {{#if this}}
                      <span class="ajaxcart__product-meta"><span class="ajaxcart__product-meta-label">{{@key}}: </span>{{this}}</span>
                    {{/if}}
                  {{/each}}
                {{/properties}}

                <span class="gip-secondary-cart-line-item-price"
                      style="display: none;"
                      data-product-id="{{ id }}"
                      data-variant-id="{{ variant_id }}">
                  <span class="money">{{ productPrice }}</span>
                </span>
                <span class="gip-secondary-cart-line-item-meta"
                      style="display: none"
                      data-original-price-cents="{{ floatPrice }}"
                      data-discounted-price-cents="{{ discountedPriceFloat }}">
                </span>

                <div class="ajaxcart__price-wrap">
                  {{#if discountsApplied}}
                    <span class="ajaxcart__price gip-secondary-cart-final-line-item-total">
                      {{{discountedPrice}}}
                    </span>
                    <small class="ajaxcart__price--strikethrough">{{{price}}}</small>
                  {{else}}
                    <span class="ajaxcart__price gip-secondary-cart-final-line-item-total">
                      {{{price}}}
                    </span>
                  {{/if}}
                </div>

              </div>

              {{#if discountsApplied}}
                <div class="grid--full display-table">
                  <div class="grid__item text-right">
                    {{#each discounts}}
                      <small class="ajaxcart__discount">{{this.title}}</small>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/items}}

      {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
        <div class="appear-animation appear-delay-{{lastAnimationRow}}">
          <label for="CartSpecialInstructions" class="ajaxcart__note">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{note}}</textarea>
        </div>
      {% endraw %}{% endif %}

      {% raw %}
    </div>
    <div class="drawer__footer drawer__footer--fixed appear-animation appear-delay-{{lastAnimationRow}}">
      <div class="grid--full cart-subtotal">
        <div class="grid__item one-half">
          <p class="ajaxcart__subtotal">{% endraw %}{{ 'cart.general.subtotal' | t }}:{% raw %}</p>
        </div>
        <div class="grid__item one-half text-right">
          <p class="ajaxcart__price gip-secondary-cart-total" style="display: none">{{{totalPrice}}}</p>
        </div>
      </div>
      {{#if totalCartDiscount}}
        <p class="ajaxcart__savings text-center hide">{{{totalCartDiscount}}}</p>
      {{/if}}
      <p class="ajaxcart__note hide">
        {% endraw %}{{ 'cart.general.shipping_at_checkout' | t }}{% raw %}
        {% endraw %}{% if settings.enable_currencies %}{% raw %}
          {% endraw %}{{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}{% raw %}
        {% endraw %}{% endif %}{% raw %}
      </p>
      {% endraw %}{% if settings.cart_terms_conditions_enable %}
        <p class="ajaxcart__note ajaxcart__note--terms">
          <input type="checkbox" id="CartAgree" />
          <label for="CartAgree">
            {% if settings.cart_terms_conditions_link != blank %}
              {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
            {% else %}
              {{ 'cart.general.terms' | t }}
            {% endif %}
          </label>
        </p>
      {% endif %}{% raw %}
      <button type="submit" class="btn--secondary btn cart__checkout{% endraw %}{% if settings.cart_terms_conditions_enable %}{% raw %} cart__checkout--ajax{% endraw %}{% endif %}{% raw %}" name="checkout">
        {% endraw %}Checkout{% raw %}
      </button>
      <input type="hidden" name="discount" value="">
      <input type="hidden" name="clear_discount" value="1">
    </div>
  </form>
{% endraw %}
</script>
