<div class="shop-banner full" style="background-image: url('{{ 'black-friday.jpg' | asset_url }}');">
  <div class="page-width">

    {% assign bnnr_title = shop.metafields.airf.bnnr_title %}
    {% if bnnr_title and bnnr_title != '&nbsp' %}
      <div class="shop-banner--title">
        {{ bnnr_title }}
      </div>
    {% endif %}

    {% assign bnnr_sub = shop.metafields.airf.bnnr_sub %}
    {% if bnnr_sub and bnnr_sub != '&nbsp' %}
      <div class="shop-banner--subtitle rox-bold">
        {{ bnnr_sub }}
      </div>
    {% endif %}

    <hr class="short">

    {% assign bnnr_main = shop.metafields.airf.bnnr_main %}
    {% if bnnr_main and bnnr_main != '&nbsp' %}
      <div class="shop-banner--main-cta">
        {{ bnnr_main }}
      </div>
    {% endif %}

    {% assign bnnr_sec = shop.metafields.airf.bnnr_sec %}
    {% if bnnr_sec and bnnr_sec != '&nbsp' %}
      <div class="shop-banner--secondary-cta">
        {{ bnnr_sec | newline_to_br }}
      </div>
    {% endif %}

    {% if banner_location == 'homepage' %}
      <div class="shop-banner--buttons">
        {% assign bnnr_b_1_u = shop.metafields.airf.bnnr_b_1_u %}
        {% assign bnnr_b_1_t = shop.metafields.airf.bnnr_b_1_t %}
      
        {% if bnnr_b_1_u and bnnr_b_1_u != blank and bnnr_b_1_t and bnnr_b_1_t != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign bnnr_b_1_u_related_handles = bnnr_b_1_u | split: separator %}
          {% for handle in bnnr_b_1_u_related_handles %}
              
            {% assign related_collection = collections[handle] %}
            {% unless related_collection.empty? %}
                <a href="{{ related_collection.url }}" class="btn btn--white-outline">{{ bnnr_b_1_t }}</a>
            {% endunless %}
                  
          {% endfor %}
        {% endif %}

        {% assign bnnr_b_2_u = shop.metafields.airf.bnnr_b_2_u %}
        {% assign bnnr_b_2_t = shop.metafields.airf.bnnr_b_2_t %}
      
        {% if bnnr_b_2_u and bnnr_b_2_u != blank and bnnr_b_2_t and bnnr_b_2_t != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign bnnr_b_2_u_related_handles = bnnr_b_2_u | split: separator %}
          {% for handle in bnnr_b_2_u_related_handles %}
              
            {% assign related_collection = collections[handle] %}
            {% unless related_collection.empty? %}
                <a href="{{ related_collection.url }}" class="btn btn--white-outline">{{ bnnr_b_2_t }}</a>
            {% endunless %}
                  
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
    
  </div>
</div>