{% assign bnnr_sm = shop.metafields.airf.xmas_sm %}
{% if bnnr_sm and bnnr_sm != '&nbsp' %}
  <div class="shop-banner small" style="background-image: url('{{ bnnr_sm }}');">
{% else %}
  <div class="shop-banner small" style="background-image: url('{{ 'black-friday-small.jpg' | asset_url }}');">
{% endif %}
  <div class="page-width">

    <div class="banner-slider">
      {% assign bnnr_pr_1 = shop.metafields.airf.xmas_pr_1 %}
      {% if bnnr_pr_1 and bnnr_pr_1 != '&nbsp' %}
        <div class="banner-slider--slide">
          {{ bnnr_pr_1 }}
        </div>
      {% endif %}
      {% assign bnnr_pr_2 = shop.metafields.airf.xmas_pr_2 %}
      {% if bnnr_pr_2 and bnnr_pr_2 != '&nbsp' %}
        <div class="banner-slider--slide">
          {{ bnnr_pr_2 }}
        </div>
      {% endif %}
    </div>
    
  </div>
</div>