<div class="bg_color_black">
<div class="page-width">
  {% capture image_layout %}
    <div class="feature-row__item">
      {% if image %}
      <a href="{% if url_collection_men contains 'collections' %}{{url_collection_men}}{% elsif url_collection_women contains 'collections' %}{{url_collection_women}} {% endif %}" class="image_url_button">
        <div class="inner_image_absolute_block">
    			<img src="{{ image }}" class="image_absolute_block_inner" alt="" style=" min-height: {{ image_height }}px;">
    		</div>
      </a>
      {% else %}
        <div class="image-wrap">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row" data-aos>
    {% if image_position == 'left' %}
      {{ image_layout }}
    {% endif %}
    <div class="phone_title_black_block">
      {% if sup_title %}
        <p class="subtitle">{{ sup_title }}</p>
      {% endif %}
      {% if title %}
        <h2 class="h3">{{ title | escape }}</h2>
      {% endif %}
    </div>
    <div class="feature-row__item feature-row__text feature-row__text--{{ image_position }} larger-text">
      {% if sup_title %}
        <p class="subtitle">{{ sup_title }}</p>
      {% endif %}
      {% if title %}
        <h2 class="h3">{{ title | escape | newline_to_br }}</h2>
      {% endif %}
      {% if description %}
        <div class="rte featured-row__subtext"><p>{{ description }}</p></div>
      {% endif %}
      <div class="flex_buttons_inner">
        <a href="#" class="btn">test 1</a>
      {% if link %}
        <a href="{% if url_collection_men contains 'collections' %}{{url_collection_men}}{% elsif url_collection_women contains 'collections' %}{{url_collection_women}} {% endif %}" class="btn">{{ link | strip }}</a>
      {% endif %}
      {% if section.settings.button_label_2 != blank %}
        <a href="{{ section.settings.button_link_2 }}" class="btn">{{ section.settings.button_label_2 | strip }}</a>
      {% endif %}
      </div>
    </div>

    {% if image_position == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>
</div>

