{% if settings.cart_type == 'drawer' %}
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header appear-animation appear-delay-1">
      <div class="drawer__header">
        <div class="drawer__cart_icon">
          <img src="{{ 'icon-cart.svg' | asset_url }}" />
        </div>
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="drawer__close-button js-drawer-close">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'cart.general.close' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div class="cart-is-empty">
        <div class="cart-is-empty__header">
          <div class="cart-is-empty__header__title rox-demibold appear-animation appear-delay-2">
            {% if settings.empty_cart_title != blank %}
              {{ settings.empty_cart_title }}
            {% else %}
              {{ theme.strings.cartEmpty | t }}
            {% endif %}
          </div>
          <div class="cart-is-empty__header__text appear-animation appear-delay-3">
            {% if settings.empty_cart_text != blank %}
              {{ settings.empty_cart_text }}
            {% endif %}
          </div>
        </div>
        <div class="cart-is-empty__content">
          <div class="cart-is-empty__line top appear-animation appear-delay-4"></div>

            <div class="cart-is-empty__content__button appear-animation appear-delay-5">
              <a class="btn btn--white" href="https://aromahigh.myshopify.com/collections/all">SHOP AROMAHIGH</a>
            </div>
          <div class="cart-is-empty__line bottom appear-animation appear-delay-10"></div>
        </div>
        <div class="cart-is-empty__footer appear-animation appear-delay-11">
          {% if settings.free_shipping_text != blank and settings.free_shipping_value != blank %}
            <div class="cart-is-empty__footer_shipping d-flex align-items-start justify-content-center justify-content-md-start">
              {% assign free_shipping = settings.free_shipping_value | times: 100  %}
              <img src="{{ 'green-check.svg' | asset_url }}" />
              <div class="text">{{ settings.free_shipping_text }}
                <span class="cart-free-ship__price"><span class="Bold-theme-hook-DO-NOT-DELETE-comment-bold_cart_free_shipping" style="display:none !important;"></span>{{ free_shipping | money }}</span>

              </div>
            </div>
          {% endif %}
        </div>
      </div>
        
      </div>
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>
{% endif %}
