{% assign c_b_i = collection.metafields.airf.c_b_i %}
{% assign c_b_t = collection.metafields.airf.c_b_t %}
{% assign c_b_te = collection.metafields.airf.c_b_te %}
{% assign c_b_l = collection.metafields.airf.c_b_l %}
{% assign c_b_lt = collection.metafields.airf.c_b_lt %}
{% assign c_b_bbc = collection.metafields.airf.c_b_bbc %}
{% assign c_b_btc = collection.metafields.airf.c_b_btc %}
{% assign c_b_mi = collection.metafields.airf.c_b_mi %}
<div class="collection-banner-section">
	<div class="section-inner">
		<div class="collection-banner-bg" style="background-image: url('{{ c_b_i }}');">
			<div class="collection-banner-mobile-image show-mobile">
				<img src="{{ c_b_mi }}" alt="{{ c_b_t }}">
			</div>
			<div class="collection-banner-content">
				<div class="collection-banner-title">
					<h1>{{ c_b_t }}</h1>
				</div>
				<div class="collection-banner-text">
					<p>{{ c_b_te }}</p>
				</div>
				{% comment %}
				<div class="collection-banner-link">
					<a href="{{ c_b_l }}" style="background-color: {{ c_b_bbc }}; color: {{ c_b_btc }};">{{ c_b_lt }}</a>
				</div>
				{% endcomment %}
			</div>
		</div>
	</div>
</div>