
<div class="collection-block-hero">
	{% assign hero_d = collection.metafields.airf.hero_d %}
	{% if hero_d and hero_d != '&nbsp' %}
	<img class="collection-hero-image small--hide" src="{{ hero_d }}" />
	{% endif %}

	{% assign hero_m = collection.metafields.airf.hero_m %}
	{% if hero_m and hero_m != '&nbsp' %}
	<img class="collection-hero-image medium-up--hide" src="{{ hero_m }}" />
	{% endif %}

	<div class="text-overlay">
		<div class="page-width">
			<h1 class="collection-hero-title">{{ collection.title |capitalize }}</h1>
			{% assign hero_d_mob = collection.metafields.airf.hero_d_mob %}
			{% if hero_d_mob and hero_d_mob != '&nbsp' %}
				<p class="collection-hero-desc">{{ hero_d_mob }}</p>
			{% endif %}
		</div>
	</div>
</div>