{% comment %}test
{% assign tms = collection.metafields.airf.tms %}
{% if tms and tms != blank %}
    {% assign separator = "###" %}
    {% assign tms_childs_keys = tms | split: separator %}
    {% for tms_child_key in tms_childs_keys %}
        
        {% if tms_child_key contains "tm_quote" %}
            <div class="textarea">{{ collection.metafields.airf[tms_child_key] }}</div>
        {% endif %}

        {% if tms_child_key contains "tm_logo" %}
            <div class="image">{{ collection.metafields.airf[tms_child_key] }}</div>
        {% endif %}

    {% endfor %}
{% endif %}

{% assign tms_title = collection.metafields.airf.tms_title %}
{% if tms_title and tms_title != '&nbsp' %}
    {{ tms_title }}
{% endif %}{% endcomment %}




{% assign tms = collection.metafields.airf.tms %}
{% if tms and tms != blank %}
  <div class="grid__item medium-up--two-quarters small--one-whole collection-block-testimonials invisible {{ class_var }}">
      {% assign tms_title = collection.metafields.airf.tms_title %}
      {% if tms_title and tms_title != '&nbsp' %}
        <h2 class="gold">
          <span class="testimonial-title">{{ tms_title }}</span>
        </h2>
      {% endif %}
      
      {% if tms and tms != blank and tms  != '&nbsp' %}
        <div class="tm-slider-wrap">
          <button type="button" class="tm-slider-arrow tm-slider-arrow-left">
            <img src="{{ 'icon-arrow-left.svg' | asset_url }}" />
          </button>
          <button type="button" class="tm-slider-arrow tm-slider-arrow-right">
            <img src="{{ 'icon-arrow-right.svg' | asset_url }}" />
          </button>
          <div class="tm-slider">
            
            {% assign separator = "###" %}
            {% assign tms_childs_keys = tms | split: separator %}
            {% for tms_child_key in tms_childs_keys %}
              {% assign counter = tms_child_key | remove: 'tm_quote_' %}
              {% assign tmtext =  'tm_quote_' | append: counter %}
              {% assign tmimg =  'tm_logo_' | append: counter %}
            
              {% if tms_child_key contains "tm_quote" and collection.metafields.airf[tmtext] != '&nbsp' and collection.metafields.airf[tmimg] != '&nbsp' %}  
                <div class="tm-slide">
                  <div class="tm-slide__content_wrap d-flex align-items-center">
                    <div class="tm-slide__content">
                      <p>{{ collection.metafields.airf[tms_child_key] | newline_to_br }}</p>            
                      <div class="tm-image medium-up--hide">
                        <img src="{{ collection.metafields.airf[tmimg] }}" />
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="tm-slider-nav d-flex align-items-center">
          {% for tms_child_key in tms_childs_keys %}
            {% if tms_child_key contains "tm_logo" and collection.metafields.airf[tms_child_key] != '&nbsp' %}
              <a class="tm-slider-logo flex-fill{% if forloop.first == true %} active{% endif %}">
                <img src="{{ collection.metafields.airf[tms_child_key] }}" />
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
  </div>
{% endif %}