{% assign b_image = collection.metafields.airf.b_image %}
{% assign b_link = collection.metafields.airf.b_link %}
{% assign c_b_h = collection.metafields.airf.c_b_h %}

{% if b_image and b_image != '&nbsp' %}
<section class="collection-block-banner grid__item medium-up--four-quarters small--one-whole">
  <div class="collection-block-banner-image">
    <a href="{{ b_link }}">
      <img class="lazyload" data-src="{{ b_image }}">
    </a>
  </div>
  <div class="collection-block-banner-content">
    <h3>{{ c_b_h }}</h3>
    <a href="{{ b_link }}">Shop Now</a>
  </div>
</section>
{% endif %}