
{% assign fc_link = collection.metafields.airf.fc_link %}

{% assign fc_col = collection.metafields.airf['fc_col'] %}
{% if fc_col and fc_col != blank %}
    {% assign separator = "###" %}
    {% assign fc_col_related_handles = fc_col | split: separator %}
    {% for handle in fc_col_related_handles %}

            {% assign related_collection = collections[handle] %}
            {% unless related_collection.empty? %}
                {% assign fc_link = related_collection.url %}
            {% endunless %}

    {% endfor %}
{% endif %}

{% assign fc_scol = collection.metafields.airf['fc_scol'] %}
{% if fc_scol and fc_scol != blank %}
    {% assign separator = "###" %}
    {% assign fc_scol_related_handles = fc_scol | split: separator %}
    {% for handle in fc_scol_related_handles %}

            {% assign related_collection = collections[handle] %}
            {% unless related_collection.empty? %}
                {% assign fc_link = related_collection.url %}
            {% endunless %}

    {% endfor %}
{% endif %}

<div class="collection-block-featured invisible">
    <div class="left-column">
        {% assign fc_image = collection.metafields.airf.fc_image %}
        {% if fc_image and fc_image != '&nbsp' %}
            <a href="{{ fc_link }}">
                <img src="{{ fc_image }}" />
            </a>
        {% endif %}
    </div>
    <div class="right-column">
        {% assign fc_title = collection.metafields.airf.fc_title %}
        {% if fc_title and fc_title != '&nbsp' %}
            <h2 class="collection-featured-title">{{ fc_title }}</h2>
        {% endif %}

        {% assign fc_desc = collection.metafields.airf.fc_desc %}
        {% if fc_desc and fc_desc != '&nbsp' %}
            <p class="collection-featured-desc">{{ fc_desc }}</p>
        {% endif %}

        {% if fc_link and fc_link != '&nbsp' %}
            <a class="collection-featured-link" href="{{ fc_link }}">Explore</a>
        {% endif %}
    </div>
</div>