{% unless grid_item_width %}
{%- assign grid_item_width = 'medium-up--one-quarter small--one-half' -%}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {%- assign on_sale = true -%}
{% endif %}

{%- assign sold_out = true -%}
{% if product.available %}
    {%- assign sold_out = false -%}
{% endif %}

{% comment %}Show BF discounts{% endcomment %}
{% assign show_bfd = shop.metafields.airf.show_bfd %}

{% assign productStartCount = product.metafields.stock.initial | times:1 %}
{% if productStartCount > 0 %}
    {% assign productInventory = product.variants.first.inventory_quantity %}
    {% assign productSoldCount = productStartCount | minus:productInventory %}
{% endif %}
{% assign productTags = product.tags | join:',' %}
{% assign productCollections = '' %}
{% for collection in product.collections %}
    {% assign productCollections = productCollections | append: ',' | append: collection.title %}
{% endfor %}
{% assign productTags = productTags | append: productCollections %}
<div class="grid__item grid-product {{ grid_item_width }}{% if settings.quick_shop_enable and sold_out == false %} grid-product__has-quick-shop{% endif %}"
  data-aos="row-of-{{ per_row }}"
  data-id="{{ product.id }}"
  data-sold-count="{{ productSoldCount }}"
  data-tags="{{ productTags }}"
  data-price="{{ product.price }}"
  data-date="{{ product.published_at | date: '%s' }}">
  <div class="grid-product__content">
    {% comment %}
    {% if sold_out %}
      <div class="grid-product__tag">
        <div class="middle">
          {{ 'products.product.sold_out' | t }}
        </div>
      </div>
    {% endif %}
    {% if on_sale and sold_out == false %}
      <div class="grid-product__tag">
        <div class="middle">
                        {% assign show_perce = collection.metafields.airf.show_perce %}
                        {% if show_perce == "true" %}
                            {% capture saved_amount %}<div>{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.price | floor }}%</div>{% endcapture %}{{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                        {% else %}
                            {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money }}{% endcapture %}{{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                        {% endif %}

                    </div>
                </div>
            {% endif %}
        {% endcomment %}
        {% comment %}{% if settings.quick_shop_enable and sold_out == false %}
            <div class="quick-product__btn js-modal-open-quick-modal-{{ product.id }} small--hide" data-product-id="{{ product.id }}">
                <span class="quick-product__label">{{ settings.quick_shop_text }}</span>
            </div>
        {% endif %}{% endcomment %}

        <a href="{{ product.url | within: collection }}" class="grid-product__link {% if sold_out %} grid-product__link--disabled{% endif %}">
            <div class="grid-product__image-mask">
                <div class="wishlist-wrao" {% if similarstart %}style="display: none;"{% endif %}>
                    <div class="wishlist-button" data-id="{{ product.id }}" data-action="add">
                        <div class="wishlist-img">
                            <div class="wishlist-add">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.333008 0.333344H21.6663V21.6667H0.333008V0.333344Z" fill="white"/>
                                    <path d="M18.9995 8.62858C18.9995 6.52349 17.2157 4.82915 14.9995 4.82915C12.7833 4.82915 10.9995 6.52349 10.9995 8.62858C10.9995 8.67993 10.9995 8.67993 10.9995 8.73127C10.9995 8.67993 10.9995 8.62858 10.9995 8.57724C10.9995 6.47215 9.21573 4.7778 6.99951 4.7778C4.7833 4.7778 2.99951 6.47215 2.99951 8.57724C2.99951 9.09068 3.10762 9.60412 3.32384 10.0662C4.83735 13.917 10.9995 19 10.9995 19C10.9995 19 18.9995 12.428 18.9995 8.83396C18.9995 8.78261 18.9995 8.67993 18.9995 8.62858Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="wishlist-added">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.5 0C11.605 0 10 2.09 10 2.09C10 2.09 8.395 0 5.5 0C2.462 0 0 2.462 0 5.5C0 9.671 4.912 13.713 6.281 14.99C7.858 16.46 10 18.35 10 18.35C10 18.35 12.142 16.46 13.719 14.99C15.088 13.713 20 9.671 20 5.5C20 2.462 17.538 0 14.5 0Z" fill="white"/>
                                </svg>
                            </div>
                            <div class="wishlist-hover">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.5 0C11.605 0 10 2.09 10 2.09C10 2.09 8.395 0 5.5 0C2.462 0 0 2.462 0 5.5C0 9.671 4.912 13.713 6.281 14.99C7.858 16.46 10 18.35 10 18.35C10 18.35 12.142 16.46 13.719 14.99C15.088 13.713 20 9.671 20 5.5C20 2.462 17.538 0 14.5 0Z" fill="#DC005C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="wishlist-text">
                            <p><span class="wish-text">Add to Wishlist</span></p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;">
                    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="grid-product__image lazyload"
                         data-src="{{ img_url | replace_first: '//', 'https://' }}"
                         data-widths="[180, 360, 540, 720, 900, 1080]"
                         data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ product.featured_image.alt | escape }}">
                    <noscript>
                        <img class="grid-product__image lazyloaded"
                             src="{{ product.featured_image | img_url: '400x' }}"
                             alt="{{ product.featured_image.alt | escape }}">
                    </noscript>
                </div>

                {% unless sold_out %}
                    {% if settings.product_hover_image and product.images.size > 1 %}
                        {% for image in product.images offset: 1 limit: 1 %}
                            {%- assign second_image = image -%}
                        {% endfor %}
                        <div
                                class="grid-product__secondary-image small--hide lazyload"
                                data-bgset="{% include 'bgset', image: second_image %}"
                                data-sizes="auto">
                        </div>
                    {% endif %}
                {% endunless %}
            </div>

            <div class="grid-product__meta">
                {% comment %}<div class="grid-product__collection">
                {% assign series = product.metafields.airf.series %}
                    {% if series and series != '&nbsp' %}
                        {{ series | capitalize | strip }}
                    {% else %}
                        {{ collection.title | capitalize | strip }}
                    {% endif %}
                    </div>{% endcomment %}
                <div class="grid-product__title">
                    {% assign show_var = collection.metafields.airf.show_var %}
                    {% if show_var == "true" %}
                        <div class="grid-product__main-title">{{ product.title }}</div>

                        {% assign variant_ti = product.metafields.airf.variant_ti %}
                        {% if variant_ti and variant_ti != '&nbsp' %}
                            <div class="grid-product__variant-title">{{ variant_ti }}</div>
                        {% else %}
                            <div class="grid-product__variant-title">{{product.options_with_values[0].values[0]}}</div>
                        {% endif %}

                    {% else %}
                        {{ product.title }}
                    {% endif %}
                </div>
                {% if settings.vendor_enable %}
                    <div class="grid-product__vendor">{{ product.vendor }}</div>
                {% endif %}
                <div class="grid-product__price medium-down--hide">

                    {% if product.type contains "Watch" and show_bfd == "true" %}

                        {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                        {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                            <div>{{ product.compare_at_price | money }} <span class="grid-strike-through">{{ product.price | money }}</span></div>
                        {% else %}
                            <div>{{ product.price | times: 0.80 | round | money }} <span class="grid-strike-through">{{ product.price | money }}</span></div>
                        {% endif %}

                        {% elsif product.type contains "SALE" and show_bfd == "true" %}

                        {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                        {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                            <div><span class="grid-strike-through">{{ product.price | money }}</span> {{ product.compare_at_price | money }}</div>
                        {% else %}
                            <div><span class="grid-strike-through">{{ product.price | money }}</span> {{ product.price | times: 0.50 | round | money }}</div>
                        {% endif %}

                    {% else %}
                        {% if product.price_varies %}
                            {% assign price = product.price_min | money %}
                            {{ 'products.general.from_text_html' | t: price: price }}
                        {% else %}
                            <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>
                            {{ product.price  | money }}
                        {% endif %}
                        {% if on_sale %}
                            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                            <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                        {% endif %}

                    {% endif %}

                </div>
                {% comment %}<div class="yotpo bottomLine"
                                  data-product-id="{{ product.id }}">
                    </div>{% endcomment %}
                {% if related and add_to_cart_enable %}
                    <button type="submit" name="add" class="btn btn--small add-to-cart add-to-cart-related" data-id="{{product.selected_or_first_available_variant.id}}">
                        <span>Add to cart</span>
                    </button>
                {% endif %}
            </div>
        </a>

        <div class="product-bottom-container">
            <div class="grid-product__price medium-up--hide{% if on_sale %} price-on-sale{% endif %}">
                {% if product.type contains "Watch" and show_bfd == "true" %}

                    {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                    {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                        <div>{{ product.compare_at_price | money }} <span class="grid-strike-through">{{ product.price | money }}</span></div>
                    {% else %}
                        <div>{{ product.price | times: 0.80 | round | money }} <span class="grid-strike-through">{{ product.price | money }}</span></div>
                    {% endif %}

                    {% elsif product.type contains "SALE" and show_bfd == "true" %}

                    {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                    {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                        <div><span class="grid-strike-through">{{ product.price | money }}</span> {{ product.compare_at_price | money }}</div>
                    {% else %}
                        <div><span class="grid-strike-through">{{ product.price | money }}</span> {{ product.price | times: 0.50 | round | money }}</div>
                    {% endif %}

                {% else %}
                    {% if product.price_varies %}
                        {% assign price = product.price_min | money %}
                        {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>
                        {{ product.price  | money }}
                    {% endif %}
                    {% if on_sale %}
                        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                        <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                    {% endif %}

                {% endif %}

            </div>
            {% if sold_out == false %}
                {% assign p_kit_e = product.metafields.airf.p_kit_e %}
                {% assign p_kit_l = product.metafields.airf['p_kit_l'] %}
                {% assign no_kit = 'false' %}
                <a href="{{ product.url | within: collection }}" class="btn-shop-now d-md-block d-none {% if p_kit_e == "true" %}add-to-cart-kit{% else %}add-to-cart-related{% endif %}" data-id="{{product.selected_or_first_available_variant.id}}"{% if p_kit_e == "true" %} data-kit="{% if p_kit_l and p_kit_l != blank %}{% assign separator = "###" %}{% assign p_kit_l_related_handles = p_kit_l | split: separator %}{% assign counter = 1 %}{% for handle in p_kit_l_related_handles %}{% assign related_product = all_products[handle] %}{% unless related_product.empty? %}{% if counter == 1 %}{% assign counter = 2 %}{{ related_product.variants.first.id }}{% else %},{{ related_product.variants.first.id }}{% endif %}{% endunless %}{% endfor %}{% endif %}" {% endif %}>
                    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="3.71057" width="10.7895" height="10.7895" rx="0.5" stroke="black"/>
                        <path d="M2.94739 5.05263V3.94737C2.94739 2.31958 4.26697 1 5.89476 1V1C7.52254 1 8.84212 2.31958 8.84212 3.94737V5.05263" stroke="black"/>
                    </svg>
                    {% if p_kit_e == "true" %}
                        {% if p_kit_l and p_kit_l != blank %}
                            {% assign separator = "###" %}
                            {% assign p_kit_l_related_handles = p_kit_l | split: separator %}
                            {% for handle in p_kit_l_related_handles %}
                                {% assign related_product = all_products[handle] %}
                                {% unless related_product.empty? %}
                                    {% if related_product.variants.first.inventory_quantity > 0 %}
                                    {% else %}
                                        {% assign no_kit = "true" %}
                                    {% endif %}
                                {% endunless %}
                            {% endfor %}
                        {% endif %}
                        {% if no_kit and no_kit == 'true' %}
                            <span class="no-kit-span">
                                {{ 'products.product.sold_out' | t }}
                            </span>
                        {% else %}
                            {{ 'products.general.shop_now' | t }}
                        {% endif %}
                    {% else %}
                        {{ 'products.general.shop_now' | t }}
                    {% endif %}
                </a>
            {% endif %}
            {% comment %}<a class="btn-quick-view" data-product-id="{{ product.id }}">Quick View</a>
            <a class="hidden js-modal-open quick-product__btn js-modal-open-quick-modal-{{ product.id }}" data-product-id="{{ product.id }}"></a>{% endcomment %}
        </div>

        {% if settings.collection_color_swatches %}
            {%- assign swatch_file_extension = 'png' -%}

            {% for option in product.options_with_values %}
                {%- assign option_name = option.name | downcase -%}
                {% if option_name contains 'color' or option_name contains 'colour' %}
                    {%- assign option_index = forloop.index0 -%}
                    {%- assign values = '' -%}
                    <div class="grid-product__colors">
                        {% for variant in product.variants %}
                            {%- assign value = variant.options[option_index] %}
                            {% unless values contains value %}
                            {%- assign values = values | join: ',' %}
                            {%- assign values = values | append: ',' | append: value %}
                            {%- assign values = values | split: ',' %}

                            {%- assign color_image = value | handle | append: '.' | append: swatch_file_extension | asset_img_url: '50x' | prepend: 'https:' -%}
                            {%- assign color_swatch_fallback = value | split: ' ' | last | handle -%}

                                <a
                                        href="{{ variant.url | within: collection }}"
                                        class="color-swatch"
                                        style="background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};">
                                </a>
                            {% endunless %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
