{% assign colfilters = shop.metafields.airf.colfilters %}
{% assign cf_hide = collection.metafields.airf.cf_hide %}
{% assign bf_hide = collection.metafields.airf.bf_hide %}
{% assign coll_on = collection.metafields.airf.coll_on %}
{% assign mob_filter_button = false %}

{% if cf_hide != "true" or bf_hide != "true" %}
    {% assign mob_filter_button = true %}
{% endif %}

{% if cf_hide == "true" and bf_hide == "true" %}
    {% assign mob_filter_button = false %}
{% endif %}

{% if coll_on == "true" %}
    {% assign mob_filter_button = true %}
{% endif %}


{% assign collection_filter_sort = true %}

{% assign hide_filte = collection.metafields.airf.hide_filte %}
{% if hide_filte == "true" %}
    {% assign collection_filter_sort = false %}
{% else %}
   {% assign collection_filter_sort = true %}
{% endif %}

{% if colfilters and colfilters != blank and colfilters != '&nbsp' and collection_filter_sort %}
<div class="collection-filter-container">
    <ul class="filter-nav-container">
        {% assign separator = "###" %}
        {% assign colfilters_namespaces = colfilters | split: separator %}
        <li class="filter-nav nav-tag">
            {% if mob_filter_button %}
                <a class="btn-tag-filter-toggle">
                <img src="{{ 'sort_icon_small.png' | asset_img_url }}" /> Filter {% include 'icon-chevron-down' %}</a>
            {% endif %}
            <div class="tag-filter-border">
                <ul class="tag-filter-container">
                    {% for namespace in colfilters_namespaces %}
                        {% assign custom_object = shop.metafields[namespace] %}
                        
                        {% comment %} ===== SECTION: color filters start ===== {% endcomment %}    

                        {% comment %} +++++ FIELD: color name +++++ {% endcomment %}    
                        {% assign color_nm = custom_object['color_nm'] %}
                        {% if color_nm and color_nm != '&nbsp' and cf_hide != "true" %}
                            <li class="filter-nav" data-href="#filter_color">
                                {{ color_nm }}
                            </li>
                        {% endif %}

                        {% comment %} ===== SECTION: size filters start ===== {% endcomment %}    

                        {% comment %} +++++ FIELD: size name +++++ {% endcomment %}    
                        {% assign size_nm = custom_object['size_nm'] %}
                        {% if size_nm and size_nm != '&nbsp' %}
                            <li class="filter-nav" data-href="#filter_size">
                                {{ size_nm }}
                            </li>
                        {% endif %}

                        {% comment %} ===== SECTION: bracelet filters start ===== {% endcomment %}    

                        {% comment %} +++++ FIELD: bracelet name +++++ {% endcomment %}
                        {% assign brc_nm = custom_object['brc_nm'] %}
                        {% if brc_nm and brc_nm != '&nbsp' and bf_hide != "true" %}
                            <li class="filter-nav" data-href="#filter_bracelet_type">
                                {{ brc_nm }}
                            </li>
                        {% endif %}

                        {% comment %} ===== SECTION: collection filters start ===== {% endcomment %}    

                        {% comment %} +++++ FIELD: collection name +++++ {% endcomment %}    
                        {% assign col_nm = custom_object['col_nm'] %}
                        {% if col_nm and col_nm != '&nbsp' and coll_on == "true" %}
                            <li class="filter-nav" data-href="#filter_collection">
                                {{ col_nm }}
                            </li>
                        {% endif %}

                        {% comment %} ===== SECTION: sorting options start ===== {% endcomment %}
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% for namespace in colfilters_namespaces %}
            {% assign custom_object = shop.metafields[namespace] %}
            {% comment %} +++++ FIELD: sorting tab name +++++ {% endcomment %}
            <li class="filter-nav nav-sort{% if mob_filter_button == false %} no-filters{% endif %} ">
            {% assign sort_name = custom_object['sort_name'] %}
            {% if sort_name and sort_name != '&nbsp' %}
                <a class="btn-sort-toggle">{{ sort_name }} {% include 'icon-chevron-down' %}</a>
            {% endif %}

                <ul>            
                    {% comment %} +++++ FIELD: sorting item - best sellers +++++ {% endcomment %}    
                    {% assign sort_best = custom_object['sort_best'] %}
                    {% if sort_best and sort_best != '&nbsp' %}
                        <li class="sort-item" data-value="best-selling">{{ sort_best }}</li>
                    {% endif %}

                    {% comment %} +++++ FIELD: sorting item - new in +++++ {% endcomment %}    
                    {% assign sort_new = custom_object['sort_new'] %}
                    {% if sort_new and sort_new != '&nbsp' %}
                        <li class="sort-item" data-value="created-descending">{{ sort_new }}</li>
                    {% endif %}

                    {% comment %} +++++ FIELD: sorting item - price low to high +++++ {% endcomment %}    
                    {% assign sort_prl = custom_object['sort_prl'] %}
                    {% if sort_prl and sort_prl != '&nbsp' %}
                        <li class="sort-item" data-value="price-ascending">{{ sort_prl }}</li>
                    {% endif %}

                    {% comment %} +++++ FIELD: sorting item - price high to low +++++ {% endcomment %}    
                    {% assign sort_prh = custom_object['sort_prh'] %}
                    {% if sort_prh and sort_prh != '&nbsp' %}
                        <li class="sort-item" data-value="price-descending">{{ sort_prh }}</li>
                    {% endif %}

                    {% comment %} ===== SECTION: sorting options end ===== {% endcomment %}    
                </ul>
            </li>
        {% endfor %}
    </ul>

    <div class="filter-content-container">
        {% for namespace in colfilters_namespaces %}
            {% assign custom_object = shop.metafields[namespace] %}

            <div id="filter_color" class="filter-content" data-option="color">
                {% comment %} +++++ FIELD: color filters +++++ {% endcomment %}    
                {% assign color = custom_object['color'] %}
                {% if color and color != blank %}
                    {% assign color_childs_keys = color | split: separator %}
                    {% for color_child_key in color_childs_keys %}
                        
                        {% if color_child_key contains "clr_img" %}
                            {% assign filter_image = custom_object[color_child_key] %}
                        {% endif %}
            
                        {% if color_child_key contains "clr_name" %}
                            {% assign filter_name = custom_object[color_child_key] %}
                        {% endif %}
            
                        {% if color_child_key contains "clr_tag" %}
                            <a class="filter-item color-item" data-value="{{ custom_object[color_child_key] }}">
                                <span class="color-item-img">
                                    <img src="{{ filter_image }}" />
                                </span>
                                <span class="filter-item-label">{{ filter_name }}</span>
                            </a>
                        {% endif %}    
                    {% endfor %}
                {% endif %}
                {% comment %} ===== SECTION: color filters end ===== {% endcomment %}
            </div>

            <div id="filter_size" class="filter-content" data-option="size">
                {% comment %} +++++ FIELD: size subtitle +++++ {% endcomment %}    
                {% assign size_sbttl = custom_object['size_sbttl'] %}
                {% if size_sbttl and size_sbttl != '&nbsp' %}
                    <p class="filter-title">{{ size_sbttl }}</p>
                {% endif %}
                
                {% comment %} +++++ FIELD: size filters +++++ {% endcomment %}    
                {% assign size = custom_object['size'] %}
                {% if size and size != blank %}
                    {% assign size_childs_keys = size | split: separator %}
                    {% for size_child_key in size_childs_keys %}
                        
                        {% if size_child_key contains "size_img" %}
                            {% assign filter_image = custom_object[size_child_key] %}
                        {% endif %}
            
                        {% if size_child_key contains "size_name" %}
                            {% assign filter_name = custom_object[size_child_key] %}
                        {% endif %}
            
                        {% if size_child_key contains "size_tag" %}
                            <a class="filter-item size-item" data-value="{{ custom_object[size_child_key] }}">
                                <img src="{{filter_image }}" />
                                <span class="filter-item-label">{{ filter_name }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% comment %} ===== SECTION: size filters end ===== {% endcomment %}    
            </div>

            <div id="filter_bracelet_type" class="filter-content" data-option="bracelet">        
                {% comment %} +++++ FIELD: bracelete filters +++++ {% endcomment %}    
                {% assign bracelet = custom_object['bracelet'] %}
                {% if bracelet and bracelet != blank %}
                    {% assign bracelet_childs_keys = bracelet | split: separator %}
                    {% for bracelet_child_key in bracelet_childs_keys %}
                        
                        {% if bracelet_child_key contains "brc_img" %}
                            {% assign filter_image = custom_object[bracelet_child_key] %}
                        {% endif %}
            
                        {% if bracelet_child_key contains "brc_name" %}
                            {% assign filter_name = custom_object[bracelet_child_key] %}
                        {% endif %}
            
                        {% if bracelet_child_key contains "brc_tag" %}
                            <a class="filter-item bracelet-item" data-value="{{ custom_object[bracelet_child_key] }}">
                                <img src="{{ filter_image }}" />
                                <span class="filter-item-label">{{ filter_name }}</span>
                            </a>
                        {% endif %}    
                    {% endfor %}
                {% endif %}
                {% comment %} ===== SECTION: bracelet filters end ===== {% endcomment %}    
            </div>
            {% assign coll_on = collection.metafields.airf.coll_on %}
            {% if coll_on == "true" %}
                <div id="filter_collection" class="filter-content" data-option="collection">
                    <p class="filter-collection-title">Sort by collection:</p>
                    {% comment %} +++++ FIELD: collection types +++++ {% endcomment %}    
                    {% assign col_type = custom_object['col_type'] %}
                    {% if col_type and col_type != blank %}
                        <div class="filter-type-container">
                            {% assign col_type_childs_keys = col_type | split: separator %}
                            {% for col_type_child_key in col_type_childs_keys %}
                                
                                {% if col_type_child_key contains "ctp_name" %}
                                    {% assign collection_type_name = custom_object[col_type_child_key] %}
                                {% endif %}
                    
                                {% if col_type_child_key contains "ctp_tag" %}
                                    {% if custom_object[col_type_child_key] == 'all' %}
                                        {% assign typeCls = 'active' %}
                                    {% else %}
                                        {% assign typeCls = '' %}
                                    {% endif %}
                                    <a class="filter-type-item {{ typeCls }}" data-value="{{ custom_object[col_type_child_key] }}">
                                        <span class="filter-type-label">{{ collection_type_name }}</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% comment %} +++++ FIELD: collcetion filters +++++ {% endcomment %}    
                    {% assign colls = custom_object['colls'] %}
                    {% if colls and colls != blank %}
                        <div class="filter-item-container">
                            {% assign colls_childs_keys = colls | split: separator %}
                            {% for colls_child_key in colls_childs_keys %}
                                
                                {% if colls_child_key contains "col_img" %}
                                    {% assign filter_image = custom_object[colls_child_key] %}
                                {% endif %}
                    
                                {% if colls_child_key contains "col_name" %}
                                    {% assign filter_name = custom_object[colls_child_key] %}
                                {% endif %}
                    
                                {% if colls_child_key contains "col_tag" %}
                                    {% assign filter_tag = custom_object[colls_child_key] %}
                                {% endif %}
                    
                                {% if colls_child_key contains "col_tp" %}
                                    <a class="filter-item collection-item" data-value="{{ filter_name | handlelize }}" data-tag="{{ filter_tag }}" data-type="{{ custom_object[colls_child_key ] }}">
                                        <img src="{{ filter_image }}" />
                                        <span class="filter-type-label">{{ filter_name }}</span>
                                    </a>
                                {% endif %}
                    
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% comment %} ===== SECTION: collection filters end ===== {% endcomment %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="filter-total">
        <span class="filter-total--value">X</span>
        <span class="filter-total--caption"> designs found</span>
    </div>
</div>
{% endif %}
{% comment %} <div class="collection-filter-container">
    <ul class="filter-nav-container">
        <li class="filter-nav">
            <a class="btn-filter" href="#filter_color">Color</a>
        </li>
        <li class="filter-nav">
            <a class="btn-filter" href="#filter_size">Size</a>
        </li>
        <li class="filter-nav">
            <a class="btn-filter" href="#filter_bracelet_type">Bracelet Type</a>
        </li>
        <li class="filter-nav">
            <a class="btn-filter" href="#filter_collection">Collection</a>
        </li>

        <li class="filter-nav nav-sort">
            <a class="btn-filter" href="#filter_collection">Sort by {% include 'icon-chevron-down' %}</a>
            <ul>
                <li class="sort-item"><a data-value="created-descending">New In</a></li>
                <li class="sort-item"><a data-value="best-selling">Best Sellers</a></li>
                <li class="sort-item"><a data-value="price-ascending">Price: Low To High</a></li>
                <li class="sort-item"><a data-value="price-descending">Price: High To Low</a></li>
            </ul>
        </li>
    </ul>
    <div class="filter-content-container">
        <div id="filter_color" class="filter-content" data-option="color">
            <a class="filter-item color-item" data-value="silver">
                <img src="{{'filter-color-silver.png' | asset_img_url:'50X50' }}" />
                <span class="filter-item-label">Silver</span>
            </a>
            <a class="filter-item color-item" data-value="gold">
                <img src="{{'filter-color-gold.png' | asset_img_url:'50X50' }}" />
                <span class="filter-item-label">Gold</span>
            </a>
            <a class="filter-item color-item" data-value="rose_gold">
                <img src="{{'filter-color-rose-gold.png' | asset_img_url:'50X50' }}" />
                <span class="filter-item-label">Rose Gold</span>
            </a>
            <a class="filter-item color-item" data-value="black">
                <img src="{{'filter-color-black.png' | asset_img_url:'50X50' }}" />
                <span class="filter-item-label">Black</span>
            </a>
        </div>

        <div id="filter_size" class="filter-content" data-option="size">
            <p class="filter-title">Case Diameter:</p>
            <a class="filter-item size-item" data-value="40">
                <img src="{{'filter-size-40-diameter.png' | asset_img_url:'150X' }}" />
                <span class="filter-item-label">40 milimeters</span>
            </a>
            <a class="filter-item size-item" data-value="42">
                <img src="{{'filter-size-42-diameter.png' | asset_img_url:'150X' }}" />
                <span class="filter-item-label">42 milimeters</span>
            </a>
        </div>

        <div id="filter_bracelet_type" class="filter-content" data-option="bracelet">
            <a class="filter-item bracelet-item" data-value="street">
                <img src="{{'filter-bracelet-steel.png' | asset_img_url:'170X' }}" />
                <span class="filter-item-label">Street Mesh Bracelet</span>
            </a>
            <a class="filter-item bracelet-item" data-value="leather">
                <img src="{{'filter-bracelet-leather.png' | asset_img_url:'170X' }}" />
                <span class="filter-item-label">Leather Strap</span>
            </a>
        </div>

        <div id="filter_collection" class="filter-content" data-option="collection">
        </div>
    </div>
</div> {% endcomment %}
