<section class="collection-block-quiz invisible">
    {% assign q_title = collection.metafields.airf.q_title %}
    {% if q_title and q_title != '&nbsp' %}
        <h2 class="collection-quiz-title">{{ q_title }}</h2>
    {% endif %}

    {% assign q_desc = collection.metafields.airf.q_desc %}
    {% if q_desc and q_desc != '&nbsp' %}
        <p class="collection-quiz-desc">{{ q_desc }}</p>
    {% endif %}

    {% assign q_link = collection.metafields.airf.q_link %}
    {% assign q_link_url = collection.metafields.airf.q_link_url %}

    {% if q_link and q_link != '&nbsp' and q_link_url and q_link_url != '&nbsp' %}
        <a class="collection-quiz-link" href="{{ q_link_url }}">Take a quiz</a>
    {% endif %}
</section>