<div id="countdown-bar" data-countdown-end="{{ section.settings.countdown_date }}">
  <div class="bar">
    {% if section.settings.countdown_link != blank %}
      <a href="{{ section.settings.countdown_link }}" class="bar__link">
    {% endif %}
      <span class="bar__text left">
        {{ section.settings.countdown_text | strip_html }}
      </span>
      <span id="countdown-time" class="bar__text right"></span>
    {% if section.settings.countdown_link != blank %}
      </a>
    {% endif %}
  </div>
</div>
