<!-- Begin Geo Plugin -->
<script>
  var pid, c_code;
  
  function callAjax(url, callback){
    var xmlhttp;
    // compatible with IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function(){
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
        callback(xmlhttp.responseText);
      }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
  }

  if (sessionStorage.getItem("pid")) {
    // load the PID into the variable, if found
    window.pid = sessionStorage.getItem("pid");
    window.c_code = sessionStorage.getItem("c_code");
  }
  else{
    callAjax("https://extreme-ip-lookup.com/json/", function(data) {
      var country_code = JSON.parse(data).countryCode;
      window.c_code = country_code;

      // we update the country code if we detect
      switch (country_code){
        case "JP":
        case "IN":
        case "PH":
          // add more country-codes
          window.pid = 37313; // partner id for apac
          break;

        case "DE":
        case "FR":
        case "IT":
        case "ES":
        case "PT":
        case "CH":
        case "AT":
        case "DK":
        case "PL":
        case "CZ":
        case "SE":
        case "FI":
        case "NO":
          // add more country-codes
          window.pid = 36599; // partner id for Europe
          break;

        default:
          window.pid = 33309; //default value, if we miss a country we will fall back to US.
          break;

      }
      sessionStorage.setItem("pid", window.pid);
      sessionStorage.setItem("c_code", window.c_code);
    });

  }
</script>
<!-- End Geo Plugin -->

<!-- Begin Criteo OneTag -->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
  var site_type = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
  window.criteo_q = window.criteo_q || [];
  window.criteo_q.push(
    { event: "setAccount", account: 36645 },
    { event: "setSiteType", type: site_type},
    { event: "setEmail", email: "{{customer.email | remove: " " | strip_newlines | downcase | md5}}"});
</script>
{% case template.name %}
  {% when 'index' %}
    <script type="text/javascript">
      window.criteo_q.push(
        { event: "viewHome", ecpplugin: "shopify"}
      );
    </script>
  {% when 'collection' %}
    <script>
      var criteo_items = [];
      {% for item in collection.products limit:3 %}
        criteo_items.push("{{item.id}}");
      {% endfor %}
        window.criteo_q.push(
          { event: "viewList", ecpplugin: "shopify", product: criteo_items}
        );
    </script>
  {% when 'product' %}
    <script type="text/javascript">
      window.criteo_q.push(
        { event: "viewItem", ecpplugin: "shopify", product: "{{ product.id }}" }
      );
    </script>
  {% when 'cart' %}
    <script>
      var criteo_items = [];
      {% for item in cart.items %}
        criteo_items.push({
          id : "{{item.product.id}}",
          price : {{item.price | money_without_currency | replace: ',' , '.' }},
          quantity : {{item.quantity}}
        });
      {% endfor %}
      window.criteo_q.push(
        { event: "viewBasket", ecpplugin: "shopify", product: criteo_items}
      );
    </script>
{% endcase %}
<!-- End Criteo OneTag -->