{% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
    {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,google_pay,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}
    {% assign icon_sufix = 'icon-' %}
    {% if section.settings.payment_colored_icons %}
        {% assign icon_sufix = 'icon-c-' %}
    {% endif %}
        <ul class="inline-list payment-icons {% if desktop == 'false' %} d-md-flex justify-content-between d-none flex-wrap {% else %} d-block d-md-none text-center {% endif %}">
            {% for type in shop.enabled_payment_types %}
                {% if payment_icons_available contains type %}
                    <li class="payment-icon">
                        {%- assign icon_name = type | prepend: icon_sufix -%}
                        {% include icon_name %}
                        <span class="icon__fallback-text">{{ type | replace: '_', ' ' }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endunless %}
{% endif %}
