<div class="footer__logo-social">
  {% if block.settings.logo %}
    <style>
      .footer__logo a {
        height: {{ block.settings.desktop_logo_height }}px;
      }
    </style>
    {%- assign footer_logo_size = block.settings.desktop_logo_height | prepend: 'x' -%}
    
  {% endif %}
  <div class="footer__form">
    <div class="footer__form-title">Get the good deal</div>
    {% form 'customer', id: 'newsletter-footer' %}
          {% if form.posted_successfully? %}
            <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
          {% endif %}
          {% if form.context == 'footer' %}
            {% if form.errors %}
              {{ form.errors | default_errors }}
            {% endif %}
          {% endif %}
          <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <input type="hidden" name="contact[tags]" value="prospect,newsletter">
          <input type="hidden" name="contact[context]" value="footer">
          <div class="footer__newsletter">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}"  name="contact[email]" id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off">
            {% include 'icon-email' %}
            <button type="submit" class="footer__newsletter-btn" name="commit">
              <svg width="19" height="8" viewBox="0 0 19 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464465C14.9763 0.269203 14.6597 0.269203 14.4645 0.464465C14.2692 0.659727 14.2692 0.976309 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.73079 14.9763 7.73079 15.1716 7.53553L18.3536 4.35355ZM4.37114e-08 4.5L18 4.5L18 3.5L-4.37114e-08 3.5L4.37114e-08 4.5Z" fill="white"/>
              </svg>
            </button>
          </div>
    {% endform %}
    <p>Sign up for marketing emails and find out when we’re launching new products.</p>
  </div>
  <div class="footer__contacts">
    <div class="footer__form-title">Let’s stay in touch</div>
    <div class="footer__contacts-social">
      <a href="#"><svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.69874 0.003121L5.77991 0C3.62416 0 2.23102 1.44892 2.23102 3.69152V5.39356H0.301719C0.135004 5.39356 0 5.53057 0 5.69957V8.16563C0 8.33463 0.135158 8.47149 0.301719 8.47149H2.23102V14.6941C2.23102 14.8631 2.36603 15 2.53274 15H5.04993C5.21665 15 5.35165 14.863 5.35165 14.6941V8.47149H7.60746C7.77417 8.47149 7.90918 8.33463 7.90918 8.16563L7.9101 5.69957C7.9101 5.61843 7.87824 5.54071 7.82174 5.48329C7.76525 5.42586 7.68828 5.39356 7.60823 5.39356H5.35165V3.95072C5.35165 3.25723 5.51467 2.90518 6.40582 2.90518L7.69844 2.90472C7.865 2.90472 8 2.7677 8 2.59886V0.308979C8 0.140289 7.86515 0.0034331 7.69874 0.003121Z" fill="white"/>
      </svg>
      </a>
      <a href="#"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.68836 0H3.3115C1.48554 0 0 1.48561 0 3.31157V8.68843C0 10.5145 1.48554 12 3.3115 12H8.68836C10.5145 12 12 10.5144 12 8.68843V3.31157C12.0001 1.48561 10.5145 0 8.68836 0ZM10.9354 8.68843C10.9354 9.92739 9.92739 10.9353 8.68843 10.9353H3.3115C2.07261 10.9354 1.0647 9.92739 1.0647 8.68843V3.31157C1.0647 2.07268 2.07261 1.0647 3.3115 1.0647H8.68836C9.92732 1.0647 10.9353 2.07268 10.9353 3.31157V8.68843H10.9354Z" fill="white"/>
      <path d="M5.99932 2.9082C4.29432 2.9082 2.90723 4.29529 2.90723 6.0003C2.90723 7.70524 4.29432 9.09225 5.99932 9.09225C7.70433 9.09225 9.09142 7.70524 9.09142 6.0003C9.09142 4.29529 7.70433 2.9082 5.99932 2.9082ZM5.99932 8.02748C4.88146 8.02748 3.97192 7.11809 3.97192 6.00023C3.97192 4.8823 4.88139 3.97283 5.99932 3.97283C7.11726 3.97283 8.02672 4.8823 8.02672 6.00023C8.02672 7.11809 7.11719 8.02748 5.99932 8.02748Z" fill="white"/>
      <path d="M9.22121 2.00537C9.01608 2.00537 8.81456 2.08842 8.66969 2.23393C8.52412 2.37873 8.44043 2.58031 8.44043 2.78615C8.44043 2.99135 8.52419 3.19286 8.66969 3.33837C8.81449 3.48317 9.01608 3.56693 9.22121 3.56693C9.42705 3.56693 9.62792 3.48317 9.77343 3.33837C9.91894 3.19286 10.002 2.99128 10.002 2.78615C10.002 2.58031 9.91894 2.37873 9.77343 2.23393C9.62863 2.08842 9.42705 2.00537 9.22121 2.00537Z" fill="white"/>
      </svg>
      </a>
    </div>
    <div class="footer__contacts-help">
      <p>Need help?</p>
      <p>
        Email an expert at <a href="mailto:hello@aromahigh.com">hello@aromahigh.com</a> <br>
        or call/text us at <a href="tel:+1 844-534-1121">+1 844-534-1121</a>
      </p>
    </div>
  </div>

  <ul class="no-bullets footer__social">
    {% if settings.social_facebook_link != blank %}
      <li>
        <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          {% include 'icon-facebook' %}
          <span class="icon__fallback-text">Facebook</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_twitter_link != blank %}
      <li>
        <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          {% include 'icon-twitter' %}
          <span class="icon__fallback-text">Twitter</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
      <li>
        <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          {% include 'icon-pinterest' %}
          <span class="icon__fallback-text">Pinterest</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
      <li>
        <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          {% include 'icon-instagram' %}
          <span class="icon__fallback-text">Instagram</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_snapchat_link != blank %}
      <li>
        <a href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          {% include 'icon-snapchat' %}
          <span class="icon__fallback-text">Snapchat</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
      <li>
        <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          {% include 'icon-tumblr' %}
          <span class="icon__fallback-text">Tumblr</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_linkedin_link != blank %}
      <li>
        <a href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
          {% include 'icon-linkedin' %}
          <span class="icon__fallback-text">LinkedIn</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
      <li>
        <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          {% include 'icon-youtube' %}
          <span class="icon__fallback-text">YouTube</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
      <li>
        <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          {% include 'icon-vimeo' %}
          <span class="icon__fallback-text">Vimeo</span>
        </a>
      </li>
    {% endif %}
  </ul>

</div>
<script>
    jQuery(document).ready(function ($) {
        if ($('form#newsletter-footer .errors').length > 0){
            $(window).scrollTop($('form#newsletter-footer .errors').offset().top);
        }
        $('form#newsletter-footer').submit(function () {
            if ($('.footer__newsletter-input').val() == ''){
                $('form#newsletter-footer .errors').remove();
                $('form#newsletter-footer').prepend('<div class="errors"><ul><li>Email can\'t be blank.</li></ul></div>');
                return false;
            }else{
                $('form#newsletter-footer .errors').remove();
            }
        });
    });
</script>
