{% if template == 'index' %}
{% else %}
<div class="page-width text-" id="instagram-container">
 <div id="foursixty-hideable-container" class="foursixty-wrap" style="display:none">
   <h2 class="rox-demibold">See It Styled On Instagram</h2>
   <h3><a href="http://instagram.com/explore/tags/filippoloretiwatches/" target="_blank">#aromahighoils</a></h3>
   <script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-has-posts-selector="#foursixty-hideable-container" data-feed-id="filippo-loreti" data-theme="slider_v2_5" data-cell-size="16.66666%" data-for-url="true"></script>
 </div>
</div>
{% endif %}