<section class="absolute_image_text">
	<div class="bg_coloro_absolute_image_text">
		{% capture image_layout %}
		<div class="image_absolute_block image_{{ image_position }}">
		<a href="{% if url_collection_men contains 'collections' %}{{url_collection_men}}{% elsif url_collection_women contains 'collections' %}{{url_collection_women}} {% endif %}" class="image_url_button">
			<div class="inner_image_absolute_block">
				<img src="{{ image }}" class="image_absolute_block_inner" alt="" style=" min-height: {{ image_height }}px;">
			</div>
		</a>
		</div>
		{% endcapture %}
		{% if image_position == 'left' %}
		  {{ image_layout }}
		{% endif %}
		<div class="content_absolute_block block_{{ image_position }}">
			<div class="inner_absolute_block_content">
				<div class="inner_content_absolute_block">
					{% if sup_title %}
			          <p class="subtitle">{{ sup_title }}</p>
			        {% endif %}
			        {% if title %}
			          <h2 class="h3">{{ title | newline_to_br }}</h2>
			        {% endif %}
			        {% if description %}
			          <div class="rte featured-row__subtext"><p>{{ description }}</p></div>
			        {% endif %}
			        {% if link %}
			          <a href="{% if url_collection_men contains 'collections' %}{{url_collection_men}}{% elsif url_collection_women contains 'collections' %}{{url_collection_women}} {% endif %}" class="btn">
			            {{ link }}
			          </a>
			        {% endif %}	
		        </div>
	        </div>
		</div>
		{% if image_position == 'right' %}
		  {{ image_layout }}
		{% endif %}
		<div class="clearfix"></div>
	</div>
</section>
