{% if template == 'collection.gem-1569957102-template' %}
    <script data-instant-track type="text/javascript">    var pageLibs = ["https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv1countdown.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv3product.js", '{{ 'gem-page-collection-1569957102.js' | asset_url }}',];</script>{% endif %}{% if page.id == 42937778261 %}
    <script data-instant-track type="text/javascript">    var pageLibs = ['{{ 'gem-page-42937778261.js' | asset_url }}',];</script>{% endif %}{% if page.id == 43729485909 %}
    <script data-instant-track type="text/javascript">    var pageLibs = ['{{ 'gem-page-43729485909.js' | asset_url }}',];</script>{% endif %}{% if page.id == 46938030165 %}
    <script data-instant-track type="text/javascript">    var pageLibs = ["https://gempagesv5.s3-ap-southeast-1.amazonaws.com/libs/js/gfv1countdown.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/owl.carousel.min.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv3product.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv1stockcounter.js", "https://gempagesv5.s3-ap-southeast-1.amazonaws.com/libs/js/jquery.waypoints.min.js", "https://gempagesv5.s3-ap-southeast-1.amazonaws.com/libs/js/jquery.counterup.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv1mailchimp.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfaccordion.js", '{{ 'gem-page-46938030165.js' | asset_url }}',];</script>{% endif %}{% if page.id == 46738800725 %}
    <script data-instant-track type="text/javascript">    var pageLibs = ["https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv1countdown.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/owl.carousel.min.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv3product.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfsocialshare.js", '{{ 'gem-page-46738800725.js' | asset_url }}',];</script>{% endif %}{% if page.id == 47063760981 %}
    <script data-instant-track type="text/javascript">    var pageLibs = ["https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv1mailchimp.js", "https://d1um8515vdn9kb.cloudfront.net/libs/js/gfv3product.js", '{{ 'gem-page-47063760981.js' | asset_url }}',];</script>{% endif %}{% capture gemFooterScripts %}
    <script data-instant-track type="text/javascript" src="https://www.youtube.com/player_api" class="gf-script" defer="defer"></script>
    <script data-instant-track type="text/javascript">    var GEMVENDOR = GEMVENDOR || (function () {
			var _js = {};
			return {
				init: function (Args) {
					_js = Args;
				}, getLibs: function () {
					return _js;
				}
			};
		}());
		GEMVENDOR.init(pageLibs);</script>
    <script data-instant-track type="text/javascript" src="https://d1um8515vdn9kb.cloudfront.net/files/gempagev1.js?v=1.0" class="gf-script" defer></script>{% endcapture %}{% assign gemHandleCheck = '42937778261, 43729485909, 46938030165, 46738800725, 47063760981' | split: ", " %}{% for h in gemHandleCheck %}{% assign idVal = h | plus:0 %}{% if page.id == idVal %}{{ gemFooterScripts }}{% endif %}{% endfor %}{% assign gemHandleCheck = 'collection.gem-1569957102-template, collection.gem-1569956884-template, index.gem-1570013395-template, product.gem-1570043684-template' | split: ", " %}{% for h in gemHandleCheck %}{% if template == h %}{{ gemFooterScripts }}{% endif %}{% endfor %}
