{% assign separator = "###" %}
{% if mobm and mobm != blank %}
    {% assign mobm_namespaces = mobm | split: separator %}
    {% for namespace in mobm_namespaces %}
      {% assign custom_object = shop.metafields[namespace] %}
      {% comment %}TOP COLLECTIONS{% endcomment %}
      {% assign nav_mobc = custom_object['nav_mobc'] %}
      {% if nav_mobc and nav_mobc != blank %}
        {% assign nav_mobc_childs_keys = nav_mobc | split: separator %}
        <ul class="main-header__models-list">
          {% for nav_mobc_child_key in nav_mobc_childs_keys %}

            {% if nav_mobc_child_key contains "pick_mc" %}
              {% assign mob_col_line = custom_object[nav_mobc_child_key] %}
              {% if mob_col_line and mob_col_line != blank and mob_col_line != '&nbsp' %}
                {% assign mob_col_handles = mob_col_line | split: separator %}
                {% for handle in mob_col_handles %}
                  {% assign related_collection = collections[handle] %}
                  {% unless related_collection.empty? %}
                    {% if forloop.first %}
                      {% assign mc_url = related_collection.url %}
                      {% assign mc_title = related_collection.title %}
                    {% endif %}
                  {% endunless %}
                {% endfor %}
              {% endif %}
            {% endif %}

            {% if nav_mobc_child_key contains "pick_mcs" %}
              {% assign mob_col_line = custom_object[nav_mobc_child_key] %}
              {% if mob_col_line and mob_col_line != blank and mob_col_line != '&nbsp' %}
                {% assign mob_col_handles = mob_col_line | split: separator %}
                {% for handle in mob_col_handles %}
                  {% assign related_collection = collections[handle] %}
                  {% unless related_collection.empty? %}
                    {% if forloop.first %}
                      {% assign mc_url = related_collection.url %}
                      {% assign mc_title = related_collection.title %}
                    {% endif %}
                  {% endunless %}
                {% endfor %}
              {% endif %}
            {% endif %}

            {% if nav_mobc_child_key contains "pick_mimg" %}
              <li>
                <a class="main-header__models-link" href="{{mc_url}}">
                  <span class="main-header__model-title">{{mc_title}}</span>
                  <img class="main-header__model lazyload" src="{{ custom_object[nav_mobc_child_key] }}" alt="{{mc_title}}">
                </a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      {% endif %}
      {% comment %}TOP COLLECTIONS{% endcomment %}

    {% endfor %}
{% endif %}

{% comment %}MAIN COLLECTION{% endcomment %}
{% assign mobmttl = custom_object['mobmttl'] %}
{% assign mobblock = false %}

{% if mobmttl and mobmttl != '&nbsp' %}
  {% assign mobblock = true %}
{% endif %}

{% assign mob_m_lc = custom_object['mob_m_lc'] %}
{% if mob_m_lc and mob_m_lc != '&nbsp' %}
    {% assign mobblock = true %}
{% endif %}

{% assign mob_m_lcs = custom_object['mob_m_lcs'] %}
{% if mob_m_lcs and mob_m_lcs != '&nbsp' %}
  {% assign mobblock = true %}
{% endif %}


{% if mobblock %}
  <div class="main-header__shop-list-wrap">

    {% if mobmttl and mobmttl != '&nbsp' %}
      <b class="main-header__model-title">{{ mobmttl }}</b>
    {% endif %}

    {% assign mob_m_lc = custom_object['mob_m_lc'] %}
    {% if mob_m_lc and mob_m_lc != '&nbsp' %}
      {% assign mob_m_lc_handles = mob_m_lc | split: separator %}
    {% endif %}

    {% assign mob_m_lcs = custom_object['mob_m_lcs'] %}
    {% if mob_m_lcs and mob_m_lcs != '&nbsp' %}
      {% assign mob_m_lcs_handles = mob_m_lcs | split: separator %}
    {% endif %}

    <ul class="main-header__shop-list main-collection">
      {% for handle in mob_m_lc_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title | replace: "WOMEN'S", "" | capitalize }}</a></li>
        {% endunless %}
      {% endfor %}
      {% for handle in mob_m_lcs_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title | capitalize }}</a></li>
        {% endunless %}
      {% endfor %}
    </ul>

    {% assign mob_m_rc = custom_object['mob_m_rc'] %}
    {% if mob_m_rc and mob_m_rc != '&nbsp' %}
      {% assign mob_m_rc_handles = mob_m_rc | split: separator %}
    {% endif %}

    {% assign mob_m_rcs = custom_object['mob_m_rcs'] %}
    {% if mob_m_rcs and mob_m_rcs != '&nbsp' %}
      {% assign mob_m_rcs_handles = mob_m_rcs | split: separator %}
    {% endif %}

    <ul class="main-header__shop-list main-collection">
      {% for handle in mob_m_rc_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a></li>
        {% endunless %}
      {% endfor %}
      {% for handle in mob_m_rcs_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a></li>
        {% endunless %}
      {% endfor %}
    </ul>

  </div>
{% endif %}
{% assign mobblock = false %}

{% comment %}MAIN COLLECTION{% endcomment %}

{% comment %}SECOND COLLECTION{% endcomment %}
{% assign mob_m_sc = custom_object['mob_m_sc'] %}
{% assign mob_m_scs = custom_object['mob_m_scs'] %}
{% assign col_first_true = false %}
{% if mob_m_sc and mob_m_sc != '&nbsp' %}
  {% assign col_first_true = true %}
{% endif %}
{% if mob_m_scs and mob_m_scs != '&nbsp' %}
  {% assign col_first_true = true %}
{% endif %}
{% if col_first_true %}
  <div class="main-header__sort-list-wrap main-header__sort-list-wrap--first">
    {% assign mob_m_st = custom_object['mob_m_st'] %}
    {% if mob_m_st and mob_m_st != '&nbsp' %}
      <b class="main-header__model-title">{{ mob_m_st }}</b>
    {% endif %}
    {% if mob_m_sc and mob_m_sc != '&nbsp' %}
      {% assign mob_m_sc_handles = mob_m_sc | split: separator %}
    {% endif %}
    {% if mob_m_scs and mob_m_scs != '&nbsp' %}
      {% assign mob_m_scs_handles = mob_m_scs | split: separator %}
    {% endif %}
    <ul class="main-header__shop-list">
      {% for handle in mob_m_sc_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a></li>
        {% endunless %}
      {% endfor %}
      {% for handle in mob_m_scs_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a></li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% comment %}SECOND COLLECTION{% endcomment %}

{% comment %}THIRD COLLECTION{% endcomment %}
{% assign mob_m_tc = custom_object['mob_m_tc'] %}
{% assign mob_m_tcs = custom_object['mob_m_tcs'] %}

{% assign col_first_true = false %}
{% if mob_m_tc and mob_m_tc != '&nbsp' %}
  {% assign col_second_true = true %}
{% endif %}
{% if mob_m_tcs and mob_m_tcs != '&nbsp' %}
  {% assign col_second_true = true %}
{% endif %}

{% if col_second_true %}
  <div class="main-header__sort-list-wrap">
    {% assign mob_m_tt = custom_object['mob_m_tt'] %}
    {% if mob_m_tt and mob_m_tt != '&nbsp' %}
      <b class="main-header__model-title">{{ mob_m_tt }}</b>
    {% endif %}
    {% if mob_m_tc and mob_m_tc != '&nbsp' %}
      {% assign mob_m_tc_handles = mob_m_tc | split: separator %}
    {% endif %}
    {% if mob_m_tcs and mob_m_tcs != '&nbsp' %}
      {% assign mob_m_tcs_handles = mob_m_tcs | split: separator %}
    {% endif %}
    <ul class="main-header__shop-list">
      {% for handle in mob_m_tc_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a></li>
        {% endunless %}
      {% endfor %}
      {% for handle in mob_m_tcs_handles %}
        {% assign related_collection = collections[handle] %}
        {% unless related_collection.empty? %}
          <li><a class="main-header__shop-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a></li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% comment %}THIRD COLLECTION{% endcomment %}

{% assign nav_mobc = false %}
{% assign mc_url = false %}
{% assign mc_title = false %}
{% assign mob_col_line = false %}
{% assign mob_col_handles = false %}
{% assign mob_m_sc = false %}
{% assign mob_m_sc_handles = false %}
{% assign mob_m_scs = false %}
{% assign mob_m_scs_handles = false %}
{% assign mob_m_lc = false %}
{% assign mob_m_lc_handles = false %}
{% assign mob_m_lcs = false %}
{% assign mob_m_lcs_handles = false %}
{% assign mob_m_rc = false %}
{% assign mob_m_rc_handles = false %}
{% assign mob_m_rcs = false %}
{% assign mob_m_rcs_handles = false %}
{% assign mob_m_tc = false %}
{% assign mob_m_tc_handles = false %}
{% assign mob_m_tcs = false %}
{% assign mob_m_tcs_handles = false %}
