{% assign women_menu = shop.metafields.airf.women_menu %}
{% if women_menu and women_menu != blank %}
  {% assign separator = "###" %}
  {% assign namespaces = women_menu | split: separator %}
  {% assign gender = 'women' %}

  {% include 'header-nav-dropdown' %}

{% endif %}