{% for namespace in namespaces %}
  {% assign custom_object = shop.metafields[namespace] %}
  {% assign hdp_panel = custom_object['hdp_panel'] %}

  {% if hdp_panel and hdp_panel != blank %}
    {% assign separator = "###" %}
    {% assign hdp_panel_childs_keys = hdp_panel | split: separator %}
      {% for hdp_panel_child_key in hdp_panel_childs_keys %}
            
        {% if hdp_panel_child_key contains "hdp_title" %}
          {% comment %}open tab wrapper div{% endcomment %}
          {% if forloop.first == true %}
            {% comment %}<div id="{{gender}}-{{forloop.index}}" class="tab-wrap">{% endcomment %}
          {% else %}
            {% comment %}</div><div id="{{gender}}-{{forloop.index}}" class="tab-wrap">{% endcomment %}
          {% endif %}
        {% endif %}

        {% comment %}COLLECTION 1{% endcomment %}

        {% comment %}TITLE{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_t_1" %}
          {% assign fc_t_1 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SIMPLE COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_c_1" %}
          {% assign hdpsub_c_1 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SMART COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsubcs_1" %}
          {% assign hdpsubcs_1 = custom_object[hdp_panel_child_key] %}
        {% endif %}
        {% comment %}COLLECTION 1{% endcomment %}

        {% comment %}COLLECTION 2{% endcomment %}

        {% comment %}TITLE{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_t_2" %}
          {% assign fc_t_2 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SIMPLE COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_c_2" %}
          {% assign hdpsub_c_2 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SMART COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsubcs_2" %}
          {% assign hdpsubcs_2 = custom_object[hdp_panel_child_key] %}
        {% endif %}
        {% comment %}COLLECTION 2{% endcomment %}

        {% comment %}COLLECTION 3{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_t_3" %}
          {% assign fc_t_3 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SIMPLE COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_c_3" %}
          {% assign hdpsub_c_3 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SMART COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsubcs_3" %}
          {% assign hdpsubcs_3 = custom_object[hdp_panel_child_key] %}
        {% endif %}
        {% comment %}COLLECTION 3{% endcomment %}

        {% comment %}COLLECTION 4{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_t_4" %}
          {% assign fc_t_4 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SIMPLE COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_c_4" %}
          {% assign hdpsub_c_4 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SMART COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsubcs_4" %}
          {% assign hdpsubcs_4 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}COLLECTION 5{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_t_5" %}
          {% assign fc_t_5 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SIMPLE COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsub_c_5" %}
          {% assign hdpsub_c_5 = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% comment %}SMART COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdpsubcs_5" %}
          {% assign hdpsubcs_5 = custom_object[hdp_panel_child_key] %}
        {% endif %}
        {% comment %}COLLECTION 5{% endcomment %}

        {% comment %}FEATURED START{% endcomment %}
        {% if hdp_panel_child_key contains "hdp_f_t" %}
          {% assign f_t = custom_object[hdp_panel_child_key] %}
        {% endif %}

        {% if hdp_panel_child_key contains "hdp_feat" %}
          {% assign hdp_feat = custom_object[hdp_panel_child_key] %}
          {% if hdp_feat and hdp_feat != blank and hdp_feat != '&nbsp' %}
            {% assign separator = "###" %}
            {% assign hdp_feat_related_handles = hdp_feat | split: separator %}
            {% for handle in hdp_feat_related_handles %}
              {% assign related_collection = collections[handle] %}
              {% unless related_collection.empty? %}
                {% if forloop.first %}
                  {% assign fc_url = related_collection.url %}
                  {% assign fc_title = related_collection.title %}
                {% endif %}
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endif %}

        {% comment %}SMART COLLECTION{% endcomment %}
        {% if hdp_panel_child_key contains "hdp_feats" %}
          {% assign hdp_feat = custom_object[hdp_panel_child_key] %}
          {% if hdp_feat and hdp_feat != blank and hdp_feat != '&nbsp' %}
            {% assign separator = "###" %}
            {% assign hdp_feat_related_handles = hdp_feat | split: separator %}
            {% for handle in hdp_feat_related_handles %}
              {% assign related_collection = collections[handle] %}
              {% unless related_collection.empty? %}
                {% if forloop.first %}
                  {% assign fc_url = related_collection.url %}
                  {% assign fc_title = related_collection.title %}
                {% endif %}
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endif %}

        {% if hdp_panel_child_key contains "hdp_fc_img" %}
          {% if custom_object[hdp_panel_child_key] != blank and custom_object[hdp_panel_child_key] != '&nbsp' %}
            {% assign fc_img = custom_object[hdp_panel_child_key] %}
          {% endif %} 
        {% endif %}

        {% if hdp_panel_child_key contains "hdp_fc_ttl" %}
          {% if custom_object[hdp_panel_child_key] != blank and custom_object[hdp_panel_child_key] != '&nbsp' %}
            {% assign fc_ttl = custom_object[hdp_panel_child_key] %}
          {% endif %}
        {% endif %}

        {% if hdp_panel_child_key contains "hdp_fc_txt" %}
          {% if custom_object[hdp_panel_child_key] != blank and custom_object[hdp_panel_child_key] != '&nbsp' %}
            {% assign fc_txt = custom_object[hdp_panel_child_key] %}
          {% endif %}
        {% endif %}

        {% if hdp_panel_child_key contains "hdp_fc_lnk" %}
          {% if custom_object[hdp_panel_child_key] != blank and custom_object[hdp_panel_child_key] != '&nbsp' %}
            {% assign fc_link = custom_object[hdp_panel_child_key] %}
          {% endif %}  
        {% endif %}

        {% if forloop.last == true %}
          {% comment %}{% assign fc_img = '' %}
          {% assign fc_url = '' %}{% endcomment %}
        {% endif %}

        {% comment %}FEATURED END{% endcomment %}

      {% endfor %}
  {% endif %}

{% endfor %}

<div id="{{gender}}-1" class="tab-wrap">
  {% comment %}COMBINED COLLECTION 1 START{% endcomment %}
  {% if hdpsub_c_1 or hdpsubcs_1 %}
    {% assign all_handles = hdpsub_c_1 | append: '###' | append: hdpsubcs_1 %}
    {% if all_handles and all_handles != blank and all_handles != '&nbsp' %}
      {% assign handles = all_handles | split: separator %}
      {% include 'nav-list-walker', handles: handles, block_title: fc_t_1 %}
    {% endif %}
    {% assign hdpsub_c_1 = false %}
    {% assign hdpsubcs_1 = false %}
    {% assign all_handles = false %}
    {% assign handles = false %}
  {% endif %}
  {% comment %}COMBINED COLLECTION 1 END{% endcomment %}

  {% if hdpsub_c_2 or hdpsubcs_2 or hdpsub_c_3 or hdpsubcs_3 %}
    {% assign opend_div = true %}
    <div class="main-header__tab-list-wrap">
  {% endif %}

  {% comment %}COMBINED COLLECTION 2 START{% endcomment %}
  {% if hdpsub_c_2 or hdpsubcs_2 %}
    {% assign all_handles = hdpsub_c_2 | append: '###' | append: hdpsubcs_2 %}
    {% if all_handles and all_handles != blank and all_handles != '&nbsp' %}
      {% assign handles = all_handles | split: separator %}
      {% include 'nav-list-walker', handles: handles, block_title: fc_t_2, double: true %}
    {% endif %}
    {% assign hdpsub_c_2 = false %}
    {% assign hdpsubcs_2 = false %}
    {% assign all_handles = false %}
    {% assign handles = false %}
  {% endif %}
  {% comment %}COMBINED COLLECTION 2 END{% endcomment %}

  {% comment %}COMBINED COLLECTION 3 START{% endcomment %}
  {% if hdpsub_c_3 or hdpsubcs_3 %}
    {% assign all_handles = hdpsub_c_3 | append: '###' | append: hdpsubcs_3 %}
    {% if all_handles and all_handles != blank and all_handles != '&nbsp' %}
      {% assign handles = all_handles | split: separator %}
      {% include 'nav-list-walker', handles: handles, block_title: fc_t_3, double: true %}
    {% endif %}
    {% assign hdpsub_c_3 = false %}
    {% assign hdpsubcs_3 = false %}
    {% assign all_handles = false %}
    {% assign handles = false %}
  {% endif %}
  {% comment %}COMBINED COLLECTION 3 END{% endcomment %}
  
  {% if opend_div %}
    </div>
    {% assign opend_div = false %}
  {% endif %}

  {% comment %}COMBINED COLLECTION 4 START{% endcomment %}
  {% if hdpsub_c_4 or hdpsubcs_4 %}
    {% assign all_handles = hdpsub_c_4 | append: '###' | append: hdpsubcs_4 %}
    {% if all_handles and all_handles != blank and all_handles != '&nbsp' %}
      {% assign handles = all_handles | split: separator %}
      {% include 'nav-list-walker', handles: handles, block_title: fc_t_4 %}
    {% endif %}
    {% assign hdpsub_c_4 = false %}
    {% assign hdpsubcs_4 = false %}
    {% assign all_handles = false %}
    {% assign handles = false %}
  {% endif %}
  {% comment %}COMBINED COLLECTION 4 END{% endcomment %}

  {% comment %}COMBINED COLLECTION 5 START{% endcomment %}
  {% if hdpsub_c_5 or hdpsubcs_5 %}
    {% assign all_handles = hdpsub_c_5 | append: '###' | append: hdpsubcs_5 %}
    {% if all_handles and all_handles != blank and all_handles != '&nbsp' %}
      {% assign handles = all_handles | split: separator %}
      {% include 'nav-list-walker', handles: handles, block_title: fc_t_5 %}
    {% endif %}
    {% assign hdpsub_c_5 = false %}
    {% assign hdpsubcs_5 = false %}
    {% assign all_handles = false %}
    {% assign handles = false %}
  {% endif %}
  {% comment %}COMBINED COLLECTION 5 END{% endcomment %}

  {% comment %}FEATURED COLLECTION START{% endcomment %}
  {% if fc_url %}
    <div class="main-header__tab-list-wrap featured">
      {% if f_t != blank %}
        <b class="main-header__tab-list-title">{{ f_t }}</b>
      {% endif %}
      {% if fc_img %}
        <div>
          <a href="{{fc_url}}">
            <img class="main-header__tab-featured-img lazyload" src="{{ fc_img }}" alt="{{ fc_title }}">
          </a>
        </div>
      {% endif %}
      {% if fc_ttl != blank %}
        <a href="{{fc_url}}">
          <h4 class="main-header__tab-featured-title">{{ fc_ttl }}</h4>
        </a>
      {% endif %}
      {% if fc_txt != blank %}
        <a href="{{fc_url}}">
          <p class="main-header__tab-featured-descr">{{ fc_txt }}</p>
        </a>
      {% endif %}
      {% if fc_link != blank %}
        <a class="main-header__tab-featured-link" href="{{fc_url}}">{{fc_link}}</a>
      {% endif %}
    </div>
    {% assign fc_url = false %}
    {% assign fc_title = false %}
    {% assign f_t = false %}
    {% assign fc_img = false %}
    {% assign fc_ttl = false %}
    {% assign fc_link = false %}
    
  {% endif %}
  {% comment %}FEATURED COLLECTION END{% endcomment %}


</div>
