{% assign hdp_panel = shop.metafields.airf.hdp_panel %}
{% if hdp_panel and hdp_panel != blank and hdp_panel != '&nbsp' %}
  {% assign separator = "###" %}
  {% assign hdp_panel_childs_keys = hdp_panel | split: separator %}
    {% for hdp_panel_child_key in hdp_panel_childs_keys %}
          
      {% if hdp_panel_child_key contains "hdp_title" %}
        {% comment %}open tab wrapper div{% endcomment %}
        {% if forloop.first == true %}
          <div id="men-{{forloop.index}}" class="tab-wrap">
          {% comment %}test-{{forloop.index}}{% endcomment %}
        {% else %}
          </div><div id="men-{{forloop.index}}" class="tab-wrap">
            {% comment %}test-{{forloop.index}}{% endcomment %}
        {% endif %}
      {% endif %}

      {% comment %}COLLECTION 1{% endcomment %}
      {% if hdp_panel_child_key contains "hdpsub_t_1" %}
        {% assign fc_t_1 = shop.metafields.airf[hdp_panel_child_key] %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdpsub_c_1" %}
        {% assign hdpsub_c_1 = shop.metafields.airf[hdp_panel_child_key] %}
        {% if hdpsub_c_1 and hdpsub_c_1 != blank and hdpsub_c_1 != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign hdpsub_c_1_related_handles = hdpsub_c_1 | split: separator %}
          <div class="main-header__tab-list-wrap">
            <b class="main-header__tab-list-title">{{ fc_t_1 }}</b>
            <ul class="main-header__tab-list">
              {% for handle in hdpsub_c_1_related_handles %}
              
                {% assign related_collection = collections[handle] %}
                {% unless related_collection.empty? %}
                  <li>
                    <a class="main-header__tab-list-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
      {% comment %}COLLECTION 1{% endcomment %}

      {% comment %}COLLECTION 2{% endcomment %}
      {% if hdp_panel_child_key contains "hdpsub_t_2" %}
        {% assign fc_t_2 = shop.metafields.airf[hdp_panel_child_key] %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdpsub_c_2" %}
        {% assign hdpsub_c_2 = shop.metafields.airf[hdp_panel_child_key] %}
        {% if hdpsub_c_2 and hdpsub_c_2 != blank and hdpsub_c_2 != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign hdpsub_c_2_related_handles = hdpsub_c_2 | split: separator %}
          <div class="main-header__tab-list-wrap__double--col first">
            <b class="main-header__tab-list-title">{{ fc_t_2 }}</b>
            <ul class="main-header__tab-list">
              {% for handle in hdpsub_c_2_related_handles %}
              
                {% assign related_collection = collections[handle] %}
                {% unless related_collection.empty? %}
                  <li>
                    <a class="main-header__tab-list-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
      {% comment %}COLLECTION 2{% endcomment %}

      {% comment %}COLLECTION 3{% endcomment %}
      {% if hdp_panel_child_key contains "hdpsub_t_3" %}
        {% assign fc_t_3 = shop.metafields.airf[hdp_panel_child_key] %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdpsub_c_3" %}
        {% assign hdpsub_c_3 = shop.metafields.airf[hdp_panel_child_key] %}
        {% if hdpsub_c_3 and hdpsub_c_3 != blank and hdpsub_c_3 != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign hdpsub_c_3_related_handles = hdpsub_c_3 | split: separator %}
          <div class="main-header__tab-list-wrap__double--col">
            <b class="main-header__tab-list-title">{{ fc_t_3 }}</b>
            <ul class="main-header__tab-list">
              {% for handle in hdpsub_c_3_related_handles %}
              
                {% assign related_collection = collections[handle] %}
                {% unless related_collection.empty? %}
                  <li>
                    <a class="main-header__tab-list-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
      {% comment %}COLLECTION 3{% endcomment %}

      {% comment %}COLLECTION 4{% endcomment %}
      {% if hdp_panel_child_key contains "hdpsub_t_4" %}
        {% assign fc_t_4 = shop.metafields.airf[hdp_panel_child_key] %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdpsub_c_4" %}
        {% assign hdpsub_c_4 = shop.metafields.airf[hdp_panel_child_key] %}
        {% if hdpsub_c_4 and hdpsub_c_4 != blank and hdpsub_c_4 != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign hdpsub_c_4_related_handles = hdpsub_c_4 | split: separator %}
          <div class="main-header__tab-list-wrap">
            <b class="main-header__tab-list-title">{{ fc_t_4 }}</b>
            <ul class="main-header__tab-list">
              {% for handle in hdpsub_c_4_related_handles %}
              
                {% assign related_collection = collections[handle] %}
                {% unless related_collection.empty? %}
                  <li>
                    <a class="main-header__tab-list-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
      {% comment %}COLLECTION 4{% endcomment %}

      {% comment %}COLLECTION 5{% endcomment %}
      {% if hdp_panel_child_key contains "hdpsub_t_5" %}
        {% assign fc_t_5 = shop.metafields.airf[hdp_panel_child_key] %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdpsub_c_5" %}
        {% assign hdpsub_c_5 = shop.metafields.airf[hdp_panel_child_key] %}
        {% if hdpsub_c_5 and hdpsub_c_5 != blank and hdpsub_c_5 != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign hdpsub_c_5_related_handles = hdpsub_c_5 | split: separator %}
          <div class="main-header__tab-list-wrap">
            <b class="main-header__tab-list-title">{{ fc_t_5 }}</b>
            <ul class="main-header__tab-list">
              {% for handle in hdpsub_c_5_related_handles %}
              
                {% assign related_collection = collections[handle] %}
                {% unless related_collection.empty? %}
                  <li>
                    <a class="main-header__tab-list-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
      {% comment %}COLLECTION 5{% endcomment %}

      {% comment %}FEATURED START{% endcomment %}
      {% if hdp_panel_child_key contains "hdp_f_t" %}
        {% assign f_t = shop.metafields.airf[hdp_panel_child_key] %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdp_feat" %}
        {% assign hdp_feat = shop.metafields.airf[hdp_panel_child_key] %}
        {% if hdp_feat and hdp_feat != blank and hdp_feat != '&nbsp' %}
          {% assign separator = "###" %}
          {% assign hdp_feat_related_handles = hdp_feat | split: separator %}
          {% for handle in hdp_feat_related_handles %}
            {% assign related_collection = collections[handle] %}
            {% unless related_collection.empty? %}
              {% if forloop.first %}
                {% assign fc_url = related_collection.url %}
                {% assign fc_title = related_collection.title %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        {% endif %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdp_fc_img" %}
        {% if shop.metafields.airf[hdp_panel_child_key] != blank and shop.metafields.airf[hdp_panel_child_key] != '&nbsp' %}
          {% assign fc_img = shop.metafields.airf[hdp_panel_child_key] %}
        {% endif %} 
      {% endif %}

      {% if hdp_panel_child_key contains "hdp_fc_ttl" %}
        {% if shop.metafields.airf[hdp_panel_child_key] != blank and shop.metafields.airf[hdp_panel_child_key] != '&nbsp' %}
          {% assign fc_ttl = shop.metafields.airf[hdp_panel_child_key] %}
        {% endif %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdp_fc_txt" %}
        {% if shop.metafields.airf[hdp_panel_child_key] != blank and shop.metafields.airf[hdp_panel_child_key] != '&nbsp' %}
          {% assign fc_txt = shop.metafields.airf[hdp_panel_child_key] %}
        {% endif %}
      {% endif %}

      {% if hdp_panel_child_key contains "hdp_fc_lnk" and fc_img != blank and fc_url != blank %}
        {% if shop.metafields.airf[hdp_panel_child_key] != blank and shop.metafields.airf[hdp_panel_child_key] != '&nbsp' %}
          {% assign fc_lnk = shop.metafields.airf[hdp_panel_child_key] %}
          <div class="main-header__tab-list-wrap featured">
            {% if f_t != blank %}
              <b class="main-header__tab-list-title">{{ f_t }}</b>
            {% endif %}
            <div>
              <a href="{{fc_url}}">
                <img class="main-header__tab-featured-img lazyload" src="{{ fc_img }}" alt="{{ fc_title }}">
              </a>
            </div>
            {% if fc_ttl != blank %}
              <a href="{{fc_url}}">
                <h4 class="main-header__tab-featured-title">{{ fc_ttl }}</h4>
              </a>
            {% endif %}
            {% if fc_txt != blank %}
              <a href="{{fc_url}}">
                <p class="main-header__tab-featured-descr">{{ fc_txt }}</p>
              </a>
            {% endif %}
            <a class="main-header__tab-featured-link" href="#">{{fc_lnk}}</a>
          </div>
        {% endif %}  
      {% endif %}

      {% if forloop.last == true %}
        </div> {% comment %}close tab wrapper div {% endcomment %}
        {% assign fc_img = '' %}
        {% assign fc_url = '' %}
      {% endif %}

      {% comment %}FEATURED END{% endcomment %}

    {% endfor %}
  </div>
{% endif %}
