{% assign men_menu = shop.metafields.airf.men_menu %}
{% if men_menu and men_menu != blank %}
  {% assign separator = "###" %}
  {% assign namespaces = men_menu | split: separator %}
  {% assign gender = 'men' %}
  
  {% include 'header-nav-dropdown' %}


{% endif %}