
<div class="header__offer">
  <div class="page__container">
    <span class="header__offer-text">Get 10% Off Your First Order With Code NEW10</span>
    <small>Code applied automatically at checkout. Exclusion apply*</small>
    <span class="header__offer-line"></span>
    <span class="header__offer-timer">
      Offer ends in
      <span><b data-hours>06</b>hrs</span>
      <span><b data-mins>40</b>min</span>
      <span><b data-secs>12</b>sec</span>
    </span>
  </div>
</div>
<script>
  var myTimer;
  function clock() {
    myTimer = setInterval(myClock, 1000);
    var c = 7200; //Initially set to 1 hour


    function myClock() {
      --c;
      var sec = c % 60; // Seconds that cannot be written in minutes
      var secondsInMinutes = (c - sec) / 60; // Gives the seconds that COULD be given in minutes
      var min = secondsInMinutes % 60; // Minutes that cannot be written in hours
      var hours = (secondsInMinutes - min) / 60;

      if(hours < 10){
        hours = '0' + hours;
      }
      if(min < 10){
        min = '0' + min;
      }
      if(sec < 10){
        sec = '0' + sec;
      }
      jQuery('.header__offer-timer span b[data-hours]').html(hours);
      jQuery('.header__offer-timer span b[data-mins]').html(min);
      jQuery('.header__offer-timer span b[data-secs]').html(sec);
      if (c == 0) {
        clearInterval(myTimer);
        jQuery('.header__offer').hide();
      }
    }
  }
  clock();
</script>
<header class="main-header main-header--desktop"  data-sticky="{{ sticky_header }}">
  <div class="page__container">
    <nav class="main-header__nav-desktop">
      <ul class="main-header__nav-list">
          <li class="main-header__item main-header__item--logo">
            <a class="main-header__logo-link" itemprop="url" href="/">
                <svg width="144" height="28" viewBox="0 0 144 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.1161 19.9892V14.0965C12.1161 12.7485 12 11.5545 11.7677 10.5532C11.5355 9.55178 10.9935 8.70447 10.1419 7.97269C9.29032 7.24092 7.97419 6.89429 6.27097 6.89429C4.52903 6.89429 3.09677 7.27943 2.05161 8.08823C0.967742 8.89704 0.425806 9.93693 0.425806 11.1309C0.425806 11.4005 0.503226 11.8241 0.658065 12.3633L0.696774 12.4404L3.63871 12.1708V12.0937C3.6 11.9012 3.56129 11.7086 3.52258 11.5545C3.48387 11.362 3.48387 11.1694 3.48387 10.9768C3.48387 10.245 3.71613 9.62881 4.14194 9.20515C4.60645 8.74298 5.22581 8.51189 6.07742 8.51189C7.12258 8.51189 7.85807 8.89704 8.36129 9.70584C8.86452 10.5146 9.09677 11.6316 9.09677 13.1336C9.09677 13.3262 9.09677 13.5188 9.09677 13.6728L0.503226 14.6357C0.154839 15.406 0 16.3303 0 17.4087C0 19.1419 0.387097 20.4514 1.16129 21.2987C1.93548 22.146 3.05806 22.5697 4.52903 22.5697C5.92258 22.5697 6.96774 22.146 7.70323 21.2987C8.43871 20.4514 8.94194 19.373 9.2129 18.102H9.29032V22.3386H11.8839H13.6645V21.4528C13.1226 21.4528 12.6968 21.3372 12.4645 21.1446C12.2323 20.9521 12.1161 20.5669 12.1161 19.9892ZM7.2 19.8737C6.61936 20.4129 5.96129 20.721 5.26452 20.721C4.52903 20.721 3.9871 20.4514 3.63871 19.9122C3.29032 19.373 3.09677 18.6797 3.09677 17.7554C3.09677 16.9466 3.2129 16.2533 3.40645 15.7911L9.05806 14.6357C8.98065 15.6756 8.82581 16.5614 8.59355 17.3317C8.24516 18.4871 7.78065 19.3345 7.2 19.8737Z" fill="black"/>
                    <path d="M26.5916 7.3564C26.0496 7.12531 25.469 7.00977 24.8496 7.00977C23.5335 7.00977 22.5271 7.54897 21.8303 8.62737C21.1335 9.70578 20.669 11.0153 20.398 12.5944H20.3206V7.20234H17.34H15.5593V8.08817C16.1013 8.08817 16.5271 8.20371 16.7593 8.39629C16.9916 8.58886 17.1077 8.974 17.1077 9.55172V19.9891C17.1077 20.5668 16.9916 20.952 16.7593 21.1446C16.4884 21.3371 16.1013 21.4527 15.5593 21.4527V22.3385H17.34H20.0884H21.869V21.4527C21.3271 21.4527 20.9013 21.3371 20.669 21.1446C20.4367 20.952 20.3206 20.5668 20.3206 19.9891V17.8323C20.3206 14.7897 20.669 12.6329 21.4045 11.3619C22.14 10.0909 23.069 9.43618 24.2303 9.43618C24.8884 9.43618 25.3916 9.62875 25.7787 10.0139C26.1658 10.399 26.3206 10.8227 26.3206 11.3234L26.7077 11.4389L27.8303 8.35777C27.5206 7.8956 27.1335 7.58748 26.5916 7.3564Z" fill="black"/>
                    <path d="M39.3275 7.85715C38.2049 7.2024 36.9275 6.89429 35.3791 6.89429C33.8694 6.89429 32.5533 7.2024 31.4694 7.85715C30.3855 8.51189 29.5339 9.39773 28.992 10.5917C28.4113 11.7471 28.1404 13.1336 28.1404 14.7127C28.1404 17.1391 28.7984 19.0263 30.0759 20.4514C31.3533 21.8379 33.1339 22.5697 35.4178 22.5697C36.9275 22.5697 38.2436 22.2616 39.3275 21.6068C40.4114 20.9521 41.263 20.0662 41.8049 18.8723C42.3855 17.6783 42.6565 16.2918 42.6565 14.7127C42.6565 13.1336 42.3855 11.7471 41.8049 10.5532C41.2243 9.39773 40.4114 8.47338 39.3275 7.85715ZM38.2823 19.2574C37.663 20.3743 36.6952 20.9521 35.3791 20.9521C34.063 20.9521 33.0952 20.3743 32.4759 19.2574C31.8565 18.1405 31.5468 16.6384 31.5468 14.7127C31.5468 12.8255 31.8565 11.3234 32.4759 10.168C33.0952 9.0511 34.063 8.51189 35.3791 8.51189C36.6952 8.51189 37.663 9.08961 38.2823 10.2065C38.9017 11.3234 39.2114 12.864 39.2114 14.7512C39.2114 16.6384 38.9017 18.1405 38.2823 19.2574Z" fill="black"/>
                    <path d="M68.2068 19.9892V12.4404C68.2068 10.6302 67.8197 9.24367 67.0455 8.31932C66.2713 7.35646 65.11 6.89429 63.5229 6.89429C62.1294 6.89429 61.0455 7.31795 60.2713 8.16526C59.4971 9.01258 59.0326 10.0525 58.8391 11.2464H58.7229C58.6068 10.014 58.2197 9.01258 57.6778 8.31932C56.9423 7.39498 55.781 6.89429 54.31 6.89429C52.8391 6.89429 51.7552 7.31795 50.981 8.16526C50.2455 9.01258 49.781 10.014 49.6649 11.0924H49.5875V7.2024H46.6068H44.8262V8.08823C45.3681 8.08823 45.7939 8.20378 46.0262 8.39635C46.2584 8.58892 46.3746 8.97407 46.3746 9.55178V19.9892C46.3746 20.5669 46.2584 20.9521 46.0262 21.1446C45.7939 21.3372 45.4068 21.4527 44.8262 21.4527V22.3386H46.6068H49.3552H51.1359V21.4527C50.5939 21.4527 50.1681 21.3372 49.9358 21.1446C49.7036 20.9521 49.5875 20.5669 49.5875 19.9892V16.2918C49.5875 13.4032 49.9359 11.439 50.6326 10.3606C51.3294 9.28218 52.181 8.74298 53.1875 8.74298C54.1165 8.74298 54.7746 9.08961 55.1229 9.78287C55.4713 10.4761 55.6262 11.5545 55.6262 13.0951V20.0277C55.6262 20.6054 55.51 20.9906 55.2778 21.1831C55.0455 21.3757 54.6584 21.4913 54.0778 21.4913V22.3386H55.8584H58.6068H60.3875V21.4527C59.8455 21.4527 59.4197 21.3372 59.1875 21.1446C58.9552 20.9521 58.8391 20.5669 58.8391 19.9892V16.2918C58.8391 13.5573 59.1875 11.6316 59.8842 10.4761C60.581 9.3207 61.51 8.74298 62.5939 8.74298C63.523 8.74298 64.181 9.08961 64.5294 9.74436C64.8778 10.3991 65.0326 11.516 65.0326 13.0566V19.9892C65.0326 20.5669 64.9165 20.9521 64.6842 21.1446C64.452 21.3372 64.0649 21.4527 63.4842 21.4527V22.3386H65.2649H68.0133H69.7939V21.4527C69.252 21.4527 68.8262 21.3372 68.5939 21.1446C68.3617 20.9521 68.2068 20.5669 68.2068 19.9892Z" fill="black"/>
                    <path d="M83.8828 19.9892V14.0965C83.8828 12.7485 83.7667 11.5545 83.5345 10.5532C83.3022 9.55178 82.7603 8.70447 81.9086 7.97269C81.057 7.24092 79.7409 6.89429 78.0377 6.89429C76.2957 6.89429 74.8635 7.27943 73.8183 8.08823C72.7345 8.89704 72.2312 9.89841 72.2312 11.1309C72.2312 11.4005 72.3086 11.8241 72.4635 12.3633L72.5022 12.4404L75.4441 12.1708V12.0937C75.3667 11.9012 75.328 11.7086 75.2893 11.5545C75.2506 11.362 75.2506 11.1694 75.2506 10.9768C75.2506 10.245 75.4828 9.62881 75.9086 9.20515C76.3732 8.74298 76.9925 8.51189 77.8441 8.51189C78.8893 8.51189 79.6248 8.89704 80.128 9.70584C80.6312 10.5146 80.8635 11.6316 80.8635 13.1336C80.8635 13.3262 80.8635 13.5188 80.8635 13.6728L72.3086 14.6357C71.9603 15.406 71.8054 16.3303 71.8054 17.4087C71.8054 19.1419 72.1925 20.4514 72.9667 21.2987C73.7409 22.146 74.8635 22.5697 76.3345 22.5697C77.728 22.5697 78.7732 22.146 79.5086 21.2987C80.2441 20.4514 80.7474 19.373 81.0183 18.102H81.1344V22.3386H83.728H85.5086V21.4528C84.9667 21.4528 84.5409 21.3372 84.3086 21.1446C84.0377 20.9521 83.8828 20.5669 83.8828 19.9892ZM79.0054 19.8737C78.4248 20.4129 77.7667 20.721 77.0699 20.721C76.3345 20.721 75.7925 20.4514 75.4441 19.9122C75.057 19.373 74.9022 18.6797 74.9022 17.7554C74.9022 16.9466 75.0183 16.2533 75.2119 15.7911L80.8635 14.6357C80.7861 15.6371 80.6312 16.5614 80.399 17.3317C80.0506 18.4871 79.5861 19.3345 79.0054 19.8737Z" fill="black"/>
                    <path d="M100.801 19.9891V12.4403C100.801 10.6301 100.414 9.24356 99.6394 8.31921C98.8652 7.35635 97.7039 6.89417 96.1168 6.89417C94.7233 6.89417 93.6394 7.31783 92.8652 8.16515C92.091 9.01247 91.6265 10.0524 91.4717 11.2463H91.3555V1.00146H88.3749H86.5942V1.8873C87.1362 1.8873 87.562 2.00284 87.7942 2.19541C88.0265 2.38798 88.1426 2.77313 88.1426 3.35085V19.9891C88.1426 20.5668 88.0265 20.9519 87.7942 21.1445C87.562 21.3371 87.1749 21.4526 86.5942 21.4526V22.3385H88.3749H91.1233H92.9039V21.4526C92.362 21.4526 91.9362 21.3371 91.7039 21.1445C91.4717 20.9519 91.3555 20.5668 91.3555 19.9891V16.2917C91.3555 13.5572 91.7039 11.6315 92.4007 10.476C93.0975 9.32059 94.0265 8.74287 95.1104 8.74287C96.0394 8.74287 96.6975 9.0895 97.0459 9.74424C97.3942 10.399 97.5491 11.5159 97.5491 13.0565V19.9891C97.5491 20.5668 97.433 20.9519 97.2007 21.1445C96.9684 21.3371 96.5813 21.4526 96.0007 21.4526V22.3385H97.7813H100.53H102.31V21.4526C101.768 21.4526 101.343 21.3371 101.11 21.1445C100.917 20.9519 100.801 20.5668 100.801 19.9891Z" fill="black"/>
                    <path d="M108.619 19.9894V7.20264H105.639H103.858V8.08847C104.4 8.08847 104.826 8.20401 105.058 8.39658C105.29 8.58916 105.407 8.9743 105.407 9.55202V19.9894C105.407 20.5671 105.29 20.9523 105.058 21.1449C104.826 21.3374 104.439 21.453 103.858 21.453V22.3388H105.639H108.387H110.168V21.453C109.626 21.453 109.2 21.3374 108.968 21.1449C108.736 20.9523 108.619 20.5671 108.619 19.9894Z" fill="black"/>
                    <path d="M109.354 2.3879L106.954 0L104.554 2.3879L106.954 4.77579L109.354 2.3879Z" fill="black"/>
                    <path d="M118.492 6.89429C117.253 6.89429 116.13 7.12537 115.24 7.58755C114.311 8.04972 113.614 8.70447 113.15 9.51327C112.685 10.3221 112.414 11.2079 112.414 12.2093C112.414 13.2107 112.646 14.0965 113.15 14.9053C113.614 15.7141 114.35 16.3688 115.24 16.831C115.279 16.831 115.279 16.8695 115.317 16.8695L112.685 17.7554C112.53 18.7567 112.724 19.5655 113.304 20.2203C113.808 20.798 114.466 21.1446 115.279 21.2602L111.988 22.9933C111.872 23.9562 112.027 24.8035 112.492 25.5353C112.956 26.2671 113.769 26.8833 114.853 27.3069C115.937 27.7306 117.292 27.9617 118.956 27.9617C121.395 27.9617 123.175 27.4995 124.298 26.5752C125.459 25.6508 126.001 24.4954 126.001 23.1089C126.001 21.9534 125.614 21.0291 124.801 20.4129C123.988 19.7581 122.904 19.373 121.511 19.2574L117.679 19.0263C116.866 18.9493 116.246 18.8723 115.859 18.7182C115.472 18.6027 115.201 18.4101 115.008 18.179L116.169 17.1776C116.866 17.3702 117.601 17.4858 118.453 17.4858C119.692 17.4858 120.814 17.2547 121.743 16.7925C122.711 16.3688 123.408 15.7526 123.872 14.9438C124.337 14.1735 124.608 13.2877 124.608 12.3248C124.608 11.4005 124.375 10.5917 123.95 9.8599C123.679 9.39773 123.408 9.0511 123.098 8.78149L126.117 7.78012V7.2024H120.621C120.001 7.00983 119.266 6.89429 118.492 6.89429ZM120.388 21.6453C122.246 21.7609 123.175 22.5312 123.175 23.8406C123.175 24.6109 122.827 25.2657 122.13 25.7664C121.434 26.2671 120.388 26.5367 118.995 26.5367C117.795 26.5367 116.866 26.3826 116.13 26.036C115.395 25.7279 114.93 25.3042 114.698 24.8035C114.466 24.3028 114.427 23.7636 114.543 23.1474L116.44 21.3372L120.388 21.6453ZM120.698 14.9438C120.234 15.5986 119.537 15.9452 118.569 15.9452C117.601 15.9452 116.904 15.5986 116.44 14.9438C115.975 14.2891 115.743 13.3647 115.743 12.1708C115.743 11.0153 115.975 10.091 116.44 9.43624C116.904 8.7815 117.601 8.43487 118.569 8.43487C119.537 8.43487 120.234 8.7815 120.698 9.43624C121.163 10.091 121.395 11.0153 121.395 12.1708C121.395 13.3647 121.163 14.2891 120.698 14.9438Z" fill="black"/>
                    <path d="M142.838 21.1445C142.605 20.9519 142.489 20.5668 142.489 19.9891V12.4403C142.489 10.6301 142.102 9.24356 141.328 8.31921C140.554 7.35635 139.392 6.89417 137.805 6.89417C136.412 6.89417 135.328 7.31783 134.554 8.16515C133.779 9.01247 133.315 10.0524 133.121 11.2463H133.044V1.00146H130.063H128.283V1.8873C128.825 1.8873 129.25 2.00284 129.483 2.19541C129.715 2.38798 129.831 2.77313 129.831 3.35085V19.9891C129.831 20.5668 129.715 20.9519 129.483 21.1445C129.25 21.3371 128.863 21.4526 128.283 21.4526V22.3385H130.063H132.812H134.592V21.4526C134.05 21.4526 133.625 21.3371 133.392 21.1445C133.16 20.9519 133.044 20.5668 133.044 19.9891V16.2917C133.044 13.5572 133.392 11.6315 134.089 10.476C134.786 9.32059 135.715 8.74287 136.799 8.74287C137.728 8.74287 138.386 9.0895 138.734 9.74424C139.083 10.399 139.238 11.5159 139.238 13.0565V19.9891C139.238 20.5668 139.121 20.9519 138.889 21.1445C138.657 21.3371 138.27 21.4526 137.689 21.4526V22.3385H139.47H142.218H143.999V21.4526C143.457 21.4526 143.07 21.3371 142.838 21.1445Z" fill="black"/>
                </svg>
            </a>
          </li>

          {% assign main-menu = linklists.main-menu %}
          {% for link in main-menu.links %}
              <li class="main-header__item">
                  <a href="{{ link.url }}" class="main-header__item-btn">{{ link.title }}</a>
              </li>
          {% endfor %}
          {% comment %}
        <li class="main-header__item">
          {% assign menim_mob = shop.metafields.airf.menim_mob %}
          {% assign menim_url = shop.metafields.airf.menim_url %}

          <a class="main-header__item-btn main-header__item-btn--men" type="button" id="buttonMensMenu"{% if menim_url and menim_url != '&nbsp' %} href="{{menim_url}}"{% endif %}>
            {% assign menim_m = shop.metafields.airf.menim_m %}
            {% if menim_m and menim_m != '&nbsp' %}
              {{ menim_m }}
            {% else %}
              Men's
            {% endif %}
          </a>

            {% assign mn_drop = shop.metafields.airf.mn_drop %}
            {% if mn_drop and mn_drop != blank %}
                {% assign separator = "###" %}
                {% assign mn_drop_childs_keys = mn_drop | split: separator %}
                <div class="main-menu__header-hover-drop hover-list">
                    {% for mn_drop_child_key in mn_drop_childs_keys %}
                        {% if mn_drop_child_key contains "mdrop_ttl" %}
                            {% assign drop_title = shop.metafields.airf[mn_drop_child_key] %}
                        {% endif %}
                        {% if mn_drop_child_key contains "mdrop_url" %}
                            {% assign drop_url = shop.metafields.airf[mn_drop_child_key] %}
                            {% if drop_title != blank and drop_url != blank %}
                                <div class="hover-item">
                                    <a href="{{drop_url}}">{{drop_title}}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        </li>
        <li class="main-header__item">
          {% assign menim_wurl = shop.metafields.airf.menim_wurl %}
          <a class="main-header__item-btn main-header__item-btn--women" type="button" id="buttonWomensMenu"{% if menim_wurl and menim_wurl != '&nbsp' %} href="{{menim_wurl}}"{% endif %}>
            {% assign menim_w = shop.metafields.airf.menim_w %}
            {% if menim_w and menim_w != '&nbsp' %}{{ menim_w }}{% else %}Women's{% endif %}
          </a>

          {% assign wm_drop = shop.metafields.airf.wm_drop %}
          {% if wm_drop and wm_drop != blank %}
              {% assign separator = "###" %}
              {% assign wm_drop_childs_keys = wm_drop | split: separator %}
              <div class="main-menu__header-hover-drop hover-list">
                {% for wm_drop_child_key in wm_drop_childs_keys %}
                  {% if wm_drop_child_key contains "wmdrop_ttl" %}
                    {% assign drop_title = shop.metafields.airf[wm_drop_child_key] %}
                  {% endif %}
                  {% if wm_drop_child_key contains "wmdrop_url" %}
                    {% assign drop_url = shop.metafields.airf[wm_drop_child_key] %}
                      {% if drop_title != blank and drop_url != blank %}
                          <div class="hover-item">
                              <a href="{{drop_url}}">{{drop_title}}</a>
                          </div>
                      {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
          {% endif %}
        </li>

          {% assign s_sales = shop.metafields.airf.s_sales %}
          {% if s_sales == "true" %}
              {% assign sales_url = shop.metafields.airf.sales_url %}
              {% if sales_url and sales_url != '&nbsp' %}
                  <li class="main-header__item main-header__item--sales">
                      <a class="main-header__item-btn main-header__item-btn--sales" type="button" id="buttonSalesPopup" {% if sales_url and sales_url != '&nbsp' %} href="{{sales_url}}"{% endif %}>
                          {% assign sales_titl = shop.metafields.airf.sales_titl %}
                          {% if sales_titl and sales_titl != '&nbsp' %}
                              {{ sales_titl }}
                          {% else %}
                              Sales
                          {% endif %}
                      </a>
                  </li>
              {% endif %}
          {% endif %}
          <li class="main-header__item main-header__item--accessories">
          {% assign menim_acu = shop.metafields.airf.menim_acu %}
          <a class="main-header__item-btn main-header__item-btn--accessories" type="button" id="buttonAboutPopup"{% if menim_acu and menim_acu != '&nbsp' %} href="{{menim_acu}}"{% endif %}>
            {% assign menim_ac = shop.metafields.airf.menim_ac %}
            {% if menim_ac and menim_ac != '&nbsp' %}{{ menim_ac }}{% else %}Accessories{% endif %}
          </a>
        </li>
        <li class="main-header__item {% unless section.settings.enable_gift %}  main-header__item--about{% endunless %}">
          {% assign menim_aurl = shop.metafields.airf.menim_aurl %}
          <a class="main-header__item-btn main-header__item-btn--about" type="button" id="buttonAboutPopup"{% if menim_aurl and menim_aurl != '&nbsp' %} href="{{menim_aurl}}"{% endif %}>
            {% assign menim_a = shop.metafields.airf.menim_a %}
            {% if menim_a and menim_a != '&nbsp' %}{{ menim_a }}{% else %}About us{% endif %}
          </a>

          {% assign b_drop = shop.metafields.airf.b_drop %}
          {% if b_drop and b_drop != blank %}
            {% assign separator = "###" %}
            {% assign b_drop_childs_keys = b_drop | split: separator %}
          <div class="main-menu__header-hover-drop hover-list">
            {% for b_drop_child_key in b_drop_childs_keys %}

                {% if b_drop_child_key contains "bdrop_ttl" %}
                {% assign bdrop_title =  shop.metafields.airf[b_drop_child_key] %}
                {% endif %}
                {% if b_drop_child_key contains "bdrop_url" %}
                {% assign bdrop_url = shop.metafields.airf[b_drop_child_key] %}
                {% endif %}
                {% if bdrop_title != blank and bdrop_url != blank %}
                  <div class="hover-item">
                    <a href="{{bdrop_url}}">{{bdrop_title}}</a>
                  </div>
                  {% assign bdrop_title = '' %}
                  {% assign bdrop_url = '' %}
                {% endif %}
            {% endfor %}
          </div>
          {% endif %}

        </li>

        {% if section.settings.enable_gift %}
        <li class="main-header__item main-header__item--about main-header__item--gifts">
          <a class="main-header__item-btn main-header__item-btn--gifts" type="button" id="buttonGiftsPopup" href="/collections/gifts">
            Gifts
          </a>
        </li>
        {% endif %}
          {% endcomment %}


        <li class="main-header__item" style="display:none;">
          {% assign search_url = shop.metafields.airf.search_url %}
          <a class="main-header__item-btn button_search_menu" type="button" id="buttonSearchMenu"{% if search_url and search_url != '&nbsp' %} href="{{search_url}}"{% endif %}>
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#2C2C2C" fill-rule="nonzero">
                  <path d="M15.7,14.3 L12.595,11.195 C13.473,10.024 14,8.576 14,7 C14,3.134 10.866,0 7,0 C3.134,0 0,3.134 0,7 C0,10.866 3.134,14 7,14 C8.576,14 10.024,13.473 11.194,12.595 L14.3,15.7 C14.484,15.884 14.68,16 15,16 C15.553,16 16,15.553 16,15 C16,14.781 15.946,14.546 15.7,14.3 Z M2,7 C2,4.238 4.238,2 7,2 C9.762,2 12,4.238 12,7 C12,9.762 9.762,12 7,12 C4.238,12 2,9.762 2,7 Z"></path>
                </g>
              </g>
            </svg>
          </a>
        </li>
        <li class="main-header__item language-switcher-desktop">
        </li>
        <li class="main-header__item">
          {% assign menim_surl = shop.metafields.airf.menim_surl %}
          <a class="main-header__item-btn" type="button" id="buttonSigninPopup"{% if menim_surl and menim_surl != '&nbsp' %} href="{{menim_surl}}"{% else %} href="#accountpopup"{% endif %}>
            {% assign menim_s = shop.metafields.airf.menim_s %}
            {% if menim_s and menim_s != '&nbsp' %}{{ menim_s }}{% else %}Sign in{% endif %}
          </a>
        </li>
          <li class="main-header__item">
              {% assign menim_hurl = shop.metafields.airf.menim_hurl %}
              <a class="main-header__item-btn" type="button" id="buttonHelpPopup"{% if menim_hurl and menim_hurl != '&nbsp' %} href="{{menim_hurl}}"{% else %} href="#helppopup"{% endif %}>
                  {% assign menim_h = shop.metafields.airf.menim_h %}
                  {% if menim_h and menim_h != '&nbsp' %}{{ menim_h }}{% else %}Help{% endif %}
              </a>
          </li>
          <li class="main-header__item">
              <a class="main-header__item-btn" type="button" id="buttonwishlist" href="#wishlistpopup">
                  <span class="iswish"></span>
                  <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="normal-wish">
                      <mask id="path-1-inside-1" fill="white">
                          <path d="M14.5 0C11.605 0 10 2.09 10 2.09C10 2.09 8.395 0 5.5 0C2.462 0 0 2.462 0 5.5C0 9.671 4.912 13.713 6.281 14.99C7.858 16.46 10 18.35 10 18.35C10 18.35 12.142 16.46 13.719 14.99C15.088 13.713 20 9.671 20 5.5C20 2.462 17.538 0 14.5 0Z"/>
                      </mask>
                      <path d="M14.5 0C11.605 0 10 2.09 10 2.09C10 2.09 8.395 0 5.5 0C2.462 0 0 2.462 0 5.5C0 9.671 4.912 13.713 6.281 14.99C7.858 16.46 10 18.35 10 18.35C10 18.35 12.142 16.46 13.719 14.99C15.088 13.713 20 9.671 20 5.5C20 2.462 17.538 0 14.5 0Z" stroke="black" stroke-width="4" mask="url(#path-1-inside-1)"/>
                  </svg>
                  <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"  class="hover-wish">
                      <path d="M14.5 0C11.605 0 10 2.09 10 2.09C10 2.09 8.395 0 5.5 0C2.462 0 0 2.462 0 5.5C0 9.671 4.912 13.713 6.281 14.99C7.858 16.46 10 18.35 10 18.35C10 18.35 12.142 16.46 13.719 14.99C15.088 13.713 20 9.671 20 5.5C20 2.462 17.538 0 14.5 0Z" fill="#DC005C"/>
                  </svg>
                  <span>wishlist</span>
              </a>
          </li>
        <li class="main-header__item">
          <a class="main-header__cart js-drawer-open-cart" href="/cart">
            <span class="cart-link">
              <img src="{{ 'icon-cart.svg' | asset_url }}" />
              <span class="cart-link__bubble"></span>
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="main-header__popup main-header__popup--about" id="aboutPopup">
      {% assign about_menu = linklists.about-us %}
      <div class="main-header__popup-content"><b class="main-header__block-title">{{about_menu.title}}</b>
        <ul class="main-header__list">
          {% for link in about_menu.links %}
            <li><a class="main-header__link" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% assign abus_img = shop.metafields.airf.abus_img %}
      {% if abus_img and abus_img != '&nbsp' %}
        <img class="main-header__img-about" src="{{ abus_img }}" alt="About us">
      {% endif %}

    </div>

    <div class="main-header__popup main-header__popup--help" id="helpPopup">
      {% assign help_menu = linklists.need-help %}
      <b class="main-header__block-title">{{ help_menu.title }}</b>
      <ul class="main-header__list">
        {% for link in help_menu.links %}
          <li><a class="main-header__link" href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="main-header__help-list">
        <li class="help-call">
          {% assign hlp_ph_num = shop.metafields.airf.hlp_ph_num %}
          <a class="main-header__help-text" href="tel:{{ hlp_ph_num }}">
            <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Customer-service" transform="translate(-103.000000, -803.000000)" stroke="#000000" stroke-width="0.75">
                        <g id="Group-7" transform="translate(70.000000, 804.000000)">
                            <path d="M45.3545634,14.9995211 C44.7235051,15.0011611 44.1289077,14.8300774 43.544078,14.6140795 C42.7011135,14.3027741 41.8441685,14.0249401 41.0589152,13.5755378 C39.8576787,12.8881091 38.8182051,11.9970573 37.8479254,11.019979 C36.9834497,10.1494273 36.1948784,9.21737503 35.5538659,8.1667941 C34.9933436,7.24812284 34.6659031,6.23034228 34.3054314,5.22724735 C34.0918849,4.63307611 33.9594622,4.02149831 34.0112084,3.38409022 C34.0985955,2.30738081 34.5544696,1.39403961 35.2850687,0.616708129 C35.4271845,0.465453698 35.6339832,0.345359618 35.8334374,0.283896198 C36.216837,0.165814868 36.6150744,0.0936913279 37.0095465,0.0145604363 C37.2919513,-0.0420947474 37.5046777,0.0678610368 37.6451159,0.322138447 C37.8850575,0.756556978 38.1233214,1.19201916 38.3720241,1.62140581 C38.6454442,2.09354477 38.9297504,2.55938456 39.2095456,3.0277962 C39.2445526,3.08638959 39.2829522,3.1430075 39.3162443,3.20249544 C39.5177863,3.56244223 39.5149902,3.74478246 39.2334055,4.04136489 C38.9823541,4.3057806 38.6988308,4.5396696 38.4264546,4.78343598 C38.2276341,4.96130344 38.0147214,5.12422437 37.8238045,5.30999373 C37.4656443,5.65857221 37.4337689,5.83267508 37.6811667,6.262099 C37.9721463,6.7672247 38.2695754,7.27030036 38.5949655,7.75362126 C39.4917267,9.08561445 40.6636976,10.1236716 42.0543598,10.9189315 C42.3499994,11.088077 42.6485843,11.252377 42.9495925,11.4116825 C43.1862906,11.5369203 43.4010674,11.4737423 43.5741639,11.2896875 C43.8162305,11.0322791 44.0427136,10.7603715 44.279971,10.498304 C44.5087655,10.2456293 44.7298801,9.9838973 44.977949,9.75123831 C45.2477902,9.49822819 45.4499659,9.48652442 45.7727463,9.67281561 C46.5299268,10.1098433 47.2830437,10.5540646 48.0381366,10.9947451 C48.2790847,11.1353394 48.5227172,11.2714236 48.7624724,11.4140307 C48.9398562,11.5195137 49.0137848,11.6808319 48.997903,11.8857224 C48.9581985,12.3966254 48.8604846,12.8969801 48.6428371,13.3610308 C48.5587308,13.5402774 48.4178453,13.7087893 48.2649925,13.8372325 C47.4562893,14.5169084 46.5430125,14.9584088 45.4663324,14.9993347 C45.4291258,15.0007138 45.3918073,14.9995211 45.3545634,14.9995211" id="Fill-1"></path>
                        </g>
                    </g>
                </g>
            </svg>
            {% assign hlp_ph_txt = shop.metafields.airf.hlp_ph_txt %}
            {% if hlp_ph_txt and hlp_ph_txt != '&nbsp' %}
              <b class="main-header__help-item-title">{{ hlp_ph_txt }}</b>
            {% endif %}

            {% if hlp_ph_num and hlp_ph_num != '&nbsp' %}
              {{ hlp_ph_num }}
            {% endif %}
          </a>
        </li>
        <li class="help--email">
          {% assign hlp_e_addy = shop.metafields.airf.hlp_e_addy %}
          <a class="main-header__help-text" href="mailto:{{ hlp_e_addy }}">
            <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>@</title>
                <defs></defs>
                <g id="Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Poppins-Light, Poppins" font-size="13" font-weight="300">
                    <g id="Help" transform="translate(-1298.000000, -399.000000)" fill="#000000">
                        <g id="Group-8" transform="translate(1028.000000, 81.000000)">
                            <g id="Group-2" transform="translate(206.000000, 314.000000)">
                                <g id="Group-4">
                                    <text id="@">
                                        <tspan x="64.311" y="14">@</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            {% assign hlp_e_txt = shop.metafields.airf.hlp_e_txt %}
            {% if hlp_e_txt and hlp_e_txt != '&nbsp' %}
              <b class="main-header__help-item-title">{{ hlp_e_txt }}</b>
            {% endif %}

            {% if hlp_e_addy and hlp_e_addy != '&nbsp' %}
              {{ hlp_e_addy }}
            {% endif %}
          </a>
        </li>
        <li class="help--chat">
          <a href="javascript:$zopim.livechat.window.show();">
            <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Customer-service" transform="translate(-248.000000, -797.000000)">
                        <g id="Group-3" transform="translate(214.000000, 798.000000)">
                            <g id="Group" transform="translate(35.000000, 0.000000)">
                                <g id="Group-4">
                                    <path d="M8,0 C3.58171429,0 0,3.31639506 0,7.40740741 C0,9.73851852 1.16332919,11.8178272 2.98136646,13.1756543 L2.98136646,16 L5.70529193,14.505037 C6.43224845,14.7062222 7.20238509,14.8148148 8,14.8148148 C12.4182857,14.8148148 16,11.4984198 16,7.40740741 C16,3.31639506 12.4182857,0 8,0 Z" id="Shape" stroke="#000000" stroke-width="0.75" fill-rule="nonzero"></path>
                                    <polygon id="Path" fill="#000000" points="8.78947368 9 6.8277512 7.12765957 3 9 7.21052632 5 9.22009569 6.87234043 13 5"></polygon>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            {% assign hlp_c_txt = shop.metafields.airf.hlp_c_txt %}
            {% if hlp_c_txt and hlp_c_txt != '&nbsp' %}
              <b class="main-header__help-item-title">{{ hlp_c_txt }}</b>
            {% endif %}

            {% assign hlp_c_time = shop.metafields.airf.hlp_c_time %}
            {% if hlp_c_time and hlp_c_time != '&nbsp' %}
              <span class="main-header__help-text">{{ hlp_c_time | newline_to_br }}</span>
            {% endif %}
          </a>
        </li>
      </ul>
    </div>
    <div class="main-header__popup main-header__popup--auth" id="signinPopup">
      <b class="main-header__block-title">
        {% assign sign_in_ti = shop.metafields.airf.sign_in_ti %}
        {% if sign_in_ti and sign_in_ti != '&nbsp' %}{{ sign_in_ti }}{% else %}Sign in{% endif %}
      </b>

      {% form 'customer_login', id: "customer_login_desktop", class: "customer_login" %}

        <label class="main-header__form-label" for="CustomerEmail">
          <input id="CustomerEmail2" name="customer[email]" class="main-header__form-field" type="email" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
        </label>

        {% if form.password_needed %}
          <label class="main-header__form-label">
            <input id="CustomerPassword2" name="customer[password]" class="main-header__form-field" type="password" placeholder="{{ 'customer.login.password' | t }}">
          </label>
        {% endif %}

        <button class="main-header__form-btn-submit" type="submit">{{ 'customer.login.sign_in' | t }}</button>
        <a class="main-header__form-link" href="/account/login#recover">{{ 'customer.login.forgot_password' | t }}</a>

      {% endform %}

      {% comment %}<form class="main-header__form main-header__form--account">
        <label class="main-header__form-label" for="CustomerEmail">
          <input id="CustomerEmail" name="customer[email]" class="main-header__form-field" type="email" placeholder="Email" autocorrect="off" autocapitalize="off" autofocus>
        </label>
        <label class="main-header__form-label">
          <input class="main-header__form-field" type="password" placeholder="Password">
        </label>
        <button class="main-header__form-btn-submit" type="submit">Sign in</button>
        <a class="main-header__form-link" href="/account/login#recover">Forgot password?</a>
      </form>{% endcomment %}

      <b class="main-header__block-title main-header__block-title--no-mb">
        {% assign create_acc = shop.metafields.airf.create_acc %}
        {% if create_acc and create_acc != '&nbsp' %}{{ create_acc }}{% else %}I’m new here{% endif %}
      </b>
      <a class="main-header__form-link" href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
    </div>
  </div>
</header>

<header class="main-header main-header--mobile">
  <div class="page__container">
    <button class="main-header__menu-toggle" type="button"><span>Menu toggle</span></button>
    <a class="main-header__logo-link" href="/">
        <svg width="144" height="28" viewBox="0 0 144 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.1161 19.9892V14.0965C12.1161 12.7485 12 11.5545 11.7677 10.5532C11.5355 9.55178 10.9935 8.70447 10.1419 7.97269C9.29032 7.24092 7.97419 6.89429 6.27097 6.89429C4.52903 6.89429 3.09677 7.27943 2.05161 8.08823C0.967742 8.89704 0.425806 9.93693 0.425806 11.1309C0.425806 11.4005 0.503226 11.8241 0.658065 12.3633L0.696774 12.4404L3.63871 12.1708V12.0937C3.6 11.9012 3.56129 11.7086 3.52258 11.5545C3.48387 11.362 3.48387 11.1694 3.48387 10.9768C3.48387 10.245 3.71613 9.62881 4.14194 9.20515C4.60645 8.74298 5.22581 8.51189 6.07742 8.51189C7.12258 8.51189 7.85807 8.89704 8.36129 9.70584C8.86452 10.5146 9.09677 11.6316 9.09677 13.1336C9.09677 13.3262 9.09677 13.5188 9.09677 13.6728L0.503226 14.6357C0.154839 15.406 0 16.3303 0 17.4087C0 19.1419 0.387097 20.4514 1.16129 21.2987C1.93548 22.146 3.05806 22.5697 4.52903 22.5697C5.92258 22.5697 6.96774 22.146 7.70323 21.2987C8.43871 20.4514 8.94194 19.373 9.2129 18.102H9.29032V22.3386H11.8839H13.6645V21.4528C13.1226 21.4528 12.6968 21.3372 12.4645 21.1446C12.2323 20.9521 12.1161 20.5669 12.1161 19.9892ZM7.2 19.8737C6.61936 20.4129 5.96129 20.721 5.26452 20.721C4.52903 20.721 3.9871 20.4514 3.63871 19.9122C3.29032 19.373 3.09677 18.6797 3.09677 17.7554C3.09677 16.9466 3.2129 16.2533 3.40645 15.7911L9.05806 14.6357C8.98065 15.6756 8.82581 16.5614 8.59355 17.3317C8.24516 18.4871 7.78065 19.3345 7.2 19.8737Z" fill="black"/>
            <path d="M26.5916 7.3564C26.0496 7.12531 25.469 7.00977 24.8496 7.00977C23.5335 7.00977 22.5271 7.54897 21.8303 8.62737C21.1335 9.70578 20.669 11.0153 20.398 12.5944H20.3206V7.20234H17.34H15.5593V8.08817C16.1013 8.08817 16.5271 8.20371 16.7593 8.39629C16.9916 8.58886 17.1077 8.974 17.1077 9.55172V19.9891C17.1077 20.5668 16.9916 20.952 16.7593 21.1446C16.4884 21.3371 16.1013 21.4527 15.5593 21.4527V22.3385H17.34H20.0884H21.869V21.4527C21.3271 21.4527 20.9013 21.3371 20.669 21.1446C20.4367 20.952 20.3206 20.5668 20.3206 19.9891V17.8323C20.3206 14.7897 20.669 12.6329 21.4045 11.3619C22.14 10.0909 23.069 9.43618 24.2303 9.43618C24.8884 9.43618 25.3916 9.62875 25.7787 10.0139C26.1658 10.399 26.3206 10.8227 26.3206 11.3234L26.7077 11.4389L27.8303 8.35777C27.5206 7.8956 27.1335 7.58748 26.5916 7.3564Z" fill="black"/>
            <path d="M39.3275 7.85715C38.2049 7.2024 36.9275 6.89429 35.3791 6.89429C33.8694 6.89429 32.5533 7.2024 31.4694 7.85715C30.3855 8.51189 29.5339 9.39773 28.992 10.5917C28.4113 11.7471 28.1404 13.1336 28.1404 14.7127C28.1404 17.1391 28.7984 19.0263 30.0759 20.4514C31.3533 21.8379 33.1339 22.5697 35.4178 22.5697C36.9275 22.5697 38.2436 22.2616 39.3275 21.6068C40.4114 20.9521 41.263 20.0662 41.8049 18.8723C42.3855 17.6783 42.6565 16.2918 42.6565 14.7127C42.6565 13.1336 42.3855 11.7471 41.8049 10.5532C41.2243 9.39773 40.4114 8.47338 39.3275 7.85715ZM38.2823 19.2574C37.663 20.3743 36.6952 20.9521 35.3791 20.9521C34.063 20.9521 33.0952 20.3743 32.4759 19.2574C31.8565 18.1405 31.5468 16.6384 31.5468 14.7127C31.5468 12.8255 31.8565 11.3234 32.4759 10.168C33.0952 9.0511 34.063 8.51189 35.3791 8.51189C36.6952 8.51189 37.663 9.08961 38.2823 10.2065C38.9017 11.3234 39.2114 12.864 39.2114 14.7512C39.2114 16.6384 38.9017 18.1405 38.2823 19.2574Z" fill="black"/>
            <path d="M68.2068 19.9892V12.4404C68.2068 10.6302 67.8197 9.24367 67.0455 8.31932C66.2713 7.35646 65.11 6.89429 63.5229 6.89429C62.1294 6.89429 61.0455 7.31795 60.2713 8.16526C59.4971 9.01258 59.0326 10.0525 58.8391 11.2464H58.7229C58.6068 10.014 58.2197 9.01258 57.6778 8.31932C56.9423 7.39498 55.781 6.89429 54.31 6.89429C52.8391 6.89429 51.7552 7.31795 50.981 8.16526C50.2455 9.01258 49.781 10.014 49.6649 11.0924H49.5875V7.2024H46.6068H44.8262V8.08823C45.3681 8.08823 45.7939 8.20378 46.0262 8.39635C46.2584 8.58892 46.3746 8.97407 46.3746 9.55178V19.9892C46.3746 20.5669 46.2584 20.9521 46.0262 21.1446C45.7939 21.3372 45.4068 21.4527 44.8262 21.4527V22.3386H46.6068H49.3552H51.1359V21.4527C50.5939 21.4527 50.1681 21.3372 49.9358 21.1446C49.7036 20.9521 49.5875 20.5669 49.5875 19.9892V16.2918C49.5875 13.4032 49.9359 11.439 50.6326 10.3606C51.3294 9.28218 52.181 8.74298 53.1875 8.74298C54.1165 8.74298 54.7746 9.08961 55.1229 9.78287C55.4713 10.4761 55.6262 11.5545 55.6262 13.0951V20.0277C55.6262 20.6054 55.51 20.9906 55.2778 21.1831C55.0455 21.3757 54.6584 21.4913 54.0778 21.4913V22.3386H55.8584H58.6068H60.3875V21.4527C59.8455 21.4527 59.4197 21.3372 59.1875 21.1446C58.9552 20.9521 58.8391 20.5669 58.8391 19.9892V16.2918C58.8391 13.5573 59.1875 11.6316 59.8842 10.4761C60.581 9.3207 61.51 8.74298 62.5939 8.74298C63.523 8.74298 64.181 9.08961 64.5294 9.74436C64.8778 10.3991 65.0326 11.516 65.0326 13.0566V19.9892C65.0326 20.5669 64.9165 20.9521 64.6842 21.1446C64.452 21.3372 64.0649 21.4527 63.4842 21.4527V22.3386H65.2649H68.0133H69.7939V21.4527C69.252 21.4527 68.8262 21.3372 68.5939 21.1446C68.3617 20.9521 68.2068 20.5669 68.2068 19.9892Z" fill="black"/>
            <path d="M83.8828 19.9892V14.0965C83.8828 12.7485 83.7667 11.5545 83.5345 10.5532C83.3022 9.55178 82.7603 8.70447 81.9086 7.97269C81.057 7.24092 79.7409 6.89429 78.0377 6.89429C76.2957 6.89429 74.8635 7.27943 73.8183 8.08823C72.7345 8.89704 72.2312 9.89841 72.2312 11.1309C72.2312 11.4005 72.3086 11.8241 72.4635 12.3633L72.5022 12.4404L75.4441 12.1708V12.0937C75.3667 11.9012 75.328 11.7086 75.2893 11.5545C75.2506 11.362 75.2506 11.1694 75.2506 10.9768C75.2506 10.245 75.4828 9.62881 75.9086 9.20515C76.3732 8.74298 76.9925 8.51189 77.8441 8.51189C78.8893 8.51189 79.6248 8.89704 80.128 9.70584C80.6312 10.5146 80.8635 11.6316 80.8635 13.1336C80.8635 13.3262 80.8635 13.5188 80.8635 13.6728L72.3086 14.6357C71.9603 15.406 71.8054 16.3303 71.8054 17.4087C71.8054 19.1419 72.1925 20.4514 72.9667 21.2987C73.7409 22.146 74.8635 22.5697 76.3345 22.5697C77.728 22.5697 78.7732 22.146 79.5086 21.2987C80.2441 20.4514 80.7474 19.373 81.0183 18.102H81.1344V22.3386H83.728H85.5086V21.4528C84.9667 21.4528 84.5409 21.3372 84.3086 21.1446C84.0377 20.9521 83.8828 20.5669 83.8828 19.9892ZM79.0054 19.8737C78.4248 20.4129 77.7667 20.721 77.0699 20.721C76.3345 20.721 75.7925 20.4514 75.4441 19.9122C75.057 19.373 74.9022 18.6797 74.9022 17.7554C74.9022 16.9466 75.0183 16.2533 75.2119 15.7911L80.8635 14.6357C80.7861 15.6371 80.6312 16.5614 80.399 17.3317C80.0506 18.4871 79.5861 19.3345 79.0054 19.8737Z" fill="black"/>
            <path d="M100.801 19.9891V12.4403C100.801 10.6301 100.414 9.24356 99.6394 8.31921C98.8652 7.35635 97.7039 6.89417 96.1168 6.89417C94.7233 6.89417 93.6394 7.31783 92.8652 8.16515C92.091 9.01247 91.6265 10.0524 91.4717 11.2463H91.3555V1.00146H88.3749H86.5942V1.8873C87.1362 1.8873 87.562 2.00284 87.7942 2.19541C88.0265 2.38798 88.1426 2.77313 88.1426 3.35085V19.9891C88.1426 20.5668 88.0265 20.9519 87.7942 21.1445C87.562 21.3371 87.1749 21.4526 86.5942 21.4526V22.3385H88.3749H91.1233H92.9039V21.4526C92.362 21.4526 91.9362 21.3371 91.7039 21.1445C91.4717 20.9519 91.3555 20.5668 91.3555 19.9891V16.2917C91.3555 13.5572 91.7039 11.6315 92.4007 10.476C93.0975 9.32059 94.0265 8.74287 95.1104 8.74287C96.0394 8.74287 96.6975 9.0895 97.0459 9.74424C97.3942 10.399 97.5491 11.5159 97.5491 13.0565V19.9891C97.5491 20.5668 97.433 20.9519 97.2007 21.1445C96.9684 21.3371 96.5813 21.4526 96.0007 21.4526V22.3385H97.7813H100.53H102.31V21.4526C101.768 21.4526 101.343 21.3371 101.11 21.1445C100.917 20.9519 100.801 20.5668 100.801 19.9891Z" fill="black"/>
            <path d="M108.619 19.9894V7.20264H105.639H103.858V8.08847C104.4 8.08847 104.826 8.20401 105.058 8.39658C105.29 8.58916 105.407 8.9743 105.407 9.55202V19.9894C105.407 20.5671 105.29 20.9523 105.058 21.1449C104.826 21.3374 104.439 21.453 103.858 21.453V22.3388H105.639H108.387H110.168V21.453C109.626 21.453 109.2 21.3374 108.968 21.1449C108.736 20.9523 108.619 20.5671 108.619 19.9894Z" fill="black"/>
            <path d="M109.354 2.3879L106.954 0L104.554 2.3879L106.954 4.77579L109.354 2.3879Z" fill="black"/>
            <path d="M118.492 6.89429C117.253 6.89429 116.13 7.12537 115.24 7.58755C114.311 8.04972 113.614 8.70447 113.15 9.51327C112.685 10.3221 112.414 11.2079 112.414 12.2093C112.414 13.2107 112.646 14.0965 113.15 14.9053C113.614 15.7141 114.35 16.3688 115.24 16.831C115.279 16.831 115.279 16.8695 115.317 16.8695L112.685 17.7554C112.53 18.7567 112.724 19.5655 113.304 20.2203C113.808 20.798 114.466 21.1446 115.279 21.2602L111.988 22.9933C111.872 23.9562 112.027 24.8035 112.492 25.5353C112.956 26.2671 113.769 26.8833 114.853 27.3069C115.937 27.7306 117.292 27.9617 118.956 27.9617C121.395 27.9617 123.175 27.4995 124.298 26.5752C125.459 25.6508 126.001 24.4954 126.001 23.1089C126.001 21.9534 125.614 21.0291 124.801 20.4129C123.988 19.7581 122.904 19.373 121.511 19.2574L117.679 19.0263C116.866 18.9493 116.246 18.8723 115.859 18.7182C115.472 18.6027 115.201 18.4101 115.008 18.179L116.169 17.1776C116.866 17.3702 117.601 17.4858 118.453 17.4858C119.692 17.4858 120.814 17.2547 121.743 16.7925C122.711 16.3688 123.408 15.7526 123.872 14.9438C124.337 14.1735 124.608 13.2877 124.608 12.3248C124.608 11.4005 124.375 10.5917 123.95 9.8599C123.679 9.39773 123.408 9.0511 123.098 8.78149L126.117 7.78012V7.2024H120.621C120.001 7.00983 119.266 6.89429 118.492 6.89429ZM120.388 21.6453C122.246 21.7609 123.175 22.5312 123.175 23.8406C123.175 24.6109 122.827 25.2657 122.13 25.7664C121.434 26.2671 120.388 26.5367 118.995 26.5367C117.795 26.5367 116.866 26.3826 116.13 26.036C115.395 25.7279 114.93 25.3042 114.698 24.8035C114.466 24.3028 114.427 23.7636 114.543 23.1474L116.44 21.3372L120.388 21.6453ZM120.698 14.9438C120.234 15.5986 119.537 15.9452 118.569 15.9452C117.601 15.9452 116.904 15.5986 116.44 14.9438C115.975 14.2891 115.743 13.3647 115.743 12.1708C115.743 11.0153 115.975 10.091 116.44 9.43624C116.904 8.7815 117.601 8.43487 118.569 8.43487C119.537 8.43487 120.234 8.7815 120.698 9.43624C121.163 10.091 121.395 11.0153 121.395 12.1708C121.395 13.3647 121.163 14.2891 120.698 14.9438Z" fill="black"/>
            <path d="M142.838 21.1445C142.605 20.9519 142.489 20.5668 142.489 19.9891V12.4403C142.489 10.6301 142.102 9.24356 141.328 8.31921C140.554 7.35635 139.392 6.89417 137.805 6.89417C136.412 6.89417 135.328 7.31783 134.554 8.16515C133.779 9.01247 133.315 10.0524 133.121 11.2463H133.044V1.00146H130.063H128.283V1.8873C128.825 1.8873 129.25 2.00284 129.483 2.19541C129.715 2.38798 129.831 2.77313 129.831 3.35085V19.9891C129.831 20.5668 129.715 20.9519 129.483 21.1445C129.25 21.3371 128.863 21.4526 128.283 21.4526V22.3385H130.063H132.812H134.592V21.4526C134.05 21.4526 133.625 21.3371 133.392 21.1445C133.16 20.9519 133.044 20.5668 133.044 19.9891V16.2917C133.044 13.5572 133.392 11.6315 134.089 10.476C134.786 9.32059 135.715 8.74287 136.799 8.74287C137.728 8.74287 138.386 9.0895 138.734 9.74424C139.083 10.399 139.238 11.5159 139.238 13.0565V19.9891C139.238 20.5668 139.121 20.9519 138.889 21.1445C138.657 21.3371 138.27 21.4526 137.689 21.4526V22.3385H139.47H142.218H143.999V21.4526C143.457 21.4526 143.07 21.3371 142.838 21.1445Z" fill="black"/>
        </svg>
    </a>
    <a class="main-header__cart js-drawer-open-cart" href="/cart">
      <span class="cart-link">
        <img src="{{ 'icon-cart.svg' | asset_url }}" />
        <span class="cart-link__bubble"></span>
      </span>
    </a>
    <nav class="main-header__nav-mobile"> {% comment %}main-header__nav-mobile--show{% endcomment %}
      <ul class="main-header__nav-list">
        <li class="main-header__item main-header__item--watches language-switcher-mobile">
        </li>
          {% assign main-menu = linklists.main-menu %}
          {% for link in main-menu.links %}
          <li class="main-header__item">
              <a href="{{ link.url }}" class="main-header__item-btn main-header__btn-link">{{ link.title }}</a>
          </li>
          {% endfor %}
          {% comment %}
        <li class="main-header__item main-header__item--watches">

          <a class="main-header__btn-accordeon arrow-down"{% comment %}{% if menim_url and menim_url != '&nbsp' %} href="{{menim_url}}"{% endif %}{% endcomment %}>
            <span>{% if menim_m and menim_m != '&nbsp' %}{{ menim_m }}{% else %}Men's{% endif %}</span>
          </a>

          <div class="main-header__accordeon-content main-header__accordeon-content--row">
            {% assign mobm = shop.metafields.airf.men_mobm %}
            {% include 'header-menu-mobile' with mobm %}
          </div>

        </li>

        <li class="main-header__item main-header__item--watches">

          <a class="main-header__btn-accordeon arrow-down"{% comment %}{% if menim_wurl and menim_wurl != '&nbsp' %} href="{{menim_wurl}}"{% endif %}{% endcomment %}>
            <span>{% if menim_w and menim_w != '&nbsp' %}{{ menim_w }}{% else %}Women's{% endif %}</span>
          </a>

          <div class="main-header__accordeon-content main-header__accordeon-content--row">
            {% assign mobm = shop.metafields.airf.women_mobm %}
            {% include 'header-menu-mobile' with mobm %}
          </div>

        </li>

          {% assign s_sales = shop.metafields.airf.s_sales %}
          {% if s_sales == "true" %}
              {% assign sales_url = shop.metafields.airf.sales_url %}
              {% if sales_url and sales_url != '&nbsp' %}
                  <li class="main-header__item main-header__item--sales">
                      <a class="main-header__btn-accordeon" type="button" id="buttonSalesPopup" {% if sales_url and sales_url != '&nbsp' %} href="{{sales_url}}"{% endif %}>
                          {% assign sales_titl = shop.metafields.airf.sales_titl %}
                          <span>
                        {% if sales_titl and sales_titl != '&nbsp' %}
                            {{ sales_titl }}
                        {% else %}
                            Sales
                        {% endif %}
                      </span>
                      </a>
                  </li>
              {% endif %}
          {% endif %}
            {% comment %}
            <li class="main-header__item main-header__item--watches">
                <a class="main-header__btn-accordeon arrow-down">
                    {% if menim_mob and menim_mob != '&nbsp' %}{{ menim_mob }}{% else %}Shop by type{% endif %}
                </a>
                <div class="main-header__accordeon-content main-header__accordeon-content--row">
                    {% assign mobm = shop.metafields.airf.shopb_mobm %}
                    {% include 'header-menu-mobile' with mobm %}
                </div>
            </li>
            {% endcomment %}

          <li class="main-header__item main-header__item--accessories">
          <a class="main-header__btn-accordeon"{% if menim_acu and menim_acu != '&nbsp' %} href="{{menim_acu}}"{% endif %}>
            {% if menim_ac and menim_ac != '&nbsp' %}{{ menim_ac }}{% else %}Accessories{% endif %}
          </a>
        </li>

        {% if section.settings.enable_gift %}
        <li class="main-header__item main-header__item--gifts">
          <a class="main-header__btn-accordeon" href="/collections/gifts">
            Gifts
          </a>
        </li>
        {% endif %}

        <li class="main-header__item main-header__item--about">
          <a class="main-header__btn-accordeon about_menu arrow-down" {% comment %}{% if menim_aurl and menim_aurl != '&nbsp' %} href="{{menim_aurl}}"{% endif %} {% endcomment %}>
            {% if menim_a and menim_a != '&nbsp' %}{{ menim_a }}{% else %}About us{% endif %}
          </a>
          {% assign about_menu = linklists.about-us %}
          <div class="main-header__accordeon-content main-header__accordeon-content--row">
            <ul class="main-header__list" style="width: 100%;">
              {% assign cb_drop = shop.metafields.airf.b_drop %}
                {% if cb_drop and b_drop != blank %}
                  {% assign separator = "###" %}
                  {% assign b_drop_childs_keys = b_drop | split: separator %}
                    {% for b_drop_child_key in b_drop_childs_keys %}

                      {% if b_drop_child_key contains "bdrop_ttl" %}
                        {% assign cdrop_title =  shop.metafields.airf[b_drop_child_key] %}
                      {% endif %}

                      {% if b_drop_child_key contains "bdrop_url" %}
                        {% assign cdrop_url = shop.metafields.airf[b_drop_child_key] %}
                      {% endif %}
                      {% if cdrop_title != blank and cdrop_url != blank %}
                        <li><a class="main-header__link" href="{{cdrop_url}}">{{cdrop_title}}</a></li>
                        {% assign cdrop_title = '' %}
                        {% assign cdrop_url = '' %}
                      {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
          </div>
        </li>
          {% endcomment %}
          <li class="main-header__item">
              <a class="main-header__item-btn main-header__btn-accordeon" type="button" id="buttonwishlist_mob" href="#wishlistpopup">
                  <span class="iswish"></span>
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="normal-wish">
                      <path d="M0.333008 0.333344H21.6663V21.6667H0.333008V0.333344Z" fill="white"/>
                      <path d="M18.9995 8.62858C18.9995 6.52349 17.2157 4.82915 14.9995 4.82915C12.7833 4.82915 10.9995 6.52349 10.9995 8.62858C10.9995 8.67993 10.9995 8.67993 10.9995 8.73127C10.9995 8.67993 10.9995 8.62858 10.9995 8.57724C10.9995 6.47215 9.21573 4.7778 6.99951 4.7778C4.7833 4.7778 2.99951 6.47215 2.99951 8.57724C2.99951 9.09068 3.10762 9.60412 3.32384 10.0662C4.83735 13.917 10.9995 19 10.9995 19C10.9995 19 18.9995 12.428 18.9995 8.83396C18.9995 8.78261 18.9995 8.67993 18.9995 8.62858Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"  class="hover-wish">
                      <path d="M14.5 0C11.605 0 10 2.09 10 2.09C10 2.09 8.395 0 5.5 0C2.462 0 0 2.462 0 5.5C0 9.671 4.912 13.713 6.281 14.99C7.858 16.46 10 18.35 10 18.35C10 18.35 12.142 16.46 13.719 14.99C15.088 13.713 20 9.671 20 5.5C20 2.462 17.538 0 14.5 0Z" fill="#DC005C"/>
                  </svg>
                  <span>wishlist</span>
              </a>
          </li>
        <li class="main-header__item main-header__item--account">
          <a class="main-header__btn-accordeon"{% if menim_surl and menim_surl != '&nbsp' %} href="{{menim_surl}}"{% endif %}>
            {% assign mobile_acc = shop.metafields.airf.mobile_acc %}
            {% if mobile_acc and mobile_acc != '&nbsp' %}{{ mobile_acc }}{% else %}Account{% endif %}
          </a>
          <div class="main-header__accordeon-content">
            <b class="main-header__block-title">
              {% if menim_s and menim_s != '&nbsp' %}{{ menim_s }}{% else %}Sign in{% endif %}
            </b>

            {% form 'customer_login', id: "customer_login_mobile", class: "customer_login" %}

              <label class="main-header__form-label" for="CustomerEmail">
                <input id="CustomerEmail1" name="customer[email]" class="main-header__form-field" type="email" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
              </label>

              {% if form.password_needed %}
                <label class="main-header__form-label">
                  <input id="CustomerPassword1" name="customer[password]" class="main-header__form-field" type="password" placeholder="{{ 'customer.login.password' | t }}">
                </label>
              {% endif %}

              <button class="main-header__form-btn-submit" type="submit">{{ 'customer.login.sign_in' | t }}</button>
              <a class="main-header__form-link" href="/account/login#recover">{{ 'customer.login.forgot_password' | t }}</a>

            {% endform %}

            <b class="main-header__block-title main-header__block-title--no-mb">
              {% if create_acc and create_acc != '&nbsp' %}{{ create_acc }}{% else %}I’m new here{% endif %}
            </b>
            <a class="main-header__form-link" href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
          </div>
        </li>
        {% comment %}<li class="main-header__item main-header__item--sign-up">
          <button class="main-header__btn-accordeon" type="button">Sign up</button>
          <div class="main-header__accordeon-content"><b class="main-header__block-title">Let’s stay in touch</b>
            <p class="main-header__text">Sign to&nbsp;receive special treats and get notified when something new drops</p>

            {% form 'customer', id: 'newsletter-header' %}
              {% if form.context == 'footer' %}
                {% if form.errors %}
                  {{ form.errors | default_errors }}
                {% endif %}
              {% endif %}

              <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
              <input type="hidden" name="contact[tags]" value="prospect,newsletter">
              <input type="hidden" name="contact[context]" value="header">

              <label class="main-header__form-label">
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-newsletter" class="main-header__form-field" autocorrect="off" autocapitalize="off">
              </label>
              <button class="main-header__form-btn-submit" type="submit">Sign up</button>

            {% endform %}
          </div>
        </li>{% endcomment %}
        <li class="main-header__item main-header__item--help">
          <a class="main-header__btn-accordeon"{% if menim_hurl and menim_hurl != '&nbsp' %} href="{{menim_hurl}}"{% endif %}>
            {% assign mobile_cus = shop.metafields.airf.mobile_cus %}
            {% if mobile_cus and mobile_cus != '&nbsp' %}{{ mobile_cus }}{% else %}Customer service{% endif %}
          </a>
          <div class="main-header__accordeon-content">

            {% assign help_menu = linklists.need-help %}
            <b class="main-header__block-title">{{ help_menu.title }}</b>
            <ul class="main-header__list">
              {% for link in help_menu.links %}
                <li><a class="main-header__link" href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>

            <ul class="main-header__help-list">

              <li class="help-call">
                <a class="main-header__help-text" href="tel:{{ hlp_ph_num }}">
                  <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Customer-service" transform="translate(-103.000000, -803.000000)" stroke="#000000" stroke-width="0.75">
                              <g id="Group-7" transform="translate(70.000000, 804.000000)">
                                  <path d="M45.3545634,14.9995211 C44.7235051,15.0011611 44.1289077,14.8300774 43.544078,14.6140795 C42.7011135,14.3027741 41.8441685,14.0249401 41.0589152,13.5755378 C39.8576787,12.8881091 38.8182051,11.9970573 37.8479254,11.019979 C36.9834497,10.1494273 36.1948784,9.21737503 35.5538659,8.1667941 C34.9933436,7.24812284 34.6659031,6.23034228 34.3054314,5.22724735 C34.0918849,4.63307611 33.9594622,4.02149831 34.0112084,3.38409022 C34.0985955,2.30738081 34.5544696,1.39403961 35.2850687,0.616708129 C35.4271845,0.465453698 35.6339832,0.345359618 35.8334374,0.283896198 C36.216837,0.165814868 36.6150744,0.0936913279 37.0095465,0.0145604363 C37.2919513,-0.0420947474 37.5046777,0.0678610368 37.6451159,0.322138447 C37.8850575,0.756556978 38.1233214,1.19201916 38.3720241,1.62140581 C38.6454442,2.09354477 38.9297504,2.55938456 39.2095456,3.0277962 C39.2445526,3.08638959 39.2829522,3.1430075 39.3162443,3.20249544 C39.5177863,3.56244223 39.5149902,3.74478246 39.2334055,4.04136489 C38.9823541,4.3057806 38.6988308,4.5396696 38.4264546,4.78343598 C38.2276341,4.96130344 38.0147214,5.12422437 37.8238045,5.30999373 C37.4656443,5.65857221 37.4337689,5.83267508 37.6811667,6.262099 C37.9721463,6.7672247 38.2695754,7.27030036 38.5949655,7.75362126 C39.4917267,9.08561445 40.6636976,10.1236716 42.0543598,10.9189315 C42.3499994,11.088077 42.6485843,11.252377 42.9495925,11.4116825 C43.1862906,11.5369203 43.4010674,11.4737423 43.5741639,11.2896875 C43.8162305,11.0322791 44.0427136,10.7603715 44.279971,10.498304 C44.5087655,10.2456293 44.7298801,9.9838973 44.977949,9.75123831 C45.2477902,9.49822819 45.4499659,9.48652442 45.7727463,9.67281561 C46.5299268,10.1098433 47.2830437,10.5540646 48.0381366,10.9947451 C48.2790847,11.1353394 48.5227172,11.2714236 48.7624724,11.4140307 C48.9398562,11.5195137 49.0137848,11.6808319 48.997903,11.8857224 C48.9581985,12.3966254 48.8604846,12.8969801 48.6428371,13.3610308 C48.5587308,13.5402774 48.4178453,13.7087893 48.2649925,13.8372325 C47.4562893,14.5169084 46.5430125,14.9584088 45.4663324,14.9993347 C45.4291258,15.0007138 45.3918073,14.9995211 45.3545634,14.9995211" id="Fill-1"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
                  {% assign hlp_ph_txt = shop.metafields.airf.hlp_ph_txt %}
                  {% if hlp_ph_txt and hlp_ph_txt != '&nbsp' %}
                    <b class="main-header__help-item-title">{{ hlp_ph_txt }}</b>
                  {% endif %}
                  {% assign hlp_ph_num = shop.metafields.airf.hlp_ph_num %}
                  {% if hlp_ph_num and hlp_ph_num != '&nbsp' %}
                    {{ hlp_ph_num }}
                  {% endif %}
                </a>
              </li>

              <li class="help--chat">
                <a href="javascript:$zopim.livechat.window.show();">
                  <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs></defs>
                      <g id="Navigation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Customer-service" transform="translate(-248.000000, -797.000000)">
                              <g id="Group-3" transform="translate(214.000000, 798.000000)">
                                  <g id="Group" transform="translate(35.000000, 0.000000)">
                                      <g id="Group-4">
                                          <path d="M8,0 C3.58171429,0 0,3.31639506 0,7.40740741 C0,9.73851852 1.16332919,11.8178272 2.98136646,13.1756543 L2.98136646,16 L5.70529193,14.505037 C6.43224845,14.7062222 7.20238509,14.8148148 8,14.8148148 C12.4182857,14.8148148 16,11.4984198 16,7.40740741 C16,3.31639506 12.4182857,0 8,0 Z" id="Shape" stroke="#000000" stroke-width="0.75" fill-rule="nonzero"></path>
                                          <polygon id="Path" fill="#000000" points="8.78947368 9 6.8277512 7.12765957 3 9 7.21052632 5 9.22009569 6.87234043 13 5"></polygon>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </svg>
                  {% assign hlp_c_txt = shop.metafields.airf.hlp_c_txt %}
                  {% if hlp_c_txt and hlp_c_txt != '&nbsp' %}
                    <b class="main-header__help-item-title">{{ hlp_c_txt }}</b>
                  {% endif %}

                  {% assign hlp_c_time = shop.metafields.airf.hlp_c_time %}
                  {% if hlp_c_time and hlp_c_time != '&nbsp' %}
                    <span class="main-header__help-text">{{ hlp_c_time | newline_to_br }}</span>
                  {% endif %}
                </a>
              </li>
            </ul>
          </div>
        </li>
        {% comment %}{% assign curr_url = shop.metafields.airf.curr_url %}
        {% oldif curr_url and curr_url != '&nbsp' %}
        {% endcomment %}
        <li class="main-header__item main-header__item--search" style="display:none !important;">
          <label class="main-header__search">
            <input class="main-header__search-field" id="searchFieldMobile" type="text" placeholder="Search the site" required>
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#2C2C2C" fill-rule="nonzero">
                  <path d="M15.7,14.3 L12.595,11.195 C13.473,10.024 14,8.576 14,7 C14,3.134 10.866,0 7,0 C3.134,0 0,3.134 0,7 C0,10.866 3.134,14 7,14 C8.576,14 10.024,13.473 11.194,12.595 L14.3,15.7 C14.484,15.884 14.68,16 15,16 C15.553,16 16,15.553 16,15 C16,14.781 15.946,14.546 15.7,14.3 Z M2,7 C2,4.238 4.238,2 7,2 C9.762,2 12,4.238 12,7 C12,9.762 9.762,12 7,12 C4.238,12 2,9.762 2,7 Z"></path>
                </g>
              </g>
            </svg>
          </label>
        </li>
        <li class="main-header__item main-header__item--info">
            <svg width="144" height="28" viewBox="0 0 144 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.1161 19.9892V14.0965C12.1161 12.7485 12 11.5545 11.7677 10.5532C11.5355 9.55178 10.9935 8.70447 10.1419 7.97269C9.29032 7.24092 7.97419 6.89429 6.27097 6.89429C4.52903 6.89429 3.09677 7.27943 2.05161 8.08823C0.967742 8.89704 0.425806 9.93693 0.425806 11.1309C0.425806 11.4005 0.503226 11.8241 0.658065 12.3633L0.696774 12.4404L3.63871 12.1708V12.0937C3.6 11.9012 3.56129 11.7086 3.52258 11.5545C3.48387 11.362 3.48387 11.1694 3.48387 10.9768C3.48387 10.245 3.71613 9.62881 4.14194 9.20515C4.60645 8.74298 5.22581 8.51189 6.07742 8.51189C7.12258 8.51189 7.85807 8.89704 8.36129 9.70584C8.86452 10.5146 9.09677 11.6316 9.09677 13.1336C9.09677 13.3262 9.09677 13.5188 9.09677 13.6728L0.503226 14.6357C0.154839 15.406 0 16.3303 0 17.4087C0 19.1419 0.387097 20.4514 1.16129 21.2987C1.93548 22.146 3.05806 22.5697 4.52903 22.5697C5.92258 22.5697 6.96774 22.146 7.70323 21.2987C8.43871 20.4514 8.94194 19.373 9.2129 18.102H9.29032V22.3386H11.8839H13.6645V21.4528C13.1226 21.4528 12.6968 21.3372 12.4645 21.1446C12.2323 20.9521 12.1161 20.5669 12.1161 19.9892ZM7.2 19.8737C6.61936 20.4129 5.96129 20.721 5.26452 20.721C4.52903 20.721 3.9871 20.4514 3.63871 19.9122C3.29032 19.373 3.09677 18.6797 3.09677 17.7554C3.09677 16.9466 3.2129 16.2533 3.40645 15.7911L9.05806 14.6357C8.98065 15.6756 8.82581 16.5614 8.59355 17.3317C8.24516 18.4871 7.78065 19.3345 7.2 19.8737Z" fill="black"/>
                <path d="M26.5916 7.3564C26.0496 7.12531 25.469 7.00977 24.8496 7.00977C23.5335 7.00977 22.5271 7.54897 21.8303 8.62737C21.1335 9.70578 20.669 11.0153 20.398 12.5944H20.3206V7.20234H17.34H15.5593V8.08817C16.1013 8.08817 16.5271 8.20371 16.7593 8.39629C16.9916 8.58886 17.1077 8.974 17.1077 9.55172V19.9891C17.1077 20.5668 16.9916 20.952 16.7593 21.1446C16.4884 21.3371 16.1013 21.4527 15.5593 21.4527V22.3385H17.34H20.0884H21.869V21.4527C21.3271 21.4527 20.9013 21.3371 20.669 21.1446C20.4367 20.952 20.3206 20.5668 20.3206 19.9891V17.8323C20.3206 14.7897 20.669 12.6329 21.4045 11.3619C22.14 10.0909 23.069 9.43618 24.2303 9.43618C24.8884 9.43618 25.3916 9.62875 25.7787 10.0139C26.1658 10.399 26.3206 10.8227 26.3206 11.3234L26.7077 11.4389L27.8303 8.35777C27.5206 7.8956 27.1335 7.58748 26.5916 7.3564Z" fill="black"/>
                <path d="M39.3275 7.85715C38.2049 7.2024 36.9275 6.89429 35.3791 6.89429C33.8694 6.89429 32.5533 7.2024 31.4694 7.85715C30.3855 8.51189 29.5339 9.39773 28.992 10.5917C28.4113 11.7471 28.1404 13.1336 28.1404 14.7127C28.1404 17.1391 28.7984 19.0263 30.0759 20.4514C31.3533 21.8379 33.1339 22.5697 35.4178 22.5697C36.9275 22.5697 38.2436 22.2616 39.3275 21.6068C40.4114 20.9521 41.263 20.0662 41.8049 18.8723C42.3855 17.6783 42.6565 16.2918 42.6565 14.7127C42.6565 13.1336 42.3855 11.7471 41.8049 10.5532C41.2243 9.39773 40.4114 8.47338 39.3275 7.85715ZM38.2823 19.2574C37.663 20.3743 36.6952 20.9521 35.3791 20.9521C34.063 20.9521 33.0952 20.3743 32.4759 19.2574C31.8565 18.1405 31.5468 16.6384 31.5468 14.7127C31.5468 12.8255 31.8565 11.3234 32.4759 10.168C33.0952 9.0511 34.063 8.51189 35.3791 8.51189C36.6952 8.51189 37.663 9.08961 38.2823 10.2065C38.9017 11.3234 39.2114 12.864 39.2114 14.7512C39.2114 16.6384 38.9017 18.1405 38.2823 19.2574Z" fill="black"/>
                <path d="M68.2068 19.9892V12.4404C68.2068 10.6302 67.8197 9.24367 67.0455 8.31932C66.2713 7.35646 65.11 6.89429 63.5229 6.89429C62.1294 6.89429 61.0455 7.31795 60.2713 8.16526C59.4971 9.01258 59.0326 10.0525 58.8391 11.2464H58.7229C58.6068 10.014 58.2197 9.01258 57.6778 8.31932C56.9423 7.39498 55.781 6.89429 54.31 6.89429C52.8391 6.89429 51.7552 7.31795 50.981 8.16526C50.2455 9.01258 49.781 10.014 49.6649 11.0924H49.5875V7.2024H46.6068H44.8262V8.08823C45.3681 8.08823 45.7939 8.20378 46.0262 8.39635C46.2584 8.58892 46.3746 8.97407 46.3746 9.55178V19.9892C46.3746 20.5669 46.2584 20.9521 46.0262 21.1446C45.7939 21.3372 45.4068 21.4527 44.8262 21.4527V22.3386H46.6068H49.3552H51.1359V21.4527C50.5939 21.4527 50.1681 21.3372 49.9358 21.1446C49.7036 20.9521 49.5875 20.5669 49.5875 19.9892V16.2918C49.5875 13.4032 49.9359 11.439 50.6326 10.3606C51.3294 9.28218 52.181 8.74298 53.1875 8.74298C54.1165 8.74298 54.7746 9.08961 55.1229 9.78287C55.4713 10.4761 55.6262 11.5545 55.6262 13.0951V20.0277C55.6262 20.6054 55.51 20.9906 55.2778 21.1831C55.0455 21.3757 54.6584 21.4913 54.0778 21.4913V22.3386H55.8584H58.6068H60.3875V21.4527C59.8455 21.4527 59.4197 21.3372 59.1875 21.1446C58.9552 20.9521 58.8391 20.5669 58.8391 19.9892V16.2918C58.8391 13.5573 59.1875 11.6316 59.8842 10.4761C60.581 9.3207 61.51 8.74298 62.5939 8.74298C63.523 8.74298 64.181 9.08961 64.5294 9.74436C64.8778 10.3991 65.0326 11.516 65.0326 13.0566V19.9892C65.0326 20.5669 64.9165 20.9521 64.6842 21.1446C64.452 21.3372 64.0649 21.4527 63.4842 21.4527V22.3386H65.2649H68.0133H69.7939V21.4527C69.252 21.4527 68.8262 21.3372 68.5939 21.1446C68.3617 20.9521 68.2068 20.5669 68.2068 19.9892Z" fill="black"/>
                <path d="M83.8828 19.9892V14.0965C83.8828 12.7485 83.7667 11.5545 83.5345 10.5532C83.3022 9.55178 82.7603 8.70447 81.9086 7.97269C81.057 7.24092 79.7409 6.89429 78.0377 6.89429C76.2957 6.89429 74.8635 7.27943 73.8183 8.08823C72.7345 8.89704 72.2312 9.89841 72.2312 11.1309C72.2312 11.4005 72.3086 11.8241 72.4635 12.3633L72.5022 12.4404L75.4441 12.1708V12.0937C75.3667 11.9012 75.328 11.7086 75.2893 11.5545C75.2506 11.362 75.2506 11.1694 75.2506 10.9768C75.2506 10.245 75.4828 9.62881 75.9086 9.20515C76.3732 8.74298 76.9925 8.51189 77.8441 8.51189C78.8893 8.51189 79.6248 8.89704 80.128 9.70584C80.6312 10.5146 80.8635 11.6316 80.8635 13.1336C80.8635 13.3262 80.8635 13.5188 80.8635 13.6728L72.3086 14.6357C71.9603 15.406 71.8054 16.3303 71.8054 17.4087C71.8054 19.1419 72.1925 20.4514 72.9667 21.2987C73.7409 22.146 74.8635 22.5697 76.3345 22.5697C77.728 22.5697 78.7732 22.146 79.5086 21.2987C80.2441 20.4514 80.7474 19.373 81.0183 18.102H81.1344V22.3386H83.728H85.5086V21.4528C84.9667 21.4528 84.5409 21.3372 84.3086 21.1446C84.0377 20.9521 83.8828 20.5669 83.8828 19.9892ZM79.0054 19.8737C78.4248 20.4129 77.7667 20.721 77.0699 20.721C76.3345 20.721 75.7925 20.4514 75.4441 19.9122C75.057 19.373 74.9022 18.6797 74.9022 17.7554C74.9022 16.9466 75.0183 16.2533 75.2119 15.7911L80.8635 14.6357C80.7861 15.6371 80.6312 16.5614 80.399 17.3317C80.0506 18.4871 79.5861 19.3345 79.0054 19.8737Z" fill="black"/>
                <path d="M100.801 19.9891V12.4403C100.801 10.6301 100.414 9.24356 99.6394 8.31921C98.8652 7.35635 97.7039 6.89417 96.1168 6.89417C94.7233 6.89417 93.6394 7.31783 92.8652 8.16515C92.091 9.01247 91.6265 10.0524 91.4717 11.2463H91.3555V1.00146H88.3749H86.5942V1.8873C87.1362 1.8873 87.562 2.00284 87.7942 2.19541C88.0265 2.38798 88.1426 2.77313 88.1426 3.35085V19.9891C88.1426 20.5668 88.0265 20.9519 87.7942 21.1445C87.562 21.3371 87.1749 21.4526 86.5942 21.4526V22.3385H88.3749H91.1233H92.9039V21.4526C92.362 21.4526 91.9362 21.3371 91.7039 21.1445C91.4717 20.9519 91.3555 20.5668 91.3555 19.9891V16.2917C91.3555 13.5572 91.7039 11.6315 92.4007 10.476C93.0975 9.32059 94.0265 8.74287 95.1104 8.74287C96.0394 8.74287 96.6975 9.0895 97.0459 9.74424C97.3942 10.399 97.5491 11.5159 97.5491 13.0565V19.9891C97.5491 20.5668 97.433 20.9519 97.2007 21.1445C96.9684 21.3371 96.5813 21.4526 96.0007 21.4526V22.3385H97.7813H100.53H102.31V21.4526C101.768 21.4526 101.343 21.3371 101.11 21.1445C100.917 20.9519 100.801 20.5668 100.801 19.9891Z" fill="black"/>
                <path d="M108.619 19.9894V7.20264H105.639H103.858V8.08847C104.4 8.08847 104.826 8.20401 105.058 8.39658C105.29 8.58916 105.407 8.9743 105.407 9.55202V19.9894C105.407 20.5671 105.29 20.9523 105.058 21.1449C104.826 21.3374 104.439 21.453 103.858 21.453V22.3388H105.639H108.387H110.168V21.453C109.626 21.453 109.2 21.3374 108.968 21.1449C108.736 20.9523 108.619 20.5671 108.619 19.9894Z" fill="black"/>
                <path d="M109.354 2.3879L106.954 0L104.554 2.3879L106.954 4.77579L109.354 2.3879Z" fill="black"/>
                <path d="M118.492 6.89429C117.253 6.89429 116.13 7.12537 115.24 7.58755C114.311 8.04972 113.614 8.70447 113.15 9.51327C112.685 10.3221 112.414 11.2079 112.414 12.2093C112.414 13.2107 112.646 14.0965 113.15 14.9053C113.614 15.7141 114.35 16.3688 115.24 16.831C115.279 16.831 115.279 16.8695 115.317 16.8695L112.685 17.7554C112.53 18.7567 112.724 19.5655 113.304 20.2203C113.808 20.798 114.466 21.1446 115.279 21.2602L111.988 22.9933C111.872 23.9562 112.027 24.8035 112.492 25.5353C112.956 26.2671 113.769 26.8833 114.853 27.3069C115.937 27.7306 117.292 27.9617 118.956 27.9617C121.395 27.9617 123.175 27.4995 124.298 26.5752C125.459 25.6508 126.001 24.4954 126.001 23.1089C126.001 21.9534 125.614 21.0291 124.801 20.4129C123.988 19.7581 122.904 19.373 121.511 19.2574L117.679 19.0263C116.866 18.9493 116.246 18.8723 115.859 18.7182C115.472 18.6027 115.201 18.4101 115.008 18.179L116.169 17.1776C116.866 17.3702 117.601 17.4858 118.453 17.4858C119.692 17.4858 120.814 17.2547 121.743 16.7925C122.711 16.3688 123.408 15.7526 123.872 14.9438C124.337 14.1735 124.608 13.2877 124.608 12.3248C124.608 11.4005 124.375 10.5917 123.95 9.8599C123.679 9.39773 123.408 9.0511 123.098 8.78149L126.117 7.78012V7.2024H120.621C120.001 7.00983 119.266 6.89429 118.492 6.89429ZM120.388 21.6453C122.246 21.7609 123.175 22.5312 123.175 23.8406C123.175 24.6109 122.827 25.2657 122.13 25.7664C121.434 26.2671 120.388 26.5367 118.995 26.5367C117.795 26.5367 116.866 26.3826 116.13 26.036C115.395 25.7279 114.93 25.3042 114.698 24.8035C114.466 24.3028 114.427 23.7636 114.543 23.1474L116.44 21.3372L120.388 21.6453ZM120.698 14.9438C120.234 15.5986 119.537 15.9452 118.569 15.9452C117.601 15.9452 116.904 15.5986 116.44 14.9438C115.975 14.2891 115.743 13.3647 115.743 12.1708C115.743 11.0153 115.975 10.091 116.44 9.43624C116.904 8.7815 117.601 8.43487 118.569 8.43487C119.537 8.43487 120.234 8.7815 120.698 9.43624C121.163 10.091 121.395 11.0153 121.395 12.1708C121.395 13.3647 121.163 14.2891 120.698 14.9438Z" fill="black"/>
                <path d="M142.838 21.1445C142.605 20.9519 142.489 20.5668 142.489 19.9891V12.4403C142.489 10.6301 142.102 9.24356 141.328 8.31921C140.554 7.35635 139.392 6.89417 137.805 6.89417C136.412 6.89417 135.328 7.31783 134.554 8.16515C133.779 9.01247 133.315 10.0524 133.121 11.2463H133.044V1.00146H130.063H128.283V1.8873C128.825 1.8873 129.25 2.00284 129.483 2.19541C129.715 2.38798 129.831 2.77313 129.831 3.35085V19.9891C129.831 20.5668 129.715 20.9519 129.483 21.1445C129.25 21.3371 128.863 21.4526 128.283 21.4526V22.3385H130.063H132.812H134.592V21.4526C134.05 21.4526 133.625 21.3371 133.392 21.1445C133.16 20.9519 133.044 20.5668 133.044 19.9891V16.2917C133.044 13.5572 133.392 11.6315 134.089 10.476C134.786 9.32059 135.715 8.74287 136.799 8.74287C137.728 8.74287 138.386 9.0895 138.734 9.74424C139.083 10.399 139.238 11.5159 139.238 13.0565V19.9891C139.238 20.5668 139.121 20.9519 138.889 21.1445C138.657 21.3371 138.27 21.4526 137.689 21.4526V22.3385H139.47H142.218H143.999V21.4526C143.457 21.4526 143.07 21.3371 142.838 21.1445Z" fill="black"/>
            </svg>
            <b class="main-header__info-title">
            {% assign mobile_cal = shop.metafields.airf.mobile_cal %}
            {% if mobile_cal and mobile_cal != '&nbsp' %}{{ mobile_cal }}{% else %}Call to free{% endif %}
          </b>

          {% assign hlp_ph_num = shop.metafields.airf.hlp_ph_num %}
          {% if hlp_ph_num and hlp_ph_num != '&nbsp' %}
            <a class="main-header__info-phone" href="tel:{{ hlp_ph_num }}">{{ hlp_ph_num }}</a>
          {% endif %}

          {% assign hlp_c_time = shop.metafields.airf.hlp_c_time %}
          {% if hlp_c_time and hlp_c_time != '&nbsp' %}
            <span class="main-header__info-hours">{{ hlp_c_time | newline_to_br }}</span>
          {% endif %}

          {% assign hlp_e_addy = shop.metafields.airf.hlp_e_addy %}
          {% if hlp_e_addy and hlp_e_addy != '&nbsp' %}
            <a class="main-header__info-email" href="mailto:{{ hlp_e_addy }}">{{ hlp_e_addy }}</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="main-header__menu-lvl-2">
  {% comment %}
    <div id="womenMenu">
      {% assign women_menu = shop.metafields.airf.women_menu %}
      {% if women_menu and women_menu != blank %}
        {% assign separator = "###" %}
        {% assign women_menu_namespaces = women_menu | split: separator %}
        {% for namespace in women_menu_namespaces %}
          {% assign custom_object = shop.metafields[namespace] %}

          {% assign hdp_panel = custom_object['hdp_panel'] %}
          {% if hdp_panel and hdp_panel != blank %}
            {% assign hdp_panel_childs_keys = hdp_panel | split: separator %}
            <ul class="main-header__submenu">
              {% for hdp_panel_child_key in hdp_panel_childs_keys %}

                {% if hdp_panel_child_key contains "hdp_title" %}
                  <li class="main-header__item">
                    <button class="main-header__submenu-btn{% if forloop.first == true %} active{% endif %}" type="button" data-id="women-{{forloop.index}}">{{ custom_object[hdp_panel_child_key] }}</button>
                  </li>
                {% endif %}

              {% endfor %}
            </ul>
          {% endif %}

        {% endfor %}
      {% endif %}

      <div class="main-header__tab">
        <div class="page__container">
          <div class="main-header__tab-content main-header__tab-content__women"></div>
        </div>
      </div>

      <div id="main-header__content-holder--women" class="hide">
        {% include 'header-menu-women-custom' %}
      </div>

    </div>

    <div id="menMenu">
      {% assign men_menu = shop.metafields.airf.men_menu %}
      {% if men_menu and men_menu != blank %}
        {% assign separator = "###" %}
        {% assign men_menu_namespaces = men_menu | split: separator %}
        {% for namespace in men_menu_namespaces %}
          {% assign custom_object = shop.metafields[namespace] %}

          {% assign hdp_panel = custom_object['hdp_panel'] %}
          {% if hdp_panel and hdp_panel != blank %}
            {% assign hdp_panel_childs_keys = hdp_panel | split: separator %}
            <ul class="main-header__submenu">
              {% for hdp_panel_child_key in hdp_panel_childs_keys %}

                {% if hdp_panel_child_key contains "hdp_title" %}
                  <li class="main-header__item">
                    <button class="main-header__submenu-btn{% if forloop.first == true %} active{% endif %}" type="button" data-id="men-{{forloop.index}}">{{ custom_object[hdp_panel_child_key] }}</button>
                  </li>
                {% endif %}

              {% endfor %}
            </ul>
          {% endif %}

        {% endfor %}
      {% endif %}

      <div class="main-header__tab">
        <div class="page__container">
          <div class="main-header__tab-content main-header__tab-content__men"></div>
        </div>
      </div>

      <div id="main-header__content-holder--men" class="hide">
        {% include 'header-menu-men-custom' %}
      </div>
    </div>
  {% endcomment %}
  <div id="search">
    <div class="page__container">
      <button class="main-header__search-btn" type="button">Close</button>
      <label class="main-header__search"><span class="main-header__search-title">
        {% assign search_tit = shop.metafields.airf.search_tit %}
        {% if search_tit and search_tit != '&nbsp' %}{{ search_tit }}{% else %}Search Aromahigh{% endif %}
      </span>
        <input class="main-header__search-field" type="text" placeholder="Search">
      </label>
    </div>
  </div>
</div>


{% comment %}{% include 'header-menu-women-custom' %}
{% include 'header-menu-men-custom' %}  {% endcomment %}
