<svg width="840px" height="600px" viewBox="0 0 840 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon--wide icon-maestro icon--full-color">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <title>Maestro</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="0" y="0" width="840" height="600" rx="60"></rect>
        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="840" height="600" fill="white">
            <use xlink:href="#path-1"></use>
        </mask>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="GoPro-Credit_Card-Logos" transform="translate(-3220.000000, -100.000000)">
            <g id="Maestro" transform="translate(3220.000000, 100.000000)">
                <use id="CC-BG" stroke="#666666" mask="url(#mask-2)" stroke-width="10" fill="#FFFFFF" xlink:href="#path-1"></use>
                <g id="Maestro-Logo" transform="translate(122.000000, 120.000000)">
                    <path d="M357,180 C357,127.094314 334.360213,79.5229312 298,47 C266.648148,17.6405491 224.615131,0 178,0 C79.9201372,0 0,80.5923456 0,180 C0,279.414039 79.9201372,360 178,360 C224.615131,360 266.648148,342.369028 298,313 C334.360213,280.486646 357,232.908878 357,180 Z" id="Fill-74" fill="#0092C7"></path>
                    <path d="M299,47 C292.209282,52.4874969 286.184717,58.8624836 281,66 L316,66 C320.608142,71.6858795 325.159257,78.048097 329,85 L267,85 C263.240976,90.826801 259.799734,97.1858263 257,104 L340,104 C342.438821,109.9358 344.974305,116.298017 347,123 L249,123 C247.122313,129.032029 245.39053,135.394247 244,142 L352,142 C354.953588,154.17444 357.344118,166.924414 357,180 C357.344118,199.986876 353.11018,219.217182 347,237 L249,237 C251.35131,243.708367 253.877226,250.073777 257,256 L340,256 C336.513123,262.817366 333.084638,269.182776 329,275 L267,275 C271.159979,281.958288 275.711094,288.323697 281,294 L316,294 C310.134519,301.143901 304.122711,307.52208 298,313 C329.346792,342.369028 372.375234,360 418,360 C517.079624,360 597,279.414039 597,180 C597,80.5923456 517.079624,0 418,0 C372.375234,0 330.346792,17.6405491 299,47 Z" id="Fill-75" fill="#D82331"></path>
                    <path d="M541,221 L540,221 L540,216 L542,216 C542.501157,216 542.948342,216.006262 543,216 C543.722436,216.525986 543.947571,217.00814 544,218 C543.947571,218.066374 543.623747,218.598622 543,219 L544,221 L543,221 L542,219 L541,219 L541,221 L541,218 L542,218 C542.013878,218.163431 542.269854,218.188478 542,218 C542.661527,217.950532 542.760216,217.709455 543,217 C542.760216,217.302442 542.643022,217.08015 542,217 C542.285274,216.860989 541.964534,216.892298 542,217 L541,217 L541,221 L541,221 Z M542,223 C543.985075,223 546,220.986628 546,219 C546,216.013372 543.985075,214 542,214 C539.014925,214 537,216.013372 537,219 C537,220.986628 539.014925,223 542,223 L542,223 Z M536,219 C536,215.687895 538.688797,213 542,213 C545.314523,213 548,215.687895 548,219 C548,222.315399 545.314523,225 542,225 C538.688797,225 536,222.315399 536,219 L536,219 Z" id="Fill-77" fill="#FFFFFF"></path>
                    <polyline id="Fill-78" fill="#FFFFFF" points="157 225 134 225 148 155 117 225 97 225 93 155 80 225 60 225 77 134 112 134 114 190 138 134 174 134 157 225"></polyline>
                    <path d="M406,225 C399.723027,226.276688 394.927536,227 390,227 C378.26087,227 372,221.239108 372,211 C372,208.568346 372.228663,206.340801 373,204 L374,197 L375,191 L385,134 L408,134 L405,151 L416,151 L413,169 L401,169 L396,200 C395.249597,201.584865 395.127214,202.609023 395,203 C395.127214,207.140925 397.449275,208.817985 403,209 C405.339775,208.817985 407.31723,208.587549 409,208 L406,225" id="Fill-79" fill="#FFFFFF"></path>
                    <path d="M466,150 C464.875283,150.060631 464.12212,150 463,150 C455.971929,150 450.69658,153.277241 444,162 L446,151 L426,151 L412,225 L434,225 C442.331657,179.626005 445.760955,171.67702 456,172 C457.279549,171.67702 458.2186,171.740842 459,172 L462,172 L470,151 C468.131514,150.6797 465.660496,150.201038 466,150 Z" id="Fill-80" fill="#FFFFFF"></path>
                    <path d="M334,195 C342.691576,198.467189 344.096829,199.564546 344,203 C344.096829,207.552283 340.088194,209.632157 331,210 C324.502955,209.632157 318.273321,208.723009 311,207 L309,224 C309,224 316.390091,225.183362 319,225 C324.318137,225.792651 328.451046,226 331,226 C355.058437,226 366.004112,218.168572 366,201 C366.004112,191.0696 361.431464,185.101127 350,181 C340.760549,176.855 339.673948,176.022413 340,173 C339.673948,168.564214 343.408542,166.50986 351,167 C355.074369,166.50986 361.090507,166.927749 367,168 L370,150 C364.184612,149.653948 355.364342,149 350,149 C325.114766,149 316.421956,160.394647 316,174 C316.498432,183.445522 321.730688,189.898873 334,195 Z" id="Fill-81" fill="#FFFFFF"></path>
                    <path d="M212,191 C209.665245,191.061083 208.635394,191 207,191 C194.39339,191 188,194.828934 188,202 C188,207.029442 191.121535,210 196,210 C205.072495,210 211.616205,202.364636 212,191 L212,191 Z M229,225 L210,225 L211,217 C204.963022,223.120781 197.474976,226 187,226 C175.256296,226 167,217.75091 167,206 C167,187.735688 181.348103,177.225265 206,177 C208.533312,177.225265 211.746573,177.425918 215,178 C215.744023,175.362053 215.932101,174.311011 216,173 C215.932101,168.081196 212.055786,166.249835 202,166 C195.348741,166.249835 188.182659,167.052449 183,168 L180,169 L178,170 L181,153 C192.313994,150.079707 199.620338,149 208,149 C226.910743,149 237,156.522915 237,171 C237,174.37471 236.665285,177.148825 235,185 L231,212 L230,216 L229,220 L229,223 L229,225 L229,225 Z" id="Fill-82" fill="#FFFFFF"></path>
                    <path d="M290,179 C289.935392,177.492348 290,176.261358 290,175 C290,169.444285 286.055692,166 279,166 C272.197312,166 267.077142,170.619321 265,179 L290,179 L290,179 Z M302,223 C294.095132,225.032118 286.702503,226.018765 279,226 C253.984284,225.98704 241,214.654872 241,193 C241,167.641606 257.515855,149 280,149 C298.288873,149 310,159.440695 310,176 C310,181.245283 309.203477,186.543356 307,194 L263,194 C262.790821,195.153519 262.746036,195.664292 263,196 C262.746036,204.88992 269.351739,209.252106 282,209 C290.253268,209.252106 297.447566,207.808619 305,205 L302,223 L302,223 Z" id="Fill-83" fill="#FFFFFF"></path>
                    <path d="M517,182 C517,174.307833 513.833107,167 505,167 C493.122277,167 486,180.469839 486,192 C486,202.396522 490.876368,209.140991 499,209 C503.805692,208.997762 514.207964,202.396522 516,191 C516.751173,188.191444 517,185.244121 517,182 L517,182 Z M539,192 C536.088415,216.0978 518.994754,227 496,227 C471.150357,227 461,211.689242 461,193 C461,166.745477 478.182922,149 505,149 C527.767927,149 540,163.592421 540,182 C540,186.906601 539.993624,187.218093 539,192 L539,192 Z" id="Fill-84" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </g>
</svg>