<svg aria-hidden="true" focusable="false" role="presentation"  class="icon icon-master" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
<path style="fill:#E52836;" d="M496,248c0-80.8-65.6-147.2-147.2-147.2c-35.2,0-67.2,12-92.8,32.8c19.2,18.4,34.4,41.6,41.6,68h-12
	c-8-23.2-20.8-44-38.4-60.8c-17.6,16.8-30.4,37.6-38.4,60.8h-12c8-26.4,22.4-49.6,41.6-68c-25.6-20.8-56.8-32.8-92-32.8
	C65.6,100.8,0,167.2,0,248s65.6,147.2,147.2,147.2c35.2,0,67.2-12.8,92-32.8c-19.2-18.4-33.6-41.6-41.6-68h12
	c8,23.2,20.8,44,38.4,60.8c17.6-16.8,31.2-37.6,38.4-60.8h12c-8,26.4-22.4,49.6-41.6,68c25.6,20.8,57.6,32.8,92.8,32.8
	C430.4,395.2,496,328.8,496,248"/>
    <g>
        <path style="fill:#FFFFFF;" d="M388,282.4l10.4-54.4h12.8l1.6,5.6c2.4-2.4,6.4-5.6,14.4-5.6l-4,14.4c-4,0-10.4-0.8-15.2,15.2
		l-4.8,24.8H388"/>
        <path style="fill:#FFFFFF;" d="M192,214.4h14.4l-3.2,14.4h8l-2.4,11.2h-7.2l-4,21.6c-0.8,4,0,8,8,6.4l-1.6,12
		c-3.2,2.4-7.2,2.4-11.2,2.4c-3.2,0-14.4-2.4-12-16.8L192,214.4"/>
        <path style="fill:#FFFFFF;" d="M256,258.4c1.6-8.8,5.6-30.4-20-30.4c-24,0-27.2,24-27.2,27.2c-0.8,3.2-0.8,27.2,24.8,27.2
		c6.4,0,15.2-0.8,19.2-2.4l2.4-11.2c-2.4,0.8-10.4,1.6-16.8,1.6c-5.6,0-15.2,0-13.6-12H256"/>
        <path style="fill:#FFFFFF;" d="M177.6,240.8l3.2-11.2c-7.2-2.4-12.8-2.4-14.4-2.4c-2.4,0-20,0-22.4,12.8c-2.4,10.4,1.6,14.4,4.8,16
		c5.6,2.4,8.8,4.8,12,6.4c4,1.6,3.2,8-1.6,8c-2.4,0-12,0.8-19.2-1.6l-2.4,11.2c7.2,1.6,12,1.6,17.6,1.6c4,0,21.6,0.8,24-15.2
		c1.6-8-2.4-11.2-4.8-13.6c-3.2-1.6-7.2-4.8-10.4-5.6c-3.2-1.6-5.6-6.4,0-8C166.4,240,173.6,240,177.6,240.8"/>
        <polyline style="fill:#FFFFFF;" points="81.6,282.4 94.4,216.8 69.6,216.8 52,256.8 48.8,216.8 25.6,216.8 12.8,282.4 27.2,282.4
		36.8,235.2 40.8,282.4 54.4,282.4 75.2,236 66.4,282.4 81.6,282.4 	"/>
        <path style="fill:#FFFFFF;" d="M98.4,229.6l-2.4,12c4,0,13.6-1.6,18.4-1.6s11.2-0.8,8.8,7.2c-4,0-30.4-4-34.4,19.2
		c-1.6,11.2,8,16.8,15.2,16.8s9.6-1.6,12-3.2l1.6,3.2h13.6l5.6-29.6c1.6-7.2,4-24.8-20.8-24.8C112.8,228,108,228,98.4,229.6"/>
        <path style="fill:#FFFFFF;" d="M337.6,232c-4-2.4-6.4-2.4-11.2-2.4c-4.8,0-16,4.8-17.6,17.6c-2.4,16,8,23.2,23.2,18.4l4,13.6
		c-4.8,2.4-9.6,3.2-17.6,3.2c-15.2,0-32-13.6-24.8-41.6c5.6-20,23.2-28,33.6-27.2c12,0.8,16.8,4.8,20,8.8L337.6,232"/>
        <path style="fill:#FFFFFF;" d="M463.2,234.4c-3.2-2.4-4.8-6.4-11.2-6.4c-8,0-20.8-1.6-28,23.2c-4.8,16.8,4.8,31.2,15.2,31.2
		c4.8,0,9.6-2.4,12.8-4l1.6,4h16l12.8-68.8h-15.2L463.2,234.4"/>
        <path style="fill:#FFFFFF;" d="M348,229.6l-2.4,12c4,0,13.6-1.6,18.4-1.6s10.4-0.8,8.8,7.2c-4,0-30.4-4-34.4,19.2
		c-1.6,11.2,8,16.8,15.2,16.8s9.6-1.6,12-3.2l1.6,3.2h13.6l5.6-29.6c1.6-7.2,4-24.8-20.8-24.8C363.2,228,357.6,228,348,229.6"/>
    </g>
    <g>
        <path style="fill:#E52836;" d="M224.8,248h18.4c0.8-5.6-0.8-9.6-6.4-9.6C230.4,238.4,226.4,241.6,224.8,248"/>
        <path style="fill:#E52836;" d="M120.8,258.4c-2.4,0-8-1.6-12.8,1.6s-6.4,8.8-0.8,10.4c4.8,1.6,11.2-1.6,12.8-6.4L120.8,258.4"/>
        <path style="fill:#E52836;" d="M458.4,256.8c1.6-4.8,0.8-11.2-0.8-13.6c-4.8-6.4-15.2-1.6-18.4,10.4c-2.4,8,2.4,13.6,7.2,13.6
		C452,267.2,455.2,263.2,458.4,256.8"/>
        <path style="fill:#E52836;" d="M371.2,258.4c-2.4,0-8-1.6-12.8,1.6s-6.4,8.8-0.8,10.4c4.8,1.6,12-1.6,12.8-6.4L371.2,258.4"/>
    </g>
    <path style="fill:#FFFFFF;" d="M256,282.4l10.4-53.6h12.8l1.6,5.6c2.4-2.4,6.4-5.6,14.4-5.6l-4,14.4c-3.2,0-10.4-0.8-15.2,15.2
	l-4.8,24.8H256"/>
    <g>
        <path style="fill:#F7142F;" d="M147.2,100.8c-64.8,0-120,42.4-139.2,100.8h190.4c8-26.4,22.4-49.6,41.6-68
		C213.6,113.6,181.6,100.8,147.2,100.8z"/>
        <path style="fill:#F7142F;" d="M248,141.6c-17.6,16.8-30.4,36.8-38.4,60.8h76.8C278.4,179.2,265.6,158.4,248,141.6z"/>
        <path style="fill:#F7142F;" d="M348.8,100.8c-35.2,0-67.2,12-92.8,32.8c19.2,18.4,33.6,41.6,41.6,68H488
		C469.6,143.2,414.4,100.8,348.8,100.8z"/>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
</svg>
