<?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="11px" viewBox="0 0 14 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Watches-v2" transform="translate(-1852.000000, -572.000000)" fill="#000000" fill-rule="nonzero">
            <g id="iconfinder_mail-24_103176" transform="translate(1852.000000, 572.000000)">
                <path d="M7.27104,6.05 C6.17736,6.05 0.54264,1.59005 0.54264,1.59005 L0.54264,1.1 C0.54264,0.4928 1.0444,0 1.66376,0 L12.87832,0 C13.49824,0 14,0.4928 14,1.1 L13.99104,1.65 C13.99104,1.65 8.41736,6.05 7.27104,6.05 Z M7.27104,7.5625 C8.47,7.5625 13.99104,3.3 13.99104,3.3 L14,9.9 C14,10.5072 13.49824,11 12.87832,11 L1.66376,11 C1.04496,11 0.54264,10.5072 0.54264,9.9 L0.5516,3.3 C0.55104,3.3 6.17736,7.5625 7.27104,7.5625 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>