<svg aria-hidden="true" focusable="false" role="presentation"  class="icon icon-paypal" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
     y="0px"
     viewBox="0 0 488.8 488.8" style="enable-background:new 0 0 488.8 488.8;" xml:space="preserve">
<path style="fill:#32A6CE;" d="M381.6,200.4c-12,0-21.6,3.2-29.6,4.8l-2.4,18.4c4-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4
	c-28.8,0-48,5.6-52,24.8c-5.6,32,29.6,32.8,43.2,18.4l-1.6,8.8h25.6l11.2-52C418.4,206.8,399.2,199.6,381.6,200.4z M383.2,254
	c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-7.2-9.6c3.2-4.8,10.4-4.8,16-4.8c1.6,0,4,0,6.4,0C384,248.4,383.2,251.6,383.2,254z"/>
    <path style="fill:#1A80AD;" d="M349.6,223.6c4-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4c-28.8,0-48,5.6-52,24.8
	c-5.6,32,29.6,32.8,43.2,18.4l-1.6,8.8h25.6l11.2-52c4.8-21.6-15.2-27.2-32.8-27.2 M383.2,254c-1.6,6.4-7.2,8.8-13.6,9.6
	c-5.6,0-10.4-3.2-7.2-9.6c3.2-4.8,10.4-4.8,16-4.8c1.6,0,4,0,6.4,0C384,248.4,383.2,251.6,383.2,254z"/>
    <polygon style="fill:#32A6CE;" points="436,176.4 415.2,280.4 440.8,280.4 462.4,176.4 "/>
    <polygon style="fill:#1A80AD;" points="454.4,176.4 415.2,280.4 440.8,280.4 462.4,176.4 436,176.4 436,176.4 "/>
    <path style="fill:#32A6CE;" d="M316.8,176.4h-47.2l-20.8,104h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2
	C347.2,194,330.4,176.4,316.8,176.4z M316,212.4c-1.6,7.2-8.8,12-16,12h-12.8l5.6-24h13.6C313.6,200.4,317.6,205.2,316,212.4z"/>
    <path style="fill:#1A80AD;" d="M316.8,176.4h-32l-36.8,104h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2
	C347.2,194,330.4,176.4,316.8,176.4z M316,212.4c-1.6,7.2-8.8,12-16,12h-12.8l5.6-24h13.6C313.6,200.4,317.6,205.2,316,212.4z"/>
    <path style="fill:#21789E;" d="M132,200.4c-12,0-21.6,3.2-28.8,4.8l-2.4,18.4c3.2-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4
	c-28,0-47.2,5.6-51.2,24.8c-5.6,32,28.8,32.8,42.4,18.4l-1.6,8.8h25.6l11.2-52C169.6,206.8,149.6,199.6,132,200.4z M134.4,254
	c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-6.4-9.6c3.2-4.8,10.4-4.8,15.2-4.8c2.4,0,4,0,6.4,0C135.2,248.4,134.4,251.6,134.4,254z
	"/>
    <path style="fill:#1A5B80;" d="M101.6,223.6c3.2-1.6,15.2-4.8,24.8-5.6c9.6,0,15.2,1.6,13.6,10.4c-28,0-47.2,5.6-51.2,24.8
	c-5.6,32,28.8,32.8,42.4,18.4l-2.4,8.8h25.6l11.2-52c4.8-21.6-15.2-27.2-32.8-27.2 M134.4,254c-1.6,6.4-7.2,8.8-13.6,9.6
	c-5.6,0-10.4-3.2-6.4-9.6c3.2-4.8,10.4-4.8,15.2-4.8c2.4,0,4,0,6.4,0C135.2,248.4,134.4,251.6,134.4,254z"/>
    <polygon style="fill:#21789E;" points="176,200.4 201.6,200.4 205.6,245.2 231.2,200.4 257.6,200.4 196.8,312.4 168,312.4
	186.4,278.8 "/>
    <polyline style="fill:#1A5B80;"
              points="201.6,202 205.6,246 231.2,200.4 257.6,200.4 196.8,312.4 168,312.4 186.4,279.6 "/>
    <path style="fill:#21789E;" d="M68.8,176.4h-48L0,280.4h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2C99.2,194,82.4,176.4,68.8,176.4z
	 M68,212.4c-1.6,7.2-8.8,12-16,12H39.2l5.6-24h13.6C65.6,200.4,69.6,205.2,68,212.4z"/>
    <path style="fill:#1A5B80;" d="M68.8,176.4H47.2L0,280.4h28l7.2-32h20c19.2,0,35.2-11.2,39.2-31.2C99.2,194,82.4,176.4,68.8,176.4z
	 M68,212.4c-1.6,7.2-8.8,12-16,12H39.2l5.6-24h13.6C65.6,200.4,69.6,205.2,68,212.4z"/>
    <g>
        <path style="fill:#06435E;" d="M127.2,228.4c-21.6,1.6-36,8-39.2,24c-5.6,32,28.8,32.8,42.4,18.4l-1.6,9.6h25.6l4-19.2L127.2,228.4
		z M134.4,254c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-6.4-9.6c3.2-4.8,10.4-4.8,15.2-4.8c2.4,0,4,0,6.4,0
		C135.2,248.4,134.4,251.6,134.4,254z"/>
        <polygon style="fill:#06435E;" points="207.2,244.4 205.6,246.8 222.4,262.8 257.6,200.4 231.2,200.4 	"/>
        <polygon style="fill:#06435E;" points="28,280.4 35.2,248.4 2.4,280.4 	"/>
    </g>
    <g>
        <polygon style="fill:#2273AA;" points="276,280.4 283.2,246.8 283.2,247.6 250.4,280.4 	"/>
        <path style="fill:#2273AA;" d="M376,228.4c-21.6,1.6-36,8-39.2,24c-5.6,32,29.6,32.8,43.2,18.4l-2.4,9.6h25.6l4-19.2L376,228.4z
		 M383.2,254c-1.6,6.4-7.2,8.8-13.6,9.6c-5.6,0-10.4-3.2-7.2-9.6c3.2-4.8,10.4-4.8,16-4.8c1.6,0,4,0,6.4,0
		C384,248.4,383.2,251.6,383.2,254z"/>
        <polygon style="fill:#2273AA;" points="433.6,233.2 415.2,280.4 440.8,280.4 448,248.4 	"/>
    </g>
    <g>
        <path style="fill:#32A6CE;" d="M468,193.2V182h-4v-1.6h10.4v1.6h-4v11.2H468z"/>
        <path style="fill:#32A6CE;" d="M476,193.2v-12.8h2.4l3.2,8.8c0,0.8,0.8,1.6,0.8,1.6c0-0.8,0-0.8,0.8-2.4l3.2-8.8h2.4v12.8h-1.6
		v-11.2l-4,11.2h-2.4l-4-11.2v11.2H476V193.2z"/>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
</svg>
