  {% if product.title and product.compare_at_price%}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign price_diff = compare_at_price | minus: price -%}
  {%- assign available = product.available -%}
  {%- assign discountPercent = compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price %}
  {% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign price_diff = 0 -%}
  {%- assign available = true -%}
  {%- assign discountPercent = 0 %}
  {% endif %}
  {%- assign sale_value = discountPercent %}


  {% assign date_published = product.created_at | date:'%s' | plus: 0 %}
  {% assign date_now = 'now' | date:'%s' %}
  {% assign new_value = date_now | minus: date_published %}

  {% assign popular_value = 10000000 %}
  {% for itProduct in collections.instabadge-best-selling.products %}
  {% if itProduct.handle == product.handle %}
  {% assign popular_value = forloop.index %}
  {% endif %}
  {% endfor %}

{% assign instabadge-97289-productsSKUs = "2509170966613,2509088587861,2509382058069,2509126533205,2509612286037,2509287587925,2509720256597,2509508706389,2509363150933,4094198087765,2509645316181,2509273432149,2509657800789,2509467582549,2509714980949,2509563199573,4094196285525,4094195662933,2509632045141,2509220446293,4094194090069,2509587316821,4094151655509,4094207131733,2509535641685,2509495533653,4094210015317,4094209425493,4094197301333,4094194778197,4094208311381,2509198590037,4094204575829,4094198612053" %} 
{% assign instabadge-97290-productsSKUs = "4505010929749,4505034129493,4505040781397,4505042387029,4505044779093,4505053462613,4505059655765,4505062047829,2502466502741,2500307681365,2502481576021,2500219994197,2500357161045,2502490980437,2500329635925,2502400016469,4094196056149,2500386226261,2500199022677,2502505431125,2502387204181,2500370006101,4094195499093,4094209818709,4094197760085,4094196809813,4094164729941,4094093131861,2502512934997,4094209032277,4094198382677,4094203920469,4094194581589" %} 
{% assign instabadge-97295-productsSKUs = "2566679003221,2566679527509,2566679986261,2566680576085,2663491960917,2663491076181,1375734038581,1430103130165,2663493206101,618236313653,1375873597493,2663489601621,4534312042581,2495446220885,4534312206421,4534309716053,4534311714901,4534311878741,4534312435797,1375724699701,1375708839989,1375892570165,2495468732501,2596330143829,2664475689045" %} 
{% assign instabadge-97292-productsSKUs = "4544401506389,4544403996757,4544401080405,4544403963989,4544400851029,4544403046485,4544400359509,4544402817109,4544402784341,4544402751573,4544402489429,4544402325589,4544402260053,4544402128981,4544401899605,4544401768533,4544401670229,4544401637461" %} 
{% assign instabadge-97293-productsSKUs = "4503850975317,4503844094037,4503808114773,4503793008725,4503825121365,4503834427477,4441259016277,4441271992405,4441300074581,4441325961301,4294319472725,4294650429525,4095622905941,4095623233621,2673045995605,2673047928917,2605604077653,2605623935061,2535267467349,2535273529429,2566662062165,2566665797717,2566666092629,2566664159317,2514188370005,2514189320277" %} 

 
{% if  instabadge-97289-productsSKUs contains product.id  %} 
"instabadge-97289" 
{% elsif  instabadge-97290-productsSKUs contains product.id  %} 
"instabadge-97290" 
{% elsif  instabadge-97295-productsSKUs contains product.id  %} 
"instabadge-97295" 
{% elsif  instabadge-97292-productsSKUs contains product.id  %} 
"instabadge-97292" 
{% elsif  instabadge-97293-productsSKUs contains product.id  %} 
"instabadge-97293"
{% else %}

 False 

{% endif %}
