{% assign product_tags = product.tags | join:',' %}

{% comment %} Add klarna section if product doesn't have Preorder tag {% endcomment %}

{% if product_tags contains 'Preorder' %}
{% else %}
    <!-- Placement v1 -->
    <klarna-placement
            data-id="2d025337-7636-400a-bf4d-b4f8d5b83731"
            data-purchase_amount="{{ product.price }}"
    ></klarna-placement>
    <!-- end Placement -->
{% endif %}
