<div class="{% if double %}main-header__tab-list-wrap__double--col{% else %}main-header__tab-list-wrap{% endif %}">
  <b class="main-header__tab-list-title">{{ block_title }}</b>
  <ul class="main-header__tab-list">
    {% for handle in handles %}
      {% assign related_collection = collections[handle] %}
      {% unless related_collection.empty? %}
        <li>
          <a class="main-header__tab-list-link" href="{{ related_collection.url }}">{{ related_collection.title }}</a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>