{% assign p_b_i = page.metafields.airf.p_b_i %}
{% assign p_b_t = page.metafields.airf.p_b_t %}
{% assign p_b_te = page.metafields.airf.p_b_te %}
{% assign p_b_shb = page.metafields.airf.p_b_shb %}
{% assign p_b_bbc = page.metafields.airf.p_b_bbc %}
{% assign p_b_btc = page.metafields.airf.p_b_btc %}
{% assign p_b_im = page.metafields.airf.p_b_im %}
{% assign p_b_tc = page.metafields.airf.p_b_tc %}
{% assign scope = page.metafields.airf %}
{% assign p_b_bl = scope.p_b_bl %}
<div class="page-banner-section">
	<div class="section-inner">
		<div class="page-banner-bg" style="background-image: url('{{ p_b_i }}');">
			<div class="page-banner-mobile-image show-mobile">
				<img src="{{ p_b_im }}" alt="{{ p_b_t }}">
			</div>
			<div class="page-banner-content">
				<div class="page-banner-title">
					<h1 style="color: {{ p_b_tc }}">{{ p_b_t }}</h1>
				</div>
				<div class="page-banner-text">
					<p style="color: {{ p_b_tc }}">{{ p_b_te }}</p>
				</div>
				{% if p_b_shb == "true" %}
					{% if p_b_bl and p_b_bl != blank %}
						{% for row in p_b_bl.rows %}
							{% for row_field in row %}
								{% if row_field.key contains "p_b_bl_t" %}
									{% assign p_b_bl_t = scope[row_field.key] %}
								{% endif %}
								{% if row_field.key contains "p_b_bl_l" %}
									{% assign p_b_bl_l = scope[row_field.key] %}
								{% endif %}
							{% endfor %}
							<div class="page-banner-link">
								<a href="{{ p_b_bl_l }}" style="background-color: {{ p_b_bbc }}; color: {{ p_b_btc }};">{{ p_b_bl_t }}</a>
							</div>
						{% endfor %}
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="scroll-icon">
			<svg width="24" height="48" viewBox="0 0 24 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M20 8L12 16L4 8" stroke="#42544F"/>
				<path d="M20 20L12 28L4 20" stroke="#42544F"/>
				<path d="M20 32L12 40L4 32" stroke="#42544F"/>
			</svg>
		</div>
	</div>
</div>