{% if template contains 'collection' %}
    {% assign page_cnt = collection.metafields.airf.page_cnt %}
{% else if template contains 'page' %}
    {% assign page_cnt = page.metafields.airf.page_cnt %}
{% else if template contains 'blog' %}
    {% assign page_cnt = blog.metafields.airf.page_cnt %}
{% endif %}

{% if page_cnt and page_cnt != '&nbsp' %}
    <div id="view-more-cnt" class="page-width page-content less">
        <div id="view-more-content">
            {{ page_cnt }}
        </div>
        <span class="btn-show-hide text-center">View more</span>
    </div>
    <script>
      jQuery(document).ready(function () {
        var $btnShowHide = $('.btn-show-hide');
        var $pContent = $('#view-more-cnt');
        var $class = 'less';
        var showMoreText = 'View more';
        var showLessText = 'View less';
        $btnShowHide.click(function (e) {
          e.preventDefault();
          if ($pContent.hasClass($class)) {
            $pContent.removeClass($class);
            $(this).text(showLessText);
          } else {
            $pContent.addClass($class);
            $(this).text(showMoreText);
          }
        })
      });
    </script>
{% endif %}

