{% assign tms_title = page.metafields.airf.tms_title %}
{% if tms_title and tms_title != '&nbsp' %}
  <div class="section-testimonials{% if page.metafields.airf[order_desktop] == 'true' %} medium-up--hide{% endif %}{% if page.metafields.airf[order_mobile] == 'true' %} medium-down--hide{% endif %}">
    <div class="page-width">
      
      <h2 class="gold">{{ tms_title }}</h2>
      
      {% assign tms = page.metafields.airf.tms %}
      {% if tms and tms != blank and tms  != '&nbsp' %}
        <div class="tm-slider-wrap">
          <button type="button" class="tm-slider-arrow tm-slider-arrow-left">
            <img src="{{ 'icon-arrow-left.svg' | asset_url }}" />
          </button>
          <button type="button" class="tm-slider-arrow tm-slider-arrow-right">
            <img src="{{ 'icon-arrow-right.svg' | asset_url }}" />
          </button>
          <div class="tm-slider">
            
            {% assign separator = "###" %}
            {% assign tms_childs_keys = tms | split: separator %}
            {% for tms_child_key in tms_childs_keys %}
              {% assign counter = tms_child_key | remove: 'tm_quote_' %}
              {% assign tmtext =  'tm_quote_' | append: counter %}
              {% assign tmimg =  'tm_logo_' | append: counter %}
            
              {% if tms_child_key contains "tm_quote" and page.metafields.airf[tmtext] != '&nbsp' and page.metafields.airf[tmimg] != '&nbsp' %}  
                <div class="tm-slide">
                  <div class="tm-slide__content_wrap d-flex align-items-center">
                    <div class="tm-slide__content rox-demibold">
                      <p>"{{ page.metafields.airf[tms_child_key] | newline_to_br }}"</p>            
                      <div class="tm-image medium-up--hide">
                        <img src="{{ page.metafields.airf[tmimg] }}" />
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="tm-slider-nav d-flex align-items-center">
          {% for tms_child_key in tms_childs_keys %}
            {% if tms_child_key contains "tm_logo" and page.metafields.airf[tms_child_key] != '&nbsp' %}
              <a class="tm-slider-logo flex-fill{% if forloop.first == true %} active{% endif %}">
                <img src="{{ page.metafields.airf[tms_child_key] }}" />
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %} 
    </div>
  </div>
{% endif %}