<div class="index-section page-block-testimonials">
  
  <div class="page-width text-{{ block.settings.align_text }}">
    {% if block.settings.title != blank %}
      <div class="section-header">
        <h2>{{ block.settings.title }}</h2>
      </div>
    {% endif %}

    {%- assign text_column_count = 0 -%}
    {%- assign column_1_enabled = false -%}
    {%- assign column_2_enabled = false -%}
    {% if block.settings.image_1 != blank or block.settings.testimonial_1 != blank or block.settings.author_1 != blank %}
      {%- assign column_1_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}
    {% if block.settings.image_2 or block.settings.testimonial_2 != blank or block.settings.author_1 != blank %}
      {%- assign column_2_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}

    {% case text_column_count %}
      {% when 1 %}
        {%- assign grid_item_width = '' -%}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% endcase %}

    <div class="grid">
      {% if column_1_enabled %}
        <div class="grid__item {{ grid_item_width }}" data-aos="row-of-2">
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon">{% include 'icon-quote' %}</span>
            {% if block.settings.testimonial_1 != blank %}
              <div class="rte-setting text-spacing">{{ block.settings.testimonial_1 }}</div>
            {% endif %}
            {% if block.settings.image_1 != blank %}
              <div
                class="text-spacing testimonail-image{% if block.settings.round_images %} testimonail-image--round{% endif %}">
                {%- assign img_url = block.settings.image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080]"
                    data-aspectratio="{{ block.settings.image_1.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.image_1.alt }}">
              </div>
            {% endif %}
            {% if block.settings.author_1 != blank %}
              <cite>{{ block.settings.author_1 | escape }}</cite>
            {% endif %}
          </blockquote>
        </div>
      {% endif %}

      {% if column_2_enabled %}
        <div class="grid__item {{ grid_item_width }}" data-aos="row-of-3">
          <blockquote class="testimonials-slider__text">
            <span class="quote-icon">{% include 'icon-quote' %}</span>
            {% if block.settings.testimonial_2 != blank %}
              <div class="rte-setting text-spacing">{{ block.settings.testimonial_2 }}</div>
            {% endif %}
            {% if block.settings.image_2 != blank %}
              <div
                class="text-spacing testimonail-image{% if block.settings.round_images %} testimonail-image--round{% endif %}">
                {%- assign img_url = block.settings.image_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080]"
                    data-aspectratio="{{ block.settings.image_2.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.image_2.alt }}">
              </div>
            {% endif %}
            {% if block.settings.author_2 != blank %}
              <cite>{{ block.settings.author_2 | escape }}</cite>
            {% endif %}
          </blockquote>
        </div>
      {% endif %}
    </div>
  </div>
</div>
