<form class="order-status__form" action="#">
  <span class="order-status__header">Check order status</span>
  <input class="order-status__number" placeholder="Order number (e.g. 1001)" type="number" required>
  <input class="order-status__email" placeholder="email@domain.com" type="email" required>
  <button class="order-status__btn" type="submit" >See your order</button>
</form>
<div class="order-status__result1">
  Your order dispatch date from our warehouse: <span class="delivery-time">XXXX-XX-XX</span><br><br>
  You'll get regular updates via email and from your personal concierge - you'll know exactly at which stage of production your timepiece is at.<br><br>
  You will be able to get the exact delivery time here:<br>
  {% comment %}order fulfillments - <span class="order-fulfillments"></span><br>{% endcomment %}
  {% comment %}estimated delivery in - <span class="estimate-delivery"></span>{% endcomment %}
</div>
<div class="order-status__result2">
  No orders found. Please try again.
</div>
<script>
  $(document).ready(function() {
    $('.order-status__form').submit(function() {
      $('.order-status__btn').addClass('disabled');
      var v_number = $('.order-status__number').val();
      var v_email = $('.order-status__email').val();

      $('.order-status__result1').removeClass('active');
      $('.order-status__result2').removeClass('active');

      $.ajax({
        url: 'https://www.youx.ca/lm01/filippo/order-status.php',
        method: 'GET',
        data: {
          number: v_number,
          email: v_email
        },
        success: function (res) {
          console.log(res);
          $('.order-status__btn').removeClass('disabled');
          if (res.indexOf('error') >= 0) {
            $('.order-status__result2').addClass('active');
          }
          else {
            var resArray = res.split(',');
            var date = new Date(resArray[0].split('T')[0]);
            var deliveryDate = date;
            if (resArray[2]) {
              deliveryDate = new Date(resArray[2]);
            }
            var days = Math.ceil((deliveryDate.getTime() - date.getTime()) / (1000 * 3600 * 24));
            var y = resArray[0].split('T')[0].split('-')[0];
            if (resArray[2]) {
              y = resArray[2].split('/')[2];
            }
            var m = resArray[0].split('T')[0].split('-')[1];
            if (resArray[2]) {
              m = resArray[2].split('/')[1];
            }
            var d = resArray[0].split('T')[0].split('-')[2];
            if (resArray[2]) {
              d = resArray[2].split('/')[0];
            }
            var yyyymmdd = y + '-' + m + '-' + d;
            $('.order-status__result1 .delivery-time').text(yyyymmdd);
            if (resArray[1] != '') {
              $('.order-status__result1 .order-fulfillments').text(resArray[1]);
            }
            else {
              $('.order-status__result1 .order-fulfillments').text('unfulfilled');
            }
            $('.order-status__result1 .estimate-delivery').text(days.toString() + ' days');
            $('.order-status__result1').addClass('active');
          }
        },
        error: function () {
          $('.order-status__btn').removeClass('disabled');
          $('.order-status__result2').addClass('active');
        }
      });
      return false;
    });
  });
</script>