{% assign spec_title = product.metafields.airf.spec_title %}


  <div class="product-specs{% if product.metafields.airf[order_desktop] == 'true' %} medium-up--hide{% endif %}{% if product.metafields.airf[order_mobile] == 'true' %} medium-down--hide{% endif %}">
    <div class="page-width">
        {% assign scope = product.metafields.airf %}
        {% assign sp_gall = scope.sp_gall %}
        {% if sp_gall and sp_gall != blank %}
            {% for row in sp_gall.rows %}
                {% for row_field in row %}
                    {% if row_field.key contains "sp_gall_i" %}
                        {% assign sp_gall_i = scope[row_field.key] %}
                    {% endif %}
                    {% if row_field.key contains "sp_gall_t" %}
                        {% assign sp_gall_t = scope[row_field.key] %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
      <div class="product-specs__content">
          {% if spec_title and spec_title != '&nbsp' %}
        <h2 class="product-specs__title rox-bold fl-sans">{{ spec_title }}</h2>
              {% else %}
                  {% if sp_gall_t and sp_gall_t != '&nbsp' %}
                      <h2 class="product-specs__title rox-bold fl-sans">{{ sp_gall_t }}</h2>
                  {% endif %}
          {% endif %}

        {% assign spec_text = product.metafields.airf.spec_text %}
        {% if spec_text and spec_text != '&nbsp' %}
          <div class="product-specs__description">{{ spec_text }}</div>
        {% endif %}

        {% assign specs_list = product.metafields.airf.specs_list %}
        {% if specs_list and specs_list != blank and specs_list != '&nbsp' %}
          <div class="product-specs__table">
            {% assign separator = "###" %}
            {% assign specs_list_childs_keys = specs_list | split: separator %}
            {% for specs_list_child_key in specs_list_childs_keys %}

                {% if specs_list_child_key contains "spec_label" and product.metafields.airf[specs_list_child_key] != '&nbsp' %}
                  <div class="product-specs__row d-md-flex">
                    <div class="label">{{ product.metafields.airf[specs_list_child_key] }}</div>
                {% endif %}

                {% if specs_list_child_key contains "spec_val" and product.metafields.airf[specs_list_child_key] != '&nbsp' %}
                    <div class="value">{{ product.metafields.airf[specs_list_child_key] }}</div>
                  </div>
                {% endif %}

            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>

{% assign scope = product.metafields.airf %}
{% assign add_spec_b = scope.add_spec_b %}
{% if add_spec_b and add_spec_b != blank %}
    {% for row in add_spec_b.rows %}
        {% for row_field in row %}
            {% if row_field.key contains "add_spec_h" %}
                {% assign spec_title = scope[row_field.key] %}
            {% endif %}
            {% if row_field.key contains "add_spec_i" %}
                {% assign spec_img = scope[row_field.key] %}
            {% endif %}
            {% if row_field.key contains "add_spec_n" %}
                {% assign need_link = scope[row_field.key] %}
            {% endif %}
            {% if row_field.key contains "add_spec_l" %}
                {% assign banner_lin = scope[row_field.key] %}
            {% endif %}
            {% if row_field.key contains "add_spec_t" %}
                {% assign spec_text = scope[row_field.key] %}
            {% endif %}
            {% if row_field.key contains "add_spec_m" %}
                {% assign spec_img_m = scope[row_field.key] %}
            {% endif %}
        {% endfor %}
        <div class="product-specs{% if product.metafields.airf[order_desktop] == 'true' %} medium-up--hide{% endif %}{% if product.metafields.airf[order_mobile] == 'true' %} medium-down--hide{% endif %}" style="margin-top: 20px;">

            <div class="page-width">

                <div class="product-specs__content">
                    {% if spec_title and spec_title != '&nbsp' %}
                        <h2 class="product-specs__title rox-bold fl-sans">{{ spec_title }}</h2>
                    {% endif %}

                    {% if spec_text and spec_text != '&nbsp' %}
                        <div class="product-specs__description">{{ spec_text }}</div>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

