<div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{ image | img_url: product_zoom_size }}">
    {%- assign image_alt = image.alt -%}
    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="photo-zoom-link__initial lazyload"
         data-src="{{ img_url }}"
         data-widths="[360, 540, 720, 900, 1080]"
         data-aspectratio="{{ image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ image_alt | escape }}">
    <div class='zoom_me_text'>
        <span class="hide-mobile">Click</span><span class="show-mobile">Tap</span> to Enlarge
    </div>
</div>
