{% assign ospcs_ttl = product.metafields.airf.ospcs_ttl %}
{% assign ospec_txt = product.metafields.airf.ospec_txt %}
{% assign offer_on = false %}

{% if ospcs_ttl and ospcs_ttl != '&nbsp' %}
  {% assign offer_on = true %}
{% endif %}

{% if ospec_txt and ospec_txt != '&nbsp' %}
  {% assign offer_on = true %}
{% endif %}

{% if offer_on %}
  <div class="product-small-description">
    {% if ospcs_ttl and ospcs_ttl != '&nbsp' %}
      <span class="subtitle">{{ ospcs_ttl }}</span>
    {% endif %}
    {% if ospec_txt and ospec_txt != '&nbsp' %}
      <span class="text">{{ ospec_txt }}</span>
    {% endif %}
  </div>
{% endif %}

{% comment %}
{% assign p_s_smallt = product.metafields.airf.p_s_smallt %}
  {% if p_s_smallt and p_s_smallt != '&nbsp' %}
    <div class='product-small-description'>
      <span>{{ p_s_smallt }}</span>
      {% assign p_s_fullt = product.metafields.airf.p_s_fullt %}
      {% if p_s_fullt and p_s_fullt != '&nbsp' %}
        <span class='more_text'>{{ p_s_fullt }}</span>
      {% endif %}
      <a class='full_text'>
        <svg class='plus' width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 5.5H11V6.5H6.5V11H5.5V6.5H1V5.5H5.5V1H6.5V5.5Z" fill="black" stroke="black" stroke-width="0.5"/>
        </svg>
        <svg class='minus' width="12" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.666748 1.00008C0.666748 0.815986 0.815986 0.666748 1.00008 0.666748H13.0001C13.1842 0.666748 13.3334 0.815986 13.3334 1.00008C13.3334 1.18418 13.1842 1.33341 13.0001 1.33341H1.00008C0.815986 1.33341 0.666748 1.18418 0.666748 1.00008Z" fill="black" stroke="black" stroke-width="0.5"/>
        </svg>


        <span>READ MORE</span>
      </a>
    </div>
  {% endif %}
{% endcomment %}
