
{% assign product_temp = product %}

{% for tag in product_temp.tags %}
    {% if tag contains "col_" %}
        {% assign first_word = tag %}
    {% endif %}
{% endfor %}
{% if first_word and first_word != '&nbsp' %}
    {% assign count = 1 %}
    {% paginate collections.all.products by 10000 %}
        {% for product in collections.all.products %}
            {% if product.id != product_temp.id %}
                {% if product.tags contains first_word %}
                    {% assign count = count | plus: 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endpaginate %}
    {% if count > 1 %}
        <div class="similar-products">
            <div class="similar-products__title">OTHER ESSENTIAL OIL OPTIONS:</div>
            {% assign count = 1 %}
            {% paginate collections.all.products by 10000 %}
            <div class='similar-products-carousel' id='CollectionSlider={{ section_id }}'>
                <div class='similar-products-carousel-loader'>
                    <img src="{{ 'ajax-loader-2.gif' | asset_url }}" width='25px' />
                </div>
                {% for product in collections.all.products %}
                    {% if product.id != product_temp.id %}
                        {% if product.tags contains first_word %}
                            {% if count <= 12 %}
                                {% include 'product-section-similar-item' %}
                            {% endif %}
                            {% assign count = count | plus: 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endpaginate %}
        </div>
    {% endif %}
{% endif %}
{% assign product = product_temp %}

