{% comment %}
{% assign keyfeat = product.metafields.airf.keyfeat %}
{% if keyfeat and keyfeat != blank and keyfeat != '&nbsp' %}
  <div class="product-single__highlight">
    {% assign separator = "###" %}
    {% assign keyfeat_childs_keys = keyfeat | split: separator %}
    {% for keyfeat_child_key in keyfeat_childs_keys %}
          {% if keyfeat_child_key contains "kf_icon" and product.metafields.airf[keyfeat_child_key] != '&nbsp' %}
          <div class="highlight-row">
            <div class="icon">
              <img src="{{ 'icon-' | append: product.metafields.airf[keyfeat_child_key] | append: '.svg' | asset_url }}" />
            </div>
          {% endif %}
          {% if keyfeat_child_key contains "kf_text" and product.metafields.airf[keyfeat_child_key] != '&nbsp' %}
            <div class="text">
              {{ product.metafields.airf[keyfeat_child_key] }}
            </div>
          </div> 
          {% endif %}

    {% endfor %}
  </div>
{% endif %}
{% endcomment %}

{% comment %} 
{% assign orig_desc = product.metafields.airf.orig_desc %}
{% if orig_desc == "true" %}
  <div class="product-single__description rte" itemprop="description">
    {{ product.description }}
  </div>
{% endif %}
{% endcomment %}
