{% assign tms_title = product.metafields.airf.tms_title %}
{% if tms_title and tms_title != '&nbsp' %}
  <div class="product-section-testimonials product-section-padding">
    <div class="page-width">

      <h2 class="gold">{{ tms_title }}</h2>

      {% assign tms = product.metafields.airf.tms %}
      {% if tms and tms != blank and tms  != '&nbsp' %}
        <div class="tm-slider-wrap">
          <div class="tm-slider">
            {% assign separator = "###" %}
            {% assign tms_childs_keys = tms | split: separator %}
            {% for tms_child_key in tms_childs_keys %}
              {% assign counter = tms_child_key | remove: 'tm_quote_' %}
              {% assign tmtext =  'tm_quote_' | append: counter %}
              {% assign tmimg =  'tm_logo_' | append: counter %}

              {% if tms_child_key contains "tm_quote" and product.metafields.airf[tmtext] != '&nbsp' and product.metafields.airf[tmimg] != '&nbsp' %}
                <div class="tm-slide">
                  <div class="tm-slide__content_wrap d-flex align-items-center">
                    <div class="tm-slide__content rox-demibold">
                      <p>"{{ product.metafields.airf[tms_child_key] | newline_to_br }}"</p>
                      <div class="tm-image medium-up--hide">
                        <img src="{{ product.metafields.airf[tmimg] }}" />
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="tm-slider-nav d-flex align-items-center justify-content-between">
          {% for tms_child_key in tms_childs_keys %}
            {% if tms_child_key contains "tm_logo" and product.metafields.airf[tms_child_key] != '&nbsp' %}
              <a class="tm-slider-logo flex-fill{% if forloop.first == true %} active{% endif %}">
                <img src="{{ product.metafields.airf[tms_child_key] }}" />
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
