{% assign prod_p_i = product.metafields.airf.psin_p_i %}
{% assign prod_p_ti = product.metafields.airf.psin_p_ti %}
{% assign prod_p_te = product.metafields.airf.psin_p_te %}

{% if prod_p_i and prod_p_i != '&nbsp' and prod_p_ti and prod_p_ti != '&nbsp' and prod_p_te and prod_p_te != '&nbsp' %}
{% else %}
    {% if main_collection %}
        {% assign prod_p_i = main_collection.metafields.airf.prod_p_i_c %}
        {% assign prod_p_ti = main_collection.metafields.airf.prod_p_tic %}
        {% assign prod_p_te = main_collection.metafields.airf.prod_p_tec %}
    {% endif %}
{% endif %}

{% if prod_p_i and prod_p_i != '&nbsp' and prod_p_ti and prod_p_ti != '&nbsp' and prod_p_te and prod_p_te != '&nbsp' %}
{% else %}
    {% assign prod_p_i = shop.metafields.airf.prod_p_i %}
    {% assign prod_p_ti = shop.metafields.airf.prod_p_ti %}
    {% assign prod_p_te = shop.metafields.airf.prod_p_te %}
{% endif %}

{% if prod_p_i and prod_p_i != '&nbsp' and prod_p_ti and prod_p_ti != '&nbsp' and prod_p_te and prod_p_te != '&nbsp' %}
    <div class='product-section-promo-text product-section-padding'>
        <div class='page-width'>
            <div class='img-section'>
                <img src="{{ prod_p_i }}" class='img-fluid' />
            </div>
            <div class='product-information-block-text'>
                <div class='row'>
                    <div class='col-md-8 offset-md-2'>
                        <div class="product-information-block__title"><p>{{ prod_p_ti }}</p></div>
                        <div class="description">{{ prod_p_te }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}


