{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{% assign variants_size = product.variants | size %}
{% unless product.empty? %}
    {% if variants_size > 1 %}
        {% assign featured_displayed = false %}
        <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">
            <div class="product__main-photos" data-aos>
                <div id="ProductPhotos-{{ section_id }}">
                    {% for variant in product.variants %}
                        {% assign scope = variant.metafields.airf %}
                        {% assign v_g_list = scope.v_g_list %}
                        {% if v_g_list and v_g_list != blank %}
                            {% for row in v_g_list.rows %}
                                {% for row_field in row %}
                                    {% if row_field.key contains "vg_i_vid" %}
                                        {% assign vg_i_vid = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_url" %}
                                        {% assign vg_i_url = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_img" %}
                                        {% assign vg_i_img = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_alt" %}
                                        {% assign vg_i_alt = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_col" %}
                                        {% assign vg_i_col = scope[row_field.key] %}
                                    {% endif %}
                                {% endfor %}
                                {% if vg_i_vid %}
                                    {% if vg_i_url contains 'youtube.com/watch' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = vg_i_url | split: 'v=' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains 'youtu.be/' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = vg_i_url | split: '.be/' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains 'vimeo.com' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'vimeo' -%}
                                        {%- assign video_id = vg_i_url | split: '.com/' -%}
                                        {%- assign video_id = video_id[1] | split: '/' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains '.mp4' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'mp4' -%}
                                    {% endif %}
                                {% endif %}
                                <div class="{% if featured_displayed %}secondary-slide{% else %}starting-slide {% assign featured_displayed = true %}{% endif %} main-photo-slide" data-color="color-{{ vg_i_col }}" data-index="{{ forloop.index0 }}">
                                    <div class="product-image-main">
                                        <div class="image-wrap
                                        {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'mp4' %} hide{% endif %}">
                                            <div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{vg_i_img}}">
                                                {% if isModal %}
                                                    <img
                                                            data-modal-lazy="{{ vg_i_img }}"
                                                            data-image-src="{{ vg_i_img }}"
                                                            alt="{{ vg_i_alt | escape }}">
                                                    <noscript>
                                                        <img src="{{ vg_i_img }}" alt="{{ vg_i_alt | escape }}">
                                                    </noscript>
                                                {% else %}
                                                    <img class="lazyload"
                                                         data-src="{{ vg_i_img }}"
                                                         data-widths="[360, 540, 720, 900, 1080]"
                                                         data-sizes="auto"
                                                         alt="{{ vg_i_alt | escape }}">
                                                    <noscript>
                                                        <img class="lazyloaded" src="{{ vg_i_img }}" alt="{{ vg_i_alt | escape }}">
                                                    </noscript>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if has_product_video %}
                                            {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
                                            {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
                                            <div data-video-type="{{ video_type }}" class="product__video-wrapper
                                                {% if has_product_video %}
                                                    {% if video_type == 'youtube' or video_type == 'vimeo' %}
                                                        loading
                                                    {% endif %}
                                                {% endif %}"
                                                 data-video-style="{{ settings.product_video_style }}"
                                                 style="padding-bottom: {{ aspect_ratio }}%;">
                                                {% if video_type == 'youtube' %}
                                                    <div
                                                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                            class="product__video"
                                                            data-image-count="{{product.images | size }}"
                                                            data-video-type="{{ video_type }}"
                                                            data-video-style="{{ settings.product_video_style }}"
                                                            data-youtube-id="{{ video_id }}"
                                                            data-video-width="{{ settings.product_video_width }}"
                                                            data-video-height="{{ settings.product_video_height }}">
                                                    </div>
                                                {% endif %}
                                                {% if video_type == 'vimeo' %}
                                                    <div
                                                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                            class="product__video"
                                                            data-image-count="{{product.images | size }}"
                                                            data-video-type="{{ video_type }}"
                                                            data-video-style="{{ settings.product_video_style }}"
                                                            data-video-id="{{ video_id }}"
                                                            data-video-width="{{ settings.product_video_width }}"
                                                            data-video-height="{{ settings.product_video_height }}">
                                                    </div>
                                                {% endif %}
                                                {% if video_type == 'mp4' %}
                                                    <video
                                                            loop playsinline
                                                            {% if settings.product_video_style == 'muted' %}muted{% endif %}
                                                            {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                                                            data-image-count="{{product.images | size }}"
                                                            data-video-type="{{ video_type }}"
                                                            data-video-style="{{ settings.product_video_style }}"
                                                            {% if isModal %}
                                                                data-video-src="{{ vg_i_url }}"
                                                            {% endif %}
                                                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                            class="product__video">
                                                        {% unless isModal %}
                                                            <source src="{{ vg_i_url }}" type="video/mp4">
                                                        {% endunless %}
                                                        Your browser does not support the video tag.
                                                    </video>
                                                {% endif %}
                                            </div>
                                            <div class="iframe-cover"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for image in product.images %}
                                {%- assign is_featured = false -%}
                                {% if featured_image == image %}
                                    {%- assign is_featured = true -%}
                                {% endif %}
                                {%- assign image_alt = image.alt -%}
                                {%- assign has_product_video = false -%}
                                {%- assign video_type = '' -%}
                                {% if image.alt contains 'youtube.com/watch' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = image.alt | split: 'v=' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if image.alt contains 'youtu.be/' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = image.alt | split: '.be/' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if image.alt contains 'vimeo.com' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'vimeo' -%}
                                    {%- assign video_id = image.alt | split: '.com/' -%}
                                    {%- assign video_id = video_id[1] | split: '/' | first -%}
                                {% endif %}
                                {% if image.alt contains '.mp4' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'mp4' -%}
                                {% endif %}
                                {% if image.alt == 'gold' %}
                                    {%- assign image_alt = 'color-gold' -%}
                                {% endif %}
                                {% if image.alt == 'rose-gold' %}
                                    {%- assign image_alt = 'color-rose-gold' -%}
                                {% endif %}
                                {% if image.alt == 'silver' %}
                                    {%- assign image_alt = 'color-silver' -%}
                                {% endif %}
                                {% if image.alt == 'black' %}
                                    {%- assign image_alt = 'color-black' -%}
                                {% endif %}
                                {% if image.alt == 'stainless-steel' %}
                                    {%- assign image_alt = 'color-stainless-steel' -%}
                                {% endif %}
                                {% if has_product_video %}
                                    {%- assign image_alt = product.title -%}
                                {% endif %}
                                <div class="{% if is_featured %}starting-slide{% else %}secondary-slide{% endif %} main-photo-slide" data-index="{{ forloop.index0 }}" data-color="{{image_alt}}">
                                    <div class="product-image-main">
                                        <div class="image-wrap {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'mp4' %} hide{% endif %}" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
                                            {% comment %}<div class="alt-img">{{image_alt}}</div>{% endcomment %}
                                            <div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{ image | img_url: product_zoom_size }}">
                                                {% if isModal %}
                                                    <img
                                                            data-modal-lazy="{{ image | img_url: product_image_size }}"
                                                            data-image-src="{{ image | img_url: product_image_size }}"
                                                            alt="{{ image_alt | escape }}">
                                                    <noscript>
                                                        <img src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                                                    </noscript>
                                                {% else %}
                                                    {% if is_featured %}
                                                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                                        <img class="photo-zoom-link__initial lazyload"
                                                             data-src="{{ img_url }}"
                                                             data-widths="[360, 540, 720, 900, 1080]"
                                                             data-aspectratio="{{ image.aspect_ratio }}"
                                                             data-sizes="auto"
                                                             alt="{{ image_alt | escape }}">
                                                        <noscript>
                                                            <img class="photo-zoom-link__initial lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                                                        </noscript>
                                                    {% else %}
                                                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                                        <img class="lazyload"
                                                             data-src="{{ img_url }}"
                                                             data-widths="[360, 540, 720, 900, 1080]"
                                                             data-aspectratio="{{ image.aspect_ratio }}"
                                                             data-sizes="auto"
                                                             alt="{{ image_alt | escape }}">
                                                        <noscript>
                                                            <img class="lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                                                        </noscript>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if has_product_video %}
                                            {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
                                            {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
                                            <div
                                                    data-video-type="{{ video_type }}"
                                                    class="product__video-wrapper
                    {% if has_product_video %}
                      {% if video_type == 'youtube' or video_type == 'vimeo' %}
                        loading
                      {% endif %}
                    {% endif %}"
                                                    data-video-style="{{ settings.product_video_style }}"
                                                    style="padding-bottom: {{ aspect_ratio }}%;">
                                                {% if video_type == 'youtube' %}
                                                    <div
                                                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                            class="product__video"
                                                            data-image-count="{{product.images | size }}"
                                                            data-video-type="{{ video_type }}"
                                                            data-video-style="{{ settings.product_video_style }}"
                                                            data-youtube-id="{{ video_id }}"
                                                            data-video-width="{{ settings.product_video_width }}"
                                                            data-video-height="{{ settings.product_video_height }}">
                                                    </div>
                                                {% endif %}
                                                {% if video_type == 'vimeo' %}
                                                    <div
                                                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                            class="product__video"
                                                            data-image-count="{{product.images | size }}"
                                                            data-video-type="{{ video_type }}"
                                                            data-video-style="{{ settings.product_video_style }}"
                                                            data-video-id="{{ video_id }}"
                                                            data-video-width="{{ settings.product_video_width }}"
                                                            data-video-height="{{ settings.product_video_height }}">
                                                    </div>
                                                {% endif %}
                                                {% if video_type == 'mp4' %}
                                                    <video
                                                            loop playsinline
                                                            {% if settings.product_video_style == 'muted' %}muted{% endif %}
                                                            {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                                                            data-image-count="{{product.images | size }}"
                                                            data-video-type="{{ video_type }}"
                                                            data-video-style="{{ settings.product_video_style }}"
                                                            {% if isModal %}
                                                                data-video-src="{{ image.alt }}"
                                                            {% endif %}
                                                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                            class="product__video">
                                                        {% unless isModal %}
                                                            <source src="{{ image.alt }}" type="video/mp4">
                                                        {% endunless %}
                                                        Your browser does not support the video tag.
                                                    </video>
                                                {% endif %}
                                            </div>
                                            <div class="iframe-cover"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="ProductThumbs-{{ section_id }}"
                 class="product__thumbs product__thumbs--{{ thumbnail_position }}"
                 data-position="{{ thumbnail_position }}"
                 data-aos>
                {% for variant in product.variants %}
                    {% assign scope = variant.metafields.airf %}
                    {% assign v_g_list = scope.v_g_list %}
                    {% if v_g_list and v_g_list != blank %}
                        {% for row in v_g_list.rows %}
                            {% for row_field in row %}
                                {% if row_field.key contains "vg_i_vid" %}
                                    {% assign vg_i_vid = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "vg_i_url" %}
                                    {% assign vg_i_url = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "vg_i_img" %}
                                    {% assign vg_i_img = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "vg_i_alt" %}
                                    {% assign vg_i_alt = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "vg_i_col" %}
                                    {% assign vg_i_col = scope[row_field.key] %}
                                {% endif %}
                            {% endfor %}
                            {% if vg_i_vid %}
                                {% if vg_i_url contains 'youtube.com/watch' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                {% endif %}
                                {% if vg_i_url contains 'youtu.be/' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                {% endif %}
                                {% if vg_i_url contains 'vimeo.com' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'vimeo' -%}
                                {% endif %}
                                {% if vg_i_url contains '.mp4' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'mp4' -%}
                                {% endif %}
                            {% endif %}
                            <div class="product__thumb-item" data-color="color-{{ vg_i_col }}"
                                 data-index="{{ forloop.index0 }}">
                                <div class="image-wrap">
                                    <div
                                            class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                                            {% if settings.product_zoom_enable %}data-zoom="{{ vg_i_img }}"{% endif %}>
                                        {% if has_product_video %}
                                            <span class="product__thumb-play">
                                            {% include 'icon-play' %}
                                        </span>
                                        {% endif %}
                                        {% if isModal %}
                                            <img
                                                    data-modal-lazy="{{ vg_i_img }}"
                                                    class="animation-delay-{{ forloop.index | times: 3 }}"
                                                    alt="{{ vg_i_alt | escape }}">
                                            <noscript>
                                                <img src="{{ vg_i_img }}" alt="{{ vg_i_alt | escape }}">
                                            </noscript>
                                        {% else %}
                                            <img class="lazyload"
                                                 data-src="{{ vg_i_img }}"
                                                 data-widths="[180, 360, 540]"
                                                 data-aspectratio="{{ image.aspect_ratio }}"
                                                 data-sizes="auto"
                                                 alt="{{ vg_i_alt | escape }}"
                                                 class="animation-delay-{{ forloop.index | times: 3 }}">
                                            <noscript>
                                                <img class="lazyloaded" src="{{ vg_i_img }}" alt="{{ vg_i_alt | escape }}">
                                            </noscript>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for image in product.images %}
                            {%- assign image_alt = image.alt -%}
                            {%- assign has_product_video = false -%}
                            {%- assign video_type = '' -%}
                            {% if image.alt contains 'youtube.com/watch' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                            {% endif %}
                            {% if image.alt contains 'youtu.be/' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                            {% endif %}
                            {% if image.alt contains 'vimeo.com' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'vimeo' -%}
                            {% endif %}
                            {% if image.alt contains '.mp4' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'mp4' -%}
                            {% endif %}
                            {% if image.alt == 'gold' %}
                                {%- assign image_alt = 'color-gold' -%}
                            {% endif %}
                            {% if image.alt == 'rose-gold' %}
                                {%- assign image_alt = 'color-rose-gold' -%}
                            {% endif %}
                            {% if image.alt == 'silver' %}
                                {%- assign image_alt = 'color-silver' -%}
                            {% endif %}
                            {% if image.alt == 'black' %}
                                {%- assign image_alt = 'color-black' -%}
                            {% endif %}
                            {% if image.alt == 'stainless-steel' %}
                                {%- assign image_alt = 'color-stainless-steel' -%}
                            {% endif %}
                            {% if has_product_video %}
                                {%- assign image_alt = product.title -%}
                            {% endif %}

                            <div class="product__thumb-item"
                                 data-index="{{ forloop.index0 }}" data-color="{{image_alt}}">
                                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
                                    <div
                                            class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                                            data-id="{{ image.id }}"
                                            {% if settings.product_zoom_enable %}data-zoom="{{ image.src | img_url: product_zoom_size }}"{% endif %}
                                    >
                                        {% if has_product_video %}
                                            <span class="product__thumb-play">
                  {% include 'icon-play' %}
                </span>
                                        {% endif %}

                                        {% if isModal %}
                                            <img
                                                    data-modal-lazy="{{ image.src | img_url: product_thumb_size }}"
                                                    class="animation-delay-{{ forloop.index | times: 3 }}"
                                                    alt="{{ image_alt | escape }}">
                                            <noscript>
                                                <img src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                                            </noscript>
                                        {% else %}
                                            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                            <img class="lazyload"
                                                 data-src="{{ img_url }}"
                                                 data-widths="[180, 360, 540]"
                                                 data-aspectratio="{{ image.aspect_ratio }}"
                                                 data-sizes="auto"
                                                 alt="{{ image_alt | escape }}"
                                                 class="animation-delay-{{ forloop.index | times: 3 }}">
                                            <noscript>
                                                <img class="lazyloaded" src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                                            </noscript>
                                        {% endif %}
                                        {% comment %}<div class="alt-img">{{image_alt}}</div>{% endcomment %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {% else %}
        <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">
            <div class="product__main-photos" data-aos>
                <div id="ProductPhotos-{{ section_id }}">
                    {% assign featured_displayed = false %}
                    {% assign scope = product.metafields.airf %}
                    {% assign p_g_list = scope.p_g_list %}
                    {% if p_g_list and p_g_list != blank %}
                        {% for row in p_g_list.rows %}
                            {%- assign has_product_video = false -%}
                            {% for row_field in row %}
                                {% if row_field.key contains "pg_i_vid" %}
                                    {% assign pg_i_vid = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "pg_i_url" %}
                                    {% assign pg_i_url = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "pg_i_img" %}
                                    {% assign pg_i_img = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "pg_i_alt" %}
                                    {% assign pg_i_alt = scope[row_field.key] %}
                                {% endif %}
                            {% endfor %}
                            {% if pg_i_vid %}
                                {% if pg_i_url contains 'youtube.com/watch' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = pg_i_url | split: 'v=' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if pg_i_url contains 'youtu.be/' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = pg_i_url | split: '.be/' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if pg_i_url contains 'vimeo.com' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'vimeo' -%}
                                    {%- assign video_id = pg_i_url | split: '.com/' -%}
                                    {%- assign video_id = video_id[1] | split: '/' | first -%}
                                {% endif %}
                                {% if pg_i_url contains '.mp4' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'mp4' -%}
                                {% endif %}
                            {% endif %}
                            <div class="{% if featured_displayed %}secondary-slide{% else %}starting-slide {% assign featured_displayed = true %}{% endif %} main-photo-slide" data-color="color-default" data-index="{{ forloop.index0 }}">
                                <div class="product-image-main">
                                    <div class="image-wrap
                                        {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'mp4' %} hide{% endif %}">
                                        <div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{pg_i_img}}">
                                            {% if isModal %}
                                                <img
                                                        data-modal-lazy="{{ pg_i_img }}"
                                                        data-image-src="{{ pg_i_img }}"
                                                        alt="{{ pg_i_alt | escape }}">
                                                <noscript>
                                                    <img src="{{ pg_i_img }}" alt="{{ pg_i_alt | escape }}">
                                                </noscript>
                                            {% else %}
                                                <img class="lazyload"
                                                     data-src="{{ pg_i_img }}"
                                                     data-widths="[360, 540, 720, 900, 1080]"
                                                     data-sizes="auto"
                                                     alt="{{ pg_i_alt | escape }}">
                                                <noscript>
                                                    <img class="lazyloaded" src="{{ pg_i_img }}" alt="{{ pg_i_alt | escape }}">
                                                </noscript>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if has_product_video %}
                                        {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
                                        {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
                                        <div data-video-type="{{ video_type }}" class="product__video-wrapper
                                                {% if has_product_video %}
                                                    {% if video_type == 'youtube' or video_type == 'vimeo' %}
                                                        loading
                                                    {% endif %}
                                                {% endif %}"
                                             data-video-style="{{ settings.product_video_style }}"
                                             style="padding-bottom: {{ aspect_ratio }}%;">
                                            {% if video_type == 'youtube' %}
                                                <div
                                                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                        class="product__video"
                                                        data-image-count="{{product.images | size }}"
                                                        data-video-type="{{ video_type }}"
                                                        data-video-style="{{ settings.product_video_style }}"
                                                        data-youtube-id="{{ video_id }}"
                                                        data-video-width="{{ settings.product_video_width }}"
                                                        data-video-height="{{ settings.product_video_height }}">
                                                </div>
                                            {% endif %}
                                            {% if video_type == 'vimeo' %}
                                                <div
                                                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                        class="product__video"
                                                        data-image-count="{{product.images | size }}"
                                                        data-video-type="{{ video_type }}"
                                                        data-video-style="{{ settings.product_video_style }}"
                                                        data-video-id="{{ video_id }}"
                                                        data-video-width="{{ settings.product_video_width }}"
                                                        data-video-height="{{ settings.product_video_height }}">
                                                </div>
                                            {% endif %}
                                            {% if video_type == 'mp4' %}
                                                <video
                                                        loop playsinline
                                                        {% if settings.product_video_style == 'muted' %}muted{% endif %}
                                                        {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                                                        data-image-count="{{product.images | size }}"
                                                        data-video-type="{{ video_type }}"
                                                        data-video-style="{{ settings.product_video_style }}"
                                                        {% if isModal %}
                                                            data-video-src="{{ pg_i_url }}"
                                                        {% endif %}
                                                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                        class="product__video">
                                                    {% unless isModal %}
                                                        <source src="{{ pg_i_alt }}" type="video/mp4">
                                                    {% endunless %}
                                                    Your browser does not support the video tag.
                                                </video>
                                            {% endif %}
                                        </div>
                                        <div class="iframe-cover"></div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for image in product.images %}
                            {%- assign is_featured = false -%}
                            {% if featured_image == image %}
                                {%- assign is_featured = true -%}
                            {% endif %}
                            {%- assign image_alt = image.alt -%}
                            {%- assign has_product_video = false -%}
                            {%- assign video_type = '' -%}
                            {% if image.alt contains 'youtube.com/watch' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                                {%- assign video_id = image.alt | split: 'v=' -%}
                                {%- assign video_id = video_id[1] | split: '&' | first -%}
                            {% endif %}
                            {% if image.alt contains 'youtu.be/' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                                {%- assign video_id = image.alt | split: '.be/' -%}
                                {%- assign video_id = video_id[1] | split: '&' | first -%}
                            {% endif %}
                            {% if image.alt contains 'vimeo.com' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'vimeo' -%}
                                {%- assign video_id = image.alt | split: '.com/' -%}
                                {%- assign video_id = video_id[1] | split: '/' | first -%}
                            {% endif %}
                            {% if image.alt contains '.mp4' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'mp4' -%}
                            {% endif %}
                            {% if image.alt == 'gold' %}
                                {%- assign image_alt = 'color-gold' -%}
                            {% endif %}
                            {% if image.alt == 'rose-gold' %}
                                {%- assign image_alt = 'color-rose-gold' -%}
                            {% endif %}
                            {% if image.alt == 'silver' %}
                                {%- assign image_alt = 'color-silver' -%}
                            {% endif %}
                            {% if image.alt == 'black' %}
                                {%- assign image_alt = 'color-black' -%}
                            {% endif %}
                            {% if image.alt == 'stainless-steel' %}
                                {%- assign image_alt = 'color-stainless-steel' -%}
                            {% endif %}
                            {% if has_product_video %}
                                {%- assign image_alt = product.title -%}
                            {% endif %}
                            <div class="{% if is_featured %}starting-slide{% else %}secondary-slide{% endif %} main-photo-slide" data-index="{{ forloop.index0 }}" data-color="{{image_alt}}">
                                <div class="product-image-main">
                                    <div class="image-wrap {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'mp4' %} hide{% endif %}" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
                                        {% comment %}<div class="alt-img">{{image_alt}}</div>{% endcomment %}
                                        <div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{ image | img_url: product_zoom_size }}">

                                            {% if isModal %}
                                                <img
                                                        data-modal-lazy="{{ image | img_url: product_image_size }}"
                                                        data-image-src="{{ image | img_url: product_image_size }}"
                                                        alt="{{ image_alt | escape }}">
                                                <noscript>
                                                    <img src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                                                </noscript>
                                            {% else %}
                                                {% if is_featured %}
                                                    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                                    <img class="photo-zoom-link__initial lazyload"
                                                         data-src="{{ img_url }}"
                                                         data-widths="[360, 540, 720, 900, 1080]"
                                                         data-aspectratio="{{ image.aspect_ratio }}"
                                                         data-sizes="auto"
                                                         alt="{{ image_alt | escape }}">
                                                    <noscript>
                                                        <img class="photo-zoom-link__initial lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                                                    </noscript>
                                                {% else %}
                                                    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                                    <img class="lazyload"
                                                         data-src="{{ img_url }}"
                                                         data-widths="[360, 540, 720, 900, 1080]"
                                                         data-aspectratio="{{ image.aspect_ratio }}"
                                                         data-sizes="auto"
                                                         alt="{{ image_alt | escape }}">
                                                    <noscript>
                                                        <img class="lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                                                    </noscript>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if has_product_video %}
                                        {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
                                        {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
                                        <div
                                                data-video-type="{{ video_type }}"
                                                class="product__video-wrapper
                    {% if has_product_video %}
                      {% if video_type == 'youtube' or video_type == 'vimeo' %}
                        loading
                      {% endif %}
                    {% endif %}"
                                                data-video-style="{{ settings.product_video_style }}"
                                                style="padding-bottom: {{ aspect_ratio }}%;">
                                            {% if video_type == 'youtube' %}
                                                <div
                                                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                        class="product__video"
                                                        data-image-count="{{product.images | size }}"
                                                        data-video-type="{{ video_type }}"
                                                        data-video-style="{{ settings.product_video_style }}"
                                                        data-youtube-id="{{ video_id }}"
                                                        data-video-width="{{ settings.product_video_width }}"
                                                        data-video-height="{{ settings.product_video_height }}">
                                                </div>
                                            {% endif %}
                                            {% if video_type == 'vimeo' %}
                                                <div
                                                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                        class="product__video"
                                                        data-image-count="{{product.images | size }}"
                                                        data-video-type="{{ video_type }}"
                                                        data-video-style="{{ settings.product_video_style }}"
                                                        data-video-id="{{ video_id }}"
                                                        data-video-width="{{ settings.product_video_width }}"
                                                        data-video-height="{{ settings.product_video_height }}">
                                                </div>
                                            {% endif %}
                                            {% if video_type == 'mp4' %}
                                                <video
                                                        loop playsinline
                                                        {% if settings.product_video_style == 'muted' %}muted{% endif %}
                                                        {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                                                        data-image-count="{{product.images | size }}"
                                                        data-video-type="{{ video_type }}"
                                                        data-video-style="{{ settings.product_video_style }}"
                                                        {% if isModal %}
                                                            data-video-src="{{ image.alt }}"
                                                        {% endif %}
                                                        id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                                                        class="product__video">
                                                    {% unless isModal %}
                                                        <source src="{{ image.alt }}" type="video/mp4">
                                                    {% endunless %}
                                                    Your browser does not support the video tag.
                                                </video>
                                            {% endif %}
                                        </div>
                                        <div class="iframe-cover"></div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="ProductThumbs-{{ section_id }}"
                 class="product__thumbs product__thumbs--{{ thumbnail_position }}"
                 data-position="{{ thumbnail_position }}"
                 data-aos>
                {% assign scope = product.metafields.airf %}
                {% assign p_g_list = scope.p_g_list %}
                {% if p_g_list and p_g_list != blank %}
                    {% for row in p_g_list.rows %}
                        {%- assign has_product_video = false -%}
                        {%- assign video_type = '' -%}
                        {% for row_field in row %}
                            {% if row_field.key contains "pg_i_vid" %}
                                {% assign pg_i_vid = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "pg_i_url" %}
                                {% assign pg_i_url = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "pg_i_img" %}
                                {% assign pg_i_img = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "pg_i_alt" %}
                                {% assign pg_i_alt = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        {% if pg_i_vid %}
                            {% if pg_i_url contains 'youtube.com/watch' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                            {% endif %}
                            {% if pg_i_url contains 'youtu.be/' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                            {% endif %}
                            {% if pg_i_url contains 'vimeo.com' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'vimeo' -%}
                            {% endif %}
                            {% if pg_i_url contains '.mp4' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'mp4' -%}
                            {% endif %}
                        {% endif %}
                        <div class="product__thumb-item" data-color="color-default"
                             data-index="{{ forloop.index0 }}">
                            <div class="image-wrap">
                                <div
                                        class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                                        {% if settings.product_zoom_enable %}data-zoom="{{ pg_i_img }}"{% endif %}>
                                    {% if has_product_video %}
                                        <span class="product__thumb-play">
                                            {% include 'icon-play' %}
                                        </span>
                                    {% endif %}
                                    {% if isModal %}
                                        <img
                                                data-modal-lazy="{{ pg_i_img }}"
                                                class="animation-delay-{{ forloop.index | times: 3 }}"
                                                alt="{{ pg_i_alt | escape }}">
                                        <noscript>
                                            <img src="{{ pg_i_img }}" alt="{{ pg_i_alt | escape }}">
                                        </noscript>
                                    {% else %}
                                        <img class="lazyload"
                                             data-src="{{ pg_i_img }}"
                                             data-widths="[180, 360, 540]"
                                             data-aspectratio="{{ image.aspect_ratio }}"
                                             data-sizes="auto"
                                             alt="{{ pg_i_alt | escape }}"
                                             class="animation-delay-{{ forloop.index | times: 3 }}">
                                        <noscript>
                                            <img class="lazyloaded" src="{{ pg_i_img }}" alt="{{ pg_i_alt | escape }}">
                                        </noscript>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for image in product.images %}
                        {%- assign image_alt = image.alt -%}
                        {%- assign has_product_video = false -%}
                        {%- assign video_type = '' -%}
                        {% if image.alt contains 'youtube.com/watch' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'youtube' -%}
                        {% endif %}
                        {% if image.alt contains 'youtu.be/' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'youtube' -%}
                        {% endif %}
                        {% if image.alt contains 'vimeo.com' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'vimeo' -%}
                        {% endif %}
                        {% if image.alt contains '.mp4' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'mp4' -%}
                        {% endif %}
                        {% if image.alt == 'gold' %}
                            {%- assign image_alt = 'color-gold' -%}
                        {% endif %}
                        {% if image.alt == 'rose-gold' %}
                            {%- assign image_alt = 'color-rose-gold' -%}
                        {% endif %}
                        {% if image.alt == 'silver' %}
                            {%- assign image_alt = 'color-silver' -%}
                        {% endif %}
                        {% if image.alt == 'black' %}
                            {%- assign image_alt = 'color-black' -%}
                        {% endif %}
                        {% if image.alt == 'stainless-steel' %}
                            {%- assign image_alt = 'color-stainless-steel' -%}
                        {% endif %}
                        {% if has_product_video %}
                            {%- assign image_alt = product.title -%}
                        {% endif %}

                        <div class="product__thumb-item"
                             data-index="{{ forloop.index0 }}" data-color="{{image_alt}}">
                            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
                                <div
                                        class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                                        data-id="{{ image.id }}"
                                        {% if settings.product_zoom_enable %}data-zoom="{{ image.src | img_url: product_zoom_size }}"{% endif %}
                                >
                                    {% if has_product_video %}
                                        <span class="product__thumb-play">
                  {% include 'icon-play' %}
                </span>
                                    {% endif %}

                                    {% if isModal %}
                                        <img
                                                data-modal-lazy="{{ image.src | img_url: product_thumb_size }}"
                                                class="animation-delay-{{ forloop.index | times: 3 }}"
                                                alt="{{ image_alt | escape }}">
                                        <noscript>
                                            <img src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                                        </noscript>
                                    {% else %}
                                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                        <img class="lazyload"
                                             data-src="{{ img_url }}"
                                             data-widths="[180, 360, 540]"
                                             data-aspectratio="{{ image.aspect_ratio }}"
                                             data-sizes="auto"
                                             alt="{{ image_alt | escape }}"
                                             class="animation-delay-{{ forloop.index | times: 3 }}">
                                        <noscript>
                                            <img class="lazyloaded" src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                                        </noscript>
                                    {% endif %}
                                    {% comment %}<div class="alt-img">{{image_alt}}</div>{% endcomment %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <button type="button" class="thumbs-slider-arrow{% if product.images.size < 5 %} hide{% endif %}">
        <img src="{{ 'acs-arrow.svg' | asset_url }}" />
    </button>

{% endunless %}
