{% comment %}{{product.metafields.airf.accc}}{% endcomment %}
{% assign accc = product.metafields.airf.accc %}

<div class='product-section-about'>
    {% comment %}
    <div class="product-section-about__tags">
        <div class="page-width">
            <ul>
                <li>
                    <a href="#shipping-popup-1" class='shipping-popup-link-1'>
                        <div class="product-section-about__tags-icon">
                            <svg width="28" height="16" viewBox="0 0 28 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2857 13.3738C10.2857 14.6058 9.28878 15.6027 8.06487 15.6027C6.83285 15.6027 5.84399 14.6058 5.84399 13.3738C5.84399 12.1417 6.84095 11.1529 8.06487 11.1529C9.28878 11.1448 10.2857 12.1417 10.2857 13.3738Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M24.7538 13.3738C24.7538 14.6058 23.7568 15.6027 22.5329 15.6027C21.3009 15.6027 20.312 14.6058 20.312 13.3738C20.312 12.1417 21.309 11.1529 22.5329 11.1529C23.7568 11.1448 24.7538 12.1417 24.7538 13.3738Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M24.7538 13.3738H26.1479C26.4397 13.3738 26.6828 13.1307 26.6828 12.8389V11.6636V11.1287H4.1499" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M10.2856 13.3738H20.3039" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M4.1499 13.3738H5.83582" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M4.1499 4.07701V0.405273H18.7882V11.1368H4.1499V7.05168" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M26.6746 11.1368H18.7881V2.9585H22.4193L24.3727 6.62212L26.6746 7.51371V11.1368Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.53291 4.0769H2.4397" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M6.53293 7.05176H0.405273" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <span>Free Shipping & Free Returns (USA & Canada)</span>
                    </a>
                </li>
                <li>
                    <a href="#shipping-popup-2" class='shipping-popup-link-2'>
                        <div class="product-section-about__tags-icon"><svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.35522 11.9348C2.34996 5.73579 7.72007 1 14.193 1" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        <path d="M2.86166 11.6537L1.19656 13.9963L0 11.387L2.86166 11.6537Z" fill="black"/>
                        <path d="M27.0307 16.0654C26.0432 22.2645 20.673 27.0003 14.1929 27.0003" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        <path d="M25.5242 16.3392L27.1965 13.9966L28.3858 16.6132L25.5242 16.3392Z" fill="black"/>
                        <path d="M14.0832 22.6666C9.29877 22.6666 5.4165 18.7843 5.4165 13.9999C5.4165 9.21552 9.29877 5.33325 14.0832 5.33325C18.8676 5.33325 22.7498 9.21552 22.7498 13.9999C22.7498 18.7905 18.8676 22.6666 14.0832 22.6666Z" stroke="black" stroke-miterlimit="10"/>
                        <path d="M11.6069 16.3953C11.6069 17.7143 12.7517 18.7844 14.1702 18.7844C15.5825 18.7844 16.7335 17.7143 16.7335 16.3953C16.7335 15.0763 15.5887 14.0062 14.1702 14.0062C12.7579 14.0062 11.6069 12.9361 11.6069 11.6171C11.6069 10.2981 12.7517 9.22803 14.1702 9.22803C14.9604 9.22803 15.6696 9.56399 16.1425 10.0866" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        <path d="M14.0894 7.92773V20.0909" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        </svg>
                        </div>
                        <span>60-Day money back guarantee</span>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="product-section-about__tags-icon">
                            <svg width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.2643 22.8744C17.2643 23.2662 16.9475 23.583 16.5557 23.583H1.12533C0.733525 23.583 0.416748 23.2662 0.416748 22.8744V9.59481V8.88623H17.2643V9.59481V22.8744Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M13.9797 8.87802V5.55186C13.9797 2.71755 11.6789 0.416748 8.84459 0.416748C6.01027 0.416748 3.70947 2.71755 3.70947 5.55186V8.87802" stroke="black" stroke-miterlimit="10"/>
                                <path d="M10.5453 14.9384C10.5453 13.9964 9.77836 13.2295 8.83637 13.2295C7.89437 13.2295 7.12744 13.9964 7.12744 14.9384C7.12744 15.5053 7.41087 16.0138 7.83602 16.3222L7.12744 18.6147H10.537L9.82838 16.3222C10.2619 16.0138 10.5453 15.5136 10.5453 14.9384Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <span>Safe and secure checkout</span>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="product-section-about__tags-icon"><svg width="19" height="26" viewBox="0 0 19 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.11475 16.165L7.72795 18.7699L14.1324 12.3655" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        <path d="M1.41479 16.3721C1.41479 9.43677 9.62772 1.57227 9.62772 1.57227C9.62772 1.57227 17.8407 9.43677 17.8407 16.3721C17.8407 20.91 14.1656 24.5851 9.62772 24.5851C5.08987 24.5851 1.41479 20.91 1.41479 16.3721Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        </svg>
                        </div>
                        <span>Quality Assured</span>
                    </a>
                </li>
            </ul>
            <div id="ShippingPopup1" class="modal modal--square">
                <div class="modal__inner">
                    <div class="modal__centered-content" style="text-align:left;">
                        <h1><b>Free Shipping & Free Returns (USA & Canada)</b></h1>
                        <p><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">We provide free and fast delivery within US and Canada on all orders.</span></p>
                        <p><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">For international orders standard rates will apply.</span></p>
                        <p><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Free delivery for international orders over $100.</span></p>
                        <p><span style="font-weight: 400;">You’ll be able to select delivery option and review prices for each option during the checkout.</span></p>
                        <p><span style="font-weight: 400;">Shipping time for in-stock items will very much depend on the courier you choose, since our Express and Economy couriers might take from 2-5 or 3-6 business days, whereas, our free Standard shipping may take slightly longer to deliver. In both cases, you will receive a tracking number shortly after placing your order so you’ll know exactly when your package is scheduled to arrive.&nbsp;</span></p>
                        <p><span style="font-weight: 400;">Our fulfillment facility begins processing your order within 1-4 business days after it is submitted. Keep in mind that packages aren’t transported over weekends or local public holidays. </span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Please take note: for made-to-order items or models with an active waitlist it may take up to several months for delivery of your handcrafted timepiece.</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Due to the unprecedented demand for our collections, and the artisan limited capacity of our workshops, timepieces these limited edition collections are shipped on a first come, first served basis. This helps to ensure that every timepiece receives the attention worthy of a Aromahigh precision instrument.&nbsp;</span></p>
                    </div>
                    <button type="button" class="modal__close js-modal-close text-link">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"></path>
                        </svg>
                        <span class="icon__fallback-text">"Close (esc)"</span>
                    </button>
                </div>
            </div>
            <div id="ShippingPopup2" class="modal modal--square" tabindex="-1">
                <div class="modal__inner">
                    <div class="modal__centered-content" style="text-align:left;">
                        <h1><b>Easy 60-day returns</b></h1>
                        <p><span style="font-weight: 400;">If you're not happy for any reason, you can return any of your purchased Aromahigh items within 60 days of receiving your order, provided the items are unused and in their original condition.</span></p>
                        <p><span style="font-weight: 400;">Furthermore, if your original timepiece is unworn, we’re more than happy to exchange it for a model that’s more to your liking. Simply email us to arrange an exchange via support@aromahigh.com&nbsp;</span></p>
                    </div>
                    <button type="button" class="modal__close js-modal-close text-link">
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"></path>
                        </svg>
                        <span class="icon__fallback-text">"Close (esc)"</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    {% endcomment %}
    {% assign feature_collection = main_collection %}

    {% assign scope = product.metafields.airf %}
    {% assign feat_im_t = scope.feat_im_t %}
    {% if feat_im_t and feat_im_t != blank %}
        {% for row in feat_im_t.rows %}
            {% for row_field in row %}
                {% assign feature_collection = product %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if feature_collection and feature_collection != '&nbsp' %}
        {% assign scope = product.metafields.airf %}
        {% assign feat_im_t = scope.feat_im_t %}
        {% unless feat_im_t and feat_im_t != blank %}
            {% assign scope = feature_collection.metafields.airf %}
            {% assign feat_im_t = scope.feat_im_t %}
        {%  endunless %}
        <div class="product-section-about__text">
            <div class="page-width">
            {% if feat_im_t and feat_im_t != blank %}
                {% for row in feat_im_t.rows %}
                    {% for row_field in row %}
                        {% if row_field.key contains "fea_i1" %}
                            {% assign fea_i1 = scope[row_field.key] %}
                        {% endif %}
                        {% if row_field.key contains "fea_i2" %}
                            {% assign fea_i2 = scope[row_field.key] %}
                        {% endif %}
                        {% if row_field.key contains "fea_t" %}
                            {% assign fea_t = scope[row_field.key] %}
                        {% endif %}
                    {% endfor %}
                    <div class="product-section-about__text-row">
                        {% if fea_i1 and fea_i1 != blank and fea_i1 != '&nbsp' %}
                        <div class="product-section-about__text-img">
                            <img src="{{ fea_i1 }}" srcset="{{ fea_i1 }}, {{ fea_i2 }} 2x" alt="">
                        </div>
                        {% endif %}
                        <article class="product-section-about__text-item" {% unless fea_i1 and fea_i1 != blank and fea_i1 != '&nbsp' %}style="width: 100%;" {% endunless %}>
                            {{ fea_t }}
                        </article>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    {% endif %}

    {% assign feature_icons_collection = main_collection %}

    {% assign scope = product.metafields.airf %}
    {% assign fea_ico = scope.fea_ico %}
    {% if fea_ico and fea_ico != blank %}
        {% for row in fea_ico.rows %}
            {% for row_field in row %}
                {% assign feature_icons_collection = product %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if feature_icons_collection and feature_icons_collection != '&nbsp' %}
        {% assign scope = feature_icons_collection.metafields.airf %}
        {% assign fea_ico = scope.fea_ico %}
        <div class="product-section-about__items">
            <div class="page-width">
                {% if fea_ico and fea_ico != blank %}
                    {% for row in fea_ico.rows %}
                        {% for row_field in row %}
                            {% if row_field.key contains "fea_ico_i" %}
                                {% assign fea_ico_i = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "fea_ico_t1" %}
                                {% assign fea_ico_t1 = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "fea_ico_t2" %}
                                {% assign fea_ico_t2 = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="product-section-about__item">
                            <figure><img src="{{ fea_ico_i }}" alt=""></figure>
                            <h6>{{ fea_ico_t1 }}</h6>
                            <p>{{ fea_ico_t2 }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

