<div class="product-delivery">
    {% assign date = 'now' | date: '%s' %}

    {% assign seconds = 3 | times: 24 | times: 60 | times: 60 %}
    {% assign date_deliver = 'now' | date: '%s' | plus: seconds | date: '%a, %b %d' %}

    <p>Order within <span id="endday"></span> , Get it by <span>{{ date_deliver }}</span></p>
    <script>
        var date;
        var display = document.getElementById('endday');

        $(document).ready(function() {
            setInterval(function() {

                var date = new Date().getTime() + 1000;
                var currenthours = new Date().getHours();
                var hours;
                var minutes;
                var seconds;
                if (currenthours != 23){
                    if (currenthours < 24) {
                        hours = 23 - currenthours;
                    } else {
                        hours = 24 + (24 - currenthours);
                    }
                    minutes = 60 - new Date().getMinutes();
                    seconds = 60 - new Date().getSeconds();

                    if (minutes < 10) {
                        minutes = '0' + minutes;
                    }
                    if (seconds < 10) {
                        seconds = '0' + seconds;
                    }

                    display.innerHTML = hours + ':' + minutes + ':' +seconds;
                } else {
                    display.innerHTML = 'LIVE NOW';
                }
            }, 1000);

        });




    </script>
</div>