<div class='fbt-fixed'>
    <div class='page-width'>
        <div class='column text_column'>
            <div class='fbt-fixed_title' data-id='{{ product.selected_or_first_available_variant.id }}'><b>{{ product.title }}</b></div>
            {% assign freq_prod = product.metafields.airf['freq_prod'] %}
            {% if freq_prod and freq_prod != blank %}
                {% assign product_counter = 0 %}
                {% assign separator = "###" %}
                {% assign freq_prod_related_handles = freq_prod | split: separator %}
                {% for handle in freq_prod_related_handles %}
                    {% if forloop.last != true %}{% assign last = 1 %}{% else %}{% assign last = 0 %}{% endif %}
                    {% assign related_product = all_products[handle] %}
                    {% unless related_product.empty? %}
                        {% if related_product.price_min > 0 and related_product.available  %}
                            {% assign product_counter = product_counter | plus:1 %}
                        {% endif %}
                    {% endunless %}
                {% endfor %}
                {% if product_counter > 0 %}
                <div class='fbt-fixed_selected'>
                    <a class='smooth-scroll' href='#product-section-bought-together'>plus {{ product_counter }}
                        <span>other</span> item{% if product_counter > 1 %}s{% endif %}</a>

                </div>
                {% endif %}
            {% else %}
                {% assign product_counter = 0 %}
                {% for collection_object in product.collections %}
                    {% assign collection_title_normalized = collection_object.title | downcase %}
                    {% if collection_title_normalized contains series_normalized %}
                        {% assign product_collection = collection_object %}
                    {% endif %}
                {% endfor %}

                {% assign freq_col = product_collection.metafields.airf['freq_col'] %}
                {% if freq_col and freq_col != blank %}

                    {% assign separator = "###" %}
                    {% assign freq_col_related_handles = freq_col | split: separator %}
                    {% for handle in freq_col_related_handles %}
                        {% if forloop.last != true %}{% assign last = 1 %}{% else %}{% assign last = 0 %}{% endif %}
                        {% assign product_collection_products = collections[handle].products | where: "available" |sort: 'best-selling' %}
                        {% for related_product in product_collection_products limit:1 %}
                            {% if related_product and related_product != blank and related_product.price_min > 0 %}
                                {% assign product_counter = product_counter | plus:1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if product_counter > 0 %}
                        <div class='fbt-fixed_selected'>
                            <a class='smooth-scroll' href='#product-section-bought-together'>plus {{ product_counter }}
                                <span>other</span> item{% if product_counter > 1 %}s{% endif %}</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class='column limited-offer-column'>
            {% if product.metafields.airf.count_text and product.metafields.airf.count_hour %}
                {% assign count_text = product.metafields.airf.count_text %}
                {% assign count_hour = product.metafields.airf.count_hour %}
            {% else if product_collection %}
                {% assign count_text = product_collection.metafields.airf.count_text %}
                {% assign count_hour = product_collection.metafields.airf.count_hour %}
            {% endif %}

            {% if count_text and count_hour and count_text != '&nbsp' and count_hour != '&nbsp' %}
                <div class='limited-offer' id='limited-offer'>
                    <div class='limited-offer-title'>{{ count_text }}</div>
                    <div class='limited-offer-timer' id='limited-offer-timer-fixed'></div>
                </div>
            {% endif %}
        </div>
        <div class='column cart_column'>
            {% if current_variant.available %}
            <div class='fbt-fixed_add_to_cart'>
                {% assign freq_products_price = freq_products_price | plus:product.price %}
                {% if product.compare_at_price > product.price %}
                    {% assign freq_products_strike_price = freq_products_strike_price | plus:product.compare_at_price %}
                {% else %}
                    {% assign freq_products_strike_price = freq_products_strike_price | plus:product.price %}
                {% endif %}

                <span class='main'>ADD
                    <span class='mobile'>TO CART</span>
                    {% comment %}
                        ({{ product.price | money | replace: "USD", "" }}
                        <span class='grey'>{{ product.compare_at_price | money | replace: "USD", "" }}</span>)
                    {% endcomment %}
                </span>
            </div>
            {% else %}
                <div class='fbt-fixed_add_to_cart_disabled'>
                    <span class='mobile sold-out'>{{ 'products.product.sold_out' | t }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
