{% assign v_title = product.metafields.airf.v_title %}
{% assign v_subtitle = product.metafields.airf.v_subtitle %}
{% assign b_video_1 = product.metafields.airf.b_video_1 %}
{% assign b_image_1 = product.metafields.airf.b_image_1 %}
{% assign b_title_1 = product.metafields.airf.b_title_1 %}
{% assign b_sub_1 = product.metafields.airf.b_sub_1 %}
{% assign b_video_2 = product.metafields.airf.b_video_2 %}
{% assign b_image_2 = product.metafields.airf.b_image_2 %}
{% assign b_title_2 = product.metafields.airf.b_title_2 %}
{% assign b_sub_2 = product.metafields.airf.b_sub_2 %}
{% assign b_video_3 = product.metafields.airf.b_video_3 %}
{% assign b_title_3 = product.metafields.airf.b_title_3 %}
{% assign b_sub_3 = product.metafields.airf.b_sub_3 %}
{% assign b_image_3 = product.metafields.airf.b_image_3 %}

{% if v_title and v_title != '&nbsp' %}
  <div class="section-video-reviews">
    <!-- {{ b_video_1 }} -->
    <div class="page-width">
      
      <h3 class="section-header__title">{{ v_title }}</h3>
      {% if v_subtitle and v_subtitle != '&nbsp' %}
      	<h5 class="section-header__subtitle">{{ v_subtitle }}</h5>
      {% endif %}
      
      <div class="video-reviews-wrapper">
        {% if b_video_1 and b_video_1 != '&nbsp' %}
          <div class="video-review-block">
            <a href="{{ b_video_1 }}" class="url_video_home">
              <div class="bg_image_home_video">
                <div class="overlay"></div>
                {% if b_image_1 and b_image_1 != '&nbsp' %}
                  <img src="{{ b_image_1 }}">
                {% endif %}
                <div class="absolute_content_video_home_block play_button">
                  <div class="button_play_video_home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none" class="button_play_video_inner">
                      <path d="M0 0V14L11 7L0 0Z" fill="black"/>
                    </svg>
                  </div>
                </div>
                <div class="absolute_content_video_home_block text_block">
                  {% if b_title_1 and b_title_1 != '&nbsp' %}<span class="video-review-title">{{ b_title_1 }}</span>{% endif %}
                  {% if b_sub_1 and b_sub_1 != '&nbsp' %}<span class="video-review-subtitle">{{ b_sub_1 }}</span>{% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endif %}
        {% if b_video_2 and b_video_2 != '&nbsp' %}
          <div class="video-review-block">
            <a href="{{ b_video_2 }}" class="url_video_home">
              <div class="bg_image_home_video">
                <div class="overlay"></div>
                {% if b_image_2 and b_image_2 != '&nbsp' %}
                  <img src="{{ b_image_2 }}">
                {% endif %}
                <div class="absolute_content_video_home_block play_button">
                  <div class="button_play_video_home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none" class="button_play_video_inner">
                      <path d="M0 0V14L11 7L0 0Z" fill="black"/>
                    </svg>
                  </div>
                </div>
                <div class="absolute_content_video_home_block text_block">
                  {% if b_title_2 and b_title_2 != '&nbsp' %}<span class="video-review-title">{{ b_title_2 }}</span>{% endif %}
                  {% if b_sub_2 and b_sub_2 != '&nbsp' %}<span class="video-review-subtitle">{{ b_sub_2 }}</span>{% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endif %}
        {% if b_video_3 and b_video_3 != '&nbsp' %}
          <div class="video-review-block">
            <a href="{{ b_video_3 }}" class="url_video_home">
              <div class="bg_image_home_video">
                <div class="overlay"></div>
                {% if b_image_3 and b_image_3 != '&nbsp' %}
                  <img src="{{ b_image_3 }}">
                {% endif %}
                <div class="absolute_content_video_home_block play_button">
                  <div class="button_play_video_home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14" fill="none" class="button_play_video_inner">
                      <path d="M0 0V14L11 7L0 0Z" fill="black"/>
                    </svg>
                  </div>
                </div>
                <div class="absolute_content_video_home_block text_block">
                  {% if b_title_3 and b_title_3 != '&nbsp' %}<span class="video-review-title">{{ b_title_3 }}</span>{% endif %}
                  {% if b_sub_3 and b_sub_3 != '&nbsp' %}<span class="video-review-subtitle">{{ b_sub_3 }}</span>{% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endif %}
      </div>
      
    </div>
  </div>
  {% include 'video-modal' %}
{% endif %}