{% if main_collection %}
    {% assign prod_pv_ti = main_collection.metafields.airf.col_pv_ti %}
    {% assign prod_pv_te = main_collection.metafields.airf.col_pv_te %}
    {% assign prod_pv_v = main_collection.metafields.airf.col_pv_v %}
{% endif %}

{% if prod_pv_ti and prod_pv_ti != '&nbsp' and prod_pv_te and prod_pv_te != '&nbsp' and prod_pv_v and prod_pv_v != '&nbsp' %}
{% else %}
    {% assign prod_pv_ti = shop.metafields.airf.prod_pv_ti %}
    {% assign prod_pv_te = shop.metafields.airf.prod_pv_te %}
    {% assign prod_pv_v = shop.metafields.airf.prod_pv_v %}
{% endif %}
{% if prod_pv_ti and prod_pv_ti != '&nbsp' and prod_pv_te and prod_pv_te != '&nbsp' and prod_pv_v and prod_pv_v != '&nbsp' %}
    <div class='product-section-promo-video product-section-padding'>
        <div class='page-width'>
            <div class='container'>
                <div class='product-information-block-text'>
                    <div class="product-information-block__title"><p>{{ prod_pv_ti }}</p></div>
                    <div class="description">{{ prod_pv_te }}</div>
                </div>
                <div class='video-section'>
                    {{ prod_pv_v }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

