{% assign pr_1 = product.metafields.airf.pr_1 %}
{% assign pr_2 = product.metafields.airf.pr_2 %}

{% assign upsell = product.metafields.airf['upsell'] %}{% if upsell and upsell != blank and upsell != '&nbsp' %}
  <hr class="hr--small acs-line medium-down--hide{% if pr_1 and pr_1 != blank and pr_1 != '&nbsp' and pr_2 and pr_2 != blank and pr_2 != '&nbsp' %} hide{% endif %}">

  <div
      class="product-single__upsale clearfix{% if pr_1 and pr_1 != blank and pr_1 != '&nbsp' and pr_2 and pr_2 != blank and pr_2 != '&nbsp' %} hide{% endif %}">
    <div class="product-single__upsale__title">
      {% assign acctit = product.metafields.airf.acctit %}
      {% if acctit and acctit != '&nbsp' %}
        {{ acctit }}
      {% else %}
        {{ 'accessories.default_title' | t }}
      {% endif %}

      {% assign upsale_title = product.metafields.airf.acsrs %}
    </div>


    {% assign product_tags = product.tags | join:',' %}
    {% assign upsell_prefix = "upsell_" %}
    {% comment %} Gets color tag from upsell prefix logic to filter out upsell_{color} from collection products by tag {color} in order to show same color upsell {% endcomment %}
    <div class="add-acs-wrap">
      <button type="button" class="acs-slider-arrow acs-slider-arrow-prev hide">
        <svg class="slick-arrow__icon" width="9" height="14" viewBox="0 0 9 14" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.22359 0l1.6855 1.63333L3.37101 7l5.53808 5.36667L7.22359 14l-7.2236-7z" fill="#000000"
                fill-rule="evenodd"></path>
        </svg>
      </button>
      <div class="add-acs">
        {% for product_tag_temp in product.tags %}
          {% if product_tag_temp contains upsell_prefix %}
            {% assign product_tag = product_tag_temp %}
            {% assign product_color_tag = product_tag | remove: upsell_prefix | downcase | strip | replace: ' ', '-'  %}
            {% assign separator = "###" %}
            {% assign upsell_related_handles = upsell | split: separator %}
            {% assign count = 0 %}
            {% for handle in upsell_related_handles %}
              {% if handle contains 'jewelry' %}
                {% assign any_size = true %}
                {% else %}
                {% assign any_size = false %}
              {% endif %}
              {% assign related_collection = collections[handle] %}
              {% unless related_collection.empty? %}
                {% for upsell_product in related_collection.products %}
                  {% if upsell_product.available %}
                    {% assign upsell_product_tags = upsell_product.tags | join: ',' | downcase | strip | replace: ' ', '-'  %}
                    {% if upsell_product_tags contains product_color_tag %}
                      {% if count <= 9 %}
                        {% include 'upsell-item' %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endunless %}
            {% endfor %}
            {% continue %}
          {% endif %}
        {% endfor %}
      </div>
      <button type="button" class="acs-slider-arrow acs-slider-arrow-right hide">
        <svg class="slick-arrow__icon" width="9" height="14" viewBox="0 0 9 14" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.6855 0L0 1.63333 5.53808 7 0 12.36667 1.6855 14l7.22359-7z" fill="#000000"
                fill-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>
{% endif %}

{% comment %}

{% assign pr_1 = product.metafields.airf.pr_1 %}
{% assign pr_2 = product.metafields.airf.pr_2 %}

{% assign acsrs = product.metafields.airf.acsrs %}
{% assign accessory_check = acsrs | size %}
  {% if acsrs and acsrs != blank and acsrs != '&nbsp' and accessory_check > 5 %}

    <hr class="hr--small acs-line medium-down--hide{% if pr_1 and pr_1 != blank and pr_1 != '&nbsp' and pr_2 and pr_2 != blank and pr_2 != '&nbsp' %} hide{% endif %}">

    <div
        class="product-single__upsale clearfix{% if pr_1 and pr_1 != blank and pr_1 != '&nbsp' and pr_2 and pr_2 != blank and pr_2 != '&nbsp' %} hide{% endif %}">
      <div class="product-single__upsale__title">

        {% comment %}
        {% assign upsl_0 = shop.metafields.airf.upsl_0 %}
          {% if upsl_0 and upsl_0 != '&nbsp' %}
            <span class="acs-count acs-count-0 active">{{ upsl_0 }}</span>
          {% endif %}

        {% assign upsl_1 = shop.metafields.airf.upsl_1 %}
          {% if upsl_1 and upsl_1 != '&nbsp' %}
            <span class="acs-count acs-count-1">{{ upsl_1 }}</span>
          {% endif %}

        {% assign upsl_2 = shop.metafields.airf.upsl_2 %}
          {% if upsl_2 and upsl_2 != '&nbsp' %}
            <span class="acs-count acs-count-2">{{ upsl_2 }}</span>
          {% endif %}

        {% assign upsl_3 = shop.metafields.airf.upsl_3 %}
          {% if upsl_3 and upsl_3 != '&nbsp' %}
            <span class="acs-count acs-count-3">{{ upsl_3 }}</span>
          {% endif %}

        {% assign upsl_4 = shop.metafields.airf.upsl_4 %}
          {% if upsl_4 and upsl_4 != '&nbsp' %}
            <span class="acs-count acs-count-4">{{ upsl_4 }}</span>
          {% endif %}

        {% assign upsl_5 = shop.metafields.airf.upsl_5 %}
          {% if upsl_5 and upsl_5 != '&nbsp' %}
            <span class="acs-count acs-count-5">{{ upsl_5 }}</span>
          {% endif %}

        {% assign upsl_6 = shop.metafields.airf.upsl_6 %}
          {% if upsl_6 and upsl_5 != '&nbsp' %}
            <span class="acs-count acs-count-6">{{ upsl_6 }}</span>
          {% endif %}

        {% assign upsl_7 = shop.metafields.airf.upsl_7 %}
          {% if upsl_7 and upsl_7 != '&nbsp' %}
            <span class="acs-count acs-count-7">{{ upsl_7 }}</span>
          {% endif %}

        {% assign upsl_8 = shop.metafields.airf.upsl_8 %}
          {% if upsl_8 and upsl_8 != '&nbsp' %}
            <span class="acs-count acs-count-8">{{ upsl_8 }}</span>
          {% endif %}

        {% assign upsl_all = shop.metafields.airf.upsl_all %}
          {% if upsl_all and upsl_all != '&nbsp' %}
            <span class="acs-count acs-count-all all-added">{{ upsl_all }}</span>
          {% endif %}

        {% endcomment %}

        {% assign acctit = product.metafields.airf.acctit %}
        {% if acctit and acctit != '&nbsp' %}
          {{ acctit }}
        {% else %}
          {{ 'accessories.default_title' | t }}
        {% endif %}

        {% assign upsale_title = product.metafields.airf.acsrs %}


      </div>

      <div class="add-acs-wrap">
        <button type="button" class="acs-slider-arrow acs-slider-arrow-right hide">
          <img src="{{ 'acs-arrow.svg' | asset_url }}"/>
        </button>
        <div class="add-acs">
          {% assign separator = "###" %}
          {% assign acsrs_childs_keys = acsrs | split: separator %}
          {% for acsrs_child_key in acsrs_childs_keys %}

            {% if acsrs_child_key contains "acsvar" %}

              {% assign list = product.metafields.airf[acsrs_child_key] | split: separator %}
              {% assign handle = list[1] | remove: "r/" | remove: "/r" %}
              {% assign varid = list[2] | remove: "r/" | remove: "/r" %}

              {% comment %}V: {{ list[2] | remove: "r/" }} P: {{ list[1]| remove: "r/" | remove: "/r" }}

                <br>{% endcomment %}

              {% assign related_product = all_products[handle] %}

              {% unless related_product.empty? %}
                {% include 'product-accessory-item' %}
              {% endunless %}

            {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% comment %}
  {% assign acs = product.metafields.airf.acs %}
    {% if acs and acs != blank and acs != '&nbsp' %}
      <hr class="hr--small medium-down--hide">

      <div class="product-single__upsale">
        <div class="product-single__upsale__title">Add
          <span class="acs-count acs-count-0 active">an</span>
          <span class="acs-count acs-count-1">a second</span>
          <span class="acs-count acs-count-2">a third</span>
          <span class="acs-count acs-count-3">a fourth</span>
          <span class="acs-count acs-count-4">a fifth</span>
          <span class="acs-count acs-count-5">a sixth</span>
          <span class="acs-count acs-count-6">a seventh</span>
          <span class="acs-count acs-count-7">an eighth</span>
          <span class="acs-count acs-count-8">a nineth</span> accessory
        </div>
        <div class="add-acs-wrap">
          <button type="button" class="acs-slider-arrow acs-slider-arrow-right">
            <img src="{{ 'acs-arrow.svg' | asset_url }}"/>
          </button>
          <div class="add-acs">
            {% assign separator = "###" %}
            {% assign acs_related_handles = acs | split: separator %}
            {% for handle in acs_related_handles %}

              {% assign related_product = all_products[handle] %}
              {% unless related_product.empty? %}
                {% include 'product-accessory-item' %}
              {% endunless %}

            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endcomment %}
{% endcomment %}
