{% assign freq_prod = product.metafields.airf['freq_prod'] %}
{% assign pbt_item_counter = 0 %}
{% if freq_prod and freq_prod != blank and freq_prod != '&nbsp' %}
    {% assign separator = "###" %}
    {% assign freq_prod_related_handles = freq_prod | split: separator %}
    {% for handle in freq_prod_related_handles %}

        {% assign related_product = all_products[handle] %}
        {% unless related_product.empty? %}
            {% if related_product.price_min > 0 and related_product.available  %}
                {% assign pbt_item_counter = pbt_item_counter | plus: 1 %}
                {% if pbt_item_counter < 5 %}
                    {% assign freq_products_price = freq_products_price | plus:related_product.price %}
                    {% if related_product.compare_at_price > related_product.price %}
                        {% assign freq_products_strike_price = freq_products_strike_price | plus:related_product.compare_at_price %}
                    {% else %}
                        {% assign freq_products_strike_price = freq_products_strike_price | plus:related_product.price %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endunless %}

    {% endfor %}
{% else %}
    {% for collection_object in product.collections %}
        {% assign collection_title_normalized = collection_object.title | downcase %}
        {% if collection_title_normalized contains series_normalized %}
            {% assign product_collection = collection_object %}
        {% endif %}
    {% endfor %}

    {% assign freq_col = product_collection.metafields.airf['freq_col'] %}
    {% if freq_col and freq_col != blank and freq_col != '&nbsp' %}

        {% assign separator = "###" %}
        {% assign freq_col_related_handles = freq_col | split: separator %}
        {% for handle in freq_col_related_handles %}
            {% assign product_collection_products = collections[handle].products | where: "available" |sort: 'best-selling' %}
            {% for related_product in product_collection_products limit:1 %}
                {% if related_product and related_product != blank and related_product.price_min > 0 %}
                    {% assign pbt_item_counter = pbt_item_counter | plus: 1 %}
                    {% if pbt_item_counter < 5 %}
                        {% assign freq_products_price = freq_products_price | plus:related_product.price %}
                        {% if related_product.compare_at_price > related_product.price %}
                            {% assign freq_products_strike_price = freq_products_strike_price | plus:related_product.compare_at_price %}
                        {% else %}
                            {% assign freq_products_strike_price = freq_products_strike_price | plus:related_product.price %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if freq_products_price %}
<div class='product-section-bought-together product-section-padding' id='product-section-bought-together'>
    <div class='page-width wider'>
        <div class='row'>
            <div class='col-md-6 order-md-1'>
                <div class='product-section--title'>
                    Frequently bought together
                </div>
                <div class='product-section--text'>
                    Our clients usually purchase "{{product.title}}" together with these accessories. Level up your style and save up to {{ freq_products_strike_price | minus:freq_products_price | money | replace: "USD", "" }} when purchasing these items together.
                </div>
            </div>
            <div class='col-12 order-md-3'>
                <div class='grid-items'>
                    {% assign pbt_item_counter = 0 %}
                    {% assign freq_prod = product.metafields.airf['freq_prod'] %}
                    {% if freq_prod and freq_prod != blank and freq_prod != '&nbsp' %}
                        {% assign separator = "###" %}
                        {% assign freq_prod_related_handles = freq_prod | split: separator %}
                        {% for handle in freq_prod_related_handles %}
                            {% if forloop.last != true %}{% assign last = 1 %}{% else %}{% assign last = 0 %}{% endif %}
                            {% assign related_product = all_products[handle] %}
                            {% unless related_product.empty? %}
                                {% if related_product.price_min > 0 and related_product.available  %}
                                    {% assign pbt_item_counter = pbt_item_counter | plus: 1 %}
                                    {% if pbt_item_counter < 5 %}
                                        {% include 'product-section-bought-together-item' %}
                                    {% endif %}
                                {% endif %}
                            {% endunless %}
                        {% endfor %}
                    {% else %}
                        {% for collection_object in product.collections %}
                            {% assign collection_title_normalized = collection_object.title | downcase %}
                            {% if collection_title_normalized contains series_normalized %}
                                {% assign product_collection = collection_object %}
                            {% endif %}
                        {% endfor %}

                        {% assign freq_col = product_collection.metafields.airf['freq_col'] %}
                        {% if freq_col and freq_col != blank and freq_col != '&nbsp' %}

                            {% assign separator = "###" %}
                            {% assign freq_col_related_handles = freq_col | split: separator %}
                            {% for handle in freq_col_related_handles %}
                                {% if forloop.last != true %}{% assign last = 1 %}{% else %}{% assign last = 0 %}{% endif %}
                                {% assign product_collection_products = collections[handle].products | where: "available" |sort: 'best-selling' %}
                                {% for related_product in product_collection_products limit:1 %}
                                    {% if related_product and related_product != blank and related_product.price_min > 0 %}
                                        {% assign pbt_item_counter = pbt_item_counter | plus: 1 %}
                                        {% if pbt_item_counter < 5 %}
                                            {% include 'product-section-bought-together-item' %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class='col-md-6 order-md-2'>
                <div class='total_wrapper'>
                    <div class='add_to_cart fbt-add_to_cart'><span>ADD ITEMS TO CART</span></div>
                    <div class='total d-flex align-content-center justify-content-between'>
                        <div class='total-label'>Total Price:</div>
                        <div class='total-value'>
                            <span class='money fbt-price'>{{ freq_products_price | money | replace: "USD", "" }}</span>
                            <span class='money strike-through fbt-strike-price {% if freq_products_strike_price == 0 %}hide{% endif %}'>{{ freq_products_strike_price | money | replace: "USD", "" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
