{% assign scope = product.metafields.airf %}
{% assign ps_b_l = scope.ps_b_l %}
<div class="product-section-benefits">
    <div class="benefits-list">
        <div class="benefits-item">
            <div class="benefits-icon">
                <img src="{{ 'benefits-icon.svg' | asset_url }}" />
            </div>
            <div class="benefits-text">
                <p><a href="#shipping-popup-1" class='shipping-popup-link-1'>Free Shipping & Free Returns (USA & Canada)</a></p>
            </div>
        </div>
        <div class="benefits-item">
            <div class="benefits-icon">
                <img src="{{ 'benefits-icon.svg' | asset_url }}" />
            </div>
            <div class="benefits-text">
                <p><a href="#shipping-popup-2" class='shipping-popup-link-2'>60-Day money back guarantee</a></p>
            </div>
        </div>
        <div class="benefits-item">
            <div class="benefits-icon">
                <img src="{{ 'benefits-icon.svg' | asset_url }}" />
            </div>
            <div class="benefits-text">
                <p>Fast Shipping Worldwide</p>
            </div>
        </div>
        {% for row in ps_b_l.rows %}
            {% for row_field in row %}
                {% if row_field.key contains "ps_b_l_t" %}
                    {% assign ps_b_l_t = scope[row_field.key] %}
                {% endif %}
            {% endfor %}
            {% unless ps_b_l_t contains 'GC/MS TESTED' or ps_b_l_t contains 'GROWN INDIGENOUSLY' or ps_b_l_t contains 'MONEY BACK GUARANTEE' %}
            <div class="benefits-item">
                <div class="benefits-icon">
                    <img src="{{ 'benefits-icon.svg' | asset_url }}" />
                </div>
                <div class="benefits-text">
                    <p>{{ ps_b_l_t }}</p>
                </div>
            </div>
            {% endunless %}
        {% endfor %}
    </div>
</div>
<script>
    window.onload = function() {
        if (window.jQuery) {
            console.log('StartScriptsLoaded');
            var modal_1 = new theme.Modals('ShippingPopup1', 'shipping-popup-1', {
                closeOffContentClick: true,
                solid: true
            });
            var modal_2 = new theme.Modals('ShippingPopup2', 'shipping-popup-2', {
                closeOffContentClick: true,
                solid: true
            });
            var modal_3 = new theme.Modals('ShippingPopup3', 'shipping-popup-3', {
                closeOffContentClick: true,
                solid: true
            });
            $('.shipping-popup-link-1').on('click', function () {
                modal_1.open();
            });
            $('.shipping-popup-link-2').on('click', function () {
                modal_2.open();
            });
            $('.shipping-popup-link-3').on('click', function () {
                modal_3.open();
            });
        }
    };
</script>
<div id="ShippingPopup1" class="modal modal--square">
    <div class="modal__inner">
        <div class="modal__centered-content" style="text-align:left;">
            <h1><b>Free Shipping & Free Returns (USA & Canada)</b></h1>
            <p><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">We provide free and fast delivery within US and Canada on all orders.</span></p>
            <p><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">For international orders standard rates will apply.</span></p>
            <p><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Free delivery for international orders over $100.</span></p>
            <p><span style="font-weight: 400;">You’ll be able to select delivery option and review prices for each option during the checkout.</span></p>
            <p><span style="font-weight: 400;">Shipping time for in-stock items will very much depend on the courier you choose, since our Express and Economy couriers might take from 2-5 or 3-6 business days, whereas, our free Standard shipping may take slightly longer to deliver. In both cases, you will receive a tracking number shortly after placing your order so you’ll know exactly when your package is scheduled to arrive.&nbsp;</span></p>
            <p><span style="font-weight: 400;">Our fulfillment facility begins processing your order within 1-4 business days after it is submitted. Keep in mind that packages aren’t transported over weekends or local public holidays. </span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Please take note: for made-to-order items or models with an active waitlist it may take up to several months for delivery of your handcrafted timepiece.</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">Due to the unprecedented demand for our collections, and the artisan limited capacity of our workshops, timepieces these limited edition collections are shipped on a first come, first served basis. This helps to ensure that every timepiece receives the attention worthy of a Aromahigh precision instrument.&nbsp;</span></p>
        </div>
        <button type="button" class="modal__close js-modal-close text-link">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"></path>
            </svg>
            <span class="icon__fallback-text">"Close (esc)"</span>
        </button>
    </div>
</div>
<div id="ShippingPopup2" class="modal modal--square" tabindex="-1">
    <div class="modal__inner">
        <div class="modal__centered-content" style="text-align:left;">
            <h1><b>Easy 60-day returns</b></h1>
            <p><span style="font-weight: 400;">If you're not happy for any reason, you can return any of your purchased Aromahigh items within 60 days of receiving your order, provided the items are unused and in their original condition.</span></p>
            <p><span style="font-weight: 400;">Furthermore, if your original timepiece is unworn, we’re more than happy to exchange it for a model that’s more to your liking. Simply email us to arrange an exchange via support@aromahigh.com&nbsp;</span></p>
        </div>
        <button type="button" class="modal__close js-modal-close text-link">
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"></path>
            </svg>
            <span class="icon__fallback-text">"Close (esc)"</span>
        </button>
    </div>
</div>