{% assign bndl_on = shop.metafields.airf.bndl_on %}
{% assign related_product_availability_main = false %}
{% assign related_product_availability = false %}

{% assign women_bndl = product.metafields.airf.women_bndl %}
{% if women_bndl == "true" %}
  {% assign women_bndl_check = true %}
{% else %}
  {% assign women_bndl_check = false %}
{% endif %}
    
{% assign pr_1 = product.metafields.airf.pr_1 %}
{% if pr_1 and pr_1 != blank %}
  {% assign separator = "###" %}
  {% assign pr_1_related_handles = pr_1 | split: separator %}
  {% for handle in pr_1_related_handles %}
    {% assign related_product = all_products[handle] %}
    {% unless related_product.empty? %}
        {% assign related_handle = related_product.handle %}
        {% assign related_id = related_product.selected_or_first_available_variant.id %}
        {% if related_product.selected_or_first_available_variant.inventory_quantity > 0 or related_product.selected_or_first_available_variant.inventory_policy == 'continue' %}
          {% assign related_product_availability_main = true %}
        {% endif %}
    {% endunless %}
  {% endfor %}
{% endif %}

{% assign pr_2 = product.metafields.airf.pr_2 %}
{% if pr_2 and pr_2 != blank and pr_2 != '&nbsp' %}
    {% assign data_separator = "/r###r/" %}
    {% assign separator = "###" %}
    {% assign related_data = pr_2 | split: data_separator %}
    {% assign data_product = related_data[0] | split: separator %}
    {% assign product_handle = data_product[1] %}
    {% assign related_product = all_products[product_handle] %}
    {% assign variant_ids = related_data[1] | split: separator %}
    {% for product_variant in related_product.variants %}
        {% assign current_id = product_variant.id | downcase %}
        {% if variant_ids contains current_id %}

            {% if product_variant.inventory_quantity > 0 or product_variant.inventory_policy == 'continue' %}
              {% if related_product_availability_main == true %}
                {% assign related_product_availability = true %}
              {% endif %}
            {% endif %}
            <div class="bundle-addition{% if bndl_on != "true" %} hide{% endif %}" data-main-id="{{ related_id }}" data-secondary-id="{{ product_variant.id }}" data-secondary-title="{{ related_product.title }}"{% if women_bndl_check %} data-bundle-women="true"{% endif %}>
              <div class="bundle-offer d-flex">
                <img src="{{ 'green-check.svg' | asset_url }}" />
                <div>Bundle offer:</div>
              </div>
              <div class="d-flex align-items-center">
                
                {% if all_products[related_handle].image == blank %}
                  <div class="image-wrap">
                    <img class="bundle_image lazyloaded"
                      src="{{ all_products[related_handle].featured_image | img_url: '400x' }}"
                      alt="{{ all_products[related_handle].featured_image.alt | escape }}">
                  </div>
                {% endif %}

                <div class="bundle-plus">+</div>
                {% if product_variant.image == blank %}
                  <div class="image-wrap">
                    <img class="bundle__image lazyloaded"
                      src="{{ related_product.featured_image | img_url: '400x' }}"
                      alt="{{ related_product.featured_image.alt | escape }}">
                  </div>
                {% else %}
                  <div class="image-wrap">
                    <img class="bundle__image lazyloaded"
                      src="{{ product_variant.image | img_url: '400x' }}"
                      alt="{{ product_variant.image.alt | escape }}">
                  </div>
                {% endif %}
                {% assign bndl_msg = shop.metafields.airf.bndl_msg %}
                {% if bndl_msg and bndl_msg != '&nbsp' %}
                  <div class="bundle-message">
                    {{ bndl_msg | newline_to_br }}
                  </div>
                {% endif %}
              </div>

            </div>
          
        {% endif %}
    {% endfor %}
{% endif %}
