{% assign bonus_img = product.metafields.airf.bonus_img %}
{% if bonus_img and bonus_img != '&nbsp' %}

  <div class="shopify-section index-section index-section--text-image product-section-bonus">

  <div class="page-width">
    

    <div class="feature-row aos-init aos-animate">
      
        
      <div class="feature-row__item">
        
          
          <div class="image-wrap" style="background-image: url({{ bonus_img }});">
            <img class="feature-row__image" src="{{ bonus_img }}">
          </div>
          
        
      </div>
    
      
      
      <div class="feature-row__item feature-row__text feature-row__text--left test">
        <div class="inner_feature_row_flex">
          
            {% assign bonus_sup = product.metafields.airf.bonus_sup %}
            {% if bonus_sup and bonus_sup != '&nbsp' %}
              <p class="subtitle">{{ bonus_sup }}</p>
            {% endif %}

            {% assign bonus_ttl = product.metafields.airf.bonus_ttl %}
            {% if bonus_ttl and bonus_ttl != '&nbsp' %}
              <h2 class="h3 fl-sans">{{ bonus_ttl }}</h2>
            {% endif %}

            {% assign bonus_val = product.metafields.airf.bonus_val %}
            {% if bonus_val and bonus_val != '&nbsp' %}
              <div class="bonus-value">{{ bonus_val }}</div>
            {% endif %}
          
            {% assign bonus_txt = product.metafields.airf.bonus_txt %}
            {% if bonus_txt and bonus_txt != '&nbsp' %}
              <div class="rte featured-row__subtext"><p>{{ bonus_txt }}</p></div>
            {% endif %}
        
        </div>
      </div>

      
    </div>
  </div>




  </div>

{% endif %}