<div class="{% if featured_displayed %}secondary-slide{% else %}starting-slide {% assign featured_displayed = true %}{% endif %} main-photo-slide" data-color="color-default" data-index="{{ forloop.index0 }}">
    <div class='product-image-main-loader'>
        <img src="{{ 'ajax-loader-2.gif' | asset_url }}" width='25px'/>
    </div>
    <div class="product-image-main">
        <div class="image-wrap
                                        {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                                        {% if has_product_video and video_type == 'mp4' %} hide{% endif %}">
            <a class="enlarge-popup-link" href="#enlargeGalleryPopup-Modal">
                {% if isModal %}
                    <img
                            data-modal-lazy="{{ pg_i_img }}"
                            data-image-src="{{ pg_i_img }}"
                            alt="{{ pg_i_alt | escape }}">
                {% else %}
                    <img class="lazyload"
                         data-src="{{ pg_i_img }}"
                         data-widths="[360, 540, 720, 900, 1080]"
                         data-sizes="auto"
                         alt="{{ pg_i_alt | escape }}">
                {% endif %}
            </a>
            <a class="enlarge-popup-link zoom_title" href="#enlargeGalleryPopup-Modal">
                <span><img src="{{ 'icon-zoom.svg' | asset_url }}"/></span>
                <span><small>Tap To</small> Enlarge</span>
            </a>
        </div>
        {% if has_product_video %}
            {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
            {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
            <div data-video-type="{{ video_type }}" class="product__video-wrapper
                                                {% if has_product_video %}
                                                    {% if video_type == 'youtube' or video_type == 'vimeo' %}
                                                        loading
                                                    {% endif %}
                                                {% endif %}"
                 data-video-style="{{ settings.product_video_style }}"
                 style="padding-bottom: {{ aspect_ratio }}%;">
                {% if video_type == 'youtube' %}
                    <div
                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                            class="product__video"
                            data-image-count="{{product.images | size }}"
                            data-video-type="{{ video_type }}"
                            data-video-style="{{ settings.product_video_style }}"
                            data-youtube-id="{{ video_id }}"
                            data-video-width="{{ settings.product_video_width }}"
                            data-video-height="{{ settings.product_video_height }}">
                    </div>
                {% endif %}
                {% if video_type == 'vimeo' %}
                    <div
                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                            class="product__video"
                            data-image-count="{{product.images | size }}"
                            data-video-type="{{ video_type }}"
                            data-video-style="{{ settings.product_video_style }}"
                            data-video-id="{{ video_id }}"
                            data-video-width="{{ settings.product_video_width }}"
                            data-video-height="{{ settings.product_video_height }}">
                    </div>
                {% endif %}
                {% if video_type == 'mp4' %}
                    <video
                            loop playsinline
                            {% if settings.product_video_style == 'muted' %}muted{% endif %}
                            {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                            data-image-count="{{product.images | size }}"
                            data-video-type="{{ video_type }}"
                            data-video-style="{{ settings.product_video_style }}"
                            {% if isModal %}
                                data-video-src="{{ pg_i_url }}"
                            {% endif %}
                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                            class="product__video">
                        {% unless isModal %}
                            <source src="{{ pg_i_alt }}" type="video/mp4">
                        {% endunless %}
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>
            <div class="iframe-cover"></div>
        {% endif %}
    </div>
</div>
