{% assign story_tell = product.metafields.airf.story_tell %}
{% if story_tell and story_tell != blank and story_tell != '&nbsp' %}
  {% assign separator = "###" %}
  {% assign story_tell_childs_keys = story_tell | split: separator %}

  <div class='product-section-story product-section-padding'>
    <div class='page-width wider'>
      {% assign stor_title = product.metafields.airf.stor_title %}
      {% if stor_title and stor_title != '&nbsp' %}
        <div class='product-section--title'>{{ stor_title }}</div>
      {% endif %}

      <div class='grid-items'>

        {% for story_tell_child_key in story_tell_childs_keys %}

        {% assign counter = story_tell_child_key | remove: 'st_image_' %}
        {% assign title_var_name = 'st_title_' | append: counter %}
        {% assign text_var_name = 'st_text_' | append: counter %}

          {% if story_tell_child_key contains "st_image" and product.metafields.airf[story_tell_child_key] != '&nbsp' %}

            <div class='item'>
              {% if product.metafields.airf[story_tell_child_key] != '&nbsp' %}
                <div class='img'>
                  <img src='{{ product.metafields.airf[story_tell_child_key] }}' alt=''>
                </div>
              {% endif %}
              {% if product.metafields.airf[title_var_name] != '&nbsp' %}
                <div class='title'>{{product.metafields.airf[title_var_name]}}</div>
              {% endif %}
              {% if product.metafields.airf[text_var_name] != '&nbsp' %}
                <div class="text">{{product.metafields.airf[text_var_name]}}</div>
              {% endif %}
            </div>

          {% endif %}

        {% endfor %}

      </div>
    </div>
  </div>

{% endif %}

