<div class="{% if is_featured %}starting-slide{% else %}secondary-slide{% endif %} main-photo-slide " data-index="{{ forloop.index0 }}" data-color="{{ image_alt }}">
    {% if count_images > 1 %}
    <div class='product-image-main-loader'>
        <img src="{{ 'ajax-loader-2.gif' | asset_url }}" width='25px'/>
    </div>
    {% endif %}
    <div class="product-image-main {% if has_product_video and video_type == 'youtube' %} product-video{% endif %}
                            {% if has_product_video and video_type == 'vimeo' %} product-video{% endif %}
                            {% if has_product_video and video_type == 'mp4' %} product-video{% endif %}"
                            {% if count_images == 1 %} style="opacity: 1;visibility: visible;" {% endif %}>
        <div class="image-wrap
                                    {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                                    {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                                    {% if has_product_video and video_type == 'mp4' %} hide{% endif %}">
            <a class="enlarge-popup-link" href="#enlargeGalleryPopup-Modal">
                {% if isModal %}
                    <img
                            data-modal-lazy="{{ image | img_url: product_image_size }}"
                            data-image-src="{{ image | img_url: product_image_size }}"
                            alt="{{ image_alt | escape }}">
                {% else %}
                    {% if is_featured %}
                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="photo-zoom-lazyload"
                             data-src="{{ img_url }}"
                             data-widths="[360, 540, 720, 900, 1080]"
                             data-aspectratio="{{ image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ image_alt | escape }}"
                             src="{{ image | img_url: 'master' }}">
                    {% else %}
                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="lazyload"
                             data-src="{{ img_url }}"
                             data-widths="[360, 540, 720, 900, 1080]"
                             data-aspectratio="{{ image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ image_alt | escape }}"
                             src="{{ image | img_url: 'master' }}">
                    {% endif %}
                {% endif %}
            </a>
            <a class="enlarge-popup-link zoom_title" href="#enlargeGalleryPopup-Modal">
                <span><img src="{{ 'icon-zoom.svg' | asset_url }}"/></span>
                <span><small>Tap To</small> Enlarge</span>
            </a>
        </div>
        {% if has_product_video %}
            {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
            {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
            <div
                    data-video-type="{{ video_type }}"
                    class="product__video-wrapper
                    {% if has_product_video %}
                      {% if video_type == 'youtube' or video_type == 'vimeo' %}
                        loading
                      {% endif %}
                    {% endif %}"
                    data-video-style="{{ settings.product_video_style }}"
                    style="padding-bottom: {{ aspect_ratio }}%;">
                {% if video_type == 'youtube' %}
                    <div
                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                            class="product__video"
                            data-image-count="{{ product.images | size }}"
                            data-video-type="{{ video_type }}"
                            data-video-style="{{ settings.product_video_style }}"
                            data-youtube-id="{{ video_id }}"
                            data-video-width="{{ settings.product_video_width }}"
                            data-video-height="{{ settings.product_video_height }}">
                    </div>
                {% endif %}
                {% if video_type == 'vimeo' %}
                    <div
                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                            class="product__video"
                            data-image-count="{{ product.images | size }}"
                            data-video-type="{{ video_type }}"
                            data-video-style="{{ settings.product_video_style }}"
                            data-video-id="{{ video_id }}"
                            data-video-width="{{ settings.product_video_width }}"
                            data-video-height="{{ settings.product_video_height }}">
                    </div>
                {% endif %}
                {% if video_type == 'mp4' %}
                    <video
                            loop playsinline
                            {% if settings.product_video_style == 'muted' %}muted{% endif %}
                            {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                            data-image-count="{{ product.images | size }}"
                            data-video-type="{{ video_type }}"
                            data-video-style="{{ settings.product_video_style }}"
                            {% if isModal %}
                                data-video-src="{{ image.alt }}"
                            {% endif %}
                            id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                            class="product__video">
                        {% unless isModal %}
                            <source src="{{ image.alt }}" type="video/mp4">
                        {% endunless %}
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>
            <div class="iframe-cover"></div>
        {% endif %}
    </div>
</div>
