<div class="product__thumb-item" data-color="color-default"
     data-index="{{ forloop.index0 }}">
    <div class="image-wrap">
        <div
                class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                {% if settings.product_zoom_enable %}data-zoom="{{ pg_i_img }}"{% endif %}>
            {% if has_product_video %}
                <span class="product__thumb-play">
                                            {% include 'icon-play' %}
                                        </span>
            {% endif %}
            {% if isModal %}
                <img
                        data-modal-lazy="{{ pg_i_img }}"
                        class="animation-delay-{{ forloop.index | times: 3 }}"
                        alt="{{ pg_i_alt | escape }}">
                <noscript>
                    <img src="{{ pg_i_img }}" alt="{{ pg_i_alt | escape }}">
                </noscript>
            {% else %}
                <img class="lazyload"
                     data-src="{{ pg_i_img }}"
                     data-widths="[180, 360, 540]"
                     data-aspectratio="{{ image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ pg_i_alt | escape }}"
                     class="animation-delay-{{ forloop.index | times: 3 }}">
                <noscript>
                    <img class="lazyloaded" src="{{ pg_i_img }}" alt="{{ pg_i_alt | escape }}">
                </noscript>
            {% endif %}
        </div>
    </div>
</div>
