<div class='item {% if last != 0 %}plus{% endif %}'
     data-id='{{ related_product.selected_or_first_available_variant.id }}'
     data-price='{{ related_product.price | divided_by: 100 }}'
     data-strike-price='{% if related_product.compare_at_price > related_product.price %}{{ related_product.compare_at_price | divided_by: 100 }}{% else %}{{ related_product.price | divided_by: 100 }}{% endif %}'>
    <label class='custom_select'>
        <input type='checkbox' checked='checked'>
        <span class='checkbox_icon'></span>
        <span class='checkbox_title'>Selected</span>
    </label>
    <div class='img'>
        <a href='{{ related_product.url }}' class='img' style='background-image: url({{ related_product.featured_image | img_url: '800x' }})'></a>
    </div>
    <div class='title'><a href='{{ related_product.url }}'>{{ related_product.title }}</a></div>
    <div class='price'>
        <div class='money'>{{ related_product.price | money | replace: "USD", "" }}</div>
        <div class='money strike-through'>{{ related_product.compare_at_price | money | replace: "USD", "" }}</div>
    </div>
</div>
