<div class='section-ig'{% if product.metafields.airf[order_desktop] == 'true' %} medium-up--hide{% endif %}{% if product.metafields.airf[order_mobile] == 'true' %} medium-down--hide{% endif %}>
  {% include 'foursixty-product-gallery' %}
</div>