{% assign ymal_prods = product.metafields.airf['ymal_prods'] %}
{% if ymal_prods and ymal_prods != blank %}
    <div class='product-section-might-also-like'>
        <div class='page-width wider'>
            <div class='product-section--title'>
                Frequently Bought Together
            </div>
            <div class='might-also-like-carousel'>
                {% assign separator = "###" %}
                {% assign ymal_prods_related_handles = ymal_prods | split: separator %}
                <div class='grid-items'>
                    {% for handle in ymal_prods_related_handles %}

                        {% assign related_product = all_products[handle] %}
                        {% unless related_product.empty? %}
                            <div class="item">
                                <a class="img" href="{{ related_product.url }}" style="background-image: url({{ related_product.featured_image | img_url: 'master'}})" tabindex="0"></a>
                                <div class="title">
                                    <a href="{{ related_product.url }}" tabindex="0">{{ related_product.title }}</a>
                                </div>
                            </div>
                        {% endunless %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}