{% if settings.show_breadcrumbs and isModal != true %}

  {% unless template.name == 'index' or template.name == 'cart' %}
    <div class='breadcrumb-wrapper'>
      <div class='page-width breadcrumb-outer'>
        <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
          <a href="/" title="Home">
            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M6.00858 2.28516L1.74609 6.65891V12.8215H4.65622V8.64464H7.34381V12.8215H10.2539V6.65891L6.00858 2.28516Z" stroke="#8B8B8B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.5721 6.1196L6.00858 0.427734L0.427979 6.22231" stroke="#8B8B8B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.65332 3.91111V1.14648" stroke="#8B8B8B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="12" height="13.2496" fill="white"/>
            </clipPath>
            </defs>
            </svg>
          </a>

          {% if template.name == 'product' %}

            {% if collection %}
              <span class="divider" aria-hidden="true">></span>
              {% if collection.handle %}
                {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                {{ collection.title | link_to: url }}
              {% endif %}
            {% endif %}
            <span class="divider" aria-hidden="true">></span>
            <span class="breadcrumb--truncate">{{ product.title }}</span>

            {% elsif template.name == 'collection' and collection.handle %}

            <span class="divider" aria-hidden="true">></span>

            {% if current_tags %}

              {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
              {{ collection.title | link_to: url }}

              <span class="divider" aria-hidden="true">></span>

              {% for tag in current_tags %}
                {% include 'filter-out-custom-tags' %}

                <span>{{ tag }}</span>

                {% unless forloop.last %}
                  <span>+</span>
                {% endunless %}

              {% endfor %}

            {% else %}
              <span>{{ collection.title }}</span>
            {% endif %}

            {% elsif template.name == 'blog' %}

            <span class="divider" aria-hidden="true">></span>
            {% if current_tags %}
              {{ blog.title | link_to: blog.url }}
              <span class="divider" aria-hidden="true">></span>
              <span>{{ current_tags | join: " + " }}</span>
            {% else %}
              <span>{{ blog.title }}</span>
            {% endif %}

            {% elsif template.name == 'article' %}

            <span class="divider" aria-hidden="true">></span>
            {{ blog.title | link_to: blog.url }}
            <span class="divider" aria-hidden="true">></span>
            <span>{{ article.title }}</span>

            {% elsif template.name == 'page' %}

            <span class="divider" aria-hidden="true">></span>
            <span>{{ page.title }}</span>

          {% else %}

            <span class="divider" aria-hidden="true">></span>
            <span>{{ page_title }}</span>

          {% endif %}
        </nav>
      </div>
    </div>
  {% endunless %}

{% endif %}
