{% comment %}{{product.metafields.airf.accc}}{% endcomment %}
{% assign accc = product.metafields.airf.accc %}
{% if accc and accc != blank and accc != '&nbsp' %}
  <div class="collapsibles-wrapper">
    {% assign separator = "###" %}
    {% assign accc_childs_keys = accc | split: separator %}
    {% for accc_child_key in accc_childs_keys %}
        {% if accc_child_key contains "acccdef" %}
          {% assign default = product.metafields.airf[accc_child_key] %}

          {% if default == '&nbsp' or default == 'none' %}
            {% assign counter = accc_child_key | remove: 'acccdef_' %}
            {% assign title_var_name =  'accctitle_' | append: counter %}
            {% assign text_var_name =  'accctext_' | append: counter %}
            {% if product.metafields.airf[title_var_name] != '&nbsp' and product.metafields.airf[text_var_name] != '&nbsp' %}
              <div class="collapsible-row">
                <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="accoridon-{{forloop.index}}">
                  {{product.metafields.airf[title_var_name] }}
                  {% include 'collapsible-plus' %}
                </button>
                <div id="accoridon-{{forloop.index}}" class="collapsible-content collapsible-content--all">
                  <div class="collapsible-content__inner rte">
                      {% if product.metafields.airf[title_var_name] == 'Shipping And Returns' %}
                          {% assign acc_ship = shop.metafields.airf.acc_ship %}
                          {% if acc_ship and acc_ship != '&nbsp' %}
                              <div class="product-single__description rte" itemprop="description">{{ acc_ship }}</div>
                          {% endif %}
                      {% else %}
                          <div class="product-single__description rte" itemprop="description">{{product.metafields.airf[text_var_name] }}</div>
                      {% endif %}

                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if default != '&nbsp' and default == 'freeship' %}
            {% assign acc_ship_t = shop.metafields.airf.acc_ship_t %}
            {% assign acc_ship = shop.metafields.airf.acc_ship %}
            {% if acc_ship_t and acc_ship_t != '&nbsp' and acc_ship and acc_ship != '&nbsp' %}
              <div class="collapsible-row">
                <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="accordion-free-shipping">
                  {{ acc_ship_t }}
                  {% include 'collapsible-plus' %}
                </button>
                <div id="accordion-free-shipping" class="collapsible-content collapsible-content--all">
                  <div class="collapsible-content__inner rte">
                    <div class="product-single__description rte" itemprop="description">{{ acc_ship }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% if default != '&nbsp' and default == 'warranty' %}
            {% assign acc_war_t = shop.metafields.airf.acc_war_t %}
            {% assign acc_war = shop.metafields.airf.acc_war %}
            {% if acc_war_t and acc_war_t != '&nbsp' and acc_war and acc_war != '&nbsp' %}
              <div class="collapsible-row">
                <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="accordion-warranty">
                  {{ acc_war_t }}
                  {% include 'collapsible-plus' %}
                </button>
                <div id="accordion-warranty" class="collapsible-content collapsible-content--all">
                  <div class="collapsible-content__inner rte">
                    <div class="product-single__description rte" itemprop="description">{{ acc_war }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
            
        {% endif %}


    {% endfor %}
  </div>  
{% endif %}
