<div class="product-information-block">
    <div class='row d-flex'>
        <div class='col-lg-6 order-lg-2'>
            <div class="img-wrapper">
                <img class="product-information-block__image lazyload"
                     src="{{ imgtxt_im }}" alt="">
            </div>
        </div>
        <div class='col-lg-6 order-lg-1 d-flex align-items-center justify-content-center'>
            <div class='product-information-block-text'>
                <div class='row'>
                    <div class='col-md-8 offset-md-2'>
                        {% if imgtxt_he != '&nbsp' %}
                            <div class="product-information-block__heading">{{ imgtxt_he }}</div>
                        {% endif %}

                        {% if imgtxt_ti != '&nbsp' %}
                            <div class="product-information-block__title">{{ imgtxt_ti }}</div>
                        {% endif %}
                        {% if imgtxt_de != '&nbsp' %}
                            <div class="description">{{ imgtxt_de }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class='product-information-dots'></div>
            </div>
        </div>
    </div>
</div>
