<div class='product-section-browsing-history product-section-padding'>
    <div class='page-width wider'>
        <div class='product-section--title'>
            Your browsing history
        </div>
        <div class='product-loader'>
            <img src="{{ 'ajax-loader-2.gif' | asset_url }}" width='25px' />
        </div>
        <div class='grid-items'>
        </div>
    </div>
</div>
