{% unless grid_item_width %}
  {%- assign grid_item_width = 'medium-up--one-quarter small--one-half' -%}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {%- assign on_sale = true -%}
{% endif %}

{%- assign sold_out = true -%}
{% if product.available %}
  {%- assign sold_out = false -%}
{% endif %}

{% comment %}Show BF discounts{% endcomment %}
{% assign show_bfd = shop.metafields.airf.show_bfd %}

<div class="grid__item grid-product {{ grid_item_width }}{% if settings.quick_shop_enable and sold_out == false %} grid-product__has-quick-shop{% endif %}" data-aos="row-of-{{ per_row }}">
  <div class="grid-product__content">
    {% if sold_out %}
      <div class="grid-product__tag">
        <div class="middle">
          {{ 'products.product.sold_out' | t }}
        </div>
      </div>
    {% endif %}
    {% if on_sale and sold_out == false and hide_discount == false %}
      <div class="grid-product__tag">
        <div class="middle">
          {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money }}{% endcapture %}
          {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
        </div>
      </div>
    {% endif %}
    {% if settings.quick_shop_enable and sold_out == false %}
      <div class="quick-product__btn js-modal-open-quick-modal-{{ product.id }} small--hide" data-product-id="{{ product.id }}">
        <span class="quick-product__label">{{ settings.quick_shop_text }}</span>
      </div>
    {% endif %}

    <a href="{{ product.url | within: collection }}" class="grid-product__link {% if sold_out %} grid-product__link--disabled{% endif %}">
      <div class="grid-product__image-mask">
        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;">
          {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="grid-product__image lazyload"
              data-src="{{ img_url | replace_first: '//', 'https://' }}"
              data-widths="[180, 360, 540, 720, 900, 1080]"
              data-aspectratio="{{ product.featured_image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ product.featured_image.alt | escape }}">
          <noscript>
            <img class="grid-product__image lazyloaded"
              src="{{ product.featured_image | img_url: '400x' }}"
              alt="{{ product.featured_image.alt | escape }}">
          </noscript>
        </div>

        {% unless sold_out %}
          {% if settings.product_hover_image and product.images.size > 1 %}
            {% for image in product.images offset: 1 limit: 1 %}
              {%- assign second_image = image -%}
            {% endfor %}
            <div
              class="grid-product__secondary-image small--hide lazyload"
              data-bgset="{% include 'bgset', image: second_image %}"
              data-sizes="auto">
            </div>
          {% endif %}
        {% endunless %}
      </div>

      <div class="grid-product__meta">
        <div class="grid-product__title">
          {% assign show_var = collection.metafields.airf.show_var %}
          {% if show_var == "true" %}
            <div class="grid-product__main-title">{{ product.title }}</div>
            <div class="grid-product__variant-title">{{product.options_with_values[0].values[0]}}</div>
          {% else %}
            {{ product.title }}
          {% endif %}
        </div>

        {% if settings.vendor_enable %}
          <div class="grid-product__vendor">{{ product.vendor }}</div>
        {% endif %}
        <div class="grid-product__price">

          {% if product.type contains "Watch" and show_bfd == "true" %}

            {% assign bndl_prod = product.metafields.airf.bndl_prod %}
            {% if bndl_prod == "true" and product.compare_at_price > 0 %}
              <div>{{ product.compare_at_price | money }} <span class="grid-strike-through">{{ product.price | money }}</span></div>
            {% else %}
              <div>{{ product.price | times: 0.80 | round | money }} <span class="grid-strike-through">{{ product.price | money }}</span></div>
            {% endif %}

          {% elsif product.type contains "SALE" and show_bfd == "true" %}

            {% assign bndl_prod = product.metafields.airf.bndl_prod %}
            {% if bndl_prod == "true" and product.compare_at_price > 0 %}
              <div><span class="grid-strike-through">{{ product.price | money }}</span> {{ product.compare_at_price | money }}</div>
            {% else %}
              <div><span class="grid-strike-through">{{ product.price | money }}</span> {{ product.price | times: 0.50 | round | money }}</div>
            {% endif %}

          {% else %}
            <div>
              {% if product.price_varies %}
                {% assign price = product.price_min | money %}
                {{ 'products.general.from_text_html' | t: price: price }}
              {% else %}
                <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>
                {{ product.price  | money }}
              {% endif %}
              {% if on_sale %}
                <span class="grid-strike-through">
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  	<span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                </span>
              {% endif %}
            </div>

          {% endif %}

        </div>
        {% if related and add_to_cart_enable %}
          <button type="submit" name="add" class="btn btn--small add-to-cart add-to-cart-related" data-id="{{product.selected_or_first_available_variant.id}}">
            <span>Add to cart</span>
          </button>
        {% endif %}
      </div>
    </a>

    {% if settings.collection_color_swatches %}
      {%- assign swatch_file_extension = 'png' -%}

      {% for option in product.options_with_values %}
        {%- assign option_name = option.name | downcase -%}
        {% if option_name contains 'color' or option_name contains 'colour' %}
          {%- assign option_index = forloop.index0 -%}
          {%- assign values = '' -%}
          <div class="grid-product__colors">
            {% for variant in product.variants %}
              {%- assign value = variant.options[option_index] %}
              {% unless values contains value %}
                {%- assign values = values | join: ',' %}
                {%- assign values = values | append: ',' | append: value %}
                {%- assign values = values | split: ',' %}

                {%- assign color_image = value | handle | append: '.' | append: swatch_file_extension | asset_img_url: '50x' | prepend: 'https:' -%}
                {%- assign color_swatch_fallback = value | split: ' ' | last | handle -%}

                <a
                  href="{{ variant.url | within: collection }}"
                  class="color-swatch"
                  style="background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};"">
                </a>
              {% endunless %}
             {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% render 'banana-stand-product-list-container', product: product %}
</div>

