{% assign imgtxt_bl = product.metafields.airf.imgtxt_bl %}
{% if imgtxt_bl and imgtxt_bl != blank and imgtxt_bl != '&nbsp' %}
    {% assign separator = "###" %}
    {% assign imgtxt_bl_childs_keys = imgtxt_bl | split: separator %}

    <div class="page-width product-information-wrapper">
        <div class="product-information-block row">
            {% for imgtxt_bl_child_key in imgtxt_bl_childs_keys %}
                {% assign counter = imgtxt_bl_child_key | remove: 'imgtxt_img_' %}

                {% assign title_var_name = 'imgtxt_tit_' | append: counter %}
                {% assign heading_var_name = 'imgtxt_hea_' | append: counter %}
                {% assign description_var_name = 'imgtxt_des_' | append: counter %}

                {% if imgtxt_bl_child_key contains "imgtxt_img" and product.metafields.airf[imgtxt_bl_child_key] != '&nbsp' %}
                    <div class="col-12 block-row">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="img-wrapper">
                                    <img class="product-information-block__image lazyload"
                                         src="{{ product.metafields.airf[imgtxt_bl_child_key] }}" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="d-flex justify-content-center align-items-center full-height flex-column">
                                    {% if product.metafields.airf[heading_var_name] != '&nbsp' %}
                                        <div class="product-information-block__heading">{{ product.metafields.airf[heading_var_name] }}</div>
                                    {% endif %}

                                    {% if product.metafields.airf[title_var_name] != '&nbsp' %}
                                        <div class="product-information-block__title">{{ product.metafields.airf[title_var_name] }}</div>
                                    {% endif %}

                                    <div class="separator"></div>


                                    {% if product.metafields.airf[description_var_name] != '&nbsp' %}
                                        <div class="product-information-block__description"
                                             class="description">{{ product.metafields.airf[description_var_name] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
