{% if collection %}
    <div class="back-to-catalogue medium-up--hide">
        <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}">
                        <span class="chevron">
                          {% include 'icon-chevron-left' %}
                        </span>
            <span>{{ 'products.general.collection_return' | t: collection: collection.title }}</span>
        </a>
    </div>
{% endif %}
