{% assign imgtxt_bl = product.metafields.airf.imgtxt_bl %}
{% if imgtxt_bl and imgtxt_bl != blank and imgtxt_bl != '&nbsp' %}
    {% assign separator = "###" %}
    {% assign imgtxt_bl_childs_keys = imgtxt_bl | split: separator %}

    <div class="product-information-wrapper">
        <div class='page-width'>
        {% for imgtxt_bl_child_key in imgtxt_bl_childs_keys %}
            {% assign counter = imgtxt_bl_child_key | remove: 'imgtxt_img_' %}

            {% assign title_var_name = 'imgtxt_tit_' | append: counter %}
            {% assign heading_var_name = 'imgtxt_hea_' | append: counter %}
            {% assign description_var_name = 'imgtxt_des_' | append: counter %}

            {% if imgtxt_bl_child_key contains "imgtxt_img" and product.metafields.airf[imgtxt_bl_child_key] != '&nbsp' %}

                {% assign imgtxt_he = product.metafields.airf[heading_var_name] %}
                {% assign imgtxt_im = product.metafields.airf[imgtxt_bl_child_key] %}
                {% assign imgtxt_ti = product.metafields.airf[title_var_name] %}
                {% assign imgtxt_de = product.metafields.airf[description_var_name] %}

                {% include 'product-section-info-carousel-item' %}

            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}
