{% for variant in product.variants %}
  {% if variant.metafields.airf.s_avail and product.variants.size > 1 %}
    {% assign s_avail = variant.metafields.airf.s_avail %}
  {% else %}
    {% assign s_avail = product.metafields.airf.s_avail %}
  {% endif %}

  {% if s_avail and s_avail != '&nbsp' %}
    <div class="product-section__availability {{ s_avail }} {% if variant.id == product.selected_or_first_available_variant.id %}active{% endif %}" data-variant-id="{{ variant.id }}">
      {% if s_avail contains '1' %}
        <span>
          <span class='product-section__availability-in_stockgreen'>In stock.</span>
          <span>Ready to be shipped within 48 hours.</span>
        </span>
      {% elsif s_avail contains '2' %}
        <span>
          Due to high demand, you will get an estimated shipping date with your order confirmation email.
          <span class='block'>
            <a class="highdemand-popup-link" href="#HighDemand-Modal" >Learn more.</a></span>
        </span>
        <div id="HighDemandPopup" class="modal modal--square">
          <div class="modal__inner">
            <div class="modal__centered-content" style="text-align:left;">
              {{ pages.arriving-soon.content }}
            </div>
            <button type="button" class="modal__close js-modal-close text-link">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"/>
              </svg>
              <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
            </button>
          </div>
        </div>
      {% else %}
        <span>
          Made-to-order. You will get an estimated shipping date with your order confirmation email.
          <span class='block'>
            <a class="handcraft-popup-link" href="#HandCraft-Modal" style="text-decoration:underline">Learn more.</a>
          </span>
        </span>
        <div id="HandcraftPopup" class="modal modal--square">
          <div class="modal__inner">
            <div class="modal__centered-content" style="text-align:left;">
              {{ pages.handcrafted-for-you.content }}
            </div>
            <button type="button" class="modal__close js-modal-close text-link">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"/>
              </svg>
              <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}

<script>
  jQuery(document).ready(function($) {
    var modal = new theme.Modals('HandcraftPopup', 'handcraft-popup', {
      closeOffContentClick: true,
      solid: true
    });
    $('.handcraft-popup-link').on('click',function(){
      modal.open();
    });
    var modal_demand = new theme.Modals('HighDemandPopup', 'highdemand-popup', {
      closeOffContentClick: true,
      solid: true
    });
    $('.highdemand-popup-link').on('click',function(){
      modal_demand.open();
    });
    $(document).on('variantChange', function(event) {
      var variant_id = event.variant.id;
      $('.product-section__availability.active').removeClass('active');
      $('.product-section__availability[data-variant-id="' + variant_id + '"]').addClass('active');
    });
  });
</script>
