{% assign strap_acce = shop.metafields.airf['strap_acce'] %}
{% if strap_acce and strap_acce != blank %}
    {% assign separator = "###" %}
    {% assign strap_acce_related_handles = strap_acce | split: separator %}
    {% for handle in strap_acce_related_handles %}
        {% assign strap_hangle = handle %}
    {% endfor %}
{% endif %}

{% assign collection_strap = collections[strap_hangle] %}
{% assign collection_products = collection_strap.products %}

{% for tag in product.tags %}
    {% if tag contains "strap_" %}
        {% assign first_word = tag %}
    {% endif %}
{% endfor %}

{% assign count_strap = 1 %}

{% for strap_prod in collection_products %}
    {% if strap_prod.tags contains first_word %}
        {% if count_strap < 12 %}
            {% assign count_strap = count_strap | plus: 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if count_strap > 1 %}
<div class='product-section-straps product-section-padding'>
    <div class='page-width wider'>
        <div class='product-section--title'>
            Add one more strap
        </div>
        <div class='product-section--text'>
            <div class='row'>
                <div class='col-md-5'>
                    All our straps are easily interchangeable, making it the perfect addition to your current Aromahigh.
                </div>
            </div>
        </div>
        <div class='grid-items'>
            {% assign count_strap = 1 %}
            {% for strap_prod in collection_products %}
                {% if strap_prod.tags contains first_word %}
                    {% if count_strap < 12 %}
                        {% for strap_prod_variant in strap_prod.variants %}
                            {% if strap_prod_variant.inventory_quantity > 0 %}
                                {% assign count_strap = count_strap | plus: 1 %}
                                <div class='item'>
                                    <a href='{{ strap_prod_variant.url }}' class='img' style='background-image: url({{ strap_prod_variant.featured_image | img_url: '800x' }})'></a>
                                    <div class='title'>{{ strap_prod.title }} - {{ strap_prod_variant.title }}</div>
                                    <div class='add_to_cart add-to-cart-related' data-id="{{ strap_prod_variant.id }}">
                                        <span>ADD TO CART</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}



