{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{% assign variants_size = product.variants | size %}
{% assign count_images = product.images | size %}
{% unless product.empty? %}
    {% if variants_size > 1 %}
        {% assign featured_displayed = false %}
        <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">

            <div class="product__main-photos" data-aos>
                <div id="ProductPhotos-{{ section_id }}">

                    {% for variant in product.variants %}
                        {% assign scope = variant.metafields.airf %}
                        {% assign v_g_list = scope.v_g_list %}
                        {% if v_g_list and v_g_list != blank %}
                            {% for row in v_g_list.rows %}
                                {% for row_field in row %}
                                    {% if row_field.key contains "vg_i_vid" %}
                                        {% assign vg_i_vid = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_url" %}
                                        {% assign vg_i_url = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_img" %}
                                        {% assign vg_i_img = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_alt" %}
                                        {% assign vg_i_alt = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_col" %}
                                        {% assign vg_i_col = scope[row_field.key] %}
                                    {% endif %}
                                {% endfor %}
                                {% if vg_i_vid %}
                                    {% if vg_i_url contains 'youtube.com/watch' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = vg_i_url | split: 'v=' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains 'youtu.be/' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = vg_i_url | split: '.be/' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains 'vimeo.com' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'vimeo' -%}
                                        {%- assign video_id = vg_i_url | split: '.com/' -%}
                                        {%- assign video_id = video_id[1] | split: '/' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains '.mp4' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'mp4' -%}
                                    {% endif %}
                                {% endif %}
                                {% include 'product-images-item-v' %}
                            {% endfor %}
                        {% else %}
                            {% for image in product.images %}
                                {%- assign is_featured = false -%}
                                {% if featured_image == image %}
                                    {%- assign is_featured = true -%}
                                {% endif %}
                                {%- assign image_alt = image.alt -%}
                                {%- assign has_product_video = false -%}
                                {%- assign video_type = '' -%}
                                {% if image.alt contains 'youtube.com/watch' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = image.alt | split: 'v=' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if image.alt contains 'youtu.be/' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = image.alt | split: '.be/' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if image.alt contains 'vimeo.com' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'vimeo' -%}
                                    {%- assign video_id = image.alt | split: '.com/' -%}
                                    {%- assign video_id = video_id[1] | split: '/' | first -%}
                                {% endif %}
                                {% if image.alt contains '.mp4' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'mp4' -%}
                                {% endif %}
                                {% if image.alt == 'gold' %}
                                    {%- assign image_alt = 'color-gold' -%}
                                {% endif %}
                                {% if image.alt == 'rose-gold' %}
                                    {%- assign image_alt = 'color-rose-gold' -%}
                                {% endif %}
                                {% if image.alt == 'silver' %}
                                    {%- assign image_alt = 'color-silver' -%}
                                {% endif %}
                                {% if image.alt == 'black' %}
                                    {%- assign image_alt = 'color-black' -%}
                                {% endif %}
                                {% if image.alt == 'stainless-steel' %}
                                    {%- assign image_alt = 'color-stainless-steel' -%}
                                {% endif %}
                                {% if has_product_video %}
                                    {%- assign image_alt = product.title -%}
                                {% endif %}
                                {% include 'product-images-item' %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="enlargeGalleryPopup" class="modal">
                <div class="modal__inner">
                    <div class="modal__centered-content" style="text-align:left;">
                        <div class='modal-gallery'>
                            {% for variant in product.variants %}
                                {% assign scope = variant.metafields.airf %}
                                {% assign v_g_list = scope.v_g_list %}
                                {% if v_g_list and v_g_list != blank %}
                                    {% for row in v_g_list.rows %}
                                        {% for row_field in row %}
                                            {% if row_field.key contains "vg_i_vid" %}
                                                {% assign vg_i_vid = scope[row_field.key] %}
                                            {% endif %}
                                            {% if row_field.key contains "vg_i_url" %}
                                                {% assign vg_i_url = scope[row_field.key] %}
                                            {% endif %}
                                            {% if row_field.key contains "vg_i_img" %}
                                                {% assign vg_i_img = scope[row_field.key] %}
                                            {% endif %}
                                            {% if row_field.key contains "vg_i_alt" %}
                                                {% assign vg_i_alt = scope[row_field.key] %}
                                            {% endif %}
                                            {% if row_field.key contains "vg_i_col" %}
                                                {% assign vg_i_col = scope[row_field.key] %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if vg_i_vid %}
                                            {% if vg_i_url contains 'youtube.com/watch' %}
                                                {%- assign has_product_video = true -%}
                                                {%- assign video_type = 'youtube' -%}
                                                {%- assign video_id = vg_i_url | split: 'v=' -%}
                                                {%- assign video_id = video_id[1] | split: '&' | first -%}
                                            {% endif %}
                                            {% if vg_i_url contains 'youtu.be/' %}
                                                {%- assign has_product_video = true -%}
                                                {%- assign video_type = 'youtube' -%}
                                                {%- assign video_id = vg_i_url | split: '.be/' -%}
                                                {%- assign video_id = video_id[1] | split: '&' | first -%}
                                            {% endif %}
                                            {% if vg_i_url contains 'vimeo.com' %}
                                                {%- assign has_product_video = true -%}
                                                {%- assign video_type = 'vimeo' -%}
                                                {%- assign video_id = vg_i_url | split: '.com/' -%}
                                                {%- assign video_id = video_id[1] | split: '/' | first -%}
                                            {% endif %}
                                            {% if vg_i_url contains '.mp4' %}
                                                {%- assign has_product_video = true -%}
                                                {%- assign video_type = 'mp4' -%}
                                            {% endif %}
                                        {% endif %}

                                        {% assign image = row %}
                                        {% include 'product-images-item-zoom' %}
                                    {% endfor %}
                                {% else %}
                                    {% for image in product.images %}
                                        {%- assign is_featured = false -%}
                                        {% if featured_image == image %}
                                            {%- assign is_featured = true -%}
                                        {% endif %}
                                        {%- assign image_alt = image.alt -%}
                                        {%- assign has_product_video = false -%}
                                        {%- assign video_type = '' -%}
                                        {% if image.alt contains 'youtube.com/watch' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'youtube' -%}
                                            {%- assign video_id = image.alt | split: 'v=' -%}
                                            {%- assign video_id = video_id[1] | split: '&' | first -%}
                                        {% endif %}
                                        {% if image.alt contains 'youtu.be/' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'youtube' -%}
                                            {%- assign video_id = image.alt | split: '.be/' -%}
                                            {%- assign video_id = video_id[1] | split: '&' | first -%}
                                        {% endif %}
                                        {% if image.alt contains 'vimeo.com' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'vimeo' -%}
                                            {%- assign video_id = image.alt | split: '.com/' -%}
                                            {%- assign video_id = video_id[1] | split: '/' | first -%}
                                        {% endif %}
                                        {% if image.alt contains '.mp4' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'mp4' -%}
                                        {% endif %}
                                        {% if image.alt == 'gold' %}
                                            {%- assign image_alt = 'color-gold' -%}
                                        {% endif %}
                                        {% if image.alt == 'rose-gold' %}
                                            {%- assign image_alt = 'color-rose-gold' -%}
                                        {% endif %}
                                        {% if image.alt == 'silver' %}
                                            {%- assign image_alt = 'color-silver' -%}
                                        {% endif %}
                                        {% if image.alt == 'black' %}
                                            {%- assign image_alt = 'color-black' -%}
                                        {% endif %}
                                        {% if image.alt == 'stainless-steel' %}
                                            {%- assign image_alt = 'color-stainless-steel' -%}
                                        {% endif %}
                                        {% if has_product_video %}
                                            {%- assign image_alt = product.title -%}
                                        {% endif %}
                                        {% include 'product-images-item-zoom' %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class='modal_title'><span class="hide-mobile">Click</span><span class="show-mobile">Tap</span> to Enlarge</div>
                    </div>
                    <button type="button" class="modal__close js-modal-close text-link">
                        {% include 'icon-close' %}
                        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                    </button>
                </div>
            </div>
            <div
                    id="ProductThumbs-{{ section_id }}"
                    class="product__thumbs product__thumbs--{{ thumbnail_position }} {% if product.images.size == 1 %} medium-up--hide{% endif %}"
                    data-position="{{ thumbnail_position }}"
                    data-aos>
                    {% for variant in product.variants %}
                        {% assign scope = variant.metafields.airf %}
                        {% assign v_g_list = scope.v_g_list %}
                        {% if v_g_list and v_g_list != blank %}
                            {% for row in v_g_list.rows %}
                                {% for row_field in row %}
                                    {% if row_field.key contains "vg_i_vid" %}
                                        {% assign vg_i_vid = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_url" %}
                                        {% assign vg_i_url = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_img" %}
                                        {% assign vg_i_img = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_alt" %}
                                        {% assign vg_i_alt = scope[row_field.key] %}
                                    {% endif %}
                                    {% if row_field.key contains "vg_i_col" %}
                                        {% assign vg_i_col = scope[row_field.key] %}
                                    {% endif %}
                                {% endfor %}
                                {% if vg_i_vid %}
                                    {% if vg_i_url contains 'youtube.com/watch' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = vg_i_url | split: 'v=' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains 'youtu.be/' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = vg_i_url | split: '.be/' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains 'vimeo.com' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'vimeo' -%}
                                        {%- assign video_id = vg_i_url | split: '.com/' -%}
                                        {%- assign video_id = video_id[1] | split: '/' | first -%}
                                    {% endif %}
                                    {% if vg_i_url contains '.mp4' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'mp4' -%}
                                    {% endif %}
                                {% endif %}
                                {% include 'product-images-item-thumb-v' %}
                            {% endfor %}
                        {% else %}
                            {% for image in product.images %}
                                {%- assign is_featured = false -%}
                                {% if featured_image == image %}
                                    {%- assign is_featured = true -%}
                                {% endif %}
                                {%- assign image_alt = image.alt -%}
                                {%- assign has_product_video = false -%}
                                {%- assign video_type = '' -%}
                                {% if image.alt contains 'youtube.com/watch' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = image.alt | split: 'v=' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if image.alt contains 'youtu.be/' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = image.alt | split: '.be/' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if image.alt contains 'vimeo.com' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'vimeo' -%}
                                    {%- assign video_id = image.alt | split: '.com/' -%}
                                    {%- assign video_id = video_id[1] | split: '/' | first -%}
                                {% endif %}
                                {% if image.alt contains '.mp4' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'mp4' -%}
                                {% endif %}
                                {% if image.alt == 'gold' %}
                                    {%- assign image_alt = 'color-gold' -%}
                                {% endif %}
                                {% if image.alt == 'rose-gold' %}
                                    {%- assign image_alt = 'color-rose-gold' -%}
                                {% endif %}
                                {% if image.alt == 'silver' %}
                                    {%- assign image_alt = 'color-silver' -%}
                                {% endif %}
                                {% if image.alt == 'black' %}
                                    {%- assign image_alt = 'color-black' -%}
                                {% endif %}
                                {% if image.alt == 'stainless-steel' %}
                                    {%- assign image_alt = 'color-stainless-steel' -%}
                                {% endif %}
                                {% if has_product_video %}
                                    {%- assign image_alt = product.title -%}
                                {% endif %}
                                {% include 'product-images-item-thumb' %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">
            <div class="product__main-photos" data-aos>
                <div id="ProductPhotos-{{ section_id }}">
                    {% assign featured_displayed = false %}
                    {% assign scope = product.metafields.airf %}
                    {% assign p_g_list = scope.p_g_list %}
                    {% if p_g_list and p_g_list != blank %}
                        {% for row in p_g_list.rows %}
                            {%- assign has_product_video = false -%}
                            {% for row_field in row %}
                                {% if row_field.key contains "pg_i_vid" %}
                                    {% assign pg_i_vid = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "pg_i_url" %}
                                    {% assign pg_i_url = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "pg_i_img" %}
                                    {% assign pg_i_img = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "pg_i_alt" %}
                                    {% assign pg_i_alt = scope[row_field.key] %}
                                {% endif %}
                            {% endfor %}
                            {% if pg_i_vid %}
                                {% if pg_i_url contains 'youtube.com/watch' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = pg_i_url | split: 'v=' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if pg_i_url contains 'youtu.be/' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'youtube' -%}
                                    {%- assign video_id = pg_i_url | split: '.be/' -%}
                                    {%- assign video_id = video_id[1] | split: '&' | first -%}
                                {% endif %}
                                {% if pg_i_url contains 'vimeo.com' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'vimeo' -%}
                                    {%- assign video_id = pg_i_url | split: '.com/' -%}
                                    {%- assign video_id = video_id[1] | split: '/' | first -%}
                                {% endif %}
                                {% if pg_i_url contains '.mp4' %}
                                    {%- assign has_product_video = true -%}
                                    {%- assign video_type = 'mp4' -%}
                                {% endif %}
                            {% endif %}
                            {% include 'product-images-item-pg.liquid' %}
                        {% endfor %}
                    {% else %}
                        {% for image in product.images %}
                            {%- assign is_featured = false -%}
                            {% if featured_image == image %}
                                {%- assign is_featured = true -%}
                            {% endif %}
                            {%- assign image_alt = image.alt -%}
                            {%- assign has_product_video = false -%}
                            {%- assign video_type = '' -%}
                            {% if image.alt contains 'youtube.com/watch' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                                {%- assign video_id = image.alt | split: 'v=' -%}
                                {%- assign video_id = video_id[1] | split: '&' | first -%}
                            {% endif %}
                            {% if image.alt contains 'youtu.be/' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                                {%- assign video_id = image.alt | split: '.be/' -%}
                                {%- assign video_id = video_id[1] | split: '&' | first -%}
                            {% endif %}
                            {% if image.alt contains 'vimeo.com' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'vimeo' -%}
                                {%- assign video_id = image.alt | split: '.com/' -%}
                                {%- assign video_id = video_id[1] | split: '/' | first -%}
                            {% endif %}
                            {% if image.alt contains '.mp4' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'mp4' -%}
                            {% endif %}
                            {% if image.alt == 'gold' %}
                                {%- assign image_alt = 'color-gold' -%}
                            {% endif %}
                            {% if image.alt == 'rose-gold' %}
                                {%- assign image_alt = 'color-rose-gold' -%}
                            {% endif %}
                            {% if image.alt == 'silver' %}
                                {%- assign image_alt = 'color-silver' -%}
                            {% endif %}
                            {% if image.alt == 'black' %}
                                {%- assign image_alt = 'color-black' -%}
                            {% endif %}
                            {% if image.alt == 'stainless-steel' %}
                                {%- assign image_alt = 'color-stainless-steel' -%}
                            {% endif %}
                            {% if has_product_video %}
                                {%- assign image_alt = product.title -%}
                            {% endif %}
                            {% include 'product-images-item.liquid' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="enlargeGalleryPopup" class="modal">
                <div class="modal__inner">
                    <div class="modal__centered-content" style="text-align:left;">
                        <div class='modal-gallery'>
                            {% assign featured_displayed = false %}
                            {% assign scope = product.metafields.airf %}
                            {% assign p_g_list = scope.p_g_list %}
                            {% if p_g_list and p_g_list != blank %}
                                {% for row in p_g_list.rows %}
                                    {%- assign has_product_video = false -%}
                                    {% for row_field in row %}
                                        {% if row_field.key contains "pg_i_vid" %}
                                            {% assign pg_i_vid = scope[row_field.key] %}
                                        {% endif %}
                                        {% if row_field.key contains "pg_i_url" %}
                                            {% assign pg_i_url = scope[row_field.key] %}
                                        {% endif %}
                                        {% if row_field.key contains "pg_i_img" %}
                                            {% assign pg_i_img = scope[row_field.key] %}
                                        {% endif %}
                                        {% if row_field.key contains "pg_i_alt" %}
                                            {% assign pg_i_alt = scope[row_field.key] %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if pg_i_vid %}
                                        {% if pg_i_url contains 'youtube.com/watch' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'youtube' -%}
                                            {%- assign video_id = pg_i_url | split: 'v=' -%}
                                            {%- assign video_id = video_id[1] | split: '&' | first -%}
                                        {% endif %}
                                        {% if pg_i_url contains 'youtu.be/' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'youtube' -%}
                                            {%- assign video_id = pg_i_url | split: '.be/' -%}
                                            {%- assign video_id = video_id[1] | split: '&' | first -%}
                                        {% endif %}
                                        {% if pg_i_url contains 'vimeo.com' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'vimeo' -%}
                                            {%- assign video_id = pg_i_url | split: '.com/' -%}
                                            {%- assign video_id = video_id[1] | split: '/' | first -%}
                                        {% endif %}
                                        {% if pg_i_url contains '.mp4' %}
                                            {%- assign has_product_video = true -%}
                                            {%- assign video_type = 'mp4' -%}
                                        {% endif %}
                                    {% endif %}
                                    {%- assign image = row -%}
                                    {% include 'product-images-item-zoom' %}
                                {% endfor %}
                            {% else %}
                                {% for image in product.images %}
                                    {%- assign is_featured = false -%}
                                    {% if featured_image == image %}
                                        {%- assign is_featured = true -%}
                                    {% endif %}
                                    {%- assign image_alt = image.alt -%}
                                    {%- assign has_product_video = false -%}
                                    {%- assign video_type = '' -%}
                                    {% if image.alt contains 'youtube.com/watch' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = image.alt | split: 'v=' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if image.alt contains 'youtu.be/' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'youtube' -%}
                                        {%- assign video_id = image.alt | split: '.be/' -%}
                                        {%- assign video_id = video_id[1] | split: '&' | first -%}
                                    {% endif %}
                                    {% if image.alt contains 'vimeo.com' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'vimeo' -%}
                                        {%- assign video_id = image.alt | split: '.com/' -%}
                                        {%- assign video_id = video_id[1] | split: '/' | first -%}
                                    {% endif %}
                                    {% if image.alt contains '.mp4' %}
                                        {%- assign has_product_video = true -%}
                                        {%- assign video_type = 'mp4' -%}
                                    {% endif %}
                                    {% if image.alt == 'gold' %}
                                        {%- assign image_alt = 'color-gold' -%}
                                    {% endif %}
                                    {% if image.alt == 'rose-gold' %}
                                        {%- assign image_alt = 'color-rose-gold' -%}
                                    {% endif %}
                                    {% if image.alt == 'silver' %}
                                        {%- assign image_alt = 'color-silver' -%}
                                    {% endif %}
                                    {% if image.alt == 'black' %}
                                        {%- assign image_alt = 'color-black' -%}
                                    {% endif %}
                                    {% if image.alt == 'stainless-steel' %}
                                        {%- assign image_alt = 'color-stainless-steel' -%}
                                    {% endif %}
                                    {% if has_product_video %}
                                        {%- assign image_alt = product.title -%}
                                    {% endif %}
                                    {% include 'product-images-item-zoom' %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class='modal_title'><span class="hide-mobile">Click</span><span class="show-mobile">Tap</span> to Enlarge</div>
                    </div>
                    <button type="button" class="modal__close js-modal-close text-link">
                        {% include 'icon-close' %}
                        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                    </button>
                </div>
            </div>
            <div id="ProductThumbs-{{ section_id }}"
                 class="product__thumbs product__thumbs--{{ thumbnail_position }}"
                 data-position="{{ thumbnail_position }}"
                 data-aos>
                {% assign scope = product.metafields.airf %}
                {% assign p_g_list = scope.p_g_list %}
                {% if p_g_list and p_g_list != blank %}
                    {% for row in p_g_list.rows %}
                        {%- assign has_product_video = false -%}
                        {%- assign video_type = '' -%}
                        {% for row_field in row %}
                            {% if row_field.key contains "pg_i_vid" %}
                                {% assign pg_i_vid = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "pg_i_url" %}
                                {% assign pg_i_url = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "pg_i_img" %}
                                {% assign pg_i_img = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "pg_i_alt" %}
                                {% assign pg_i_alt = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        {% if pg_i_vid %}
                            {% if pg_i_url contains 'youtube.com/watch' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                            {% endif %}
                            {% if pg_i_url contains 'youtu.be/' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'youtube' -%}
                            {% endif %}
                            {% if pg_i_url contains 'vimeo.com' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'vimeo' -%}
                            {% endif %}
                            {% if pg_i_url contains '.mp4' %}
                                {%- assign has_product_video = true -%}
                                {%- assign video_type = 'mp4' -%}
                            {% endif %}
                        {% endif %}
                        {% include 'product-images-item-thumb-pg' %}
                    {% endfor %}
                {% else %}
                    {% for image in product.images %}
                        {%- assign image_alt = image.alt -%}
                        {%- assign has_product_video = false -%}
                        {%- assign video_type = '' -%}
                        {% if image.alt contains 'youtube.com/watch' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'youtube' -%}
                        {% endif %}
                        {% if image.alt contains 'youtu.be/' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'youtube' -%}
                        {% endif %}
                        {% if image.alt contains 'vimeo.com' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'vimeo' -%}
                        {% endif %}
                        {% if image.alt contains '.mp4' %}
                            {%- assign has_product_video = true -%}
                            {%- assign video_type = 'mp4' -%}
                        {% endif %}
                        {% if image.alt == 'gold' %}
                            {%- assign image_alt = 'color-gold' -%}
                        {% endif %}
                        {% if image.alt == 'rose-gold' %}
                            {%- assign image_alt = 'color-rose-gold' -%}
                        {% endif %}
                        {% if image.alt == 'silver' %}
                            {%- assign image_alt = 'color-silver' -%}
                        {% endif %}
                        {% if image.alt == 'black' %}
                            {%- assign image_alt = 'color-black' -%}
                        {% endif %}
                        {% if image.alt == 'stainless-steel' %}
                            {%- assign image_alt = 'color-stainless-steel' -%}
                        {% endif %}
                        {% if has_product_video %}
                            {%- assign image_alt = product.title -%}
                        {% endif %}
                        {% include 'product-images-item-thumb' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
        <button type="button" class="thumbs-slider-arrow{% if product.images.size < 5 %} hide{% endif %}">
            <img src="{{ 'acs-arrow.svg' | asset_url }}"/>
        </button>

    <script>
		jQuery(document).ready(function ($) {
			var modal = new theme.Modals('enlargeGalleryPopup', 'enlarge-gallery-popup', {
				closeOffContentClick: true,
				solid: true
			});
			$('.enlarge-popup-link').on('click', function () {
				modal.open();
			});
		});
    </script>

{% endunless %}
<style>
    .zoom_me_text .show-mobile{
        display: none;
    }
    .zoom_me_text .hide-mobile{
        display: inline-block;
    }
    @media (max-width: 992px) {
        .zoom_me_text .show-mobile{
            display: inline-block;
        }
        .zoom_me_text .hide-mobile{
            display: none;
        }
    }
</style>