{% assign icons = product.metafields.airf.icons %}
{% if icons != "true" %}
    {% if product.available %}
        <div class="product-icons-wrapper">
            <div class='page-width'>
                <a class="product-icon icon-free-shipping shipping-popup-link-1" href='#shipping-popup-1'>
                    <span class='overlay'>
                        {% assign p_f_i_shi = product.metafields.airf.p_f_i_shi %}
                        {% if p_f_i_shi and p_f_i_shi != '&nbsp' %}
                            {{ p_f_i_shi }}
                        {% else %}
                            <img src="{{ 'icon-shipping-1.svg' | asset_url }}">
                        {% endif %}
                    </span>
                    {% assign p_f_i_sht = product.metafields.airf.p_f_i_sht %}
                    {% if p_f_i_sht and p_f_i_sht != '&nbsp' %}
                        <span>{{ p_f_i_sht }}</span>
                    {% else %}
                        <span>Free<br>Shipping</span>
                    {% endif %}
                </a>
                <a class="product-icon icon-returns shipping-popup-link-2" href='#shipping-popup-2'>
                    <span class='overlay'>
                        {% assign p_f_i_mi = product.metafields.airf.p_f_i_mi %}
                        {% if p_f_i_mi and p_f_i_mi != '&nbsp' %}
                            {{ p_f_i_mi }}
                        {% else %}
                            <img src="{{ 'icon-shipping-2.svg' | asset_url }}">
                        {% endif %}
                    </span>
                    {% assign p_f_i_mt = product.metafields.airf.p_f_i_mt %}
                    {% if p_f_i_mt and p_f_i_mt != '&nbsp' %}
                        <span>{{ p_f_i_mt }}</span>
                    {% else %}
                        <span>Money back <br>guarantee</span>
                    {% endif %}
                </a>
                <a class="product-icon icon-warranty shipping-popup-link-3" href='#shipping-popup-3'>
                    <span class='overlay'>
                        {% assign p_f_i_gi = product.metafields.airf.p_f_i_gi %}
                        {% if p_f_i_gi and p_f_i_gi != '&nbsp' %}
                            {{ p_f_i_gi }}
                        {% else %}
                            <img src="{{ 'icon-shipping-3.svg' | asset_url }}">
                        {% endif %}
                    </span>
                    {% assign p_f_i_gt = product.metafields.airf.p_f_i_gt %}
                    {% if p_f_i_gt and p_f_i_gt != '&nbsp' %}
                        <span>{{ p_f_i_gt }}</span>
                    {% else %}
                        <span>Quality<br>assured</span>
                    {% endif %}
                </a>
                <div id="ShippingPopup1" class="modal modal--square">
                    <div class="modal__inner">
                        <div class="modal__centered-content" style="text-align:left;">
                            <h1><b>Free shipping</b></h1>
                            {{ pages.shipping-returns.content }}
                        </div>
                        <button type="button" class="modal__close js-modal-close text-link">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"/>
                            </svg>
                            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                        </button>
                    </div>
                </div>
                <div id="ShippingPopup2" class="modal modal--square">
                    <div class="modal__inner">
                        <div class="modal__centered-content" style="text-align:left;">
                            <h1><b>Easy 60-day returns</b></h1>
                            {{ pages.shipping-returns.content }}
                        </div>
                        <button type="button" class="modal__close js-modal-close text-link">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"/>
                            </svg>
                            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                        </button>
                    </div>
                </div>
                <div id="ShippingPopup3" class="modal modal--square">
                    <div class="modal__inner">
                        <div class="modal__centered-content" style="text-align:left;">
                            <h1><b>
                                    {% if p_f_i_gt and p_f_i_gt != '&nbsp' %}
                                        {{ p_f_i_gt }}
                                    {% else %}
                                        Quality assured
                                    {% endif %}
                             </b></h1>
                            {{ pages.quality-assured.content }}
                        </div>
                        <button type="button" class="modal__close js-modal-close text-link">
                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.66659 1.27325L8.72659 0.333252L4.99992 4.05992L1.27325 0.333252L0.333252 1.27325L4.05992 4.99992L0.333252 8.72659L1.27325 9.66659L4.99992 5.93992L8.72659 9.66659L9.66659 8.72659L5.93992 4.99992L9.66659 1.27325Z" fill="black"/>
                            </svg>
                            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
		    jQuery(document).ready(function ($) {
			    var modal_1 = new theme.Modals('ShippingPopup1', 'shipping-popup-1', {
				    closeOffContentClick: true,
				    solid: true
			    });
			    var modal_2 = new theme.Modals('ShippingPopup2', 'shipping-popup-2', {
				    closeOffContentClick: true,
				    solid: true
			    });
			    var modal_3 = new theme.Modals('ShippingPopup3', 'shipping-popup-3', {
				    closeOffContentClick: true,
				    solid: true
			    });
			    $('.shipping-popup-link-1').on('click', function () {
				    modal_1.open();
			    });
			    $('.shipping-popup-link-2').on('click', function () {
				    modal_2.open();
			    });
			    $('.shipping-popup-link-3').on('click', function () {
				    modal_3.open();
			    });
		    });
        </script>
    {% endif %}
{% endif %}
