{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {%- assign on_sale = true -%}
{% endif %}

{%- assign sold_out = true -%}
{% if product.available %}
  {%- assign sold_out = false -%}
{% endif %}

{% comment %}Show BF discounts{% endcomment %}
{% assign show_bfd = shop.metafields.airf.show_bfd %}

{% assign productStartCount = product.metafields.stock.initial | times:1 %}
{% if productStartCount > 0 %}
  {% assign productInventory = product.variants.first.inventory_quantity %}
  {% assign productSoldCount = productStartCount | minus:productInventory %}
{% endif %}
{% assign productTags = product.tags | join:',' %}
{% assign productCollections = '' %}
{% for collection in product.collections %}
    {% assign productCollections = productCollections | append: ',' | append: collection.title %}
{% endfor %}
{% assign productTags = productTags | append: productCollections %}
<div class="grid-product">
  <div class="grid-product__content">

    <a href="{{ product.url | within: collection }}" class="grid-product__link {% if sold_out %} grid-product__link--disabled{% endif %}">
      <div class="grid-product__image-mask">
        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;">
          {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="grid-product__image lazyload"
              data-src="{{ img_url | replace_first: '//', 'https://' }}"
              data-widths="[180, 360, 540, 720, 900, 1080]"
              data-aspectratio="{{ product.featured_image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ product.featured_image.alt | escape }}">
          <noscript>
            <img class="grid-product__image lazyloaded"
              src="{{ product.featured_image | img_url: '400x' }}"
              alt="{{ product.featured_image.alt | escape }}">
          </noscript>
        </div>

        {% unless sold_out %}
          {% if settings.product_hover_image and product.images.size > 1 %}
            {% for image in product.images offset: 1 limit: 1 %}
              {%- assign second_image = image -%}
            {% endfor %}
            <div
              class="grid-product__secondary-image small--hide lazyload"
              data-bgset="{% include 'bgset', image: second_image %}"
              data-sizes="auto">
            </div>
          {% endif %}
        {% endunless %}
      </div>

      <div class="grid-product__meta">

        <div class="grid-product__title">
          {% assign show_var = collection.metafields.airf.show_var %}
          {% if show_var == "true" %}
            <div class="grid-product__main-title">{{ product.title }}</div>

              {% assign variant_ti = product.metafields.airf.variant_ti %}
              {% if variant_ti and variant_ti != '&nbsp' %}
                  <div class="grid-product__variant-title">{{ variant_ti }}</div>
              {% else %}
                  <div class="grid-product__variant-title">{{product.options_with_values[0].values[0]}}</div>
              {% endif %}

          {% else %}
            {{ product.title }}
          {% endif %}
        </div>

      </div>
    </a>

  </div>
</div>
