{% unless thumbnail_position %}
  {%- assign thumbnail_position = 'beside' -%}
{% endunless %}

{% assign bnnr_pp = shop.metafields.airf.bnnr_pp %}
{% if bnnr_pp == "true" and isModal != true %}
  {% include 'banner-small' %}
{% endif %}

{% assign xmas_pp = shop.metafields.airf.xmas_pp %}
{% if xmas_pp == "true" and isModal != true %}
  {% include 'banner-small-xmas' %}
{% endif %}

{% assign replacementProduct = false %}
{% assign womenprod = product.metafields.airf['womenprod'] %}
{% if womenprod and womenprod != blank and womenprod != '&nbsp' %}
  {% assign replacementProduct = true %}
{% endif %}

{% comment %}Show BF discounts{% endcomment %}
{% assign show_bfd = shop.metafields.airf.show_bfd %}
{% assign bndl_prod = product.metafields.airf.bndl_prod %}
{% assign prrdr = product.metafields.airf.prrdr %}

{% assign ospcs_ttl = product.metafields.airf.ospcs_ttl %}
{% assign ospec_txt = product.metafields.airf.ospec_txt %}
{% assign offer_on = false %}

{% if ospcs_ttl and ospcs_ttl != '&nbsp' %}
  {% assign offer_on = true %}
{% endif %}

{% if ospec_txt and ospec_txt != '&nbsp' %}
  {% assign offer_on = true %}
{% endif %}
<script>

	function removeDuplicates( arr, prop ) {
		var obj = {};
		for ( var i = 0, len = arr.length; i < len; i++ ){
			if(!obj[arr[i][prop]]) obj[arr[i][prop]] = arr[i];
		}
		var newArr = [];
		for ( var key in obj ) newArr.push(obj[key]);
		return newArr;
	}

	var product_item = { id : {{product.id}}, url : '{{product.url}}', title : '{{product.title}}', image : '{{product.images[0] | img_url: "large"}}'};

	if (localStorage.getItem('browsing_history') === null){
		var arr = [product_item];
		var json_str = JSON.stringify(arr);
		localStorage.setItem('browsing_history', json_str);
	}else{
		var json_str = localStorage.getItem('browsing_history');
		var arr = JSON.parse(json_str);
		arr.unshift(product_item);
		arr = removeDuplicates(arr, 'id');
		var json_str = JSON.stringify(arr);
		localStorage.setItem('browsing_history', json_str);
	}
</script>

<div id="ProductSection-{{ section_id }}" class="product-section{% if prrdr == "true" %} product--preorder{% endif %}{% if template == 'product.jewelry' %} jewelry-section{% endif %}"
     data-section-id="{{ section_id }}"
     data-section-type="product-template"
        {% if settings.product_zoom_enable %}
            data-image-zoom="true"
        {% endif %}
        {% if settings.inventory_enable %}
            data-inventory="true"
        {% endif %}
        {% unless isModal %}
            data-enable-history-state="true"
        {% endunless %}
        {% if isModal %}
    data-lazyload-content="true"
        {% endif %}>

    {% include 'product-section-breadcrumbs' %}


    {% include 'product-template-variables' %}
    <script>
        {% if product.title == 'GET ANY 2 PREMIUM WATCHES FOR $99 EACH' %}
                localStorage.setItem('any2','true');
        {% endif %}
        </script>

    <script type="application/json" id="ProductJson-{{ section_id }}">
        {{ product | json }}
    </script>

    {% for tag in product.tags %}
        {% if tag contains "col_" %}
            {% assign collection_tag = collection_tag | prepend: tag | prepend: ', ' %}
        {% endif %}
    {% endfor %}

    {% assign main_colle = product.metafields.airf['main_colle'] %}
    {% if main_colle and main_colle != blank %}
        {% assign separator = "###" %}
        {% assign main_colle_related_handles = main_colle | split: separator %}
        {% for handle in main_colle_related_handles %}

            {% assign related_collection = collections[handle] %}
            {% unless related_collection.empty? %}
                {% assign main_collection = related_collection %}
            {% endunless %}

        {% endfor %}
    {% endif %}

    {% include 'product-section-main' %}

    {% include 'product-section-about' %}
    {% include 'product-section-story' %}

    {% include 'product-section-info-carousel' %}

    {% if product.tags contains 'watch' %}
        {% include 'product-section-promo-text' %}
    {% endif %}

    {% include 'product-section-info-carousel-2' %}

    {% comment %}
    {% if product.tags contains 'watch' %}
        {% include 'product-section-testimonials' %}
    {% endif %}
    {% endcomment %}

    {% include 'product-section-promo-video' %}
    {% include 'product-section-reviews' %}

    {% if bndl_prod != "true" %}
        {% include 'product-section-straps', section_id: section_id %}
    {% endif %}

    {% include 'product-section-bought-together' %}

    {% include 'product-section-might-also-like' %}
    {% comment %}
    {% include 'product-section-also-viewed' %}

    {% include 'product-section-browsing-history' %}
    {% endcomment %}
    {% include 'hp-why-found' %}
    {% comment %} {% include 'product-section-question' %} {% endcomment %}

</div>
{% include 'product-section-fbt-fixed' %}
zz