{% assign progress_b = product.metafields.airf.progress_b %}
    {% if progress_b == "true" %}
        <div class="stock-info-wrap">

            {% assign current_quantity = current_variant.inventory_quantity %}
            {% assign initial_quantity = product.metafields.airf.initial_qu %}
            {% if current_quantity > 0 %}
                <div class="stock-info">
                    <svg width="384" height="24" viewBox="0 0 384 24" fill="none" xmlns="http://www.w3.org/2000/svg" class='bg'>
                        <path d="M7 0H376L384 12L376 24H8L0 12L7 0Z" fill="#5472C7"/>
                    </svg>
                    <div class="stock-info-text">
                        <span>Limited to {{initial_quantity}} pieces</span>
                        {% comment %}
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.33334 11.9999H8.66668V10.6666H7.33334V11.9999ZM8.00001 1.33325C4.32001 1.33325 1.33334 4.31992 1.33334 7.99992C1.33334 11.6799 4.32001 14.6666 8.00001 14.6666C11.68 14.6666 14.6667 11.6799 14.6667 7.99992C14.6667 4.31992 11.68 1.33325 8.00001 1.33325ZM8.00001 13.3333C5.06001 13.3333 2.66668 10.9399 2.66668 7.99992C2.66668 5.05992 5.06001 2.66659 8.00001 2.66659C10.94 2.66659 13.3333 5.05992 13.3333 7.99992C13.3333 10.9399 10.94 13.3333 8.00001 13.3333ZM8.00001 3.99992C6.52668 3.99992 5.33334 5.19325 5.33334 6.66659H6.66668C6.66668 5.93325 7.26668 5.33325 8.00001 5.33325C8.73334 5.33325 9.33334 5.93325 9.33334 6.66659C9.33334 7.99992 7.33334 7.83325 7.33334 9.99992H8.66668C8.66668 8.49992 10.6667 8.33325 10.6667 6.66659C10.6667 5.19325 9.47334 3.99992 8.00001 3.99992Z" fill="white"/>
                        </svg>
                        {% endcomment %}
                    </div>
                </div>
                <div class="stock-info-bar">
                    <div class="stock-info-bar-progress"></div>
                </div>
                <div class="stock-info-progress-text">
                    <p class='left'>{{ current_quantity }} LEFT</p>
                    <p>{{ initial_quantity | times: 1 | minus: current_quantity }} SOLD</p>
                </div>
            {% endif %}
            <script>
                var width_progress = {{ initial_quantity | times: 1 | minus: current_quantity }} / ({{initial_quantity}} / 100);
                jQuery('.stock-info-bar-progress').css('width',width_progress+'%');
            </script>
        </div>
    {% else %}

    {% endif %}
