<div class="tier-choose-wrap">
    <div class="tier-choose-wrap-heading">
        <h2>CHOOSE YOUR WATCHES:</h2>
    </div>
    <div class="tier-chooses">
        {% assign tier_cnt = product.metafields.airf.tier_cnt %}
        {% for tag in product.tags %}
            {% if tag contains "_tier" %}
                {% assign products_tag = tag | replace: "_tier", "" %}
            {% endif %}
        {% endfor %}

        {% if tier_cnt and tier_cnt != '&nbsp' %}
            {% for i in (1..tier_cnt) %}
                {% assign counter_prod = 1 %}
                {% paginate collections[allcol].products by 1000 %}
                    {% for sp in collections['all-1'].products %}
                        {% if sp.tags contains products_tag %}
                            {% if i == counter_prod %}
                                <div class="tier-product" data-index="{{ i }}" data-id="{{ sp.id }}" data-variant="{{ sp.selected_or_first_available_variant.id }}" {% if tier_cnt == 2 %}style="max-width: 50%"{% endif %}>
                                    <div class="tier-product-image">
                                        <img src="{{ sp.featured_image | img_url: 'large'}}" alt="">
                                    </div>
                                    <div class="tier-product-title">
                                        <h4>{{ sp.title | truncate: 25 }}</h4>
                                    </div>
                                    <div class="tier-product-change" data-id="{{ sp.id }}">
                                        <a href="#tierpopup">change</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% assign counter_prod = counter_prod | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                {% endpaginate %}
            {% endfor %}
        {% endif %}
    </div>
    {% assign offer_box = product.metafields.airf.offer_box %}
    {% if offer_box == "true" %}
        {% assign box_to_off = product.metafields.airf['box_to_off'] %}
        {% if box_to_off and box_to_off != blank %}
            {% assign separator = "###" %}
            {% assign box_to_off_related_handles = box_to_off | split: separator %}
            {% for handle in box_to_off_related_handles %}
                {% assign box = all_products[handle] %}
            {% endfor %}
        {% endif %}
        <div class="box_choose-wrap tier-product" data-id="{{ box.id }}" data-variant="{{ box.selected_or_first_available_variant.id }}">
            <div class="box_choose">
                <div class="box_choose_image">
                    <img src="{{ box.featured_image | img_url: 'large'}}" alt="{{ box.title }}">
                </div>
                <div class="box_description">
                    <h5>Save another $500</h5>
                    <h3>Become a collector for only $99</h3>
                </div>
            </div>
        </div>
    {% endif %}
</div>
