{% comment %} Stamped.io Review - Main Widget {% endcomment %}
<div class='product-section-reviews'>
     <div class='tab-content-mobile-header active'>
          REVIEWS
     </div>
     <div class='product-section-reviews-content active'>
          <div class='page-width'>
               <div class='product-section--title'>
                    Customers love us
               </div>
          </div>
          <script type="text/javascript" async="" src="https://cdn1.stamped.io/files/widget.min.js?shop=aromahigh.myshopify.com"></script>
          <!--Start Stamped.io Auto Installation--><div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">{{ product.metafields.stamped.reviews }}</div><!--End Stamped.io Auto Installation-->
     </div>
</div>
