{% assign strap_acce = shop.metafields.airf['strap_acce'] %}
{% if strap_acce and strap_acce != blank %}
    {% assign separator = "###" %}
    {% assign strap_acce_related_handles = strap_acce | split: separator %}
    {% for handle in strap_acce_related_handles %}
        {% assign strap_hangle = handle %}
    {% endfor %}
{% endif %}

{% assign collection_strap = collections[strap_hangle] %}
{% assign collection_products = collection_strap.products %}

{% for tag in product.tags %}
    {% if tag contains "strap_" %}
        {% assign first_word = tag %}
    {% endif %}
{% endfor %}

{% assign count_strap = 1 %}

{% for strap_prod in collection_products %}
    {% if strap_prod.tags contains first_word %}
        {% if count_strap < 12 %}
            {% assign count_strap = count_strap | plus: 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if count_strap > 1 %}
<hr class="hr--small acs-line medium-down--hide">
<div class="product-single__upsale clearfix">
    <div class="product-single__upsale__title">
        {% assign acctit = product.metafields.airf.acctit %}
        {% if acctit and acctit != '&nbsp' %}
            {{ acctit }}
        {% else %}
            {{ 'accessories.default_title' | t }}
        {% endif %}

        {% assign upsale_title = product.metafields.airf.acsrs %}
    </div>
    <div class="add-acs-wrap">
        <button type="button" class="acs-slider-arrow acs-slider-arrow-prev hide">
            <svg class="slick-arrow__icon" width="9" height="14" viewBox="0 0 9 14" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.22359 0l1.6855 1.63333L3.37101 7l5.53808 5.36667L7.22359 14l-7.2236-7z" fill="#000000"
                      fill-rule="evenodd"></path>
            </svg>
        </button>
        <div class="add-acs">
            {% endif %}

            {% assign count_strap = 1 %}


            {% for strap_prod in collection_products %}
                {% if strap_prod.tags contains first_word %}
                    {% if count_strap < 12 %}
                        {% include 'upsell-item' %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if count_strap > 1 %}
        </div>
        <button type="button" class="acs-slider-arrow acs-slider-arrow-right hide">
            <svg class="slick-arrow__icon" width="9" height="14" viewBox="0 0 9 14" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.6855 0L0 1.63333 5.53808 7 0 12.36667 1.6855 14l7.22359-7z" fill="#000000"
                      fill-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</div>

{% endif %}
