{% assign products_list_str = 'venice-silver venice-silver-gold-automatic rome-rose-gold-black-1 venice-gold-automatic venice-black-gold-automatic renaissance-rose-gold-blue marble-silver-white marble-silver-white-2 marble-silver-black marble-silver-white-3 marble-rose-gold-white marble-rose-gold-white-2 marble-rose-gold-black-1 marble-rose-gold-white-3 marble-gold-white marble-gold-black marble-monochrome marble-silver-black-2 marble-silver-white-4 essence-matte-black essence-matte-black-mesh essence-marble-matte-black essence-marble-matte-black-mesh essence-gold-black-mesh essence-marble-gold-black essence-marble-gold-black-mesh essence-marble-rose-gold-black-mesh essence-silver-black-mesh essence-marble-silver-black essence-marble-silver-black-mesh essence-matte-black-1 essence-rose-gold-black-1 essence-silver-black-mesh-1 essence-rose-gold-blue-mesh essence-silver-white-mesh-2 essence-silver-white-2 essence-silver-white-mesh essence-marble-silver-black-1 essence-marble-rose-gold-white essence-rose-gold-white-3 essence-marble-rose-gold-white-mesh essence-marble-gold-white essence-marble-white-gold-mesh marble-rose-gold-mesh marble-gold-mesh marble-black-gold-mesh marble-silver-black-mesh marble-silver-mesh marble-rose-gold-black-mesh muse-judy muse-grace muse-marie muse-jane muse-marilyn muse-emmeline muse-coco muse-frida-black-orchid muse-frida-rose grey-italian-leather-strap-with-alligator-pattern brown-italian-leather-strap-with-alligator-pattern brown-italian-leather-strap-with-alligator-pattern black-italian-leather-strap-with-alligator-pattern classic-black-italian-leather-strap beige-vintage-italian-leather-strap burgundy-italian-leather-strap-with-alligator-pattern burgundy-italian-leather-strap-with-alligator-pattern burgundy-italian-leather-strap-with-alligator-pattern green-italian-leather-strap brown-italian-leather-strap-with-alligator-pattern-florence black-suede-italian-leather-strap chocolate-suede-italian-leather-strap sand-grey-suede-italian-leather-strap black-italian-leather-strap black-italian-leather-strap black-italian-leather-strap brown-italian-leather-strap blue-italian-leather-strap blue-italian-leather-strap essence-black-leather-strap essence-black-leather-strap essence-sand-leather-strap-1 essence-blue-leather-strap-1 classic-matte-black-stainless-steel-cuff-bracelet greta-gold-vermeil aurora-silver aurora-gold-vermeil sophia-gold-vermail flora-silver-charms lola-gold lola leah evelyn-s ivy ivy-1 olivia olivia-s-55cm penelope penelope-s-55cm alice alice-1 aria aria-1 mia mia-1 layla layla-1 agnes mila-1 isla isla-1 avery avery-1' %}

{% assign products_list_array = products_list_str | split: ' ' %}
{% for product_list_item in products_list_array %}
  {% if product.handle == product_list_item %}
    <div class="grid grid--small addinfo-row">
      <div class="grid__item">
        <span>UNDER THE TREE GUARANTEE. <a href="/pages/under-the-tree-guarantee" target="_blank">Learn more</a></span>
      </div>
    </div>
  {% endif %}
{% endfor %}