
<div class='product-section-also-viewed product-section-padding' id='product-section-also-viewed'>
    <div class='page-width wider'>
        <div class='product-section--title'>
            People who viewed this, also viewed
        </div>
        <div class='grid-items' id='product-section-also-viewed-items'>
            <div class='product-loader'>
                <img src="{{ 'ajax-loader-2.gif' | asset_url }}" width='25px' />
            </div>
        </div>
    </div>
</div>

<script>
	// array of products
	var arr = [];
    {% for product_collection in product.collections %}
        {% assign product_collection_products = product_collection.products | sort: 'best-selling' %}
        {% for product in product_collection_products limit:2 %}
            arr.push({ id : {{product.id}} , url : "{{product.url}}" , title : "{{product.title}}" , image : "{{product.images[0] | img_url: 'large'}}" });
        {% endfor %}
    {% endfor %}
	arr = removeDuplicates(arr, 'id');
	random = arr;
	console.log(random);

	// get random 6 array keys

	if(arr.length > 6){
		random = [];
		for (i = 0; random.length < 6; i++) {
			var new_rand = Math.floor(Math.random()*arr.length);
			if (random.indexOf(new_rand) > -1) {

			}else{
				random.push(new_rand);
			}
		}
    }

	//get HTML for products
    if(random.length < 6){
	    console.log('random zero');
	    document.getElementById('product-section-also-viewed').style.display = 'none';
    }else {

	    document.getElementById('product-section-also-viewed').style.display = 'block';
	    document.getElementById('product-section-also-viewed-items').innerHTML = '';
	    random.forEach(function (key) {
		    document.getElementById('product-section-also-viewed-items').innerHTML += "<div class='item'>\n" +
			    "    <a class='img' href='" + arr[key].url + "' style='background-image: url("+arr[key].image+")'></a>" +
			    "    <div class='title'><a href='" + arr[key].url + "'>" + arr[key].title + "</a></div>\n" +
			    "</div>";

	    });
    }
</script>
