<hr class="hr--small acs-line medium-down--hide">
<div class="product-related__thumbs">
  {% assign selected_collection = collection %}
  {% if collection %}
    {% assign selected_collection = product.collections[1] %}
  {% endif %}
  {% paginate selected_collection.products by 14 %}
  {% for prod_item in selected_collection.products %}
  	{% if prod_item.id != product.id %}
  	  <div class="product-related__thumb">
        <a href="{{ prod_item.url | within: collection }}">
          <img src="{{ prod_item.featured_image | img_url: '100x' }}" alt="{{ prod_item.title }}" title="{{ prod_item.title }}">
        </a>
  	  </div>
  	{% endif %}
  {% endfor %}
  {% endpaginate %}
</div>