{%- assign has_custom_tabs = false -%}
{% for tag in product.tags %}
  {% if tag contains '_tab' %}
    {%- assign has_custom_tabs = true -%}
  {% endif %}
{% endfor %}

{% if settings.product_content_1 != blank or settings.product_content_2 != blank or settings.product_content_3 != blank or settings.product_contact or settings.enable_product_reviews or has_custom_tabs %}
  <div class="collapsibles-wrapper">

    {% for tag in product.tags %}
      {% if tag contains '_tab' %}
        {%- assign include_page_handle = tag | split: '_' -%}
        {%- assign include_page = pages[include_page_handle.last] -%}
        {% if include_page.title != blank %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-{{ include_page_handle.last }}-{{ section_id }}">
            {{ include_page.title }}
            {% include 'collapsible-icons' %}
          </button>
          <div id="Product-content-{{ include_page_handle.last }}-{{ section_id }}" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner rte">
              {{ include_page.content }}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if product.description != blank %}
      <div class="collapsible-row medium-down--hide">
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="Product-specs">
          Product specifications
          {% include 'collapsible-plus' %}
        </button>
        <div id="Product-specs" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            <div class="product-single__description rte" itemprop="description">{{ product.description }}</div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if settings.product_content_1 != blank %}
      <div class="collapsible-row">
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="Product-content-1-{{ section_id }}">
          {% comment %}{{ pages[settings.product_content_1].title }}{% endcomment %}
          Free shipping and returns
          {% include 'collapsible-plus' %}
        </button>
        <div id="Product-content-1-{{ section_id }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            {{ pages[settings.product_content_1].content }}
          </div>
        </div>
      </div>
    {% endif %}

    {% if settings.product_content_2 != blank %}
      <div class="collapsible-row">
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="Product-content-2-{{ section_id }}">
          {% comment %}{{ pages[settings.product_content_2].title }}{% endcomment %}
          10 Year International Warranty
          {% include 'collapsible-plus' %}
        </button>
        <div id="Product-content-2-{{ section_id }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            {{ pages[settings.product_content_2].content }}
          </div>
        </div>
      </div>
    {% endif %}
    {% if settings.product_content_3 != blank %}
      <div class="collapsible-row">
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="Product-content-3-{{ section_id }}">
          {{ pages[settings.product_content_3].title }}
          {% include 'collapsible-plus' %}
        </button>
        <div id="Product-content-3-{{ section_id }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            {{ pages[settings.product_content_3].content }}
          </div>
        </div>
      </div>
    {% endif %}

    {% if settings.product_contact %}
      {% form 'contact' %}

        <button type="button" class="label collapsible-trigger collapsible-trigger-btn" aria-controls="Product-content-4-{{ section_id }}">
          {{ settings.product_contact_title }}
          {% include 'collapsible-icons' %}
        </button>
        <div id="Product-content-4-{{ section_id }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            <div class="form-vertical">

              <input type="hidden" name="contact[product]" value="Product question for: {{ shop.secure_url }}/admin/products/{{ product.id }}">

              <div class="grid grid--small">
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                  <input type="text" id="ContactFormName" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>

                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>
              </div>

              <!--
              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              -->

              <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
              <textarea rows="5" id="ContactFormMessage" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

            </div>
          </div>
        </div>

        {% if form.posted_successfully? %}
          <p class="note note--success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {% if form.product %}

          {{ form.errors | default_errors }}
        {% endif %}

      {% endform %}
    {% endif %}

  </div>
{% endif %}
