<div class="wishlist-wrao">
    <div class="wishlist-button" data-id="{{ product.id }}" data-action="add">
        <div class="wishlist-img">
            <div class="wishlist-add">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 6.22134C14 4.64252 12.6622 3.37176 11 3.37176C9.33784 3.37176 8 4.64252 8 6.22134C8 6.25985 8 6.25985 8 6.29835C8 6.25985 8 6.22134 8 6.18283C8 4.60401 6.66216 3.33325 5 3.33325C3.33784 3.33325 2 4.60401 2 6.18283C2 6.56791 2.08108 6.95299 2.24324 7.29956C3.37838 10.1876 8 13.9999 8 13.9999C8 13.9999 14 9.07092 14 6.37537C14 6.33686 14 6.25985 14 6.22134Z" stroke="#6E6E6E" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="wishlist-added">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 6.22134C14 4.64252 12.6622 3.37176 11 3.37176C9.33784 3.37176 8 4.64252 8 6.22134C8 6.25985 8 6.25985 8 6.29835C8 6.25985 8 6.22134 8 6.18283C8 4.60401 6.66216 3.33325 5 3.33325C3.33784 3.33325 2 4.60401 2 6.18283C2 6.56791 2.08108 6.95299 2.24324 7.29956C3.37838 10.1876 8 13.9999 8 13.9999C8 13.9999 14 9.07092 14 6.37537C14 6.33686 14 6.25985 14 6.22134Z" stroke="#DC005C" fill="#DC005C" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="wishlist-hover">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 6.22134C14 4.64252 12.6622 3.37176 11 3.37176C9.33784 3.37176 8 4.64252 8 6.22134C8 6.25985 8 6.25985 8 6.29835C8 6.25985 8 6.22134 8 6.18283C8 4.60401 6.66216 3.33325 5 3.33325C3.33784 3.33325 2 4.60401 2 6.18283C2 6.56791 2.08108 6.95299 2.24324 7.29956C3.37838 10.1876 8 13.9999 8 13.9999C8 13.9999 14 9.07092 14 6.37537C14 6.33686 14 6.25985 14 6.22134Z" stroke="#DC005C" fill="#DC005C" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="wishlist-text">
            <p><span class="wish-text">Add to Wishlist</span> (<span class="wish-count">0</span>)</p>
        </div>
    </div>
</div>
