{% assign ltd_title = product.metafields.airf.ltd_title %}
{% assign ltd_left = product.metafields.airf.ltd_left %}
{% assign limited_on = false %}

{% if ltd_title and ltd_title != '&nbsp' %}
  {% assign limited_on = true %}
{% endif %}

{% if ltd_left and ltd_left != '&nbsp' %}
  {% assign limited_on = true %}
{% endif %}

{% if limited_on %}
  <div class="product-single__limited">
    {% if ltd_title and ltd_title != '&nbsp' %}
      <div class="limited-title">
        {{ ltd_title }}
      </div>
    {% endif %}  
    {% if ltd_left and ltd_left != '&nbsp' %}
      <div class="limited-text">
        {{ ltd_left }}
      </div>
    {% endif %}
  </div>
{% endif %}