<div class="product__thumb-item"
     data-index="{{ forloop.index0 }}" data-color="{{ image_alt }}">
    <div class="image-wrap">
        {% if has_product_video %}<span class='video_text'>360 View</span>{% endif %}
        <div
                class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                data-id="{{ image.id }}"
                {% if settings.product_zoom_enable %}data-zoom="{{ image.src | img_url: product_zoom_size }}"{% endif %}
        >
            {% if has_product_video %}
                <span class="product__thumb-play">{% include 'icon-play' %}</span>
            {% endif %}

            {% if isModal %}
                <img
                        data-modal-lazy="{{ image.src | img_url: product_thumb_size }}"
                        class="animation-delay-{{ forloop.index | times: 3 }}"
                        alt="{{ image_alt | escape }}">
                <noscript>
                    <img src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                </noscript>
            {% else %}
                {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540]"
                     data-aspectratio="{{ image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ image_alt | escape }}"
                     class="animation-delay-{{ forloop.index | times: 3 }}">
                <noscript>
                    <img class="lazyloaded" src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                </noscript>
            {% endif %}
        </div>
    </div>
</div>
