{% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
{% assign size_block_on = false %}
{% assign formClass = 'product-single__form variants-count-' | append: product.variants.size %}
{% assign show_bfd = shop.metafields.airf.show_bfd %}
{% assign preordr = product.metafields.airf.preordr %}
{% if template == 'product.jewelry' %}
    {% assign formClass = formClass | append: ' jewelry-form' %}
{% endif %}

{% form 'product', product, data-productid: product.id, id: form_id, class: formClass %}
<!-- Begin ReCharge code -->
{% if product.available %}{% include 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->


    {% comment %} If template is not product.jewelry, don't display product variants buttons if less than 2 || else show variant buttons all the time in jewelry {% endcomment %}

    {% unless template == 'product.jewelry' %}
        {% unless product.variants.size == 1 %}
            {% for option in product.options_with_values %}
                {% if option.name contains 'Size' %}
                    {% assign size_block_on = true %}
                {% endif %}
                {% if settings.variant_type == 'button' %}
                    {% include 'variant-button', section_id: section_id, option_drop: option %}
                {% else %}
                    {% include 'variant-dropdown', section_id: section_id %}
                {% endif %}
            {% endfor %}
        {% endunless %}
        {% else %}
        {% for option in product.options_with_values %}
            {% if option.name contains 'Size' %}
                {% assign size_block_on = true %}
            {% endif %}
            {% if settings.variant_type == 'button' %}
                {% include 'variant-button', section_id: section_id, option_drop: option %}
            {% else %}
                {% include 'variant-dropdown', section_id: section_id %}
            {% endif %}
        {% endfor %}
    {% endunless %}

    {% if isModal != true %}
        {% assign womenprod = product.metafields.airf['womenprod'] %}
        {% if womenprod and womenprod != blank and womenprod != '&nbsp' %}
            {% assign separator = "###" %}
            {% assign womenprod_related_handles = womenprod | split: separator %}
            {% for handle in womenprod_related_handles %}
                {% assign related_product = all_products[handle] %}
                {% unless related_product.empty? %}
                {% assign related_handle = related_product.handle %}
                {% assign related_id = related_product.selected_or_first_available_variant.id %}
                    {% if related_product.selected_or_first_available_variant.inventory_quantity > 0 or related_product.selected_or_first_available_variant.inventory_policy == 'continue' %}
                        <div id="replacement-product" data-id="{{related_id}}"></div>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        {% endif %}
    {% endif %}

    <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
        {% for variant in product.variants %}
            {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %}
                    selected="selected" {% endif %}
                        value="{{ variant.id }}">
                    {{ variant.title }} - <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ variant.price }}" style="display:none !important;"></span>{{ variant.price | money_with_currency }}
                </option>
            {% else %}
                <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
            {% endif %}
        {% endfor %}
    </select>

    {% if settings.quantity_enable %}
        <div class="product__quantity product__quantity--{{ settings.variant_type }} js-qty">
            <label for="Quantity-{{ section_id }}">{{ 'products.product.quantity' | t }}</label>
            <input type="number" hidden="hidden" id="Quantity-{{ section_id }}" name="quantity" value="1" min="1" class="js-qty__fallback">
        </div>
    {% endif %}

    {% if settings.enable_payment_button %}
        <div class="payment-buttons">
    {% endif %}

    {% include 'variant-text' %}
    {% if pr_1 and pr_1 != blank and pr_1 != '&nbsp' and pr_2 and pr_2 != blank and pr_2 != '&nbsp' %}

        {% if related_product_availability %}
            <a class="add-bundle-to-cart {% if settings.enable_payment_button %}btn--tertiary{% else %}btn{% endif %} btn--full add-to-cart" {% unless current_variant.available %} disabled="disabled"{% endunless %}>
          <span id="AddToCartText-{{ section_id }}">
            {% if current_variant.available %}
                {% assign atc_cap = product.metafields.airf.atc_cap %}
                {% if atc_cap and atc_cap != blank and atc_cap != '&nbsp' %}
                    {{ atc_cap }}
                {% else %}
                    {{ 'products.product.add_to_cart' | t }}

                    <div class="add-to-cart-price medium-up--hide">
                  {% if product.type contains "Watch" and show_bfd == "true" %}
                      {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                      {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                          <div>{{ product.compare_at_price | money }}</div>
                    {% else %}
                          <div>{{ product.price | times: 0.80 | round | money }}</div>
                      {% endif %}

                  {% elsif product.type contains "SALE" and show_bfd == "true" %}

                    {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                    {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                      <div>{{ product.compare_at_price | money }}</div>
                    {% else %}
                      <div>{{ product.price | times: 0.50 | round | money }}</div>
                  {% endif %}

                  {% else %}
                      {% if on_sale %}
                          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                          <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                          <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                      {% endif %}
                    {% if product.price_varies %}
                          {% assign price = product.price_min | money %}
                          {{ 'products.general.from_text_html' | t: price: price }}
                      {% else %}
                          <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>
                          {{ product.price  | money }}
                      {% endif %}

                  {% endif %}
                </div>

                {% endif %}
            {% else %}
                <button type="submit" name="add" id="AddToCart-product-template" class="btn btn--full add-to-cart" disabled="disabled">
                <span id="AddToCartText-product-template">{{ 'products.product.sold_out' | t }}</span>
              </button>
            {% endif %}
          </span>
            </a>
        {% else %}
            <button type="submit" name="add" id="AddToCart-product-template" class="btn btn--full add-to-cart" disabled="disabled">
                <span id="AddToCartText-product-template">{{ 'products.product.sold_out' | t }}</span>
            </button>
        {% endif %}
        {% elsif preordr and preordr != '&nbsp' %}
        <button type="submit"
                name="add"
                id="AddToCart-{{ section_id }}"
                class="{% if settings.enable_payment_button %}btn--tertiary{% else %}btn{% endif %} btn--full add-to-cart add-to-cart--preorder"
                {% unless current_variant.available %} disabled="disabled"{% endunless %} data-pre-order-attr="{{ preordr }}" data-id="{{product.selected_or_first_available_variant.id}}">
        <span id="AddToCartText-{{ section_id }}">
          {% if current_variant.available %}
              {% assign atc_cap = product.metafields.airf.atc_cap %}
              {% if atc_cap and atc_cap != blank and atc_cap != '&nbsp' %}
                  {{ atc_cap }}
              {% else %}
                  <span class="button-captions">
                <span class="button-caption--default">{{ 'products.product.add_to_cart' | t }}</span>
                {% comment %}<span class="button-caption--select-size">{{ 'products.product.select_size' | t }}</span>{% endcomment %}
              </span>

                  <div class="add-to-cart-price medium-up--hide" style="display: none;">
                {% if product.type contains "Watch" and show_bfd == "true" %}
                    {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                    {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                        <div>{{ product.compare_at_price | money }}</div>
                  {% else %}
                        <div>{{ product.price | times: 0.80 | round | money }}</div>
                    {% endif %}

                {% elsif product.type contains "SALE" and show_bfd == "true" %}

                  {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                  {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                    <div>{{ product.compare_at_price | money }}</div>
                  {% else %}
                    <div>{{ product.price | times: 0.50 | round | money }}</div>
                {% endif %}

                {% else %}
                    {% if on_sale %}
                        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                        <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                    {% endif %}
                  {% if product.price_varies %}
                        {% assign price = product.price_min | money %}
                        {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>
                        {{ product.price  | money }}
                    {% endif %}

                {% endif %}
              </div>

              {% endif %}
          {% else %}
              {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
        </button>
    {% else %}
        {% assign p_kit_e = product.metafields.airf.p_kit_e %}
        {% assign p_kit_l = product.metafields.airf['p_kit_l'] %}
        {% if p_kit_l and p_kit_l != blank %}
            {% assign separator = "###" %}
            {% assign p_kit_l_related_handles = p_kit_l | split: separator %}
            {% for handle in p_kit_l_related_handles %}

                {% assign related_product = all_products[handle] %}
                {% unless related_product.empty? %}
                    {% if related_product.variants.first.inventory_quantity > 0 %}
                    {% else %}
                        {% assign no_kit = "true" %}
                    {% endif %}
                {% endunless %}

            {% endfor %}
        {% endif %}
        <button
                {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
                name="add"
                id="AddToCart-{{ section_id }}{% if product.tags contains 'tier_offer' %}-tier{% endif %}{% if p_kit_e == "true" %}-kit{% endif %}"
                class="{% if settings.enable_payment_button %}btn--tertiary{% else %}btn{% endif %} btn--full add-to-cart {% if no_kit and no_kit == 'true' %}no-kit{% endif %}"
                {% unless current_variant.available %} disabled="disabled"{% endunless %}{% if size_block_on %} disabled="disabled"{% endif %} data-kit="{% if p_kit_l and p_kit_l != blank %}{% assign separator = "###" %}{% assign p_kit_l_related_handles = p_kit_l | split: separator %}{% assign counter = 1 %}{% for handle in p_kit_l_related_handles %}{% assign related_product = all_products[handle] %}{% unless related_product.empty? %}{% if counter == 1 %}{% assign counter = 2 %}{{ related_product.variants.first.id }}{% else %},{{ related_product.variants.first.id }}{% endif %}{% endunless %}{% endfor %}{% endif %}">
            <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.0413 14.5591L23.0118 7.50023L16.0413 0.441406" stroke="white" stroke-miterlimit="10" stroke-linecap="round"/>
<path d="M22.1206 7.5H0.441162" stroke="white" stroke-miterlimit="10" stroke-linecap="round"/>
</svg>

            {% if no_kit and no_kit == 'true' %}
            <span class="no-kit-span">
                {{ 'products.product.sold_out' | t }}
            </span>
            {% else %}
            <span id="AddToCartText-{{ section_id }}">
          {% if current_variant.available %}
              {% assign atc_cap = product.metafields.airf.atc_cap %}
              {% if atc_cap and atc_cap != blank and atc_cap != '&nbsp' %}
                  {{ atc_cap }}
              {% else %}
                  <span class="button-captions{% if size_block_on %} size-on{% endif %}">
                <span class="button-caption--default">{{ 'products.product.add_to_cart' | t }}</span>
              </span>

                  <div class="add-to-cart-price medium-up--hide" style="display:none">
                {% if product.type contains "Watch" and show_bfd == "true" %}
                    {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                    {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                        <div>{{ product.compare_at_price | money }}</div>
                  {% else %}
                        <div>{{ product.price | times: 0.80 | round | money }}</div>
                    {% endif %}

                {% elsif product.type contains "SALE" and show_bfd == "true" %}

                  {% assign bndl_prod = product.metafields.airf.bndl_prod %}
                  {% if bndl_prod == "true" and product.compare_at_price > 0 %}
                    <div>{{ product.compare_at_price | money }}</div>
                  {% else %}
                    <div>{{ product.price | times: 0.50 | round | money }}</div>
                {% endif %}

                {% else %}
                    {% if on_sale %}
                        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                        <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                    {% endif %}
                  {% if product.price_varies %}
                        {% if template == 'product.jewelry' %}
                            {{ product.selected_or_first_available_variant.price  | money }}
                        {% else %}
                            {% assign price = product.price_min | money %}
                            {{ 'products.general.from_text_html' | t: price: price }}
                        {% endif %}
                    {% else %}
                        <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>
                        {{ product.price  | money }}
                    {% endif %}

                {% endif %}
              </div>

              {% endif %}
          {% else %}
              {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
            {% endif %}
        </button>
        {% include 'product-delivery-time' %}
    {% endif %}


    {% if product.available %}
        {% include 'product-wishlist' %}
        {% include 'product-section-availability' %}
    {% else %}
        <div class='notify_me_wrapper'>
            <div class='notify_me'>
                <p>
                    SOLD OUT. Would you like to be notified when this product is available?
                </p>
                <a class="klaviyo-bis-trigger btn" href="#">Notify Me When Available</a>
                <script src='https://a.klaviyo.com/media/js/onsite/onsite.js'></script>
                <script type="text/javascript">
		            var klaviyo = klaviyo || [];
		            klaviyo.init({account: 'UsPKis', platform: 'shopify'});
		            klaviyo.enable('backinstock',{
			            trigger: {
				            product_page_text: 'Notify Me',
				            product_page_class: 'btn',
				            product_page_text_align: 'center',
				            product_page_margin: '0px',
				            replace_anchor: true
			            },
			            modal: {
				            headline: '{product_name}',
				            body_content: 'Register to receive a notification when this item comes back in stock.',
				            button_label: 'Notify Me',
				            footer_content: '',
				            drop_background_color: '#000',
				            background_color: '#fff',
				            text_color: '#222',
				            button_text_color: '#fff',
				            button_background_color: '#222',
				            close_button_color: '#ccc',
				            error_background_color: '#fcd6d7',
				            error_text_color: '#C72E2F',
				            success_background_color: '#d3efcd',
				            success_text_color: '#1B9500'
			            }
		            });
                </script>
            </div>
            <div class='whishlist-wrapper'>
                {% include 'product-wishlist' %}
            </div>
        </div>
    {% endif %}
    {% if settings.enable_payment_button %}
        {{ form | payment_button }}
    {% endif %}

    {% if settings.enable_payment_button %}
        </div>
    {% endif %}
{% endform %}
<script>


    $('button#AddToCart-product-template-kit').click(function (e) {
        e.preventDefault();
        if ($(this).hasClass('no-kit')){
            return false;
        }
        var acsCart = [];
        {% assign p_kit_l = product.metafields.airf['p_kit_l'] %}
        {% if p_kit_l and p_kit_l != blank %}
        {% assign separator = "###" %}
        {% assign p_kit_l_related_handles = p_kit_l | split: separator %}
        {% for handle in p_kit_l_related_handles %}

        {% assign related_product = all_products[handle] %}
        {% unless related_product.empty? %}
        var variant = {};
        variant.id = {{ related_product.variants.first.id }};
        variant.qty = 1;
        //console.log(variant);
        acsCart.push(variant);
        {% endunless %}

        {% endfor %}
        {% endif %}
        if (acsCart.length > 0){
            MGUtil.data = acsCart;
            MGUtil.total = MGUtil.data.length;
            //console.log(MGUtil.data);
            MGUtil.action = 'add';
            MGUtil.recursive();
        }
    });
</script>
{% render 'banana-stand-product-page-container' %}
