<div class='product-section-question'>
    <div class='page-width'>
        <div class='product-section--title'>
            Have a question?
        </div>
        <div class='product-section--text'>
            We are always ready to help you. Click below to visit our FAQ page.
        </div>
        <a href='https://aromahigh.myshopify.com/pages/aromahigh-faq' target='_blank' class='btn'>FAQ</a>
        <a href='https://aromahigh.myshopify.com/pages/contact-us' target='_blank' class='btn'>Chat with us</a>
    </div>
</div>
