<script>
    {% if product.title == 'Any 2 Watches' %}
        localStorage.setItem('any2','true');
    {% endif %}
</script> 

<div class='page-width'>
    <div class="grid product-info-section">
        <div class="grid__item product-images-wrap medium-up--eight-twelfths {% if product.tags contains 'tier_offer' %}tier-image{% endif %}">
            {% include 'product-images', section_id: section_id, isModal: isModal, thumbnail_position: thumbnail_position %}
            <a href="#" class="fit-link d-none medium-down--hide"><img src="{{ 'icon-fit.svg' | asset_url }}"/> See The Fit</a>
        </div>

        <div class="grid__item medium-up--four-twelfths">

            <div class="product-single__meta">
                {% if settings.vendor_enable %}
                    <div class="product-single__vendor" itemprop="brand">{{ product.vendor }}</div>
                {% endif %}

                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                    <div class="product-single__meta_loader">
                        <div id="product-single__meta">
                            <div class='product-single__meta_pre_head'>
                                {% if main_collection and main_collection != '&nbsp' %}
                                    <div class="product-single__series"><a href="{{ main_collection.url }}" style="font-size: 14px;font-weight: 700;letter-spacing: 3.5px;color: #C6AF76;padding-bottom: 5px;text-transform: uppercase;">{{ main_collection.title }}</a></div>
                                {% else %}

                                    {% comment %}
                                    {% assign series = product.metafields.airf.series %}
                                    {% if series %}
                                        <div class="product-single__series">{{ series }}</div>
                                    {% endif %}
                                    {% endcomment %}
                                {% endif %}
                                {% comment %}
                                {% if product.tags contains 'tier_offer' %}
                                {% else %}
                                    {% if main_collection %}
                                        <a class="product-single__collection_link" href="{{ main_collection.url }}">Browse Collection</a>
                                    {% else if collection %}
                                        <a class="product-single__collection_link" href="{{ collection.url }}">Browse Collection</a>
                                    {% endif %}
                                {% endif %}
                                {% endcomment %}
                            </div>

                            <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>

                            {% assign p_brand = product.metafields.airf.p_brand %}
                            {% if p_brand and p_brand != '&nbsp' %}
                            <div class="product-singe__brand">
                                <p>{{ p_brand }}</p>
                            </div>
                            {% endif %}

                            {% comment %} Stamped.io Review - Small Widget {% endcomment %}
                            {% assign reviews_count = product.metafields.stamped.reviews_count | plus: 0 %}
                            {% assign reviews_average = product.metafields.stamped.reviews_average | round %}
                            {% if reviews_count > 0 %}
                                <div class='product-reviews-wrapper'>
                                    <div class='stars'>
                                        {% for i in (1..5) %}
                                            {% if i <= reviews_average %}
                                                <img src="{{ 'icon-star.svg' | asset_url }}" />
                                            {% else %}
                                                <img src="{{ 'icon-star-grey.svg' | asset_url }}" />
                                            {% endif %}
                                        {% endfor %}
                                        <div class='stars-text'>
                                            {{ reviews_average }}/5
                                        </div>
                                    </div>
                                    <a href='#stamped-main-widget' class='read-reviews smooth-scroll'>Read reviews ({{ product.metafields.stamped.reviews_count}})</a>
                                </div>
                            {% endif %}

                            <div class="grid grid--small pricing-row">
                                <div class="grid__item medium-up--one-half">
                              <span id="ProductPrice-{{ section_id }}"
                                    class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}"
                                    itemprop="price"
                                    content="{{ current_variant.price | divided_by: 100.00 }}">
                                  <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ current_variant.price }}" style="display:none !important;"></span>

                                  {% if product.type contains "Watch" and show_bfd == "true" %}
                                      {% if bndl_prod == "true" and current_variant.compare_at_price > 0 %}
                                          {{ current_variant.compare_at_price | round | money | replace: "USD", ""}}
                                          <span class="strike-through">{{ current_variant.price | round | money | replace: "USD", "" }}</span>
                                    {% else %}
                                          {{ current_variant.price | times: 0.80 | round | money | replace: "USD", ""}}
                                          <span class="strike-through">{{ current_variant.price | round | money | replace: "USD", "" }}</span>
                                      {% endif %}

                                  {% elsif product.type contains "SALE" and show_bfd == "true" %}
                                    {% if bndl_prod == "true" and current_variant.compare_at_price > 0 %}
                                      {{ current_variant.compare_at_price | round | money | replace: "USD", ""}}
                                      <span class="strike-through">{{ current_variant.price | round | money | replace: "USD", "" }}</span>
                                    {% else %}
                                      {{ current_variant.price | times: 0.50 | round | money | replace: "USD", ""}}
                                      <span class="strike-through">{{ current_variant.price | round | money | replace: "USD", "" }}</span>
                                  {% endif %}

                                  {% else %}
                                      {{ current_variant.price | money | replace: "USD", ""}}
                                      {% if current_variant.compare_at_price > current_variant.price %}
                                          <span class="strike-through">{{ current_variant.compare_at_price | round | money | replace: "USD", "" }}</span>
                                      {% endif %}
                                  {% endif %}

                              </span>
                                </div>

                            </div>



                            {% include 'product-section-offer' %}
                            {% if product.tags contains 'tier_offer' %}
                                {% include 'product-section-tier' %}
                            {% endif %}
                            {% if template == 'product.jewelry' %}
                                {% assign variant_ti = product.metafields.airf.variant_ti %}

                                {% if variant_ti and variant_ti != '&nbsp' %}
                                    <div class="grid-product__variant-title">{{ variant_ti }}</div>
                                {% else %}
                                    <div class="grid-product__variant-title grid-product__variant-title-dynamically">
                                        {{ product.options_with_values[0].values[0] }}
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if settings.sku_enable %}
                                <p id="Sku-{{ section_id }}" class="product-single__sku">
                                    {% if current_variant.sku %}
                                        {{ current_variant.sku }}
                                    {% endif %}
                                </p>
                            {% endif %}

                            {% if settings.inventory_enable %}
                                <script>
									// Store inventory quantities in JS because they're no longer
									// available directly in JS when a variant changes.
									// Have an object that holds all potential products so it works
									// with quick view or with multiple featured products.
									window.inventories = window.inventories || {};
									window.inventories['{{ section_id }}'] = {};
									var inv_qty = {};
                                    {% for variant in product.variants %}
									window.inventories['{{ section_id }}'][{{ variant.id }}] = {{ variant.inventory_quantity | default: 0 }};
                                    {% endfor %}
                                </script>

                                {%- assign inventory_visible = false -%}
                                {% if current_variant.inventory_management == 'shopify' %}
                                    {%- assign inventory_visible = true -%}
                                {% endif %}
                                {% if current_variant.inventory_quantity == 0 %}
                                    {%- assign inventory_visible = false -%}
                                {% endif %}
                                <div
                                        id="ProductInventory-{{ section_id }}"
                                        class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
                                >
                                    {% if current_variant.available %}
                                        {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if product.metafields.airf.count_text and product.metafields.airf.count_hour %}
                                {% assign count_text = product.metafields.airf.count_text %}
                                {% assign count_hour = product.metafields.airf.count_hour %}
                            {% else if product_collection %}
                                {% assign count_text = product_collection.metafields.airf.count_text %}
                                {% assign count_hour = product_collection.metafields.airf.count_hour %}
                            {% endif %}

                            {% if count_text and count_hour and count_text != '&nbsp' and count_hour != '&nbsp' %}
                            <div class='limited-offer' id='limited-offer'>
                                <div class='limited-offer-title'>{{ count_text }}</div>
                                <div class='limited-offer-timer' id='limited-offer-timer'>
                                    <script>

	                                    function getCookie(name) {
		                                    var match = document.cookie.match(RegExp('(?:^|;\\s*)' + name + '=([^;]*)')); return match ? match[1] : null;
	                                    }

	                                    function setCookie(name, value, days) {
		                                    var d = new Date;
		                                    d.setTime(d.getTime() + 24*60*60*1000*days);
		                                    document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
	                                    }

	                                    var productId = {{ product.id }};
	                                    if(getCookie('product_timer_'+productId) === null){
		                                    var countDownDate = new Date().getTime();
		                                    countDownDate = countDownDate + (parseInt({{ count_hour }}) * 3600 * 1000);
		                                    setCookie('product_timer_'+productId, countDownDate, 100);
	                                    }else{
		                                    countDownDate = parseInt(getCookie('product_timer_'+productId));
		                                    if(countDownDate < new Date().getTime()){
			                                    var countDownDate = new Date().getTime();
			                                    countDownDate = countDownDate + (parseInt({{ count_hour }}) * 3600 * 1000);
			                                    setCookie('product_timer_'+productId, countDownDate, 100);
                                            }
	                                    }

		                                var x = setInterval(function() {
			                                var now = new Date().getTime();
			                                var distance = countDownDate - now;
			                                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			                                document.getElementById("limited-offer-timer").innerHTML =
				                                ( '0' + days ).substr( -2 )  + "<span>:</span>" +
				                                ( '0' + hours ).substr( -2 ) + "<span>:</span>" +
				                                ( '0' + minutes ).substr( -2 ) + "<span>:</span>" +
                                                ( '0' + seconds ).substr( -2 );
			                                document.getElementById("limited-offer-timer-fixed").innerHTML =
				                                ( '0' + days ).substr( -2 )  + "<span>:</span>" +
				                                ( '0' + hours ).substr( -2 ) + "<span>:</span>" +
				                                ( '0' + minutes ).substr( -2 ) + "<span>:</span>" +
				                                ( '0' + seconds ).substr( -2 );

			                                // If the count down is finished, write some text
			                                if (distance < 0) {
				                                clearInterval(x);
				                                document.getElementById("limited-offer-timer").innerHTML = "EXPIRED";
				                                document.getElementById("limited-offer-timer-fixed").innerHTML = "EXPIRED";
			                                }
		                                }, 1000);
                                    </script>
                                </div>
                            </div>
                            {% endif %}

                            <meta itemprop="priceCurrency" content="{{ shop.currency }}">

                            {% include 'product-progress-bar' %}

                            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                            <div class="medium-down--hide">
                                {% include 'product-section-limited' %}
                            </div>

                            <div class="medium-up--hide limited-wrapper">

                                {% include 'product-section-limited' %}
                            </div>

                            {% if template == 'product.jewelry' %}
                                <div class="medium-up--hide klarna-placement-jewelry">
                                    {% include 'klarna-placement' %}
                                </div>
                            {% endif %}

                            {% unless template == 'product.jewelry' %}
                                <div class="medium-up--hide">
                                    {% include 'klarna-placement' %}
                                </div>
                            {% endunless %}

                            <div class="medium-up--hide bonus-wrapper">
                                {% include 'product-section-bonus' %}
                            </div>


                            <div class="medium-up--hide">
                                {% if offer_on != true %}
                                    {% include 'product-section-highlights' %}
                                {% endif %}
                            </div>


                            {% if bndl_prod == "true" %}
                                {% if isModal != true %}
                                    {% include 'product-section-bundles', section_id: section_id %}
                                    {% include 'product-form', section_id: section_id %}
                                {% else %}
                                    <button name="add" id="AddToCart-651293622325" class="btn btn--full btn--loading add-to-cart add-to-cart-modal-bundler"></button>
                                {% endif %}
                                {% elsif replacementProduct %}
                                {% if isModal != true %}
                                    {% include 'product-form', section_id: section_id %}
                                {% else %}
                                    <button name="add" id="AddToCart-651293622325" class="btn btn--full btn--loading add-to-cart add-to-cart-modal-bundler"></button>
                                {% endif %}
                            {% else %}
                                {% include 'product-form', section_id: section_id %}
                            {% endif %}

                            <div class="medium-down--hide">
                                {% include 'klarna-placement' %}
                            </div>

                            {% comment %} {% include 'product-section-shipping' %} {% endcomment %}

                            {% comment %} {% include 'product-section-similar' %} {% endcomment %}
                            {% include 'product-section-benefits' %}

                        </div>
                    </div>


                    {% assign prdr_text = product.metafields.airf.prdr_text %}
                    {% if prdr_text and prdr_text != '&nbsp' %}
                        <div class="preorder-text">
                            {{ prdr_text }}
                        </div>
                    {% endif %}

                    <div class="medium-down--hide">
                        {% if offer_on != true %}
                            {% include 'product-section-highlights' %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
