{% assign scope = product.metafields.airf %}
{% assign imgtxt_bl2 = scope.imgtxt_bl2 %}
{% if imgtxt_bl2 and imgtxt_bl2 != blank %}
    <div class="product-information-wrapper product-information-section-2">
        <div class='page-width'>
        {% for row in imgtxt_bl2.rows %}
            {% for row_field in row %}
                {% if row_field.label == 'Image text heading' %}
                    {% assign imgtxt_he = scope[row_field.key] %}
                {% elsif row_field.label == 'Image text image' %}
                    {% assign imgtxt_im = scope[row_field.key] %}
                {% elsif row_field.label == 'Image text title' %}
                    {% assign imgtxt_ti = scope[row_field.key] %}
                {% elsif row_field.label == 'Image text description' %}
                    {% assign imgtxt_de = scope[row_field.key] %}
                {% endif %}
            {% endfor %}

            {% include 'product-section-info-carousel-item' %}

        {% endfor %}
        </div>
    </div>
{% endif %}
