{% comment %}Product:
{{product.metafields.airf.perks}}<br>
First perk: {{product.metafields.airf.p_title_1 | size}}<br>
{{product.metafields.airf.perks | size}}<br>

Shop:
{{shop.metafields.airf.perks}}<br>
{{shop.metafields.airf.perks | size}}<br>
{% endcomment %}

{% if product.metafields.airf.p_title_1 != blank and product.metafields.airf.p_title_1 != '&nbsp' %}
  {% assign perks = product.metafields.airf.perks %}
  {% assign isProduct = true %}
{% else %}
  {% assign perks = shop.metafields.airf.perks %}
  {% assign isProduct = false %}
{% endif %}

{% if perks and perks != blank %}
    {% assign separator = "###" %}
    {% assign perks_childs_keys = perks | split: separator %}
    {% comment %}{% if perks_child_key contains "p_icon" %}
        <div class="selection">{{ shop.metafields.airf[perks_child_key] }}</div>
    {% endif %}

    {% if perks_child_key contains "p_title" %}
        <div class="textarea">{{ shop.metafields.airf[perks_child_key] }}</div>
    {% endif %}{% endcomment %}


{% comment %}{% assign perks = shop.metafields.airf.perks %}{% endcomment %}
{% comment %}{% if perks and perks != blank %}
    {% assign separator = "###" %}
    {% assign perks_childs_keys = perks | split: separator %}
    {% for perks_child_key in perks_childs_keys %}
        
        {% if perks_child_key contains "p_icon" %}
            <div class="selection">{{ shop.metafields.airf[perks_child_key] }}</div>
        {% endif %}

        {% if perks_child_key contains "p_title" %}
            <div class="textarea">{{ shop.metafields.airf[perks_child_key] }}</div>
        {% endif %}

    {% endfor %}
{% endif %}{% endcomment %}



<div class="sections-perks shop-perks">
  <div class="page-width">
    <div class="d-flex perks-flex align-items-center">
      {% for perks_child_key in perks_childs_keys %}
          {% if perks_child_key contains "p_icon" %}
          <div class="perk d-flex align-items-center flex-fill">
            <div class="icon">
              {% if isProduct %}
                <img src="{{ 'icon-' | append: product.metafields.airf[perks_child_key] | append: '.svg' | asset_url }}" />
              {% else %}
                <img src="{{ 'icon-' | append: shop.metafields.airf[perks_child_key] | append: '.svg' | asset_url }}" />
              {% endif %}
            </div>
          {% endif %}
          {% if perks_child_key contains "p_title" %}
            <div class="text">
              {% if isProduct %}
                {{product.metafields.airf[perks_child_key] | newline_to_br }}
              {% else %}
                {{shop.metafields.airf[perks_child_key] | newline_to_br }}
              {% endif %}
            </div>
          </div>  
          {% endif %}
      {% endfor %}
      
    </div>
  </div>
</div>

{% endif %}