{% assign product_variant_available = false  %}
{% for product_variant in related_product.variants %}
  {% if varid contains product_variant.id %}
    {% if product_variant.inventory_quantity > 0 %}
      {% assign product_variant_available = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if product_variant_available %}
  <div class="acs-product" data-aos="row-of-{{ per_row }}">
    <div class="acs-product__content">

      <div class="acs-product__image-mask">
        {% for product_variant in related_product.variants %}
          {% if varid contains product_variant.id %}
            {% comment %}YES: {{product_variant.image}}{% endcomment %}
              {% if product_variant.image == blank %}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: related_product.featured_image.aspect_ratio }}%;">
                  <img class="acs-product__image lazyloaded"
                    src="{{ related_product.featured_image | img_url: '400x' }}"
                    alt="{{ related_product.featured_image.alt | escape }}">
                </div>
              {% else %}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: product_variant.image.aspect_ratio }}%;">
                  <img class="acs-product__image lazyloaded"
                    src="{{ product_variant.image | img_url: '400x' }}"
                    alt="{{ product_variant.image.alt | escape }}">
                </div>
              {% endif %}
              
          {% endif %}
        {% endfor %}

      </div>

      <div class="acs-product__meta">
        <div class="acs-product__price">
          {% if related_product.price_varies %}
            {% assign price = related_product.price_min | money %}
            {{ 'products.general.from_text_html' | t: price: price }}
          {% else %}
            <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ related_product.price }}" style="display:none !important;"></span>{{ related_product.price  | money }}
          {% endif %}
          {% if on_sale %}
            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            <span class="acs-product__price--original">{{ related_product.compare_at_price | money }}</span>
            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% endif %}
        </div>
        <div class="acs-product__title">{{ related_product.title }}</div>      
      </div>
      <div class="acs-product__select trans-short" data-id="{{ varid }}"></div>
      
    </div>
  </div>
{% endif %}