{% comment %} check bundles {% endcomment %}
{% assign bndl_prod = product.metafields.airf.bndl_prod %}

{% comment %}check replacement product{% endcomment %}
{% assign replacementProduct = false %} 
{% assign womenprod = product.metafields.airf['womenprod'] %}
{% if womenprod and womenprod != blank and womenprod != '&nbsp' and bndl_prod != "true" %}
  {% assign replacementProduct = true %} 
{% endif %}

<div id="QuickShopModal-{{ product.id }}" class="modal modal--square{% if bndl_prod == "true" %} bundled{% endif %}{% if replacementProduct %} replacement-product{% endif %}" data-product-id="{{ product.id }}" data-product-url="{{ product.url }}">
  <div class="modal__inner">
    <div class="modal__centered">
      <div class="modal__centered-content">
        {% include 'product-template',
          image_container_width: 'medium',
          section_id: product.id,
          social: false,
          isModal: true
        %}
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        {% include 'icon-close' %}
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>
