{% comment %}
  Check if we are in a normal collection
{% endcomment %}
{% if collection and collection.products_count > 0 %}
  {%- assign related_collection = collection -%}
{% endif %}

{% comment %}
  Check if the utility tag defines related section
{% endcomment %}
{% for tag in product.tags %}
  {% if tag contains '_related' %}
    {%- assign include_collection_handle = tag | split: '_' | last -%}
    {%- assign include_collection = collections[include_collection_handle] -%}
    {% if include_collection.products_count > 0 %}
      {%- assign related_collection = include_collection -%}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign products_count_int = related_collection.products_count | plus: 0 %}
{% if products_count_int > 1 %}
  {%- assign number_of_products = section.settings.related_count -%}
  {%- assign per_row = number_of_products -%}
  {%- assign number_of_products_to_fetch = number_of_products | plus: 1 -%}
  {%- assign current_product = product -%}
  {%- assign current_product_found = false -%}
  {% case per_row %}
  {% when 1 %}
    {%- assign grid_item_width = '' -%}
  {% when 2 %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
  {% when 3 %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
  {% when 4 %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
  {% when 5 %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  <div class="index-section section-related index-section--small">
    <div class="page-width">
      <header class="section-header">
        {% assign rel_title = product.metafields.airf.rel_title %}
        {% if rel_title and rel_title != '&nbsp' %}
          <h3 class="section-header__title rox-demibold fl-sans">{{ rel_title }}</h3>
        {% else %}
          <h3 class="section-header__title rox-demibold fl-sans">{{ 'products.general.related_products' | t }}</h3>
        {% endif %}
      </header>
    </div>

    <div class="page-width page-width--flush-small">
      <div class="grid-overflow-wrapper">
        <div class="product-single__related grid grid--uniform" data-aos="overflow__animation">

          {%- assign related_count = 0 -%}
          {% assign related = true  %}
          
          {% assign test_bool = product.metafields.airf.test_bool %}

          {% assign add_vis = product.metafields.airf.add_vis %}
          {% if add_vis == "true" %}
            {% assign add_to_cart_enable = true %}
          {% else %}
            {% assign add_to_cart_enable = false %}
          {% endif %}

          {% for product in related_collection.products limit: number_of_products_to_fetch %}
            {% if product.handle == current_product.handle %}
              {%- assign current_product_found = true -%}
            {% else %}
              {%- assign related_count = related_count | plus: 1 -%}
              {% unless related_count > number_of_products %}
                {% if forloop.last and current_product_found %}
                  {% include 'product-grid-item' %}
                {% else %}
                  {% include 'product-grid-item' %}
                {% endif %}
              {% endunless %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {% comment %}{% if settings.quick_shop_enable %}
        {% for product in related_collection.products limit: number_of_products_to_fetch %}
          {% if product.handle != current_product.handle %}
            {% include 'quick-shop-modal' %}
          {% endif %}
        {% endfor %}
      {% endif %}{% endcomment %}
    </div>
  </div>
{% endif %}
