<div class="top-menu-offer d-block d-md-none">
    <div class="reveal-offer-tag">
        <div class="main-title">
            {% assign mnu_tit = collection.metafields.airf.mnu_tit %}
            {% if mnu_tit and mnu_tit != '&nbsp' %}
                {{ mnu_tit }}
            {% endif %}
            <div class="chevron d-inline-block">
                {% include 'icon-chevron-down' %}
            </div>
        </div>
    </div>
    <div class="reveal-offer-container" style="display: none">
        <div class="description">
            {% assign mnu_cont = collection.metafields.airf.mnu_cont %}
            {% if mnu_cont and mnu_cont != '&nbsp' %}
                {{ mnu_cont }}
            {% endif %}
        </div>

        {% assign mnu_bu = collection.metafields.airf.mnu_bu %}
        {% if mnu_bu and mnu_bu != '&nbsp' %}
            <a href="{{ mnu_bu }}">
                <div class="reveal-offer-btn">
                    {% assign mnu_bt = collection.metafields.airf.mnu_bt %}
                    {% if mnu_bt and mnu_bt != '&nbsp' %}
                        {{ mnu_bt }}
                    {% endif %}
                </div>
            </a>
      	{% else %}
            <button id="js-reveal-offer-btn" class="reveal-offer-btn">
                {% assign mnu_bt = collection.metafields.airf.mnu_bt %}
                {% if mnu_bt and mnu_bt != '&nbsp' %}
                    {{ mnu_bt }}
                {% endif %}
            </button>
        {% endif %}

    </div>
</div>
