{% include 'defer-script' with 'vendor.js' %}

{% if settings.enable_currencies %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="/services/javascripts/currencies.js" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="/services/javascripts/currencies.js" defer="defer"></script><![endif]-->
    {% include 'defer-script' with 'jquery.currencies.min.js' %}
{% endif %}

{% include 'defer-script' with 'mgutil.min.js' %}
{% include 'defer-script' with 'jquery.bez.min.js' %}
{% include 'defer-script' with 'header-menu-desktop.min.js' %}
{% include 'defer-script' with 'header-menu-mobile.min.js' %}
{% include 'defer-script' with 'in-view.min.js' %}
{% include 'defer-script' with 'theme.js' %}
{% include 'defer-script' with 'collections.js' %}
{% if template.name == 'product' %}
    {% include 'defer-script' with 'product.js' %}
{% endif %}

{%- if template contains 'customers' -%}
    {% include 'defer-shopify-script' with 'shopify_common.js' %}
{%- endif -%}


{% comment %}
<script type="text/javascript" defer="defer">
// Instagram load, when user scroll to container
if(jQuery('body').hasClass('template-index')) {
  inView('#instagram-container').once('enter', function() {
      var sc, node;
      sc = document.createElement("script");
      sc.type = "text/javascript";
      sc.async = !0;
      sc.src = 'https://foursixty.com/media/scripts/fs.embed.v2.5.js';

      sc.setAttribute('data-feed-id', 'filippo-loreti');
      sc.setAttribute('data-theme', 'lookbook_v2_5');

      node = document.getElementById("foursixty-container");
      node.parentNode.insertBefore(sc, node);
  });

}
</script>
{% endcomment %}

<script src='https://app.redretarget.com/sapp/assets/js/common.js' defer='defer'></script>
{% if templatename == 'cart' %}
    <script type='text/javascript' src='https://app.redretarget.com/sapp/assets/js/cart.js' defer="defer"></script>
{% endif %}

{% comment %}{% include 'nosto-script' with 'shopify-2018967605' %}{% endcomment %}

<script>

// Wait for DOM load | IE9+
jQuery(window).on('load', function() {

    // trackify
    trackifyliquidloaded = 1;
    function appendurl(url) {
        var script = document.createElement('script');
        script.setAttribute('type', 'text/javascript');
        script.setAttribute('src', url);
        document.head.appendChild(script);
    }
    function getCookie(cname) {
        var name = cname + '=';
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return '';
    }
    shop_permanent_domain = '{{shop.permanent_domain}}';
    function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\[').replace(/[\]]/, '\]');
    var regex = new RegExp('[\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    a_aid = getUrlParameter('a_aid');

    {% assign templatename = template | replace: '.', ' ' | truncatewords: 1, '' | handle %}
    if (typeof __st === 'undefined') {
        __st = [];
        {% if templatename == 'product' %}
        __st['rid'] = {{product.id}};
        {% endif %}
    }

    {% if templatename != 'product' and templatename != 'cart' and templatename != 'collection' and templatename != 'thank_you' %}

    var source = 'https://app.redretarget.com/sapp/MY_Shopify/home/{{shop.permanent_domain}}/'+a_aid;
    appendurl(source);
    {% endif %}

    {% if templatename == 'product' %}
      var source = 'https://app.redretarget.com/sapp/MY_Shopify/product/{{shop.permanent_domain}}/'+a_aid+'/?pd_id={{product.id}}';
      appendurl(source);
      {% if settings.atc_cart_style == 'skip_cart' %}
          fireIConadd = 1;
      {% endif %}
    {% endif %}


    // hotjar
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:951621,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    // shareasaleShopifySSCID
    var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");


      // BK tracking
    {% if customer %}
        var BKCustomer = {
            id: "{{" customer.id "}}"
        };
    {% endif %}

    var BKCommerceAnalyticsEnable =  0 ;


    if(typeof Shopify === 'undefined') {
        Shopify = {};
    }

    if (!Shopify.shop) {
    Shopify.shop = 'aromahigh.com';
    }

    var bkRawUrl = function(){return window.location.href}();
    {% comment %}(function (doc, scriptPath) {
        var sc, node, today=new Date(),dd=today.getDate(),mm=today.getMonth()+1,yyyy=today.getFullYear();if(dd<10)dd='0'+dd;if(mm<10)mm='0'+mm;today=yyyy+mm+dd;
        sc = doc.createElement("script");
        sc.type = "text/javascript";
        sc.async = !0;
        sc.src = scriptPath + '?' + today;
        node = doc.getElementsByTagName("script")[0];
        node.parentNode.insertBefore(sc, node);
    })(document, 'https:\/\/sdk.beeketing.com\/js\/beeketing.js');{% endcomment %}

    // Bing
    (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26002081"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");

});
</script>
