{% for strap_prod_variant in strap_prod.variants %}
    {% if strap_prod_variant.inventory_quantity > 0 %}
        {% assign count_strap = count_strap | plus: 1 %}
        <div class="acs-product" data-aos="row-of-{{ per_row }}">
            <div class="acs-product__content">
                <div class="acs-product__image-mask">
                    {% if strap_prod_variant.image == blank %}
                        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: strap_prod_variant.featured_image.aspect_ratio }}%;">
                            <img class="acs-product__image lazyloaded" src="{{ strap_prod_variant.featured_image | img_url: '400x' }}" alt="{{ strap_prod_variant.featured_image.alt | escape }}">
                        </div>
                    {% else %}
                        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: strap_prod_variant.image.aspect_ratio }}%;">
                            <img class="acs-product__image lazyloaded" src="{{ strap_prod_variant.image | img_url: '400x' }}" alt="{{ strap_prod_variant.image.alt | escape }}">
                        </div>
                    {% endif %}
                </div>
                <div class="acs-product__meta">
                    <div class="acs-product__price">
                        {% if strap_prod_variant.price_varies %}
                            {% assign price = strap_prod_variant.price_min | money %}
                            {{ 'products.general.from_text_html' | t: price: price }}
                        {% else %}
                            <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ strap_prod_variant.price }}" style="display:none !important;"></span>{{ strap_prod_variant.price  | money }}
                        {% endif %}
                        {% if on_sale %}
                            <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                            <span class="acs-product__price--original">{{ strap_prod_variant.compare_at_price | money }}</span>
                            <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                        {% endif %}
                    </div>
                    <div class="acs-product__title">{{ strap_prod_variant.title }}</div>
                </div>
                <div class="acs-product__select trans-short" data-id="{{ strap_prod_variant.id }}">Select</div>
            </div>
        </div>
    {% endif %}
{% endfor %}

