{% assign upsell_product_variant_temp = upsell_product.selected_or_first_available_variant %}


					<div class="acs-product" data-aos="row-of-{{ per_row }}">
                        <div class="acs-product__content">


                            <div class="acs-product__image-mask">
                                {% if upsell_product_variant_temp.image == blank %}
                                    <div class="image-wrap"
                                         style="height: 0; padding-bottom: {{ 100 | divided_by: upsell_product.featured_image.aspect_ratio }}%;">
                                        <img class="acs-product__image lazyloaded"
                                             src="{{ upsell_product.featured_image | img_url: '400x' }}"
                                             alt="{{ upsell_product.featured_image.alt | escape }}">
                                    </div>
                                {% else %}
                                    <div class="image-wrap"
                                         style="height: 0; padding-bottom: {{ 100 | divided_by: upsell_product_variant_temp.image.aspect_ratio }}%;">
                                        <img class="acs-product__image lazyloaded"
                                             src="{{ upsell_product_variant_temp.image | img_url: '400x' }}"
                                             alt="{{ upsell_product_variant_temp.image.alt | escape }}">
                                    </div>
                                {% endif %}
                            </div>

                            <div class="acs-product__meta">
                                <div class="acs-product__price">
                                    {% if upsell_product_variant_temp.price_varies %}
                                        {% assign price = upsell_product_variant_temp.price_min | money %}
                                        {{ 'products.general.from_text_html' | t: price: price }}
                                    {% else %}
                                    <span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price"
                                          data-override-value-set="1"
                                          data-override-value="{{ upsell_product_variant_temp.price }}"
                                          style="display:none !important;"></span>{{ upsell_product_variant_temp.price  | money }}
                                    {% endif %}
                                    {% if on_sale %}
                                        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                                        <span class="acs-product__price--original">{{ upsell_product_variant_temp.compare_at_price | money }}</span>
                                        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                                    {% endif %}
                                </div>
                                <div class="acs-product__title">{{ upsell_product.title }}Add</div>
                            </div>
                            <div class="acs-product__select trans-short"
                                 data-id="{{ upsell_product_variant_temp.id }}"></div>

                        </div>
                    </div>