{%- assign swatch_file_extension = 'png' -%}
{%- assign is_color = false -%}
{%- assign color_block = false -%}
{%- assign size_block = false -%}
{%- assign color_swatch_drop = option_drop -%}
{%- assign color_option_index = 0 -%}

{% if option.name contains 'Color' %}
    {% assign color_block = true %}
{% elsif option.name contains 'Size' %}
    {% assign size_block = true %}
{% endif %}

{% if settings.product_color_swatches %}
    {% for option in product.options_with_values %}
        {% if option == color_swatch_drop %}
            {%- assign color_option_index = forloop.index0 -%}
            {%- assign downcased_option = color_swatch_drop.name | downcase -%}
            {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
                {% assign is_color = true %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% assign optionsSize = option.values | size %}

{% comment %} If no color variant is chosen {% endcomment %}
{% if optionsSize == 1 %}
    {% assign optionFirstDowncased = option.values[0] | downcase %}
    {% if optionFirstDowncased == 'default title' %}
        {% assign hiddenClass = 'd-none' %}
    {% endif %}
{% endif %}

{% if color_block == true %}
    {% if optionsSize == 1 %}
        {% assign hideClass = 'd-none' %}
    {% endif %}
{% endif %}

<div class="variant-wrapper variant-wrapper--{{ settings.variant_type }} {{ hiddenClass }} js{% if color_block %} {{ hideClass }} color-wrapper{% endif %}{% if size_block %} size-wrapper unloaded{% endif %}">

    <label class="variant__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}"
           for="ProductSelect-{{ section_id }}-option-{{ forloop.index0 }}">
        {% if color_block and template == 'product.jewelry' %}
            <span class="color-label">
       {{ option.name }}:
    </span>
            {% elsif size_block and template == 'product.jewelry' %}
            <span class="size-label">
      <span class="size-label-text">{{ option.name }}</span>:
      <span class="size-label-selected">X</span>
    </span>

            {% assign sg_jewelry = shop.metafields.airf.sg_jewelry %}
            {% if sg_jewelry and sg_jewelry != '&nbsp' %}
                <span class="size-guide js-modal-open-sizing-popup">
                    {{ 'products.product.size_guide' | t }}
                </span>
                {% assign modal_text = sg_jewelry %}
            {% endif %}

        {% else %}
            {{ option.name }}
        {% endif %}
        {% if is_color %}
            <span class="variant__label-info">
      &mdash;
      <span
              id="VariantColorLabel-{{ section_id }}-{{ forloop.index0 }}"
              data-option-index="{{ color_option_index }}">
        {{ option.selected_value }}
      </span>
    </span>
        {% endif %}
    </label>

    <span class="variant-input-wrap"
              name="{{ option.name }}"
              id="ProductSelect-{{ section_id }}-option-{{ forloop.index0 }}">
            {% if color_block %}
                <span class='mobile_title'>
                    <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.35355 17.3536C9.15829 17.5488 8.84171 17.5488 8.64645 17.3536L0.292894 9L8.64645 0.646446C8.84171 0.451185 9.15829 0.451185 9.35355 0.646446C9.54882 0.841709 9.54882 1.15829 9.35355 1.35355L1.70711 9L9.35355 16.6464C9.54882 16.8417 9.54882 17.1583 9.35355 17.3536Z" fill="black"/></svg>
                    <span>{{ option.name }}</span>
                </span>
            {% endif %}
        {% assign option_index = forloop.index %}
        {% for value in option.values %}
            {%- assign variant_label_state = true -%}
            {% if product.options.size == 1 %}
                {% unless product.variants[forloop.index0].available %}
                    {% unless is_color %}
                    {%- assign variant_label_state = false -%}
                    {% endunless %}
                {% endunless %}
            {% endif %}
            <input type="radio"
                    {% if option.selected_value == value %} checked="checked"{% endif %}
                    {% unless variant_label_state %} disabled="disabled"{% endunless %}
                   value="{{ value | escape }}"
                   data-index="option{{ option_index }}"
                   name="{{ option.name }}"
                   class="variant__input-{{ section_id }}{% unless variant_label_state %} disabled{% endunless %}{% if is_color %} variant__input--color-swatch-{{ section_id }}{% endif %}"
                    {% if is_color %} data-color-name="{{ value | escape }}"{% endif %}
                    {% if is_color %} data-color-index="{{ color_option_index }}"{% endif %}
                   id="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | escape | handleize }}">
            {% if is_color %}
                {%- assign color_image = value | handle | append: '.' | append: swatch_file_extension | asset_img_url: '50x' | prepend: 'https:' -%}
                {%- assign color_swatch_fallback = value | split: ' ' | last | handle -%}
                <label
                        for="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | escape | handleize }}"
                        class="variant__color-swatch{% unless variant_label_state %} disabled{% endunless %}"
                        style="background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};"
                >
                    {{ value | escape }}
                </label>
            {% else %}
                <label for="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | escape | handleize }}"{% unless variant_label_state %} class="disabled"{% endunless %}>
                    {% if color_block %}
                        {% assign color_value = value | escape | handleize %}
                        <span class="color-picker" data-color-id="color-{{ color_value }}"></span>
                    {% endif %}
                    {% if color_block %}
                        <span class="label-text">{{ value | escape }}</span>
                    {% else %}
                        {{ value | escape }}
                    {% endif %}
                </label>
            {% endif %}
        {% endfor %}
    </span>
</div>
{% assign size_block = false %}
{% assign color_block = false %}

{% if sg_jewelry and sg_jewelry != '&nbsp' %}
    {% include 'modal-sizing' modal_text %}
{% endif %}
