
<div class="variant_text_wrapper">
    {% for variant in product.variants %}
        {% assign cent_text = variant.metafields.airf.cent_text %}
        {% if cent_text and cent_text != '&nbsp' %}
            <div class="variant-text" id="{{ variant.id }}" style="display: none">
                {{ cent_text }}
            </div>
        {% endif %}
    {% endfor %}
</div>
