@supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true))
and (not (-moz-appearance:none))
{
  svg {
    filter:none !important; 
  }

}



body{
	.main-header__form-link{
		color: #0E285B; 
	}
	.enlarge-popup-link.zoom_title{
		white-space: nowrap;  
		small{
			display: none;
			font-size: inherit;
			@media only screen and (max-width: 992px){
				display: inline; 
			}
		}
	}
	section.section-benefits .home-benefits .home-benefit .home-benefit-heading h3{
		text-transform: capitalize; 
	}
	.main-header__cart .cart-link__bubble--visible {
		right: -5px;
		top: -5px;
	}
	.main-header__block-title, .section-header__title{ 
		font-family: DM Sans; 
	}
	.main-header__btn-accordeon{
		text-transform: none;
	}
	#shopify-section-hp-popular .internal-links-list::-webkit-scrollbar { width: 4px !important; height: 4px !important; background: rgba(0, 0, 0, 0); border-radius: 4px; }

	#shopify-section-hp-popular .internal-links-list::-webkit-scrollbar-thumb { background:  rgba(0, 0, 0, 0) ; border-radius: 4px; }

	.product-section-about{
		padding-bottom: 68px;
	}
	.product-section--title{
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		text-transform: none;
	}
	.product-single__meta .product-single__title{
		font-size: 36px;
		font-weight: normal;
		letter-spacing: -1px;
		margin-bottom: 19px;
		@media only screen and (max-width: 590px){
			font-size: 36px !important;
			line-height: 44px !important;
		}
	}
	.breadcrumb-wrapper{
		margin-bottom: 11px;
	}
	.magic-button a{
		padding-left: 5px;
		padding-right: 5px;
	}
	#buttonwishlist, #buttonwishlist_mob{
		display: none;
	}
	.best-item-add a span{
		position: static;
	}
	.main-header__nav-desktop{
		height: 70px;
	}
	.main-header--desktop{
		height: 77px;
	}
	section.section-home-banner .home-banner{
		@media only screen and (min-width: 993px){
			min-height: 390px;
			align-items: center;
			display: flex;
			.home-banner-heading, .home-banner-links{
				padding-left: 80px;
			}
		}
	}
	section.section-home-banner{
		@media only screen and (min-width: 993px){
			margin-bottom: 0;
		}
	}
	.go-to-shop__col{
		@media only screen and (min-width: 993px){
			height: 608px;
		}
	}
	section.section-best-seller .section-inner .home-best-seller .home-best-seller-heading h2{
		font-family: 'DM Sans';
		font-size: 24px;
	}
	.nofilter-heading h2{
		font-family: 'DM Sans';
	}
	section.section-best-seller .section-inner .home-best-seller .home-best-seller-heading{
		margin-bottom: 50px;
	}
	.start-quiz{
		margin-top: 34px;
	}
	section.section-reviews{
		padding-top: 50px;
	}
	.slick-dotted.slick-slider{
		margin-bottom: 0;
	}
	.home-instagram-heading{
		@media only screen and (max-width: 768px){
			padding-left: 20px;
			padding-right: 20px;
		}
		h4{
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 31px;
			text-align: center;
			letter-spacing: 0.512px;
			color: #171717;
		}

	}
	section.section-instagram .home-instagram-heading p{
		font-weight: normal;
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		letter-spacing: 0.512px;
		text-transform: none;
		color: #181818;
		padding-bottom: 18px;
		a{
			color: #024BC2;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	section.section-instagram{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.header-img.spaced{
		opacity: 0 !important;  
	}
	.home-why-found-hidden{
		display: none;
	}
	.home-reviews__slider .slick-dots{
		padding-top: 15px;
		padding-bottom: 15px; 
	}
	.home-reviews__slider-item figure img{
		max-width: 65px;
		height: 65px;  
	}
	.magic-button a:hover{
		background: #DDCFAD;
	}
	.magic-item-icon svg, .home-benefit-icon svg { 
		min-width: 48px; 
		min-height: 48px;
		display: inline-block !important; 
	}
	.site-footer .site-footer__linklist{
		padding-bottom: 40px;
		@media only screen and (max-width: 768px){
			padding-bottom: 20px;
		}
	}

}
.home-instagram-wrapper{
	width: 100%;
}
	.home-instagram-item{
		flex: 1;
		height: 360px;
		position: relative;
		overflow: hidden;
		&:hover{
			.home-intagram-item-title{
				opacity: 1;
			}
		}
		@media only screen and (max-width: 768px){
			height: 187px;
			min-width: 50%;
			width: 50%;
		}
	}
	.home-intagram-item-title{
		transition: all 0.5s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		background: rgba(0, 0, 0, 0.75);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		opacity: 0;
		p{
			margin: 0;
			color: #fff;
			path{
				fill: #fff;
			}
			svg{
				display: block;
				margin: 0 auto;
				font-size: 24px;
				width: 24px;
				height: 24px;
				margin-bottom: 25px;
			}
		}
		a.button{
			width: 86.85px;
			height: 34.64px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #FFFFFF;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 19px;
			color: #FFFFFF;
		}
	}
	.home-instagram-item-image{
		height: 360px;
		@media only screen and (max-width: 768px){
			height: 187px;
		}
	}
		.home-instagram-item-image .image-placeholder{
			height: 360px;
			width: 100%;
			background-size: cover;
			background-position:  center;
			background-repeat: no-repeat;
			@media only screen and (max-width: 768px){
				height: 187px;
			}
		}
	.home-instagram-list{
		display: flex;
		width: 100%;
		@media only screen and (max-width: 768px){
			flex-wrap: wrap;
		}
	}

.home-why-found{
	text-align: center;
	padding: 50px 0 60px 0;
	.page__container{
	  margin: 0 auto;
	  flex-direction: column;
	  align-items: center;
	  max-width: 720px;
	  display: flex;
	}
	p{
	  font-weight: normal;
	  font-size: 14px;
	  line-height: 24px;
	  text-align: center;
	  color: #6E6E6E;
	}
	h4{
	  font-style: normal;
	  font-weight: 500;
	  font-size: 24px;
	  line-height: 40px;
	  color: #000000;
	}
  }
	.home-why-found__expand{
	  text-align: center;
	  a{
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-decoration-line: underline;
		text-transform: capitalize;
		color: #6E6E6E;
		cursor: pointer;
	  }
	  a:hover{
		text-decoration: none;
	  }
	}

body .internal-links-list-wrap .internal-links-list-heading h2{
	text-transform: none;
}
body .internal-links-list-wrap .internal-links-list{
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-left: 120px;
	padding-right: 120px;
	scrollbar-width: thin;
	.internal-link a{
		white-space: nowrap;
	}
	.internal-link:last-child{
		padding-right: 120px;
	}
}

body .internal-links-list-wrap .internal-links-list::-webkit-scrollbar {
	width: 4px !important;
	height: 4px !important;
	background: #F5F5F5;
	border-radius: 4px;
}

body .internal-links-list-wrap .internal-links-list::-webkit-scrollbar-thumb {
	background: #6E6E6E;
	border-radius: 4px;
}

.header-wrapper .header__offer{
	background: #283455;
}
.section-home-banner{
	padding-bottom: 50px;
}
.home-section-magic{
	display: none;
}
.home-section-detailed__list .magic-item-title h3{
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	letter-spacing: 2.5px;
}
.home-section-detailed__list .magic-item-text p{
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: #4B4B4B;
}
.magic-item-icon svg{
	max-width: 48px;
}
body .home-section-detailed__list .magic-item{
	padding-bottom: 31px;
}
.magic-button{
	a{
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		text-transform: capitalize;
		color: #FFFFFF;
		width: 297px;
		height: 48px;
		background: #FF6F59;
		display: inline-flex;
		justify-content: center;
		align-items: center ;
		text-align: center;
		&:hover{
			background: #EC7FA8;
		}
	}
}
.product-section-reviews-content{
	padding-bottom: 35px;
}
 body section.section-best-seller .section-inner .home-best-seller .best-items .best-item .best-item-add a svg{
    top: 9px;
	right: 15px;
	left: auto;
}
#shopify-section-hp-reviews{
	background: #F8F8F8;
}
#shopify-section-hp-benefits{
	background: #EAF1FF;
}
.footer__form{
	border-bottom: 3px solid #EBD2B5;
	padding-bottom: 12px;
	margin-bottom: 27px;
	p{
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.512px;
		color: #181818;
	}
	.footer__newsletter{
		display: flex;
		justify-content: space-between;
		margin-bottom: 39px;
		background: #fff;
	}
	.footer__newsletter>svg{
		display: none;
		opacity: 0;
	}
	.footer__newsletter .footer__newsletter-btn{
		margin-top: 0;
		width: 71px;
		height: 50px;
		background: #FF6F59;
	}
	 .footer__newsletter input{
		background: #fff;
		border-radius: 0;
		border: none !important;
		flex: 1;
		outline: none;
		box-shadow: none;
	}
}
	.footer__form-title{
		font-weight: 500;
		font-size: 24px;
		line-height: 31px;
		letter-spacing: 0.512px;
		color: #171717;
		padding-bottom: 23px;
	}

body{
	.site-footer .footer__newsletter .footer__newsletter-btn svg{
		display: inline-block;
	}
}
.footer__contacts-social{
	padding-bottom: 25px;
	display: block;
	a{
		width: 28px;
		height: 28px;
		background: #000000;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin: 0 14px 0 0;
	}
}
	.footer__contacts-help{
		font-weight: normal;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.512px;
		color: #0F1528;
		p{
			margin: 0;
			padding: 0 0 10px 0;
		}
		a{
			color: #024BC2;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
.site-footer{
	.grid{
		display: flex;
	}
}
	.grid__item-footer-menu{
		display: flex;
		justify-content: space-between;
		flex: 1;
		padding: 0 0 0 135px;
		flex-wrap: wrap;
		.grid__item{
			width: 50%;
			padding-left: 0;
			margin-left: 0;
		}
		.footer__title{
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.512px;
			color: #5D6E50;
			text-transform: none;
			font-weight: normal;
		}
	}
	.primary_social_block{
		width: 488px;
		padding-left: 0;
	}
	.site-footer .site-footer__linklist a{
		font-weight: normal;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: 0.512px;
		color: #181818;
		text-transform: none;
		padding: 0;
		&:hover{
			text-decoration: underline;
		}
	}
	.site-footer .site-footer__linklist li{
		padding: 0;
		margin: 0;
	}
	.footer__payments{
		margin-top: 50px;
		width: 100%;
		min-width: 100%;
		padding-top: 27px;
		border-top: 3px solid #EBD2B5;
	}

.header__offer-timer{
	b{
		font-weight: normal;
	}
}
body{
	.breadcrumb-wrapper{
		background: none;
		padding: 25px 0 0 0;
	}
	.product-single__meta .add-to-cart{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row-reverse;
	}
	.product-single__meta .add-to-cart svg{
		margin-left: 15px;
		margin-right: 0;
	}
	.product-single__form{
		.wishlist-wrao{
			display: none;
		}
	}
	.benefits-item .benefits-icon{
		background: none;
		border-radius: 0;
		padding: 0;
		min-width: 25px;
	}
	.product-section-benefits{
		padding-top: 45px;
	}
	.product-image-main .image-wrap .enlarge-popup-link:not(.zoom_title) img{
		max-height: 640px;
	}
	.product-info-section{
		margin-bottom: 65px;
	}
}
.breadcrumb a{
	svg{
		position: relative;
		top: 2px;
	}
}

.product-section-about__tags{
	height: 72px;
	background: #FAFAFA;
	margin-bottom: 56px;
	@media only screen and (max-width: 768px){
		height: auto;
		margin-bottom: 24px;
		background: none;
	}
	ul{
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0;
		margin: 0;
		@media only screen and (max-width: 768px){
			padding: 25px 25px 0 25px;
			background: #FAFAFA;
			flex-wrap: wrap;
			align-items: center;
		}
		li{
			flex: 1;
			position: relative;
			@media only screen and (max-width: 768px){
			       min-width: 50%;
			}
			&:before{
				content: '';
				position: absolute;
				right: 0;
				bottom: -24px;
				height: 72px;
				border-right: 1px solid #EAEAEA;
				@media only screen and (max-width: 768px){
					display: none;
				}
			}
			&:last-child{
				border-right: none;
				@media only screen and (max-width: 768px){
					order: -1;
				}
			}
			a{
				display: block;
				height: 72px;
				width: 100%;
				text-align: center;
				font-size: 14px;
				line-height: 24px;
				color: #000000;
				text-decoration: underline;
				&:not([href]) {
					text-decoration: none;
				}
				span{
					display: block;
					padding-bottom: 16px;
				}
				&:hover{
					text-decoration: none;
				}
				@media only screen and (max-width: 768px){
					height: auto;
				}
			}
		}
	}
}
	.product-section-about__tags-icon{
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: #E8EDFA;
		border: 1px solid #FFFFFF;
		margin: -24px auto 8px auto;
		@media only screen and (max-width: 768px){
			margin-top: 0;
		}
	}
.product-section-about__text{
	position: relative;
}
	.product-section-about__text-row{
		margin-bottom: 94px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:nth-child(odd){
			flex-direction: row-reverse;
			@media only screen and (max-width: 992px){
				flex-direction: column;
			}
		}
		@media only screen and (max-width: 992px){
			flex-direction: column;
			margin-bottom: 50px;
		}
	}
		.product-section-about__text-item{
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			color: #4B4B4B;
			padding: 0 100px;
			@media only screen and (max-width: 1200px){
				padding: 0 20px;
			}
			@media only screen and (max-width: 992px){
				padding: 0;
			}
			p{
				padding-bottom: 24px;
				margin: 0;
				font-size: 14px;
				line-height: 24px;
				color: #4B4B4B;
			}
			h5, h4{
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 32px;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #000000;
				@media only screen and (max-width: 992px){
					font-weight: 500;
					font-size: 24px;
					line-height: 32px;
					color: #000000;
					text-transform: none;
				}
			}
		}
		.product-section-about__text-img{
			min-width: 600px;
			@media only screen and (max-width: 992px){
				width: calc(100% + 64px);
				min-width: 100%;
				margin-left: -32px;
				margin-right: -32px;
				margin-bottom: 24px;
				img{
					width: 100%;
				}
			}
		}
.product-section-about__items{
	margin-bottom: 20px;
	@media only screen and (max-width: 768px){
		background: #FAFAFA;
	}
	.page-width{
		background: #FAFAFA;
		padding: 43px  0 36px 0;
		display: flex;
		justify-content: space-around;
		text-align: center;
		@media only screen and (max-width: 768px){
			flex-wrap: wrap;
			padding-bottom: 0 !important;
			padding-top: 40px !important;
		}
	}
}
	.product-section-about__item{
		text-align: center;
		max-width: 170px;
		@media only screen and (max-width: 768px){
			max-width: 50%;
			min-width: 50%;
			margin-bottom: 39px;
			box-sizing: border-box;
			padding: 0 10px;
		}
		figure{
			overflow: hidden;
			position: relative;
			height: 33px;
			padding: 0;
			margin: 0;
			margin-bottom: 20px;
			img{
				margin: 0 auto;
			}
		}
		h6{
			text-align: center;
			font-weight: bold;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000000;
		}
		p{
			font-size: 14px;
			line-height: 24px;
			color: #000000;
			padding: 0;
			margin: 0;
		}
	}



@media only screen and (max-width: 1024px){
	body{
		.main-header__nav-mobile{
			.main-header__nav-list{
				.main-header__item{
					&:nth-child(5){
						display: none !important;  
					}
					&.main-header__item--info{
						display: none !important; 
					}
				}
			}
		}
		.home-reviews__slider .slick-dots{
			padding: 0px 0 20px 0;
		}
		body.template-index .shopify-section#shopify-section-hp-popular{
			overflow: hidden;
		}
	}
	.main-header__help-list{
		display: none !important;
	}
}
@media only screen and (max-width: 992px){
	.header__offer{
		font-style: normal;
		font-weight: 390;
		font-size: 14px;
		line-height: 19px;
		.page__container{
			flex-direction: column ;
		}
		.header__offer-text, .header__offer-timer{
			padding-bottom: 9px;
			display: block;
		}
		small{
			order: 1;
		}
	}
	.header__offer-line{
		opacity: 0;
		visibility: hidden;
		display: none ;
	}
	.header__offer-timer{
		b{
			font-weight: bold;
		}
	}
	body section.section-home-banner .home-banner .home-banner-mobile{
		margin-left: -15px;
		img{
			width: 100%;
		}
	}
	body section.section-home-banner .home-banner .home-banner-heading{
		padding-left: 0;
		h1{
			font-size: 24px;
			line-height: 31px;
			max-width: 100%;
		}
	}
	.home-banner {
		.section-inner{
			background: #fff;
		}
	}
	.footer__payment-icons{
		text-align: center;
		img{
			margin: 0 auto;
			display: inline-block;
		}
	}
	body{
		.nofilter-list{
			columns: 1;
		}
		.nofilter-wrap{
			flex-direction: column;
			margin-left: -15px;
			margin-right: -15px;
		}
		.nofilter-left, .nofilter-right{
			width: 100%;
		}
		section.section-home-banner .home-banner .home-banner-links{
			text-align: center;
			padding-left: 0;
		}
		section.section-home-banner .home-banner .home-banner-links a{
			background: #FF6F59;
		}
		.section-home-banner{
			padding-bottom: 14px;
		}
		.go-to-shop{
			.page__container{
				flex-direction: column;
			}
		}
		.go-to-shop__col{
			min-width: 100%;
			height: 376px;
		}
		section.section-best-seller{
			//padding-left: 40px;
		}
		section.section-best-seller .section-inner .home-best-seller .best-items{
			display: flex;

		}
		section.section-best-seller .section-inner .home-best-seller .best-items .best-item .best-item-add a{
			width: 119px;
			margin: 0 auto;
			padding-left: 5px;
			padding-right: 5px;
			display: block;
		}
		section.section-best-seller .section-inner .home-best-seller .best-items .best-item{
			margin: 0 8px;
			&:last-child{
				margin-right: 30px;
			}
		}
		.start-quiz{
			margin-top: 0 ;
		}
		.start-quiz .button{
			max-width: 200px;
			margin: 0 auto;
		}
		.home-reviews__button{
			width: 100%;
			.button{
				margin: 0 auto;
			}
		}
		.home-section-detailed .section-inner{
			flex-wrap: wrap;
		}
		.home-section-detailed__image{
			min-width: 100%;
			padding-bottom: 55px;
			img{
				width: 100%;
			}
		}
		.home-section-detailed__list .magic-item{
			width: 100%;
			display: block;
		}
		.home-section-detailed__list .magic-item-icon{
			margin: 0 auto;
		}
		.home-section-detailed__list .magic-item article{
			padding: 16px 0 0 0;
		}
		.home-section-detailed__list .magic-item-title h3{
			text-align: center;
		}
		.home-section-detailed__list .magic-item-text p{
			text-align: center;
		}
		.magic-button{
			text-align: center;
		}
		.home-section-nofilter{
			margin-bottom: 0;
		}
		.home-content-hero{
			margin-top: 0;
			display: block;
		}
		.home-content-hero__col{
			width: 100%;
			height: 400px;
		}
		#shopify-section-hp-popular .internal-links-list{
			overflow-y: hidden;
		}
		.site-footer{
			.grid, .grid--full{
				margin-left: 0;
				flex-direction: column;
				text-align: center;
			}
		}
		.primary_social_block{
			width: 100%;
			border-bottom: 3px solid #EBD2B5;
			opacity: 1;
			margin-bottom: 35px;
			margin-bottom: 35px;
		}
		.grid__item-footer-menu{
			padding-left: 0;
		}
		.site-footer .site-footer__linklist{
			text-align: left;
		}
		.grid__item-footer-menu .footer__title{
			text-align: left;
			display: block !important;
		}
		.payment-icons{
			display: none !important;
		}
		.site-footer .grid__item:after{
			display: none;
		}
		.site-footer .site-footer__linklist{
			padding-left: 0;
		}
		#shopify-section-hp-popular .internal-links-list,  .internal-links-list-wrap .internal-links-list{
			padding: 0 15px;
		}
		 section.section-best-seller{
			padding-left: 0;
		}
		 section.section-best-seller .section-inner .home-best-seller .best-items .best-item .best-item-add a svg{
			display: none !important ;
			visibility: hidden; 
		}
		 section.section-best-seller .section-inner .home-best-seller .best-items{
			overflow-x: auto;
			overflow-y: hidden;
		}
		 section.section-best-seller .section-inner .home-best-seller .best-items .best-item{
			min-width: 128px;
		}
	}
	.footer__contacts-social a{
		background: #293C70;   
	}
}

@media only screen and (max-width: 575px){
	body{
		.home-why-found .page__container, .home-why-found .page__container{
			padding-left: 20px;
			padding-right: 20px;
		}
		.home-content-hero__col article{
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
			box-sizing: border-box;
		}
		section.section-home-banner .home-banner .home-banner-links a{
			max-width: 205px;
			width: 205px;
			display: block;
			margin: 0 auto;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
		}
		.product-section-reviews .tab-content-mobile-header{
			display: none;
			visibility: hidden;
		}
	}
}

@media only screen and (min-width: 993px){
	html{
		.template-collection .grid.product-list{
			margin: 0 -16px;
		}
		.template-collection .grid.product-list .grid-product{
			max-width: calc(25% - 32px);
		}
		.template-collection .grid.product-list .grid-product:nth-child(4n+4){
			margin-right: 16px;
		}
		.collection-block-banner{
			margin-left: 16px;
			margin-right: 16px;
		}
		.template-collection .grid.product-list .grid-product:nth-child(4n+4)+.grid-product{
			margin-left: 16px;
		}
	}
}