
// Question Section START
.question-section{
  background: #F5F5F5;
  .heading{
    text-align: center;
    margin-bottom: 24px;
    h2{
      font-family: DM Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;
      position: relative;
      &:after{
        position: absolute;
        width: 72px;
        border: 1px solid #000000;
        height: 1px;
        top: calc(100% + 16px);
        left: 50%;
        transform: translateX(-50%);
      }
    }
    p{
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #6E6E6E;
    }
  }
}