@import 'global/mixins';
@import 'global/variables';

.image_wrapper_partners {
	display: flex;
	justify-content: space-evenly;
	padding-top: 70px;
}

.testimonail-image {
	width: auto !important;
	margin: 0;
	opacity: 0.25;
	cursor: pointer;
	transition: 0.5s;
}

.testimonail-image.active {
	opacity: 1;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	outline: none;
}

.testimonials-slider .rte-setting p {
	color: #000000;
	font-family: "Rox Bold";
	font-size: 23px;
	font-weight: 700;
	letter-spacing: 0.38px; /* Text style for "T’S A TIME" */
	width: 700px;
	margin: 0 auto;
	line-height: 1;
}

.testimonial-section .section-header h2 {
	color: #c6af76;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.slick-prev:before {
	content: '';
	background-image: url('//cdn.shopify.com/s/files/1/0122/4602/4256/t/2/assets/arrow_prev.png?10993466479822917319');
	display: block;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	background-size: contain;
}

.slick-next:before {
	content: '';
	background-image: url('//cdn.shopify.com/s/files/1/0122/4602/4256/t/2/assets/arrow_next.png?10993466479822917319');
	display: block;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	background-size: contain;
	margin-left: auto;
}

section.video_home {
	background-color: #181818;
	color: #fff;
	padding-top: 80px;
	padding-bottom: 120px;
}

.video_wrapper {
	max-width: 870px;
	margin: 0 auto;
}

.inner_video_home_block {
	text-align: center;
}

h3.after_title_video_home_text {
	color: #c6af76;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; /* Text style for "WATCH THE" */
	letter-spacing: 3px;
	margin-bottom: 16px;
}

h2.title_video_home_text {
	color: #ffffff;
	font-family: "FL Sans";
	font-size: 29px;
	margin-bottom: 50px;
}

.bg_image_home_video {
	position: relative;
	width: 870px;
	height: 485px;
}

.bg_image_hove_video_absolute {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.absolute_content_video_home_block {
	position: absolute;
	z-index: 2;
	bottom: 19px;
	left: 165px;
	right: 165px;
	display: flex;
	justify-content: space-between;
}

.button_play_video_home {
	width: 77px;
	height: 77px;
}

.content_button_play_video_home {
	width: calc(100% - 110px);
	text-align: left;
	margin-left: 33px;
}

p.text_title_video_home_play {
	margin-bottom: 9px;
	color: #ffffff;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px; /* Text style for "A small wh" */
	letter-spacing: 0.57px;
}

.time_video_home_play p.text_title_video_home_play {
	color: #ffffff;
	font-family: DM Sans;
	font-size: 17px;
	font-weight: 400; /* Text style for "2:58" */
	letter-spacing: 1.42px;
}

a.url_video_home {
	display: block;
}

.content_video_home {
	padding-bottom: 75px;
}

.content_story_video_home {
	max-width: 445px;
	margin: 0 auto;
}

p.content_text_story_text {
	margin-bottom: 31px;
	color: #818287;
	font-family: DM Sans;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px; /* Text style for "A small wh" */
	letter-spacing: 0.44px;
}

a.button_story {
	color: #ffffff;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "READ OUR S" */
	letter-spacing: 1.25px;
	position: relative;
}

a.button_story:after {
	background-color: #fff;
}

p.subtitle {
	color: #c6af76;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; /* Text style for "NEVER SECO" */
	letter-spacing: 3px;
	margin-bottom: 11px;
}

.larger-text .h3 {
	color: #262626;
	font-family: DM Sans;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 34px;
	line-height: 1;
}
.feature-row__text .rte p {
	color: #818287;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px; /* Text style for "A small wh" */
	letter-spacing: 0.57px;
	max-width: 430px;
	margin-bottom: 36px;
}

.feature-row__text .btn {
	color: #262626;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "EXPLORE RO" */
	letter-spacing: 1.25px;
	background-color: unset;
	padding: 0;
	position: relative;
	margin-top: 0;
}

.feature-row__text .btn:after {
	background-color: #000;
}

.bg_color_black {
	background-color: #000000;
	padding-top: 125px;
	padding-bottom: 125px;
}

.bg_color_black .image-wrap {
	background-color: unset;
}

.bg_color_black .larger-text .subtitle {
	color: #c6af76;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; /* Text style for "MEET" */
	letter-spacing: 3px;
	margin-bottom: 12px;
	margin-left: 2px;
}

.bg_color_black .larger-text .h3 {
	color: #ffffff;
	font-family: DM Sans;
	font-size: 48px;
	font-weight: 700; /* Text style for "The Essenc" */
	letter-spacing: 2px;
	margin-bottom: 33px;
	line-height: 1;
}

.bg_color_black .feature-row__text .rte p {
	color: #ffffff;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px; /* Text style for "A small wh" */
	letter-spacing: 0.57px;
	margin-bottom: 36px;
}

.bg_color_black .feature-row__text .btn {
	color: #ffffff;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "SHOP MEN" */
	letter-spacing: 1.25px;
	position: relative;
	text-align: left !important;
}

.bg_color_black .feature-row__text .btn:after {
	background: #fff;

}
.index-section--featured-collection--page .section-header__title,
.index-section--featured-collection .section-header__title,
.section-logo-list .section-header__title {
	color: #000000;
	font-family: DM Sans;
	font-size: 18px;
	font-weight: 500;
}


p.load_more_instagram:after,
a.button_story:after,
.video_text_block .watch_video p,
.feature-row__text .btn:after,
.bg_color_black .feature-row__text .btn:after,
.instagram a.btn:after,
.watch_video p:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	padding: 0;
	height: 1px;
	display: none;
	-webkit-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.underline {
	width: calc(100%);
	background-image: linear-gradient(transparent calc(100% - 1px), black 1px);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	-webkit-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.video_home .underline,
.bg_color_black .underline {
	background-image: linear-gradient(transparent calc(100% - 1px), white 1px);
}

@media screen and (min-width: 769px) {
	a.button_story:hover:after,
	.feature-row__text .btn:hover:after,
	.bg_color_black .feature-row__text .btn:hover:after,
	.button_story:hover:after,
	.instagram a.btn:hover:after,
	.watch_video p:hover:after {
		// width: 100%;
	}
	a.button_story:hover .underline,
	.feature-row__text .btn:hover .underline,
	.bg_color_black .feature-row__text .btn:hover .underline,
	.button_story:hover .underline,
	.instagram a.btn:hover .underline,
	.watch_video p:hover .underline {
		background-size: 100% 99% !important;
	}
	.homepage-landing-featured-collection .grid-product__content {
		margin-bottom: 0;
	}
	.section-logo-list {
		padding-bottom: 37px;
	}
	.basic_image_with_text {
		margin-bottom: 60px;
	}
	.index-section {
		margin: 60px 0;
	}
}

@media screen and (max-width: 768px) {
	a.button_story.show-line:after,
	.feature-row__text .btn.show-line:after,
	.bg_color_black .feature-row__text .btn.show-line:after,
	p.load_more_instagram.show-line:after,
	.button_story.show-line:after,
	.instagram a.btn.show-line:after,
	.watch_video p.show-line:after {
		width: 100%;
	}
	a.button_story.show-line .underline,
	.feature-row__text .btn.show-line .underline,
	.bg_color_black .feature-row__text .btn.show-line .underline,
	p.load_more_instagram.show-line .underline,
	.button_story.show-line .underline,
	.instagram a.btn.show-line .underline,
	.watch_video p.show-line .underline {
		background-size: 100% 100% !important;
	}
	.section--hero .underline {
		background-image: linear-gradient(transparent calc(100% - 1px), white 1px);
	}
}

.watch_video a.btn {
	display: flex;
	max-width: max-content;
	align-items: center;
}

.video_text_block .watch_video p {
	margin-bottom: 0;
	position: relative;
	color: #000000;
	font-family: DM Sans;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "WATCH THE" */
	letter-spacing: 1.25px;
}

.feature-row__text .btn {
	margin-bottom: 48px;
}

.video_text_block .watch_video a.btn:after {
	display: none;
}

.watch_video img {
	width: 25px;
	height: 25px;
	margin-right: 9px;
}

.video_text_block .watch_video p:after {
	background-color: #000;
}

.watch_video {
	margin-bottom: 54px;
}

.play_market_app_icons {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 275px;
}

.right_block .inner_feature_row_flex {
	max-width: 550px;
	margin-left: auto;
	padding-right: 120px;
}

section.absolute_image_text {
	background-color: #f7f4ef;
	padding-bottom: 100px;
}

.bg_coloro_absolute_image_text {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.content_absolute_block.block_left {
	position: relative;
	float: left;
	width: 50%;
}

.block_right .inner_absolute_block_content {
	left: 0;
	right: -83px;
}

.content_absolute_block.block_right {
	position: relative;
	float: left;
	width: 50%;
}

.image_absolute_block.image_right {
	float: left;
	width: 50%;
	position: relative;
	z-index: 3;
	top: -22px;
}

.image_absolute_block.image_left {
	float: left;
	width: 50%;
	position: relative;
	z-index: 3;
	top: -22px;
}

.inner_absolute_block_content {
	position: absolute;
	left: -83px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	top: 100px;
	right: 0;
	bottom: -20px;
}

.inner_content_absolute_block {
	max-width: 640px;
	padding-left: 208px;
}

.content_absolute_block p.subtitle {
	color: #c6af76;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; /* Text style for "STYLED BY" */
	letter-spacing: 3px;
	margin-bottom: 12px;
}

.content_absolute_block h2.h3 {
	color: #262626;
	font-family: "Rox Bold";
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 34px;
	line-height: 1;
}

.content_absolute_block .rte p {
	color: #818287;
	font-family: DM Sans;
	font-weight: 500;
	line-height: 21px; /* Text style for "A small wh" */
	letter-spacing: 0.57px;
	margin-bottom: 36px;
}

.content_absolute_block a.btn {
	color: #262626;
	font-family: DM Sans;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "EXPLORE VE" */
	letter-spacing: 1.25px;
	background-color: unset;
	padding: 0;
	position: relative;
}

.content_absolute_block a.btn:after {
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	height: 1px;
	background-color: #000;
	bottom: 0;
}

img.image_absolute_block_inner {
	width: 100%;
}

.bg_color_black + .basic_image_with_text {
	margin-top: 60px;
}

.basic_image_with_text .img-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.img-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.basic_image_with_text.app-block .img-cover {
	background-size: contain;
}

.feature-row__item.feature-row__text.feature-row__text--right.larger-text.right_block {
	padding-left: 80px;
	padding-right: 0;
}

.basic_image_with_text .inner_image_absolute_block {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 89%;
}

.feature-row__item .hero {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: transparent;
}

.feature-row__item .hero .hero__media:before {
	display: none;
}

.feature-row__item .hero .hero__media video {
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	object-fit: cover;
}

.testimonials-wrapper_phone {
	display: none;
}

.title_video_home_play_phone {
	display: none;
}

.phone_title_black_block {
	display: none;
}

.bg_image_hove_video_absolute {
	background-size: cover;
	background-position: center;
}

div.fs-next-page {
	display: none;
}
.absolute_image_text img.image_absolute_block_inner {
	object-fit: cover;
}

img.image_absolute_block_inner {
	object-fit: contain;
}


.watch_video a.btn {
	display: flex;
	justify-content: flex-start;
	max-width: max-content;
}

.watch_video a.btn p {
	margin-bottom: 0;
	position: relative;
	line-height: 1;
	color: #000000;
	font-family: DM Sans;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18px;
}

.watch_video a.btn:after {
	display: none;
}

.watch_video a.btn p:after {
	background-color: #000;
}

.absolute_gradient_block {
	display: flex;
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	height: 166px;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 38%, rgba(0, 0, 0, 0.44) 42%, #000000 100%);
	opacity: 0.7;
	align-items: flex-end;
}

.bg_coloro_absolute_image_text {
	max-width: 1920px;
	margin: 0 auto;
}

.logo-bar.logo-bar--man-logo-list {
	opacity: 1;
}

.feature-row__text {
	&.larger-text {
		.h3 {
			font-family: "FL Sans", sans-serif;
			font-size: 18px;
			line-height: 1.5;
			@media (max-width: 768px) {
				font-size: 16px;
				line-height: 1.2;
			}
		}
	}
}

