@import 'global/mixins';
@import 'global/variables';

/*================ Templates | Cart Page ================*/

.cart__header-labels {
	@include headerAccentFontStack;
}

.cart__row {
	position: relative;
	margin-bottom: $gutter;

	&:first-child {
		border-bottom: 1px solid $colorBorder;
		padding-bottom: $gutter / 2;
	}

	&:last-child {
		border-top: 1px solid $colorBorder;
		padding-top: $gutter / 2;
	}

	.js-qty__wrapper {
		margin: 0 auto;
	}

	.btn,
	.btn--secondary {
		margin-top: $gutter / 2;
		margin-bottom: $gutter / 2;
	}
}

.cart__checkout {
	margin-top: 20px;
}

@include media-query($medium-up) {
	.update-cart + .cart__checkout {
		margin-left: $gutter / 2;
	}
}

.cart__row--table {
	display: table;
	table-layout: fixed;
	width: 100%;

	.grid__item {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
}

@include media-query($medium-up) {
	.cart__row--table-large {
		display: table;
		table-layout: fixed;
		width: 100%;

		.grid__item {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
	}
}

.cart__image {
	display: block;

	img {
		width: 100%;
		display: block;
	}

	@include media-query($medium-down) {
		margin-bottom: $gutter / 2;
	}
}

.cart__product-name {
	margin-bottom: 0;
}

.cart__product-qty {
	text-align: center;
	margin: 0 auto;
	max-width: 80px;
}

.cart__discount {
	padding-top: 3px;
}

.cart__note {
	margin: 0;

	@include media-query($medium-up) {
		padding-right: $gutter;
	}
}

.cart__product-meta {
	margin-bottom: 0;
}

.additional_checkout_buttons {
	margin-left: -10px;

	.drawer__cart & {
		margin-top: 10px;
		margin-bottom: -10px;

		@include media-query($small) {
			margin-left: 0;
		}
	}

	.additional-checkout-button {
		min-width: 140px !important;

		@include media-query($medium-up) {
			width: 46%;
			margin-left: 10px !important; // mostly for ApplePay alignment
		}
	}

	& > *:not(script) {
		padding: 15px 0 0 15px;
		vertical-align: top;
		line-height: 1;

		@include media-query($small) {
			padding: 15px 0 0 5px;
		}

		&:first-child,
		&:empty {
			padding-left: 0px;
		}
	}
}

// replaced product - hide cart props

.replaced-product .ajaxcart__product-meta,
.cart-replaced-product .cart__product-meta-props,
.bundle-main-watch .ajaxcart__product-meta:not(.ajaxcart__product-meta-variation) + .ajaxcart__product-meta {
	display: none;
}

.template-cart {
	klarna-placement {
		max-width: 335px !important;
		@media screen and (min-width: 768px) {
			margin-right: 20px;
		}
	}

	.cart__subtotal {
		@media screen and (min-width: 768px) {
			margin-right: 68px;
			text-align: right;
		}
	}
}

// Push live chat when cart is open
.js-drawer-open {
	@media screen and (min-width: 1023px) {
		.intercom-namespace {
			.intercom-launcher-frame {
				right: 435px;
			}
		}
	}
}

.template-cart .cart__discount {
	text-align: right;
	display: inline-block;
	background: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/green-check.svg") no-repeat left 5px;
	padding-left: 22px;
	font-size: 12px;
}

.template-cart .cart__price {
	display: block;
}

.template-cart .cart__savings {
	background: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/green-check.svg") no-repeat 15px 14px;
	font-size: 14px;
	display: inline-block;
	border-radius: 2px;
	background-color: #f0f1f3;
	padding: 10px 15px 10px 39px;
}

.template-cart .cart__savings .money {
	font-weight: bold;
}

.template-cart .cart-bundle-item .cart__price:before {
	content: "Free";
}

.template-cart .cart-bundle-item .cart__price .money {
	display: none;
}

.template-cart .cart-bundle-item .remove-button,
.template-cart .cart-bundle-item .cart__price--strikethrough,
.template-cart .cart-bundle-item .cart__discount {
	display: none;
}

.template-cart .cart-bundle-item .cart__product-qty {
	visibility: hidden;
}

.template-cart .remove-button .btn--remove:hover {
	padding-right: 12px;
}

.template-cart {
	.remove-button {
		.btn--remove {
			background-color: transparent;
			color: #000000;
			padding: 0;
			text-align: left;
			font-size: 12px;
			margin: 12px 0 0;
		}
	}
}
