@import 'global/mixins';
@import 'global/variables';

.skrim__title {
	transition: 0.5s;
	opacity: 1;
	bottom: 10px;
	width: calc(100% - 26px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

a.skrim__link.skrim__item-content:hover .skrim__title {
	opacity: 1;
}

.skrim__underline-me:after {
	display: none;
}
/*================ Custom skrim element heights ================*/

.skrim-grid--pagination .skrim__item {
	height: 120px;
	@include media-query($medium-up) {
		height: 350px;
	}
}

.skrim__item {
	overflow: hidden;
}

.skrim__item-content {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: $colorLargeImageBg;

	.product-navigation & {
		background: $colorLargeImageBg;
	}

	.icon-arrow-left {
		width: 33px;
		margin-right: 8px;
	}

	.icon-arrow-right {
		width: 33px;
		margin-left: 8px;
	}

	.skrim__overlay {
		position: relative;
		transition: -webkit-transform 2s ease-out 0s;
		transition: transform 2s ease-out 0s;
		transition: transform 2s ease-out 0s, -webkit-transform 2s ease-out 0s;

		&:after {
			@include overlay();
			@include partialScrim();
			transition: all 0.5s ease;
		}

		&:before {
			@include overlay();
			background: #000;
			opacity: 0;
			transition: opacity 0.5s ease;
		}


		@if ($animate_sections) {
			&:hover,
			&:focus {
				-webkit-transform: scale(1.05);
				transform: scale(1.05);

				&:before {
					opacity: 0.2;
					transition: opacity 0.2s ease-in;
				}
			}
		}
	}
}

.skrim__link {
	display: block;
	width: 100%;
	height: 100%;
}

.skrim__overlay {
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.skrim__title {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 ($gutter/1.6/2) ($gutter/1.6/2) ($gutter/1.6/2);
	pointer-events: none;
	color: #fff;
	transition: bottom 0.5s ease;

	@include media-query($medium-up) {
		margin: 0 ($gutter/1.6) ($gutter/1.6) ($gutter/1.6);
	}
}

.skrim__title--right {
	left: auto;
	right: 0;
}

.skrim__underline-me {
	position: relative;
	display: inline-block;
}

@if ($animate_underlines) {
	/* Hover animation */
	.skrim__underline-me:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		border-bottom: 2px solid #fff;
		transition: 0.5s;
	}
	.skrim__link:hover {
		.skrim__underline-me:after {
			width: 100%;
		}

		.skrim__title {
			bottom: 10px;
		}
	}
}

@if ($animate_sections) {
	/* Scroll animation */
	[data-aos="skrim__animation"] .skrim__overlay {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 0;
		transition: opacity 1s cubic-bezier(0.44, 0.13, 0.48, 0.87), -webkit-transform 1.5s cubic-bezier(0.44, 0.13, 0.48, 0.87);
		transition: opacity 1s cubic-bezier(0.44, 0.13, 0.48, 0.87), transform 1.5s cubic-bezier(0.44, 0.13, 0.48, 0.87);
		transition: opacity 1s cubic-bezier(0.44, 0.13, 0.48, 0.87), transform 1.5s cubic-bezier(0.44, 0.13, 0.48, 0.87), -webkit-transform 1.5s cubic-bezier(0.44, 0.13, 0.48, 0.87);

		.no-js & {
			opacity: 1;
		}
	}
	[data-aos="skrim__animation"] .skrim__overlay:after {
		opacity: 0;

		.no-js & {
			opacity: 1;
		}
	}

	[data-aos="skrim__animation"].aos-animate .skrim__overlay {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	[data-aos="skrim__animation"].aos-animate .skrim__overlay:after {
		opacity: 1;
		transition-duration: 1.5s;
	}
	.skrim__item:nth-child(2) .skrim__overlay {
		transition-delay: 0.25s;
	}
	.skrim__item:nth-child(3) .skrim__overlay {
		transition-delay: 0.5s;
	}
	.skrim__item:nth-child(4) .skrim__overlay {
		transition-delay: 0.13s;
	}
	.skrim__item:nth-child(5) .skrim__overlay {
		transition-delay: 0.38s;
	}
	.skrim__item:nth-child(6) .skrim__overlay {
		transition-delay: 0.63s;
	}

	.skrim__item:nth-child(7) .skrim__overlay {
		transition-delay: 0.25s;
	}
	.skrim__item:nth-child(8) .skrim__overlay {
		transition-delay: 0.5s;
	}
	.skrim__item:nth-child(9) .skrim__overlay {
		transition-delay: 0.13s;
	}
	.skrim__item:nth-child(10) .skrim__overlay {
		transition-delay: 0.38s;
	}
	.skrim__item:nth-child(11) .skrim__overlay {
		transition-delay: 0.63s;
	}
	.skrim__item:nth-child(12) .skrim__overlay {
		transition-delay: 0.45s;
	}
}

.tm-slider-wrap {
	text-align: center;
	position: relative;
	max-width: 900px;
	margin: 25px auto 55px;
}

@media only screen and (max-width: 768px) {
	.tm-slider-wrap {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}
}

.tm-slider-wrap .tm-slider-arrow {
	position: absolute;
	top: calc(50% - 36px);
	z-index: 2;
}

.tm-slider-wrap .tm-slider-arrow.tm-slider-arrow-left {
	left: 0;
}

.tm-slider-wrap .tm-slider-arrow.tm-slider-arrow-right {
	right: 0;
}

.tm-slider-wrap .tm-slider-arrow:focus, .tm-slider-wrap .tm-slider-arrow:active {
	border: 0;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media only screen and (max-width: 768px) {
	.tm-slider-wrap .tm-slider-arrow {
		display: none;
	}
}

.tm-slider-wrap .tm-slider {
	max-width: 700px;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) {
	.tm-slider-wrap .tm-slider .tm-slide {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.tm-slider-wrap .tm-slider .tm-slide p {
	line-height: 1.3;
}

@media only screen and (max-width: 768px) {
	.tm-slider-wrap .tm-slider .tm-slide p {
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0.5px;
	}
}

@media only screen and (min-width: 590px) {
	.tm-slider-wrap .tm-slider .tm-slide p {
		font-size: 23px;
		font-weight: 600;
		letter-spacing: 0.4px;
	}
}

.tm-slider-wrap .tm-slider .tm-slide__content_wrap {
	height: 100%;
	position: relative;
}

@media only screen and (min-width: 590px) {
	.tm-slider-wrap .tm-slider .tm-slide__content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.tm-slider-wrap .tm-slider .tm-slide__content p:last-of-type {
	margin-bottom: 0;
}

.tm-slider-wrap .tm-slider .tm-slide .tm-image {
	margin: 0 auto;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.tm-slider-wrap .tm-slider .tm-slide .tm-image {
		background-color: #f2f2f2;
		margin-top: 15px;
	}
}

.tm-slider-wrap .tm-slider .tm-slide .tm-image img {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	display: inline-block;
	mix-blend-mode: multiply;
}

@media only screen and (max-width: 768px) {
	.tm-slider-wrap .tm-slider .tm-slide .rox-demibold,
	.tm-slider-wrap .tm-slider .tm-slide .rox-demibold p {
		font-family: DM Sans;
	}
}

.tm-slider-nav {
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
	.tm-slider-nav {
		display: none !important;
	}
}

.tm-slider-nav a {
	cursor: pointer;
	padding: 0 45px;
}

.tm-slider-nav a:not(.active) {
	opacity: 0.25;
}

.tm-slider-nav a img {
	display: inline-block;
	vertical-align: middle;
}

.quickie {
	display: none;
	position: relative;
	max-height: 0;
	width: calc(100% - 60px);
	margin-left: 30px;
	overflow: hidden;
	-webkit-transition: max-height 0.4s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: max-height 0.4s cubic-bezier(0.5, 0, 0.07, 1);
	transition: max-height 0.4s cubic-bezier(0.5, 0, 0.07, 1);
	margin-top: 20px;
	margin-bottom: -20px;
}

.quickie.open {
	max-height: 3000px;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
}

.quickie.open .quickie-close {
	opacity: 1;
}

.quickie .modal {
	position: relative;
	top: 0;
	left: 0;
	height: auto;
	bottom: auto;
	right: auto;
}

.quickie .modal.modal--is-active {
	overflow: visible;
	z-index: 1;
}

.quickie .modal .js-modal-close {
	display: none;
}

.quickie .modal .modal__inner {
	margin: 0;
}

.quickie .modal .modal__centered-content {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 769px) and (max-height: 740px) {
	.quickie .modal .modal__centered-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.quickie .modal .thumbs-slider-arrow {
		margin-top: 10px;
	}
	.quickie .modal .preorder-text {
		margin-bottom: 20px;
		padding-bottom: 15px;
		margin-top: -20px;
	}
	.quickie .modal .medium-up--seven-twelfths {
		width: 55%;
	}
	.quickie .modal .medium-up--seven-twelfths .product-image-main {
		max-width: 290px;
	}
	.quickie .modal .medium-up--five-twelfths {
		width: 45%;
	}
	.quickie .modal .product-single__meta {
		padding-left: 0;
	}
}

.quickie .modal--square .modal__centered-content {
	max-height: none;
	height: auto;
}

.quickie .quickie-close {
	position: absolute;
	color: #000;
	top: 0;
	z-index: 2;
	display: block;
	width: 28px;
	height: 28px;
	padding-top: 15px;
	padding-left: 5px;
	cursor: pointer;
	padding-right: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: opacity 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	transition: opacity 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transition-delay: 0.5;
	-o-transition-delay: 0.5;
	transition-delay: 0.5;
}

.quick-product__btn {
	display: none !important;
}

.quickie .modal:before {
	display: none;
}

.modal-open.product-modal {
	overflow: visible;
}

div[data-section-id="header"] {
	min-height: 106px;
}

@media screen and (max-width: 768px) {
	div[data-section-id="header"] {
		min-height: 48px;
	}
}


.grid-product {
	position: relative;
}

.grid-product__price {
	text-align: center;
}

.product-bottom-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 30px;
}

.product-bottom-container .btn-shop-now, .product-bottom-container .btn-quick-view {
	width: 100%;
}

.product-bottom-container .btn-quick-view {
	font-weight: 400 !important;
	opacity: 0.5 !important;
}

.grid-product__content {
	position: unset;
	margin-bottom: $gutter / 2;
	text-align: left;

	@include media-query($medium-up) {
		margin-bottom: $gutter;
	}

	.product-single__related & {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 769px) {
	.grid-product__content {
		padding-bottom: 10px;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 768px) {
	.grid-product__content {
		margin-bottom: 40px;
	}
}


.tm-slider-wrap {
	margin-top: 75px !important;
}

.tm-slider-arrow {
	bottom: 65px !important;
}

.tm-slider-logo {
	padding: 0 23px !important;
}

.tm-slider-logo img {
	max-width: 92%;
}


.invisible {
	visibility: hidden;
}


.grid-product__collection {
	height: auto;
	opacity: 0.5;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.31;
	letter-spacing: 0.4px;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
}

.grid-product__title {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: 0;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.grid-product__price {
	margin-top: 5px;
}

.grid-product__price .money {
	display: block;
	opacity: 0.9;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.21;
	letter-spacing: 0.5px;
	text-align: center;
	color: #000000;
}

.grid-product__price .grid-strike-through {
	display: block;
	margin-top: 10px;
	padding: 0;
	opacity: 0.9;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.31;
	letter-spacing: 0.4px;
	text-align: center;
	color: rgba(0, 0, 0, 0.56);
}

.section-related {
	margin-bottom: 0;
}

.grid-product__tag {
	background-color: #fff;
	color: #000;
	font-size: 10px;
	line-height: 13px;
	letter-spacing: 0.3px;
	border: 1px solid #000;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 200px;
	text-align: center;
	font-weight: 600;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 1 !important;
}

@media screen and (min-width: 769px) {
	.grid-product__tag {
		top: 20px;
		right: 20px;
	}
}

@media screen and (max-width: 768px) {
	.grid-product__tag {
		top: 5px;
	}
}

.grid-product__price--original {
	margin: 10px 0 0;
	display: block;
}

.grid-product__price--original .money {
	opacity: 0.5;
}

@media screen and (max-width: 768px) {
	.grid-product__price.price-on-sale .grid-product__price--original {
		margin: 4px 0 0;
	}
}


/* Reveal top offer */
.top-menu-offer .reveal-offer-tag {
	cursor: pointer;
}

.top-menu-offer .reveal-offer-tag .main-title {
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 18px;
	padding-bottom: 18px;
	position: relative;
}

.top-menu-offer .reveal-offer-tag .main-title .chevron {
	position: absolute;
	right: 22px;
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
}

.top-menu-offer .reveal-offer-tag.opened .chevron {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.top-menu-offer .reveal-offer-tag .main-title .chevron svg {
	width: 11px;
}

.top-menu-offer .reveal-offer-container {
	padding: 0 17px;
}

.top-menu-offer .reveal-offer-container .description {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-align: center;
}

.top-menu-offer .reveal-offer-btn {
	display: block;
	border: 1px solid #000000;
	padding: 10px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.4px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	cursor: pointer;
	margin: 11px auto 23px;
}

#CollectionSection {
	.visible-md {
		display: none;
		@media screen and (min-width: 768px) {
			display: inline-block;
		}
	}

	.visible-sm {
		display: none;
		@media screen and (max-width: 767px) {
			display: inline-block;
		}
	}
}

body.template-index {
	overflow-x: hidden;
}


$label-bottom-margin: 12px;

.variant-input-wrap {
	border: 0;
	padding: 0;
	margin: 0 0 ($gutter / 1.5);
	position: relative;

	input {
		@include visuallyHidden;
	}

	label {
		position: relative;
		display: inline-block;
		line-height: 1;
		font-weight: normal;
		padding: 7px 15px 7px;
		margin: 0 8px $label-bottom-margin 0;
		font-style: normal;
		font-size: $type_base_size;
		text-transform: none;
		background-color: $colorBody;
		@include baseFontStack;
		@include media-query($small) {
			font-size: $type_base_size - 1;
		}

		&:active,
		&:focus {
			border-color: $colorTextBody;
			box-shadow: inset 0 0 0 1px $colorTextBody;
		}

		&.disabled {
			color: $colorBorder;
		}

		&.disabled:before {
			position: absolute;
			content: "";
			left: 50%;
			top: 0;
			bottom: 0;
			border-left: 1px solid;
			border-color: $colorBorder;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		// Border
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 1px solid $colorBorder;
			z-index: 1;
		}
	}

	//style selected radio button's label
	input[type='radio']:checked + label {
		border-color: $colorTextBody;
		font-weight: 900;

		&:after {
			border-width: 2px;
			border-color: $colorTextBody;
		}
	}

	input[type='radio']:focus + label {
		background-color: rgba($colorTextBody, 0.05);
	}
}

.variant-wrapper {
	margin-bottom: -$label-bottom-margin;

	.no-js & {
		display: none;
	}
}

.variant-wrapper--dropdown {
	display: inline-block;
	margin-right: $gutter / 2;
}

.variant__label {
	display: block;
	margin-bottom: 10px;
	cursor: default;
	font-style: normal;
}

.variant__label-info {
	@include baseFontStack;
	text-transform: none;
	font-weight: normal;
}

.variant__color-swatch {
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	width: 2.5em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 3px solid $colorBody;
		margin: 1px;
		z-index: 5;
	}
}

.grid-product__link {
	display: block;
}

.grid-product__image-mask {
	position: relative;
	overflow: hidden;

	.grid-product__link--disabled &,
	.grid-product__link--disabled:hover &,
	.grid-product__link--disabled:focus & {
		opacity: 0.5;
	}
}

.grid-product__image {
	display: block;
	margin: 0 auto;
	width: 100%;

	.grid-product__link:hover &,
	.grid-product__link:focus & {
	}

}

.grid-product__secondary-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0;

	.grid-product__content:hover & {
		@if ($animate_images) {
			@if ($animate_images_style == 'zoom-fade') {
				-webkit-animation: #{$animate_images_style}-small 5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
				animation: #{$animate_images_style}-small 5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
			} @else {
				-webkit-animation: #{$animate_images_style}-small 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
				animation: #{$animate_images_style}-small 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
			}
		} @else {
			opacity: 1;
		}
	}

	.supports-touch & {
		display: none;
	}
}

// Product title/price

.grid-product__meta {
	position: relative;
	padding: 10px 0 6px 0;
	line-height: $type_base_line_height - 0.1;
	@media screen and (max-width: 768px) {
		padding: 10px 0 21px 0;
	}
}

.grid-product__vendor {
	@include baseAccentFontStack;
	font-size: em(11px);
	margin-top: 3px;
}

.grid-product__price {
	margin-top: 3px;
	font-size: em(ceil($type_base_size * 0.9 * 0.85));
	@include media-query($medium-up) {
		font-size: em(ceil($type_base_size * 0.9));
	}
}

.grid-product__price--original {
	text-decoration: line-through;
	margin-right: 5px;
}

// Product sale and sold out tag

.grid-product__tag {
	position: absolute;
	top: 0;
	right: 0;
	@include baseAccentFontStack;
	font-size: em(10px);
	line-height: 1;
	padding: 6px 6px 6px 8px;
	background-color: $colorBtnPrimary;
	color: $colorBtnPrimaryText;
	z-index: 1;
	transition: opacity 0.4s ease;

	@include media-query($medium-up) {
		font-size: em(13px);
		padding: 7px 9px 7px 11px;
	}
}

// Quick shop

$quick_button_size: 65px;

.quick-product__btn {
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 2;
	border-radius: 50%;
	width: $quick_button_size;
	height: $quick_button_size;
	background-color: $colorBtnPrimary;
	color: $colorBtnPrimaryText;
	overflow: hidden;
	font-size: em(floor($type_base_size * 0.85));
	line-height: 1.2;
	cursor: pointer;
	opacity: 0;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	transition: opacity 0.15s ease, background 0.3s ease, -webkit-transform 0.15s ease-out;
	transition: opacity 0.15s ease, transform 0.15s ease-out, background 0.3s ease;
	transition: opacity 0.15s ease, transform 0.15s ease-out, background 0.3s ease, -webkit-transform 0.15s ease-out;

	.ie9 &,
	.no-js & {
		display: none;
	}

	.grid-product__content:hover & {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		transition: opacity 0.15s ease, -webkit-transform 0.15s ease-out;
		transition: opacity 0.15s ease, transform 0.15s ease-out;
		transition: opacity 0.15s ease, transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
	}
}

.quick-product__label {
	position: relative;
	top: 54%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	text-align: center;
	width: $quick_button_size;
}

.grid-product__has-quick-shop .grid-product__content:hover .grid-product__tag {
	opacity: 0;
	transition-duration: 0.2s;
}

// Mobile horizontal overflow grid

@include media-query($small) {
	.grid-overflow-wrapper {
		overflow: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		padding-bottom: $gutter / 1.5;

		.grid {
			white-space: nowrap;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

		.grid__item {
			width: 66vw;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 66vw;
			flex: 0 0 66vw;
			display: inline-block;
			float: none;
			white-space: normal;

			&:first-child {
				margin-left: $page-width-gutter-small;
			}

			&:last-child {
				margin-right: $page-width-gutter-small;
			}
		}

		.grid__item--view-all {
			-ms-flex-item-align: center;
			-ms-grid-row-align: center;
			align-self: center;
		}

		.grid-product__content {
			margin-bottom: 0;
		}
	}

	[data-aos="overflow__animation"] {
		-webkit-transform: translateX(100vw);
		transform: translateX(100vw);
		transition: all 0.8s cubic-bezier(.25, .46, .45, .94);

		&.aos-animate {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
}

// See all (mobile overflow)

.grid-product__see-all {
	display: inline-block;
	padding: $gutter / 2;
	text-align: center;
	border: 1px solid $colorBorder;
	margin-top: -60px; // approx of what title+price is
}

// Unload

.grid-product {
	&.aos-animate.unload {
		opacity: 0;
		transition-duration: 0.3s;
		-webkit-animation: grid-product__loading 1.5s ease infinite 1.5s;
		animation: grid-product__loading 1.5s ease infinite 1.5s;
	}
}

.grid-product__colors {
	line-height: $colorSwatchCollectionSize;
	margin-bottom: -2px;

	@include media-query($medium-up) {
		line-height: $colorSwatchCollectionSizeLarge;
	}
}

.color-swatch {
	position: relative;
	display: inline-block;
	text-indent: -9999px;
	overflow-y: hidden;
	width: $colorSwatchCollectionSize;
	height: $colorSwatchCollectionSize;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 2px 2px 0;

	@include media-query($medium-up) {
		width: $colorSwatchCollectionSizeLarge;
		height: $colorSwatchCollectionSizeLarge;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 2px solid $colorBody;
		margin: 1px;
		z-index: 1;
	}

	// Border
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 1px solid $colorBorder;
		z-index: 2;
	}
}

/*================ Templates | Product Page ================*/

.product-single__meta {
	padding-left: 45px;

	@include media-query($small) {
		padding-left: 0;
		margin-top: $gutter / 2;
	}

	.social-sharing {
		margin-top: $gutter / 2;

		@include media-query($medium-up) {
			margin-top: $gutter;
		}
	}
}

.product-single__vendor {
	@include baseAccentFontStack;
	font-size: em(12px);
	margin-bottom: $gutter / 4;
}

.product-single__title {
	font-size: em(floor($type_header_base_size * 0.85));
	margin-bottom: $gutter / 6;
	word-wrap: break-word;

	@include media-query($medium-up) {
		font-size: $type_header_base_size;
		margin-bottom: $gutter / 4;
	}
}

.product-single__sku {
	margin-bottom: $gutter / 6;
}

.product-single__description {
	margin-bottom: $gutter / 2;
}

.product-single__description-full {
	margin: $gutter 0;
}

.product-single__form {
	margin-bottom: $gutter;
}

.product-single__variants {
	display: none;

	.no-js & {
		display: block;
		margin-bottom: $gutter;
	}
}

.product-image-main {
	position: relative;
}

// Video div

.product__video-wrapper {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	padding-bottom: 100%; // apsect ratio overwritten inline
	height: auto;
	background-color: $colorSmallImageBg;

	iframe {
		width: 100%;
		height: 100%;
		transition: opacity 0.5s ease-in;
	}

	// Put overlay on muted videos because they cannot be interacted with
	&[data-video-style="muted"].loaded:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	// Unless low power mode requires them to be touched to start
	&.video-interactable:before {
		display: none;
	}

	// Allow Vimeo videos to be clicked on so they can start to play.
	// This prevents swiping on a video to go to the next slide.
	@include media-query($small) {
		&[data-video-type="vimeo"].loaded:before {
			display: none;
		}
	}

	&.loading:before {
		background: color-control($colorSmallImageBg, 0.15);
	}

	&.loading:after {
		background: color-control($colorSmallImageBg, 1);
	}

	&.loading iframe {
		opacity: 0.01; // sneaky way to avoid talking to an invisible YT iframe
	}

	&.loaded iframe {
		opacity: 1;
	}
}

.product__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Images

.product__photos--beside {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.product__photos {


	a {
		display: block;
		max-width: 100%;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
	}
}

.photo-zoom-link {
	position: relative;
}

.photo-zoom-link--enable {
	cursor: zoom-in;
}

.photo-zoom-linked {
	cursor: zoom-out;
}

.product__main-photos {
	position: relative;
	overflow: hidden;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	@include media-query($medium-up) {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	img {
		display: none;
	}

	.starting-slide img,
	.slick-initialized img {
		display: block;
	}

	.secondary-slide:not(.slick-slide) {
		display: none;
	}
}

// Thumbnails

.product__thumbs {
	position: relative;
}

.product__thumbs--below {
	margin-top: $grid-gutter-small / 2;

	@include media-query($medium-up) {
		margin-top: $gutter / 2;
	}
}

.product__thumbs--beside {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60px;
	flex: 0 0 60px;
	max-width: 60px;
	margin-left: $grid-gutter-small / 2;

	@include media-query($medium-up) {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 80px;
		flex: 0 0 80px;
		max-width: 80px;
		margin-left: 0;
		margin-right: $gutter / 2;
	}

	.slick-list {
		min-height: 100%;
	}
}

// Thumbnails

.product__thumb-item {
	border: 2px solid transparent;

	&.slick-current {
		border-color: $colorTextBody;
	}

	.product__thumbs--beside & {
		margin-bottom: $grid-gutter-small / 2;

		@include media-query($medium-up) {
			margin-bottom: $gutter / 2;
		}
	}

	.product__thumbs--below & {
		margin-right: $grid-gutter-small / 2;

		@include media-query($medium-up) {
			margin-right: $gutter / 2;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

// Align them before slick initializes to reduce page reflows

.product__thumbs--below:not(.slick-initialized) .product__thumb-item {
	max-width: 100px;
	float: left;
}

.product__thumb {
	position: relative;
	display: block;
	cursor: pointer;
}

.product__thumb-play {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: $colorBtnPrimary;
	border-radius: 100px;
	padding: 7px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s ease;
	font-size: 0;

	.aos-animate & {
		opacity: 1;
	}

	.icon {
		fill: $colorBtnPrimaryText;
		width: 24px;
		height: 24px;
		@include media-query($medium-up) {
			width: 30px;
			height: 30px;
		}
	}
}

// Prices

.product__price {
	font-size: em(floor(($type_base_size + 8) * 0.85));
	@include media-query($medium-up) {
		font-size: em($type_base_size + 8);
	}
}

.product__price--compare {
	padding-right: 5px;
	display: inline-block;
	text-decoration: line-through;
}

.product__inventory {
	margin-top: $gutter / 6;
	margin-bottom: -($gutter / 6);
	font-style: italic;

	@include media-query($medium-up) {
		margin-top: $gutter / 4;
		margin-bottom: -($gutter / 4);
	}
}

// Quantity selector and label

.product__quantity {
	margin-bottom: $gutter / 2;
	@include media-query($medium-up) {
		margin-bottom: $gutter;
	}

	label {
		display: block;
		margin-bottom: 10px;
	}
}

.product__quantity--dropdown {
	display: inline-block;
}

// Review app styles if included

#shopify-product-reviews {
	.spr-review-content-body,
	.spr-review-header-byline,
	.spr-form-label {
		font-size: $type_base_size;
		line-height: 1.563;
	}

	.spr-form-label {
		display: block;
		text-align: left;
	}

	.spr-summary-actions-newreview {
		float: none;
	}

	.spr-summary-caption,
	.spr-summary-actions {
		display: block;
	}
}

// Hide Shopify Payment Buttons if no variant

.add-to-cart[disabled] + .shopify-payment-button {
	display: none;
}

.preorder-text {
	text-align: center;
	font-size: 12px;
	line-height: 1.4;
	padding-bottom: 35px;
	@include media-query($medium-up) {
		margin-bottom: 35px;
		margin-top: -10px;
		border-bottom: 1px solid #F1F1F1;
	}
}

.product-information-wrapper {
	margin-top: 60px;
	margin-bottom: 100px;
	@media screen and (max-width: 768px) {
		padding: 0;
		margin-top: 60px;
		margin-bottom: 50px;
	}

	.product-information-block {
		.img-wrapper {
			height: 400px;
			width: 100%;
			@media screen and (max-width: 768px) {
				height: 246px;
			}

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}

		.full-height {
			height: 100%;
		}

		.product-information-block__heading {
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.06em;
			color: #C6B485;
			text-align: center;
			font-family: DM Sans;
			margin-bottom: 23px;
			@media screen and (max-width: 768px) {
				margin-top: 41px;
				font-size: 12px;
			}
		}

		.product-information-block__title {
			p {
				margin: 0 !important;
				font-family: FL Sans, sans-serif !important;
				font-style: normal !important;
				font-weight: bold !important;
				font-size: 24px !important;
				line-height: 34px !important;
				text-align: center !important;
				text-transform: uppercase !important;
				@media screen and (max-width: 768px) {
					font-size: 22px
				}
			}
		}

		.product-information-block__description {
			font-family: DM Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			color: #000000;
			padding: 0 66px;
			@media screen and (max-width: 768px) {
				margin-bottom: 40px;
				padding: 0 25px;
			}
		}

		.separator {
			width: 65px;
			height: 2px;
			background: black;
			margin-top: 30px;
			margin-bottom: 35px;
		}

		@media screen and (min-width: 768px) {
			.block-row:nth-child(even) {
				display: -ms-flexbox;
				display: -webkit-box;
				display: flex;

				.col-md-6:first-child {
					-webkit-order: 1;
					order: 1;
					padding-left: 0 !important;
				}
			}

			.block-row:nth-child(odd) {
				.col-md-6:first-child {
					padding-right: 0 !important;
				}
			}
		}

	}
}

.klarna-placement-jewelry {
	order: -3;
}

.template-product {
	klarna-placement {
		margin-top: -21px;
		margin-bottom: 30px;
		@media screen and (max-width: 768px) {
			margin-bottom: 20px !important;
		}
	}
}

.klarna-placement {
	max-width: none !important;
	@media screen and (max-width: 768px) {
		margin-top: 20px !important;
	}
}

.product-images-wrap {
	position: relative;
}

@media only screen and (max-width: 768px) {
	.product-images-wrap {
		width: 100%;
	}
}

.product-images-wrap .thumbs-slider-arrow {
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	z-index: 10;
}

@media only screen and (min-width: 590px) {
	.product-images-wrap .thumbs-slider-arrow {
		display: block;
		margin-left: 42px;
	}
}

@media only screen and (max-width: 768px) {
	.product-images-wrap .thumbs-slider-arrow {
		position: absolute;
		right: 3px;
		bottom: 0;
	}
}

@media only screen and (max-width: 768px) {
	.product__photos--beside {
		-webkit-box-pack: justify !important;
		-ms-flex-pack: justify !important;
		justify-content: space-between !important;
	}
}

.product-image-main .iframe-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10 !important;
	left: 0;
	top: 0;
}

.product__video-wrapper {
	z-index: 1 !important;
	pointer-events: none;
}

.product__video-wrapper[data-video-style="muted"].loaded:before {
	z-index: 10;
}

@media only screen and (max-width: 768px) {
	.product__thumbs--beside {
		max-width: 46px;
		-ms-flex-preferred-size: 46px;
		flex-basis: 46px;
		margin-left: 0;
		margin-top: 45px;
		margin-bottom: 40px;
	}
}

@media only screen and (min-width: 590px) {
	.product__thumbs--beside {
		max-width: 106px;
		-ms-flex-preferred-size: 106px;
		flex-basis: 106px;
	}
}

@media only screen and (max-width: 768px) {
	.product__thumbs--beside .product__thumb-item {
		margin-bottom: 3px;
	}
}

@media only screen and (min-width: 590px) {
	.product__thumbs--beside .product__thumb-item {
		margin-bottom: 9px;
	}
}

@media only screen and (max-width: 768px) {
	.product__thumbs--beside .slick-list {
		min-height: 0 !important;
		max-height: 290px !important;
	}
}

.product__thumbs--beside .product__thumb-item {
	border-color: #f3f3f3;
	border-width: 1px;
}

.product__thumbs--beside .product__thumb-item.slick-current {
	border-color: #C6AF76;
}

#product-single__meta {
	@media screen and (max-width: 768px) {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;

		.product-single__series {
			order: -7;
		}
		.product-single__title {
			order: -6;
		}
		.pricing-row {
			order: -5;
		}
		.limited-wrapper {
			order: -4;
		}

		.product-single__form {
			order: 0;
		}

		.product-single__upsale {
			order: -2;
		}

		.offer-wrapper {
			order: -1;
		}
		.bonus-wrapper {
			order: 0;
		}
	}
}

.product-single__series {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3.5px;
	color: #C6AF76;
	padding-bottom: 5px;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
	.product-single__series {
		text-align: center;
		font-size: 10px;
		letter-spacing: 2.5px;
	}
}

.product-single__upsale {
	padding: 0;
}

@media only screen and (min-width: 590px) {
	.product-single__form {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.product-single__details {
		text-align: center;
		margin: 20px -24px 20px -22px;
		border-top: 1px solid #F1F1F1;
	}
}

.product-single__details > div {
	border-bottom: 1px solid #F1F1F1;
}

.product-single__details > div a {
	display: block;
	padding: 20px;
}

@media only screen and (max-width: 768px) {
	.product-single__highlight {
		padding-top: 20px;
	}
}

.product-single__highlight .highlight-row {
	position: relative;
	padding: 0 0 22px 35px;
}

.product-single__highlight .highlight-row:last-child {
	padding-bottom: 0;
}

.product-single__highlight .highlight-row .icon {
	width: 28px;
	position: absolute;
	top: 0;
	left: 0;
}

.product-single__highlight .highlight-row .icon img {
	width: 28px;
	height: auto;
}

.product-single__highlight .highlight-row .text {
	font-size: 15px;
	line-height: 1.6;
	letter-spacing: 0;
}

.product-single__highlight .highlight-row .text p {
	margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.product-single__title {
		text-align: center;
		font-size: 18px;
		line-height: 1.14;
		letter-spacing: 0;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width: 769px) {
	.product-single__title {
		font-size: 24px;
		line-height: 1.25;
		letter-spacing: 0;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.product-single__meta {
		padding-bottom: 20px;
	}
}

.product-single__meta .pricing-row {
	padding-bottom: 8px;
}

@media only screen and (max-width: 768px) {
	.product-single__meta .pricing-row > .grid__item {
		float: none;
	}
}

@media only screen and (min-width: 590px) {
	.product-single__meta .pricing-row {
		height: auto;
	}
}

@media only screen and (max-width: 768px) {
	.product-single__meta .product__price > span {
		float: none;
		text-align: center;
	}
}

.product-single__meta .product__price > span:not(.strike-through) {
	line-height: 1.3;
	padding-top: 0;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.8px;
	color: #272C3B;
	display: block;
}

.product-single__meta .product__price > span.strike-through {
	color: #bdbdbd;
	line-height: 1.3;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	display: block;
	padding-top: 2px;
	text-decoration: line-through;
}

.product-single__meta .spr-badge .spr-badge-caption {
	font-size: 14px;
	letter-spacing: 1px;
	color: #272C3B;
	padding-left: 5px;
}

.product-image-main {
	max-width: 436px;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width: 768px) {
	.product-image-main {
		max-width: 229px;
	}
}

.main-quote {
	position: relative;
}

@media only screen and (max-width: 768px) {
	.main-quote {
		margin-left: -20px;
		margin-right: -20px;
		padding: 34px 34px 5px;
		text-align: center;
	}
}

@media only screen and (min-width: 590px) {
	.main-quote {
		margin-right: 35px;
		min-height: 240px;
		padding: 44px 24px 0 90px;
	}
}

.main-quote__symbol {
	letter-spacing: 0.8px;
	font-size: 90px;
	position: absolute;
	line-height: 1;
}

@media only screen and (max-width: 768px) {
	.main-quote__symbol {
		top: 15px;
		left: 34px;
	}
}

@media only screen and (min-width: 590px) {
	.main-quote__symbol {
		top: 25px;
		left: 30px;
	}
}

@media only screen and (max-width: 768px) {
	.main-quote__text {
		padding-top: 45px;
	}
}

.main-quote__text p {
	line-height: 1.2;
}

.main-quote__text p:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.main-quote__text p {
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0.5px;
	}
}

@media only screen and (min-width: 590px) {
	.main-quote__text p {
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.6px;
	}
}

.main-quote__img {
	display: inline-block;
	mix-blend-mode: multiply;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

@media only screen and (min-width: 590px) {
	.main-quote__img {
		-webkit-transform: scale(0.5) translate(-50%, 0);
		-ms-transform: scale(0.5) translate(-50%, 0);
		transform: scale(0.5) translate(-50%, 0);
		margin-top: -13px;
	}
}

.main-quote.background-on {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media only screen and (max-width: 768px) {
	.main-quote.background-on {
		padding-right: 40px;
		padding-left: 40px;
		padding-bottom: 34px;
		padding-top: 34px;
		min-height: 170px;
	}
}

@media only screen and (min-width: 590px) {
	.main-quote.background-on {
		padding-right: 40px;
		padding-left: 40px;
		padding-bottom: 24px;
		padding-top: 24px;
	}
}

.main-quote.background-on .main-quote__symbol {
	display: none;
}

.main-quote.background-on .main-quote__text {
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.main-quote.background-on .main-quote__text > p {
	position: relative;
	z-index: 1;
}

.main-quote.background-on .main-quote__text:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 0;
}

.fit-link {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	color: #272C3B;
	line-height: 1;
	padding-left: 5px;
}

@media only screen and (min-width: 590px) {
	.fit-link {
		margin-top: 15px;
	}
}

.fit-link img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

@media only screen and (max-width: 768px) {
	.fit-link img {
		margin-top: -4px;
	}
}

@media only screen and (min-width: 590px) {
	.fit-link img {
		margin-top: -2px;
	}
}



.product-reviews {
	margin-bottom: 60px;

	.product-reviews__title {
		font-size: 16px;
	}
}

@media only screen and (max-width: 768px) {
	.product-reviews {
		margin-top: 30px;
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 768px) {
	.product-reviews h2 {
		margin-bottom: 0;
		text-align: center;
	}
}

@media only screen and (min-width: 590px) {
	.product-reviews__content {
		width: 70%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 590px) {
	.product-specs + .product-reviews {
		margin-top: -40px;
	}
}

@media only screen and (min-width: 590px) {
	.product-perks + .product-reviews {
		margin-top: 40px;
	}
}

.product-perks + .shop-perks {
	display: none;
}

.product-specs {
	padding: 60px 0 0;
}

@media only screen and (max-width: 768px) {
	.product-specs {
		padding-top: 20px;
	}
}

.product-specs .page-width {
	position: relative;
}

.product-specs__table {
	position: relative;
	z-index: 2;
}

.product-specs__row {
	border-bottom: 1px solid #F1F1F1;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
	.product-specs__row {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.product-specs__title {
	font-weight: 600;
}

@media only screen and (max-width: 768px) {
	.product-specs__title {
		font-size: 18px;
		letter-spacing: 0.7px;
		text-align: center;
	}
}

@media only screen and (min-width: 590px) {
	.product-specs__title {
		font-size: 24px;
		letter-spacing: 1px;
	}
}

.product-specs__description {
	color: #818287;
	font-weight: 500;
	letter-spacing: 0.5px;
}

@media only screen and (max-width: 768px) {
	.product-specs__description {
		line-height: 1.75;
		font-size: 12px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (min-width: 590px) {
	.product-specs__description {
		line-height: 1.62;
		font-size: 13px;
		max-width: 400px;
		margin-bottom: 60px;
	}
}

.product-specs__image {
	width: calc(100% + 60px);
	height: auto;
	position: relative;
	z-index: 1;
}

@media only screen and (max-width: 768px) {
	.product-specs__image {
		width: calc(100% + 20px);
		margin-bottom: -40px;
	}
}

.product-specs__content {
	z-index: 2;
}

@media only screen and (min-width: 590px) {
	.product-specs__content {
		width: 37%;
		position: absolute;
		top: 140px;
		right: 40px;
	}
}

.product-specs__content .label,
.product-specs__content .value {
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 1.3;
	text-transform: uppercase;
}

.product-specs__content .label {
	color: #262626;
	font-weight: 600;
	-ms-flex-preferred-size: 180px !important;
	flex-basis: 180px !important;
}

@media only screen and (max-width: 768px) {
	.product-specs__content .label {
		padding-bottom: 3px;
	}
}

.product-specs__content .value {
	color: #818287;
	font-weight: 500;
}

@media only screen and (min-width: 590px) {
	.product-specs__row:last-child .value {
		max-width: 200px;
	}
}

.section-ig + .product-specs {
	padding-top: 30px;
}

.section-ig + .product-reviews {
	padding-top: 30px;
}

@media only screen and (max-width: 768px) {
	.template-product footer {
		padding-bottom: 60px;
	}
}

@media only screen and (max-width: 768px) {
	.template-product .product__main-photos .slick-slider {
		max-height: 318px;
	}
}

@media only screen and (max-width: 768px) {
	.template-product .product__main-photos .slick-slider .slick-slide {
		padding-left: 20px;
		padding-right: 40px;
	}
}

@media only screen and (min-width: 590px) {
	.template-product .slick-dots {
		display: none !important;
	}
}

.template-product .slick-dots li {
	margin: 0 6px;
}

.template-product .slick-dots li button {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.template-product .slick-dots li button:before {
	width: 5px;
	height: 5px;
	opacity: 1;
	border-radius: 20px;
	background-color: #d8d8d8;
}

.template-product .slick-dots li.slick-active button:before {
	width: 8px;
	height: 8px;
	margin-top: -1px;
	background-color: #666666;
}

.template-product .reviews-mobile {
	padding-bottom: 18px;
}

@media only screen and (max-width: 768px) {
	.template-product .page-content {
		padding-top: 15px;
		padding-bottom: 5px;
	}
}

@media only screen and (min-width: 590px) {
	.template-product .page-content {
		padding-top: 20px;
	}
}

@media only screen and (min-width: 590px) {
	.template-product .page-block-text-and-image,
	.template-product .page-block-testimonials {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.template-product .product-single__form {
		position: relative;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.template-product .product-single__form .variant-wrapper {
		text-align: center;
		padding-top: 43px;
	}
}

@media only screen and (max-width: 768px) {
	.template-product .product-single__form .variant-wrapper .variant-input-wrap {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 768px) {
	.template-product .product-single__form .shopmessage-checkbox-container {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.variant_text_wrapper {
		padding: 20px 15px 0 15px;
		position: initial !important;
	}
	.variant-text {
		text-align: center;
	}
}

.variant_text_wrapper {
	position: relative;
	top: -14px;
}

.variant-text {
	margin: 0 auto;
	color: #818287;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.49px;
	line-height: 1.5;
}

.template-product .product-single__form .add-to-cart {
	position: relative;
}

@media only screen and (max-width: 768px) {
	.template-product .product-single__form .add-to-cart {
		/*position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    z-index: 20;*/
	}
}

.template-product .product-single__form .add-to-cart .add-to-cart-price {
	position: absolute;
	right: 20px;
	top: calc(50% - 10px);
}

.template-product .product-single__form .add-to-cart .add-to-cart-price .money {
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.4px;
}

@media only screen and (max-width: 768px) {
	.template-product .price-regular,
	.template-product .product__price,
	.template-product .product__price-wrap-product-sections-template {
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
	.section-testimonials {
		padding-top: 30px;
		background-color: #f2f2f2;
		padding-bottom: 20px;
	}
}

.section-testimonials h2 {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.section-testimonials .slick-dots {
		position: relative;
		bottom: 0;
	}
}

@media only screen and (min-width: 590px) {
	.section-related {
		padding: 0 0 40px;
	}
}

.section-related h3 {
	font-weight: 600;
	letter-spacing: 0;
	margin-left: 0;
}

@media only screen and (max-width: 768px) {
	.section-related h3 {
		line-height: 1.14;
		font-size: 16px;
	}
}

@media only screen and (min-width: 590px) {
	.section-related h3 {
		line-height: 1.3;
		font-size: 18px;
	}
}

@media only screen and (max-width: 768px) {
	.section-related .grid-overflow-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.section-related .grid-overflow-wrapper .product-single__related {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.section-related .grid-overflow-wrapper .grid__item {
		vertical-align: top;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}

@media only screen and (max-width: 768px) {
	.section-related .grid {
		margin: 0;
		padding: 0;
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	.section-related .grid .grid__item {
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 0;
	}
}

.section-related .quick-product__btn,
.section-related .spr-badge,
.section-related .grid-product__tag {
	display: none;
}

.section-related .grid-product__title {
	text-align: center;
	font-weight: 500;
}

@media only screen and (max-width: 768px) {
	.section-related .grid-product__title {
		font-size: 13px;
		line-height: 1.46;
		letter-spacing: 0.5px;
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: 590px) {
	.section-related .grid-product__title {
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.6px;
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 768px) {
	.section-related .grid-product__price {
		margin-bottom: 15px;
	}
}

@media only screen and (min-width: 590px) {
	.section-related .grid-product__price {
		margin-bottom: 25px;
	}
}

.section-related .grid-product__title {
	font-size: 14px;
	margin-bottom: 0;
}

.section-related .grid-product__price > div {
	text-align: center;
}

.section-related .grid-product__price > div > .grid-strike-through {
	margin: 0;
	font-size: 12px;
	color: #bdbdbd;
	font-weight: 500;
	text-decoration: line-through;
}

.section-related .grid-product__price > div > .grid-strike-through .money {
	margin: 6px 0;
}

.section-related .grid-product__price > div > .money {
	display: block;
	line-height: 1;
}

.section-related .grid-product__price > div > .money {
	font-size: 16px;
	color: #2c2c2c;
	font-weight: 600;
}

@media only screen and (max-width: 768px) {
	.section-related .grid-product__price > div > .money {
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {
	.section-ig {
		background-color: #f2f2f2;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.section-ig .foursixty-wrap {
		padding: 20px 0 40px;
	}
}

@media only screen and (min-width: 590px) {
	.section-ig .foursixty-wrap {
		margin-bottom: 40px;
		padding: 40px 0 0;
	}
}

.section-ig h2,
.section-ig h3 {
	text-align: center;
}

.section-ig h2 {
	color: #262626;
	font-size: 38px;
	font-weight: 600;
	line-height: 1.24;
	letter-spacing: normal;
	color: #262626;
	margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.section-ig h2 {
		font-size: 21px;
		line-height: 1.14;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}

.section-ig h3 a {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.7px;
	color: #C6AF76;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
	.section-ig h3 a {
		display: none;
	}
}

.section-ig .fs-has-links {
	display: none;
}

.section-ig .fs-wrapper {
	height: auto;
	margin-top: 15px;
}

@media only screen and (max-width: 768px) {
	.section-ig .fs-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		overflow-x: scroll !important;
		-webkit-overflow-scrolling: touch !important;
	}
}

@media only screen and (max-width: 768px) {
	.section-ig .fs-slider-container {
		margin-left: -20px;
		margin-right: -20px;
		width: calc(100% + 40px);
		max-width: calc(100% + 40px);
	}
}

.section-ig .fs-mobile div.fs-entry-container {
	height: 0 !important;
	width: 16.6666% !important;
	padding-top: 16.6666% !important;
}

@media only screen and (max-width: 768px) {
	.section-ig .fs-mobile div.fs-entry-container {
		width: calc(100% / 2.2) !important;
		padding-top: calc(100% / 2.2) !important;
	}
}

.section-ig .fs-wrapper div.fs-text-container .fs-entry-title, .section-ig div.fs-detail-title {
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
}

.section-ig div.fs-text-container .fs-entry-date, .section-ig div.fs-detail-container .fs-post-info, .section-ig div.fs-wrapper div.fs-has-links::after, .section-ig .fs-text-product, .section-ig .fs-overlink-text {
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
}

.section-ig .fs-wrapper div.fs-text-container * {
	color: black;
}

.section-ig .fs-wrapper div.fs-text-container {
	background-color: rgba(255, 255, 255, 0.77);
	margin: 0px;
}

.section-ig div.fs-entry-date {
	display: none;
}

.section-ig div.fs-entry-title {
	display: none;
}

@media only screen and (max-width: 768px) {
	.section-ig .fs-wrapper div.fs-timeline-entry {
		border: solid 5px #ffffff;
		margin: 0 2px;
	}
}

@media only screen and (min-width: 590px) {
	.section-ig .fs-wrapper div.fs-timeline-entry {
		margin: 10px;
	}
}

.section-ig .fs-wrapper {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.grid,
	.grid--full {
		margin-left: -20px;
	}
}

@media only screen and (max-width: 768px) {
	.grid .grid__item,
	.grid--full .grid__item {
		padding-left: 20px;
	}

	.section-stories {
		.story {
			&.grid__item {
				vertical-align: text-top;
			}
		}
	}
}


@media only screen and (max-width: 768px) {
	.product-single__upsale {
		padding-bottom: 10px;
		padding-top: 25px;
	}
}

@media only screen and (min-width: 590px) {
	.product-single__upsale {
		padding-top: 20px;
	}
}

.product-single__upsale__title {
	font-size: 12px;
	color: #272C3B;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
	.product-single__upsale__title {
		margin: -2px 0 10px;
		text-align: center;
	}
}

@media only screen and (min-width: 590px) {
	.product-single__upsale__title {
		margin: -5px 0 10px;
	}
}

.product-single__upsale .add-acs-wrap {
	position: relative;
}

@media only screen and (min-width: 590px) {
	.product-single__upsale .add-acs-wrap {
		padding-right: 20px;
	}
}

.product-single__upsale .add-acs-wrap .slick-track {
	cursor: inherit;
	min-width: 100%;
}

.product-single__upsale .add-acs-wrap .slick-dotted.slick-slider {
	margin-bottom: 0;
}

.product-single__upsale .add-acs-wrap .acs-slider-arrow {
	position: absolute;
	top: 145px;
	z-index: 2;
	@media only screen and (max-width: 768px) {
		top: 121px;
	}
}

.product-single__upsale .add-acs-wrap .acs-slider-arrow.acs-slider-arrow-right {
	right: 0;
}

.product-single__upsale .add-acs-wrap .acs-slider-arrow.acs-slider-arrow-prev {
	display: none;
}

@media only screen and (max-width: 768px) {
	.product-single__upsale .add-acs-wrap .acs-slider-arrow {
		&.acs-slider-arrow-prev {
			left: -15px;
			display: inline-block;
		}

		&.acs-slider-arrow-right {
			right: -15px;
		}
	}
}

.product-single__upsale .add-acs-wrap .acs-slider-arrow:focus, .product-single__upsale .add-acs-wrap .acs-slider-arrow:active {
	border: 0;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media only screen and (max-width: 768px) {
	.product-single__upsale .add-acs-wrap .slick-dots {
		display: none !important;
	}
}

.product-single__upsale .acs-product {
	text-align: center;
	position: relative;
	float: left;
	height: 100%;
	min-height: 1px;
	max-width: 33.3333%;
	display: block;
}

@media only screen and (min-width: 590px) {
	.product-single__upsale .acs-product {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.product-single__upsale .acs-product__image-mask {
	width: 70px;
	margin: 0 auto 10px;
}

.product-single__upsale .acs-product__content {
	cursor: pointer !important;
}

.product-single__upsale .acs-product__price {
	color: #C6AF76;
	letter-spacing: 1px;
	font-size: 14px;
	margin-bottom: 5px;
}

.product-single__upsale .acs-product__title {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: normal;
	color: #818287;
}

.product-single__upsale .acs-product__select {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 120px;
	border: 3px solid #bdbdbd;
	margin: 13px 0 0;
	opacity: 0;
}

.product-single__upsale .acs-product__select.loaded {
	border: 1px solid #000000;
	border-radius: 0;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	color: #000;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
	width: 120px;
	opacity: 1;
	height: 24px;
}

.product-single__upsale .acs-product__select.loaded.selected {
	color: #FFFFFF;
	background: #C6AF76;
	border-color: #C6AF76;
}

.product-single__upsale .acs-product__meta {
	min-height: 82px;
}

.product-single__upsale .acs-count {
	display: none;
}

.product-single__upsale .acs-count.active {
	display: inline-block;
}

.promoted-products-box {
	display: none !important;
}

@media only screen and (min-width: 590px) {
	.section-stories {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.product-single__upsale .acs-product__select.loaded {
		width: 80px;
	}
	.section-stories {
		background-color: #f2f2f2;
		padding-top: 20px;
	}
}

.section-stories .grid-overflow-wrapper {
	margin-right: -20px;
	margin-left: -20px;
}

.section-stories .grid-overflow-wrapper .grid__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 80vw;
	flex: 0 0 80vw;
}

.section-stories h2 {
	color: #262626;
	font-size: 38px;
	font-weight: 600;
	line-height: 1.24;
	letter-spacing: normal;
	color: #262626;
	margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.section-stories h2 {
		font-size: 21px;
		line-height: 1.14;
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}

.section-stories .grid-item {
	padding-left: 25px;
}

.section-stories .stories-content .story .story-img {
	width: 100%;
	height: 0;
	padding-bottom: 85%;
	background-size: cover;
	background-position: center center;
	border: 6px solid #fff;
	margin-left: -6px;
}

.section-stories .stories-content .story h3 {
	font-size: 18px;
	line-height: 1.44;
	letter-spacing: 0.7px;
	margin: 15px 0 5px;
	padding-right: 20px;
}

.section-stories .stories-content .story .story-text {
	line-height: 1.53;
	padding-right: 20px;
}

.modal .product-single__upsale {
	display: none;
}

.bundle-addition {
	border: 5px solid #F1F1F1;
	padding: 12px;
	margin: 25px 0 0;
}

@media only screen and (max-width: 768px) {
	.bundle-addition {
		margin-bottom: 25px;
	}
}

.bundle-addition .bundle-offer {
	padding: 0 0 5px 5px;
}

.bundle-addition .bundle-offer > div {
	text-transform: uppercase;
	color: #7FD489;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	padding-left: 5px;
}

.bundle-addition .bundle-plus {
	font-weight: 600;
	font-size: 24px;
	padding-left: 3px;
}

.bundle-addition .bundle-plus + .image-wrap {
	position: relative;
	overflow: visible;
}

.bundle-addition .bundle-plus + .image-wrap:after {
	content: "";
	position: absolute;
	height: calc(100% - 15px);
	width: 1px;
	background: #D8D8D8;
	top: 7px;
	right: -10px;
}

.bundle-addition .bundle-message {
	margin-left: 10px;
	padding: 0 20px 0 30px;
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: 0.54px;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
	.bundle-addition .bundle-message {
		padding: 0 5px 0 20px;
		font-size: 12px;
	}
	.bundle-addition .bundle-message br {
		display: none;
	}
}

.bundle-addition .image-wrap {
	padding: 0;
}

.bundle-item .js-qty__wrapper,
.bundle-item .ajaxcart__product-meta,
.bundle-item .cell-qty,
.bundle-item .line-properties,
.bundle-item .ajaxcart__price-wrap {
	display: none;
}

.bundle-item .cart__product-meta,
.bundle-item .cart__product-qty {
	visibility: hidden !important;
}

.bundle-item .ajaxcart__discount {
	background: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/green-check.svg") no-repeat left 7px;
	text-align: left;
	padding-left: 20px;
}

@media only screen and (max-width: 768px) {
	.bundle-item .ajaxcart__discount {
		background-position: left 8px;
	}
}

.bundle-item .grid__item.one-half.text-right {
	text-align: left !important;
}

.bundle-item .cell-qty + .one-half {
	width: 100%;
}

.bundle-main-watch .ajaxcart__product-meta-variation,
.bundle-main-watch .ajaxcart__product-meta-label,
.bundle-main-watch .cart__product-meta-variant {
	display: none;
}

.bundle-main-watch .ajaxcart__product-meta {
	padding-top: 5px;
}

.drawer__footer .ajaxcart__savings,
.drawer__footer .ajaxcart__note {
	display: none;
}

.template-product #someone-purchased {
	display: none !important;
}

@media only screen and (max-width: 768px) {
	.template-product > .zopim {
		left: 5px !important;
		right: auto !important;
		-webkit-transform: translateY(-53px) !important;
		-ms-transform: translateY(-53px) !important;
		transform: translateY(-53px) !important;
	}
}

.add-to-cart-modal-bundler {
	min-height: 45px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.back-to-catalogue {
	width: 100%;
	border-bottom: 1px solid #f0f1f3;
	font-size: 13px;
	text-align: center;
	margin-top: -15px;
	margin-bottom: 15px;
}

.back-to-catalogue a {
	display: block;
	padding: 10px 0;
}

.back-to-catalogue a span {
	display: inline-block;
	vertical-align: middle;
}

.back-to-catalogue a span.chevron {
	border: 1px solid #f0f1f3;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	margin-right: 5px;
}

.back-to-catalogue a span.chevron .icon {
	width: 5px;
	vertical-align: middle;
	margin-top: -7px;
	margin-left: -1px;
}

.add-acs {
	max-width: 425px;
	display: none;

	&.slick-initialized {
		display: block;
	}
}

.product-single__limited {
	font-size: 14px;
	padding: 15px 0 0;
}

@media screen and (max-width: 768px) {
	.product-single__limited {
		text-align: center;
		padding: 25px 0 0;
	}
}

.product-single__limited .limited-title {
	font-weight: bold;
}

@media screen and (min-width: 769px) {
	.product-single__limited .limited-title {
		display: inline-block;
	}
	.product-single__limited .limited-title:after {
		content: ":";
		margin-left: -3px;
	}
}

.product-single__limited .limited-text {
	font-style: italic;
}

@media screen and (min-width: 769px) {
	.product-single__limited .limited-text {
		display: inline-block;
	}
}

.product-single__offer {
	padding-top: 15px;
}

@media screen and (max-width: 768px) {
	.product-single__offer {
		text-align: center;
	}
}

@media screen and (min-width: 769px) {
	.product-single__offer .subtitle {
		margin-bottom: 20px;
	}
}

.product-single__offer .offer-text p {
	font-size: 15px;
}

.product-single__meta .index-section--text-image {
	margin-top: 35px !important;
}

@media screen and (max-width: 768px) {
	.product-single__meta .index-section--text-image {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.product-single__meta .offer-exp {
	display: none;
}

@media screen and (max-width: 768px) {
	.product-section-bonus {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 769px) {
	.product-section-bonus {
		margin: 0;
		border: 4px solid #f3f3f3;
	}
	.product-section-bonus .page-width,
	.product-section-bonus .feature-row {
		padding: 0;
		margin: 0;
	}
}

@media screen and (min-width: 769px) {
	.product-section-bonus .image-wrap {
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 233px;
		background-color: #efefef;
	}
	.product-section-bonus .image-wrap img {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.product-section-bonus .image-wrap {
		padding-bottom: 58% !important;
		height: 0;
		background-image: none !important;
	}
}

@media screen and (min-width: 769px) {
	.product-section-bonus .feature-row {
		-webkit-box-align: stretch !important;
		-ms-flex-align: stretch !important;
		align-items: stretch !important;
	}
}

@media screen and (min-width: 769px) {
	.product-section-bonus .feature-row__item {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-negative: 1;
		flex-shrink: 1;
		-ms-flex-item-align: stretch !important;
		-ms-grid-row-align: stretch !important;
		align-self: stretch !important;
	}
}

@media screen and (min-width: 769px) {
	.product-section-bonus .feature-row__item:first-child .image-wrap {
		height: 100%;
	}
}

@media screen and (max-width: 768px) {
	.product-section-bonus .feature-row__text--left {
		margin-top: 0;
		padding-top: 0;
	}
}

@media screen and (min-width: 769px) {
	.product-section-bonus .feature-row__text--left {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
	}
	.product-section-bonus .feature-row__text--left .subtitle {
		font-size: 12px;
	}
	.product-section-bonus .feature-row__text--left .h3 {
		font-size: 24px;
	}
}

.product-section-bonus .feature-row__text--left .featured-row__subtext p {
	margin-bottom: 0;
}

@media screen and (min-width: 769px) {
	.product-section-bonus .feature-row__text--left .featured-row__subtext p {
		font-size: 12px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (min-width: 769px) {
	.product-section-bonus .feature-row__text {
		padding-bottom: 5px;
	}
}

.product-section-bonus .bonus-value {
	font-weight: 500;
	margin-top: -10px;
	margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
	.product-section-bonus .bonus-value {
		font-size: 14px;
		margin-top: -25px;
		margin-bottom: 15px;
	}
}

.offer-exp #countdown {
	display: inline-block;
}

.section-stories {
	background-color: transparent;
	padding-top: 20px;
}

@media screen and (max-width: 768px) {
	.section-stories {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.section-stories .stories-content .slick-list {
		padding: 0 20% 0 0px !important;
	}
}

@media screen and (min-width: 769px) {
	.section-stories .product-specs__title {
		text-align: center;
		margin-bottom: 50px;
		margin-top: 30px;
	}
	.section-stories .grid-overflow-wrapper .stories-content {
		margin-left: 0;
	}
	.section-stories .grid-overflow-wrapper .grid__item {
		width: 25%;
		padding-right: 0;
		padding-left: 10px;
	}
	.section-stories .grid-overflow-wrapper .grid__item .story-title {
		font-family: DM Sans;
		font-size: 18px;
		font-weight: 600;
		color: #000;
	}
}

.product--preorder .product-single__highlight,
.product--preorder .section-ig {
	display: none;
}

@media screen and (min-width: 769px) {
	.product-single__highlight {
		padding-bottom: 20px;
	}
}

.product-info-section {
	padding-bottom: 30px;
}

.product-section .product__price > span.strike-through {
	color: #c6af76;
}

/* Custom Styles */
.shopify-section.hero-section .btn-groups-links a.btn {
	border: 1px solid #fff;
	color: #fff;
}

/* ATC button color change */
.template-product .product-single__form .add-to-cart {
	@media (max-width: 798px) {
		background-color: #80D38B;
	}
}

/* Video Reviews Section */
.section-video-reviews {
	.section-header__title {
		text-align: center;
	}

	.section-header__subtitle {
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		color: #818287;
		margin-top: 20px;
		font-style: normal;
		font-weight: normal;
	}

	.video-reviews-wrapper {
		display: flex;
		align-items: center;
		margin-top: 50px;
		justify-content: center;
		flex-wrap: wrap;

		.video-review-block {
			width: 30%;
			margin-left: 1.5%;
			margin-right: 1.5%;
			overflow: hidden;
			@media (max-width: 798px) {
				width: 90%;
			}

			.url_video_home {
				.bg_image_home_video {
					width: auto;
					height: auto;
					display: inline-block;
					overflow: hidden;

					.overlay {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: linear-gradient(0deg, rgba(129, 130, 135, 0.5), rgba(129, 130, 135, 0.5));
						opacity: 0;
						transition: all 0.3s;
						z-index: 1;
					}

					img {
						transition: all 0.3s;
						float: left;
					}

					.play_button {
						top: 50%;
						left: 50%;
						right: inherit;
						bottom: inherit;
						transform: translate(-50%, -50%);

						.button_play_video_home {
							background: #FFFFFF;
							box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
							width: auto;
							height: auto;
							display: inline-block;
							padding: 17px 16px 17px 20px;
							border-radius: 50%;
							transition: all 0.3s;

							svg {
								float: left;
							}
						}
					}

					.text_block {
						left: 20px;
						right: inherit;
						bottom: 20px;
						display: inline-block;

						.video-review-title {
							font-style: normal;
							font-weight: 600;
							font-size: 16px;
							line-height: 24px;
							color: #FFFFFF;
							display: block;
						}

						.video-review-subtitle {
							font-style: normal;
							font-weight: 300;
							font-size: 14px;
							line-height: 24px;
							color: #FFFFFF;
							display: block;
							margin-top: 10px;
						}
					}
				}
			}

			&:hover {
				.url_video_home .bg_image_home_video .overlay {
					opacity: 1;
				}

				.url_video_home .bg_image_home_video img {
					transform: scale3d(1.1, 1.1, 1);
				}

				.url_video_home .bg_image_home_video .play_button .button_play_video_home {
					background: #000000;

					svg path {
						fill: #fff;
					}
				}
			}
		}
	}
}

/* Stamped.io Reviews */
.stamped-product-reviews-badge {
	margin-bottom: 20px;
}


/* Product page icons */
.product-icons-wrapper {
	@media (max-width: 798px) {
		margin-top: 25px;
	}

	.product-icon {
		width: 33.33%;
		float: left;
		text-align: center;

		div {
			background-color: white;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			width: 40px;
			height: 40px;
			display: inline-flex;
			justify-content: center;
			aligh-items: center;
		}

		span {
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #000000;
			display: block;
		}
	}
}

/* Product page additional info */
.addinfo-row {
	span {
		font-weight: bold;
	}

	a {
		font-weight: normal;
	}

	@media (max-width: 798px) {
		text-align: center;
		order: -5;
		a {
			display: block;
		}
	}
}

/* Related Thumbs on Product Page */
.product-related__thumbs {
	padding-top: 30px;
	padding-bottom: 0px;
	display: inline-block;
	width: 100%;
	@media (max-width: 798px) {
		order: -2;
		display: inline-flex;
		justify-content: center;
	}

	.product-related__thumb {
		width: 50px;
		margin-right: 10px;
		margin-bottom: 10px;
		float: left;

		a {
			width: 100%;
			display: block;

			img {
				width: 100%;
			}
		}
	}
}

/* Product page availability */
.product-section__availability {
	margin-top: 15px;
	text-align: center;
	display: none;

	&.active {
		display: block;
	}

	svg {
		position: relative;
		top: 3px;
		margin-right: 8px;
	}

	&.av_value_1 span {
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		/* identical to box height, or 171% */

		text-align: center;

		color: #000;

		span {
			color: #000;
		}
	}

	&.av_value_2 span {
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		/* identical to box height, or 171% */

		text-align: center;

		color: #000;
	}

	&.av_value_3 span {
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		/* identical to box height, or 171% */

		text-align: center;

		color: #000;
	}
}

.product-section__availability.av_value_1 span span.product-section__availability-in_stockgreen {
	color: #58d073;
}
.available-watches:after {
	display: block;
	content: "";
	clear: both;
}

.available-watches .medium-up--one-quarter {
	width: 16%;
}

.available-watches {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.available-watches-wrap h2 {
	margin: 0 !important;
	font-family: FL Sans, sans-serif !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 24px !important;
	line-height: 34px !important;
	text-align: center !important;
	text-transform: uppercase !important;
	letter-spacing: 0.025em;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	color: #000;
}

.available-watches-wrap .separator {
	width: 65px;
	height: 2px;
	background: black;
	margin: 30px auto 35px;
}

.available-watches-wrap {
	padding-top: 50px;
	margin-bottom: 50px;
}

.swym-button-bar {
	display: none !important;
}

.available-watches .grid-product__title {
	min-height: 60px;
}

@media only screen and (max-width: 1200px) {
	.available-watches .medium-up--one-quarter {
		width: 25%;
	}
}

.similar-products {
	padding-top: 35px;
}

.similar-products:after {
	display: block;
	content: '';
	clear: both;
}

.similar-products .grid-product {
	padding-left: 0;
	width: 14%;
	margin-right: 0.3%;
}

.similar-products .grid-product .grid-product__meta {
	display: none;
}

.similar-products .grid-product .product-bottom-container {
	display: none;
}


.stock-info {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.stock-info-img {
	width: 40px;
	height: 40px;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}
.stock-info-text p {
	font-size: 14px;
	line-height: 24px;
	color: #000;
	margin: 0;
}
.stock-info-progress-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.stock-info-progress-text p{
	margin-bottom: 0;
}
.stock-info-wrap {
	width: 100%;
	max-width: 384px;
	padding-top: 25px;
}
.stock-info-bar {
	background: #E6E6E6;
	border-radius: 4px;
	height: 8px;
	position: relative;
	margin-bottom: 8px;
}
.stock-info-bar-progress {
	background: linear-gradient(90deg, #000000 0%, #C6AF76 100%);
	border-radius: 4px;
	width: 33%;
	height: 8px;
}
.logo-bar {
	text-align: center;
	//margin-bottom: $gutter;
	@include media-query($medium-down) {
		margin-bottom: -21px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	.logo-bar__item {
		//flex: 0 1 110px;
		width: 100%;
		vertical-align: middle;
		//margin: 0 ($gutter / 2) ($gutter / 1.5);
		//@include media-query($medium-up) {
		//flex: 0 1 160px;
		//margin: 0 ($gutter / 1.5) $gutter;
		//}
		.logo-bar__image {
			display: block;
			width: 85px;
			height: auto;
		}
	}
	.logo-bar__link {
		display: block;
	}
	.slick-list {
		width: 100%;
		display: block;
		.slick-track {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: $page-width;
		}
	}
}


@if ($animate_images) {
	[data-aos="logo__animation"] .logo-bar__item {
		opacity: 0;

		.ie9 & {
			opacity: 1;
		}
	}

	[data-aos="logo__animation"].aos-animate .logo-bar__item {
		-webkit-animation: fade-in 0.5s ease 0s forwards;
		animation: fade-in 0.5s ease 0s forwards;
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(2) {
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(3) {
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(4) {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(5) {
		-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(6) {
		-webkit-animation-delay: 1.0s;
		animation-delay: 1.0s;
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(7) {
		-webkit-animation-delay: 1.2s;
		animation-delay: 1.2s
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(8) {
		-webkit-animation-delay: 1.4s;
		animation-delay: 1.4s;
	}
	[data-aos="logo__animation"].aos-animate .logo-bar__item:nth-child(9) {
		-webkit-animation-delay: 1.6s;
		animation-delay: 1.6s;
	}
}
.fl-sans {
	font-family: 'FL Sans', sans-serif;
}
.grid-product__price {
	margin-bottom: 8px;
}

