@import 'global/mixins';
@import 'global/variables';

#shopify-section-list-collections-template{
	.grid__item{
		margin-bottom: 50px;
	}
	.skrim__item-content{
		position: relative;
		display: block;
		height: 100%;
	}
}
.collection-banner-section {
	padding-top: 40px;
	margin-bottom: 52px;
	.section-inner{
		width: 100%;
		max-width: 1250px;
		padding: 0 15px;
		margin: 0 auto;
		box-sizing: border-box;
		.collection-banner-bg {
			padding: 111px 104px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: right center;
			@media (max-width:992px) {
				background-image: none;
			}
			.collection-banner-content {
				max-width: 384px;
				.collection-banner-title {
					h1 {
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 32px;
						line-height: 40px;
						font-feature-settings: 'ss01' on;
						color: #000000;
						margin-bottom: 16px;
					}
				}
				.collection-banner-text{
					p{
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 24px;
						color: #000000;
						margin-bottom: 26px;
						max-width: 265px;
					}
				}
				.collection-banner-link{
					a{
						border-radius: 2px;
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 24px;
						text-align: center;
						letter-spacing: 2.5px;
						text-transform: uppercase;
						padding: 12px 48px;
						display: inline-block;
					}
				}
			}
		}
		.show-mobile{
			display: none;
			@media (max-width: 992px){
				display: block;
			}
		}
	}
}

.skrim__overlay{
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.skrim__title{
	font-size: 14px;
	transition: 0.5s;
	opacity: 1;
	bottom: 10px;
	width: calc(100% - 26px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	margin: 5px 25px 50px 25px;
	pointer-events: none;
	text-align: center;
}

.grid-product, .grid-product__image-mask{
	position: relative;
}
.collection-filter {
	select {
		display: block;
		width: 100%;
	}

	.grid__item:nth-child(2) {
		float: right;
	}

	margin-bottom: $gutter / 2;
}

/*================ Module | Collection images at top of templates ================*/

.collection-hero {
	position: relative;
	width: 100%;
	height: 330px;
	overflow: hidden;
	background: $colorLargeImageBg;
	@include media-query($medium-up) {
		height: 550px;
	}
}

.collection-hero__spacer {
	height: 330px;
	@include media-query($medium-up) {
		height: 550px;
	}
}

.collection-hero__image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.collection-hero__content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;

	.page-width {
		width: 100%;
	}

	&:before {
		@include overlay();
		@include heroScrim();
		transition: opacity 2.5s ease;
		opacity: 0;
		display: block;
	}
}

.collection-hero.loaded .collection-hero__content {
	&:before {
		opacity: 1
	}
}

/* Apply animations */

@if ($animate_sections) {
	.collection-hero {
		.collection-hero__image {
			opacity: 0;

			.ie9 &,
			.no-js & {
				opacity: 1;
			}
		}

		.section-header__title .animation-contents {
			opacity: 0;

			.ie9 &,
			.no-js & {
				opacity: 1;
			}
		}

		.collection-hero__image.lazyloaded {
			-webkit-animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
			animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		}

		&.loaded {
			.section-header__title .animation-contents {
				-webkit-animation: $animate_sections_text_style 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards;
				animation: $animate_sections_text_style 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards;
			}
		}
	}
}


.collection-featured-link,
.template-collection .grid.product-list .grid-product .product-bottom-container .btn-shop-now {
	-webkit-transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
}

.filter-total {
	text-align: center;
	padding: 10px 0;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -85px;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
}

.filter-total.open {
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.filter-total {
		bottom: -50px;
		font-size: 12px;
	}
}

.collection-filter-container {
	position: relative;
}

.collection-filter-container .filter-nav-container {
	display: block;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	margin: 0;
	position: relative;
	min-height: 58px;
}

.collection-filter-container .filter-nav-container li.filter-nav {
	display: inline-block;
	border-right: 1px solid #e3e3e3;
	min-width: 170px;
	padding: 20px 30px;
	margin: 0;
	text-align: center;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	color: #000000;
	-webkit-transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 0.3s cubic-bezier(0.5, 0, 0.07, 1);
}

.collection-filter-container .filter-nav-container li.filter-nav[data-href="#filter_size"] {
	display: none;
}

.collection-filter-container .filter-nav-container li.filter-nav:first-child {
	border-left: 1px solid #e3e3e3;
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-sort {
	position: absolute;
	border-left: 1px solid #e3e3e3;
	top: 0;
	right: 0;
	padding: 0;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort {
		position: relative;
	}
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-sort a.btn-sort-toggle {
	padding: 20px 30px;
	display: block;
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-sort a.btn-sort-toggle .icon {
	width: 10px;
	margin-left: 10px;
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-sort ul {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	list-style: none;
	padding: 20px 0px;
	background: #ffffff;
	z-index: 9;
}

@media screen and (min-width: 769px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort ul {
		border: 1px solid #e3e3e3;
		-webkit-box-shadow: 0 22px 24px 0 transparent;
		box-shadow: 0 22px 24px 0 transparent;
	}
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort ul {
		border-top: 1px solid #e3e3e3;
		position: relative;
		background-color: #fff;
		margin-bottom: -1px;
	}
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-sort ul li {
	white-space: nowrap;
	display: block;
	padding: 20px 40px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #262626;
	opacity: 0;
	-webkit-transition: opacity 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: opacity 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	transition: opacity 0.3s cubic-bezier(0.5, 0, 0.07, 1);
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-sort ul li.active {
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort.opened ul {
		-webkit-box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.07);
		box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.07);
	}
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-sort.opened ul li {
	opacity: 1;
	-webkit-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag {
	border: none;
	padding: 0;
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .btn-tag-filter-toggle {
	padding: 20px 50px;
	display: none;
	position: relative;
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .btn-tag-filter-toggle img {
	position: absolute;
	left: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .btn-tag-filter-toggle .icon {
	width: 10px;
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-container {
	display: block;
	margin: 0;
	-webkit-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-container {
		margin-left: 7px;
		margin-right: 7px;
	}
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-container .filter-nav.active {
	font-weight: 600;
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-container .filter-nav.grey {
	color: #a1a4a6;
}

.collection-filter-container .filter-content-container {
	text-align: center;
	position: relative;
	display: block;
	height: 0;
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 0.4s cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 0.4s cubic-bezier(0.5, 0, 0.07, 1);
	overflow: hidden;
	-webkit-box-shadow: 0 22px 24px 0 transparent;
	box-shadow: 0 22px 24px 0 transparent;
}

.collection-filter-container .filter-content-container.open {
	opacity: 1;
	-webkit-box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.07);
	box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.07);
}

.collection-filter-container .filter-content-container.open[data-current="#filter_color"] {
	height: 162px;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container.open[data-current="#filter_color"] {
		height: 248px;
	}
}

.collection-filter-container .filter-content-container.open[data-current="#filter_size"] {
	height: 322px;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container.open[data-current="#filter_size"] {
		height: 248px;
	}
}

.collection-filter-container .filter-content-container.open[data-current="#filter_bracelet_type"] {
	height: 262px;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container.open[data-current="#filter_bracelet_type"] {
		height: 248px;
	}
}

.collection-filter-container .filter-content-container.open[data-current="#filter_collection"] {
	height: 416px;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container.open[data-current="#filter_collection"] {
		height: 632px;
	}
}

.collection-filter-container .filter-content-container .filter-content {
	display: block;
	padding: 30px 0px;
	-webkit-transition: all 0.25s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 0.25s cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 0.25s cubic-bezier(0.5, 0, 0.07, 1);
	opacity: 0;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
	-webkit-transition-delay: 0;
	-o-transition-delay: 0;
	transition-delay: 0;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container .filter-content {
		top: 25px;
	}
	.collection-filter-container .filter-content-container .filter-content#filter_color {
		padding-top: 42px;
	}
}

.collection-filter-container .filter-content-container .filter-content.active {
	opacity: 1;
	z-index: 2;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container .filter-content.active {
		top: 33px;
	}
}

.collection-filter-container .filter-content-container .filter-content .filter-item {
	padding: 10px;
	display: inline-block;
	min-width: 100px;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: center;
	color: #000000;
	position: relative;
}

.collection-filter-container .filter-content-container .filter-content .filter-item:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 6px;
	-webkit-transition: border 0.25s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: border 0.25s cubic-bezier(0.5, 0, 0.07, 1);
	transition: border 0.25s cubic-bezier(0.5, 0, 0.07, 1);
}

@media screen and (min-width: 769px) {
	.collection-filter-container .filter-content-container .filter-content .filter-item:hover:after {
		border: 1px solid #e4e4e4;
	}
}

.collection-filter-container .filter-content-container .filter-content .filter-item.selected {
	background: #e6e6e6;
}

.collection-filter-container .filter-content-container .filter-content .filter-item.selected:after {
	border: 3px solid #e4e4e4;
}

.collection-filter-container .filter-content-container .filter-content .filter-item.selected .filter-item-label {
	font-weight: 700;
}

.collection-filter-container .filter-content-container .filter-content .filter-item img {
	display: block;
	margin: 0 auto 15px;
	max-width: 150px;
}

.collection-filter-container .filter-content-container .filter-content .filter-item.color-item .color-item-img {
	display: block;
	margin: 0 auto 15px;
	width: 50px;
	height: 50px;
	border-radius: 6px;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item .color-item-img {
		margin: 0;
		width: 28px;
		height: 28px;
	}
}

.collection-filter-container .filter-content-container .filter-content .filter-item.color-item .color-item-img img {
	margin: 0;
	max-width: 100%;
}

.collection-filter-container .filter-content-container .filter-content .filter-type-container {
	display: inline-block;
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
}

.collection-filter-container .filter-content-container .filter-content .filter-type-container .filter-type-item {
	padding: 15px 10px;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #262626;
	-webkit-transition: opacity 0.25s cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: opacity 0.25s cubic-bezier(0.5, 0, 0.07, 1);
	transition: opacity 0.25s cubic-bezier(0.5, 0, 0.07, 1);
}

.collection-filter-container .filter-content-container .filter-content .filter-type-container .filter-type-item.active {
	font-weight: 600;
}

.collection-filter-container .filter-content-container .filter-content .filter-collection-title {
	display: none;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: center;
	color: #000000;
	padding: 15px 0px 20px;
}

@media screen and (max-width: 1330px) {
	.collection-filter-container .filter-nav-container li.filter-nav {
		min-width: 150px;
		padding: 20px 20px;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort a.btn-filter {
		padding: 20px 20px;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort ul li {
		padding: 10px 20px;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #262626;
	}
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort ul {
		width: 100vw;
		left: -50vw;
	}
}

@media screen and (max-width: 1000px) {
	.collection-filter-container .filter-nav-container {
		text-align: left;
	}
}

@media screen and (max-width: 768px) {
	.collection-filter-container {
		font-size: 10px;
	}
	.collection-filter-container .filter-nav-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort {
		width: 50%;
		position: relative;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort .btn-sort-toggle {
		position: relative;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort .btn-sort-toggle .icon {
		position: absolute;
		right: 20px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-sort.opened .btn-sort-toggle {
		font-weight: 600;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag {
		width: 50%;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag.opened .btn-tag-filter-toggle {
		font-weight: 600;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .btn-tag-filter-toggle {
		display: block;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border {
		margin-top: 10px;
		padding: 5px;
		position: absolute;
		width: 100vw;
		right: 0;
	}
}

@media screen and (max-width: 768px) and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border {
		max-height: 0;
		padding: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.3s cubic-bezier(0.5, 0, 0.07, 1);
		-o-transition: max-height 0.3s cubic-bezier(0.5, 0, 0.07, 1);
		transition: max-height 0.3s cubic-bezier(0.5, 0, 0.07, 1);
	}
}

@media screen and (max-width: 768px) and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border.opened {
		max-height: 300px;
	}
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		background-color: #f4f4f4;
		padding: 0px 10px;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container .filter-nav {
		padding: 15px 5px;
		min-width: initial;
		border: none;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container .filter-nav:not(:first-child) {
		margin-left: 15px;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container .filter-nav:not(:last-child) {
		margin-right: 15px;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container .filter-nav.active {
		font-weight: 600;
	}
	.collection-filter-container .filter-content-container {
		margin-top: 60px;
		font-size: 10px;
	}
	.collection-filter-container .filter-content-container .filter-content {
		padding: 0;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item {
		padding: 20px;
		width: 48%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.collection-item {
		width: 32%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item:nth-child(1), .collection-filter-container .filter-content-container .filter-content .filter-item.color-item:nth-child(3) {
		margin-right: 1%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item:nth-child(2), .collection-filter-container .filter-content-container .filter-content .filter-item.color-item:nth-child(4) {
		margin-left: 1%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item:nth-child(1), .collection-filter-container .filter-content-container .filter-content .filter-item.color-item:nth-child(2) {
		margin-bottom: 2%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item img,
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item .color-item-img {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		margin-right: 15px;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item .filter-item-label {
		display: inline-block;
		vertical-align: middle;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.size-item:nth-child(1), .collection-filter-container .filter-content-container .filter-content .filter-item.size-item:nth-child(3), .collection-filter-container .filter-content-container .filter-content .filter-item.bracelet-item:nth-child(1), .collection-filter-container .filter-content-container .filter-content .filter-item.bracelet-item:nth-child(3) {
		margin-right: 1%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.size-item:nth-child(2), .collection-filter-container .filter-content-container .filter-content .filter-item.size-item:nth-child(3), .collection-filter-container .filter-content-container .filter-content .filter-item.bracelet-item:nth-child(2), .collection-filter-container .filter-content-container .filter-content .filter-item.bracelet-item:nth-child(3) {
		margin-left: 1%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.collection-item {
		margin-bottom: 3px;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item img {
		max-width: 100%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.collection-item {
		width: 120px;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.collection-item img {
		max-width: 100%;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-type-container .filter-type-item {
		padding: 10px 15px;
		font-size: 8px;
		color: #262626;
		font-weight: 400;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-type-container .filter-type-item.active {
		font-weight: 600;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-collection-title {
		display: block;
	}
}

/**
  * Collection Product List
  */
.template-collection .grid.product-list {
	font-size: 0;
	letter-spacing: 0;
	text-align: center;
}

.template-collection .grid.product-list .collection-block-testimonials,
.template-collection .grid.product-list .collection-block-featured,
.template-collection .grid.product-list .collection-block-quiz {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: opacity, transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.template-collection .grid.product-list .collection-block-testimonials.hidden,
.template-collection .grid.product-list .collection-block-featured.hidden,
.template-collection .grid.product-list .collection-block-quiz.hidden {
	opacity: 0;
	-webkit-transform: translateY(12px);
	-ms-transform: translateY(12px);
	transform: translateY(12px);
	display: none;
}

.template-collection .grid.product-list .grid-product {
	float: none;
	display: inline-block;
	font-size: 15px;
	letter-spacing: normal;
	vertical-align: top;
	padding: 0;
	margin: 0 16px 56px;
	display: none;
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: opacity, transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	width: 100%;
	max-width: calc(25% - 24px);
	&:nth-child(4n+4){
		margin-right: 0;
		& + .grid-product{
			margin-left: 0;
		}
	}
	.grid-product__image-mask {
		margin-bottom: 16px;
		.wishlist-wrao{
			display: none;
		}
	}
	.grid-product__meta{
		padding: 0;
	}
	.grid-product__title{
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #000000;
		margin-bottom: 8px;
	}
	.grid-product__price{
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #6E6E6E;
		margin-top: 0;
		margin-bottom: 16px;
	}
	.product-bottom-container{
		text-align: center;
		margin-top: 0;
		margin-bottom: 24px;
		.btn-shop-now{
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			padding: 6px 22px 7px;
			box-sizing: border-box;
			border-radius: 2px;
			width: auto;
			display: inline-block;
			max-width: 185px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			background: #FF6F59;
			color: #fff;
			border: 1px solid transparent;
			&:hover{
				background: #FFFFFF;
				border-radius: 2px;
				color: #000000;
				border-color: #000000;
				svg{
					display: inline-block;
				}
			}
			svg{
				display: none;
				position: absolute;
				left: 15px;
				top: 5px;
			}
		}
	}
	&:hover{
		box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
	}
}
@media (max-width: 992px){
	.collection-banner-section{
		padding-top: 0;
		.section-inner{
			padding: 0;
			.collection-banner-bg{
				padding: 0;
				.collection-banner-content{
					display: none;
				}
			}
		}
	}
	.template-collection .grid.product-list .grid-product {
		max-width: calc(50% - 6px);
		margin: 0 4px 40px;
		.grid-product__image-mask{
			margin-bottom: 8px;
		}
		.grid-product__title{
			margin-bottom: 0;
			min-height: 0;
		}
		.product-bottom-container{
			margin-top: 0;
			margin-bottom: 8px;
			.grid-product__price{
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.btn-shop-now{
				display: block!important;
				padding: 6px 0 7px;
			}
		}
		&:nth-child(4n+4){
			margin-right: 0;
			& + .grid-product{
				margin-left: 0;
			}
		}
		&:nth-child(2n+2){
			margin-right: 0;
			& + .grid-product{
				margin-left: 0;
			}
		}
	}
}
.template-collection .grid.product-list .grid-product.hidden {
	opacity: 0;
	-webkit-transform: translateY(12px);
	-ms-transform: translateY(12px);
	transform: translateY(12px);
}

.template-collection .grid.product-list .grid-product.filtered {
	display: inline-block;
}

.template-collection .grid.product-list .grid-product .product-bottom-container {
	display: block;
	margin-top: 10px;
}
.collection-block-banner {
	background: linear-gradient(257.77deg, #F5F5F5 100%, rgba(250, 250, 250, 0) 100%);
	border-radius: 2px;
	padding: 52px 119px 52px 52px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 56px;
	@media (max-width: 800px){
		flex-direction: column;
		padding: 48px 30px 8px 30px;
		width: calc(100% + 29px);
		margin-left: -15px;
		margin-right: -15px;
	}
}
.collection-block-banner-image{
	@media (max-width: 800px){
		order: 2;
	}
}
.collection-block-banner-content h3 {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 16px;
	@media (max-width: 800px){
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 24px;
	}
}
.collection-block-banner-content a {
	font-family: DM Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #000000;
	display: inline-block;
	padding: 12px 0;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 2px;
	width: 100%;
}
.collection-block-banner-content {
	margin-left: 52px;
	@media (max-width: 800px){
		order: 1;
		margin-left: 0;
		margin-bottom: 32px;
	}
}

.template-collection .grid.product-list .grid-product .product-bottom-container .btn-quick-view {
	display: block;
	margin-top: 15px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.4px;
	text-align: center;
	color: #000000;
	text-decoration: underline;
	text-transform: uppercase;
	position: static;
	opacity: 1;
	background: transparent;
	width: 100%;
	height: auto;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

@media screen and (min-width: 769px) {
	.template-collection .grid.product-list .grid-product:hover .product-bottom-container, .template-collection .grid.product-list .grid-product.opened .product-bottom-container {
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.template-collection .grid.product-list .grid-product .product-bottom-container {
		display: block !important;
		padding-left: 10px;
		padding-right: 10px;
	}
	.template-collection .grid.product-list .grid-product .product-bottom-container .grid-product__price {
		padding-bottom: 15px;
	}
	.template-collection .grid.product-list .grid-product .product-bottom-container .grid-product__price.price-on-sale {
		padding-bottom: 4px;
	}
	.template-collection .grid.product-list .grid-product .product-bottom-container .btn-shop-now {
		font-size: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.template-collection .grid.product-list .grid-product .product-bottom-container .btn-quick-view {
		display: none !important;
	}
	.template-collection .grid.product-list .grid-product .product-bottom-container {
		opacity: 0;
		-webkit-transition: all 0.5s cubic-bezier(0.5, 0, 0.07, 1);
		-o-transition: all 0.5s cubic-bezier(0.5, 0, 0.07, 1);
		transition: all 0.5s cubic-bezier(0.5, 0, 0.07, 1);
	}
	.template-collection .grid.product-list .grid-product .product-bottom-container {
		opacity: 1;
		min-height: 30px;
	}
}

.template-collection .collection-block-quiz {
	padding: 50px 20px;
	text-align: center;
	font-size: 15px;
}

.template-collection .collection-block-quiz .collection-quiz-title {
	font-size: 38px;
	font-family: 'Rox Bold';
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #000000;
}

.template-collection .collection-block-quiz .collection-quiz-desc {
	max-width: 800px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: 0.8px;
	text-align: center;
	color: #000000;
}

.template-collection .collection-block-quiz .collection-quiz-link {
	text-transform: uppercase;
	display: inline-block;
	margin-top: 30px;
	text-decoration: underline;
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: 0.6px;
	text-align: center;
	color: #c6af76;
}

@media screen and (max-width: 768px) {
	.template-collection .collection-block-quiz .collection-quiz-title {
		font-size: 24px;
	}
	.template-collection .collection-block-quiz .collection-quiz-desc {
		font-size: 14px;
	}
	.template-collection .collection-block-quiz .collection-quiz-link {
		padding: 10px 40px;
		border: 1px solid #000000;
		font-size: 10px;
		text-decoration: none;
		color: #000000;
	}
}

.template-collection .collection-block-testimonials {
	padding: 40px 30px;
	text-align: center;
	border: 5px solid #f2f2f2;
	float: none;
	display: inline-block;
	@media screen and (max-width: 768px) {
		border-left: 0 !important;
		border-right: 0 !important;
	}
}

.template-collection .collection-block-testimonials h2 {
	text-align: left;
	margin-bottom: 0;
}

.template-collection .collection-block-testimonials h2 .testimonial-title {
	display: none;
}

.template-collection .collection-block-testimonials .tm-slider-wrap {
	margin-top: 0;
}

.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider .tm-slide__content p {
	padding: 30px;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.61;
	letter-spacing: 0.6px;
	text-align: center;
	color: #000000;
}

.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider .tm-slide__content .tm-image {
	background-color: transparent;
	max-width: 40%;
}

.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider .tm-slide__content .tm-image img {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider-arrow {
	top: auto;
	bottom: 30px;
}

.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider-arrow img {
	max-width: 15px;
}

.template-collection .collection-block-testimonials .tm-slider-nav a {
	padding: 0 25px;
}

@media screen and (max-width: 768px) {
	.template-collection .collection-block-testimonials {
		padding: 30px 40px;
	}
	.template-collection .collection-block-testimonials h2 {
		text-align: center;
		padding: 0px 35px;
	}
	.template-collection .collection-block-testimonials h2 img {
		display: none;
	}
	.template-collection .collection-block-testimonials h2 .testimonial-title {
		display: block;
		font-size: 12px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.42;
		letter-spacing: 2px;
		text-align: center;
		color: #c6af76;
	}
	.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider .tm-slide__content p {
		padding: 10px;
		font-size: 14px;
	}
	.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider-arrow {
		top: 50%;
	}
	.template-collection .collection-block-testimonials .slick-dots li {
		border-radius: 100%;
		background-color: #d8d8d8;
		width: 5px;
		height: 5px;
	}
	.template-collection .collection-block-testimonials .slick-dots li.slick-active {
		background-color: #666666;
		width: 8px;
		height: 8px;
		margin-top: -2px;
	}
}

.template-collection .collection-block-featured {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 15px;
	text-align: center;
}

.template-collection .collection-block-featured .left-column {
	width: 50%;
	padding: 50px;
}

.template-collection .collection-block-featured .right-column {
	width: 50%;
	padding: 50px;
}

.template-collection .collection-block-featured .right-column .collection-featured-title {
	font-size: 38px;
	font-family: 'Rox Bold';
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	text-align: center;
	color: #000000;
}

.template-collection .collection-block-featured .right-column .collection-featured-desc {
	max-width: 500px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: 0.8px;
	text-align: center;
	color: #000000;
}

.template-collection .collection-block-featured .right-column .collection-featured-link {
	padding: 15px 100px;
	display: inline-block;
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 12px;
	border: 1px solid #000000;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.4px;
	text-align: center;
	color: #000000;
}

@media screen and (max-width: 768px) {
	.template-collection .collection-block-featured .right-column .collection-featured-link {
		margin-top: 25px;
		padding: 8px 50px;
	}
}

@media screen and (min-width: 769px) {
	.template-collection .collection-block-featured .right-column .collection-featured-link:hover, .template-collection .collection-block-featured .right-column .collection-featured-link:focus {
		color: #fff;
		background-color: #c6af76;
		border-color: #c6af76;
	}
}

@media screen and (max-width: 590px) {
	.template-collection .collection-block-featured {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.template-collection .collection-block-featured .left-column {
		width: 100%;
		padding: 10px;
	}
	.template-collection .collection-block-featured .right-column {
		width: 100%;
		padding: 10px;
	}
	.template-collection .collection-block-featured .right-column .collection-featured-title {
		font-size: 24px;
	}
	.template-collection .collection-block-featured .right-column .collection-featured-desc {
		font-size: 14px;
	}
	.template-collection .collection-block-featured .right-column .collection-featured-link {
		font-size: 10px;
	}
}

/**
  * Collection Hero
  */
.collection-block-hero {
	position: relative;
	font-size: 0;
	color: #ffffff;
}

.collection-block-hero .collection-hero-image {
	min-height: 330px;
	-o-object-fit: cover;
	object-fit: cover;
}

.collection-block-hero .text-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.collection-block-hero .text-overlay .page-width {
	width: 100%;
}

.collection-block-hero .text-overlay .collection-hero-title {
	font-size: 50px;
	font-family: 'Rox Bold';
	margin-bottom: 20px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-transform: capitalize;
	color: #ffffff;
	opacity: 0;
}

.collection-block-hero .text-overlay .collection-hero-desc {
	font-size: 23px;
	margin: 0;
	max-width: 600px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	opacity: 0;
}

@media screen and (max-width: 590px) {
	.collection-block-hero .collection-hero-image {
		min-height: auto;
	}
	.collection-block-hero .text-overlay .collection-hero-title {
		font-size: 23px;
	}
	.collection-block-hero .text-overlay .collection-hero-desc {
		max-width: 50%;
		font-size: 12px;
	}
}

.collection-block-hero .collection-hero-image {
	min-height: 406px;
	max-width: 100%;
}

@media (max-width: 590px) {
	.collection-block-hero .collection-hero-image {
		min-height: 211px;
	}
}

@media (min-width: 769px) and (max-height: 740px) {
	.collection-block-hero .collection-hero-image {
		min-height: 203px;
	}
}


/*================ Featured collection element heights ================*/
.collection--square-small,
.collection--wide {
	height: 150px;
	@include media-query($medium-up) {
		height: 300px;
	}
}

.collection--tall,
.collection--square-large {
	height: 300px;
	@include media-query($medium-up) {
		height: 600px;
	}
}

/* Collections list template */
.collections-list .collection--square-small {
	margin-bottom: 22px;
	@include media-query($medium-up) {
		margin-bottom: 30px;
	}
}


/*================ Collection callout section ================*/

.callout-images {
	position: relative;
	height: 450px;
	width: 100%;

	@include media-query($small) {
		-webkit-transform: scale(0.5, 0.5) translate(9px, -18px);
		transform: scale(0.5, 0.5) translate(9px, -18px);
		height: 285px;
	}

	&.blank-state {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		@include media-query($small) {
			-webkit-transform: scale(0.5, 0.5) translate(9px, -18px);
			transform: scale(0.5, 0.5) translate(9px, -18px);
		}
	}
}

.callout-image-placeholder {
	display: block;
	max-height: 100%;
	margin: 0 auto $gutter;

	@include media-query($small) {
		max-width: 585px;
		margin: -75px 0 0 -145px;
	}
}


// Prevent images from overlapping text

.feature-row__callout-image + .feature-row__text .feature-row__content {
	background-color: $colorBody;
	position: relative;
	z-index: 3;
	margin: -10px;
	padding-left: 10px;
}

@include media-query($medium-up) {
	.feature-row__callout-image {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.feature-row__callout-text.feature-row__text--left {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		padding: 0 ($gutter * 2) 0 0;
	}
	.feature-row__callout-text.feature-row__text--right {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		padding: 0 0 0 ($gutter * 2);
	}
}

.callout-image {
	position: absolute;
	top: 50%;
	left: 50%;
	will-change: transform;
	transition: all 2.5s cubic-bezier(0.39, 0.68, 0.29, 1) 0.5s;
	z-index: 1;
	background-color: $colorBody;

	&:nth-child(1) {
		margin-left: -150px;
		margin-top: -235px;
		max-height: 550px;
		z-index: 2;
	}

	&:nth-child(2) {
		width: 170px;
		max-height: 340px;
		margin-left: -85px;
		margin-top: -156px;
	}

	&:nth-child(3) {
		width: 160px;
		max-height: 320px;
		margin-left: -80px;
		margin-top: -149px;
	}

	&:nth-child(4) {
		width: 200px;
		max-height: 400px;
		margin-left: -100px;
		margin-top: -173px;
	}

	&:nth-child(5) {
		width: 100px;
		max-height: 200px;
		margin-left: -50px;
		margin-top: -112px;
	}
}

@if ($animate_sections) {
	[data-aos="collection-callout"].aos-animate .callout-image:nth-child(1) {
		-webkit-transform: translate3d(0, 0, 0) scale(1, 1);
		transform: translate3d(0, 0, 0) scale(1, 1);
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
	}

	[data-aos="collection-callout"].aos-animate .callout-image:nth-child(2) {
		-webkit-transform: translate3d(-193px, -107px, 0);
		transform: translate3d(-193px, -107px, 0);
	}
	[data-aos="collection-callout"].aos-animate .callout-image:nth-child(3) {
		-webkit-transform: translate3d(187px, 111px, 0);
		transform: translate3d(187px, 111px, 0);
	}
	[data-aos="collection-callout"].aos-animate .callout-image:nth-child(4) {
		-webkit-transform: translate3d(-157px, 145px, 0);
		transform: translate3d(-157px, 145px, 0);
	}
	[data-aos="collection-callout"].aos-animate .callout-image:nth-child(5) {
		-webkit-transform: translate3d(178px, -82px, 0);
		transform: translate3d(178px, -82px, 0);
	}
} @else {
	.callout-image:nth-child(1) {
		-webkit-transform: translate3d(0, 0, 0) scale(1, 1);
		transform: translate3d(0, 0, 0) scale(1, 1);
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
	}

	.callout-image:nth-child(2) {
		-webkit-transform: translate3d(-193px, -107px, 0);
		transform: translate3d(-193px, -107px, 0);
	}
	.callout-image:nth-child(3) {
		-webkit-transform: translate3d(187px, 111px, 0);
		transform: translate3d(187px, 111px, 0);
	}
	.callout-image:nth-child(4) {
		-webkit-transform: translate3d(-157px, 145px, 0);
		transform: translate3d(-157px, 145px, 0);
	}
	.callout-image:nth-child(5) {
		-webkit-transform: translate3d(178px, -82px, 0);
		transform: translate3d(178px, -82px, 0);
	}
}


.template-collection .collection-block-testimonials .tm-slider-wrap .tm-slider-arrow img {
	max-width: 12px;
}

.template-collection .collection-block-testimonials {
	position: relative;
	border: 9px solid #f2f2f2;
	width: 46%;
	margin: 2%;
}

@media screen and (max-width: 768px) {
	.template-collection .collection-block-testimonials {
		border: 5px solid #f2f2f2;
		margin-top: 40px;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 769px) {
	.template-collection .collection-block-testimonials::before {
		content: '\“';
		display: block;
		position: absolute;
		top: 4%;
		left: 50px;
		text-align: left;
		font-size: 120px;
		font-family: "Playfair Display", sans-serif;
		color: #c6af76;
	}
}


.template-collection .grid.product-list {
	text-align: center;
}

.collection-filter-container .filter-content-container .filter-content .filter-item.selected {
	background-color: unset;
}

@media screen and (min-width: 769px) {
	div#filter_size .filter-item {
		padding-top: 17px;
		padding-left: 34px;
		padding-right: 34px;
		padding-bottom: 14px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .btn-tag-filter-toggle img {
	width: 13px;
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container {
		display: block;
		margin-top: 0;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border {
		z-index: 5;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-collection-title {
		width: calc(100% - 14px);
	}
}

@media screen and (max-width: 768px) {
	.template-collection .collection-block-quiz {
		margin-top: 50px;
		margin-bottom: 20px;
		border: solid 5px #ECECEC;
		margin-left: -14px;
		margin-right: -14px;
	}
	.collection-block-featured {
		margin-top: 56px;
		margin-bottom: 20px;
		margin-left: -14px;
		margin-right: -14px;
		border: solid 5px #ECECEC;
		padding-top: 17px;
		padding-left: 17px;
		padding-right: 17px;
		padding-bottom: 26px;
	}
	.template-collection .grid.product-list .grid-product.filtered {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 27px;
		@media screen and (max-width: 768px) {
			padding-bottom: 0;
			padding-top: 0;
		}
	}
	div#CollectionAjaxContent .page-width.page-content {
		padding-left: 14px;
		padding-right: 14px;
	}
	div#filter_collection a.filter-item.collection-item {
		text-align: center;
		min-height: 225px;
	}
	#filter_size .filter-item {
		padding-top: 3px;
		padding-left: 10px;
		padding-right: 10px;
		width: 40%;
		margin-right: 0;
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) and (min-width: 769px) {
	div#filter_bracelet_type {
		margin-top: 46px;
	}
}

@media screen and (max-width: 768px) {
	div#filter_bracelet_type a.filter-item.bracelet-item {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		width: 40%;
		margin-right: 0;
		margin-left: 0;
	}
	div#filter_bracelet_type a.filter-item.bracelet-item img {
		max-width: 80px;
	}
}

@media screen and (max-width: 768px) and (max-width: 768px) {
	div#filter_bracelet_type a.filter-item.bracelet-item .filter-item-label {
		min-height: 30px;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	div#filter_collection {
		padding-left: 0;
		padding-right: 0;
		padding-top: 20px;
	}
	div#filter_collection a.filter-type-item {
		padding-left: 8px;
		padding-right: 8px;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item img {
		margin-left: 32px;
		width: 28px;
		height: 28px;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item {
		text-align: left;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container .filter-nav.active {
		color: #262626;
		font-size: 9px;
		font-weight: 700;
		text-transform: uppercase;
		opacity: 1;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container .filter-nav {
		opacity: 0.41;
		color: #262626;
		font-size: 9px;
		font-weight: 600;
		text-transform: uppercase;
	}
	.collection-filter-container .filter-nav-container li.filter-nav.nav-tag .tag-filter-border .tag-filter-container {
		padding-left: 32px;
		padding-right: 32px;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item .filter-item-label {
		color: #000000;
		font-family: DM Sans;
		font-size: 12px;
		letter-spacing: 0.5px;
	}
	div#filter_collection .filter-type-container {
		width: calc(100% - 14px);
		padding: 0;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-type-container .filter-type-item.active {
		color: #262626;
		font-size: 9px;
		font-weight: 700;
		text-transform: uppercase;
		opacity: 1;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-type-container .filter-type-item {
		opacity: 0.41;
		color: #262626;
		font-size: 9px;
		font-weight: 600;
		text-transform: uppercase;
	}
	#filter_size .filter-item {
		text-align: center;
	}
	#filter_size .filter-item img {
		max-width: 80px;
	}
	.template-collection .grid.product-list {
		margin-left: 0;
	}
	.template-collection .collection-block-testimonials {
		width: calc(100% + 28px);
		margin-left: -14px;
		margin-right: -14px;
	}
	.template-collection .collection-block-testimonials .tm-slider-wrap {
		margin-top: 15px !important;
		margin-bottom: 20px;
	}
	.template-collection .collection-block-testimonials::before {
		top: -25px;
	}
	.slick-dots {
		bottom: -25px;
	}
	.collection-filter-container .filter-content-container .filter-content .filter-item.selected {
		background-color: #fff;
	}
}

@media screen and (max-width: 768px) and (min-width: 769px) {
	.collection-filter-container .filter-content-container .filter-content.active {
		padding-left: 49px;
		padding-right: 49px;
	}
}

@media screen and (max-width: 768px) and (max-width: 768px) {
	.collection-filter-container .filter-content-container .filter-content {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 768px) {
	.collection-filter-container .filter-content-container .filter-content .filter-item.color-item img {
		margin-left: 0;
		margin-right: 15px;
	}
	.collection-filter-container .filter-content-container .filter-content {
		padding-top: 36px;
	}
}
@media screen and (max-width: 768px) {
	.filter-title {
		font-size: 12px;
	}
	.grid-product__title{
		min-height: 55px;
		overflow: hidden;
	}
}

/* Product page banner */
.template-collection .grid.product-list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.grid-product__price--original {
	margin: 10px 0 0;
	display: block;
}

.grid-product__price--original .money {
	opacity: 0.5;
}
@media screen and (max-width: 768px) {
	.grid-product__price.price-on-sale .grid-product__price--original {
		margin: 4px 0 0;
	}
}
// Product title/price

.grid-product__meta {
	position: relative;
	padding: 10px 0 6px 0;
	line-height: $type_base_line_height - 0.1;
	@media screen and (max-width: 768px) {
		padding: 10px 0 0 0;
	}
}

.grid-product__vendor {
	@include baseAccentFontStack;
	font-size: em(11px);
	margin-top: 3px;
}

.grid-product__price {
	margin-top: 3px;
	font-size: em(ceil($type_base_size * 0.9 * 0.85));
	@include media-query($medium-up) {
		font-size: em(ceil($type_base_size * 0.9));
	}
}

.grid-product__price--original {
	text-decoration: line-through;
	margin-right: 5px;
	display: none;
}
