@import 'global/mixins';
@import 'global/variables';

.article__grid-image {
	display: block;
	text-align: center;
	margin-bottom: $gutter / 2;

	img {
		display: block;
	}
}

.article__date {
	@include baseAccentFontStack;
	margin-bottom: 6px;
	font-size: em(11px);
	@include media-query($medium-up) {
		margin-bottom: 4px;
		font-size: em(13px);
	}
}

.index-section .article__date {
	margin-bottom: 2px;
}

.article__title {
	font-size: em($type_base_size + 2);
	@include media-query($medium-up) {
		font-size: em($type_base_size + 5);
	}
}

.article__author {
	font-size: em($type_base_size - 1);
	font-style: italic;
	margin-top: 2px;
}

.article__grid-meta {
	margin-bottom: $gutter;
}

/*================ Templates | Theme Blog ================*/

select {
	display: inline-block;
	vertical-align: middle;
}

.template-blog .article {
	margin-bottom: $gutter * 1.5;

	@include media-query($medium-up) {
		margin-bottom: $gutter * 3;
	}
}

.template-blog .article:last-child {
	margin-bottom: 0;

	@include media-query($medium-up) {
		margin-bottom: $gutter * 1.5;
	}
}

.article__date,
.article__h3,
.article .section-header__title {
	margin-bottom: 5px;

	@include media-query($medium-up) {
		margin-bottom: 10px;
	}
}

.article__content-meta {
	margin-bottom: $gutter / 2;
}

.article__featured-image {
	display: block;
	margin-bottom: $gutter;

	img {
		display: block;
		margin: 0 auto;
	}
}

.article__image {
	height: 200px;
	margin-left: 22px;
	position: relative;
	margin-bottom: $gutter / 2;

}

.article__image--image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.article__body {
	margin-bottom: $gutter / 2;
	@include media-query($medium-up) {
		margin-bottom: $gutter;
	}
}

@include media-query($medium-up) {
	.article__content {
		min-height: 450px;
		padding-top: 70px;
	}

	.article__image {
		position: absolute;
		margin-left: 0;
		left: 0;
		right: 50%;
		height: 450px;

		&.article__image-right {
			left: 50%;
			right: 0;
		}
	}
}

/*================ Comments ================*/

.comment.last {
	margin-bottom: -($gutter / 2);
}
