@import 'global/mixins';
@import 'global/variables';

/*================ Templates | Passwords ================*/

.template-password {
	height: 100vh;
	text-align: center;
}

.password-page__image {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
	-webkit-animation: zoom-fade-password 20s ease 1s forwards;
	animation: zoom-fade-password 20s ease 1s forwards;

	&:after {
		position: fixed;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background: rgba(50, 50, 50, 0.3);
	}
}

.password-page__wrapper {
	display: table;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 3;
	color: $colorTextBody;

	a {
		color: inherit;
	}

	hr {
		border-color: $colorBorder;
	}

	.social-sharing.clean a {
		color: inherit;
		background: transparent;
	}
}

.password-header-section {
	display: table-row;
}

.password-page__header {
	display: table-cell;
	height: 1px;
}

.password-page__header__inner {
	padding: ($gutter / 2);
}

.password-page__logo {
	margin-top: 20px;

	@include media-query($medium-up) {
		margin-top: 3 * $gutter;
	}

	.logo {
		max-width: 100%;
	}
}

.password-page__main {
	display: table-row;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.password-page__main__inner {
	display: table-cell;
	vertical-align: middle;
	padding: 0 ($gutter / 1.5);
}

.password-page__hero {
	@include headerFontStack;
	font-size: em(42px);
	text-transform: none;

	@include media-query($medium-up) {
		font-size: em(60px);
	}

	@include media-query($medium-up) {
		font-size: em(64px);
	}
}

.password-page__message {
	font-size: 120%;
	margin-bottom: 30px !important;

	img {
		max-width: 100%;
	}
}

.password-form,
.password-page__message,
.password-page__signup-form {
	max-width: 500px;
	margin: 0 auto;
}

.password-form {
	margin-bottom: 1em;
}

.password-page__signup-form {
	@include media-query($medium-up) {
		padding: 0 $gutter;
	}

	.input-group {
		width: 100%;
	}

	.input-group-field {
		background-color: #fff;
		color: #000;

		&::-webkit-input-placeholder {
			color: #000;
			opacity: 0.7;
		}

		&:-moz-placeholder {
			color: #000;
			opacity: 0.7;
		}

		&::-moz-placeholder {
			color: #000;
			opacity: 0.7;
		}

		&:-ms-input-placeholder {
			color: #000;
			opacity: 0.7;
		}

		&::-ms-input-placeholder {
			color: #000;
			opacity: 0.7;
		}
	}

	.errors ul {
		list-style-type: none;
		margin-left: 0;
	}
}

.password-page__social-sharing {
	margin-top: 30px;
}

.password-login {
	display: block;
	margin: 0 auto;
	@include baseAccentFontStack;
	font-size: 0.8em;
	padding: ($gutter / 4) 15px;
	border: 1px solid #fff;

	@include media-query($medium-up) {
		position: absolute;
		top: $gutter / 1.5;
		right: $gutter / 1.5;
	}
}

.password__lock .icon {
	position: relative;
	top: -2px;
	margin-right: 4px;
	width: 12px;
	height: 12px;
}

.password-page__footer {
	display: table-row;
	height: 1px;
}

.password-page__footer_inner {
	display: table-cell;
	vertical-align: bottom;
	padding: ($gutter * 1.5) 0 ($gutter / 2);
	line-height: 1.5 * $type_base_size;
	font-size: 80%;
}

.icon-shopify-logo {
	width: 60px;
	height: 20px;
}

#LoginModal .modal__close {
	@include media-query($small) {
		padding: 20px;
	}
}

#LoginModal .modal__inner {
	background: $colorBody;
	color: $colorTextBody;
	padding: 30px;
	@include media-query($small) {
		margin-bottom: 40vh;
	}
}

.password-admin-link {
	margin: 0;

	a {
		border-bottom: 2px solid $colorBorder !important;
	}
}
