@import 'global/mixins';
@import 'global/variables';

div#shopify-section-1545051471538 {
	margin-bottom: 60px;
}
body.template-index .shopify-section{
	overflow-x: hidden;
	max-width: 100vw;
}
div#shopify-section-1545056350656 .section-header {
	margin-bottom: 25px;
}

div#shopify-section-1545056350656 {
	margin-top: 0;
}
.show-mobile{
	display: none;
}
.flex_wrapper_instagram {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 6%;
}

.instagram p.subtitle {
	color: #c6af76;
	font-family: DM Sans;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.title_block_instagram {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 34px;
}

.title_block_instagram h2.h3 {
	margin-bottom: 0;
	color: #262626;
	font-family: "Rox Bold";
	font-size: 42px;
	font-weight: 700;
	line-height: 1;
}

.title_block_instagram img.title_icon_instagram {
	width: 33px;
	height: 33px;
	margin-right: 23px;
}

.instagram .rte.featured-row__subtext {
	color: #818287;
	font-family: DM Sans;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	max-width: 430px;
	margin-bottom: 36px;
}

.instagram a.btn {
	color: #262626;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "SHOP INSTA" */
	letter-spacing: 1.25px;
	background-color: unset;
	padding: 0;
	position: relative;
}

.instagram a.btn:after {
	background-color: #000;
}

.index-section--value-props {
	margin: 0;
}

.homepage-landing-featured-collection > .sections-perks {
	margin-top: 60px;
}

.flex_buttons_inner .btn {
	min-width: 0 !important;
}

div#shopify-section-1545058066543 {
	margin-bottom: 80px;
}

.template-index main#MainContent {
	overflow: initial;
	min-height: inherit;
	width: 100%;
}

.template-page main#MainContent {
	overflow: initial;
	min-height: inherit;
	width: 100%;
}

.instagram_inner {
	position: relative;
}

a.section-header__link {
	display: none;
}

h2.section-header__title {
	color: #262626;
	font-family: DM Sans;
	/* Text style for "s" */
	letter-spacing: 1.56px;
	margin-bottom: 42px;
	text-transform: unset;
}

.template-index .section-header {
	margin-bottom: 0;
}

div#shopify-section-1545081773420 {
	margin-bottom: 85px;
}



div#shopify-section-1545121378480 {
	margin-bottom: 0;
}


div#shopify-section-1545123519036 {
	margin-bottom: 0;
}

div#shopify-section-1545123519036 section.absolute_image_text {
	padding-bottom: 77px;
}


.standalone-bottomline {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}




div#shopify-section-women-image-with-text-new .basic_image_with_text {
	padding-top: 0px;
}

div#shopify-section-women-instagram {
	margin-top: 0;
}

.shopify-section.hero-section .btn-groups-links {
	@media (max-width: 798px) {
		top: 70% !important;
	}

	a.btn {
		width: 200px;
		@media (max-width: 798px) {
			display: block;
			width: 300px;
			margin: 10px 0px;
		}
	}
}
body.template-index .hero-banner {
	@media (max-width: 798px) {
		height: 415px !important;
	}
}

.section-inner{
	width: 100%;
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}
section.section-home-banner {
	margin-bottom: 50px;
	.home-banner {
		background-repeat: no-repeat;
		padding: 116px 104px 89px;
		position: relative;
		background-size: contain;
		background-position: center;
		& > a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.home-banner-mobile{
			display: none;
		}
		& > p{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-decoration-line: underline;
			color: #6E6E6E;
		}
		.home-banner-heading {
			margin-bottom: 16px;
			padding-left: 105px;
			h1 {
				margin-bottom: 0;
				font-family: DM Sans;
				font-weight: normal;
				font-size: 36px;
				line-height: 44px;
				color: #000000;
				letter-spacing: 0;
			}
		}
		.home-banner-links {
			margin-bottom: 32px;
			padding-left: 105px;
			a {
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				color: #FFFFFF;
				transition: background-color 300ms ease, color 300ms ease;
				display: inline-block;
				padding: 12px 48px;
				background: #FF6F59;
				text-transform: capitalize;
				&:hover{
					background: #DDCFAD;
				}
			}
		}
		.home-banner-text {
			margin-bottom: 32px;
			p {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 24px;
				color: #000000;
				svg{
					display: inline-block;
					margin-left: 14px;
					vertical-align: middle;
				}
			}

		}
	}
}
section.section-collections {
	padding-top: 32px;
	.arrows-down {
		text-align: center;
		margin-bottom: 13px;
		svg{
			display: inline-block;
		}
	}
	.home-collections-view-more{
		display: none;
	}
	.home-collections-heading {
		text-align: center;
		margin-bottom: 39px;
		h2 {
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 16px;
		}
		p {
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
			color: #6E6E6E;
			margin-bottom: 0;
			max-width: 384px;
			display: inline-block;
		}
	}
	.home-collections{
		.arrow {
			position: absolute;
			border-radius: 50%;
			border: 1px solid #000;
			width: 48px;
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			z-index: 1;
			&.left{
				left: -80px;
			}
			&.right{
				right: -80px;
			}
		}
		.home-collection {
			max-width: 280px;
			margin-right: 32px;
			position: relative;
			.home-collection-title {
				background: #FFFFFF;
				border-radius: 2px;
				text-align: center;
				width: calc(100% - 32px);
				left: 16px;
				position: relative;
				top: -39px;
				padding: 16px 24px;
				box-sizing: border-box;
				a{
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #000000;
				}
			}
		}
		ul.slick-dots {
			bottom: -7px;
			li {
				border: 1px solid #000000;
				box-sizing: border-box;
				border-radius: 50%;
				width: 8px;
				height: 8px;
				overflow: hidden;
				&.slick-active{
					background: #000;
				}
			}
		}
		.slick-prev {
			left: -74px;
			border-radius: 50%;
			border: 1px solid #000;
		}
		.slick-next {
			right: -74px;
			border-radius: 50%;
			border: 1px solid #000;
		}
	}
}
section.section-offer {
	padding-top: 52px;
	padding-bottom: 78px;
	.home-offer {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 52px;
		background-size: cover;
		.home-offer-text {
			margin-bottom: 15px;
			h2 {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 32px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				font-feature-settings: 'ss04' on, 'ss03' on, 'ss01' on, 'ss02' on, 'salt' on;
				color: #FFFFFF;
				max-width: 352px;
				margin-bottom: 0;
			}
		}
		.home-offer-link {
			width: 100%;
			max-width: 365px;
			text-align: center;
			a {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #FFFFFF;
				display: inline-block;
				padding: 12px 40px;
				border: 1px solid #DDCFAD;
				transition: background-color 300ms ease, color 300ms ease;
				&:hover {
					background: #DDCFAD;
					color: #000;
				}
			}
		}
	}
}
section.section-best-seller {
	padding-top: 52px;
	margin-bottom: 52px;
	.section-inner {
		.home-best-seller {
			text-align: center;
			.home-best-seller-icon {
				margin-bottom: 9px;
			}
			.home-best-seller-heading {
				margin-bottom: 56px;
				h2 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 32px;
					text-align: center;
					color: #000000;
					letter-spacing: 0;
					margin-bottom: 0;
				}
			}
			.best-items{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				.best-item{
					margin: 0 16px;
					&:first-child{
						margin-left: 0;
					}
					&:last-child{
						margin-right: 0;
					}
					.best-item-image {
						margin-bottom: 16px;
						img{
							display: block;
							max-width: 100%;
						}
					}
					.best-item-title{
						margin-bottom: 8px;
						a{
							font-family: DM Sans;
							font-style: normal;
							font-weight: normal;
							font-size: 18px;
							line-height: 24px;
							text-align: center;
							color: #000000;
						}
					}
					.best-item-price{
						margin-bottom: 16px;
						p{
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							line-height: 24px;
							text-align: center;
							color: #6E6E6E;
							margin-bottom: 0;
						}
					}
					.best-item-add{
						padding-bottom: 24px;
						a{
							font-style: normal;
							font-weight: bold;
							font-size: 12px;
							line-height: 16px;
							text-align: center;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #000000;
							padding: 6px 22px 7px;
							border: 1px solid #000000;
							box-sizing: border-box;
							border-radius: 2px;
							width: 185px;
							display: inline-block;
							position: relative;
							svg{
								display: none;
								position: absolute;
								top: 5px;
								left: 17px;
							}
							&:hover{
								background: #FF6F59;
								border-radius: 2px;
								border-color: transparent;
								color: #fff;
								svg{
									display: block;
								}
							}
						}
					}
					&:hover{
						box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
					}
				}
			}
		}
	}
}
.home-section-magic {
	padding-top: 52px;
	margin-bottom: 52px;
	.magic-heading {
		text-align: center;
		margin-bottom: 32px;
		h2 {
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			text-align: center;
			font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
			color: #000000;
			width: 336px;
			margin: 0 auto 20px;
		}
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #4B4B4B;
			max-width: 510px;
			margin: 0 auto;
		}
	}
	.magic-top-list {
		display: flex;
		justify-content: center;
		align-items: center;
		.magic-image {
			margin: 0 40px;
			img {
				max-width: 374px;
			}
		}
		.magic-sublist {
			max-width: 296px;
			text-align: center;
			.magic-item{
				margin-bottom: 82px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

	}
	.magic-bottom-list {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		.magic-item{
			margin-left: 40px;
			margin-right: 40px;
			margin-bottom: 0;
		}
	}
	.magic-item{
		margin-bottom: 82px;
		max-width: 296px;
		.magic-item-icon {
			margin-bottom: 22px;
			svg {
				display: block;
				margin: 0 auto;
			}
		}
		.magic-item-title {
			margin-bottom: 16px;
			h3 {
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #000000;
				margin-bottom: 0;
			}
		}
		.magic-item-text {
			p {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				color: #4B4B4B;
				margin-bottom: 0;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.magic-button {
		text-align: center;
		a {
			text-align: center;
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #FFFFFF;
			display: inline-block;
			padding: 12px 48px;
			background: #FF6F59;
			border: 1px solid #FF6F59;
			box-sizing: border-box;
			border-radius: 2px;
		}
	}
	.magic-list {
		margin-bottom: 56px;
	}
}
.home-section-nofilter {
	padding-top: 44px;
	margin-bottom: 54px;
	.nofilter-wrap {
		display: flex;
		justify-content: space-between;
		.nofilter-left {
			width: 51%;
			background: #FAFAFA;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 76px 35px;
			.nofilter-heading {
				margin-bottom: 40px;
				h2 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 32px;
					text-align: center;
					text-transform: capitalize;
					color: #000000;
					margin-bottom: 0;
					letter-spacing: 0;
				}
			}
			.nofilter-list {
				columns: 2;
				column-gap: 90px;
				p {
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					text-decoration-line: line-through;
					color: #6E6E6E;
				}
			}
		}
		.nofilter-right {
			width: 49%;
			img{
				display: block;
				max-width: 100%;
			}
		}
	}
}
.home-section-detailed__list {
	min-width: 43%;
}
.magic-item-title h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
}
section.section-benefits {
	padding-top: 79px;
	padding-bottom: 44px;
	background: #EAF1FF;
	.home-benefits {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		text-align: center;
		.home-benefit {
			width: 100%;
			max-width: 384px;
			.home-benefit-icon {
				margin-bottom: 9px;
				height: 62px;
				svg {
					display: block;
					margin: 0 auto;
				}
			}
			.home-benefit-heading {
				margin-bottom: 24px;
				h3 {
					font-family: DM Sans;
					margin-bottom: 0;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 32px;
					text-align: center;
					letter-spacing: 0px;
					text-transform: none;
					color: #000000;
				}
			}
			.home-benefit-text {
				p {
					font-family: DM Sans;
					margin-bottom: 0;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					color: #4B4B4B;
				}
			}
		}
	}
}
section.section-video {
	padding-top: 80px;
	padding-bottom: 80px;
	.section-inner {
		background: linear-gradient(12.22deg, #0B182D 27.02%, #040A14 96.54%);
		max-width: 1215px;
		.home-video {
			padding: 144px 64px;
			background-position: center right;
			background-repeat: no-repeat;
			margin-left: -15px;
			margin-right: -15px;
			.home-video-heading {
				max-width: 304px;
				margin-bottom: 24px;
				h2 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 40px;
					text-align: center;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #FFFFFF;
					margin-bottom: 0;
				}
			}
			.home-video-text {
				max-width: 304px;
				margin-bottom: 32px;
				p {
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					color: #FFFFFF;
					margin-bottom: 0;
				}
			}
			.home-video-link {
				max-width: 304px;
				text-align: center;
				a {
					border: 1px solid #DDCFAD;
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #FFFFFF;
					display: inline-block;
					padding: 12px 40px;
					transition: background-color 300ms ease, color 300ms ease;
					&:hover{
						background: #DDCFAD;
						color: #000;
					}
				}
			}
			.home-video-image{
				display: none;
			}
		}
	}
}
section.section-founded {
	background: #EDE8E4;
	.home-founded {
		padding: 112px 0;
		background-repeat: no-repeat;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		background-position: left bottom;
		.home-founded-heading {
			max-width: 384px;
			width: 100%;
			margin-bottom: 24px;
			h2 {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #000000;
				margin-bottom: 0;
			}
		}
		.home-founded-text {
			max-width: 395px;
			width: 100%;
			margin-bottom: 32px;
			p {
				margin: 0;
				font-family: DM Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				color: #6E6E6E;
			}
		}
		.home-founded-link {
			max-width: 384px;
			text-align: center;
			width: 100%;
			a {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #000000;
				padding: 12px 40px;
				display: inline-block;
				border: 1px solid #000000;
				transition: background-color 300ms ease, color 300ms ease;
				&:hover{
					background: #000;
					color: #fff;
				}
			}
		}
		.home-founded-image{
			display: none;
		}
	}
}
section.section-reviews {
	padding-top: 52px;
	overflow: hidden;
	padding-bottom: 0;
	margin-bottom: 52px;
	.section-inner{
		position: relative;
	}
	.home-reviews {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.home-reviews-main {
			min-width: 384px;
			text-align: center;
			margin-right: 136px;
			.home-reviews-main-up-heading {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 12px;
				svg{
					margin-right: 4px;
				}
				p{
					margin-left: 8px;
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #6E6E6E;
					margin-bottom: 0;
				}
			}
			.home-reviews-main-heading {
				margin-bottom: 16px;
				h2 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 40px;
					text-align: center;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #000000;
					margin-bottom: 0;
				}
			}
			.home-reviews-main-text {
				margin-bottom: 24px;
				p {
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					color: #6E6E6E;
					margin-bottom: 0;
				}
			}
			.home-reviews-main-link {
				a {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
					text-decoration-line: underline;
					color: #5472C7;
				}
			}
		}
		.home-reviews-list{
			margin-bottom: 0;
			position: inherit;
			.arrow {
				position: absolute;
				border-radius: 50%;
				border: 1px solid #000;
				width: 48px;
				height: 48px;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				&.left{
					left: 445px;
				}
				&.right{
					right: -50px;
				}
			}
			.slick-slide{
				& > div{
					&:last-child{
						.home-reviews-item{
							margin-bottom: 0;
						}
					}
				}
			}
			.home-reviews-item{
				max-width: 280px;
				background: #FAFAFA;
				border-radius: 2px;
				padding: 16px;
				margin-right: 32px;
				margin-bottom: 16px;
				.home-reviews-item-stars {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin-bottom: 8px;
					svg{
						margin-right: 2px;
					}
				}
				.home-reviews-item-heading {
					margin-bottom: 8px;
					h3 {
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 24px;
						color: #000000;
						margin-bottom: 0;
					}
				}
				.home-reviews-item-text {
					margin-bottom: 8px;
					min-height: 72px;
					p {
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 24px;
						color: #8E8E8E;
						margin-bottom: 0;
					}
				}
				.home-reviews-item-link {
					a {
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 12px;
						line-height: 16px;
						text-decoration-line: underline;
						color: #5472C7;
					}
				}
			}
		}
	}
}
section.section-newsletter {
	padding-top: 96px;
	.home-newsletter-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.home-newsletter-content {
			max-width: 384px;
			text-align: center;
			width: 100%;
			margin-left: 106px;
			margin-right: 32px;
			h2 {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #000000;
				margin-bottom: 16px;
			}
			p {
				font-family: DM Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				color: #6E6E6E;
				margin-bottom: 23px;
			}
			.footer__newsletter {
				input {
					width: 100%;
					max-width: 100%;
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					color: #000;
					background: #fff;
					padding: 16px;
					margin-bottom: 24px;
				}
				button {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #FFFFFF;
					position: relative;
					background: #000000;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
					border-radius: 2px;
					width: 100%;
					padding: 16px 0;
					transition: background-color 300ms ease, color 300ms ease;
					&:hover{
						background: #DDCFAD;
						color: #000;
					}
				}
			}
		}
	}
}
section.section-seo-text{
	padding-top: 52px;
	margin-bottom: 52px;
	.home-seo-text{
		background: #FAFAFA;
		padding: 40px;
		max-width: 800px;
		box-sizing: border-box;
		margin: 0 auto;
		text-align: center;
		p {
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #6E6E6E;
			margin-bottom: 0;
		}
		a{
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 2.5px;
			text-decoration-line: underline;
			text-transform: uppercase;
			color: #6E6E6E;
		}
		.home-seo-texts{
			margin-bottom: 24px;
		}
		&.less{
			.home-seo-texts{
				max-height: 75px;
				height: auto;
				overflow: hidden;
			}
		}
	}
}
section.section-instagram {
	padding-top: 52px;
	overflow: hidden;
	padding-bottom: 40px;
	margin-bottom: 52px;
	.home-instagram-heading {
		text-align: center;
		margin-bottom: 40px;
		p {
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 8px;
		}
		h2 {
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 40px;
			text-align: center;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 0;
		}
	}
	.home-instagram-wrap {
		display: flex;
		position: relative;
		justify-content: space-between;
		.home-instagram-item-join {
			width: 280px;
			min-width: 280px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border: 1px solid #F5F5F5;
			margin-left: 32px;
			h2 {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #000000;
				margin-bottom: 16px;
			}
			a {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #000000;
				display: inline-block;
				padding: 12px 45px;
				border: 1px solid #000000;
				box-sizing: border-box;
				border-radius: 2px;
				transition: background-color 300ms ease, color 300ms ease;
				&:hover{
					background: #000;
					color: #fff;
				}
			}
		}
		.home-instagram-list-wrap{
			width: 65vw;
			position: relative;
			margin-left: -50vw;
			left: 50%;
			transform: rotate3d(0, 1, 0, 180deg) perspective(1px);
			filter: blur(0px);
		}
		.home-instagram-list {
			margin-bottom: 0;
			position: initial;
			ul.slick-dots {
				bottom: -45px;
				left: 20%;
				display: inline-block;
				width: auto;
				li {
					border: 1px solid #000000;
					box-sizing: border-box;
					border-radius: 50%;
					width: 8px;
					height: 8px;
					overflow: hidden;
					&.slick-active{
						background: #000;
					}
				}
			}
			.arrow {
				position: absolute;
				border-radius: 50%;
				border: 1px solid #000;
				width: 48px;
				height: 48px;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				z-index: 1;
				&.left{
					left: -450px;
				}
				&.right{
					right: 24px;
				}
			}
			.home-instagram-item {
				margin-left: 32px;
				max-width: 280px;
				width: 280px;
				transform: rotate3d(0, 1, 0, 180deg) perspective(1px);
				filter: blur(0px);
				.home-intagram-item-title {
					text-align: center;
					background: #FAFAFA;
					padding: 8px 0;
					p {
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 12px;
						line-height: 16px;
						color: #000000;
						margin-bottom: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						svg{
							margin-right: 9px;
						}
					}
				}
				.home-instagram-item-image {
					.image-placeholder{
						width: 280px;
						height: 280px;
						background-size: cover;
						background-position: center;
					}
				}
			}
		}
	}
}


.go-to-shop{
	padding-bottom: 45px;
	padding-top: 20px;
	.page__container{
		margin: 0 auto;
	}
}
.go-to-shop__col{
	background-color: rgba(0,0,0,0.2);
	background-repeat: no-repeat;
	background-position:  center;
	background-size: cover;
	height: 608px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
	.button{
		width: 288px;
		height: 53.33px;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		color: #283455;
		display: inline-flex;
		align-items: center;
		background: #FFFFFF;
		justify-content: center;
		transition: background-color 300ms ease, color 300ms ease;
	}
	.button:hover{
		color: #fff;
		background: #FF6F59;
	}
}
.go-to-shop__button{
	margin-bottom: 45px;
}
.start-quiz{
	text-align: center;
	padding: 26px 0;
	background: #0E285B;
	margin-top: 50px;
	.page__container{
		margin: 0 auto;
		flex-direction: column;
	}
	p{
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		letter-spacing: 0.512px;
		color: #FFFFFF;
	}
	.button{
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		width: 384px;
		height: 53px;
		background: #FFFFFF;
		color: #283455;
		display: flex;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		letter-spacing: 0;
	}
	.button:hover{
		color: #fff;
		background: #FF6F59;
	}
}

.section-reviews__title{
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: #000000;
	padding-bottom: 60px;
	letter-spacing: 0;
}
div#shopify-section-hp-reviews {
	background: #F8F8F8;
}

.section-reviews{
	.home-reviews{
		flex-direction: column;
	}
}

.home-reviews__slider{
	max-width: 100%;
	position: relative;
	.arrow{
		position: absolute;
		cursor: pointer;
		top: calc(50% - 65px);
		margin-top: -14px;
		left: -15px;
		&.left{
			transform: scale(-1);
		}
		&.right{
			left: auto;
			right: -15px;
		}
		&.slick-disabled{
			opacity: 0.3;
			cursor: default;
		}
	}
	.slick-dots{
		position: static;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 5px;
		button{
			background: rgba(51, 51, 51, 0.29);
			width: 9px;
			height: 9px;
			border-radius: 50%;
			&:before{
				opacity: 0;
				display: none;
				visibility: hidden;
			}
		}
	}
	&.slick-slider .slick-dots li.slick-active, &.slick-slider .slick-dots li.slick-active button, &.slick-slider .slick-dots li.slick-active button::before{
		width: 9px;
		height: 9px;
		background: #333333;
		border-radius: 50%;
	}

}
.home-reviews__slider-item{
	width: 384px;
	min-height: 319px;
	margin: 0 15px;
	background: #FFFFFF;
	padding: 30px 40px;
	text-align: center;
	box-sizing: border-box;
	figure{
		padding: 0;
		margin: 0;
		img{
			display: block;
			border-radius: 50%;
			margin: 0 auto 13px auto;
		}
	}
	p{
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		letter-spacing: 0.512px;
		color: #171717;
		padding-bottom: 20px;
		min-height: 135px ;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	strong{
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		letter-spacing: 0.512px;
		text-transform: capitalize;
		color: #757575;
	}
}
.home-reviews__button{
	.button{
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		width: 287px;
		height: 53px;
		background: #FF6F59;
		color: #fff;
		display: flex;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease;
		text-transform: capitalize;
	}
	.button:hover{
		color: #FF6F59;
		background: #fff;
	}
}

.home-section-detailed{
	padding: 100px 0 50px 0;
	.section-inner{
		display: flex;
	}
}
.home-section-detailed__image{
	padding: 0;
	margin: 0;
	flex: 1;
}
.home-section-detailed__list{
	.magic-item{
		max-width: 100%;
		width: 502px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 25px;
		align-items: center;
		article{
			text-align: left;
			padding-left: 40px;
		}
		&:nth-child(2){
			.magic-item-icon{ background: #FAE4E1;}
		}
		&:nth-child(3){
			.magic-item-icon{  background: #DFF2ED;}
		}
		&:nth-child(4){
			.magic-item-icon{ background: #E8EDFA;}
		}
		&:nth-child(5){
			.magic-item-icon{ background: #FAEED2;}
		}
		.magic-item-text p {
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			color: #4B4B4B;
			letter-spacing: 0;
		}
	}
	.magic-item-icon{
		width: 88px;
		min-width: 88px;
		height: 88px;
		background: #E8EDFA;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0px 0 0;
		padding: 0;
		img{
			max-width: 48px;
		}
	}
	.magic-item-text, .magic-item-text p, .magic-item-title, .magic-item-title h3{
		text-align: left;
	}
	.magic-item-title{
		margin-bottom: 8px;
	}
}
.magic-button{
	text-align: left;
	padding-top: 25px;
	a{
		font-family: DM Sans;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		text-transform: capitalize;
		color: #FFFFFF;
		background: #FF6F59;
		padding: 12px 48px;
		display: inline-block;
		letter-spacing: 0;
	}
}

.home-content-hero{
	display: flex;
	margin: 11px 0 40px 0;
	justify-content: space-between;
}
.home-content-hero__col{
	height: 420px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover{
		article{
			transform: scale(1.05);
		}
	}
	article{
		width: 498px;
		text-align: center;
		position: relative;
		transition: all 0.5s ease;
	}
	h5{
		font-weight: 500;
		font-size: 24px;
		line-height: 31px;
		text-align: center;
		letter-spacing: 0.512px;
		padding-bottom: 27px;
		color: #171717;
		margin: 0;
	}
	figure{
		display: block;
		position: relative;
		padding: 0;
		margin: 0 0 45px 0;
		height: 70px;
	}
	p{
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		letter-spacing: 0.512px;
		padding: 0;
		color: #181818;
	}
}

.home-why-found{
	text-align: center;
	padding: 50px 0 60px 0;
	.page__container{
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
		max-width: 720px;
	}
	p{
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		color: #6E6E6E;
		letter-spacing: 0;
	}
	h4{
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 40px;
		color: #000000;
		margin-bottom: 47px;
		letter-spacing: 0;
	}
}
.home-why-found__expand{
	text-align: center;
	a{
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-decoration-line: underline;
		text-transform: capitalize;
		color: #6E6E6E;
	}
	a:hover{
		text-decoration: none;
	}
}
#shopify-section-hp-popular .internal-links-list-heading h2{
	text-transform: none;
}
#shopify-section-hp-popular .internal-links-list{
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-left: 120px;
	padding-right: 120px;
	scrollbar-width: thin;
	.internal-link a{
		white-space: nowrap;
	}
	.internal-link:last-child{
		padding-right: 120px;
	}
}

#shopify-section-hp-popular .internal-links-list::-webkit-scrollbar {
	width: 4px !important;
	height: 4px !important;
	background: #F5F5F5;
	border-radius: 4px;
}

#shopify-section-hp-popular .internal-links-list::-webkit-scrollbar-thumb {
	background: #6E6E6E;
	border-radius: 4px;
}


@media (max-width: 1240px) {
	section.section-best-seller .section-inner .home-best-seller .home-best-seller-products .home-best-seller-product{
		max-width: 19%;
	}
	section.section-reviews .home-reviews .home-reviews-list .arrow.right {
		right: 50px;
	}
	section.section-collections .home-collections .arrow.left {
		left: 24px;
		bottom: -48px;
		top: auto;
	}
	section.section-collections .home-collections .arrow.right {
		right: 24px;
		bottom: -48px;
		top: auto;
	}
}
@media (max-width: 1130px){
	section.section-video .section-inner .home-video{
		padding: 90px 64px;
		background-position: bottom right;
		background-size: auto 100%;
	}
	section.section-founded {
		.home-founded {
			padding: 64px 0 0;
			background-position: center bottom;
			background-image: none;
			.home-founded-heading{
				margin: 0 auto 24px;
			}
			.home-founded-text{
				margin: 0 auto 32px;
			}
			.home-founded-link{
				margin: 0 auto;
			}
			.home-founded-image{
				display: block;
				width: 100%;
				text-align: center;
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.show-mobile{
		display: block;
	}
	.internal-links-list-wrap{
		padding-top: 32px;
		margin-bottom: 32px;
		.internal-links-list-heading {
			margin-bottom: 24px;
			h2{
				line-height: 32px;
			}
		}
		.internal-links-list{
			margin-right: -16px;
			margin-left: -16px;
			display: grid;
			grid-gap: 16px;
			grid-template-columns: 10px;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			overflow-x: scroll;
			-ms-scroll-snap-type: x proximity;
			scroll-snap-type: x proximity;
			padding-bottom: calc(.75 * 20px);
			margin-bottom: calc(-.25 * 20px);
			&:before, &:after {
				content: '';
				width: 10px;
			}
			.internal-link{
				margin-right: 0;
				margin-bottom: 0;
			}
		}
	}
	section.section-instagram {
		padding-top: 32px;
		margin-bottom: 32px;
		padding-bottom: 0;
		.home-instagram-wrap{
			flex-direction: column;
			.home-instagram-list{
				padding-bottom: 20px;
				margin-bottom: 64px;
				position: relative;
				.arrow{
					display: none!important;
				}
				ul.slick-dots{
					bottom: -40px;
					left: 35%;
				}
			}
			.home-instagram-item-join{
				margin: 0 auto;
				border: 0;
			}
		}
	}
	section.section-seo-text{
		padding-top: 32px;
		margin-bottom: 32px;
		.home-seo-text{
			padding: 24px;
		}
	}
	section.section-video {
		padding-bottom: 0;
		padding-top: 20px;
		.section-inner {
			background: radial-gradient(38.98% 3.93% at 50% 60.98%, #0D1424 0%, rgba(20, 46, 82, 0) 100%), #080B17;
			.home-video{
				background-image: none;
				padding: 64px 0 0;
				margin-left: 0;
				margin-right: 0;
				.home-video-image{
					display: block;
					margin-left: -15px;
					margin-right: -15px;
					position: relative;
					img{
						width: 100%;
						display: block;
					}
				}
				.home-video-heading{
					margin: 0 auto 23px;
				}
				.home-video-text {
					margin: 0 auto 32px;
				}
				.home-video-link{
					margin: 0 auto 48px;
				}
			}
		}
	}
	section.section-home-banner{
		padding-top: 0;
		margin-bottom: 32px;
		.home-banner{
			background: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0!important;
			& > a {
				display: none;
			}
			& > p{
				display: none;
			}
			.home-banner-mobile{
				margin-left: 0px;
				margin-right: 0px;
				display: block;
				margin-bottom: 32px;
				width: calc(100% + 30px);
				max-width: calc(100% + 30px);
			}
			&:before{
				display: none;
			}
			.home-banner-heading {
				display: block;
				margin: 0 auto 24px;
				text-align: center;
				order: 1;
				h1{
					color: #000;
					display: inline-block;
					font-size: 32px;
					line-height: 40px;
					max-width: 296px;
				}
			}
			.home-banner-text {
				margin-bottom: 32px;
				order: 2;
				justify-content: center;
				align-items: center;
				display: flex;
				max-width: 265px;
				a{
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					color: #4B4B4B;
					svg {
						display: none;
						path {
							stroke: black;
						}
					}
				}
			}
			.home-banner-links {
				margin-bottom: 0;
				order: 3;
				a {
					color: #fff;
					background: #000;
				}
			}
		}
	}
	section.section-collections {
		padding-top: 60px;
		.arrows-down{
			display: none;
		}
		.home-collections {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			overflow: hidden;
			&.show{
				max-height: 99999px;
				overflow: initial;
			}
		}
		.home-collections-view-more{
			display: block;
			text-align: center;
			a{
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #000000;
				padding: 8px 95px;
				background: #FFFFFF;
				border: 1px solid #000000;
				box-sizing: border-box;
				border-radius: 3px;
				display: inline-block;
				width: 100%;
			}
		}
	}
	section.section-offer {
		.home-offer {
			background-position: center;
			.home-offer-text {
				max-width: 230px;
				h2{
					font-size: 14px;
					line-height: 24px;
				}
			}
			.home-offer-link {
				max-width: 230px;
				a{
					font-size: 12px;
					padding: 8px 24px;
				}
			}
		}
	}
	section.section-best-seller {
		.section-inner {
			.home-best-seller {
				.home-best-seller-heading{
					margin-bottom: 40px;
					h2 {
						font-style: normal;
						font-weight: bold;
						font-size: 32px;
						line-height: 40px;
						text-align: center;
						font-feature-settings: 'ss01' on;
						color: #000000;
					}
				}
				.home-best-seller-icon{
					display: none;
				}
				.best-items{
					margin-right: -16px;
					margin-left: -16px;
					display: grid;
					grid-gap: 16px;
					grid-template-columns: 10px;
					grid-template-rows: minmax(150px, 1fr);
					grid-auto-flow: column;
					grid-auto-columns: 128px;
					overflow-x: scroll;
					-ms-scroll-snap-type: x proximity;
					scroll-snap-type: x proximity;
					padding-bottom: calc(.75 * 20px);
					margin-bottom: calc(-.25 * 20px);
				}
				.best-items{
					justify-content: space-between;
					align-items: flex-start;
					display: flex;
					margin-bottom: 25px;
					&:before, &:after{
						content: '';
						width: 10px;
					}
					.best-item{
						min-width: 128px;
						margin: 0 16px;
						.best-item-image{
							margin-bottom: 16px;
						}
						.best-item-title {
							margin-bottom: 0;
							a {
								font-style: normal;
								font-weight: normal;
								font-size: 18px;
								line-height: 24px;
								text-align: center;
								color: #000000;
								text-transform: capitalize;
							}
						}
						.best-item-price {
							margin-bottom: 16px;
							p {
								font-style: normal;
								font-weight: normal;
								font-size: 16px;
								line-height: 24px;
								text-align: center;
								color: #6E6E6E;
								margin-bottom: 0;
							}
						}
						.best-item-add{
							padding-bottom: 24px;
							a{
								font-style: normal;
								font-weight: bold;
								font-size: 12px;
								line-height: 16px;
								text-align: center;
								letter-spacing: 2.5px;
								text-transform: uppercase;
								color: #000000;
								border: 1px solid #000000;
								box-sizing: border-box;
								border-radius: 2px;
								padding: 6px 22px 7px;
								display: inline-block;
								span{
									position: relative;
									display: inline-block;
									text-transform: none;
									font-weight: 500;
									font-size: 14px;
									line-height: 16px;
									letter-spacing: 1px;
								}
								svg{
									display: inline-block;
									opacity: 0;
									position: absolute;
									right: -23px;
									top: 3px;
								}
								&:hover{
									background: #FF6F59;
									border-radius: 2px;
									border: 0;
									color: #fff;
									svg{
										display: inline-block;
										opacity: 1;
									}
								}
							}
						}
						&:hover {
							box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
						}
						&:first-child{
							margin-left: 0;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
				.home-best-seller-heading {
					h2{
						line-height: 32px;
					}
				}
			}
		}
	}
	.home-section-magic{
		padding-top: 32px;
		margin-bottom: 32px;
		.magic-list{
			margin-bottom: 0;
		}
		.magic-button a{
			max-width: 234px;
			padding: 12px 0;
			width: 100%;
		}
		.magic-heading {
			margin-bottom: 48px;
			h2{
				width: 100%;
				margin-bottom: 17px;
			}
			p{
				color: #6E6E6E;
			}
		}
		.magic-top-list {
			flex-direction: column;
			.magic-image{
				display: none;
			}
			.magic-sublist{
				margin-bottom: 40px;
			}
		}
		.magic-item {
			margin-bottom: 40px;
			&.magic-item-blank{
				display: none;
			}
			.magic-item-icon{
				margin-bottom: 20px;
			}
			.magic-item-title {
				margin-bottom: 8px;
				h3{
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					letter-spacing: 0.02em;
					color: #000000;
				}
			}
		}
		.magic-bottom-list{
			flex-direction: column;
			.magic-item{
				margin-bottom: 40px;
			}
		}
	}
	.home-section-nofilter {
		padding-top: 32px;
		margin-bottom: 32px;
		.section-inner{
			padding: 0;
			.nofilter-wrap {
				flex-direction: column;
				.nofilter-left{
					width: 100%;
					padding: 40px 0;
					.nofilter-heading{
						margin-bottom: 24px;
					}
					.nofilter-list{
						columns: 1;
						p{
							font-family: DM Sans;
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 32px;
							text-align: center;
							text-decoration-line: line-through;
							color: #6E6E6E;
							margin-bottom: 0;
						}
					}
				}
				.nofilter-right{
					width: 100%;
				}
			}
		}
	}
	section.section-benefits {
		padding-top: 32px;
		padding-bottom: 32px;
		.home-benefits{
			flex-wrap: wrap;
			justify-content: space-around;
			.home-benefit{
				margin-bottom: 56px;
			}
		}
	}
	section.section-reviews {
		padding-top: 32px;
		margin-bottom: 32px;
		padding-bottom: 50px;
		.home-reviews{
			flex-direction: column;
			align-items: flex-start;
			.home-reviews-main {
				min-width: auto;
				text-align: center;
				margin: 0 auto 32px;
				max-width: 384px;
			}
			.home-reviews-list{
				ul.slick-dots {
					bottom: -45px;
					li {
						border: 1px solid #000000;
						box-sizing: border-box;
						border-radius: 50%;
						width: 8px;
						height: 8px;
						overflow: hidden;
						&.slick-active{
							background: #000;
						}
					}
				}
				.arrow{
					display: none!important;
				}
			}
		}
	}
	section.section-newsletter {
		padding-top: 48px;
		.home-newsletter-wrap{
			flex-direction: column-reverse;
			.home-newsletter-image {
				margin-bottom: 38px;
			}
			.home-newsletter-content{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
@media (max-width: 767px){
	section.section-collections {
		.home-collections {
			.home-collection{
				max-width: calc(50% - 16px);
				&:nth-child(even) {
					margin-right: 0;
				}
				&:nth-child(n+5){
					display: none;
				}
				.home-collection-title{
					width: calc(100% - 16px);
					left: 8px;
				}
			}
			&.view-more{
				.home-collection {
					&:nth-child(n+5) {
						display: block;
					}
				}
			}
		}
	}
	section.section-best-seller{
		padding-top: 32px;
		margin-bottom: 32px;
	}
	section.section-best-seller .section-inner .home-best-seller .home-best-seller-products {
		width: 200%;
		max-height: 50vw;
		.home-best-seller-product{
			max-width: 19%;
			a{
				p{
					display: none;
				}

			}
			&:nth-child(1){
				right: -19%;
				top: 35px;
			}
			&:nth-child(2){
				right: -10%;
				top: 15px;
			}
			&:nth-child(3){

			}
			&:nth-child(4){
				left: -10%;
				top: 15px;
			}
			&:nth-child(5){
				left: -19%;
				top: 35px;
			}
		}
	}
	section.section-founded .home-founded{
		background-size: contain;
	}
	section.section-instagram .home-instagram-wrap .home-instagram-list-wrap{
		order: 1;
		width: 100%;
	}
	.home-instagram-item-join{
		order: 2;
	}
}
@media (max-width: 580px){
	section.section-best-seller .section-inner .home-best-seller .home-best-seller-products {
		max-height: 45vw;
	}
}
@media (max-width: 400px){
	section.section-offer .home-offer .home-offer-text{
		max-width: 200px
	}
	section.section-offer .home-offer .home-offer-link{
		max-width: 200px;
	}
	section.section-home-banner .home-banner .home-banner-links{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		a{
			margin-right: 0;
			max-width: 100%;
			margin-bottom: 16px;
			&.show-mobile{
				margin-bottom: 0;
			}
		}
	}
	section.section-collections .home-collections .home-collection .home-collection-title {
		padding: 8px;
		a{
			font-size: 12px;
			line-height: 16px;
		}
	}
	section.section-offer{
		padding-top: 63px;
		padding-bottom: 63px;
		.home-offer {
			padding: 32px 16px;
			margin-left: -15px;
			margin-right: -15px;
			background-repeat: no-repeat;
		}
	}

}

.header__offer{
    background: red ; 
}  