/*================ Animations ================*/

$z-index-page-overlay: 27;

// Utilities

.animation-cropper {
	overflow: hidden;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

@for $i from 1 to 20 {
	.animation-delay-#{$i} {
		-webkit-animation-delay: cart-animation-iteration($i, 0s) !important;
		animation-delay: cart-animation-iteration($i, 0s) !important;
	}
}

// Page transitions

@if ($animate_page_transitions) {
	$page_transition_duration: 0.8;
	$page_transition_duration_out: 0.3;

	@if ($animate_page_transition_style == 'page-slow-fade') {
		$page_transition_duration: 1.2;
		$page_transition_duration_out: 0.5;
	}

	@if ($animate_page_transition_style == 'page-slide-reveal-across' or $animate_page_transition_style == 'page-slide-reveal-down') {
		.transition-body:before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $colorBody;
			z-index: 10;
			will-change: transform;
		}

		.loaded .transition-body:before {
			-webkit-animation: $animate_page_transition_style #{$page_transition_duration}s ease forwards;
			animation: $animate_page_transition_style #{$page_transition_duration}s ease forwards;
		}

		.unloading .transition-body:before {
			-webkit-animation: #{$animate_page_transition_style}-out #{$page_transition_duration_out}s ease forwards;
			animation: #{$animate_page_transition_style}-out #{$page_transition_duration_out}s ease forwards;
		}
	} @else {
		.transition-body {
			opacity: 0;

			.no-js & {
				opacity: 1;
			}
		}

		.loaded .transition-body {
			-webkit-animation: $animate_page_transition_style #{$page_transition_duration}s ease forwards;
			animation: $animate_page_transition_style #{$page_transition_duration}s ease forwards;
		}

		.unloading .transition-body {
			-webkit-animation: #{$animate_page_transition_style}-out #{$page_transition_duration_out}s ease forwards;
			animation: #{$animate_page_transition_style}-out #{$page_transition_duration_out}s ease forwards;
		}
	}

	@-webkit-keyframes page-fade-in-up {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes page-fade-in-up {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes page-fade-in-up-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes page-fade-in-up-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@-webkit-keyframes page-slow-fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes page-slow-fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes page-slow-fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes page-slow-fade-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@-webkit-keyframes page-slide-reveal-across {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
		100% {
			-webkit-transform: translateX(100vw);
			transform: translateX(100vw);
		}
	}

	@keyframes page-slide-reveal-across {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
		100% {
			-webkit-transform: translateX(100vw);
			transform: translateX(100vw);
		}
	}
	@-webkit-keyframes page-slide-reveal-across-out {
		0% {
			-webkit-transform: translateX(-100vw);
			transform: translateX(-100vw);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@keyframes page-slide-reveal-across-out {
		0% {
			-webkit-transform: translateX(-100vw);
			transform: translateX(-100vw);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}

	@-webkit-keyframes page-slide-reveal-down {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
		100% {
			-webkit-transform: translateY(110vh);
			transform: translateY(110vh);
		}
	}

	@keyframes page-slide-reveal-down {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
		100% {
			-webkit-transform: translateY(110vh);
			transform: translateY(110vh);
		}
	}
	@-webkit-keyframes page-slide-reveal-down-out {
		0% {
			-webkit-transform: translateY(110vh);
			transform: translateY(110vh);
		}
		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	}
	@keyframes page-slide-reveal-down-out {
		0% {
			-webkit-transform: translateY(110vh);
			transform: translateY(110vh);
		}
		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	}
}

.ie9 .transition-body {
	opacity: 1;
}

// Global image animations

.image-wrap {
	background: $colorSmallImageBg;
	overflow: hidden;
}

.image-wrap img:not([role="presentation"]) {
	display: block;

	.no-js &.lazyload {
		display: none;
	}
}

@if ($animate_images) {
	.image-wrap {
		img:not([role="presentation"]),
		svg,
		.animate-me {
			opacity: 0;

			.ie9 &,
			.no-js & {
				opacity: 1;
			}
		}
	}

	.aos-animate .image-wrap {
		.lazyloaded:not([role="presentation"]),
		svg,
		.animate-me,
		img[data-modal-lazy] {
			-webkit-animation: $animate_images_style 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
			animation: $animate_images_style 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		}
	}

	.image-wrap img {
		[data-aos="row-of-3"].aos-animate:nth-child(3n+2) & {
			-webkit-animation-delay: 200ms;
			animation-delay: 200ms;
		}

		[data-aos="row-of-3"].aos-animate:nth-child(3n+3) & {
			-webkit-animation-delay: 400ms;
			animation-delay: 400ms;
		}

		[data-aos="row-of-4"].aos-animate:nth-child(4n+2) & {
			-webkit-animation-delay: 150ms;
			animation-delay: 150ms;
		}

		[data-aos="row-of-4"].aos-animate:nth-child(4n+3) & {
			-webkit-animation-delay: 300ms;
			animation-delay: 300ms;
		}

		[data-aos="row-of-4"].aos-animate:nth-child(4n+4) & {
			-webkit-animation-delay: 450ms;
			animation-delay: 450ms;
		}

		[data-aos="row-of-5"].aos-animate:nth-child(5n+2) & {
			-webkit-animation-delay: 100ms;
			animation-delay: 100ms;
		}

		[data-aos="row-of-5"].aos-animate:nth-child(5n+3) & {
			-webkit-animation-delay: 200ms;
			animation-delay: 200ms;
		}

		[data-aos="row-of-5"].aos-animate:nth-child(5n+4) & {
			-webkit-animation-delay: 300ms;
			animation-delay: 300ms;
		}

		[data-aos="row-of-5"].aos-animate:nth-child(5n+5) & {
			-webkit-animation-delay: 400ms;
			animation-delay: 400ms;
		}
	}
}

// Overlay animations (modals, panels)

@-webkit-keyframes overlay-on {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.6;
	}
}

@keyframes overlay-on {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.6;
	}
}

@-webkit-keyframes overlay-off {
	from {
		opacity: 0.6;
	}
	to {
		opacity: 0;
	}
}

@keyframes overlay-off {
	from {
		opacity: 0.6;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes full-overlay-on {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes full-overlay-on {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes full-overlay-off {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes full-overlay-off {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes modal-open {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes modal-open {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes modal-closing {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

@keyframes modal-closing {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

// Text animations

@-webkit-keyframes rise-up {
	from {
		opacity: 1;
		-webkit-transform: translateY(120%);
		transform: translateY(120%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}

@keyframes rise-up {
	from {
		opacity: 1;
		-webkit-transform: translateY(120%);
		transform: translateY(120%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}

@-webkit-keyframes rise-up-out {
	from {
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(-120%);
		transform: translateY(-120%);
	}
}

@keyframes rise-up-out {
	from {
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(-120%);
		transform: translateY(-120%);
	}
}

@-webkit-keyframes paint-across {
	from {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}

@keyframes paint-across {
	from {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}

@-webkit-keyframes paint-across-small {
	from {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}

@keyframes paint-across-small {
	from {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}

@-webkit-keyframes paint-across-out {
	from {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		-webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
		clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
	}
}

@keyframes paint-across-out {
	from {
		opacity: 1;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
	to {
		opacity: 1;
		-webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
		clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
	}
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in-small {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in-small {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-in-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

// Utility

@-webkit-keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

// Background image animations

@-webkit-keyframes zoom-fade {
	from {
		opacity: 0;
		-webkit-transform: scale(1.4, 1.4);
		transform: scale(1.4, 1.4);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes zoom-fade {
	from {
		opacity: 0;
		-webkit-transform: scale(1.4, 1.4);
		transform: scale(1.4, 1.4);
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-webkit-keyframes zoom-fade-password {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.4, 1.4);
		transform: scale(1.4, 1.4);
	}
	5% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}
}

@keyframes zoom-fade-password {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.4, 1.4);
		transform: scale(1.4, 1.4);
	}
	5% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}
}

@-webkit-keyframes zoom-fade-small {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}
	10% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	12% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1.03, 1.03);
		transform: scale(1.03, 1.03);
	}
}

@keyframes zoom-fade-small {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}
	10% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	12% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1.03, 1.03);
		transform: scale(1.03, 1.03);
	}
}

@-webkit-keyframes kenburns {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.8);
		transform: scale(1.8);
		-webkit-animation-timing-function: cubic-bezier(0.12, 0.63, 0.6, 0.74);
		animation-timing-function: cubic-bezier(0.12, 0.63, 0.6, 0.74);
	}
	10% {
		opacity: 1;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes kenburns {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.8);
		transform: scale(1.8);
		-webkit-animation-timing-function: cubic-bezier(0.12, 0.63, 0.6, 0.74);
		animation-timing-function: cubic-bezier(0.12, 0.63, 0.6, 0.74);
	}
	10% {
		opacity: 1;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes kenburns-out {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes kenburns-out {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

// Loading animations

.loading:after,
.loading:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 5px;
	background: color-control($colorLargeImageBg, 1);
	left: 50%;
	top: 50%;
	margin: -3px 0 0 -50px;
	z-index: 25;
	opacity: 0;

	.no-js & {
		display: none;
	}
}

.loading:before {
	background: color-control($colorLargeImageBg, 0.15);
	-webkit-animation: fade-in 0.5s forwards 0s;
	animation: fade-in 0.5s forwards 0s;
}

.loading:after {
	-webkit-animation: preloading 0.5s ease 0.3s infinite;
	animation: preloading 0.5s ease 0.3s infinite;
}

.loading--delayed:before {
	-webkit-animation-delay: 0.8s !important;
	animation-delay: 0.8s !important;
	-webkit-animation-duration: 1s !important;
	animation-duration: 1s !important;
}

.loading--delayed:after {
	-webkit-animation-delay: 1.3s !important;
	animation-delay: 1.3s !important;
}

@-webkit-keyframes preloading {
	0% {
		width: 0px;
		opacity: 0;
	}
	60% {
		width: 100px;
		margin-left: -50px;
		opacity: 1;
	}
	100% {
		margin-left: 50px;
		width: 0px;
		opacity: 1;
	}
}

@keyframes preloading {
	0% {
		width: 0px;
		opacity: 0;
	}
	60% {
		width: 100px;
		margin-left: -50px;
		opacity: 1;
	}
	100% {
		margin-left: 50px;
		width: 0px;
		opacity: 1;
	}
}

// Ajax load products

@-webkit-keyframes grid-product__loading {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0.2;
	}
	100% {
		opacity: 0;
	}
}

@keyframes grid-product__loading {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0.2;
	}
	100% {
		opacity: 0;
	}
}

// Delay animations, used in drawers

.appear-animation {
	opacity: 0;
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

@for $i from 1 to 20 {
	.appear-delay-#{$i} {
		transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) cart-animation-iteration($i, 0.2s),
		-webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) cart-animation-iteration($i, 0.1s);
		transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) cart-animation-iteration($i, 0.1s),
		opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) cart-animation-iteration($i, 0.2s);
		transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) cart-animation-iteration($i, 0.1s),
		opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) cart-animation-iteration($i, 0.2s),
		-webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) cart-animation-iteration($i, 0.1s);
	}
}

.js-drawer-open .appear-animation {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.js-drawer-closing .appear-animation {
	transition-duration: 0s;
	transition-delay: 0.5s;
}

.spr-badge-starrating,
.spr-starratings {
	color: #f3c200;
}

.grid-product {
	.spr-badge[data-rating="0.0"] {
		display: none;
	}

	.spr-badge-starrating {
		font-size: em(11px);
		@include media-query($medium-up) {
			font-size: em(12px);
		}
	}

	.spr-icon {
		margin-right: 1px;
	}

	.spr-badge-caption {
		font-size: em(11px);
		@include media-query($medium-up) {
			font-size: em(12px);
		}
		margin-left: 4px;
	}
}

.collapsibles-wrapper {

	// Handle
	.collapsible-trigger {
		.spr-badge-caption {
			margin-left: 0;
		}

		.spr-badge-starrating {
			font-size: em(13px);
			margin-right: 10px;
			@include media-query($medium-up) {
				font-size: em(14px);
			}
		}

		.spr-badge[data-rating="0.0"] {
			.spr-starrating {
				display: none;
			}
		}
	}


	.spr-icon {
		margin-right: 1px;
	}

	.spr-badge-caption {
		margin-left: 4px;
	}

	// Content

	#shopify-product-reviews {
		margin: 0;
	}

	.spr-container {
		padding: 0;
		border: none;
	}

	.spr-header-title,
	.spr-summary-starrating,
	.spr-summary-caption {
		display: none !important;
	}

	.spr-summary-actions a,
	.spr-button {
		@extend .btn;
		@extend .btn--small;
		margin-top: 0 !important;
	}

	.spr-button-primary {
		float: none;
	}

	@media only screen and (max-width: 480px) {
		.spr-summary {
			text-align: left;
		}
	}

	// Form {
	.spr-form-title {
		display: none;
	}

	.spr-form-label {
		font-size: 13px !important;
	}


	// Review

	.spr-review-header .spr-starratings {
		font-size: 14px;
	}

	.spr-review-header-byline {
		opacity: 1;
		font-size: 11px !important;

		strong {
			font-weight: normal;
		}
	}

}

// collapsibles-wrapper is an optional wrapper

.collapsibles-wrapper--border-bottom {
	border-bottom: 1px solid $colorBorder;
}

.collapsible-trigger {
	color: inherit;
	position: relative;
}

.mobile-nav__toggle button {
	padding: 20px 30px;
}

.collapsible-trigger__icon {
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	width: $collapsible-trigger-icon-width;
	height: $collapsible-trigger-icon-width;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

	.mobile-nav__has-sublist & {
		right: $gutter / 2;
	}

	.icon {
		display: block;
		width: $collapsible-trigger-icon-width;
		height: $collapsible-trigger-icon-width;
		transition: all 0.1s ease-in;
	}
}

.collapsible-trigger__icon--circle {
	border: 1px solid $colorBorder;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;

	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.collapsible-trigger.is-open > .collapsible-trigger__icon > .icon-chevron-down {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

.collapsible-trigger.is-open > .collapsible-trigger__icon > .icon-plus,
.collapsible-trigger > .collapsible-trigger__icon > .icon-minus {
	display: none;
}

.collapsible-trigger.is-open > .collapsible-trigger__icon > .icon-minus {
	display: block;
}

.collapsible-content {
	transition: $collapsible-close-transition;

	&.is-open {
		visibility: visible;
		opacity: 1;
		transition: $collapsible-open-transition;
	}
}

.collapsible-content--all {
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	height: 0;

	.collapsible-content__inner {
		-webkit-transform: translateY(40px);
		transform: translateY(40px);
	}

	.collapsible-content__inner--no-translate {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@include media-query($small) {
	.collapsible-content--small {
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		opacity: 0;
		height: 0;

		.collapsible-content__inner {
			-webkit-transform: translateY(40px);
			transform: translateY(40px);
		}

		.collapsible-content__inner--no-translate {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
	}
}

.collapsible-content__inner {
	transition: $collapsible-content-close-transition;

	.is-open & {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		transition: $collapsible-content-open-transition;
	}
}

.collapsible-label__closed {
	.collapsible-trigger[aria-expanded="true"] & {
		display: none;
	}
}

.collapsible-label__open {
	display: none;

	.collapsible-trigger[aria-expanded="true"] & {
		display: inline-block;
	}
}

@media only screen and (max-width: 768px) {
	.collapsibles-wrapper {
		margin-top: 20px;
	}
}
