@font-face {
	font-family: 'FL Sans';
	src: url('//cdn.shopify.com/s/files/1/0020/1896/7605/t/56/assets/FLSans.eot'); /* IE9 Compat Modes */
	src: url('//cdn.shopify.com/s/files/1/0020/1896/7605/t/56/assets/FLSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//cdn.shopify.com/s/files/1/0020/1896/7605/t/56/assets/FLSans.woff') format('woff'), /* Pretty Modern Browsers */
	url('//cdn.shopify.com/s/files/1/0020/1896/7605/t/56/assets/FLSans.otf') format('opentype');
}
@font-face {
	font-family: 'Rox Bold';
	font-weight: normal;
	src: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-Bold.eot");
	src: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-Bold.eot?#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-Bold.woff") format("woff"), url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-Bold.woff2") format("woff2");
}

@font-face {
	font-family: 'Rox DemiBold';
	font-weight: normal;
	src: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-DemiBold.eot");
	src: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-DemiBold.eot?#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-DemiBold.woff") format("woff"), url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/RoxboroughCF-DemiBold.woff2") format("woff2");
}
