/*============================================================================
  Headings
==============================================================================*/

h1, h2, h3, h4, h5, h6 {
	display: block;
	@include headerFontStack;
	margin: 0 0 ($gutter / 4);

	a {
		text-decoration: none;
		font-weight: inherit;
	}

	@include media-query($medium-up) {
		margin: 0 0 ($gutter / 2);
	}
}

h1 {
	font-size: em(floor($type_header_base_size * 0.85));
	@include media-query($medium-up) {
		font-size: em($type_header_base_size);
	}
}

h2 {
	font-size: em(floor($type_header_base_size * 0.9 * 0.85));
	@include media-query($medium-up) {
		font-size: em(floor($type_header_base_size * 0.9));
	}
}

h3 {
	font-size: em(floor($type_header_base_size * 0.85 * 0.85));
	@include media-query($medium-up) {
		font-size: em(floor($type_header_base_size * 0.85));
	}
}

h4 {
	font-size: em(floor($type_header_base_size * 0.54 * 0.85));
	@include media-query($medium-up) {
		font-size: em(floor($type_header_base_size * 0.54));
	}
}

h5,
h6 {
	font-size: em(floor($type_header_base_size * 0.5));
}

.h1 {
	@extend h1;
}

.h2 {
	@extend h2;
}

.h3 {
	@extend h3;
}

.h4 {
	@extend h4;
}

.h5 {
	@extend h5;
}

.h6 {
	@extend h6;
}

// Standardize text spacing sometimes

.text-spacing {
	margin-bottom: $gutter / 2;
}
div#CollectionAjaxResult header.section-header {
	text-align: center;
	margin-bottom: 50px;
	h1 {
		font-size: 18px;
		text-transform: uppercase;
		margin: 0;
	}
}