
/*================ Partials | Helper Classes ================*/

[tabindex='-1']:focus {
	outline: none;
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	*zoom: 1;
}

.is-transitioning {
	display: block !important;
	visibility: visible !important;
}

.display-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

@include media-query($medium-up) {
	.medium-up--display-table {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.medium-up--display-table-cell {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
}

.visually-hidden {
	@include visuallyHidden();
}
