
/*============================================================================
  #OOCSS Media Object
    - http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
==============================================================================*/

.media,
.media-flex {
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
}

.media-img {
	float: left;
	margin-right: $gutter;
}

.media-img-right {
	float: right;
	margin-left: $gutter;
}

.media-img img,
.media-img-right img {
	display: block;
}
