/*============================================================================
  #Sass Mixins
==============================================================================*/

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin clearfix() {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

/*================ Media Query Mixin ================*/

@mixin media-query($media-query) {
	@each $breakpoint in $grid-breakpoints {
		$name: nth($breakpoint, 1);
		$declaration: nth($breakpoint, 2);

		@if $media-query == $name and $declaration {
			@media only screen and #{$declaration} {
				@content;
			}
		}
	}
}

/*================ Responsive Show/Hide Helper ================*/

@mixin responsive-display-helper($grid-breakpoint-type: '') {
	.#{$grid-breakpoint-type}show {
		display: block !important;
	}

	.#{$grid-breakpoint-type}hide {
		display: none !important;
	}
}

/*================ Responsive Text Alignment Helper ================*/

@mixin responsive-text-align-helper($grid-breakpoint-type: '') {
	.#{$grid-breakpoint-type}text-left {
		text-align: left !important;
	}

	.#{$grid-breakpoint-type}text-right {
		text-align: right !important;
	}

	.#{$grid-breakpoint-type}text-center {
		text-align: center !important;
	}
}

/*================ Animation related mixins ================*/

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@function cart-animation-iteration($i: 1, $base: 0.1s) {
	$additional: 0.06 * $i;
	@if $i == 1 {
		$additional: 0;
	}
	@return $base + $additional;
}

/*================ Functions ================*/

@function em($target, $context: $type_base_size) {
	@if $target == 0 {
		@return 0;
	}
	@return $target / $context + 0em;
}

@function color-control($color, $opacity) {
	@if (lightness( $color ) > 40) {
		@return rgba(0,0,0,$opacity);
	}
	@else {
		@return rgba(255,255,255,$opacity);
	}
}

@function adaptive-color($color, $percentage) {
	@if (lightness( $color ) > 40) {
		@return darken($color, $percentage);
	}
	@else {
		@return lighten($color, $percentage);
	}
}

//Font Stack Mixins

@mixin baseFontStack {
	font-family: $type_base_stack;
	letter-spacing: $type_base_spacing;
	line-height: $type_base_line_height;
}

@mixin headerFontStack {
	font-family: $type_header_stack;
	font-weight: $type_header_weight;
	letter-spacing: $type_header_spacing;
	line-height: $type_header_line_height;
}

@mixin baseAccentFontStack {
	@include baseFontStack;
	@if $type_base_accent_transform {
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}
}

@mixin headerAccentFontStack {
	@include headerFontStack;
	@if $type_header_accent_transform {
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}
}

@mixin visuallyHidden {
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

/*================ Animations and keyframes ================*/

@include keyframes(spin) {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@include keyframes(fadeIn) {
	0%, 35% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include keyframes(heroContentIn) {
	0%, 35% {
		opacity: 0;
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	60% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

/*================ Overlay ================*/

@mixin overlay($z-index: null) {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	@if ($z-index) {
		z-index: $z-index;
	}
}

@mixin heroScrim() {
	background: linear-gradient(to bottom, rgba($colorImage2, $colorImage2Opacity) 0%, rgba($colorImage2, $colorImage2Opacity) 40%, rgba($colorImage1, $colorImage1Opacity) 100%);
}

@mixin partialScrim() {
	background: linear-gradient(to bottom, rgba($colorImage2, $colorImage2Opacity) 30%, rgba($colorImage1, $colorImage1Opacity) 100%);
}

/*================ Loading spinner ================*/

@mixin spinner($size: 20px, $color: $color-btn-primary-text) {
	content: '';
	display: block;
	width: $size;
	height: $size;
	position: absolute;
	margin-left: - $size / 2;
	margin-top: - $size / 2;
	border-radius: 50%;
	border: 3px solid $color;
	border-top-color: transparent;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

