/************ MEDIA STYLES ***************/
@media screen and (min-width: 1660px) {
	div#shopify-section-man-testimonial {
		margin-bottom: 50px;
	}

	div#shopify-section-man-featured-collection {
		margin-bottom: 75px;
	}
	.page-width.full_width {
		max-width: 1920px;
		margin: 0 auto;
	}
	div#shopify-section-women-instagram {
		margin-top: 0;
	}
	div#shopify-section-women-image-with-text-new .basic_image_with_text {
		padding-top: 0;
	}
	div#shopify-section-women-featured-collection {
		margin-bottom: 70px;
		margin-top: 95px;
	}

	div#shopify-section-women-testimonial {
		margin-bottom: 80px;
	}

	div#shopify-section-man-logo-list {
		margin-top: 51px;
		margin-bottom: 100px;
	}
	.grid.grid--uniform.aos-init.aos-animate {
		display: flex;
	}
	div#shopify-section-1545228743726 {
		margin-top: 75px;
		margin-bottom: 75px;
	}
	.index-section--text-image {
		margin-bottom: 60px;
	}

	div#shopify-section-1545227989689 {
		margin-bottom: 60px;
	}

	div#shopify-section-1545228102521 {
		margin-bottom: 55px;
	}

	div#shopify-section-1545228206139 {
		margin-bottom: 58px;
	}

	div#shopify-section-1545228342260 {
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 1440px) {
	.content_absolute_block.block_right .inner_content_absolute_block {
		padding-left: 40px;
		padding-right: 110px;
	}

	.inner_content_absolute_block {
		padding-left: 130px;
	}
}

@media screen and (max-width: 1199px) {
	.page-width.full_width .feature-row__text .btn {
		display: block;
		width: max-content;
	}
	.inner_absolute_block_content {
		height: 100%;
	}

	section.absolute_image_text {
		padding-bottom: 160px;
	}

	div#shopify-section-1545123519036 section.absolute_image_text {
		padding-bottom: 150px;
	}
	.flex_wrapper_instagram {
		margin: 0;
	}
	.fs-small-timeline div.fs-entry-container {
		width: calc(50% - 10px);
	}
	div#shopify-section-1524052666842 {
		margin-top: 0;
	}
}

@media screen and (max-width: 1024px) {

	div#shopify-section-1545051471538 {
		margin-top: 40px;
		margin-bottom: 0;
	}

	div#shopify-section-1545051572050 {
		margin-bottom: 40px;
	}

	.bg_color_black {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	div#shopify-section-1545054206046 {
		margin-bottom: 40px;
	}

	div#shopify-section-1545055237734 {
		margin-bottom: 40px;
	}

	div#shopify-section-1545058066543 {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 991px) {
	.content_absolute_block.block_right .inner_content_absolute_block {
		padding-right: 40px;
	}
	.inner_absolute_block_content h2.h3 {
		font-size: 30px;
	}

	.inner_content_absolute_block {
		padding-right: 40px;
		padding-left: 40px;
		padding-bottom: 40px;
		padding-top: 40px;
	}

	.inner_content_absolute_block .rte p {
		font-size: 14px;
	}

	.inner_content_absolute_block a.btn {
		font-size: 12px;
	}

	.inner_absolute_block_content {
		top: 0;
		position: static;
	}

	section.absolute_image_text {
		padding-bottom: 0;
	}

	.image_absolute_block.image_left {
		top: 0;
	}

	.inner_image_absolute_block {
		height: 100%;
	}
	.basic_image_with_text .inner_image_absolute_block {
		height: 0;
	}

	img.image_absolute_block_inner {
		height: 100%;
		object-fit: cover;
	}

	.image_absolute_block.image_right {
		top: 0;
	}

	div#shopify-section-1545123519036 section.absolute_image_text {
		padding-bottom: 0;
	}
	.flex_wrapper_instagram {
		flex-direction: column;
	}
	.title_block_instagram {
		text-align: center;
		justify-content: center;
	}

	.instagram p.subtitle {
		text-align: center;
	}

	.instagram .rte.featured-row__subtext {
		text-align: center;
		margin: 0 auto;
	}

	.instagram a.btn {
		margin-top: 20px;
	}

	.instagram .feature-row__item {
		text-align: center;
		margin-bottom: 30px;
	}

	.bg_image_home_video {
		max-width: 100%;
		height: 430px;
	}

	.bg_image_hove_video_absolute {
		background-size: cover;
		background-repeat: no-repeat;
	}
	section.video_home {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	h2.title_video_home_text {
		margin-bottom: 30px;
	}

	.content_video_home {
		padding-bottom: 40px;
	}
	.larger-text .h3 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.feature-row__text .rte p {
		margin-bottom: 20px;
	}
	.title_block_instagram h2.h3 {
		font-size: 30px;
	}

	.instagram .rte.featured-row__subtext {
		font-size: 16px;
	}

	p.content_text_story_text {
		font-size: 16px;
	}
	.testimonials-slider .rte-setting p {
		font-size: 18px;
	}

	.image_wrapper_partners {
		padding-top: 40px;
	}
	.page-width.text-center.testimonial-section {
		padding-left: 15px;
		padding-right: 15px;
	}

	.slick-prev {
		left: 10px;
	}

	.slick-next {
		right: 10px;
	}
}

@media screen and (max-width: 768px) {
	.main-header__nav-desktop .main-header__item--logo {
		margin: 0 auto;
	}
	.feature-row__item.feature-row__text.feature-row__text--right.larger-text.right_block .inner_feature_row_flex {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}

	.basic_image_with_text.app-block {
		padding-top: 40px;
	}

	.feature-row__item.feature-row__text.feature-row__text--right.larger-text.right_block {
		padding-left: 0;
		height: 0;
	}
	.page-width.full_width .inner_feature_row_flex {
		background-color: transparent;
		top: -118px;
	}

	.page-width.full_width .inner_feature_row_flex h2.h3 {
		color: #ffffff;
		font-family: DM Sans; /* Text style for "True sparc" */
		letter-spacing: 0.75px;
		margin-bottom: 11px;
	}

	.page-width.full_width .inner_feature_row_flex a.btn {
		color: #ffffff;
		font-family: DM Sans; /* Text style for "SHOP VENIC" */
		letter-spacing: 1.25px;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.feature-row__item.feature-row__text.feature-row__text--left.larger-text.left_block {
		height: 0;
		padding-bottom: 0;
	}

	.page-width.full_width .inner_feature_row_flex a.btn:after {
		background-color: #fff;
	}
	div#shopify-section-1545051572050 .page-width {
		padding-left: 0;
		padding-right: 0;
	}

	.feature-row__item.feature-row__text.feature-row__text--right.larger-text {
		padding-left: 25px;
		padding-right: 25px;
		text-align: center;
	}
	div#shopify-section-1545055237734 .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	.bg_color_black .larger-text .subtitle {
		color: #c6af76;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "MEET" */
		letter-spacing: 3px;
		margin-bottom: 1px;
	}

	.bg_color_black .larger-text .h3 {
		color: #ffffff;
		font-family: "Rox Bold";
		font-size: 30px;
		font-weight: 700; /* Text style for "The Essenc" */
		/* Text style for "e" */
		letter-spacing: 0.15px;
		margin-bottom: 20px;
	}

	div#shopify-section-1545054206046 {
		margin-bottom: 63px;
	}
	.site-header {
		z-index: 99999;
	}
	h2.title_video_home_text {
		font-size: 22px;
	}
	div#shopify-section-1545051471538 .page-width {
		padding-left: 0;
		padding-right: 0;
	}

	.feature-row__item.feature-row__text.feature-row__text--left.larger-text {
		padding-left: 25px;
		padding-right: 25px;
	}

	.inner_feature_row_flex {
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		background-color: #fff;
		z-index: 10;
		text-align: center;
	}

	.basic_image_with_text:not(.app-block) .inner_feature_row_flex {
		top: -50px;
	}

	div#shopify-section-1545051471538 .feature-row.aos-init.aos-animate {
		position: relative;
	}

	div#shopify-section-1545051471538 {
		margin-top: 54px;
	}

	.feature-row__text .rte p {
		margin: 0 auto;
		color: #818287;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 500;
		line-height: 21px; /* Text style for "A small wh" */
		letter-spacing: 0.49px;
		margin-bottom: 31px;
	}

	.larger-text .subtitle {
		padding-top: 18px;
		margin-bottom: 14px;
		color: #c6af76;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "TRUE SIGNA" */
		letter-spacing: 2.57px;
	}

	.larger-text .h3 {
		color: #262626;
		font-family: "Rox Bold";
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 21px;
	}

	.feature-row__text .btn {
		color: #262626;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase; /* Text style for "EXPLORE TH" */
		letter-spacing: 1.07px;
	}
}

@media screen and (max-width: 768px) {
	.skrim__link:hover .skrim__title {
		bottom: 42px;
	}
	.basic_image_with_text.app-block {
		padding-bottom: 40px;
	}
	.watch_video a.btn {
		margin-left: auto;
		margin-right: auto;
	}
	div#shopify-section-1545228342260 {
		margin-bottom: 44px;
	}
	.fs-next-button {
		display: flex;
		justify-content: center;
		max-height: max-content;
	}

	p.load_more_instagram {
		margin-bottom: 0;
		color: #262626;
		font-family: DM Sans;
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1.07px;
		position: relative;
		line-height: 1.4;
	}

	p.load_more_instagram:after {
		background-color: #000;
	}
	.inner_absolute_block_content h2.h3 {
		line-height: 1;
	}

	.inner_content_absolute_block {
		display: block;
		margin: 0 auto;
	}
	div#shopify-section-women-logo-list {
		padding-bottom: 40px;
	}
	.logo-bar.logo-bar--women-logo-list {
		justify-content: space-between;
	}
	div#CollectionSection-man-featured-collection {
		display: none;
	}

	div#shopify-section-man-logo-list {
		padding-bottom: 40px;
	}
	.logo-bar--man-logo-list {
		justify-content: space-between;
	}
	div#shopify-section-1545124079004 .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	.content_absolute_block.block_right {
		order: 2;
		width: 100%;
		background-color: #fff;
		position: relative;
	}

	.image_absolute_block.image_right {
		width: 100%;
		margin-bottom: -8px;
	}

	.block_right .inner_absolute_block_content {
		left: 25px;
		right: 25px;
		margin: 0;
		max-width: 100%;
		width: calc(100% - 50px);
		z-index: 9;
		position: relative;
	}
	.bg_coloro_absolute_image_text {
		flex-direction: column;
	}

	.image_absolute_block.image_left {
		width: 100%;
		margin-bottom: -8px;
	}

	.content_absolute_block.block_left {
		width: 100%;
		position: relative;
		background-color: #fff;
	}

	.inner_absolute_block_content {
		z-index: 3;
		left: 25px;
		right: 25px;
		width: calc(100% - 50px);
		position: relative;
		top: -45px;
	}

	.inner_content_absolute_block {
		padding-top: 18px;
		padding-bottom: 22px;
		text-align: center;
		padding-right: 26px;
		padding-left: 26px;
	}

	.inner_content_absolute_block p.subtitle {
		color: #c6af76;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "STYLED BY" */
		letter-spacing: 2.57px;
		text-align: center;
		margin-bottom: 14px;
	}

	.inner_absolute_block_content h2.h3 {
		color: #262626;
		font-family: Rox Bold;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 21px;
	}

	.inner_content_absolute_block .rte p {
		color: #818287;
		font-family: DM Sans;
		line-height: 21px; /* Text style for "A small wh" */
		letter-spacing: 0.49px;
		margin-bottom: 37px;
		text-align: center;
		font-size: 12px;
	}

	div#shopify-section-1545120069109 {
		display: none;
	}
	.logo-bar.logo-bar--1545085053907 {
		padding-bottom: 40px;
		display: flex;
		justify-content: space-between;
	}
	div#shopify-section-1545084800381 .page-width {
		padding-left: 0;
		padding-right: 0;
	}

	div#shopify-section-1545084854543 .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	.video_text_block .feature-row__text .btn {
		margin-bottom: 45px;
	}

	.watch_video a.btn {
		justify-content: center;
		align-items: center;
	}

	.video_text_block .watch_video a.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 100%;
		margin-bottom: 28px;
	}

	.play_market_app_icons {
		margin: 0 auto;
	}

	.watch_video {
		margin-bottom: 28px;
	}

	div#shopify-section-1545083099700 {
		margin-bottom: 80px;
	}
	div#shopify-section-1545081773420 {
		display: none;
	}

	.feature-row__item.feature-row__text.feature-row__text--left.larger-text.left_block {
		padding: 0;
	}

	div#shopify-section-1545080072643 {
		margin-bottom: 42px;
	}

	.page-width.text-center.testimonial-section {
		margin-bottom: 100px;
	}
	.instagram_inner:after {
		content: '';
		position: absolute;
		bottom: -17px;
		left: 70px;
		right: 70px;
		background-color: #dfdfdf;
		height: 1px;
	}

	.instagram_inner {
		position: relative;
	}

	div#shopify-section-1545058066543 {
		margin-bottom: 60px;
	}

	h2.section-header__title {
		color: #000000;
		font-family: DM Sans;
		text-transform: uppercase; /* Text style for "AS SEEN ON" */
		letter-spacing: 2px;
		margin-bottom: 14px;
	}

	div#shopify-section-1545056350656 .section-header {
		margin-bottom: 14px;
	}
	.fs-small-timeline div.fs-entry-container {
		width: calc(33% - 10px);
	}
	.instagram p.subtitle {
		color: #c6af76;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "FROM THE F" */
		letter-spacing: 2.57px;
		margin-bottom: 4px;
	}

	img.title_icon_instagram {
		display: none;
	}

	.title_block_instagram h2.h3 {
		color: #262626;
		font-family: Rox Bold;
		font-size: 24px;
		font-weight: 700;
	}

	.title_block_instagram {
		margin-bottom: 37px;
	}

	.instagram .rte.featured-row__subtext {
		display: none;
	}

	.instagram a.btn {
		display: none;
	}

	.instagram .feature-row__item {
		margin-bottom: 0;
	}
	div#shopify-section-1545055237734 {
		margin-bottom: 0;
	}
	div#shopify-section-1545055237734 a.btn {
		margin-bottom: 0;
	}
	.bg_color_black p.subtitle {
		display: none;
	}

	.bg_color_black h2.h3 {
		display: none;
	}

	.bg_color_black .phone_title_black_block p.subtitle {
		display: block;
		text-align: center;
		color: #c6af76;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "MEET" */
		letter-spacing: 3px;
		margin-bottom: 1px;
	}

	.bg_color_black .feature-row__text {
		text-align: center;
	}

	.bg_color_black .phone_title_black_block h2.h3 {
		display: block;
		color: #ffffff;
		text-align: center;
		font-family: Rox Bold;
		font-size: 30px;
		font-weight: 700; /* Text style for "The Essenc" */
		/* Text style for "e" */
		letter-spacing: 0.15px;
		margin-bottom: 30px;
	}
	.bg_color_black .image-wrap {
		margin-bottom: 52px;
	}

	.bg_color_black .feature-row__text .rte p {
		width: 100%;
		max-width: 100%;
		color: #ffffff;
		font-family: DM Sans;
		margin-bottom: 48px;
	}

	.bg_color_black .feature-row__text .btn {
		color: #ffffff;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase; /* Text style for "SHOP MEN" */
		letter-spacing: 1.07px;
		display: block;
		width: auto;
		float: left;
		position: relative;
		margin-right: 30px;
		margin-bottom: 0;
	}
	.flex_buttons_inner {
		display: flex;
		justify-content: center;
	}

	.bg_color_black .feature-row__text .btn:after {
		background: #fff;
	}

	.bg_color_black .feature-row__text .btn:last-child {
		margin-right: 0;
	}
	.phone_title_black_block {
		display: block;
	}
	.content_video_home {
		padding-bottom: 37px;
	}

	p.content_text_story_text {
		color: #818287;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 400;
		line-height: 21px;
		/* Text style for "A small wh" */
		letter-spacing: 0.4px;
	}

	a.button_story {
		color: #ffffff;
		font-family: DM Sans;
		font-weight: 500;
		text-transform: uppercase; /* Text style for "READ OUR S" */
		letter-spacing: 1.25px;
	}
	.button_play_video_home {
		width: 54px;
		height: 54px;
	}

	.content_button_play_video_home {
		margin-left: 11px;
	}

	.absolute_content_video_home_block {
		justify-content: flex-start;
	}

	p.text_title_video_home_play_phone {
		margin-bottom: 0;
		color: #ffffff;
		font-family: DM Sans;
	}

	.time_video_home_play p.text_title_video_home_play {
		margin-bottom: 0;
		color: #ffffff;
		font-family: DM Sans;
	}
	.absolute_content_video_home_block {
		left: 33px;
		right: 33px;
	}
	.title_video_home_play_phone {
		display: block;
	}
	h3.after_title_video_home_text {
		color: #c6af76;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "WATCH THE" */
		letter-spacing: 2.57px;
		margin-bottom: 14px;
	}

	section.video_home {
		padding-top: 52px;
	}

	h2.title_video_home_text {
		color: #ffffff;
		font-family: "FL Sans";
		font-size: 20px;
		max-width: 280px;
		margin: 0 auto;
		margin-bottom: 44px;
	}

	.bg_image_hove_video_absolute {
		background-position: center;
	}

	.title_video_home_play {
		display: none;
	}
	.testimonial-item_phone {
		display: flex !important;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 170px;
	}
	div#shopify-section-1524059837151 {
		margin-bottom: 100px;
	}
	.phone_testimonial_image {
		padding-bottom: 24px;
	}
	.testimonial-section .section-header h2 {
		color: #c6af76;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "What other" */
		letter-spacing: 2px;
		margin-bottom: 29px;
	}

	.testimonial-item_phone .text-spacing {
		margin-bottom: 31px;
	}

	.testimonials-wrapper_phone {
	}

	.slick-dots li.slick-active button:before {
		width: 8px;
		height: 8px;
		display: none !important;
		background-color: #666666;
	}

	.slick-dots li button:before {
		width: 5px;
		height: 5px;
		display: none !important;
		background-color: #d8d8d8;
	}

	.slick-slider .slick-dots li button {
		outline: unset;
	}
	.phone_testimonial_image {
		display: flex;
		justify-content: center;
	}

	.testimonials-wrapper_phone .rte-setting.text-spacing p {
		color: #000000;
		font-family: DM Sans;
		letter-spacing: 0.49px; /* Text style for "T’S A TIME" */
	}

	.testimonials-wrapper_phone .rte-setting.text-spacing p br {
		display: none;
	}
	.testimonials-wrapper {
		display: none;
	}
	.image_wrapper_partners {
		display: none;
	}
	.testimonials-wrapper_phone {
		display: block;
	}
	div#shopify-section-1524052666842 .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	.skrim__underline-me {
		color: #ffffff;
		font-family: DM Sans;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase; /* Text style for "SHOP MEN’S" */
		letter-spacing: 2.33px;
	}
	.skrim__title {
		opacity: 1;
		display: flex;
		width: calc(100% - 26px);
		position: relative;
		bottom: 42px;
		justify-content: center;
	}

	.grid__item.medium-up--one-half.collection--square-large.skrim__item.aos-init.aos-animate {
		height: 366px;
	}
}



@media screen and (max-width: 575px) {
	div#shopify-section-women-featured-collection {
		margin: 0;
	}
	.absolute_content_video_home_block {
		bottom: 12px;
	}
	.feature-row__text .inner_feature_row_flex .watch_video .btn {
		margin-bottom: 0px;
	}
	.play_market_app_icons {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 194px;
	}

	a.inner_text_play_market {
		display: block;
	}

	.play_market_inner {
		margin-left: 5px;
		margin-right: 5px;
	}

	.app_store_inner {
		margin-left: 5px;
		margin-right: 5px;
	}
	.inner_feature_row_flex {
		display: flex;
		flex-direction: column;
	}

	.feature-row__text .inner_feature_row_flex .btn {
		max-width: max-content;
		margin-left: auto;
		margin-right: auto;
		order: 5;
		margin-bottom: 28px;
	}

	.watch_video {
		order: 4;
	}

	.play_market_app_icons {
		order: 6;
	}
	.image_block_inner_hero {
		height: 452px;
	}

	.image_block_inner_hero img {
		height: 100%;
		object-fit: cover;
	}

	.page-width.full_width .inner_feature_row_flex a.btn {
		color: #ffffff;
		font-family: DM Sans;
		text-transform: uppercase; /* Text style for "SHOP VENIC" */
		letter-spacing: 1.25px;
		font-size: 14px;
	}

	.page-width.full_width .inner_feature_row_flex h2.h3 {
		color: #ffffff;
		font-family: DM Sans; /* Text style for "True sparc" */
		letter-spacing: 0.75px;
		font-size: 18px;
		font-weight: 500; /* Text style for "True sparc" */
	}

	a.button_story {
		color: #ffffff;
		font-family: DM Sans;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase; /* Text style for "READ OUR S" */
		letter-spacing: 1.25px;
	}


	p.text_title_video_home_play_phone {
		color: #ffffff;
		font-family: DM Sans;
		text-transform: uppercase; /* Text style for "PRESS TO P" */
		letter-spacing: 1px;
		font-size: 12px;
		line-height: 1.4;
		font-weight: 500;
	}

	.time_video_home_play p.text_title_video_home_play {
		color: #ffffff;
		font-family: DM Sans;
		font-weight: 400; /* Text style for "2:58" */
		letter-spacing: 1px;
		font-size: 12px;
		line-height: 1;
	}

	.button_play_video_home {
		width: 35px;
		height: 35px;
	}

	.absolute_content_video_home_block {
		align-items: center;
	}
	.absolute_gradient_block {
		height: 88px;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 38%, rgba(0, 0, 0, 0.44) 42%, #000000 100%);
		opacity: 0.7;
	}
	.bg_color_black .feature-row__text .rte p {
		color: #ffffff;
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 400;
		line-height: 21px; /* Text style for "A small wh" */
		letter-spacing: 0.49px;
	}
	.page-width.full_width .inner_feature_row_flex {
		top: -100px;
	}
	section.video_home {
		padding-top: 44px;
	}

	.larger-text .h3 {
		line-height: 1;
	}
	div#shopify-section-man-featured-collection {
		margin-top: 0;
		margin-bottom: 0;
	}
	div#shopify-section-man-image-with-text-new .basic_image_with_text:last-child {
		padding-bottom: 0;
	}
	.basic_image_with_text .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	img.image_absolute_block_inner {
		object-fit: contain;
		min-height: unset !important;
	}

	.watch_video a.btn {
		margin: 0 auto;
	}
	.index-section--text-image {
		margin-top: 54px !important;
	}

	div#shopify-section-1545228102521 {
		margin-bottom: 54px;
	}


	.index-section--text-image .page-width {
		padding-left: 0;
		padding-right: 0;
	}

	div#shopify-section-1545227989689 .page-width {
		padding-left: 0;
		padding-right: 0;
	}

	div#shopify-section-1545228206139 .page-width {
		padding-left: 0;
		padding-right: 0;
	}

	div#shopify-section-1545228534806 {
		padding-bottom: 40px;
	}

	.tm-slider-wrap .tm-slider .tm-slide .tm-image {
		background-color: unset;
	}

	.section-testimonials {
		background-color: unset;
	}
	.tm-slider-wrap .tm-slider .tm-slide {
		height: 100% !important;
	}
	div#shopify-section-women-text-and-image .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	div#CollectionSection-women-featured-collection {
		display: none;
	}

	div#shopify-section-man-text-and-imageleft .page-width {
		padding-left: 0;
		padding-right: 0;
	}
	div#shopify-section-man-text-and-imageright .page-width {
		padding-left: 0;
		padding-right: 0;
	}

	.story_video_home {
		padding-left: 40px;
		padding-right: 40px;
	}
	.page-width.text-center.testimonial-section {
		margin-top: 70px;
	}

	.testimonial-section .section-header h2 {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 28px;
	}

	.feature-row__text .btn {
		margin-bottom: 24px;
		margin-right: 0;
	}
	div#shopify-section-1545051572050 {
		margin-bottom: 0;
	}
	.fs-narrow-timeline div.fs-entry-container {
		width: calc(33% - 10px);
		padding-top: calc(33% - 10px);
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 475px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

	.inner_content_absolute_block a.btn {
		font-size: 10px;
	}
}

@media screen and (max-width: 320px) {
	.content_absolute_block.block_right .inner_content_absolute_block {
		padding-left: 20px;
		padding-right: 20px;
	}
	.inner_content_absolute_block a.btn {
		font-size: 9px;
	}
	.feature-row__text .btn {
		font-size: 9px;
	}
	.inner_content_absolute_block {
		padding-left: 20px;
		padding-right: 20px;
	}
	div#shopify-section-women-text-and-image .feature-row__text .btn {
		font-size: 9px;
	}

	div#shopify-section-women-text-and-imageleft-absolute .inner_content_absolute_block a.btn {
		font-size: 9px;
	}

	.content_absolute_block a.btn:after {
		bottom: 0;
	}
	.page-width.full_width .inner_feature_row_flex h2.h3 {
		font-size: 18px;
	}

	.page-width.full_width .inner_feature_row_flex a.btn {
		font-size: 10px;
	}

	.page-width.full_width .inner_feature_row_flex {
		top: -85px;
	}

	div#shopify-section-man-text-and-image-and-video .feature-row__item.feature-row__text.feature-row__text--right.larger-text {
		padding-left: 0;
		padding-right: 0;
	}
	a.site-nav__link.site-nav__link--icon.js-drawer-open-cart.js-no-transition {
		display: none;
	}
	div#shopify-section-1545055237734 a.btn {
		font-size: 10px;
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.index-section--featured-collection {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 769px) {
	.index-section--featured-collection {
		margin-bottom: 60px;
	}
}


@media only screen and (max-width: 1023px) {
	.medium-up--five-twelfths {
		width: 100%;
	}
	.main-header--mobile {
		display: block;
	}
	.main-header--desktop {
		display: none;
	}
	.medium-up--seven-twelfths {
		width: 100%;
	}
	.product-single__meta {
		padding-left: 0;
	}
	.main-quote {
		margin: 0;
	}
	.footer__item--1525348384454 {
		width: 100%;
	}
	.site-footer .page-width {
		padding: 0 15px;
	}
	.site-footer .footer__item--1494301487049 {
		width: 50%;
		margin-bottom: 30px;
	}
	.site-footer .footer__item--1533912301046 {
		width: 50%;
	}
	.site-footer .footer__item--1557473293574 {
		width: 50%;
	}
	.site-footer .footer__item--1494292487693 {
		width: 50%;
	}
	.site-footer {
		padding-top: 30px;
	}
	.site-footer .footer__item--1525348384454 {
		width: 100%;
	}
	.product-single__meta .pricing-row > .grid__item {
		margin: 0 auto;
	}
	.add-acs {
		max-width: 100%;
	}
	.product-single__upsale .acs-product__select.loaded {
		width: 100%;
	}
	.product-single__upsale .acs-product__select.loaded {
		width: auto;
		padding: 0 10px;
	}
}

@media only screen and (max-width: 767px) {
	.available-watches .medium-up--one-quarter {
		width: 33%;
	}
}

@media only screen and (max-width: 600px) {
	.site-footer .footer__item--1494301487049 {
		width: 100%;
		margin-bottom: 0;
	}
	.available-watches .medium-up--one-quarter {
		width: 50%;
	}
	.site-footer .footer__item--1533912301046 {
		width: 100%;
	}
	.site-footer .footer__item--1557473293574 {
		width: 100%;
	}
	.site-footer .footer__item--1494292487693 {
		width: 100%;
	}
}
