// Section sizes

.large-image--250 {
	height: floor(250px * 0.65);
}

.large-image--350 {
	height: floor(350px * 0.65);
}

.large-image--450 {
	height: floor(450px * 0.65);
}

.large-image--550 {
	height: floor(550px * 0.65);
}

.large-image--650 {
	height: floor(650px * 0.65);
}

.large-image--750 {
	height: floor(750px * 0.65);
}

@include media-query($medium-up) {
	.large-image--250 {
		height: 250px;
	}
	.large-image--350 {
		height: 350px;
	}
	.large-image--450 {
		height: 450px;
	}
	.large-image--550 {
		height: 550px;
	}
	.large-image--650 {
		height: 650px;
	}
	.large-image--750 {
		height: 750px;
	}
}

@if ($animate_sections) {
	[data-aos="large-image__animation"] .large-image__image {
		-webkit-animation: fade-out 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		animation: fade-out 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		opacity: 0;
	}
	[data-aos="large-image__animation"].aos-animate .large-image__image {
		-webkit-animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
	}
}

.quote-icon {
	display: block;
	margin: 0 auto 20px;
}

.shopify-challenge__container {
	padding: 30px 22px;
	@include media-query($medium-up) {
		padding: 120px 0;
	}
}

.page-container .shop-perks {
	background-color: #687672;
}
.shop-perks .perk .icon { margin-right: 16px; min-width: 32px!important; height: 32px!important; }
.template-index .testimonials-wrapper {
	display: block;
}

#countdown-bar {
	&.loaded {
		.bar {
			.bar__text {
				opacity: 1;
			}
		}
	}

	.bar {
		position: relative;
		z-index: $z-index-announcement;
		transition: height 0.5s cubic-bezier(0, 0, 0.38, 1);
		overflow: hidden;
		background-color: $colorAnnouncement;
		color: $colorAnnouncementText;
		text-align: center;

		.bar__text {
			padding: 5px 20px 4px;
			font-size: em(14px);
			opacity: 0;
			transition: opacity 0.75s ease 0.5s;
			display: inline-block;

			&.left {
				padding-right: 0;
			}

			&.right {
				padding-left: 0;
			}

			@include media-query($medium-up) {
				text-align: center;
				padding: 6px 20px 5px;
				font-size: em(12px);
			}
		}

		.bar__link {
			display: block;
			color: $colorAnnouncementText;

			&:hover {
				color: $colorAnnouncementText;
			}
		}
	}
}

#view-more-cnt {
	position: relative;
	transition: all 1s ease;
	&.less {
		#view-more-content {
			max-height: 150px;
			height: auto;
		}
		.btn-show-hide {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.38), #ffffff 1.38em);
		}
	}
	.btn-show-hide {
		width: 100%;
		position: relative;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		font-weight: 500;
		transition: all 1s ease;
	}
	#view-more-content {
		overflow: hidden;
		text-overflow: ellipsis;
		transition: all 1s ease;
		height: auto;
	}
}

html {
	padding-bottom: 0 !important;
}

.background--grey-light {
	background-color: #f3f3f3;
}

.color--gold {
	color: #C6AF76;
}

.trans,
.tm-slider-logo {
	-webkit-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.trans-short {
	-webkit-transition: all 150ms cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition: all 150ms cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition: all 150ms cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 150ms cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 150ms cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.closed .vertical {
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.closed .horizontal {
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	opacity: 1;
}

hr, .hr--small, .hr--medium, .hr--large {
	border-color: #F1F1F1;
}

@media only screen and (max-width: 768px) {
	* {
		-webkit-tap-highlight-color: transparent;
	}
	.perks-flex .perk {
		flex-direction: column;
		.icon{
			margin-top: 0;
			margin-bottom: 20px;
			margin-right: 0!important;
		}
		.text{
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}
	.shop-perks .perk:not(:last-child){
		border-bottom: none!important;
	}
}

.strike-through {
	text-decoration: line-through;
	opacity: 0.6;
}

.grid-strike-through {
	text-decoration: line-through;
	padding-right: 5px;
	opacity: 0.6;
}

.you-are-saving {
	background: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/green-check.svg") no-repeat 15px 14px;
	font-size: 14px;
	display: inline-block;
	border-radius: 2px;
	background-color: #f0f1f3;
	padding: 10px 15px 10px 39px;
	margin-top: 10px;
}

.you-are-saving .money {
	font-weight: bold;
}

#preview-bar-iframe {
	display: none;
}
.section-testimonials h2 {
	font-family: DM Sans;
	padding-top: 13px;
}

#preview-bar-iframe {
	display: none !important;
}

/* Trustpilot */
.trustpilot-widget {
	margin-top: 40px;
	margin-bottom: 40px;

	&:before {
		content: '';
		position: absolute;
		width: 400px;
		height: 30px;
		left: calc(50% - 200px);
		bottom: 31px;
		z-index: 999;
	}
}

#view-more-content a {
	color: #c6af76;
}
div#wishlistpopup{
	left: 0;
}
.stamped-ugc-modal-user-username .stamped-verified-badge {
	display: none !important;
}
.page-content {
	position: relative;
	transition: all 1s ease;

	.btn-show-hide {
		width: 100%;
		position: relative;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		font-weight: 500;
		transition: all 1s ease;
	}

	.content {
		overflow: hidden;
		text-overflow: ellipsis;
		transition: all 1s ease;
	}

	&.less {
		.content {
			max-height: 150px;
			height: auto;
		}

		.btn-show-hide {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100px;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.38), #ffffff 1.38em);
		}
	}
}

body .instabadge .instabadge-badge {
	z-index: 29 !important;
}

.image-row {
	@include clearfix;
}

.image-row__placeholder {
	float: left;
	width: 33.33%;

	.image-row--gutters & {
		width: 32%;
		margin: 0 1% 2%;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.image-row__image {
	position: relative;
	min-height: 1px;
	float: left;

	&:after {
		content: '';
		display: block;
		height: 0;
		width: 100%;
	}

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

body.mlvedaMobileFilter a.pick_currency {
	display: none !important; }

.page-width.full_width {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.page-width.full_width .feature-row.aos-init.aos-animate {
	margin: 0;
}

.page-width.full_width .larger-text h2.h3 {
	color: #262626;
	font-family: DM Sans;
	font-size: 30px;
	font-weight: 500; /* Text style for "True sparc" */
	letter-spacing: 1.25px;
	margin-bottom: 29px;
}

.page-width.full_width .feature-row__text .btn {
	color: #262626;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "SHOP VENIC" */
	letter-spacing: 1.25px;
}

.fs-small-timeline div.fs-entry-container {
	margin: 5px;
	width: calc(33% - 10px);
	padding-top: calc(33% - 10px);
}
div#fs-next-page-862692 {
	position: absolute;
}

.grid-product__type {
	opacity: 0.5;
	color: #000000;
	font-family: DM Sans;
	font-weight: 400;
	line-height: 17px; /* Text style for "Venice Aut" */
	letter-spacing: 0.42px;
	text-align: center;
	margin-bottom: 10px;
}

.grid-product__title {
	color: #000000;
	font-family: DM Sans;
	font-weight: 500;
	line-height: 20px; /* Text style for "Venice Moo" */
	letter-spacing: 0.46px;
	text-align: center;
	margin-bottom: 10px;
}

.grid-product__price {
	opacity: 0.9;
	color: #000000;
	font-family: DM Sans;
	font-weight: 400;
	line-height: 17px; /* Text style for "$649.00" */
	letter-spacing: 0.46px;
	text-align: center;
}

.shop-perks {
	background-color: #272C3B;
}
.section-inner{
	width: 100%;
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

.page-banner-section {
	margin-top: 40px;
	margin-bottom: 52px;
	.section-inner{
		width: 100%;
		max-width: 1250px;
		padding: 0 15px;
		margin: 0 auto;
		box-sizing: border-box;
		.page-banner-bg {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: right center;
			margin-bottom: 24px;
			.page-banner-content {
				padding: 116px 104px;
				.page-banner-title {
					margin-bottom: 16px;
					h1 {
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 32px;
						line-height: 40px;
						font-feature-settings: 'ss01' on;
						color: #FFFFFF;
						margin-bottom: 0;
					}
				}
				.page-banner-text {
					p {
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 24px;
						color: #FFFFFF;
						margin-bottom: 0;
						max-width: 256px;
					}
				}
				@media (max-width:992px) {
					display: none;
				}
			}
			.show-mobile{
				display: none;
				@media (max-width:992px) {
					display: block;
				}
			}
			@media (max-width: 992px) {
				background-image: none!important;
			}
		}
		.scroll-icon {
			margin: 0 auto;
			text-align: center;
			position: relative;
			svg{
				position: relative;
				display: inline-block;
				margin: 0 auto;
				animation-iteration-count: infinite;
				animation-duration: 2s;
				animation-name: landingSlide;
				top: 0;
			}
		}
	}
}
@keyframes landingSlide {
	0% {
		top: 0px;
	}
	50% {
		top: 15px;
	}
	100% {
		top: 0px;
	}
}
.internal-links-list-heading h2{
	font-family: "DM Sans";
}
.shop-perks .perk{
	justify-content: center;
}
.mlm-page {
	padding-top: 52px;
	.a_h, .y_h {
		display: inline-block;
		width: calc(50% - 4px);
		text-align: center;
		h2{
			text-align: center;
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000000;
			@media (max-width: 992px) {
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	.a_v_y_list{
		margin-bottom: 56px;
	}
	.a_v_y_list p {
		margin: 0 auto 8px;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #F5F5F5;
		a, span{
			display: inline-block;
			width: 50%;
			text-align: center;
			padding-bottom: 8px;
		}
		a{
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			text-decoration-line: underline;
			color: #5084C0;
		}
		span{
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #000000;
		}
		&:last-child{
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
	.product-section-question{
		padding: 41px 0;
		text-align: center;
		background: #F5F5F5;
		.product-section--title{
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 16px;
		}
		.product-section--text{
			font-family: DM Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #6E6E6E;
			max-width: 240px;
			margin: 0 auto 32px;
		}
		a:nth-of-type(1){
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #FFFFFF;
			padding: 12px 0;
			display: inline-block;
			background: #000000;
			border: 1px solid #000000;
			box-sizing: border-box;
			border-radius: 2px;
			height: auto;
			max-width: 285px;
			width: 100%;
			margin: 0 auto 16px;
		}
		a:nth-last-of-type(1){
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000000;
			display: inline-block;
			height: auto;
			max-width: 285px;
			width: 100%;
			padding: 12px 0;
			border: 1px solid #000000;
			box-sizing: border-box;
			border-radius: 2px;
			margin: 0 auto 16px;
		}
		.page-width{
			max-width: 535px;
		}
		.btn{
			display: block;
			margin: 0 35px 16px 35px;
			height: 40px;
			line-height: 38px;
			border: 1px solid #000000;
			background: transparent;
			text-align: center;
			font-family: DM Sans;
			font-weight: bold;
			font-size: 14px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #000;
			padding: 0;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (min-width: 590px) {
	.shop-perks {
		padding: 26px 0 25px;
	}
}

@media only screen and (max-width: 768px) {
	.shop-perks .perks-flex {
		display: block !important;
	}
}

@media only screen and (max-width: 768px) {
	.shop-perks .page-width {
		padding-left: 0;
		padding-right: 0;
	}
}

.shop-perks .perk {
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
	.shop-perks .perk {
		padding: 17px 20px 17px 20px;
		font-size: 14px;
		line-height: 1.36;
	}
	.shop-perks .perk:not(:last-child) {
		border-bottom: 1px solid #2f3547;
	}
}

@media only screen and (min-width: 590px) {
	.shop-perks .perk {
		padding-right: 25px;
		font-size: 12px;
		line-height: 1.3;
	}
}

@media only screen and (max-width: 768px) {
	.shop-perks .perk br {
		display: none;
	}
}

.shop-perks .perk .icon {
	margin-right: 16px;
	min-width: 20px;
}

@media only screen and (max-width: 768px) {
	.shop-perks .perk .icon {
		margin-top: -3px;
	}
}
