/*================ Partials | Lists ================*/

ul, ol {
	margin: 0 0 ($gutter / 2) ($gutter);
	padding: 0;
	text-rendering: optimizeLegibility;
}

ol ol {
	list-style: lower-alpha;
}

ol {
	list-style: decimal;
}

ul ul, ul ol,
ol ol, ol ul {
	margin: 4px 0 5px 20px;
}

li {
	margin-bottom: 0.25em;
}

ul.square {
	list-style: square outside;
}

ul.disc {
	list-style: disc outside;
}

ol.alpha {
	list-style: lower-alpha outside;
}

.no-bullets {
	list-style: none outside;
	margin-left: 0;
}

.inline-list {
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

table {
	width: 100%;
	border-spacing: 1px;
	position: relative;
	border: 0 none;
	background: $colorBorder;
}

.table-wrapper {
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

td,
th {
	border: 0 none;
	text-align: left;
	padding: 10px 15px;
	background: $colorBody;
}

th {
	font-weight: bold;
}

// Typography

th,
.table__title {
	font-weight: bold;
}

/*================ Partials | Links ================*/

a,
.text-link {
	color: $colorTextBody;
	text-decoration: none;
	background: transparent;

	&:hover {
		color: $colorTextBody;
	}
}

.customers {
	a {
		text-decoration: none;
		border-bottom: 2px solid rgba($colorTextBody, 0.1);
		position: relative;
	}

	@if ($animate_underlines) {
		a:after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0%;
			border-bottom: 2px solid rgba($colorTextBody, 1);
			transition: width 0.5s ease;
		}
		a {
			&:hover:after,
			&:focus:after {
				width: 100%;
			}
		}
	}
}

/*================ Force an input/button to look like a text link ================*/

.text-link {
	display: inline;
	border: 0 none;
	background: none;
	padding: 0;
	margin: 0;
}

/*================ Links in RTE ================*/

.rte a {
	color: $colorLink;

	&:hover {
	}
}

/*================ Partials | Buttons ================*/

$btnPrimaryFontSize: em(16px);

$btnPrimaryFontSmall: em(14px);

$btnPrimaryPadding: 9px 20px;

$btnPrimaryPaddingSmall: 8px 18px;

$btnMinHeightWhenQuickCheckout: 50px;

$btnBackgroundPosition: 150% 35%;

button {
	overflow: visible;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

.btn,
.rte .btn,
.shopify-payment-button .shopify-payment-button__button--unbranded {
	@include headerFontStack;
	display: inline-block;
	padding: $btnPrimaryPadding;
	margin: 0;
	width: auto;
	min-width: 90px;
	line-height: 1.42;
	font-size: $btnPrimaryFontSize;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: $input-radius;
	color: $colorBtnPrimaryText;
	background: $colorBtnPrimary;
	transition: padding-right 0.3s, background 0.3s;
	@if ($animate_buttons) {
		background: $colorBtnPrimary url(#{'"{{ "button-arrow.png" | asset_url }}"'};) no-repeat $btnBackgroundPosition;
		background-size: 29px;
		@media only screen and (-webkit-min-device-pixel-ratio: 2.0833333333333335), only screen and (min-resolution: 200dpi) {
			background-image: url(#{'"{{ "button-arrow-2x.png" | asset_url }}"'};);
			background-size: 29px;
		}
	}

	@include media-query($small) {
		font-size: $btnPrimaryFontSmall;
		padding: $btnPrimaryPaddingSmall;
	}

	&:hover {
		color: $colorBtnPrimaryText;
		background-color: $colorBtnPrimary;
		@if ($animate_buttons) {
			padding-right: 55px;
			background-position: 91% 35%;
		}
	}

	&[disabled],
	&.disabled {
		cursor: default;
		color: darken($disabledBorder, 27%);
		background-color: $disabledGrey;
		transition: none;

		@if ($animate_buttons) {
			&:hover {
				padding: $btnPrimaryPaddingSmall;
				background-image: none;
			}
		}
	}
}

// Mimic the .btn hover style for Shopify Payment Button

.shopify-payment-button .shopify-payment-button__button--unbranded:hover:not([disabled]) {
	color: $colorBtnPrimaryText;
	background-color: $colorBtnPrimary;
}

@if ($animate_buttons) {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
	only screen and (min--moz-device-pixel-ratio: 1.25),
	only screen and (min-device-pixel-ratio: 1.25),
	only screen and (-webkit-min-device-pixel-ratio: 2.0833333333333335),
	only screen and (min-resolution: 200dpi),
	only screen and (-webkit-min-device-pixel-ratio: 1.25),
	only screen and (min-resolution: 1.25dppx) {
		.btn {
			background-image: url(#{'"{{ "button-arrow-2x.png" | asset_url }}"'};) !important;
			background-size: 29px;
		}
	}
}

.btn--secondary,
.rte .btn--secondary {
	@extend .btn;

	&:hover {
	}

	&:active {
	}
}

.btn--tertiary,
.rte .btn--tertiary {
	background-color: transparent;
	border: 1px solid $colorBorder;
	color: $colorBtnPrimary;
	font-weight: normal;
	font-size: 12px;
	padding: 6px 10px;

	@include media-query($medium-up) {
		font-size: 14px;
	}

	&:hover {
		background-color: transparent;
		color: $colorBtnPrimary;
	}

	&[disabled],
	&.disabled {
		cursor: default;
		color: darken($disabledBorder, 27%);
		background-color: $disabledGrey;
	}
}

/*================ Button variations ================*/

.btn--small {
	padding: 6px 12px;
	font-size: em(14px);
	background-position: 150% 45%;
	min-width: 90px;

	&:hover {
		background-position: 91% 45%;
		padding-right: 51px;
	}

	@include media-query($small) {
		font-size: em(12px);
		padding: 5px 11px;
	}
}

.btn--large {
	padding: 15px 20px;
	font-size: em(18px);
}

.btn--full {
	width: 100%;
	padding: $btnPrimaryPadding;
	font-size: em(16px);
	transition: none;

	// Disable arrow hover effect
	&:hover {
		background-position: $btnBackgroundPosition;
		padding: $btnPrimaryPadding;
	}
}

.btn--inverse {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}

/*================ Button loading indicator ================*/

.btn--loading {
	position: relative;
	text-indent: -9999px;

	background-color: darken($colorBtnPrimary, 5%);
	color: darken($colorBtnPrimary, 5%);

	&:hover,
	&:active {
		background-color: darken($colorBtnPrimary, 5%);
		color: darken($colorBtnPrimary, 5%);
	}

	&:after {
		content: '';
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
		border-radius: 50%;
		border: 3px solid $colorBtnPrimaryText;
		border-top-color: transparent;
		-webkit-animation: spin 1s infinite linear;
		animation: spin 1s infinite linear;
	}
}

/*================ Return button ================*/

.return-link {
	@include headerFontStack;
	font-size: em(18px);
	text-align: center;
	@include media-query($medium-up) {
		font-size: em(20px);
	}

	.icon {
		width: 27px;
		margin-right: 8px;
	}
}

/*================ Collapsible trigger ================*/

.collapsible-trigger-btn {
	display: block;
	width: 100%;
	text-align: left;
	padding: ($gutter / 1.75) 0;

	@include media-query($small) {
		padding: ($gutter / 2) 0;
	}

	// One-off for the show more/less collection tag button
	&.btn--tertiary {
		padding: 6px 10px;
		width: auto;
	}
}

.collapsible-trigger-btn--borders {
	border-top: 1px solid $colorBorder;

	.collapsible-content + & {
		margin-top: -1px;
	}

	+ .collapsible-content .collapsible-content__inner {
		padding-bottom: $gutter / 2;
	}
}

/*============================================================================
  Button styles when additional quick checkout buttons
  are enabled on product page
==============================================================================*/

.shopify-payment-button {
	margin-top: 10px;
}

.shopify-payment-button .shopify-payment-button__button--unbranded {
	display: block;
	width: 100%;
	transition: none;

	// Disable arrow hover effect
	&:hover,
	&:hover:not([disabled]) {
		background-position: $btnBackgroundPosition;
		padding: $btnPrimaryPadding;
	}
}

.payment-buttons {
	.add-to-cart,
	.shopify-payment-button__button--unbranded {
		min-height: $btnMinHeightWhenQuickCheckout;
	}

	// Force .btn--tertiary to have similar styles as .btn here
	.btn--tertiary {
		@include headerFontStack;
		font-size: $btnPrimaryFontSize;
		padding: $btnPrimaryPadding;
		border-radius: 0;

		@include media-query($small) {
			font-size: $btnPrimaryFontSmall;
			padding: $btnPrimaryPaddingSmall;
		}
	}
}

/*================ Partials | Images, SVG, and iframes ================*/

img {
	border: 0 none;
}

svg:not(:root) {
	overflow: hidden;
}

img,
iframe {
	max-width: 100%;
}

img[data-sizes="auto"] {
	display: block;
	width: 100%;
}

.lazyload {
	opacity: 0;

	.no-js & {
		display: none;
	}
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.4s ease;
}

.video-wrapper {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	height: auto;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.video-wrapper--modal {
	width: 1000px;
}

/*================ Partials | Forms ================*/

form {
	margin: 0;
}

.form-vertical {
	margin-bottom: $gutter / 2;
}

.inline {
	display: inline;
}

/*================ Prevent zoom on touch devices in active inputs ================*/

@include media-query($medium-down) {
	input,
	textarea {
		font-size: 16px;
	}
}

button,
input,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

button {
	background: none;
	border: none;
	display: inline-block;
	cursor: pointer;
}

fieldset {
	border: 1px solid $colorBorder;
	padding: $gutter / 2;
}

legend {
	border: 0;
	padding: 0;
}

button,
input[type="submit"] {
	cursor: pointer;
}

input,
textarea,
select {
	border: 1px solid $colorBorder;
	max-width: 100%;
	padding: 8px 10px;
	border-radius: $input-radius;

	&[disabled],
	&.disabled {
		cursor: default;
		background-color: $disabledGrey;
		border-color: $disabledBorder;
	}

	&.input-full {
		width: 100%;
	}
}

textarea {
	min-height: 100px;
}

/*================ Input element overrides ================*/

input[type="checkbox"],
input[type="radio"] {
	margin: 0 10px 0 0;
	padding: 0;
	width: auto;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
}

input[type="image"] {
	padding-left: 0;
	padding-right: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: right center;
	background: {
		image: url(#{'"{{ "ico-select.svg" | asset_url }}"'};);
		repeat: no-repeat;
		position: right 10px center;
		color: transparent;
		size: 11px;
	}
	padding-right: 28px;
	text-indent: 0.01px;
	text-overflow: '';
	cursor: pointer;
	color: inherit;

	/*================ Hide the svg arrow in IE9 and below ================*/
	.ie9 & {
		padding-right: 10px;
		background-image: none;
	}
}

optgroup {
	font-weight: bold;
}

// Force option color (affects IE only)

option {
	color: #000;
	background-color: #fff;
}

select::-ms-expand {
	display: none;
}

/*================ Form labels ================*/

.hidden-label {
	@include visuallyHidden();

	// No placeholders, so force show labels
	.ie9 & {
		position: static;
		height: auto;
		width: auto;
		margin-bottom: 2px;
		overflow: visible;
		clip: initial;
	}
}

label[for] {
	cursor: pointer;
}

/*================ Vertical Form ================*/

.form-vertical {
	input,
	select,
	textarea {
		display: block;
		margin-bottom: 30px;
	}

	input[type="checkbox"],
	input[type="radio"],
	.btn {
		display: inline-block;
	}
}

small {
	display: block;
}
/*================ Error styles ================*/

input,
textarea {
	&.error {
		border-color: $errorRed;
		background-color: $errorRedBg;
		color: $errorRed;
	}
}

label.error {
	color: $errorRed;
}

/*================ Selector wrapper ================*/

.selector-wrapper {
	label {
		margin-right: 10px;
	}

	+ .selector-wrapper {
		margin-top: $gutter / 2;
	}
}

/*================ Input Group ================*/

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;

	.input-group-field:first-child,
	.input-group-btn:first-child,
	.input-group-btn:first-child > .btn,
	input[type="hidden"]:first-child + .input-group-field,
	input[type="hidden"]:first-child + .input-group-btn > .btn {
		border-radius: $input-radius 0 0 $input-radius;
	}

	.input-group-field:last-child,
	.input-group-btn:last-child > .btn {
		border-radius: 0 $input-radius $input-radius 0;
	}

	input {
		// Nasty Firefox hack for inputs http://davidwalsh.name/firefox-buttons
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
			margin-top: -1px;
			margin-bottom: -1px;
		}
	}
}

.input-group-field,
.input-group-btn {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
}

.input-group .input-group-field {
	width: 100%;
}

.input-group-btn {
	position: relative;
	white-space: nowrap;
	width: 1%;
	padding: 0;

	.icon {
		vertical-align: initial;
	}
}

.input-group .btn,
.input-group .btn--secondary,
.input-group .input-group-field {
	height: 45px;
}

.input-group-btn .btn {
	margin-top: 0;
	background-image: none !important;

	&:hover {
		padding-right: 20px;
	}
}

/*================ #Icons ================*/

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	fill: currentColor;

	.no-svg & {
		display: none;
	}
}

svg,
symbol {
	&.icon:not(.icon--full-color) {
		circle,
		ellipse,
		g,
		line,
		path,
		polygon,
		polyline,
		rect {
			fill: inherit;
			stroke: inherit;
		}
	}
}

/* Override the above for our stroke-only icons */

.icon-cart,
.icon-search,
.icon-close,
.icon-chevron-down,
.icon-email,
.icon-user,
.icon-hamburger {
	circle,
	ellipse,
	g,
	line,
	path,
	polygon,
	polyline,
	rect {
		fill: none !important;
		stroke-width: $icon_weight;
		stroke: currentColor !important;
		stroke-linecap: $icon_linecaps;
		stroke-linejoin: $icon_linecaps;
	}
}

.icon-cart circle {
	fill: currentColor !important;
}

/*============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
==============================================================================*/

.icon__fallback-text {
	@extend .visually-hidden;
}

/*================ Payment Icons ================*/

.payment-icons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	margin-bottom: $gutter / 2;
	text-align: left;
	@include media-query($medium-up) {
		text-align: right;
		margin-top: $gutter;
		margin-bottom: 0;
	}
	@media screen and (max-width: 768px) {
		text-align: center !important;
	}

	@media screen and (max-width: 1000px) {
		&:after {
			content: '';
			flex: auto;
		}
	}

	li {
		margin: 0 5px 0 0;
		cursor: default;

		&:last-child {
			margin-right: 0 !important;
		}
	}

	.icon {
		width: 27px;
		height: 27px;
		@include media-query($medium-up) {
			width: 33px;
			height: 33px;
		}
	}

	.icon__fallback-text {
		text-transform: capitalize;
	}
}

.js-drawer-open {
	overflow: hidden;
}

.drawer {
	display: none;
	position: fixed;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	top: 0;
	bottom: 0;
	padding: 0 ($gutter / 2) ($gutter / 2);
	max-width: 95%;
	z-index: $zindexDrawer;
	color: $colorDrawerText;
	background-color: $colorDrawers;
	transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

	@include media-query($medium-up) {
		padding: 0 $gutter $gutter;
	}

	a {
		color: $colorDrawerText;

		&:hover {
			color: $colorDrawerText;
		}
	}

	input,
	textarea {
		border-color: $colorDrawerBorder;
	}

	.btn--secondary {
		transition: all 0.2s ease-out;
		background-color: $colorDrawerButton;
		color: $colorDrawerButtonText;

		&:hover {
			background-position: 95% 35%;
			padding-right: 55px;
		}
	}
}

.drawer--left {
	width: $drawerNavWidth;
	left: -$drawerNavWidth;

	&.drawer--is-open {
		display: block;
		-webkit-transform: translateX($drawerNavWidth);
		transform: translateX($drawerNavWidth);
		transition-duration: 0.8s;
	}

	.ie9 &.drawer--is-open {
		left: 0;
	}
}

.drawer--right {
	width: $drawerCartWidth;
	right: -$drawerCartWidth;

	@include media-query($medium-up) {
		width: $drawerCartWidthLarge;
		right: -$drawerCartWidthLarge;
	}

	&.drawer--is-open {
		display: block;
		-webkit-transform: translateX(-$drawerCartWidth);
		transform: translateX(-$drawerCartWidth);
		transition-duration: 0.8s;

		@include media-query($medium-up) {
			-webkit-transform: translateX(-$drawerCartWidthLarge);
			transform: translateX(-$drawerCartWidthLarge);
		}
	}

	.ie9 &.drawer--is-open {
		right: 0;
	}
}

.js-drawer-open .main-content:after,
.js-drawer-closing .main-content:after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $colorModalBg;
	opacity: 0;
	z-index: $zindexDrawerOverlay;
}

.js-drawer-open .main-content:after {
	-webkit-animation: overlay-on 0.5s forwards;
	animation: overlay-on 0.5s forwards;
}

.js-drawer-closing .main-content:after {
	-webkit-animation: overlay-off 0.4s forwards;
	animation: overlay-off 0.4s forwards;
}

/*================ Drawer header ================*/

.drawer__header {
	display: table;
	height: $drawerHeaderHeight;
	width: 100%;
	padding: ($gutter / 2.6) 0;
	margin-bottom: 0;
	border-bottom: 1px solid $colorDrawerBorder;
	@include media-query($medium-up) {
		height: $drawerHeaderHeightLarge;
	}
}

.drawer__fixed-header {
	position: absolute;
	top: 0;
	left: $gutter / 2;
	right: $gutter / 2;
	height: $drawerHeaderHeight;
	overflow: visible; // for close button hit area

	@include media-query($medium-up) {
		height: $drawerHeaderHeightLarge;
		left: $gutter;
		right: $gutter;
	}
}

.drawer__title,
.drawer__close {
	display: table-cell;
	vertical-align: middle;
}

.drawer__title {
	@include headerFontStack;
	font-size: em(24px);
	width: 100%;
}

.drawer__close {
	width: 1%;
	text-align: center;
}

// Button sits on right by default

.drawer__close-button {
	position: relative;
	right: -20px;
	height: 100%;
	padding: 0 15px;
	color: inherit;

	&:active {
		background-color: darken($colorDrawers, 5%);
	}

	.icon {
		height: 28px;
		width: 28px;
	}

	@include media-query($large-up) {
		right: 0;
	}

	@include media-query($large-up) {
		right: -20px;
	}
}

// Rare use case left close button

.drawer__close--left {
	text-align: left;

	.drawer__close-button {
		right: auto;
		left: -20px;
	}
}

/*================ Drawer content ================*/

.drawer__inner {
	position: absolute;
	top: $drawerHeaderHeight;
	bottom: 0;
	left: 0;
	right: 0;
	padding: ($gutter / 2) ($gutter / 2) 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	@include media-query($medium-up) {
		top: $drawerHeaderHeightLarge;
		padding-left: $gutter;
		padding-right: $gutter;
	}

	.drawer--has-fixed-footer & {
		overflow: hidden;
		overflow-y: auto; // remove if uncommenting below media query

		// Enable to prevent fixed footer on short screens
		// @media only screen and (max-height: $fixedHeightLimit) {
		//   overflow-y: auto;
		// }
	}
}

// Drawer content with fixed footer

.drawer__inner--has-fixed-footer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: ($gutter / 2) ($gutter / 2) 0;
	bottom: $drawerCartFooterHeight; // overwritten with JS
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	@include media-query($medium-up) {
		padding: ($gutter / 1.35) $gutter 0;
	}

	// Enable to prevent fixed footer on short screens
	// @media only screen and (max-height: $fixedHeightLimit) {
	//   position: static;
	//   padding: 0;
	// }
}

/*================ Drawer footer ================*/

.drawer__footer {
	border-top: 1px solid $colorDrawerBorder;
	padding-top: $gutter / 2;

	@include media-query($medium-up) {
		padding-top: $gutter / 1.35;
	}
}

.drawer__footer--fixed {
	position: absolute;
	bottom: 0;
	left: $gutter / 2;
	right: $gutter / 2;
	min-height: $drawerCartFooterHeight; // overwritten by JS
	padding-bottom: $gutter;

	@include media-query($small) {
		padding-bottom: $gutter /2;
	}

	@include media-query($medium-up) {
		left: $gutter;
		right: $gutter;
	}

	// Enable to prevent fixed footer on short screens
	// @media only screen and (max-height: $fixedHeightLimit) {
	//   position: static;
	// }
}

/*================ Cart-specific styles ================*/

.drawer__cart.is-loading {
	min-height: 100px;

	.cart {
		transition: opacity 0.3s ease 0.7s;
		opacity: 0.4;
	}
}

#CartSpecialInstructions {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 60px;
	height: 60px;
	@include media-query($medium-up) {
		min-height: 80px;
		height: 80px;
	}
}

/*================ Partials | Ajax Cart ================*/

.ajaxcart__row {
	> .grid {
		margin-left: -$gutter / 2;

		> .grid__item {
			padding-left: $gutter / 2;
		}
	}
}
@media only screen and (max-width: 590px){
	.template-product .ajaxcart__row>.grid, .template-product .ajaxcart__row>.grid--full{
		 margin-left: -20px;
	}
}


.ajaxcart__product {
	position: relative;
	max-height: 500px;

	&.is-removed {
		max-height: 0;
		overflow: hidden;
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: all 450ms cubic-bezier(0.57, .06, .05, .95);
	}
}

.ajaxcart__row {
	padding-bottom: $gutter / 2;
	margin-bottom: $gutter / 2;
	border-bottom: 1px solid $colorDrawerBorder;

	@include media-query($medium-up) {
		padding-bottom: ($gutter / 1.35);
		margin-bottom: ($gutter / 1.35);
	}
}

.ajaxcart__product:last-child .ajaxcart__row {
	border-bottom: 0 none;
	padding-bottom: 0;
}

.ajaxcart__product-image {
	display: block;
	overflow: hidden;
	padding-top: 3px;

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
	display: block;
}

.ajaxcart__product-name--wrapper {
	margin-bottom: 11px;
}

.ajaxcart__product-name + .ajaxcart__product-meta {
	padding-top: 8px;
}

.ajaxcart__discount {
	padding-top: 3px;
}

/*================ Partials | Blank States ================*/

$color-blankstate: rgba($colorTextBody, 0.35);

$color-blankstate-background: #f4f4f4;

.placeholder-svg {
	fill: $color-blankstate;
	background-color: $color-blankstate-background;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	display: block;
	padding: 30px 0;
}

.placeholder-noblocks {
	padding: 40px;
	text-align: center;
}

.placeholder-background {
	background-color: $color-blankstate-background;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.hero & {
		background-color: transparent;
	}

	.placeholder-svg {
		fill: $color-blankstate-background;
		background-color: transparent;
	}
}

// Update this, probably. Move to slideshow styles?

.hero__slide {
	&.slide--placeholder {
		background-color: $color-blankstate-background !important;
	}
}




/*================ Theme-specific partials ================*/

/*================ Partials | Theme Form Overrides ================*/

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
}

:-moz-placeholder {
	color: inherit;
	opacity: 0.5;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 0.5;
}

::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}

input,
textarea,
select {
	background-color: transparent;
	color: inherit;

	&[disabled],
	&.disabled {
		background-color: $disabledGrey;
		border-color: transparent;
	}

	&:active,
	&:focus {
		border: 1px solid $colorTextBody;
	}
}

input[type="number"] {
	font-size: em(16px);
}

input[type="image"] {
	background-color: transparent;
}

/*================ Partials | Sections ================*/

.index-section {
	margin: ($gutter * 0.85) 0;
	@include media-query($medium-up) {
		margin: ($gutter * 2.5) 0;
	}
}

.index-section--small {
	margin: ($gutter * 0.6) 0;
	@include media-query($medium-up) {
		margin: $gutter 0;
	}
}

.index-section + .index-section,
.index-section + .index-section--hidden {
	margin-top: 0;
}

.index-section--flush {
	margin: 0;
}

.section--divider {
	border-top: 1px solid $colorBorder;
	padding-top: ($gutter * 0.85);
	@include media-query($medium-up) {
		padding-top: $gutter * 2.5;
	}
}

.newsletter-section {
	padding: ($gutter * 0.85) 0;
	@include media-query($medium-up) {
		padding: ($gutter * 2.5) 0;
	}
}

.newsletter-section--with-divider {
	border-top: 1px solid $colorBorder;
}

/*================ Partials | Featured products section onboarding ================*/

.grid-product__image-link {
	.helper-section & {
		background-color: transparent;
	}
}

.grid-product__image-wrapper {
	.helper-section & {
		height: 275px !important;
	}
}

/*================ Partials | Featured row section ================*/

.feature-row {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	@include media-query($widescreen) {
		margin: 0 6%;
	}

	@include media-query($medium-down) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0;
	}
}

@include media-query($medium-down) {
	.feature-row--small-none {
		display: block;
	}
}

.feature-row__item {
	min-width: 50%;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;

	@include media-query($medium-down) {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		max-width: 100%;
		min-width: 100%;
	}
}

.feature-row__image {
	display: block;
	margin: 0 auto;

	@include media-query($medium-down) {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
}

.feature-row__text {
	padding-top: $gutter;
	padding-bottom: $gutter;

	@include media-query($medium-down) {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		padding-top: $gutter / 2;
		padding-bottom: 0; // always last element on mobile
	}

	.rte {
		margin: 0;
	}

	.btn {
		margin: ($gutter / 2) ($gutter / 3) 0 0;
	}

	.h3 {
		font-size: 24px;
	}
}

@include media-query($medium-up) {
	.feature-row__text--left {
		padding-left: $gutter * 2;
	}

	.feature-row__text--right {
		padding-right: $gutter * 2;
	}
}

@include media-query($medium-up) {
	.featured-row__subtext {
	}
}
