/*============================================================================
  Responsive tables, defined with .table--responsive on table element.
  Only defined for IE9+
==============================================================================*/

.table--responsive {
	@include media-query($small) {
		thead {
			display: none;
		}

		tr {
			display: block;
		}

		// IE9 table layout fixes
		tr,
		td {
			float: left;
			clear: both;
			width: 100%;
		}

		th,
		td {
			display: block;
			text-align: right;
			padding: 15px;
		}

		td:before {
			content: attr(data-label);
			float: left;
			@include headerAccentFontStack;
			font-size: 12px;
			padding-right: 10px;
		}
	}
}

@include media-query($small) {
	.table--small-hide {
		display: none !important;
	}

	.table__section + .table__section {
		position: relative;
		margin-top: 10px;
		padding-top: 15px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 15px;
			right: 15px;
			border-bottom: 1px solid $colorBorder;
		}
	}
}

body,
input,
textarea,
button,
select,
p {
	@include baseFontStack;
	font-size: $type_base_size;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeSpeed;
}

body {
	font-weight: 400;
}

p,
.paragraph {
	margin: 0 0 ($gutter / 2) 0;

	img {
		margin: 0;
	}
}

em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

small {
	font-size: 0.9em;
}

sup, sub {
	position: relative;
	font-size: 60%;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.5em;
}

blockquote,
.rte blockquote {
	margin: 0;
	padding: ($gutter / 2) $gutter 40px;

	p {
		font-size: ($type_base_size + 3);
		margin-bottom: 0;

		& + cite {
			margin-top: $gutter / 2;
		}
	}

	cite {
		display: block;

		&:before {
			content: "\2014 \0020";
		}
	}
}

code, pre {
	background-color: #faf7f5;
	font-family: Consolas, monospace;
	font-size: 1em;
	border: 0 none;
	padding: 0 2px;
	color: #51ab62;
}

pre {
	overflow: auto;
	padding: $gutter / 2;
	margin: 0 0 $gutter;
}

/*================ Form elements ================*/

label,
.label {
	@include headerAccentFontStack;
	@if $type_header_accent_transform {
		font-size: em(floor($type_base_size * 0.75));
	} @else {
		font-size: em(floor($type_base_size * 0.8));
	}

	@include media-query($medium-up) {
		@if $type_header_accent_transform {
			font-size: em(floor($type_base_size * 0.8));
		} @else {
			font-size: em(floor($type_base_size * 0.88));
		}
	}
}

label {
	display: block;
	margin-bottom: 10px;
}

.label-info {
	display: block;
	margin-bottom: 10px;
}
