
/*============================================================================
  Skip to content button
    - Overrides .visually-hidden when focused
==============================================================================*/

.skip-link:focus {
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
	color: $colorTextBody;
	background-color: $colorBody;
	padding: 10px;
	opacity: 1;
	z-index: $zindexSkipToContent;
	transition: none;
}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

html,
body {
	background-color: $colorBody;
	color: $colorTextBody;
}

.page-width {
	max-width: $page-width;
	margin: 0 auto;
	padding: 0 $page-width-gutter-small;

	@include media-query($medium-up) {
		padding: 0 $gutter;
	}
}

@include media-query($small) {
	.page-width--flush-small {
		padding: 0;
	}
}

.page-content {
	padding-top: $gutter * 0.75;
	padding-bottom: $gutter * 0.75;
	@include media-query($medium-up) {
		padding-top: $gutter * 1.5;
		padding-bottom: $gutter * 1.5;
	}
}

.page-content--with-blocks {
	padding-bottom: 0;
}

.product-section .page-content {
	@include media-query($small) {
		padding-top: $gutter / 2;
	}
}

.main-content {
	display: block;
	min-height: 300px;
	@include media-query($medium-up) {
		min-height: 700px;
	}
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid $colorBorder;
}

.hr--small {
	@extend hr;
	margin: 15px auto;
}

.hr--medium {
	@extend hr;
	margin: 25px auto;

	@include media-query($medium-up) {
		margin: 35px auto;
	}
}

.hr--large {
	@extend hr;
	margin: ($gutter) auto;

	@include media-query($medium-up) {
		margin: ($gutter * 1.5) auto;
	}

	.page-blocks + & {
		margin-top: 0;
	}
}

.hr--clear {
	border: 0;
}
