/*================ Rich Text Editor Styles ================*/

.rte {
	h1 {
		font-size: em(floor($type_header_base_size * 0.85));
		@include media-query($medium-up) {
			font-size: em($type_header_base_size);
		}
	}

	h2 {
		font-size: em(floor($type_header_base_size * 0.85 * 0.85));
		@include media-query($medium-up) {
			font-size: em(floor($type_header_base_size * 0.85));
		}
	}

	h3 {
		font-size: em(floor($type_header_base_size * 0.69 * 0.85));
		@include media-query($medium-up) {
			font-size: em(floor($type_header_base_size * 0.69));
		}
	}

	h4 {
		font-size: em(floor($type_header_base_size * 0.59 * 0.85));
		@include media-query($medium-up) {
			font-size: em(floor($type_header_base_size * 0.59));
		}
	}

	table {
		@include media-query($small) {
			font-size: em($type_base_size - 3);
			td, th {
				padding: 6px 8px;
			}
		}

		.collapsible-content & {
			font-size: em($type_base_size - 3);

			td, th {
				padding: 6px 8px;
			}
		}
	}
}

/*================ Larger text styles ================*/

.larger-text {
	.h3 {
		font-size: em(floor($type_header_base_size * 0.85));
		@include media-query($medium-up) {
			font-size: em($type_header_base_size);
		}
	}

	p {
		font-size: em($type_base_size + 1);
		@include media-query($medium-up) {
			font-size: em($type_base_size + 2);
		}
	}

	.subtitle {

		@if $type_base_accent_transform {
			font-size: em(ceil($type_base_size * 0.85));
		} @else {
			font-size: em($type_base_size);
		}
		@include baseAccentFontStack;
		margin-bottom: 5px;
		@include media-query($medium-up) {
			@if $type_base_accent_transform {
				font-size: em(ceil($type_base_size * 1));
			} @else {
				font-size: em(ceil($type_base_size * 1.13));
			}
		}
	}
}

/*================ Blog Typography ================*/

.date {
	display: inline-block;
	line-height: 1.7;
	margin-bottom: 5px;
	@include headerAccentFontStack;

	@include media-query($medium-up) {
		margin-bottom: 0;
	}

	.section-header &:last-child {
		margin-bottom: 40px;
	}
}

.comment-author {
	margin-bottom: 0;
	font-size: 16px;
}

.comment-date {
	@include baseAccentFontStack;
	font-size: em(12px);
	display: block;
	margin-top: 3px;
	@include media-query($small) {
		font-size: em(10px);
		margin-bottom: $gutter / 2
	}
}

/*================ Cart Typography ================*/

.ajaxcart__product-name {
	font-size: em(ceil($type_base_size * 1.13 * 0.85));
	line-height: 1.3;

	@include media-query($medium-up) {
		font-size: em(ceil($type_base_size * 1.13));
	}
}

.ajaxcart__product-meta {
	font-size: em(ceil($type_base_size * 0.9 * 0.85));
	line-height: 1.3;

	@include media-query($medium-up) {
		font-size: em(ceil($type_base_size * 0.9));
	}
}

.ajaxcart__subtotal {
	@include headerAccentFontStack;
	font-size: em(floor($type_base_size * 0.85));
	margin-bottom: 10px;

	@include media-query($medium-up) {
		font-size: em($type_base_size);
	}
}

.ajaxcart__price {
	font-size: em(ceil($type_base_size * 0.85));
	margin-bottom: 10px;

	@include media-query($medium-up) {
		font-size: em($type_base_size);
	}
}

.ajaxcart__price--strikethrough,
.cart__price--strikethrough {
	text-decoration: line-through;
}

.ajaxcart__discount,
.cart__discount {
	display: block;
}

.ajaxcart__subtotal {
	@include headerAccentFontStack;
}

.ajaxcart__note {
	font-size: em(10px);
	opacity: 0.8;
	margin-bottom: 0;
	@include media-query($medium-up) {
		font-size: em(12px);
	}
}

.ajaxcart__note--terms {
	margin-top: 10px;

	input {
		vertical-align: middle;
	}

	label {
		display: inline;
	}

	a {
		text-decoration: underline;
	}
}

.ajaxcart__savings,
.cart__savings {
	font-size: em(20px);
}

/*================ Misc typography ================*/

.skrim__title {
	font-size: em(floor($type_header_base_size * 0.46));
	@include headerFontStack;

	@include media-query($medium-up) {
		font-size: em(floor($type_header_base_size * 0.71));
	}
}

.rte {
	.enlarge-text {
		margin: 0;

		p {
			font-size: em(floor($type_base_size * 1.13));

			@include media-query($medium-up) {
				font-size: em(floor($type_base_size * 1.46));
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.enlarge-text--offset {
		p {
			@include media-query($medium-up) {
				padding-right: 15%;

				.text-center & {
					padding: 0 5%;
				}
			}
		}
	}
}
