// General size variables
$gutter: 40px;
$page-width: 1300px;
$input-radius: 0;
$page-width-gutter-small: 20px;
$page-width-gutter-large: $gutter;
$grid-gutter: 30px;
$grid-gutter-small: 22px;

/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
$grid-medium: 590px;
$grid-large: 769px;
$grid-widescreen: 1050px;
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';
$grid-breakpoint-has-widths: ($small, $medium-up, $widescreen);
$grid-breakpoint-has-utility: ($small, $medium-down, $medium-up, $large-up, $widescreen);
$grid-breakpoint-has-push: ($medium-up);

// The `$grid-breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$grid-breakpoints: (
		$small '(max-width: #{$grid-medium - 1})',
		$medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
		$medium-down '(max-width: #{$grid-large - 1})',
		$medium-up '(min-width: #{$grid-medium})',
		$large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
		$large-down '(max-width: #{$grid-widescreen - 1})',
		$large-up '(min-width: #{$grid-large})',
		$widescreen '(min-width: #{$grid-widescreen})'
);

/*================ Color variables ================*/
// Button colors
$colorBtnPrimary: #000;
$colorBtnPrimaryText: #fff;
$colorCartDot: #11b001;

// Text link colors
$colorLink: #000000;

// Text colors
$colorTextBody: #000000;

// Backgrounds
$colorBody: #ffffff;
$colorInputBg: #ffffff;

// Footer
$colorFooter: #f0f1f3;
$colorFooterText: #2c2c2c;

// Border colors
$colorBorder: #f0f1f3;

// Nav and dropdown link background
$colorNav: #000000;
$colorNavText: #000000;
$colorAnnouncement: #e0f015;
$colorAnnouncementText: #000000;
$colorStickyNavLinks: #fff;

// Hero text color
$colorHeroText: #fff;

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Content spacing
$contentTopMargin: 70px;
$contentTopMarginSmall: 40px;

// Section header & collection image
$sectionHeaderBottom: 50px;
$sectionHeaderBottomSmall: 30px;

// Slideshow colors
$slideshow-text-light: #fff;
$slideshow-text-dark: #000;

// Modal
$colorModalBg: #aeb1b8;
$colorModalText: #fff;

// Image overlays
$colorImage1: #000000;
$colorImage1Opacity: 0.06;
$colorImage2: #000000;
$colorImage2Opacity: 0;
$colorSmallImageBg: #ffffff;
$colorLargeImageBg: #f7f7f7;

// Icon sizes
$desktopMenuIconSize: 30px;
$desktopMenuChevronSize: 10px;
$colorSwatchCollectionSize: 14px;
$colorSwatchCollectionSizeLarge: 17px;
$siteNavItemPadding: 15px;
$siteNavIconPadding: 12px;

// Z-index
$zindexNavDropdowns: 5;
$zindexDrawer: 30;
$zindexDrawerOverlay: 26;
$zindexModal: 25;
$zindexSkipToContent: 10000;
$z-index-announcement: 29;
$z-index-sticky-header: 6;
$z-index-stuck-header: 20;
$z-index-header-search: 28;

/*============================================================================
  Typography
    - Overwritten where needed in google-fonts.scss
==============================================================================*/
$type_header_family: DM Sans;

// used in Google font implementation
$type_header_stack: $type_header_family;
$type_header_spacing: 0.05em;
$type_header_weight: 700;
$type_header_base_size: 30px;
$type_header_line_height: 1.4;
$type_header_accent_transform: true;
$type_header_text_alignment: true;
$type_base_family: DM Sans;

// used in Google font implementation
$type_base_stack: $type_base_family;
$type_base_spacing: 0.025em;
$type_base_line_height: 1.8;
$type_base_weight: 400;
$type_base_size: 15px;
$type_base_accent_transform: true;
$icon_weight: 2px;
$icon_linecaps: 'round';

/*============================================================================
  Animations
==============================================================================*/
$animate_page_transitions: false;
$animate_page_transition_style: "page-slide-reveal-down";
$animate_sections: false;
$animate_sections_background_style: "zoom-fade";
$animate_sections_text_style: "rise-up";
$animate_images: false;
$animate_images_style: "fade-in";
$animate_buttons: true;
$animate_underlines: true;

/*============================================================================
  Drawers
==============================================================================*/
$drawerNavWidth: 300px;
$drawerCartWidth: 300px;
$drawerCartWidthLarge: 400px;

// small-up width
$drawerHeaderHeight: 70px;
$drawerHeaderHeightLarge: 119px;
$drawerCartFooterHeight: 130px;

// default, overwritten by JS
$colorDrawers: #ffffff;
$colorDrawerBorder: #f0f1f3;
$colorDrawerText: #000000;
$colorDrawerButton: #11b001;
$colorDrawerButtonText: #ffffff;
$fixedHeightLimit: 600px;

// disabled, but can be quickly added back in drawers.scss
/*============================================================================
  Google fonts
    - Get font name, weight, and fallback stack based on setting string
    - Must define variables outside of conditional and then overwrite inside
==============================================================================*/
$type_fallback_serif_stack: serif;
$type_fallback_sans_serif_stack: "HelveticaNeue", "Helvetica Neue", sans-serif;
$type_base_is_google: index($type_base_family, Google);
$type_base_google_font: null;
$type_base_fallback: null;
$type_base_fallback_stack: $type_fallback_sans_serif_stack;

@if ($type_base_is_google) {
	$type_base_google_font: nth($type_base_family, 2);
	$type_base_weight: nth($type_base_family, 3);
	$type_base_fallback: nth($type_base_family, 4);

	@if ($type_base_fallback == 'serif') {
		$type_base_fallback_stack: $type_fallback_serif_stack;
	}

	$type_base_stack: #{$type_base_google_font + ', ' + $type_base_fallback_stack};
}

$type_header_is_google: index($type_header_family, Google);
$type_header_google_font: null;
$type_header_fallback: null;
$type_header_fallback_stack: $type_fallback_sans_serif_stack;

@if ($type_header_is_google) {
	$type_header_google_font: nth($type_header_family, 2);
	$type_header_weight: nth($type_header_family, 3);
	$type_header_fallback: nth($type_header_family, 4);

	@if ($type_header_fallback == 'serif') {
		$type_header_fallback_stack: $type_fallback_serif_stack;
	}

	$type_header_stack: #{$type_header_google_font + ', ' + $type_header_fallback_stack};
}

$collapsible-trigger-icon-width: 12px;
$collapsible-open-transition: opacity 1s cubic-bezier(.25, .46, .45, .94), height 0.5s cubic-bezier(.25, .46, .45, .94);
$collapsible-close-transition: opacity 0.3s cubic-bezier(.25, .46, .45, .94), height 0.3s cubic-bezier(.25, .46, .45, .94);
$collapsible-content-open-transition: transform 0.5s cubic-bezier(.25, .46, .45, .94);
$collapsible-content-close-transition: transform 0.3s cubic-bezier(.25, .46, .45, .94);
