{% comment %}
<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>

 {% include 'elevar-head' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
     content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="referrer" content="origin">

  {{ content_for_header }}

  {{ checkout_stylesheets }}
  {{ checkout_scripts }}
  <style>
    /*.product-table .product__price{
      opacity: 0;
    }*/
    #preview-bar-iframe,
    .admin-bar{
      display: none !important;
    }

    .sidebar .payment-due__currency,
    .checkout-bundle-main-watch .product__description__property,
    .checkout-bundle-item .product__description__property,
    .product__description__variant,
    .total-recap__original-price,
    .checkout-replaced-product .product__description__property {
      display: none;
    }

    .sidebar .payment-due__price.original-value {
      font-size: 1em !important;
      color: #717171 !important;
    }

    .sidebar .payment-due__price.original-value::before {
      content: '(';
    }

    .sidebar .payment-due__price.original-value::after {
      content: ')';
    }

    .sidebar .converted-payment-due {
      color: #4b4b4b;
      font-size: 1.71429em;
      font-weight: 500;
      letter-spacing: -0.04em;
      line-height: 1em;
    }

    .converted-payment-due {
     margin-right: 6px;
    }

    #loader-wrapper {
      position: fixed;
    top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
      background-color: white;
    }

    #loader {
      position: fixed;
    left: 50%;
    top: 50%;
      margin-left:-16px;
      margin-top:-16px;
    z-index: 9999;
    height: 32px;
    width: 32px;

/*            background: transparent url({{ 'loader.svg' | asset_url }}); */
    }
  </style>


  {% comment %}{% include 'shogun-head' %}{% endcomment %}

  {% include "trackify_x" %}

  {% include 'reach-script' %}
</head>
<body>
{% include 'klarna-branding' %}

 {{skip_to_content_link}}

<div class="banner" data-header>
  <div class="wrap">
    {{ content_for_logo }}
  </div>
</div>

{{ order_summary_toggle }}

<div class="content" data-content>
  <div class="wrap">
    <div class="main" role="main">
      <div class="main__header">
        {{ content_for_logo }}
        {{ breadcrumb }}
        {{ alternative_payment_methods }}
      </div>
      <div class="main__content">
        {{ content_for_layout }}
      </div>
      <div class="main__footer">
        {{ content_for_footer }}
      </div>
    </div>
    <div class="sidebar" role="complementary">
      <div class="sidebar__header">
        {{ content_for_logo }}
      </div>
      <div class="sidebar__content">
        {{ content_for_order_summary }}
      </div>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
{% include 'defer-script' with 'mgutil.js' %}


{% assign scope = shop.metafields.airf %}
{% assign discount_g = scope.discount_g %}
{% if discount_g and discount_g != blank %}
  <script>
    var discounts = [];
    {% for row in discount_g.rows %}
      {% for row_field in row %}
        {% if row_field.key contains "discount_c" %}
          {% assign discount_c = scope[row_field.key] %}
        {% endif %}
        {% if row_field.key contains "discount_v" %}
          {% assign discount_v = scope[row_field.key] %}
        {% endif %}
      {% endfor %}
      {% if discount_v and discount_v != blank %}
        {% assign data_separator = "/r###r/" %}
        {% assign related_data = discount_v | split: data_separator %}
        {% assign discount_variant = related_data[1] %}
      {% endif %}
      discounts["{{ discount_c }}"] = {{ discount_variant }};
    {% endfor %}
  </script>
{% endif %}


<script>

</script>
{% comment %}<script src="https://mc.boldapps.net/install_assets/bold.multicurrency.js" defer=""></script>{% endcomment %}
<script data="my-custom-script">
  $(document).ready(function () {
    if (typeof discounts !== 'undefined' && discounts.length > 0) {
      $('#checkout_reduction_code').parents('form').submit(function () {
        var code = jQuery('#checkout_reduction_code').val();
        if (code != '') {
          var acsCart = [];
          var variant = {};
          variant.id = discounts[code];
          variant.qty = 1;

          //data-pre-order-attr
          acsCart.push(variant);
          if (acsCart.length > 0) {
            MGUtil.data = acsCart;
            MGUtil.total = MGUtil.data.length;
            MGUtil.action = 'add';
            MGUtil.recursive();
          }
        }
      });
    }
  });
</script>
<script data-cfasync="false">window.ju_num="95BC6ED2-C12E-4A6A-9B1D-655D96C23C9B";window.asset_host='//cdn.justuno.com/';(function(i,s,o,g,r,a,m){i['JustunoApp']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>

<script>
  $(document).ready(function () {
    // hide bundled item price

    var leatherPropText = $('#bundle-properties').attr('data-id-leather');
    var meshPropText = $('#bundle-properties').attr('data-id-mesh');

    var currencyActive = 'USD';

    if (Shopify.currency && Shopify.currency.active){
      currencyActive = Shopify.currency.active;
    }
    if ($('#in-context-paypal-metadata').length > 0){
      currencyActive = $('#in-context-paypal-metadata').attr('data-currency');
    }
    //console.log(currencyActive);

    function bundler() {
      $('.product-table tr.product').each(function(i){
       var t = $(this);
       $('.product__description__property',t).each(function(){
        var p = $(this);
        if (p.text().indexOf('Bundle:') != -1){
          t.addClass('checkout-bundle-item');
          var currencySymbol = $('.product__price .order-summary__emphasis', t).text().substring(0,1);
          var strapPrice = parseFloat($('.product__price .order-summary__emphasis', t).text().substring(1));
          var watchPrice = parseFloat($('.product__price .order-summary__emphasis', $('.product-table tr.product').eq(i-1)).text().substring(1)) + strapPrice;
          var watchPriceDiscounted = parseFloat($('.product__price .order-summary__small-text', $('.product-table tr.product').eq(i-1)).text().substring(1).replace(',','')) + strapPrice;
          // console.log('strapPrice:' + strapPrice);
          //console.log('watchPriceDiscounted: ' + currencySymbol + watchPriceDiscounted.toFixed(2) + ' ' + Shopify.currency.active);

          //discounted bundle price:
          $('.product__price .order-summary__small-text', $('.product-table tr.product').eq(i-1)).text(currencySymbol + watchPriceDiscounted.toFixed(2) + ' ' + currencyActive);

          $('.product__price .order-summary__emphasis', $('.product-table tr.product').eq(i-1)).text(currencySymbol + watchPrice.toFixed(2) + ' ' + currencyActive);

          $('.product__price', t).text('Free');
          $('.product-table .product__price').css('opacity', 1);
        }
        if (p.text().indexOf('Strap included:') != -1){
          t.addClass('checkout-bundle-main-watch');
        }
        if (p.text().indexOf('Collection:') != -1){
          t.addClass('checkout-replaced-product');
        }
       });
      });
    }
    //bundler();

    //now create our observer and get our target element
    var observer = new MutationObserver(fnHandler),
        elTarget = document.querySelector(".product-table"),
        objConfig = {
          childList: true,
          subtree : true,
          attributes: false,
          characterData : false
        };

    //then actually do some observing
    //observer.observe(elTarget, objConfig);

    function fnHandler () {
     bundler();
     // console.log('detected');
     observer.disconnect();
    }

    function getCookie(name) {
        var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return v ? v[2] : null;
    }

    function setCookie(name, value, days) {
        var d = new Date;
        d.setTime(d.getTime() + 24*60*60*1000*days);
        document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
    }

    if (getCookie('fillipo-loreti-shipping-selected') != 'true'){
      $('input[data-checkout-total-shipping]').each(function(){
        var t = $(this);
        if(t.attr('aria-label').indexOf('Priority shipping') != -1){
          t.parent().parent().find('.radio__label').click();
            t.blur();
          setTimeout(function(){
            t.parent().parent().find('.radio__label').click();
            t.blur();
          }, 1000);
          setCookie('fillipo-loreti-shipping-selected', 'true', 1);
        }
      });
    }



  });
</script>

{% if settings.checkout_enable_why == true %}
  <script>
    var countries = new Map([
      ['Abkhazia', '+7 840'],
      ['Afghanistan', '+93'],
      ['Albania', '+355'],
      ['Algeria', '+213'],
      ['American Samoa', '+1 684'],
      ['Andorra', '+376'],
      ['Angola', '+244'],
      ['Anguilla', '+1 264'],
      ['Antigua And Barbuda', '+1 268'],
      ['Argentina', '+54'],
      ['Armenia', '+374'],
      ['Aruba', '+297'],
      ['Ascension', '+247'],
      ['Australia', '+61'],
      ['Australian External Territories', '+672'],
      ['Austria', '+43'],
      ['Azerbaijan', '+994'],
      ['Bahamas', '+1 242'],
      ['Bahrain', '+973'],
      ['Bangladesh', '+880'],
      ['Barbados', '+1 246'],
      ['Barbuda', '+1 268'],
      ['Belarus', '+375'],
      ['Belgium', '+32'],
      ['Belize', '+501'],
      ['Benin', '+229'],
      ['Bermuda', '+1 441'],
      ['Bhutan', '+975'],
      ['Bolivia', '+591'],
      ['Bosnia And Herzegovina', '+387'],
      ['Botswana', '+267'],
      ['Brazil', '+55'],
      ['British Indian Ocean Territory', '+246'],
      ['Virgin Islands, British', '+1 284'],
      ['Brunei', '+673'],
      ['Bulgaria', '+359'],
      ['Burkina Faso', '+226'],
      ['Burundi', '+257'],
      ['Cambodia', '+855'],
      ['Republic of Cameroon', '+237'],
      ['Canada', '+1'],
      ['Cape Verde', '+238'],
      ['Cayman Islands', '+345'],
      ['Central African Republic', '+236'],
      ['Chad', '+235'],
      ['Chile', '+56'],
      ['China', '+86'],
      ['Christmas Island', '+61'],
      ['Cocos (Keeling) Islands', '+61'],
      ['Colombia', '+57'],
      ['Comoros', '+269'],
      ['Congo', '+242'],
      ['Congo, The Democratic Republic Of The', '+243'],
      ['Cook Islands', '+682'],
      ['Costa Rica', '+506'],
      ['Croatia', '+385'],
      ['Cuba', '+53'],
      ['Curaçao', '+599'],
      ['Cyprus', '+537'],
      ['Czech Republic', '+420'],
      ['Côte d\'Ivoire','+225'],
      ['Denmark', '+45'],
      ['Diego Garcia', '+246'],
      ['Djibouti', '+253'],
      ['Dominica', '+1 767'],
      ['Dominican Republic', '+1 809'],
      ['East Timor', '+670'],
      ['Easter Island', '+56'],
      ['Ecuador', '+593'],
      ['Egypt', '+20'],
      ['El Salvador', '+503'],
      ['Equatorial Guinea', '+240'],
      ['Eritrea', '+291'],
      ['Estonia', '+372'],
      ['Eswatini', '+268'],
      ['Ethiopia', '+251'],
      ['Falkland Islands (Malvinas)', '+500'],
      ['Faroe Islands', '+298'],
      ['Fiji', '+679'],
      ['Finland', '+358'],
      ['France', '+33'],
      ['French Antilles', '+596'],
      ['French Guiana', '+594'],
      ['French Polynesia', '+689'],
      ['French Southern Territories','+260'],
      ['Gabon', '+241'],
      ['Gambia', '+220'],
      ['Georgia', '+995'],
      ['Germany', '+49'],
      ['Ghana', '+233'],
      ['Gibraltar', '+350'],
      ['Greece', '+30'],
      ['Greenland', '+299'],
      ['Grenada', '+1 473'],
      ['Guadeloupe', '+590'],
      ['Guam', '+1 671'],
      ['Guatemala', '+502'],
      ['Guernsey','+44'],
      ['Guinea', '+224'],
      ['Jersey', '+44'],
      ['Guinea Bissau', '+245'],
      ['Heard Island And Mcdonald Islands','+672'],
      ['Guyana', '+595'],
      ['Haiti', '+509'],
      ['Honduras', '+504'],
      ['Hong Kong', '+852'],
      ['Hungary', '+36'],
      ['Isle Of Man', '+44'],
      ['Iceland', '+354'],
      ['India', '+91'],
      ['Indonesia', '+62'],
      ['Iran', '+98'],
      ['Iraq', '+964'],
      ['Ireland', '+353'],
      ['Israel', '+972'],
      ['Italy', '+39'],
      ['Ivory Coast', '+225'],
      ['Jamaica', '+1 876'],
      ['Japan', '+81'],
      ['Jordan', '+962'],
      ['Kazakhstan', '+7 7'],
      ['Kenya', '+254'],
      ['Kiribati', '+686'],
      ['Kuwait', '+965'],
      ['Kyrgyzstan', '+996'],
      ['Lao People\'s Democratic Republic', '+856'],
      ['Latvia', '+371'],
      ['Lebanon', '+961'],
      ['Lesotho', '+266'],
      ['Liberia', '+231'],
      ['Libyan Arab Jamahiriya', '+218'],
      ['Liechtenstein', '+423'],
      ['Lithuania', '+370'],
      ['Luxembourg', '+352'],
      ['Macao', '+853'],
      ['North Macedonia', '+389'],
      ['Madagascar', '+261'],
      ['Malawi', '+265'],
      ['Malaysia', '+60'],
      ['Maldives', '+960'],
      ['Mali', '+223'],
      ['Malta', '+356'],
      ['Marshall Islands', '+692'],
      ['Martinique', '+596'],
      ['Mauritania', '+222'],
      ['Mauritius', '+230'],
      ['Mayotte', '+262'],
      ['Mexico', '+52'],
      ['Micronesia', '+691'],
      ['Midway Island', '+1 808'],
      ['Moldova, Republic of', '+373'],
      ['Mozambique', '+258'],
      ['Monaco', '+377'],
      ['Mongolia', '+976'],
      ['Montenegro', '+382'],
      ['Montserrat', '+1664'],
      ['Morocco', '+212'],
      ['Myanmar', '+95'],
      ['Namibia', '+264'],
      ['Nauru', '+674'],
      ['Nepal', '+977'],
      ['Netherlands', '+31'],
      ['Netherlands Antilles', '+599'],
      ['Nevis', '+1 869'],
      ['New Caledonia', '+687'],
      ['New Zealand', '+64'],
      ['Nicaragua', '+505'],
      ['Niger', '+227'],
      ['Nigeria', '+234'],
      ['Niue', '+683'],
      ['Norfolk Island', '+672'],
      ['North Korea', '+850'],
      ['Northern Mariana Islands', '+1 670'],
      ['Norway', '+47'],
      ['Oman', '+968'],
      ['Pakistan', '+92'],
      ['Palau', '+680'],
      ['Palestinian Territory, Occupied', '+970'],
      ['Panama', '+507'],
      ['Papua New Guinea', '+675'],
      ['Paraguay', '+595'],
      ['Pitcairn','+64'],
      ['Peru', '+51'],
      ['Philippines', '+63'],
      ['Poland', '+48'],
      ['Portugal', '+351'],
      ['Puerto Rico', '+1 787'],
      ['Qatar', '+974'],
      ['Reunion', '+262'],
      ['Romania', '+40'],
      ['Russia', '+7'],
      ['Rwanda', '+250'],
      ['Samoa', '+685'],
      ['San Marino', '+378'],
      ['Saudi Arabia', '+966'],
      ['Senegal', '+221'],
      ['Serbia', '+381'],
      ['Seychelles', '+248'],
      ['Sierra Leone', '+232'],
      ['Singapore', '+65'],
      ['Slovakia', '+421'],
      ['Slovenia', '+386'],
      ['Solomon Islands', '+677'],
      ['South Africa', '+27'],
      ['Sao Tome And Principe', '+239'],
      ['Sint Maarten', '+599'],
      ['Somalia', '+252'],
      ['South Georgia And The South Sandwich Islands', '+500'],
      ['South Korea', '+82'],
      ['Spain', '+34'],
      ['Sri Lanka', '+94'],
      ['Svalbard And Jan Mayen', '+47'],
      ['Sudan', '+249'],
      ['South Sudan', '+211'],
      ['Saint Barthélemy', '+590'],
      ['Saint Helena', '+290'],
      ['Saint Kitts And Nevis', '+1869'],
      ['Saint Lucia', '+1758'],
      ['Saint Martin', '+590'],
      ['Saint Pierre And Miquelon', '+508'],
      ['St. Vincent', '+1784'],
      ['Suriname', '+597'],
      ['Swaziland', '+268'],
      ['Sweden', '+46'],
      ['Switzerland', '+41'],
      ['Syria', '+963'],
      ['Taiwan', '+886'],
      ['Tajikistan', '+992'],
      ['Tanzania, United Republic Of', '+255'],
      ['Thailand', '+66'],
      ['Timor Leste', '+670'],
      ['Togo', '+228'],
      ['Tokelau', '+690'],
      ['Tonga', '+676'],
      ['Trinidad and Tobago', '+1 868'],
      ['Tunisia', '+216'],
      ['Turkey', '+90'],
      ['Turkmenistan', '+993'],
      ['Turks and Caicos Islands', '+1 649'],
      ['Tuvalu', '+688'],
      ['United States Minor Outlying Islands', '+246'],
      ['Holy See (Vatican City State)', '+379'],
      ['U.S. Virgin Islands', '+1 340'],
      ['Uganda', '+256'],
      ['Ukraine', '+380'],
      ['United Arab Emirates', '+971'],
      ['United Kingdom', '+44'],
      ['United States', '+1'],
      ['Uruguay', '+598'],
      ['Uzbekistan', '+998'],
      ['Vanuatu', '+678'],
      ['Venezuela', '+58'],
      ['Vietnam', '+84'],
      ['Wake Island', '+1 808'],
      ['Wallis And Futuna', '+681'],
      ['Western Sahara', '+212'],
      ['Yemen', '+967'],
      ['Zambia', '+260'],
      ['Zanzibar', '+255'],
      ['Zimbabwe', '+263'],
      ['Aland Islands','+358'],
      ['Antigua & Barbuda','+1268'],
      ['Bouvet Island','+47']
    ]);
    var pSettings = {
      whyUsImg1: "{{ settings.checkout_image1 | img_url: 'master' }}",
      whyUsTitle1: "{{ settings.checkout_text11 }}",
      whyUsText1: "{{ settings.checkout_text12 }}",

      whyUsImg2: "{{ settings.checkout_image2 | img_url: 'master' }}",
      whyUsTitle2: "{{ settings.checkout_text21 }}",
      whyUsText2: "{{ settings.checkout_text22 }}",

      whyUsImg3: "{{ settings.checkout_image3 | img_url: 'master' }}",
      whyUsTitle3: "{{ settings.checkout_text31 }}",
      whyUsText3: "{{ settings.checkout_text32 }}"
    }
    var wnd = window.location.href;
    wnd.indexOf("checkout") > -1 && (window.onload = function() {
      jQuery('#checkout_shipping_address_phone').parents('.field').append('<div class="phone-hint" style="padding:0.42857em;position: absolute; top:60%;left: 0;"><p>Your phone number will only be used if we need to contact you about your order.</p></div>');
      jQuery('input#checkout_shipping_address_address1, input#checkout_shipping_address_address2').attr('maxlength', 100);
      if (jQuery('#checkout_shipping_address_country').val() != ''){
        var choosed_country = jQuery('#checkout_shipping_address_country').val();
        var choosed_prefix =  countries.get(choosed_country);
        var current_phone = jQuery('#checkout_shipping_address_phone').val();
        if (current_phone.length < 5){
          jQuery('#checkout_shipping_address_phone').val(choosed_prefix);
        }
      }
      if (jQuery(window).width() < 767){
        jQuery('#checkout_shipping_address_phone').parents('.field').css({'position':'relative', 'padding-bottom':'80px'});
        jQuery('#checkout_shipping_address_phone').parents('.field').find('.phone-hint').css('top','50%');
      }else{
        jQuery('#checkout_shipping_address_phone').parents('.field').css({'position':'relative', 'padding-bottom':'40px'});
      }
      if (wnd.indexOf("checkout") > -1 && (-1 === wnd.indexOf("thank_you"))) {
        document.getElementsByClassName("order-summary__sections")[0].insertAdjacentHTML("beforeend", '<div class="trast" style="position:relative;padding:10px 0px"><div class="trast-heading" style="position:relative;display:none;z-index:1;text-align:center"><span style="background:#fafafa;color:#000;font-size:15px;padding:0 15px">Why choose us?</span></div><div class="trast-list"><div class="trast-item"><div class="trast-image-title"><div class="trast-image"><img src="' + pSettings.whyUsImg1 + '"></div><div class="trast-title"><h3>' + pSettings.whyUsTitle1 + '</h3></div></div><div class="trast-text"><p>' + pSettings.whyUsText1 + '</p></div></div><div class="trast-item"><div class="trast-image-title"><div class="trast-image"><img src="' + pSettings.whyUsImg2 + '"></div><div class="trast-title"><h3>' + pSettings.whyUsTitle2 + '</h3></div></div><div class="trast-text"><p>' + pSettings.whyUsText2 + '</p></div></div><div class="trast-item"><div class="trast-image-title"><div class="trast-image"><img src="' + pSettings.whyUsImg3 + '"></div><div class="trast-title"><h3>' + pSettings.whyUsTitle3 + '</h3></div></div><div class="trast-text"><p>' + pSettings.whyUsText3 + '</p></div></div></div></div>');
        {% if settings.checkout_enable_timer == true %}
          document.getElementsByClassName("main__content")[0].insertAdjacentHTML('beforebegin', '<div class="timer-wrap"><div class="timer-text"><h3>An Item you ordered is in high demand.</h3><p>No worries, we have reserved your order.</p></div><div class="timer-body"><div data-days="0"><p><span>00</span>Days</p></div><div class="separator">:</div><div data-hours="0"><p><span>00</span>Hours</p></div><div class="separator">:</div><div data-mins="0"><p><span>15</span>Minutes</p></div><div class="separator">:</div><div data-secs="0"><p><span>00</span>Seconds</p></div></div></div>');
          clock();
        {% endif %}
      }
    });
    var b7 = document.createElement("style");
    b7.type = "text/css";
    b7.innerHTML = '.order-summary__sections{height: auto;}.trast-item {margin-bottom:24px;background: #FFFFFF;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);border-radius: 2px;padding: 40px;}.trast-image-title {display: flex;justify-content: flex-start;align-items: center;margin-bottom: 16px;}.trast-image {margin-right: 24px;}.trast-title h3 {font-weight: 600;font-size: 16px;line-height: 24px;letter-spacing: 0.1em;text-transform: uppercase;color: #000000;font-family: sans-serif;}.trast-text p {font-family: sans-serif;font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;color: #6E6E6E;}@media(min-width:450px){.ar64 .s8{min-width:29%}.ar64 .s8 svg{position:relative!important;top:2px!important;left:-10px!important}}@media(max-width:750px){.ar64 .s8{font-size:11px}.ar64 .s8:first-child{padding-left:20px}}';
    b7.innerHTML += '.timer-wrap {background: #FAFAFA;border-radius: 2px;padding: 16px;display:flex;justify-content: space-between; align-items: center;margin-bottom: 20px;}.timer-text {flex-basis: 168px;}.timer-body {flex-basis: calc(100% - 168px);display: flex;justify-content: space-between;align-items: center;width: 100%;max-width: 360px;}.timer-text h3 {font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 14px;line-height: 24px;color: #000000;margin-bottom: 8px;}.timer-text p {font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 20px;color: #8E8E8E;}.timer-body div:not(.separator) span{background: #FFFFFF;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);border-radius: 2px;font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 40px;line-height: 56px;display: flex;align-items: center;text-align: center;color: #000000;justify-content: center;padding: 8px;min-width: 72px;box-sizing: border-box;margin-bottom: 8px;}.timer-body div:not(.separator) p {font-family: Montserrat;font-style: normal;font-weight: normal;font-size: 12px;line-height: 16px;text-align: center;color: #000000;}.timer-body .separator {font-family: Montserrat;font-style: normal;font-weight: 600;font-size: 40px;line-height: 56px;text-align: center;color: #000000;position: relative;top: -12px;margin: 0 8px;}@media (max-width: 767px){.timer-wrap{flex-direction: column;}.timer-text {flex-basis: 100%;margin-bottom: 10px;text-align: center;}.timer-body div:not(.separator) span{font-size: 32px;line-height: 43px;min-width: 58px;}.timer-body .separator{font-size: 32px;top: -14px;}}';
    document.body.appendChild(b7);
  </script>
{% endif %}


<script>




  var digits_arr = ['1','2','3','4','5','6','7','8','9','0','+','Delete','Backspace','ArrowLeft','ArrowRight','Tab'];

  jQuery('#checkout_shipping_address_phone').keydown(function (e)  {
    if (!digits_arr.includes(e.originalEvent.key)){
        e.preventDefault();
      return false;
    }
  });

  jQuery('#checkout_shipping_address_country').on('change', function(){
    var choosed_country = jQuery(this).val();
    var choosed_prefix =  countries.get(choosed_country);
    var current_phone = jQuery('#checkout_shipping_address_phone').val();
    if (current_phone.length < 5){
      jQuery('#checkout_shipping_address_phone').val(choosed_prefix);
    }
  });
  jQuery('input#checkout_shipping_address_zip').keydown(function (e) {
    if (e.originalEvent.code == 'Space'){
      e.preventDefault();
      return false;
    }
  });


  var myTimer;
  function clock() {
    myTimer = setInterval(myClock, 1000);
    var c = 901; //Initially set to 1 hour


    function myClock() {
      --c;
      var sec = c % 60; // Seconds that cannot be written in minutes
      var secondsInMinutes = (c - sec) / 60; // Gives the seconds that COULD be given in minutes
      var min = secondsInMinutes % 60; // Minutes that cannot be written in hours
      var hours = (secondsInMinutes - min) / 60;

      if(hours < 10){
        hours = '0' + hours;
      }
      if(min < 10){
        min = '0' + min;
      }
      if(sec < 10){
        sec = '0' + sec;
      }
      jQuery('div[data-hours] span').html(hours);
      jQuery('div[data-mins] span').html(min);
      jQuery('div[data-secs] span').html(sec);
      if (c == 0) {
        clearInterval(myTimer);
        jQuery('.timer-wrap').hide();
      }
    }
  }
</script>


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

{% assign bndl_lthr = shop.metafields.airf.bndl_lthr %}
{% assign bndl_mesh = shop.metafields.airf.bndl_mesh %}
<div id="bundle-properties" class="hide"{% if bndl_lthr and bndl_lthr != '&nbsp' %} data-id-leather="{{ bndl_lthr }}"{% endif %}{% if bndl_mesh and bndl_mesh != '&nbsp' %} data-id-mesh="{{ bndl_mesh }}"{% endif %}></div>



{{ tracking_code }}

 {% include 'elevar-checkout-end' %}
{% include 'booster-discounts' %}
</body>
</html>
{% endcomment %}