<!DOCTYPE html>
<html data-wf-page="5e7b471d2c9596e1d1fa889d" data-wf-site="5e53dd775d73aa864ebbfabb" lang="{{ shop.locale }}" data-money-format="{{ shop.money_format }}"><head>
  <meta charset="utf-8">
  
  
  <meta content="width=device-width, initial-scale=1" name="viewport">{% include 'meta-tags' %}{% include 'social-meta-tags' %}<link href="{{ canonical_url }}" rel="canonical">
      {{ 'styles.scss' | asset_url | stylesheet_tag }}
  {{ 'normalize.css' | asset_url | stylesheet_tag }}
  {{ 'components.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap-grid.min.css' | asset_url | stylesheet_tag }}
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ 'fl-project-4aa07c0816e937a6a3fa4319a669.css' | asset_url | stylesheet_tag }}

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
 {{ content_for_header }}{{ 'udesly-common.min.css' | asset_url | stylesheet_tag }}</head>
<body class="template-{{ template | split: '.' | first  }}"> 
  <div id="PageContainer" class="page-container">
    <div class="transition-body">{{ content_for_layout }}
    </div>
  </div>
  {% include 'defer-script' with 'theme.js' %}
  <style>
    .importdis{
      display: block!important;
    }

  </style>
  <style>
    .site-footer__linklist li{
    	font-size: 11px;
    }
    .wishlist-button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
    }
    .wishlist-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      text-align: center;
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      margin-right: 10px;
    }
    .wishlist-text p {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #818287;
      margin: 0;
    }
    .product-images-wrap .wishlist-wrao{
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 10px;
    }
    .grid-product__image-mask .wishlist-wrao{
      position: absolute;
      z-index: 1;
      right: 0px;
      bottom: 0px;
    }
    .grid-product__image-mask .wishlist-img, .product-images-wrap .wishlist-img{
      margin-right: 0;
    }
    .grid-product__image-mask{
      overflow: visible;
    }
    .product-images-wrap .wishlist-wrao .wishlist-text,.grid-product__image-mask .wishlist-wrao .wishlist-text {
      display: none;
      width: 300px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
    .product-images-wrap .wishlist-wrao .wishlist-text p,.grid-product__image-mask .wishlist-wrao .wishlist-text p {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: #818287;
      text-transform: none;
      text-align: center;
    }
    /*.product-images-wrap .wishlist-wrao:hover .wishlist-text, .grid-product__image-mask .wishlist-wrao:hover .wishlist-text{*/
    /*  display: block;*/
    /*}*/
    .wishlist-img .wishlist-added, .wishlist-img .wishlist-hover{
      display: none;
    }
    .wishlist-wrao:hover .wishlist-img .wishlist-hover{
      display: block;
    }
    .wishlist-wrao:hover .wishlist-img .wishlist-add,.wishlist-wrao:hover .wishlist-img .wishlist-added{
      display: none!important;
    }
    .wishlist-wrao:hover .wishlist-button[data-action="remove"] .wishlist-img{
      background: #fff;
    }
    .wishlist-button[data-action="remove"] .wishlist-img{
      background: #DC005C;
    }
    wishlist-button[data-action="remove"] .wishlist-img:hover{
      background: #fff;
    }
    .wishlist-img > div {
      width: 20px;
      height: 20px;
    }
    .similar-products .grid-product__image-mask .wishlist-wrao{
      display: none;
    }
    #buttonwishlist svg, #buttonwishlist_mob svg{
      margin-right: 10px;
    }
    .normal-wish{
      display: inline-block;
    }
    .hover-wish{
      display: none;
    }
    #buttonwishlist:hover .normal-wish, #buttonwishlist_mob:hover .normal-wish{
      display: none;
    }
    #buttonwishlist:hover span, #buttonwishlist_mob:hover span{
      color: #818287;
    }
    #buttonwishlist:hover .hover-wish, #buttonwishlist_mob:hover .hover-wish{
      display: inline-block;
    }
    #buttonwishlist, #buttonwishlist_mob{
      position: relative;
    }
    .iswish{
      display: none;
      position: absolute;
      width: 6px;
      height: 6px;
      left: 15px;
      top: 30px;
      background: #80D38B;
      z-index: 1;
      border-radius: 50%;
    }
    div#wishlistpopup .modal__inner {
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 400px;
      height: 100vh;
      display: block;
    }
    .modal__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
    }
    .wishlist-heading h2 {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 0;
    }
    .modal--square .wishlist-close .modal__close {
      position: relative;
      padding: 0;
    }
    .wishlist-modal-text p{
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 0;
    }
    .wishlist-modal-text p span{
      font-weight: 600;
    }
    .wishlist-modal-text{
      padding: 5px 30px;
      border-top: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
      margin-bottom: 30px;
    }
    div#wishlistpopup .modal__centered-content{
      padding: 0 30px;
      padding-bottom: 80px;
      height: auto;
      min-width: 100%;
    }
    .wishlist-product-wrap{
      margin-bottom: 30px;
    }
    .wishlist-product {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .wishlist-product-image {
      width: 112px;
      margin-right: 20px;
      min-width: 112px;
    }
    .wishlist-product-title a {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #000000;
    }
    .wishlist-product-title {
      margin-bottom: 10px;
    }
    .wishlist-product-prices {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
    .wishlist-product-prices p {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
    }
    .wishlist-product-prices .wishlist-product-old-price{
      margin-left: 10px;
    }
    .wishlist-product-prices .wishlist-product-old-price p {
      text-decoration-line: line-through;
      color: #818287;
    }
    .wishlist-addtocart a {
      border: 1px solid #000000;
      box-sizing: border-box;
      display: block;
      text-align: center;
    }
    .wishlist-addtocart a {
      border: 1px solid #000000;
      box-sizing: border-box;
      display: block;
      text-align: center;
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000000;
      padding: 10px 0;
    }
    .wishlist-addtocart {
      margin-bottom: 18px;
    }
    .wishlist-remove .wishlist-wrao .wishlist-button .wishlist-img {
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      width: 40px;
      height: 40px;
      min-width: 40px;
    }
    .wishlist-remove .wishlist-wrao .wishlist-button .wishlist-text span.wish-text {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 24px;
      color: #818287;
      text-transform: none;
    }
    .wishlist-modal-empty {
      display: none;
      padding: 0 40px;
      text-align: center;
    }
    .wishlist-modal-empty h2, .wishlist-modal-empty p {
      margin: 0;
      font-family: DM Sans;
    }
    .wishlist-modal-empty a.btn.btn--white {
      color: #000;
    }
    .wishlist-modal-empty a.btn.btn--white:hover {
      color: #fff;
    }
    .wishlist-gooffer {
        margin-bottom: 18px;
    }
    .wishlist-gooffer {
        border: 1px solid #000000;
        box-sizing: border-box;
        display: block;
        text-align: center;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
        padding: 10px 0;
    }
    form#AddToCartForm-product-template .wishlist-wrao {
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .cart-free-shipping.appear-animation.appear-delay-2 {
      display: none!important;
    }

    @media (max-width: 767px) {
      .modal--mobile-friendly{
        top: 0;
        z-index: 1234;
      }
      .wishlist-remove .wishlist-wrao .wishlist-button .wishlist-img{
        display: none;
      }

    }
  </style>
  <script>


    jQuery(document).ready(function ($) {

      if ($('.wish-count').length > 0){
        var id = $('#AddToCartForm-product-template .wishlist-button').data('id');
        jQuery.ajax({
          type: 'POST',
          url : 'https://p2.tns.company/wishlist_a.php',
          data : {
            'get_w_metafield': 1,
            'p_id': id,
            'action': 'check'
          },
          success: function(response){
            if ($('.wish-count').length > 0){
              $('.wish-count').text(response);
            }
          },
          error: function(err_response){
            console.log(err_response);
          }
        });
      }


      $('#wishlistpopup').on('click','.wishlist-product-wrap .wishlist-addtocart a', function (e) {
        e.preventDefault();
        var acsCart = [];
        var variant = {};
        variant.id = $(this).data('variant');
        variant.qty = 1;
        var any2check = localStorage.getItem('any2');
        if (any2check == 'true'){
            variant.properties = {
                "secretoffer": true
            }
        }else{
            variant.properties = false;
        }


        acsCart.push(variant);
        if (acsCart.length > 0){
          MGUtil.data = acsCart;
          MGUtil.total = MGUtil.data.length;
          MGUtil.action = 'add';
          MGUtil.recursive();
        }
      });

      var wishlist = localStorage.getItem('wishlist');

      if (wishlist == undefined){
        wishlist = [];
        localStorage.setItem('wishlist', wishlist);
      }else{
        wishlist = wishlist.split(',');
        if (wishlist.length > 1){
          $('.iswish').show();
        }else{
          $('.wishlist-modal-empty').show();
        }
      }
      if (wishlist.length <= 0){
        $('#buttonwishlist .iswish, #buttonwishlist_mob .iswish').hide();
      }
      $('.wishlist-button').each(function () {
        var id = $(this).data('id') + '';
        var index = wishlist.indexOf(id);
        if (index >= 0){
          $(this).data('action','remove');
          $(this).attr('data-action','remove');
          $(this).find('.wish-text').text('Added to your wishlist!');
          $(this).find('.wishlist-add').hide();
          $(this).find('.wishlist-added').show();
        }else{
          $(this).find('.wish-text').text('Add to Wishlist');
          $(this).data('action','add');
          $(this).attr('data-action','add');
          $(this).find('.wishlist-added').hide();
          $(this).find('.wishlist-add').show();
        }
      });


      $('.wishlist-wrao').on('click', '.wishlist-button', function (e) {
        e.preventDefault();

        var wishlist = localStorage.getItem('wishlist');

        if (wishlist == undefined){
          wishlist = [];
          localStorage.setItem('wishlist', wishlist);
        }else{
          wishlist = wishlist.split(',');
        }
        var action = $(this).data('action');
        var id = $(this).data('id') + '';
        jQuery.ajax({
          type: 'POST',
          url : 'https://p2.tns.company/wishlist_a.php',
          data : {
            'get_w_metafield': 1,
            'p_id': id,
            'action': action
          },
          success: function(response){
            if ($('.wish-count').length > 0){
              $('.wish-count').text(response);
            }
          },
          error: function(err_response){
            console.log(err_response);
          }
        });
        if (action == 'add'){
          wishlist.push(id);
          localStorage.setItem('wishlist', wishlist);
          $(this).data('action','remove');
          $(this).find('.wish-text').text('Item added to your wishlist!');
          $('.wishlist-button[data-id="'+id+'"]').data('action','remove');
          $('.wishlist-button[data-id="'+id+'"]').attr('data-action','remove');
          $('.wishlist-button[data-id="'+id+'"]').find('.wish-text').text('Added to your wishlist!');
          $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-add').hide();
          $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-added').show();
          if (wishlist.length > 1){
            $('.iswish').show();
            $('.wishlist-modal-empty').hide();
          }
        }else{
          var index = wishlist.indexOf(id);
          if (index >= 0){
            wishlist.splice(index, 1);
            localStorage.setItem('wishlist', wishlist);
            $(this).data('action','add');
            $(this).find('.wish-text').text('Add to Wishlist');
            $('.wishlist-button[data-id="'+id+'"]').find('.wish-text').text('Add to Wishlist');
            $('.wishlist-button[data-id="'+id+'"]').data('action','add');
            $('.wishlist-button[data-id="'+id+'"]').attr('data-action','add');
            $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-added').hide();
            $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-add').show();
            if (wishlist.length <= 1){
              $('.iswish').hide();
              $('.wishlist-modal-empty').show();
            }
          }
        }
      });

      $(window).on('load', function() {
        check_review(false);
      });
      jQuery('#stamped-reviews-widget').on('click','.stamped-pagination-page a',function () {
        setTimeout(function () {
          check_review(false);
        },1400);
      });
      function check_review(load) {
        if (jQuery('#stamped-reviews-widget').length > 0){
          if (!load){
            if (jQuery('.stamped-review-card').length > 0){
              load = true;
              jQuery('.stamped-review-card').each(function () {
                var title = jQuery(this).find('.stamped-products-reviews-title a').text();
                var image = all_prod.get(title);
                if (image != undefined){
                  jQuery(this).find('.stamped-reviews-image img').attr('src', image);
                  jQuery(this).find('.stamped-reviews-image img').addClass('importdis');
                }
              });
            }else{
              setTimeout(function () {
                check_review(load);
              },1000);
            }
          }
        }
      }
    });



  </script>

  <div id="wishlistpopup" class="modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="wishlist-cart-link">
          <a href="/cart" class="main-header__cart js-drawer-open-cart" aria-expanded="false">
            <span class="cart-link">
              <img src="//cdn.shopify.com/s/files/1/0020/1896/7605/t/103/assets/icon-cart.svg?v=13556767467554437239">
              <span class="cart-link__bubble cart-link__bubble--visible"></span>
            </span>
          </a>
        </div>
        <div class="wishlist-heading">
          <h2>Your wishlist</h2>
        </div>
        <div class="wishlist-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="wishlist-modal-empty">
        <h2>Your wishlist is empty</h2>
        <p>Add the product you like into the wishlist.</p>
        <div class="cart-is-empty__content">
          <div class="cart-is-empty__line top"></div>
          <div class="cart-is-empty__content__button">
            <a class="btn btn--white" href="/collections/mens-watches">Shop Men's watches</a>
          </div>
          <div class="cart-is-empty__content__button">
            <a class="btn btn--white" href="/collections/womens-watches">SHOP WOMEN’S WATCHES</a>
          </div>
          <div class="cart-is-empty__content__button">
            <a class="btn btn--white" href="/collections/accessories">SHOP MEN’S ACCESSORIES</a>
          </div>
          <div class="cart-is-empty__content__button">
            <a class="btn btn--white" href="/collections/accessories">SHOP WOMEN’S ACCESSORIES</a>
          </div>
          <div class="cart-is-empty__line bottom"></div>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;"></div>
    </div>
  </div>
  <div id="tierpopup" class="modal modal--square modal--mobile-friendly">
        <div class="modal__inner">
            <div class="modal__heading">
                <div class="wishlist-heading">
                    <h2>Pick the watch you would like to acquire.</h2>
                  </div>
                <div class="wishlist-close">
                    <button type="button" class="modal__close js-modal-close text-link">
                        {% include 'icon-close' %}
                        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                      </button>
                </div>
              </div>

            <div class="modal__centered-content" style="text-align:left;">
                {% assign tier_cnt = product.metafields.airf.tier_cnt %}
                        {% for tag in product.tags %}
                              {% if tag contains "_tier" %}
                                    {% assign products_tag = tag | replace: "_tier", "" %}
                                  {% endif %}
                            {% endfor %}
                        {% comment %}
                <div class="modal__subheading">
                    <p>1. Select the watch you would like to change. You can change all watches by selecting “change” on all watches.</p>
                  </div>
                <div class="modal__listofchoosed">
                    {% assign tier_cnt = product.metafields.airf.tier_cnt %}
                    {% for tag in product.tags %}
                        {% if tag contains "_tier" %}
                            {% assign products_tag = tag | replace: "_tier", "" %}
                          {% endif %}
                      {% endfor %}

                    {% if tier_cnt and tier_cnt != '&nbsp' %}
                       {% for i in (1..tier_cnt) %}
                            {% assign counter_prod = 1 %}
                            {% paginate collections[allcol].products by 1000 %}
                                {% for sp in collections['all-1'].products %}
                                    {% if sp.tags contains products_tag %}
                                        {% if i == counter_prod %}
                                            <div class="tier-product">
                                                <div class="tier-product-image">
                                                    <img src="{{ sp.featured_image | img_url: 'large'}}" alt="">
                                                  </div>
                                                <div class="tier-product-title">
                                                    <h4>{{ sp.title }}</h4>
                                                  </div>
                                                <div class="tier-product-change" data-id="{{ sp.id }}">
                                                    <a href="#">change</a>
                                                  </div>
                                              </div>
                                          {% endif %}
                                        {% assign counter_prod = counter_prod | plus: 1 %}
                                      {% endif %}
                                  {% endfor %}
                              {% endpaginate %}
                          {% endfor %}
                      {% endif %}
                  </div>
                <div class="modal__offer">
                    {% include 'product-section-offer' %}
                  </div>
                        {% endcomment %}
                <div class="modal__listtochoose"></div>
                {% comment %}
                {% if products_tag == "any_6" or products_tag == "any_4_camo" %}
                    {% assign box = all_products['collectors-box'] %}
                    <div class="modal__boxchoose">
                        <div class="box_choose">
                            <div class="box_choose_image">
                                <img src="{{ box.featured_image | img_url: 'large'}}" alt="{{ box.title }}">
                              </div>
                            <div class="box_description">
                                <h5>Save another $500</h5>
                                <h3>Become a collector for only $99</h3>
                                <p><span></span>Selected</p>
                              </div>
                          </div>
                      </div>
                  {% endif %}
                {% endcomment %}


              </div>
            {% comment %}
            <div class="modal__footer">
                <div class="modal__footer_addcart">
                    <a href="#">add to cart (total {{ product.price | round | money | replace: "USD", "" }})</a>
                </div>
                <div class="modal__footer_addwish">
                    {% include 'product-wishlist' %}
                </div>
            </div>
            {% endcomment %}
          </div>
      </div>

  <script>
    jQuery(document).ready(function($) {

      var modal_tier = new theme.Modals('tierpopup', 'tier-popup', {
                      closeOffContentClick: true,
                      solid: true
            });

        $('button#AddToCart-product-template-tier').click(function (e) {
                    e.preventDefault();
                    var acsCart = [];
                    $('.tier-choose-wrap').find('.tier-product').each(function(){
                          var t = $(this);
                          var variant = {};
                          variant.id = parseInt(t.data('variant'));
                          variant.qty = 1;
                          var any2check = localStorage.getItem('any2');
                          if (any2check == 'true'){
                                variant.properties = {
                                      "secretoffer": true
                                }
                              }else{
                                variant.properties = false;
                              }
                          //console.log(variant);
                              acsCart.push(variant);
                        });
                    if (acsCart.length > 0){
                          MGUtil.data = acsCart;
                          MGUtil.total = MGUtil.data.length;
                          //console.log(MGUtil.data);
                              MGUtil.action = 'add';
                          console.log(MGUtil);
                          MGUtil.recursive();
                        }
                    
                  });


                      $('.tier-choose-wrap').on('click', '.tier-product-change a', function (e) {
                        e.preventDefault();
                        var changed_id = $(this).parent().data('id');
                          var changed_product = $(this).parents('.tier-product').data('index');
                        $.ajax({
                                  type: 'POST',
                                  url : 'https://p2.tns.company/get_tier_list_test.php',
                                  data : {
                                'get_tier_list': 1,
                                      'changed_id': changed_id,
                                     'tag' : '{{ products_tag }}'
                            },
                          success: function(response){
                              $('.modal__listtochoose').html(response);
                              modal_tier.open();
                              $('.tier-product_to').click(function(e){
                                    e.preventDefault();
                                    var ch_id = $(this).data('id');
                                    var var_id = $(this).data('variant');
                                    var title = $(this).find('.tier-product-title_to').data('text');
                                    var image = $(this).find('.tier-product-image_to img').attr('src');
                                    console.log(changed_product);
                                    console.log($('.tier-product[data-index="'+changed_product+'"]'));
                                    $('.tier-product[data-index="'+changed_product+'"]').find('.tier-product-image img').attr('src', image);
                                    $('.tier-product[data-index="'+changed_product+'"]').find('.tier-product-title h4').text(title);
                                    $('.tier-product[data-index="'+changed_product+'"]').find('.tier-product-change').data('id',ch_id);
                                    $('.tier-product[data-index="'+changed_product+'"]').data('variant',var_id);
                                    $('.tier-product[data-index="'+changed_product+'"]').data('id',ch_id);
                                    $(this).find('.tier-product-indicator').css('background','#4DDC7C');
                                   $(this).find('.tier-product-indicator svg path').attr('fill','#fff');
                                  $(this).attr('disabled','disabled');
                                    setTimeout(function () {
                                          modal_tier.close();
                                        },1500)
                                  });
                            },
                          error: function(err_response){
                            }
                       });
                     });

      var modal = new theme.Modals('wishlistpopup', 'wishlist-popup', {
        closeOffContentClick: true,
        solid: true
      });
      $('#buttonwishlist, #buttonwishlist_mob').on('click',function(e){
        e.preventDefault();
        var wishlist = localStorage.getItem('wishlist');
        wishlist = wishlist.split(',');
        var wishlist_f = wishlist.filter(function (el) {
          return el != "";
        });
        if (wishlist_f.length > 0){
          jQuery.ajax({
            type: 'POST',
            url : 'https://p2.tns.company/wishlist_a.php',
            data : {
              'get_wishlist': 1,
              'wishlist': wishlist_f
            },
            success: function(response){
              console.log(response);
              $('#wishlistpopup .modal__centered-content').html(response);
              modal.open();
              $('.wishlist-addtocart a').click(function (e) {
                e.preventDefault();
                var acsCart = [];
                var variant = {};
                variant.id = $(this).data('variant');
                variant.qty = 1;

                //data-pre-order-attr
                acsCart.push(variant);
                if (acsCart.length > 0){
                  MGUtil.data = acsCart;
                  MGUtil.total = MGUtil.data.length;
                  MGUtil.action = 'add';
                  MGUtil.recursive();
                }
              });
              $('.wishlist-remove .wishlist-wrao .wishlist-button').click(function () {
                $(this).parents('.wishlist-product-wrap').fadeOut('slow');
                var wishlist = localStorage.getItem('wishlist');

                if (wishlist == undefined){
                  wishlist = [];
                  localStorage.setItem('wishlist', wishlist);
                }else{
                  wishlist = wishlist.split(',');
                }
                var action = $(this).data('action');
                var id = $(this).data('id') + '';
                var index = wishlist.indexOf(id);
                if (index >= 0){
                  wishlist.splice(index, 1);
                  localStorage.setItem('wishlist', wishlist);
                  $(this).data('action','add');
                  $(this).find('.wish-text').text('Add to Wishlist');
                  $('.wishlist-button[data-id="'+id+'"]').find('.wish-text').text('Add to Wishlist');
                  $('.wishlist-button[data-id="'+id+'"]').data('action','add');
                  $('.wishlist-button[data-id="'+id+'"]').attr('data-action','add');
                  $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-added').hide();
                  $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-add').show();
                  if (wishlist.length <= 1){
                    $('.iswish').hide();
                    $('.wishlist-modal-empty').show();
                  }
                }
                $(this).parents('.wishlist-product-wrap').remove();
                jQuery.ajax({
                  type: 'POST',
                  url : 'https://p2.tns.company/wishlist_a.php',
                  data : {
                    'get_w_metafield': 1,
                    'p_id': id,
                    'action': action
                  },
                  success: function(response){
                    if ($('.wish-count').length > 0){
                      $('.wish-count').text(response);
                    }
                  },
                  error: function(err_response){
                    console.log(err_response);
                  }
                });
              });
            },
            error: function(err_response){
            }
          });
        }else{
          modal.open();
        }
      });
    });
  </script>
{% include 'booster-discounts' %}
</body>
</html>