<!DOCTYPE html>
<html data-wf-page="5e8467973fb6cfae33f33e0f" data-wf-site="5e53dd775d73aa864ebbfabb" lang="{{ shop.locale }}" data-money-format="{{ shop.money_format }}"><head>
  <meta charset="utf-8">
  
  
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {{ 'normalize.css' | asset_url | stylesheet_tag }}
  {{ 'components.css' | asset_url | stylesheet_tag }}
  <!-- Google Optimize  -->

  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
            {'OPT-T9T3B74':true});</script>
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-T9T3B74"></script>
  <!-- End Google Optimize  -->
  <!-- Hotjar Tracking Code for https://aromahigh.com/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1935656,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  {{ 'fl-project-4aa07c0816e937a6a3fa4319a669.css' | asset_url | stylesheet_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  {% if settings.favicon == blank %}<link href="{{ 'favicon.png' | asset_url }}" rel="shortcut icon" type="image/x-icon">{% endif %}<link rel="shortcut icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
  {% if settings.apple_touch_icon == blank %}<link href="{{ 'webclip.png' | asset_url }}" rel="apple-touch-icon">{% endif %}<link rel="apple-touch-icon" type="image/png" href="{{ settings.apple_touch_icon | img_url: '32x32' }}">
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">{% include 'meta-tags' %}{% include 'social-meta-tags' %}<link href="{{ canonical_url }}" rel="canonical">
{{ content_for_header }}{{ 'udesly-common.min.css' | asset_url | stylesheet_tag }}</head>
<body class="template-{{ template | split: '.' | first  }}">{{ content_for_layout }}{% include 'booster-discounts' %}
</body></html>