<!doctype html>
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
{% include 'pro-blogger-section-wrapper' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta http-equiv="Expires" content="30" />
  {% comment %}
  {%- include 'social-meta-tags' -%}
  {% endcomment %}
  <!-- Google Optimize  -->

  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
            {'OPT-T9T3B74':true});</script>
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-T9T3B74"></script>
  <!-- End Google Optimize  -->

  <!-- Hotjar Tracking Code for https://aromahigh.com/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1935656,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- include 'seo-title' -%}
  <title>{{ seo_title }}</title>
  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {% comment %}
  {%- include 'social-meta-tags' -%}
  {% endcomment %}
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  {{ 'bootstrap-grid.min.css' | asset_url | stylesheet_tag }}
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% if template.name == "index" %}
    {{ 'style_home.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template.name == 'product' %}
    {{ 'style_product.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template.name == 'collection' or template.name == 'list-collections' %}
    {{ 'style_collection.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template.name == 'cart' %}
    {{ 'style_cart.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template.name == 'article' or template.name == 'blog' %}
    {{ 'style_blog.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template.name == 'password' %}
    {{ 'style_passwords.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template.name == 'page.men' or template.name == 'page.women' %}
    {{ 'style_promo_man_woman.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' | script_tag }}

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  {% include 'defer-script' with 'vendor.js' %}
  {% include 'defer-script' with 'mgutil.js' %}
  {% include 'defer-script' with 'jquery.bez.min.js' %}
  {% include 'defer-script' with 'header-menu-desktop.min.js' %}
  {% include 'defer-script' with 'header-menu-mobile.min.js' %}
  {% include 'defer-script' with 'in-view.min.js' %}
  {% include 'defer-script' with 'theme.js' %}
  {% include 'defer-script' with 'collections.js' %}
  {% if template.name == 'product' %}
    {% include 'defer-script' with 'product.js' %}
  {% endif %}

  {%- if template contains 'customers' -%}
    {% include 'defer-shopify-script' with 'shopify_common.js' %}
  {%- endif -%}
  {% if settings.enable_currencies %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="/services/javascripts/currencies.js" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="/services/javascripts/currencies.js" defer="defer"></script><![endif]-->
    {% include 'defer-script' with 'jquery.currencies.min.js' %}
  {% endif %}
  <!-- content for header -->
  {% capture content_for_header %}
    {{
    content_for_header
    | replace: "1315574385239601", ""
    }}
  {% endcapture %}
  {{ content_for_header }}
  <!-- content for header END -->

  {% comment %}
{{ 'instabadge.css' | asset_url | stylesheet_tag }}
{% include 'instabadge' %}
{% include "trackify_x" %}
  {% endcomment %}
{% include 'google-fonts' %}
  {% comment %}
{% include 'elevar-head' %}
  {% endcomment %}
  {% comment %}
  {% include 'gem-app-header-scripts' %}
  {% endcomment %}
  {% comment %}
  <!-- begin Convert Experiences code-->
  <script type="text/javascript" src="//cdn-3.convertexperiments.com/js/10005415-10005820.js" defer='defer'></script><!-- end Convert Experiences code -->

  {% include 'reach-script' %}
  {% endcomment %}

<script>var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");</script>
  {% include 'google-fonts' %}
  <meta name="google-site-verification" content="GVPfKg_EPpfJvgL2cdhLcINNxhoIJ1aLk_YPCXm4Ocw" />
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="{{ settings.animate_page_transitions }}">
{% comment %}
{% include 'klarna-branding' %}
{% endcomment %}

  <script>
    var counter = 1;
    {% for collection1 in collections %}

    {% endfor %}
    {% assign allcol = "all-1" %}
     var all_prod = new Map([
      {% paginate collections[allcol].products by 1000 %}
      {% for p in collections[allcol].products %}
      ["{{ p.title }}", "{{ p | img_url }}"],
      {% endfor %}
      {% endpaginate %}
    ]);
  </script>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      themeVersion: "3.1.3"
    };
  </script>

  {% if settings.animate_page_transitions %}
    <script type="text/javascript" defer="defer">
    window.setTimeout(function() { document.body.className += " loaded"; }, 25);
    </script>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header_old' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
        {% if template == 'index' %}
        {% else %}
          {% include 'collection-internal-link' %}
        {% endif %}
      </main>

      {% section 'footer' %}


    </div>
  </div>




  {% section 'newsletter-popup' %}

  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if settings.enable_currencies %}
    <span
      id="CurrencyData"
      class="hide"
      data-shop-currency="{{ shop.currency }}"
      data-default-currency="{{ settings.default_currency | default: shop.currency }}"
      data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
  {% endif %}

  {% include 'qty-selector-template' %}
  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}


<div id="bundle-variants" class="hide"></div>

{% assign bndl_lthr = shop.metafields.airf.bndl_lthr %}
{% assign bndl_mesh = shop.metafields.airf.bndl_mesh %}
<div id="bundle-properties" class="hide"{% if bndl_lthr and bndl_lthr != '&nbsp' %} data-id-leather="{{ bndl_lthr }}"{% endif %}{% if bndl_mesh and bndl_mesh != '&nbsp' %} data-id-mesh="{{ bndl_mesh }}"{% endif %}></div>
{% comment %}
{% include 'back-in-stock-helper' %}


  {% include 'criteo-tracking' %}
{% endcomment %}


  {% comment %}{% include 'nosto-tagging' %}{% endcomment %}

  {% include 'elevar-body-end' %}
  {% comment %}{% include 'bk-tracking' %}{% endcomment %}
{% comment %}
  {% include 'tracking' %}
{% endcomment %}
{% if customer %} <div id="shopmsg-customer-helper" data-id="{{ customer.id }}" style="display:none;"></div>{% endif %}
{% comment %}
<!--Gem_Page_Footer_Script-->
{% include 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->
<!-- This line added automatically by JSON-LD for SEO. -->{% include 'jsonld-for-seo' %}

{% endcomment %}

{% comment %}
  <!-- Warning: Do not remove.This is used for CartHook Checkout Replacement -->
{% capture the_snippet_content %}{% include 'carthook-checkout' %} {% endcapture %} {% unless the_snippet_content contains "Liquid error" %} {% include 'carthook-checkout' %} {% endunless %}
<!-- Warning: Do not remove.This is used for CartHook Checkout Replacement -->
{% endcomment %}
  {% comment %} Stamped.io Javascript {% endcomment %}
  {% comment %}
  <script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js" defer="defer"></script>
  {% endcomment %}

  {% comment %} Carthook automatic discount {% endcomment %}
{% comment %}
  <script> window.chCouponCode = document.cookie.replace(/(?:(?:^|.*;\s*)discount_code\s*\=\s*([^;]*).*$)|^.*$/, "$1");</script>
{% endcomment %}
  <script>
    {% if product.tags contains "any_2_99_men" %}
    var secret = localStorage.getItem('any2');
    if (secret == 'true'){
      jQuery('#AddToCart-product-template').click(function (e) {
        e.preventDefault();
        var acsCart = [];
        var variant = {};
        variant.id = {{ product.selected_or_first_available_variant.id }};
        variant.qty = 1;
        variant.properties = {
          "secretoffer": true
        };

        //data-pre-order-attr
        acsCart.push(variant);
        if (acsCart.length > 0){
          MGUtil.data = acsCart;
          MGUtil.total = MGUtil.data.length;
          MGUtil.action = 'add';
          MGUtil.recursive();
        }
      });
    }
    {% endif %}
  </script>

  {% assign enable_f = shop.metafields.airf.enable_f %}
  {% if enable_f == "true" %}
    {% assign s_date_f = shop.metafields.airf.s_date_f %}
    {% assign e_date_f = shop.metafields.airf.e_date_f %}
    {% assign count__pr = shop.metafields.airf.count__pr %}
    {% assign price_of_p = shop.metafields.airf.price_of_p %}
    {% assign now_date = "now" | date: "%Y-%m-%d %H:%M" %}
    {% if now_date >=  s_date_f and now_date <= e_date_f%}
      {% assign coll_f = shop.metafields.airf['coll_f'] %}
      {% if coll_f and coll_f != blank %}
        {% assign separator = "###" %}
        {% assign coll_f_related_handles = coll_f | split: separator %}
        {% for handle in coll_f_related_handles %}
          {% assign related_collection = handle %}
        {% endfor %}
      {% endif %}
      {% assign prod_add_f = shop.metafields.airf['prod_add_f'] %}
      {% if prod_add_f and prod_add_f != blank %}
        {% assign data_separator = "/r###r/" %}
        {% assign separator = "###" %}
        {% assign related_data = prod_add_f | split: data_separator %}
        {% assign data_product = related_data[0] | split: separator %}
        {% assign product_handle = data_product[1] %}
        {% assign related_product = all_products[product_handle] %}
        {% assign related_product_id = related_product.id %}
        {% assign variant_ids = related_data[1] | split: separator %}
        {% for product_variant in related_product.variants %}
          {% assign current_id = product_variant.id | downcase %}
          {% if variant_ids contains current_id %}
            {% assign current_id_var = product_variant.id | downcase %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% assign count_of_p = shop.metafields.airf.count_of_p %}
      {% assign count_of_p = count_of_p | plus: 0 %}
      <script>
        var jewelry_list = [];
        {% paginate collections[related_collection].products by 10000 %}
        {% for product in collections[related_collection].products limit:250 %}
        jewelry_list.push({{ product.id }});
        {% endfor %}
        {% endpaginate %}
      </script>
      <script>
        jQuery('#CartContainer').on('click', '.js-qty__adjust--plus', function () {
          console.log('{{ related_collection }}');
          setTimeout(function () {
            var jewel_in_cart = 0;
            var case_in_cart = 0;
            jQuery.getJSON('/cart.js', function(response) {
              {% if count__pr == true %}
              for (var i = 0; i <= response.items.length-1; i++){
                var item = response.items[i];
                if (jewelry_list.includes(item.product_id)){
                  jewel_in_cart = jewel_in_cart + item.quantity;
                }

                if (item.product_id == {{ related_product_id }}){
                  case_in_cart = 1;
                }
              }
              if (jewel_in_cart >= {{ count_of_p }} && case_in_cart == 0){
                {% else %}
                for (var i = 0; i <= response.items.length-1; i++){
                  var item = response.items[i];
                  if (item.product_id == {{ related_product_id }}){
                    case_in_cart = 1;
                  }
                }
                var price = response.total_price / 100;
                console.log(price);
                if (price > {{ price_of_p }} && case_in_cart == 0){
                  {% endif %}
                var acsCart = [];
                var variant = {};
                variant.id = {{ current_id_var }};
                variant.qty = 1;

                //data-pre-order-attr
                acsCart.push(variant);
                if (acsCart.length > 0){
                  MGUtil.data = acsCart;
                  MGUtil.total = MGUtil.data.length;
                  MGUtil.action = 'add';
                  MGUtil.recursive();
                }
              }
            } );
          },1000);
        });
        jQuery('.add-to-cart-related, .add-to-cart--preorder, #AddToCart-product-sections-template').on('click', function(e){
          console.log('{{ related_collection }}');
          setTimeout(function () {
            var jewel_in_cart = 0;
            var case_in_cart = 0;
            jQuery.getJSON('/cart.js', function(response) {
              {% if count__pr == true %}
              for (var i = 0; i <= response.items.length-1; i++){
                var item = response.items[i];
                if (jewelry_list.includes(item.product_id)){
                  jewel_in_cart = jewel_in_cart + item.quantity;
                }
                if (item.product_id == {{ related_product_id }}){
                  case_in_cart = 1;
                }
              }
              console.log(jewel_in_cart);

              if (jewel_in_cart >= {{ count_of_p }} && case_in_cart == 0){
                {% else %}
                var priceofprods = 0;
                for (var i = 0; i <= response.items.length-1; i++){
                  var item = response.items[i];
                  if (jewelry_list.includes(item.product_id)){
                    priceofprods = priceofprods + ((item.price / 100) * item.quantity);
                  }
                  if (item.product_id == {{ related_product_id }}){
                    case_in_cart = 1;
                  }
                }
                var price = response.total_price / 100;
                console.log(priceofprods);
                if (priceofprods > {{ price_of_p }} && case_in_cart == 0){
                  {% endif %}
                var acsCart = [];
                var variant = {};
                variant.id = {{ current_id_var }};
                variant.qty = 1;

                acsCart.push(variant);
                if (acsCart.length > 0){
                  MGUtil.data = acsCart;
                  MGUtil.total = MGUtil.data.length;
                  MGUtil.action = 'add';
                  MGUtil.recursive();
                }
              }
            } );
          },1000);
        });
      </script>

    {% if count__pr == true %}
      {% assign case_added = 0 %}
      {% assign jewel_in_cart = 0 %}
      {% for item in cart.items %}
        {% assign cart_prod = item.product %}
        {% if cart_prod.id == related_product_id %}
          {% assign case_added = 1 %}
        {% endif %}
        {% assign founded_jewel = 1 %}
        {% for cart_prod_collection in cart_prod.collections %}
          {% if cart_prod_collection.handle contains related_collection %}
            {% if founded_jewel == 1 %}
              {% assign founded_jewel = 0 %}
              {% assign jewel_in_cart = jewel_in_cart | plus: item.quantity %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}

    {% if case_added == 0 and jewel_in_cart >= count_of_p %}
      <script>
        console.log('box added count');
        jQuery.post('/cart/add.js', {
          items: [
            {
              quantity: 1,
              id: {{ current_id_var }}
            }
          ]
        });
      </script>
    {% endif %}
      {% else %}
      <script>
        var case_in_cart = 0;
        jQuery.getJSON('/cart.js', function(response) {
          var priceofprods = 0;
          for (var i = 0; i <= response.items.length-1; i++){
            var item = response.items[i];
            if (jewelry_list.includes(item.product_id)){
              priceofprods = priceofprods + ((item.price / 100) * item.quantity)
            }
            if (item.product_id == {{ related_product_id }}){
              case_in_cart = 1;
            }
          }
          console.log(priceofprods);
          if (priceofprods > {{ price_of_p }} && case_in_cart == 0){
            console.log('box added price');
            jQuery.post('/cart/add.js', {
              items: [
                {
                  quantity: 1,
                  id: {{ current_id_var }}
                }
              ]
            });
          }
        });

      </script>
    {% endif %}
      {% else %}
    {% endif %}


  {% endif %}

  <style>
    .importdis{
      display: block!important;
    }

  </style>
  <style>
    .wishlist-button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
    }
    .wishlist-img {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #FFFFFF;
      margin-right: 10px;
    }
    .wishlist-text p {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #6E6E6E;
      margin-bottom: 0;
    }
    .product-images-wrap .wishlist-wrao{
      position: absolute;
      z-index: 1;
      right: 10px;
      top: 10px;
    }
    .grid-product__image-mask .wishlist-wrao{
      position: absolute;
      z-index: 1;
      right: 0px;
      bottom: 0px;
    }
    .grid-product__image-mask .wishlist-img, .product-images-wrap .wishlist-img{
      margin-right: 0;
    }
    .grid-product__image-mask{
      overflow: visible;
    }
    .product-images-wrap .wishlist-wrao .wishlist-text,.grid-product__image-mask .wishlist-wrao .wishlist-text {
      display: none;
      width: 300px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
    .product-images-wrap .wishlist-wrao .wishlist-text p,.grid-product__image-mask .wishlist-wrao .wishlist-text p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: #818287;
      text-transform: none;
      text-align: center;
    }
    /*.product-images-wrap .wishlist-wrao:hover .wishlist-text, .grid-product__image-mask .wishlist-wrao:hover .wishlist-text{*/
    /*  display: block;*/
    /*}*/
    .wishlist-img .wishlist-added, .wishlist-img .wishlist-hover{
      display: none;
    }
    .wishlist-wrao:hover .wishlist-img .wishlist-hover{
      display: block;
    }
    .wishlist-wrao:hover .wishlist-img .wishlist-add,.wishlist-wrao:hover .wishlist-img .wishlist-added{
      display: none!important;
    }
    .wishlist-wrao:hover .wishlist-button[data-action="remove"] .wishlist-img{
      background: #fff;
    }
    wishlist-button[data-action="remove"] .wishlist-img:hover{
      background: #fff;
    }
    .wishlist-img > div {
      width: 20px;
      height: 20px;
    }
    .similar-products .grid-product__image-mask .wishlist-wrao{
      display: none;
    }
    .normal-wish{
      display: inline-block;
    }
    .hover-wish{
      display: none;
    }
    #buttonwishlist:hover .normal-wish, #buttonwishlist_mob:hover .normal-wish{
      display: none;
    }
    #buttonwishlist:hover span, #buttonwishlist_mob:hover span{
      color: #818287;
    }
    #buttonwishlist:hover .hover-wish, #buttonwishlist_mob:hover .hover-wish{
      display: inline-block;
    }
    #buttonwishlist, #buttonwishlist_mob{
      position: relative;
    }
    .iswish{
      display: none;
      position: absolute;
      width: 6px;
      height: 6px;
      left: 15px;
      top: 30px;
      background: #80D38B;
      z-index: 1;
      border-radius: 50%;
    }
    div#wishlistpopup .modal__inner {
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      max-width: 400px;
      height: 100vh;
      display: block;
    }
    .modal__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
    }
    .wishlist-heading h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 0;
    }
    .modal--square .wishlist-close .modal__close {
      position: relative;
      padding: 0;
    }
    .wishlist-modal-text p{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 0;
    }
    .wishlist-modal-text p span{
      font-weight: 600;
    }
    .wishlist-modal-text{
      padding: 5px 30px;
      border-top: 1px solid #E6E6E6;
      border-bottom: 1px solid #E6E6E6;
      margin-bottom: 30px;
    }
    div#wishlistpopup .modal__centered-content{
      padding: 0 30px;
      padding-bottom: 80px;
      height: auto;
      min-width: 100%;
    }
    .wishlist-product-wrap{
      margin-bottom: 30px;
    }
    .wishlist-product {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .wishlist-product-image {
      width: 112px;
      margin-right: 20px;
      min-width: 112px;
    }
    .wishlist-product-title a {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #000000;
    }
    .wishlist-product-title {
      margin-bottom: 10px;
    }
    .wishlist-product-prices {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
    .wishlist-product-prices p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
    }
    .wishlist-product-prices .wishlist-product-old-price{
      margin-left: 10px;
    }
    .wishlist-product-prices .wishlist-product-old-price p {
      text-decoration-line: line-through;
      color: #818287;
    }
    .wishlist-addtocart a {
      border: 1px solid #000000;
      box-sizing: border-box;
      display: block;
      text-align: center;
    }
    .wishlist-addtocart a {
      border: 1px solid #000000;
      box-sizing: border-box;
      display: block;
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000000;
      padding: 10px 0;
    }
    .wishlist-addtocart {
      margin-bottom: 18px;
    }
    .wishlist-remove .wishlist-wrao .wishlist-button .wishlist-img {
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      width: 40px;
      height: 40px;
      min-width: 40px;
    }
    .wishlist-remove .wishlist-wrao .wishlist-button .wishlist-text span.wish-text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 24px;
      color: #818287;
      text-transform: none;
    }
    .wishlist-modal-empty {
      display: none;
      padding: 0 40px;
      text-align: center;
    }
    .wishlist-modal-empty h2, .wishlist-modal-empty p {
      margin: 0;
      font-family: DM Sans;
      margin-bottom: 16px;
    }
    .cart-is-empty__content__button {
      margin-bottom: 16px;
    }
    .cart-is-empty__header__title{
      margin-bottom: 16px;
      text-align: center;
      font-family: DM Sans;font-size: 1.8em;
    }
    .cart-is-empty__header__text{
      margin-bottom: 24px;
      text-align: center;
      font-family: DM Sans;
    }
    .cart-is-empty__footer{
      display: none;
    }
    .wishlist-modal-empty a.btn.btn--white {
      color: #000;
    }
    .wishlist-modal-empty a.btn.btn--white:hover {
      color: #fff;
    }
    .wishlist-gooffer {
        margin-bottom: 18px;
    }
    .wishlist-gooffer {
        border: 1px solid #000000;
        box-sizing: border-box;
        display: block;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
        padding: 10px 0;
    }
    .cart-free-shipping.appear-animation.appear-delay-2 {
      display: none!important;
    }

    @media (max-width: 767px) {
      .modal--mobile-friendly{
        top: 0;
        z-index: 1234;
      }
      .wishlist-remove .wishlist-wrao .wishlist-button .wishlist-img{
        display: none;
      }

    }
  </style>
  <script>


    jQuery(document).ready(function ($) {

      if ($('.wish-count').length > 0){
        var id = $('#AddToCartForm-product-template .wishlist-button').data('id');
        jQuery.ajax({
          type: 'POST',
          url : 'https://p2.tns.company/wishlist_a.php',
          data : {
            'get_w_metafield': 1,
            'p_id': id,
            'action': 'check'
          },
          success: function(response){
            if ($('.wish-count').length > 0){
              $('.wish-count').text(response);
            }
          },
          error: function(err_response){
            console.log(err_response);
          }
        });
      }


      $('#wishlistpopup').on('click','.wishlist-product-wrap .wishlist-addtocart a', function (e) {
        e.preventDefault();
        var acsCart = [];
        var variant = {};
        variant.id = $(this).data('variant');
        variant.qty = 1;

        acsCart.push(variant);
        if (acsCart.length > 0){
          MGUtil.data = acsCart;
          MGUtil.total = MGUtil.data.length;
          MGUtil.action = 'add';
          MGUtil.recursive();
        }
      });

      var wishlist = localStorage.getItem('wishlist');

      if (wishlist == undefined){
        wishlist = [];
        localStorage.setItem('wishlist', wishlist);
      }else{
        wishlist = wishlist.split(',');
        if (wishlist.length > 1){
          $('.iswish').show();
        }else{
          $('.wishlist-modal-empty').show();
        }
      }
      if (wishlist.length <= 0){
        $('#buttonwishlist .iswish, #buttonwishlist_mob .iswish').hide();
      }
      $('.wishlist-button').each(function () {
        var id = $(this).data('id') + '';
        var index = wishlist.indexOf(id);
        if (index >= 0){
          $(this).data('action','remove');
          $(this).attr('data-action','remove');
          $(this).find('.wish-text').text('Added to your wishlist!');
          $(this).find('.wishlist-add').hide();
          $(this).find('.wishlist-added').show();
        }else{
          $(this).find('.wish-text').text('Add to Wishlist');
          $(this).data('action','add');
          $(this).attr('data-action','add');
          $(this).find('.wishlist-added').hide();
          $(this).find('.wishlist-add').show();
        }
      });


      $('.wishlist-wrao').on('click', '.wishlist-button', function (e) {
        e.preventDefault();

        var wishlist = localStorage.getItem('wishlist');

        if (wishlist == undefined){
          wishlist = [];
          localStorage.setItem('wishlist', wishlist);
        }else{
          wishlist = wishlist.split(',');
        }
        var action = $(this).data('action');
        var id = $(this).data('id') + '';
        jQuery.ajax({
          type: 'POST',
          url : 'https://p2.tns.company/wishlist_a.php',
          data : {
            'get_w_metafield': 1,
            'p_id': id,
            'action': action
          },
          success: function(response){
            if ($('.wish-count').length > 0){
              $('.wish-count').text(response);
            }
          },
          error: function(err_response){
            console.log(err_response);
          }
        });
        if (action == 'add'){
          wishlist.push(id);
          localStorage.setItem('wishlist', wishlist);
          $(this).data('action','remove');
          $(this).find('.wish-text').text('Item added to your wishlist!');
          $('.wishlist-button[data-id="'+id+'"]').data('action','remove');
          $('.wishlist-button[data-id="'+id+'"]').attr('data-action','remove');
          $('.wishlist-button[data-id="'+id+'"]').find('.wish-text').text('Added to your wishlist!');
          $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-add').hide();
          $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-added').show();
          if (wishlist.length > 1){
            $('.iswish').show();
            $('.wishlist-modal-empty').hide();
          }
        }else{
          var index = wishlist.indexOf(id);
          if (index >= 0){
            wishlist.splice(index, 1);
            localStorage.setItem('wishlist', wishlist);
            $(this).data('action','add');
            $(this).find('.wish-text').text('Add to Wishlist');
            $('.wishlist-button[data-id="'+id+'"]').find('.wish-text').text('Add to Wishlist');
            $('.wishlist-button[data-id="'+id+'"]').data('action','add');
            $('.wishlist-button[data-id="'+id+'"]').attr('data-action','add');
            $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-added').hide();
            $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-add').show();
            if (wishlist.length <= 1){
              $('.iswish').hide();
              $('.wishlist-modal-empty').show();
            }
          }
        }
      });

      $(window).on('load', function() {
        check_review(false);
      });
      jQuery('#stamped-reviews-widget').on('click','. stamped-pagination-page a',function () {
        setTimeout(function () {
          check_review(false);
        },1400);
      });
      function check_review(load) {
        if (jQuery('#stamped-reviews-widget').length > 0){
          if (!load){
            if (jQuery('.stamped-review-card').length > 0){
              load = true;
              jQuery('.stamped-review-card').each(function () {
                var title = jQuery(this).find('.stamped-products-reviews-title a').text();
                var image = all_prod.get(title);
                if (image != undefined){
                  jQuery(this).find('.stamped-reviews-image img').attr('src', image);
                  jQuery(this).find('.stamped-reviews-image img').addClass('importdis');
                }
              });
            }else{
              setTimeout(function () {
                check_review(load);
              },1000);
            }
          }
        }
      }
    });
  </script>

  <div id="registerpopup" class="modal-side modal-centered modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="modal-side-heading">
          <h2>Register</h2>
        </div>
        <div class="modal-side-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;">
        {% form 'create_customer' %} {{ form.errors | default_errors }}

          <label for="first_name">First Name</label>
          <input type="text" value="" name="customer[first_name]" size="30" />

          <label for="last_name">Last Name</label>
          <input type="text" value="" name="customer[last_name]" size="30" />

          <label for="email">Email Address</label>
          <input type="email" value="" name="customer[email]" size="30" />

          <label for="password">Password</label>
          <input type="password" value="" name="customer[password]" size="30" />

          <input type="submit" value="Submit" />

        {% endform %}
        <div class="signin-link">
          <a href="#accountpopup">Cancel</a>
        </div>
      </div>
    </div>
    <script>
      jQuery(document).ready(function ($) {
        $('form#create_customer').submit(function () {
          $('form#create_customer .errors').remove();
          var html_error = '';
          $('form#create_customer input').each(function () {
            if ($(this).val() == ''){
              var name = $(this).attr('name');
              name = name.replace('customer[','');
              name = name.replace(']','');
              html_error +=  '<li>'+$(this).parents('form').find('label[for="'+name+'"]').text()+' can\'t be blank.</li>';
            }
          });

          if (html_error != ''){
            html_error = '<div class="errors"><ul>'+ html_error + '</ul></div>';
            $('form#create_customer').prepend(html_error);
            $('form#create_customer').parents('.modal__centered-content').scrollTop(0);
            return false;
          }
        });
      });
    </script>
  </div>

  <div id="foggetpopup" class="modal-side modal-centered modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="modal-side-heading">
          <h2>Resset Password</h2>
        </div>
        <div class="modal-side-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;">
        {% form 'recover_customer_password' %}

          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <span class="hide reset-password-success"></span>
          {% endif %}

          <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off">

          <p>
            <input type="submit" class="btn" value="Submit">
          </p>
        {% endform %}
        <div class="signin-link">
          <a href="#accountpopup">Cancel</a>
        </div>
      </div>
    </div>
    <script>
      jQuery(document).ready(function ($) {
        $('form[action="/account/recover"]').submit(function () {
          $('form[action="/account/recover"] .errors').remove();
          if ($('#RecoverEmail').val() == ''){
            $('form[action="/account/recover"]').prepend('<div class="errors"><ul><li>Email can\'t be blank.</li></ul></div>');
            return false;
          }
        });
      });
    </script>
  </div>


  <div id="accountpopup" class="modal-side modal-centered modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="modal-side-heading">
          <h2>Sign In</h2>
        </div>
        <div class="modal-side-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;">
        {% form 'customer_login' %} {{ form.errors | default_errors }}

          <label for="customer_email">Your Email</label>
          <input type="email" name="customer[email]" />

          <label for="customer_password">Password</label>
          <input type="password" name="customer[password]" />

          <input type="submit" value="Sign In" />

        {% endform %}
        <div class="fogget-password-link">
          <a href="#foggetpopup">Forgot password?</a>
        </div>
        <div class="register-link">
          <h3>I’m new here!</h3>
          <a href="#registerpopup">Create account</a>
        </div>
      </div>
    </div>
    <script>
      jQuery(document).ready(function ($) {
        $('form#customer_login').submit(function () {
          $('form#customer_login .errors').remove();
          var html_error = '';
          $('form#customer_login input').each(function () {
            if ($(this).val() == ''){
              var name = $(this).attr('name');
              name = name.replace('[','_');
              name = name.replace(']','');
              html_error +=  '<li>'+$(this).parents('form').find('label[for="'+name+'"]').text()+' can\'t be blank.</li>';
            }
          });

          if (html_error != ''){
            html_error = '<div class="errors"><ul>'+ html_error + '</ul></div>';
            $('form#customer_login').prepend(html_error);
            $('form#customer_login').parents('.modal__centered-content').scrollTop(0);
            return false;
          }
        });
      });
    </script>
  </div>

  <div id="helppopup" class="modal-side modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="modal-side-heading">
          <h2>Help & Info</h2>
        </div>
        <div class="modal-side-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;">
        <div class="help-links">
          <ul>
            {% for link in linklists.help-menu.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="help-footer">
          <div class="help-call">
            <a href="tel:18445341121">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.92733 6.36468L8.63228 7.65973C8.04951 8.2425 8.04951 9.14904 8.63228 9.73181L14.201 15.3005C14.7838 15.8833 15.6903 15.8833 16.2731 15.3005L17.5681 14.0055L20.9352 17.3726L18.2156 20.2217C17.2443 21.193 15.6255 21.193 14.6543 20.2217L3.7111 9.34329C2.73981 8.37201 2.73981 6.7532 3.7111 5.78191L6.5602 2.99756L9.92733 6.36468Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <h3>Call Us</h3>
              <p>+1 844-534-1121</p>
            </a>
          </div>
          <div class="help-mail">
            <a href="mailto:support@aromahigh.com">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.6115 18.5737L14.5252 13.0811" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                <path d="M3.19424 18.5737L9.28057 13.0811" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                <path d="M21 18.1765C21 18.4412 20.741 18.7059 20.482 18.7059H3.51799C3.25899 18.7059 3 18.4412 3 18.1765V6.52941C3 6.26471 3.25899 6 3.51799 6H20.482C20.741 6 21 6.26471 21 6.52941V18.1765Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                <path d="M3.19424 6.26465L12 12.3529L20.6115 6.26465" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <h3>Email Us</h3>
              <p>support@aromahigh.com</p>
            </a>
          </div>
          <div class="help-chat">
            <a href="#">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.82344 18.0883L8.03483 17.6352L7.81591 17.533L7.59984 17.6411L7.82344 18.0883ZM4 20L3.51493 19.8787L3.25127 20.9334L4.22361 20.4472L4 20ZM4.99436 16.0226L5.47943 16.1438L5.54431 15.8843L5.36444 15.6863L4.99436 16.0226ZM12 19.5C17.1897 19.5 21.5 15.7482 21.5 11H20.5C20.5 15.0884 16.7514 18.5 12 18.5V19.5ZM7.61206 18.5414C8.92647 19.1546 10.4195 19.5 12 19.5V18.5C10.5656 18.5 9.21681 18.1866 8.03483 17.6352L7.61206 18.5414ZM7.59984 17.6411L3.77639 19.5528L4.22361 20.4472L8.04705 18.5355L7.59984 17.6411ZM4.48507 20.1213L5.47943 16.1438L4.50929 15.9013L3.51493 19.8787L4.48507 20.1213ZM2.5 11C2.5 13.0378 3.30112 14.9024 4.62428 16.3588L5.36444 15.6863C4.19278 14.3967 3.5 12.7668 3.5 11H2.5ZM12 2.5C6.81029 2.5 2.5 6.25185 2.5 11H3.5C3.5 6.91161 7.24859 3.5 12 3.5V2.5ZM21.5 11C21.5 6.25185 17.1897 2.5 12 2.5V3.5C16.7514 3.5 20.5 6.91161 20.5 11H21.5Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7895 13L10.8278 11.1277L7 13L11.2105 9L13.2201 10.8723L17 9L12.7895 13Z" fill="black"/>
              </svg>
              <h3>Chat</h3>
              <p>7AM - 4PM, CET
                Mon - Fri</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="preferencespopup" class="modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="preferences-heading">
          <h2>Prefferences</h2>
        </div>
        <div class="preferences-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;">
        <div class="shop-in-heading">
          <h3>Shop IN:</h3>
        </div>
        <div class="shop-in-selection">
          <select name="preferences" id="select-wearhouse">
            <option value="Lithuania">Lithuania</option>
            <option value="USA">USA</option>
          </select>
        </div>
        <div class="prefferences-info">
          <p>Free delivery & easy returns</p>
          <p>Next-Day Delivery available</p>
          <p>Ts&Cs apply</p>
          <div class="prefferences-payments">

          </div>
        </div>
        <div class="update-prefferences">
          <a href="#">Update prefferences</a>
        </div>
      </div>
    </div>
  </div>

  <div id="wishlistpopup" class="modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="wishlist-cart-link">
          <a href="/cart" class="main-header__cart js-drawer-open-cart" aria-expanded="false">
            <span class="cart-link">
              <img src="//cdn.shopify.com/s/files/1/0020/1896/7605/t/103/assets/icon-cart.svg?v=13556767467554437239">
              <span class="cart-link__bubble cart-link__bubble--visible"></span>
            </span>
          </a>
        </div>
        <div class="wishlist-heading">
          <h2>Your wishlist</h2>
        </div>
        <div class="wishlist-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="wishlist-modal-empty">
        <h2>Your wishlist is empty</h2>
        <p>Add the product you like into the wishlist.</p>
        <div class="cart-is-empty__content">
          <div class="cart-is-empty__line top"></div>
          <div class="cart-is-empty__content__button">
            <a class="btn btn--white" href="https://aromahigh.myshopify.com/collections/all">SHOP AROMAHIGH</a>
          </div>
          <div class="cart-is-empty__line bottom"></div>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;"></div>
    </div>
  </div>
  <div id="tierpopup" class="modal modal--square modal--mobile-friendly">
        <div class="modal__inner">
            <div class="modal__heading">
                <div class="wishlist-heading">
                    <h2>Pick the watch you would like to acquire.</h2>
                  </div>
                <div class="wishlist-close">
                    <button type="button" class="modal__close js-modal-close text-link">
                        {% include 'icon-close' %}
                        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
                      </button>
                </div>
              </div>

            <div class="modal__centered-content" style="text-align:left;">
                {% assign tier_cnt = product.metafields.airf.tier_cnt %}
                        {% for tag in product.tags %}
                              {% if tag contains "_tier" %}
                                    {% assign products_tag = tag | replace: "_tier", "" %}
                                  {% endif %}
                            {% endfor %}
                        {% comment %}
                <div class="modal__subheading">
                    <p>1. Select the watch you would like to change. You can change all watches by selecting “change” on all watches.</p>
                  </div>
                <div class="modal__listofchoosed">
                    {% assign tier_cnt = product.metafields.airf.tier_cnt %}
                    {% for tag in product.tags %}
                        {% if tag contains "_tier" %}
                            {% assign products_tag = tag | replace: "_tier", "" %}
                          {% endif %}
                      {% endfor %}

                    {% if tier_cnt and tier_cnt != '&nbsp' %}
                       {% for i in (1..tier_cnt) %}
                            {% assign counter_prod = 1 %}
                            {% paginate collections[allcol].products by 1000 %}
                                {% for sp in collections['all-1'].products %}
                                    {% if sp.tags contains products_tag %}
                                        {% if i == counter_prod %}
                                            <div class="tier-product">
                                                <div class="tier-product-image">
                                                    <img src="{{ sp.featured_image | img_url: 'large'}}" alt="">
                                                  </div>
                                                <div class="tier-product-title">
                                                    <h4>{{ sp.title }}</h4>
                                                  </div>
                                                <div class="tier-product-change" data-id="{{ sp.id }}">
                                                    <a href="#">change</a>
                                                  </div>
                                              </div>
                                          {% endif %}
                                        {% assign counter_prod = counter_prod | plus: 1 %}
                                      {% endif %}
                                  {% endfor %}
                              {% endpaginate %}
                          {% endfor %}
                      {% endif %}
                  </div>
                <div class="modal__offer">
                    {% include 'product-section-offer' %}
                  </div>
                        {% endcomment %}
                <div class="modal__listtochoose"></div>
                {% comment %}
                {% if products_tag == "any_6" or products_tag == "any_4_camo" %}
                    {% assign box = all_products['collectors-box'] %}
                    <div class="modal__boxchoose">
                        <div class="box_choose">
                            <div class="box_choose_image">
                                <img src="{{ box.featured_image | img_url: 'large'}}" alt="{{ box.title }}">
                              </div>
                            <div class="box_description">
                                <h5>Save another $500</h5>
                                <h3>Become a collector for only $99</h3>
                                <p><span></span>Selected</p>
                              </div>
                          </div>
                      </div>
                  {% endif %}
                {% endcomment %}


              </div>
            {% comment %}
            <div class="modal__footer">
                <div class="modal__footer_addcart">
                    <a href="#">add to cart (total {{ product.price | round | money | replace: "USD", "" }})</a>
                </div>
                <div class="modal__footer_addwish">
                    {% include 'product-wishlist' %}
                </div>
            </div>
            {% endcomment %}
          </div>
      </div>

  <div id="tierpopup" class="modal modal--square modal--mobile-friendly">
    <div class="modal__inner">
      <div class="modal__heading">
        <div class="wishlist-heading">
          <h2>Pick the watch you would like to aquire.</h2>
        </div>
        <div class="wishlist-close">
          <button type="button" class="modal__close js-modal-close text-link">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
          </button>
        </div>
      </div>
      <div class="wishlist-modal-empty">
        <h2>Your wishlist is empty</h2>
        <p>Add the product you like into the wishlist.</p>
        <div class="cart-is-empty__content">
          <div class="cart-is-empty__line top"></div>
          <div class="cart-is-empty__content__button">
            <a class="btn btn--white" href="/collections/all">SHOP AROMAHIGH</a>
          </div>
          <div class="cart-is-empty__line bottom"></div>
        </div>
      </div>
      <div class="modal__centered-content" style="text-align:left;">
        {% assign tier_cnt = product.metafields.airf.tier_cnt %}
        {% for tag in product.tags %}
          {% if tag contains "_tier" %}
            {% assign products_tag = tag | replace: "_tier", "" %}
          {% endif %}
        {% endfor %}
        {% comment %}
        <div class="modal__subheading">
          <p>1. Select the watch you would like to change. You can change all watches by selecting “change” on all watches.</p>
        </div>
        <div class="modal__listofchoosed">


          {% if tier_cnt and tier_cnt != '&nbsp' %}
            {% for i in (1..tier_cnt) %}
              {% assign counter_prod = 1 %}
              {% paginate collections[allcol].products by 1000 %}
                {% for sp in collections['all-1'].products %}
                  {% if sp.tags contains products_tag %}
                    {% if i == counter_prod %}
                      <div class="tier-product">
                        <div class="tier-product-image">
                          <img src="{{ sp.featured_image | img_url: 'large'}}" alt="">
                        </div>
                        <div class="tier-product-title">
                          <h4>{{ sp.title }}</h4>
                        </div>
                        <div class="tier-product-change" data-id="{{ sp.id }}">
                          <a href="#">change</a>
                        </div>
                      </div>
                    {% endif %}
                    {% assign counter_prod = counter_prod | plus: 1 %}
                  {% endif %}
                {% endfor %}
              {% endpaginate %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="modal__offer">
          {% include 'product-section-offer' %}
        </div>
        {% endcomment %}
          <div class="modal__listtochoose"></div>
        {% comment %}
        {% if products_tag == "any_6" or products_tag == "any_4_camo" %}
          {% assign box = all_products['collectors-box'] %}
          <div class="modal__boxchoose">
            <div class="box_choose">
              <div class="box_choose_image">
                <img src="{{ box.featured_image | img_url: 'large'}}" alt="{{ box.title }}">
              </div>
              <div class="box_description">
                <h5>Save another $500</h5>
                <h3>Become a collector for only $99</h3>
                <p><span></span>Selected</p>
              </div>
            </div>
          </div>
        {% endif %}
        {% endcomment %}
      </div>
      {% comment %}
      <div class="modal__footer">
        <div class="modal__footer_addcart">
          <a href="#">add to cart (total {{ product.price | round | money | replace: "USD", "" }})</a>
        </div>
        <div class="modal__footer_addwish">
          {% include 'product-wishlist' %}
        </div>
      </div>
      {% endcomment %}
    </div>
  </div>


  <script>
    jQuery(document).ready(function($) {


      jQuery('.main-header__cart').click(function () {
        var discount_value = localStorage.getItem('discount_value');
        if (discount_value && discount_value != undefined){
          jQuery.getJSON('/cart.js', function(cart_end) {
            var total = cart_end.total_price / 100;
            var discounted = total - discount_value;
            jQuery('.cart-subtotal .ajaxcart__price').text('$'+discounted);
            jQuery('.cart-subtotal .ajaxcart__price').show();
          });
        }
      });


      jQuery('#CartContainer').on('click', '.js-qty__adjust--plus', function () {
        get_discount();
      });
      jQuery('#CartContainer').on('click', '.js-qty__adjust--minus', function () {
        get_discount();
      });


      var previousDiscount = localStorage.getItem('discount_id');
      var previousRule = localStorage.getItem('rule_id');
      var discount_code_end = localStorage.getItem('discount_code_end');
      var discount_code = localStorage.getItem('discount_code');
      var discount_value = localStorage.getItem('discount_value');
      if (previousDiscount && previousDiscount != undefined){
        var ts = Math.round(new Date().getTime() / 1000);
        if (ts > discount_code_end){
          jQuery.ajax({
            type: 'POST',
            url : 'https://p2.tns.company/kit_offer.php',
            data : {
              'remove_discount_code': 1,
              'discount_code': previousDiscount,
              'price_rule': previousRule,
              'discount_name': discount_code
            },
            success: function(){
              console.log('removed');
              localStorage.removeItem('discount_id');
              localStorage.removeItem('rule_id');
              localStorage.removeItem('discount_code_end');
              localStorage.removeItem('discount_code');
            },
            error: function(err_response){
              console.log(err_response);
            }
          });
        }else{
          jQuery.getJSON('/cart.js', function(cart_end) {
            var total = cart_end.total_price / 100;
            var discounted = total - discount_value;
            jQuery('.cart-subtotal .ajaxcart__price').text('$'+discounted);
            jQuery('.cart-subtotal .ajaxcart__price').show();
          });
        }
      }else{
        jQuery('.ajaxcart__subtotal .ajaxcart__price').show();
      }


      // $(window).on('load',function () {
      //   if (discount_code && discount_code != undefined){
      //     $('#CartDrawer').find('input[name="discount"]').val(discount_code);
      //   }
      // });


      var modal_tier = new theme.Modals('tierpopup', 'tier-popup', {
                      closeOffContentClick: true,
                      solid: true
            });



        $('button#AddToCart-product-template-tier').click(function (e) {
                    e.preventDefault();
                    var acsCart = [];
                    $('.tier-choose-wrap').find('.tier-product').each(function(){
                          var t = $(this);
                          var variant = {};
                          variant.id = parseInt(t.data('variant'));
                          variant.qty = 1;
                          var any2check = localStorage.getItem('any2');
                          if (any2check == 'true'){
                                variant.properties = {
                                      "secretoffer": true
                                }
                              }else{
                                variant.properties = false;
                              }
                          //console.log(variant);
                              acsCart.push(variant);
                        });
                    if (acsCart.length > 0){
                          MGUtil.data = acsCart;
                          MGUtil.total = MGUtil.data.length;
                          //console.log(MGUtil.data);
                              MGUtil.action = 'add';
                          console.log(MGUtil);
                          MGUtil.recursive();
                        }

                  });


                      $('.tier-choose-wrap').on('click', '.tier-product-change a', function (e) {
                        e.preventDefault();
                        var changed_id = $(this).parent().data('id');
                          var changed_product = $(this).parents('.tier-product').data('index');
                        $.ajax({
                                  type: 'POST',
                                  url : 'https://p2.tns.company/get_tier_list_test.php',
                                  data : {
                                'get_tier_list': 1,
                                      'changed_id': changed_id,
                                     'tag' : '{{ products_tag }}'
                            },
                          success: function(response){
                              $('.modal__listtochoose').html(response);
                              modal_tier.open();
                              $('.tier-product_to').click(function(e){
                                    e.preventDefault();
                                    var ch_id = $(this).data('id');
                                    var var_id = $(this).data('variant');
                                    var title = $(this).find('.tier-product-title_to').data('text');
                                    var image = $(this).find('.tier-product-image_to img').attr('src');
                                    console.log(changed_product);
                                    console.log($('.tier-product[data-index="'+changed_product+'"]'));
                                    $('.tier-product[data-index="'+changed_product+'"]').find('.tier-product-image img').attr('src', image);
                                    $('.tier-product[data-index="'+changed_product+'"]').find('.tier-product-title h4').text(title);
                                    $('.tier-product[data-index="'+changed_product+'"]').find('.tier-product-change').data('id',ch_id);
                                    $('.tier-product[data-index="'+changed_product+'"]').data('variant',var_id);
                                    $('.tier-product[data-index="'+changed_product+'"]').data('id',ch_id);
                                    $(this).find('.tier-product-indicator').css('background','#4DDC7C');
                                   $(this).find('.tier-product-indicator svg path').attr('fill','#fff');
                                  $(this).attr('disabled','disabled');
                                    setTimeout(function () {
                                          modal_tier.close();
                                        },1500)
                                  });
                            },
                          error: function(err_response){
                            }
                       });
                     });

      var modal_account = new theme.Modals('accountpopup', 'account-popup', {
        closeOffContentClick: true,
        solid: true
      });
      var modal_help = new theme.Modals('helppopup', 'help-popup', {
        closeOffContentClick: true,
        solid: true
      });
      var modal_pref = new theme.Modals('preferencespopup', 'prefferences-popup', {
        closeOffContentClick: true,
        solid: true
      });
      var modal_fogg = new theme.Modals('foggetpopup', 'fogget-popup', {
        closeOffContentClick: true,
        solid: true
      });
      var modal_reg = new theme.Modals('registerpopup', 'register-popup', {
        closeOffContentClick: true,
        solid: true
      });
      var modal = new theme.Modals('wishlistpopup', 'wishlist-popup', {
        closeOffContentClick: true,
        solid: true
      });
      $('a[href="#prefferences"]').click(function (e) {
        e.preventDefault();
        modal_pref.open();
      });
    $('a[href="#helppopup"]').click(function (e) {
      e.preventDefault();
      modal_help.open();
    });
      $('a[href="#accountpopup"]').click(function (e) {
        e.preventDefault();
        modal_account.open();
        modal_reg.close();
        modal_fogg.close();
      });
      $('a[href="#foggetpopup"]').click(function (e) {
        e.preventDefault();
        modal_account.close();
        modal_fogg.open();
      });
      $('a[href="#registerpopup"]').click(function (e) {
        e.preventDefault();
        modal_account.close();
        modal_reg.open();
      });
      $('#buttonwishlist, #buttonwishlist_mob').on('click',function(e){
        e.preventDefault();
        var wishlist = localStorage.getItem('wishlist');
        wishlist = wishlist.split(',');
        var wishlist_f = wishlist.filter(function (el) {
          return el != "";
        });
        if (wishlist_f.length > 0){
          jQuery.ajax({
            type: 'POST',
            url : 'https://p2.tns.company/wishlist_a.php',
            data : {
              'get_wishlist': 1,
              'wishlist': wishlist_f
            },
            success: function(response){
              console.log(response);
              $('#wishlistpopup .modal__centered-content').html(response);
              modal.open();
              $('.wishlist-addtocart a').click(function (e) {
                e.preventDefault();
                var acsCart = [];
                var variant = {};
                variant.id = $(this).data('variant');
                variant.qty = 1;

                //data-pre-order-attr
                acsCart.push(variant);
                if (acsCart.length > 0){
                  MGUtil.data = acsCart;
                  MGUtil.total = MGUtil.data.length;
                  MGUtil.action = 'add';
                  MGUtil.recursive();
                }
              });
              $('.wishlist-remove .wishlist-wrao .wishlist-button').click(function () {
                $(this).parents('.wishlist-product-wrap').fadeOut('slow');
                var wishlist = localStorage.getItem('wishlist');

                if (wishlist == undefined){
                  wishlist = [];
                  localStorage.setItem('wishlist', wishlist);
                }else{
                  wishlist = wishlist.split(',');
                }
                var action = $(this).data('action');
                var id = $(this).data('id') + '';
                var index = wishlist.indexOf(id);
                if (index >= 0){
                  wishlist.splice(index, 1);
                  localStorage.setItem('wishlist', wishlist);
                  $(this).data('action','add');
                  $(this).find('.wish-text').text('Add to Wishlist');
                  $('.wishlist-button[data-id="'+id+'"]').find('.wish-text').text('Add to Wishlist');
                  $('.wishlist-button[data-id="'+id+'"]').data('action','add');
                  $('.wishlist-button[data-id="'+id+'"]').attr('data-action','add');
                  $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-added').hide();
                  $('.wishlist-button[data-id="'+id+'"]').find('.wishlist-add').show();
                  if (wishlist.length <= 1){
                    $('.iswish').hide();
                    $('.wishlist-modal-empty').show();
                  }
                }
                $(this).parents('.wishlist-product-wrap').remove();
                jQuery.ajax({
                  type: 'POST',
                  url : 'https://p2.tns.company/wishlist_a.php',
                  data : {
                    'get_w_metafield': 1,
                    'p_id': id,
                    'action': action
                  },
                  success: function(response){
                    if ($('.wish-count').length > 0){
                      $('.wish-count').text(response);
                    }
                  },
                  error: function(err_response){
                    console.log(err_response);
                  }
                });
              });
            },
            error: function(err_response){
            }
          });
        }else{
          modal.open();
        }
      });
    });
  </script>

{% render 'banana-stand-footer' %}
{% include 'special-offers' %}

{% include 'booster-discounts' %}
{% include 'appikon-discounts' %}<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->
</body>
</html>
