<!doctype html>
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
{% include 'pro-blogger-section-wrapper' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  <!-- begin Convert Experiences code--><script type="text/javascript" src="//cdn-3.convertexperiments.com/js/10005415-10005820.js"></script><!-- end Convert Experiences code -->

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- include 'seo-title' -%}
  <title>{{ seo_title }}</title>
  {% include "trackify_x" %}


  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- include 'social-meta-tags' -%}
  {% include 'google-fonts' %}
  {{ 'bootstrap-grid.min.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'progress.css' | asset_url | stylesheet_tag }}

  {% comment %}
    {{ 'upsell.scss.css' | asset_url | stylesheet_tag }}
    {{ 'banners.scss.css' | asset_url | stylesheet_tag }}
    {{ 'header.scss.css' | asset_url | stylesheet_tag }}
    {{ 'home-dev.scss' | asset_url | stylesheet_tag }}
    {{ 'preorder.scss.css' | asset_url | stylesheet_tag }}
    {{ 'collections.scss.css' | asset_url | stylesheet_tag }}
    {{ 'jewelry.scss.css' | asset_url | stylesheet_tag }}
  {% endcomment %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' | script_tag }}

  {{ content_for_header }}
  {% include 'bold-common' %}

  {% comment %}{% include 'shogun-head' %}{% endcomment %}
  {% include 'elevar-head' %}
{% include 'zenithify.smartlabels' %}
<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
{% include 'weglot_hreftags' %}
{% include 'weglot_switcher' %}

	{{ shop.metafields.loox["global_html_head"] }}

  {% include 'scm-product-label-head' %}

{% comment %} start instabadge section {% endcomment %}
{{ 'instabadge.css' | asset_url | stylesheet_tag }}
{% include 'instabadge' %}
{% comment %} end instabadge section {% endcomment %}
<script>var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");</script>
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="{{ settings.animate_page_transitions }}">
  {% include 'klarna-branding' %}

  <script>

    jQuery.ajax({
      type: 'POST',
      url : 'http://p2.tns.company/wishlist_a.php',
      data : {
        'get_wishlist': 1
      },
      success: function(response){
        json_response =  JSON.parse(response);
        console.log('success');
        console.log(json_response);
      },
      error: function(err_response){
        console.log('error');
        console.log(err_response);
      }
    });


    var counter = 1;
    {% for collection1 in collections %}

    {% endfor %}
    {% assign allcol = "all-1" %}
     var all_prod = new Map([
      {% paginate collections[allcol].products by 1000 %}
      {% for p in collections[allcol].products %}
      ["{{ p.title }}", "{{ p | img_url }}"],
      {% endfor %}
      {% endpaginate %}
    ]);
  </script>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      themeVersion: "3.1.3"
    };
  </script>

  {% if settings.animate_page_transitions %}
    <script type="text/javascript">
    window.setTimeout(function() { document.body.className += " loaded"; }, 25);
    </script>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}

        {% include 'collection-internal-link' %}
      </main>

      {% section 'footer' %}


    

    </div>
  </div>
  
    


  {% section 'newsletter-popup' %}

  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if settings.enable_currencies %}
    <span
      id="CurrencyData"
      class="hide"
      data-shop-currency="{{ shop.currency }}"
      data-default-currency="{{ settings.default_currency | default: shop.currency }}"
      data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
  {% endif %}

  {% include 'qty-selector-template' %}
  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}


<div id="bundle-variants" class="hide"></div>

{% assign bndl_lthr = shop.metafields.airf.bndl_lthr %}
{% assign bndl_mesh = shop.metafields.airf.bndl_mesh %}
<div id="bundle-properties" class="hide"{% if bndl_lthr and bndl_lthr != '&nbsp' %} data-id-leather="{{ bndl_lthr }}"{% endif %}{% if bndl_mesh and bndl_mesh != '&nbsp' %} data-id-mesh="{{ bndl_mesh }}"{% endif %}></div>

{% include 'back-in-stock-helper' %}

  {% include 'criteo-tracking' %}

  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26002081"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  {% comment %}{% include 'nosto-tagging' %}{% endcomment %}

  {% include 'elevar-body-end' %}
  {% comment %}{% include 'bk-tracking' %}{% endcomment %}

  {% include 'tracking' %}

{% if customer %} <div id="shopmsg-customer-helper" data-id="{{ customer.id }}" style="display:none;"></div>{% endif %}

{% include 'swymSnippet' %}

<!--Gem_Page_Footer_Script-->
{% include 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->
{% include 'booster-discounts' %}
<!-- This line added automatically by JSON-LD for SEO. -->{% include 'jsonld-for-seo' %}


	{{ shop.metafields.loox["global_html_body"] }}
{% include 'dotbrick-currency-converter-snippet' %}
  
  <!-- Warning: Do not remove.This is used for CartHook Checkout Replacement -->
{% capture the_snippet_content %}{% include 'carthook-checkout' %} {% endcapture %} {% unless the_snippet_content contains "Liquid error" %} {% include 'carthook-checkout' %} {% endunless %}
<!-- Warning: Do not remove.This is used for CartHook Checkout Replacement -->
  
  {% comment %} Stamped.io Javascript {% endcomment %}
  <script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
  
  {% comment %} Carthook automatic discount {% endcomment %}
  <script> window.chCouponCode = document.cookie.replace(/(?:(?:^|.*;\s*)discount_code\s*\=\s*([^;]*).*$)|^.*$/, "$1");</script>

  {% assign enable_f = shop.metafields.airf.enable_f %}
  {% if enable_f == "true" %}
    {% assign s_date_f = shop.metafields.airf.s_date_f %}
    {% assign e_date_f = shop.metafields.airf.e_date_f %}
    {% assign now_date = "now" | date: "%Y-%m-%d %H:%M" %}
    {% if now_date >=  s_date_f and now_date <= e_date_f%}
      {% assign coll_f = shop.metafields.airf['coll_f'] %}
      {% if coll_f and coll_f != blank %}
        {% assign separator = "###" %}
        {% assign coll_f_related_handles = coll_f | split: separator %}
        {% for handle in coll_f_related_handles %}
          {% assign related_collection = handle %}
        {% endfor %}
      {% endif %}
      {% assign prod_add_f = shop.metafields.airf['prod_add_f'] %}
      {% if prod_add_f and prod_add_f != blank %}
        {% assign data_separator = "/r###r/" %}
        {% assign separator = "###" %}
        {% assign related_data = prod_add_f | split: data_separator %}
        {% assign data_product = related_data[0] | split: separator %}
        {% assign product_handle = data_product[1] %}
        {% assign related_product = all_products[product_handle] %}
        {% assign related_product_id = related_product.id %}
        {% assign variant_ids = related_data[1] | split: separator %}
        {% for product_variant in related_product.variants %}
          {% assign current_id = product_variant.id | downcase %}
          {% if variant_ids contains current_id %}
            {% assign current_id_var = product_variant.id | downcase %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% assign count_of_p = shop.metafields.airf.count_of_p %}
      {% assign count_of_p = count_of_p | plus: 0 %}
      <script>
        jQuery('#CartContainer').on('click', '.js-qty__adjust--plus', function () {
          console.log(3);
          var jewelry_list = [];
          {% paginate collections[related_collection].products by 10000 %}
          {% for product in collections[related_collection].products limit:250 %}
          jewelry_list.push({{ product.id }});
          {% endfor %}
          {% endpaginate %}
          setTimeout(function () {
            var jewel_in_cart = 0;
            var case_in_cart = 0;
            jQuery.getJSON('/cart.js', function(response) {
              console.log(response.items.length);
              for (var i = 0; i <= response.items.length-1; i++){
                var item = response.items[i];
                if (jewelry_list.includes(item.product_id)){
                  jewel_in_cart = jewel_in_cart + item.quantity;
                }

                if (item.product_id == {{ related_product_id }}){
                  case_in_cart = 1;
                }
              }
              if (jewel_in_cart >= {{ count_of_p }} && case_in_cart == 0){
                var acsCart = [];
                var variant = {};
                variant.id = {{ current_id_var }};
                variant.qty = 1;

                //data-pre-order-attr
                //console.log(variant);
                acsCart.push(variant);
                if (acsCart.length > 0){
                  MGUtil.data = acsCart;
                  MGUtil.total = MGUtil.data.length;
                  MGUtil.action = 'add';
                  MGUtil.recursive();
                }
              }
            } );
          },1000);
        });
        jQuery('.add-to-cart-related, .add-to-cart--preorder, #AddToCart-product-sections-template').on('click', function(e){
          console.log(3);
          var jewelry_list = [];
          {% paginate collections[related_collection].products by 10000 %}
          {% for product in collections[related_collection].products limit:250 %}
          jewelry_list.push({{ product.id }});
          {% endfor %}
          {% endpaginate %}
          setTimeout(function () {
            var jewel_in_cart = 0;
            var case_in_cart = 0;
            jQuery.getJSON('/cart.js', function(response) {
              console.log(response.items.length);
              for (var i = 0; i <= response.items.length-1; i++){
                var item = response.items[i];
                if (jewelry_list.includes(item.product_id)){
                  jewel_in_cart = jewel_in_cart + item.quantity;
                }
                if (item.product_id == {{ related_product_id }}){
                  case_in_cart = 1;
                }
              }
              if (jewel_in_cart >= {{ count_of_p }} && case_in_cart == 0){
                var acsCart = [];
                var variant = {};
                variant.id = {{ current_id_var }};
                variant.qty = 1;

                //data-pre-order-attr
                //console.log(variant);
                acsCart.push(variant);
                if (acsCart.length > 0){
                  MGUtil.data = acsCart;
                  MGUtil.total = MGUtil.data.length;
                  MGUtil.action = 'add';
                  MGUtil.recursive();
                }
              }
            } );
          },1000);
        });
      </script>
      {% assign case_added = 0 %}
      {% assign jewel_in_cart = 0 %}
      {% for item in cart.items %}
        {% assign cart_prod = item.product %}
        {% if cart_prod.id == related_product_id %}
          {% assign case_added = 1 %}
        {% endif %}
        {% assign founded_jewel = 1 %}
        {% for cart_prod_collection in cart_prod.collections %}
          {% if cart_prod_collection.handle contains related_collection %}
            {% if founded_jewel == 1 %}
              {% assign founded_jewel = 0 %}
              {% assign jewel_in_cart = jewel_in_cart | plus: item.quantity %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}

    {% if case_added == 0 and jewel_in_cart >= count_of_p %}
      <script>
        jQuery.post('/cart/add.js', {
          items: [
            {
              quantity: 1,
              id: {{ current_id_var }}
            }
          ]
        });
      </script>
    {% endif %}
      {% else %}
    {% endif %}


  {% endif %}

  <style>
    .importdis{
      display: block!important;
    }

  </style>

  <script>


    jQuery(document).ready(function ($) {

      $(window).on('load', function() {
        check_review(false);
      });
      jQuery('#stamped-reviews-widget').on('click','.stamped-pagination-page a',function () {
        setTimeout(function () {
          check_review(false);
        },1400);
      });
      function check_review(load) {
        if (jQuery('#stamped-reviews-widget').length > 0){
          if (!load){
            if (jQuery('.stamped-review-card').length > 0){
              load = true;
              jQuery('.stamped-review-card').each(function () {
                var title = jQuery(this).find('.stamped-products-reviews-title a').text();
                var image = all_prod.get(title);
                if (image != undefined){
                  jQuery(this).find('.stamped-reviews-image img').attr('src', image);
                  jQuery(this).find('.stamped-reviews-image img').addClass('importdis');
                }
              });
            }else{
              setTimeout(function () {
                check_review(load);
              },1000);
            }
          }
        }
      }
    });



  </script>

{% render 'banana-stand-footer' %}
</body>
</html>
