.ajaxcart__row {
	padding-top: 15px;
	padding-bottom: 15px !important;
	margin-bottom: 0;
}

.ajaxcart__row > .grid.display-table {
	width: calc(100% + 40px);
}

.ajaxcart__product-name {
	padding-right: 80px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.21;
	letter-spacing: 0.5px;
	color: #000000;
}

@media only screen and (max-width: 768px) {
	.ajaxcart__product-name {
		padding-right: 90px;
	}
}

.ajaxcart__product-meta {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.21;
	letter-spacing: 0.5px;
	color: #000000;
	padding-right: 80px;
}

@media only screen and (max-width: 768px) {
	.ajaxcart__product-meta {
		padding-right: 90px;
	}
}

.ajaxcart__product-name--wrapper {
	position: relative;
	margin-bottom: 5px;
}

.ajaxcart__product-name--wrapper .ajaxcart__price-wrap {
	padding-top: 5px;
}

.ajaxcart__product-name--wrapper .ajaxcart__price-wrap .money {
	font-size: 13px;
	line-height: 1.31;
	font-weight: 400;
	letter-spacing: 0.4px;
	opacity: 0.9;
}

.ajaxcart__product-name--wrapper .ajaxcart__price-wrap .ajaxcart__price {
	color: #000000;
	display: inline-block;
	margin-bottom: 0;
}

.ajaxcart__product-name--wrapper .ajaxcart__price-wrap .ajaxcart__price--strikethrough {
	color: #7e7e7e;
	display: inline-block;
	padding-left: 10px;
}

.ajaxcart__product-name--wrapper .cell-qty {
	position: absolute;
	right: 16px;
	top: 4px;
}

.ajaxcart__product-name--wrapper .cell-qty .js-qty__wrapper {
	min-width: 0;
	max-width: 53px;
	width: 53px;
	border-radius: 2px;
}

.ajaxcart__product-name--wrapper .cell-qty .js-qty__num {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	display: block;
	font-size: 12px;
	font-weight: 500;
	border-right: 1px solid #e9e9e9;
}

.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust {
	width: 22px;
	height: 16px;
	border: 0;
	text-align: center;
}



.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust .icon {
	display: inline-block;
	width: 8px;
	height: 8px;
}

@media only screen and (max-width: 768px) {
	.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust .icon {
		width: 12px;
		height: 12px;
	}
}

.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust.js-qty__adjust--plus {
	right: 0;
	top: 0;
	left: auto;
	bottom: auto;
	border-bottom: 1px solid #e9e9e9;
}

.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust.js-qty__adjust--plus .icon {
	margin-top: -2px;
}

.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust.js-qty__adjust--minus {
	right: 0;
	bottom: 0;
	left: auto;
	top: auto;
}

@media only screen and (max-width: 768px) {
	.ajaxcart__product-name--wrapper .cell-qty .js-qty__wrapper {
		width: 63px;
		max-width: 63px;
	}
	.ajaxcart__product-name + .ajaxcart__price-wrap {
		padding-top: 17px;
	}
	.ajaxcart__product-name {
		min-height: 32px;
		display: block;
	}
	.template-cart .btn--remove {
		margin-top: 0;
	}
	.template-cart .cart__product-meta-variant {
		margin-bottom: 5px;
	}
	.template-cart .cart__props br {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.ajaxcart__product-name--wrapper .cell-qty .js-qty__num {
		height: 48px;
		width: 34px;
		font-size: 16px;
	}
}

@media only screen and (max-width: 768px) {
	.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust:hover, .ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust:focus, .ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust:active {
		color: inherit;
		fill: inherit;
		background-color: inherit;
		outline: 0;
	}
}

@media only screen and (max-width: 768px) {
	.ajaxcart__product-name--wrapper .cell-qty .js-qty__adjust {
		width: 28px;
		height: 24px;
	}
}

.drawer__cart .ajaxcart__discount {
	text-align: left;
	background: url("//cdn.shopify.com/s/files/1/0020/1896/7605/t/14/assets/green-check.svg") no-repeat left 5px;
	padding-left: 22px;
	font-size: 12px;
}

.drawer__cart .bundle-item .ajaxcart__discount {
	background-position: left 4px;
}
