.announcement {
	position: relative;
	z-index: $z-index-announcement;
	transition: height 0.5s cubic-bezier(0, 0, 0.38, 1);
	overflow: hidden;
	background-color: $colorAnnouncement;
	color: $colorAnnouncementText;
}

.announcement--opening {
	height: 0;
}

.announcement--opening .announcement__text {
	opacity: 1;
}

.announcement--opening .announcement__close {
	opacity: 1;
}

.announcement--closed {
	transition: height 0.3s cubic-bezier(0, 0, 0.38, 1);
	height: 0 !important; // transition only works because JS sets height pre-closing
}

.announcement__text {
	display: block;
	padding: 5px 20px 4px;
	font-size: em(14px);
	opacity: 0;
	transition: opacity 0.75s ease 0.5s;

	@include media-query($medium-up) {
		text-align: center;
		padding: 6px 20px 5px;
		font-size: em(12px);
	}
}

.announcement__link {
	display: block;
	color: $colorAnnouncementText;

	&:hover {
		color: $colorAnnouncementText;
	}
}

.announcement__close {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 10px;
	z-index: 2;
	opacity: 0;
	transition: opacity 2s ease 0.8s;
	cursor: pointer;
	z-index: 2;

	.icon {
		color: $colorAnnouncementText;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		@include media-query($medium-up) {
			width: 22px;
			height: 22px;
		}
	}
}

.announcement {
	height: auto !important;
}

.announcement__text {
	text-align: center !important;
	opacity: 1 !important;
}

.announcement__close {
	display: none !important;
}

.announcement.timer {
	position: fixed;
	top: 0;
	height: 34px !important;
	overflow: hidden;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.announcement.timer {
		height: 34px !important;
	}
}

@media screen and (min-width: 769px) {
	.announcement.timer {
		height: 39px !important;
	}
}

@media screen and (max-width: 768px) {
	.timer-on .main-header {
		top: 34px !important;
	}
}

@media screen and (min-width: 769px) {
	.timer-on .main-header {
		top: 39px !important;
	}
}

@media screen and (max-width: 768px) {
	.timer-on.template-product .page-content {
		padding-top: 48px;
	}
}

.announcement__text {
	opacity: 0 !important;
}

.announcement__text.show {
	opacity: 1 !important;
}
