.background-media-text {
	position: absolute;
	width: 100%;
	overflow: hidden;
	background: $colorLargeImageBg;
}

.background-media-text__image,
.background-media-text__video {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 0;
}

.background-media-text__video {
	@include media-query($small) {
		width: 300%;
		left: -100%;
	}

	iframe,
	video {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		pointer-events: none;

		@include media-query($medium-up) {
			height: 120%;
			max-width: none;
			left: -100%;
			height: 150%;
			width: 300%;
		}

		// This min-width may need to change slightly depending on
		// embedded video dimensions. Can do on a per-shop basis
		@media screen and (min-width: 1140px) {
			width: 100%;
			height: 300%;
			left: auto;
			top: -100%;
		}
	}
}

.background-media-text__inner {
	position: absolute;
	z-index: 1;
	width: 100%;
}

.background-media-text__aligner {
	margin: ($gutter*2) $gutter;
}

.background-media-text__text {
	text-align: left;
	background: $colorBody;
	padding: $gutter;
	width: 380px;
}

.background-media-text__text .btn {
	margin-top: $gutter / 2;
}

@include media-query($medium-up) {
	.background-media-text--right .animation-cropper {
		float: right;
	}
}

// Section height

@include media-query($small) {
	.background-media-text {
		position: relative;
	}
	.background-media-text__inner {
		position: relative;
	}
	.background-media-text__image,
	.background-media-text__video {
		position: relative;
		height: 240px;
	}
	.background-media-text__aligner {
		margin: -11px -11px 11px;
	}
	.background-media-text__text {
		padding: $gutter * 0.75;
		width: auto;
	}
	.background-media-text.loading {
		&:before, &:after {
			top: 117px;
		}
	}
}

@include media-query($medium-up) {
	.background-media-text__spacer.background-media-text--450,
	.background-media-text--450,
	.background-media-text--450 .background-media-text__image,
	.background-media-text--450 .background-media-text__video {
		min-height: 450px;
	}
	.background-media-text__spacer.background-media-text--550,
	.background-media-text--550,
	.background-media-text--550 .background-media-text__image,
	.background-media-text--550 .background-media-text__video {
		min-height: 550px;
	}
	.background-media-text__spacer.background-media-text--650,
	.background-media-text--650,
	.background-media-text--650 .background-media-text__image,
	.background-media-text--650 .background-media-text__video {
		min-height: 650px;
	}
	.background-media-text__spacer.background-media-text--750,
	.background-media-text--750,
	.background-media-text--750 .background-media-text__image,
	.background-media-text--750 .background-media-text__video {
		min-height: 750px;
	}
}

@if ($animate_sections) {
	[data-aos="background-media-text__animation"] .background-media-text__image.lazyloaded,
	[data-aos="background-media-text__animation"] .background-media-text__image svg,
	[data-aos="background-media-text__animation"] .background-media-text__video {
		opacity: 0;

		.ie9 &,
		.no-js & {
			-webkit-animation: none;
			animation: none;
			opacity: 1;
		}
	}

	[data-aos="background-media-text__animation"].aos-animate .background-media-text__image.lazyloaded,
	[data-aos="background-media-text__animation"].aos-animate .background-media-text__image svg,
	[data-aos="background-media-text__animation"].loaded.aos-animate .background-media-text__video {
		-webkit-animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
	}

	@include media-query($medium-up) {
		[data-aos="background-media-text__animation"] .background-media-text__inner .animation-contents {
			opacity: 0;

			.ie9 &,
			.no-js & {
				-webkit-animation: none;
				animation: none;
				opacity: 1;
			}
		}

		[data-aos="background-media-text__animation"].loaded.aos-animate .background-media-text__inner .animation-contents {
			-webkit-animation: $animate_sections_text_style 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards;
			animation: $animate_sections_text_style 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.5s forwards;
		}
	}
} @else {
	[data-aos="background-media-text__animation"] .background-media-text__video {
		opacity: 0;

		.ie9 &,
		.no-js & {
			opacity: 1;
		}
	}

	[data-aos="background-media-text__animation"].loaded .background-media-text__video {
		-webkit-animation: fade-in 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		animation: fade-in 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
	}
}

.ie9 [data-aos="background-media-text__animation"] .background-media-text__image,
.ie9 [data-aos="background-media-text__animation"] .background-media-text__video {
	opacity: 1;
}

.large-image {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: $colorLargeImageBg;
}

.large-image__image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 0;
}
