.breadcrumb{
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 2.5px;
	span{
		font-size: 12px;
	}
	a{
		font-size: 12px;
		color: #8B8B8B;
		line-height: 16px;
		letter-spacing: 2.5px;
	}
	.breadcrumb--truncate{
		color: #8B8B8B;
		font-weight: bold;
		letter-spacing: 2.5px;
	}
}
.breadcrumb-wrapper{
	background: #F5F5F5;
	padding: 8px 0;
	margin: 0 0 20px 0;

}