.btn:not(.cart__checkout) {
	background-image: none !important;
}

.btn.klaviyo-bis-trigger {
	width: 100% !important;
	display: block;
	margin-top: 10px !important;
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.btn.btn--secondary {
	background-color: #7fd489 !important;
}

.btn.btn--full, .btn.klaviyo-bis-trigger {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	font-weight: 300;
}

@media only screen and (max-width: 768px) {
	.btn.btn--full, .btn.klaviyo-bis-trigger {
		font-size: 14px;
		letter-spacing: 2px;
		padding-top: 19px;
		padding-bottom: 19px;
	}
}

.btn.btn--full.btn[disabled]:hover, .btn.klaviyo-bis-trigger.btn[disabled]:hover {
	padding-top: 9px;
	padding-bottom: 9px;
}

@media only screen and (max-width: 768px) {
	.btn.btn--full.btn[disabled]:hover, .btn.klaviyo-bis-trigger.btn[disabled]:hover {
		padding-top: 19px;
		padding-bottom: 19px;
	}
}

.btn.btn--small {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
}

.btn.btn--small:not(.btn--remove) {
	width: 100%;
	display: block;
	padding: 16px 12px;
}

@media only screen and (max-width: 768px) {
	.btn.btn--small {
		font-size: 10px;
		letter-spacing: 0.3px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.btn.btn--white-outline {
	background-image: none !important;
	border: 1px solid #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	line-height: 1;
	font-weight: 400;
	padding-left: 0;
	padding-right: 0;
	padding-top: 14px;
	padding-bottom: 14px;
}

.btn.btn--white-outline:hover {
	padding-right: 0;
}

@media only screen and (min-width: 590px) {
	.btn.btn--white-outline:hover {
		background-color: #fff;
		color: #000;
	}
}

@media only screen and (min-width: 590px) {
	.btn.btn--white-outline + .btn--white-outline {
		margin-left: 20px;
	}
}

.btn.btn--white {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	font-weight: 400;
	width: 100%;
	display: block;
	opacity: 0.9;
	padding: 16px 12px;
	background-color: #fff;
	background-image: none !important;
	border: 1px solid #000;
}

@media only screen and (min-width: 590px) {
	.btn.btn--white:hover {
		background-color: #000;
		color: #fff;
	}
}
