.circle-plus {
	height: 7px;
	width: 7px;
	position: absolute;
	top: calc(50% - 3px);
}

@media only screen and (max-width: 768px) {
	.circle-plus {
		left: 25px;
	}
}

@media only screen and (min-width: 590px) {
	.circle-plus {
		left: 30px;
	}
}

.is-open .circle-plus {
	opacity: 1;
}

.is-open .circle-plus .vertical {
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.is-open .circle-plus .horizontal {
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	opacity: 0;
}

.circle-plus .circle {
	position: relative;
	width: 7px;
	height: 7px;
	border-radius: 100%;
}

.circle-plus .circle .horizontal {
	position: absolute;
	background-color: #C6AF76;
	width: 7px;
	height: 1px;
	left: 50%;
	margin-left: -3.5px;
	top: 50%;
	margin-top: -1px;
}

.circle-plus .circle .vertical {
	position: absolute;
	background-color: #C6AF76;
	width: 1px;
	height: 7px;
	left: 50%;
	margin-left: -1px;
	top: 50%;
	margin-top: -4px;
}

.collapsible-row {
	border: 4px solid #f3f3f3;
}

.collapsible-row:not(:last-child) {
	margin-bottom: 8px;
}

.collapsible-row .collapsible-trigger {
	font-size: 15px;
	letter-spacing: 0.6px;
	font-weight: 500;
	height: 67px;
	text-transform: none;
}

@media only screen and (max-width: 768px) {
	.collapsible-row .collapsible-trigger {
		padding-left: 50px;
		font-size: 14px;
	}
}

@media only screen and (min-width: 590px) {
	.collapsible-row .collapsible-trigger {
		padding-left: 80px;
	}
}

.collapsible-row .collapsible-trigger:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.collapsible-row .collapsible-content__inner {
	padding: 15px 30px 15px;
}

@media only screen and (max-width: 768px) {
	.collapsible-row .collapsible-content__inner p,
	.collapsible-row .collapsible-content__inner div {
		font-size: 13px;
	}
}
