.custom-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: auto;
	margin-bottom: -$grid-gutter;
	margin-left: -$grid-gutter;

	@include media-query($small) {
		margin-bottom: -$grid-gutter-small;
		margin-left: -$grid-gutter-small;
	}
}

.custom__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-bottom: $grid-gutter;
	padding-left: $grid-gutter;
	max-width: 100%;

	@include media-query($small) {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding-left: $grid-gutter-small;
		margin-bottom: $grid-gutter-small;

		&.small--one-half {
			-webkit-box-flex: 1;
			-ms-flex: 1 0 50%;
			flex: 1 0 50%;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	img {
		display: block;
	}
}

.custom__item-inner {
	position: relative;
	display: inline-block;
	text-align: left;
	max-width: 100%;
}

.custom__item-inner--video,
.custom__item-inner--html {
	display: block;
}

.custom__item-inner--html img {
	display: block;
	margin: 0 auto;
}

.custom__item-inner--placeholder-image {
	width: 100%;
}
