div[data-section-type="fading-images"] {
	overflow: hidden; // IE11 fix
}

.fading-images {
	position: relative;
	overflow: hidden;
	display: table;
	width: 100%;
	background: $colorLargeImageBg;
}

.fading-images-overlay__overlay {
	position: relative;

	&::before {
		@include overlay(1);
		z-index: 3;
	}
}

.fading-images-overlay__inner {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: $gutter 0;
	z-index: 3;
	color: #fff;
}

.fading-images-overlay__titles {
	margin: 0;
}

.fading-images__item {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	background-size: cover;
	opacity: 0;

	.no-js & {
		opacity: 1;
	}
}

// Title animations

.fading-images-overlay__titles .animation-cropper {
	display: block;
}

.fading-images-overlay__title {
	@include headerFontStack;
}

.active-titles .fading-images-overlay__title {
	-webkit-animation: $animate_sections_text_style 1.2s forwards;
	animation: $animate_sections_text_style 1.2s forwards;
}

.finished-titles .fading-images-overlay__title {
	-webkit-animation: #{$animate_sections_text_style}-out 0.75s forwards;
	animation: #{$animate_sections_text_style}-out 0.75s forwards;
}

// Image animations

.active-image.lazyloaded {
	-webkit-animation: kenburns 7s linear forwards;
	animation: kenburns 7s linear forwards;
	z-index: 2;
}

.finished-image.lazyloaded {
	-webkit-animation: kenburns-out 1s linear forwards;
	animation: kenburns-out 1s linear forwards;
	z-index: 1;
}

// Section sizes

.fading-images--250 {
	height: floor(250px * 0.65);
}

.fading-images--350 {
	height: floor(350px * 0.65);
}

.fading-images--450 {
	height: floor(450px * 0.65);
}

.fading-images--550 {
	height: floor(550px * 0.65);
}

.fading-images--650 {
	height: floor(650px * 0.65);
}

.fading-images--750 {
	height: floor(750px * 0.65);
}

@include media-query($medium-up) {
	.fading-images--250 {
		height: 250px;
	}

	.fading-images--350 {
		height: 350px;
	}

	.fading-images--450 {
		height: 450px;
	}

	.fading-images--550 {
		height: 550px;
	}

	.fading-images--650 {
		height: 650px;
	}

	.fading-images--750 {
		height: 750px;
	}
}
