/*================ Flex item alignment ================*/

.align--top-middle {
	text-align: center;
}

.align--top-right {
	text-align: right;
}

.align--middle-left {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.align--center {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	text-align: center;
}

.align--middle-right {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	text-align: right;
}

.align--bottom-left {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.align--bottom-middle {
	-ms-flex-item-align: end;
	align-self: flex-end;
	text-align: center;
}

.align--bottom-right {
	-ms-flex-item-align: end;
	align-self: flex-end;
	text-align: right;
}
