
.site-footer {
	padding-bottom: $gutter;
	background-color: $colorFooter;
	color: $colorFooterText;

	@include media-query($medium-up) {
		padding-top: $gutter * 2;
		padding-bottom: $gutter * 2;
	}

	input,
	textarea,
	select,
	.collapsible-content p,
	.site-footer__linklist a {
		font-size: em(floor($type_base_size * 0.93));
	}

	@include media-query($small) {
		overflow: hidden;
		padding-bottom: 0;

		.grid__item {
			padding-bottom: 5px;

			&:after {
				content: '';
				border-bottom: 1px solid $colorFooterText;
				opacity: 0.12;
				display: block;
			}

			&:last-child:after,
			&:first-child:after {
				display: none;
			}
		}
	}

	a {
		color: $colorFooterText;
	}
}

.footer__clear {
	clear: both;
	height: $gutter;
}

.footer__title {
	@include headerAccentFontStack;
	color: $colorFooterText;
	@if $type_header_accent_transform {
		font-size: em(ceil($type_header_base_size * 0.45));
	} @else {
		font-size: em(ceil($type_header_base_size * 0.52));
	}

	@include media-query($medium-up) {
		@if $type_header_accent_transform {
			font-size: em(ceil($type_header_base_size * 0.45));
		} @else {
			font-size: em(ceil($type_header_base_size * 0.55));
		}
		margin-bottom: 20px;
	}
}

.footer__powered_by {
	text-align: left;
	font-size: em(10px);

	@include media-query($medium-up) {
		font-size: em(12px);
		margin-top: 10px;
	}
}

/*================ Footer menus ================*/

.site-footer__linklist {
	margin: 0;

	a {
		display: block;
		padding: 4px 0;
	}
}

/*================ Footer newsletter ================*/

.footer__newsletter {
	position: relative;
}

.footer__newsletter-input {
	padding-left: 45px;
	background-color: $colorFooter;
	color: $colorFooterText;
	max-width: 300px;
	width: 100%;
	border: 1px solid rgba($colorFooterText, 0.6);

	&:focus {
		border-color: $colorFooterText;
	}

	&::-webkit-input-placeholder {
		color: $colorFooterText;
		opacity: 1;
	}

	&:-moz-placeholder {
		color: $colorFooterText;
		opacity: 1;
	}

	&::-moz-placeholder {
		color: $colorFooterText;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $colorFooterText;
		opacity: 1;
	}

	&::-ms-input-placeholder {
		color: $colorFooterText;
		opacity: 1;
	}
}

.footer__newsletter-btn {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 46px;
	color: $colorFooterText;

	.icon {
		width: 26px;
		height: 24px;
	}
}

/*================ Logo and social block ================*/

@include media-query($small) {
	.footer__logo-social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: ($gutter / 2) 0;

		.footer__logo {
			-webkit-box-flex: 0;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
		}

		.footer__social {
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			text-align: right;
		}
	}
}

// Logo

.footer__logo {
	@include media-query($medium-up) {
		margin-bottom: $gutter / 1.5;
	}

	a {
		display: block;
	}

	img {
		display: block;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		max-height: 100%;
	}
}

// Social icons

.footer__social {
	margin: 0;

	li {
		display: inline-block;
		margin: 0 0 0 15px;

		@include media-query($medium-up) {
			margin: 0 15px 15px 0;
		}
	}

	a {
		display: block;
	}

	.icon {
		width: 22px;
		height: 22px;

		@include media-query($medium-up) {
			width: 24px;
			height: 24px;
		}

		&.icon--wide {
			width: 40px;
		}
	}
}

// Collapsible buttons

.footer__collapsible {
	@include media-query($small) {
		padding: 0 0 ($gutter / 2) 0;
	}
}

.footer_collapsible--disabled {
	@include media-query($small) {
		padding-top: $gutter / 2;
	}
}

@if ($animate_underlines) {
	.collapsible-content p {
		a:after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0%;
			border-bottom: 2px solid rgba($colorFooterText, 1);
			transition: width 0.5s ease;
		}

		a {
			position: relative;
			text-decoration: none;
			border-bottom: 2px solid rgba($colorFooterText, 0.1);

			&:hover:after,
			&:focus:after {
				width: 100%;
			}
		}
	}
}

// FOOTER

.site-footer {
	background-color: #fff;
	color: #000;
	font-size: 11px;
	padding-bottom: 15px;
}

.site-footer a {
	color: #000;
}

@media (max-width: 767px) {
	.site-footer .page-width {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.site-footer .collapsible-trigger {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 767px) {
	.site-footer .collapsible-trigger .collapsible-trigger__icon {
		right: 20px;
	}
}

.site-footer .site-footer__linklist {
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.site-footer .site-footer__linklist {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.site-footer .footer__copyright {
	text-transform: uppercase;
	color: #999999;
	border-top: 1px solid #F0F0F0;
	font-size: 10px;
	padding-top: 15px;
	margin-top: 50px;
}

@media (max-width: 767px) {
	.site-footer .footer__copyright {
		margin-top: 20px;
	}
}

.site-footer .footer__copyright a {
	color: #999999;
}

@media (max-width: 767px) {
	.site-footer .footer__copyright span {
		display: block;
	}
}

@media (max-width: 767px) {
	.site-footer .footer__copyright span:not(:last-child) {
		margin-bottom: 10px;
	}
}

.site-footer .footer__copyright .delimiter {
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width: 767px) {
	.site-footer .footer__copyright .delimiter {
		display: none;
	}
}

.site-footer .footer__title {
	letter-spacing: 0.77px;
}

@media (max-width: 767px) {
	.site-footer .footer__title {
		font-weight: 400;
	}
}

@media (max-width: 767px) {
	.site-footer .primary_social_block .footer__social {
		display: none;
	}
}

@media (max-width: 767px) {
	.site-footer .secondary_social .footer__logo-social > div {
		display: none;
	}
}

@media (max-width: 767px) {
	.site-footer .secondary_social .footer__logo-social {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media (max-width: 767px) {
	.site-footer .secondary_social .footer__logo-social .footer__social {
		padding-top: 5px;
	}
}

@media (max-width: 767px) {
	.site-footer .secondary_social .footer__logo-social li:first-child {
		margin-left: 0;
	}
}

.site-footer .footer__logo-social {
	font-size: 11px;
	letter-spacing: 0.85px;
	line-height: 30px;
}

@media (max-width: 767px) {
	.site-footer .footer__logo-social {
		display: block;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.site-footer .footer__logo-social .footer__logo {
	margin-bottom: 17px;
	margin-top: -3px;
}

@media (max-width: 767px) {
	.site-footer .footer__logo-social .footer__logo {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
	.site-footer .footer__logo-social .footer__logo img {
		display: inline-block;
	}
}

.site-footer .footer__logo-social .footer__social {
	padding-top: 17px;
}

@media (max-width: 767px) {
	.site-footer .footer__logo-social .footer__social {
		text-align: center;
	}
}

.site-footer .footer__logo-social .footer__social .icon {
	width: 16px;
	height: 16px;
}

.site-footer .footer__newsletter {
	position: relative;
}

.site-footer .footer__newsletter > svg {
	position: absolute;
	right: 10px;
	top: 8px;
}

@media (max-width: 767px) {
	.site-footer .footer__newsletter > svg {
		top: 14px;
		right: 14px;
	}
}

.site-footer .footer__newsletter input {
	padding: 4px 10px 4px 12px;
	background-color: transparent;
}

@media (max-width: 767px) {
	.site-footer .footer__newsletter input {
		max-width: 100%;
		font-size: 16px;
	}
}

.site-footer .footer__newsletter .footer__newsletter-btn {
	position: relative;
	background-color: #333333;
	width: auto;
	height: auto;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	width: 155px;
	padding: 4px 0;
	margin-top: 10px;
}

@media (max-width: 767px) {
	.site-footer .footer__newsletter .footer__newsletter-btn {
		width: 100%;
		padding: 8px 0;
	}
}

.site-footer .footer__newsletter .footer__newsletter-btn svg {
	display: none;
}

@media (max-width: 767px) {
	.site-footer .grid__item__newsletter:after {
		display: none;
	}
}

@media (max-width: 767px) {
	.site-footer .grid__item__newsletter .collapsible-content--small {
		visibility: visible;
		height: auto !important;
		opacity: 1;
		padding-left: 20px;
		padding-right: 20px;
		border: 0;
	}
}

@media (max-width: 767px) {
	.site-footer .grid__item__newsletter .footer__title.small--hide {
		font-weight: 600;
		display: block !important;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 30px;
		font-size: 13px;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.site-footer .grid__item__newsletter .collapsible-trigger,
	.site-footer .grid__item__newsletter .collapsible-trigger__icon {
		display: none;
	}
}

@media (max-width: 767px) {
	.site-footer .grid__item__newsletter .collapsible-content__inner {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

.site-footer {
	.collapsible-content p {
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}
