// Header layout

.fera-promoBar span {
	font-family: DM Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	text-align: right;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
}



.header-wrapper{
	.header-inner{
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 0 15px;
		max-width: 1250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p{
			margin: 0;
		}
		.header-main-menu {
			.header-main-menu-button{
				display: none;
			}
			ul {
				margin: 0;
				list-style: none;
				padding: 0 0 0 33px;
				li {
					display: inline-block;
					margin-left: -5px;
					margin-bottom: 0;
					&:first-child{
						margin-left: 0;
					}
					a {
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: 2.5px;
						text-transform: uppercase;
						font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss04' on;
						color: #000000;
						position: relative;
						padding: 24px 30px;
						display: inline-block;
						&.active{
							text-decoration: underline;
							background: #F5F5F5;
						}
					}
					&:hover{
						a{
							text-decoration: underline;
						}
					}
				}
			}
		}
		.header-logo{

		}
		.header-right-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.right-menu-item-wrap{
				text-align: center;
				&:first-child{
					margin-left: 0;
				}
				.right-menu-item{
					padding: 13px 16px;
					background-color: #fff;
					transition: background-color 300ms ease;
					&:hover{
						background: #F5F5F5;
					}
					a{
						max-height: 40px;
						display: inline-block;
						p{
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 10px;
							line-height: 16px;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #000000;
							position: relative;
							margin-bottom: 0;
						}
						svg{
							display: block;
							margin: 0 auto 3px;
						}
					}
				}
			}
			.help-item-wrap{
				.help-item-modal {
					display: none;
				}
			}
		}
	}
}
.subheader-wrapper {
	background: #F5F5F5;
	.subheader-inner{
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 0 15px;
		max-width: 1250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.subheader-menus {
			width: 100%;
		}
		.subheader-menu {
			width: 100%;
			padding: 0 60px;
			display: none;
			.closed-menu-item{
				display: none;
			}
			.subheader-menu-mobile-links{
				display: none;
			}
			ul {
				margin: 0;
				list-style: none;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				z-index: 2;
				li {
					margin-bottom: 0;
					display: inline-block;
					& > a {
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 24px;
						color: #000000;
						padding: 8px 21px;
						display: inline-block;
						svg{
							display: inline-block;
							vertical-align: middle;
							margin-left: 8px;
						}
						img{
							display: none;
						}
					}
					&:hover{
						& > a{
							background: #fff;
							text-decoration: underline;
						}
						.sub-submenu {
							display: block;
							max-width: 100vw;
						}
					}
					&.active{
						& > a{
							text-decoration: underline;
						}
					}
					.sub-submenu {
						position: absolute;
						top: 40px;
						max-width: 1264px;
						left: 50%;
						width: 1264px;
						transform: translateX(-50%);
						z-index: 10;
						background: #fff;
						padding: 16px;
						display: none;
						.sub-submenu-back{
							display: none;
						}
						.col-items-list {
							display: flex;
							justify-content: flex-start;
							align-items: flex-start;
							flex-wrap: wrap;
							.col-item {
								width: 100%;
								max-width: calc(25% - 12px);
								background: #FAFAFA;
								border-radius: 2px;
								padding-left: 24px;
								margin-bottom: 16px;
								overflow: hidden;
								margin-right: 16px;
								min-height: 96px;
								border: 1px solid transparent;
								&:hover{
									border-color: #000;
								}
								a{
									display: flex;
									justify-content: space-between;
									align-items: center;
									width: 100%;
									.col-item-texts{
										.col-item-new {
											p {
												font-family: DM Sans;
												font-style: normal;
												font-weight: bold;
												font-size: 8px;
												line-height: 16px;
												letter-spacing: 2.5px;
												text-transform: uppercase;
												color: #EBC569;
												margin-bottom: 0;
											}
										}
										.col-item-name {
											max-width: 150px;
											p {
												font-family: DM Sans;
												font-style: normal;
												font-weight: bold;
												font-size: 14px;
												line-height: 24px;
												letter-spacing: 2.5px;
												text-transform: uppercase;
												color: #000000;
												margin-bottom: 0;
												display: inline-block;
												svg{
													display: inline-block;
													margin-left: 16px;
													vertical-align: middle;
												}
											}
										}
									}
									.col-item-image {
										img {
											display: block;
											max-width: 96px;
										}
									}
								}
							}
						}
						.ban-item {
							padding-left: 66px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							.ban-item-texts {
								max-width: 468px;
								.ban-item-heading {
									margin-bottom: 16px;
									h3 {
										font-family: DM Sans;
										font-style: normal;
										font-weight: bold;
										font-size: 24px;
										line-height: 32px;
										letter-spacing: 2.5px;
										text-transform: uppercase;
										color: #000000;
										margin-bottom: 0;
									}
								}
								.ban-item-text {
									margin-bottom: 24px;
									p {
										font-family: DM Sans;
										font-style: normal;
										font-weight: normal;
										font-size: 14px;
										line-height: 24px;
										color: #4B4B4B;
										margin-bottom: 0;
									}
								}
								.ban-item-link {
									a {
										font-family: DM Sans;
										font-style: normal;
										font-weight: bold;
										font-size: 14px;
										line-height: 24px;
										letter-spacing: 2.5px;
										text-transform: uppercase;
										color: #000000;
										display: inline-block;
										padding: 12px 40px;
										border: 1px solid #000000;
										box-sizing: border-box;
										transition: background-color 300ms ease, color 300ms ease;
										&:hover{
											background-color: #000;
											color: #fff;
										}
									}
								}
							}
							.ban-item-image {
								max-width: 50%;
								img {
									display: block;
								}
							}
						}
					}
				}
			}
			&.active{
				display: block;
			}
			&[data-menu="brand"]{
				& > a[href="#prefferences"]{
					display: none;
				}
			}
		}
		.subheader-menu-mobile{
			display: none;
		}
	}
}
@media (min-width: 1239px) {
	.subheader-wrapper .subheader-inner .subheader-menu ul li .sub-submenu .col-items-list .col-item:nth-child(4n+4) {
		margin-right: 0;
	}
	.menu-overlay{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
		z-index: 2;
	}
	header {
		position: relative;
		z-index: 2;
		background: #fff;
	}
}
div#preferencespopup {
	.modal__inner {
		flex-direction: column;
		width: 360px;
		max-width: 100%;
		.modal__heading {
			width: 100%;
			padding: 16px 32px;
			border-bottom: 8px solid #EAEAEA;
			.preferences-heading {
				h2 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #000000;
					margin-bottom: 0;
				}
			}
		}
		.modal__centered-content {
			padding: 32px;
			width: 100%;
			.shop-in-heading {
				margin-bottom: 16px;
				h3 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 16px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #000000;
					margin: 0;
				}
			}
			.shop-in-selection {
				margin-bottom: 8px;
				select {
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					display: flex;
					align-items: center;
					color: #000000;
					width: 100%;
					padding: 16px;
					border: 1px solid #B3B3B3;
					box-sizing: border-box;
					border-radius: 2px;
				}
			}
			.prefferences-info {
				background: #F5F5F5;
				border-radius: 2px;
				padding: 16px;
				margin-bottom: 24px;
				p{
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					/* identical to box height, or 171% */

					display: flex;
					align-items: center;

					color: #000000;
					margin-bottom: 8px;
				}
			}
			.update-prefferences {
				a {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #FFFFFF;
					background: #000000;
					border-radius: 2px;
					display: inline-block;
					width: 100%;
					padding: 12px 0;
					text-align: center;
					transition: background-color 300ms ease, color 300ms ease;
					&:hover{
						color: #000;
						background-color: #DDCFAD;
					}
				}
			}
		}
	}
}

.modal.modal-side {
	right: 0;
	top: 0;
	left: inherit;
	bottom: inherit;
	height: 100vh;
	width: 100%;
	max-width: 400px;
	.modal__inner {
		margin: 0;
		height: 100%;
		flex-direction: column;
		width: 100%;
		.modal__heading{
			width: 100%;
			padding: 32px 0;
			justify-content: center;
			border-bottom: 24px solid #F5F5F5;
			.modal-side-heading {
				h2 {
					margin: 0;
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					text-align: center;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					font-feature-settings: 'ss04' on;
					color: #000000;
				}
			}
		}
		.modal__centered-content{
			width: 100%;
			padding: 32px 24px;
		}
	}
	&.modal-centered{
		.modal__heading{
			padding-top: 144px;
			border-bottom: 0;
			padding-bottom: 52px;
			h2{
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 32px;
				line-height: 40px;
				/* identical to box height, or 125% */

				text-align: center;
				font-feature-settings: 'ss01' on;

				color: #000000;
			}
		}
		.modal__inner {
			.modal__centered-content{
				padding: 0 32px;
				form{
					label {
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 16px;
						color: #000000;
						opacity: 0.54;
						text-transform: capitalize;
						margin-bottom: 4px;
					}
					input{
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 24px;
						color: rgba(0, 0, 0, 0.87);
						border: none;
						border-bottom: 1px solid #CACACA;
						width: 100%;
						margin-bottom: 44px;
						padding: 0;
						&[type="submit"]{
							background: #000000;
							border-radius: 2px;
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 24px;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #FFFFFF;
							text-align: center;
							padding: 12px 0;
							margin-bottom: 24px;
							transition: color 300ms ease, background-color 300ms ease;
							&:hover{
								color: #000;
								background: #DDCFAD;
							}
						}
					}
				}
				.fogget-password-link, .signin-link{
					text-align: center;
					border-bottom: 1px solid #E1E1E1;
					margin-bottom: 24px;
					a{
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 16px;
						text-decoration: underline;
						color: #5472C7;
						margin-bottom: 24px;
						display: inline-block;
					}
				}
				.signin-link{
					border-bottom: 0;
					margin-bottom: 0;
					a{
						margin-bottom: 0;
					}
				}
				.register-link{
					text-align: center;
					padding-bottom: 24px;
					h3{
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 24px;
						letter-spacing: 2.5px;
						text-transform: uppercase;
						font-feature-settings: 'ss04' on;
						color: #000000;
						margin-bottom: 24px;
					}
					a{
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 16px;
						text-decoration-line: underline;
						color: #5472C7;
					}
				}
			}
		}
	}
}
div#helppopup {
	.help-links{
		margin-bottom: 66px;
		ul{
			margin: 0;
			list-style: none;
			li{
				padding: 16px 0;
				border-bottom: 1px solid #EAEAEA;
				a{
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					/* identical to box height, or 171% */


					color: #000000;
				}
			}
		}
	}
	.help-footer {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-left: -15px;
		margin-right: -15px;
		& > div{
			width: 33%;
			text-align: center;
			h3{
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				/* identical to box height, or 171% */


				color: #000000;
				margin-bottom: 0;
			}
			p{
				font-family: DM Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 24px;
				/* identical to box height, or 200% */


				/* black-800 */

				color: #4B4B4B;
				margin-bottom: 0;
			}
			&.help-call{
				width: 29%;
			}
			&.help-chat{
				width: 27%;
			}
			&.help-mail{
				width: 44%;
			}
		}
	}
}

div#CartDrawer{
	padding: 0 32px 32px;
	.drawer__fixed-header {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 0 32px;
		height: auto;
		border-bottom: 1px solid #f0f1f3;
		.drawer__header {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: auto;
			border-bottom: 0;
			.drawer__cart_icon{
				display: none;
			}
			.drawer__title {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				font-feature-settings: 'ss04' on;
				color: #000000;
			}
			button.drawer__close-button.js-drawer-close {
				left: 0;
				padding: 0;
				transform: translateX(-100%);
			}
		}
	}
	.drawer__inner {
		position: absolute;
		top: 61px;
	}
	.drawer__footer {
		left: 0;
		right: 0;
		height: auto!important;
		min-height: auto;
		padding: 0;
		.grid--full.cart-subtotal {
			background: #efefef;
			padding: 22px 25px;
			p.ajaxcart__subtotal,p.ajaxcart__price {
				font-size: 12px;
				font-weight: 600;
				line-height: 1.2;
				letter-spacing: 1.2px;
				color: #272c3b;
				margin-bottom: 0;
			}
		}
		button.cart__checkout {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1.2px;
			text-transform: uppercase;
			width: 100%;
			background-position: 125% 35%;
		}
	}
}
@media (max-width: 1239px) {
	header{
		position: relative;
		padding: 16px;
	}
	.modal--mobile-friendly.modal--is-active{
		background: rgba(0,0,0,0.5);
	}
	.header-wrapper {
		padding: 0;
		&.active{
			padding: 16px 0;
			position: relative;
			z-index: 111;
			-webkit-transform: translate3d(0,0,0);
			margin-left: -16px;
			margin-right: -16px;
			margin-top: -16px;
		}
		.header-inner{
			padding: 0;
			.header-logo {
				position: absolute;
				left: 50%;
				transform: translate(-50%, -50%);
				top: 50%;
			}
			.header-main-menu{
				ul{
					display: none;
				}
				&.active{
					position: absolute;
					width: 100%;
					background: #fff;
					left: 0;
					top: 0;
					z-index: 1;
					.header-main-menu-button{
						position: absolute;
						right: 16px;
						top: 50%;
						transform: translateY(-50%);
					}
					ul{
						display: block;
						padding-left: 0;
						li{
							margin-left: 0;
							a{
								color: #8E8E8E;
								display: inline-block;
								padding: 19px 31px;
								&.active{
									color: #000000;
									position: relative;
									text-decoration: none;
									font-weight: 700;
									&:before{
										bottom: 0;
										height: 4px;
										width: 100%;
										background: #000;
										content: '';
										left: 0;
										display: block;
										position: absolute;
									}
								}
								&[data-sub="brand"]{
									display: none;
								}
							}
						}
					}
				}
				.header-main-menu-button{
					display: block;
					cursor: pointer;
					span {
						display: block;
						width: 18px;
						background: #000;
						height: 1px;
						position: relative;
						&:before, &:after {
							display: block;
							width: 18px;
							height: 1px;
							background: #000;
							position: absolute;
							left: 0;
							content: '';
						}
						&:before{
							top: -5.5px;
						}
						&:after{
							top: 5.5px;
						}
					}
					&.active{
						span{
							background: transparent;
							&:before{
								top: 0;
								transform: rotate(-45deg);
							}
							&:after{
								transform: rotate(45deg);
								top: 0;
							}
						}
					}
				}
			}
			.header-right-menu {
				.right-menu-item-wrap{
					margin-left: 16px;
					.right-menu-item{
						padding: 0;
						margin-left: 16px;
						&:first-child{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	.subheader-wrapper {
		background: #fff;
		position: relative;
		top: -16px;
		width: 100%;
		border-top: 8px solid #EAEAEA;
		display: none;
		z-index: 223;
		-webkit-overflow-scrolling: auto !important;
		-webkit-transform: translate3d(0,0,0);
		&.active{
			display: block;
			overflow-y: scroll;
			height: calc(100vh - 56px);
			padding-bottom: 36px;
			z-index: 222;
			width: calc(100% + 32px);
			margin-left: -16px;
			margin-right: 0;
		}
		.subheader-inner {
			padding: 0 32px;
			.subheader-menu, .subheader-menu-mobile{
				padding: 0;
				.closed-menu-item {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #000000;
					padding: 16px 32px;
					background: #F5F5F5;
					border-bottom: 1px solid #EAEAEA;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.closed-menu {
						display: block;
						svg{
							display: block;
						}
					}
					.opened-menu {
						display: none;
					}
					& ~ ul {
						display: none;
					}
					p{
						margin-bottom: 0;
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: 2.5px;
						text-transform: uppercase;
						color: #000000;
					}
				}
				.opened-menu-item{
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #000000;
					padding: 16px 32px;
					background: #F5F5F5;
					border-bottom: 1px solid #EAEAEA;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.closed-menu{
						display: none;
					}
					.opened-menu{
						display: block;
						svg {
							display: block;
						}
					}
					& ~ ul{
						display: block;
					}
					p{
						margin-bottom: 0;
					}
				}
				.subheader-menu-mobile-links {
					padding-top: 32px;
					display: block;
					.subheader-menu-mobile-links-home {
						margin-bottom: 16px;
						a {
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 24px;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #000000;
							display: inline-block;
							width: 100%;
							padding: 16px 24px;
							background-color: #FAFAFA;
							border-radius: 2px;
						}
					}
					.subheader-menu-mobile-links-offer {
						margin-bottom: 16px;
						a {
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 24px;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #FFFFFF;
							display: inline-block;
							background: #000;
							padding: 24px;
							width: 100%;
						}
					}
				}
				ul {
					flex-direction: column;
					position: initial;
					li{
						width: 100%;
						margin-bottom: 16px;
						&:hover{
							& > a{
								background: #FAFAFA;
								text-decoration: initial;
							}
						}
						& > a{
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 24px;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #000000;
							padding-left: 24px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							background: #FAFAFA;
							border-radius: 2px;
							overflow: hidden;
							padding-top: 0;
							padding-bottom: 0;
							padding-right: 0;
							&:hover{
								background: #FAFAFA;
								text-decoration: initial;
							}
							img{
								display: block;
								max-width: 96px;
							}
						}
						.sub-submenu{
							width: 0vw;
							position: absolute;
							top: 0;
							height: 100vh;
							overflow-y: scroll;
							display: block;
							padding: 0;
							transition: width ease 300ms;
							transform: none;
							z-index: 222;
							left: 0;
							.sub-submenu-back{
								display: block;
								margin-bottom: 16px;
								a{
									display: flex;
									justify-content: flex-start;
									align-items: center;
									padding: 16px;
									background: #FAFAFA;
									border-radius: 2px;
									span{
										font-family: DM Sans;
										font-style: normal;
										font-weight: bold;
										font-size: 14px;
										line-height: 24px;
										letter-spacing: 2.5px;
										text-transform: uppercase;
										color: #000000;
									}
									svg{
										display: block;
										margin-right: 16px;
									}
								}
							}
							.ban-item{
								padding-left: 0;
							}
							.col-items-list {
								height: 100vh;
								overflow-y: scroll;
								padding-bottom: 200px;
								.col-item{
									max-width: calc(33% - 10px);
									&:nth-child(3n+3){
										margin-right: 0;
									}
								}
							}
							.ban-items-list{
								height: 100vh;
								overflow-y: scroll;
								padding-bottom: 200px;
							}
						}
						&:last-child{
							display: none;
						}
					}
				}
				&:last-child{
					margin-left: -32px;
					margin-right: 0px;
					width: calc(100% + 64px);
					display: block;
					ul{
						li{
							margin-bottom: 0;
							a{
								padding: 16px 32px;
							}
						}
					}
				}
				&[data-menu="brand"]{
					& > a[href="#prefferences"]{
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 24px;
						color: #6E6E6E;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						padding: 16px 32px;
						background: #F5F5F5;
						border-bottom: 1px solid #EAEAEA;
						svg{
							display: block;
							margin-left: 8px;
							margin-right: 25px;
						}
						span{
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 16px;
							letter-spacing: 2px;
							text-decoration-line: underline;
							text-transform: uppercase;
							color: #5472C7;
						}
					}
				}
			}
			.subheader-menu-mobile {
				margin-left: -32px;
				margin-right: -32px;
				display: block;
				.subheader-menu-social {
					display: flex;
					justify-content: center;
					align-items: center;
					background: #F5F5F5;
					padding: 16px;
					border-bottom: 8px solid #EAEAEA;
					a{
						display: inline-block;
						margin-right: 32px;
						background: #fff;
						border-radius: 50%;
						padding: 9px;
						svg{
							display: block;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
				.my-accout-menu, .help-menu{
					& > a{
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: 2.5px;
						text-transform: uppercase;
						color: #000000;
						padding: 16px 32px;
						background: #F5F5F5;
						border-bottom: 1px solid #EAEAEA;
					}
				}
				.my-accout-menu{
					a{
						display: flex;
						flex-direction: row-reverse;
						justify-content: space-between;
						align-items: center;
						p{
							margin-bottom: 0;
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 24px;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #000000;
						}
					}
				}
				.help-menu{
					ul{
						list-style: none;
						margin-left: 0;
						margin-bottom: 0;
						li{
							margin-bottom: 0;
							a{
								font-family: DM Sans;
								font-style: normal;
								font-weight: bold;
								font-size: 14px;
								line-height: 24px;
								letter-spacing: 2.5px;
								text-transform: uppercase;
								color: #000000;
								background: #FAFAFA;
								padding: 16px 32px;
							}
						}
					}
				}
			}
		}
	}
}
.ovhide{
	overflow: hidden!important;
}
@media (max-width: 880px) {
	.help-item-wrap.right-menu-item-wrap{
		display: none;
	}
	.account-item-wrap.right-menu-item-wrap{
		display: none;
	}
	.subheader-wrapper .subheader-inner .subheader-menu ul li .sub-submenu .col-items-list .col-item:nth-child(3n+3){
		margin-right: 16px;
	}
	.subheader-wrapper .subheader-inner .subheader-menu ul li .sub-submenu .col-items-list .col-item:nth-child(2n+2){
		margin-right: 0;
	}
	.subheader-wrapper .subheader-inner .subheader-menu ul li .sub-submenu .col-items-list .col-item{
		max-width: calc(50% - 8px);
	}
}
@media (max-width: 768px) {
	.subheader-wrapper {
		padding: 4px 0;
		.subheader-inner {
			.subheader-menu {
				ul {
					li {
						.sub-submenu {
							.ban-item{
								flex-direction: column-reverse;
								.ban-item-image{
									margin-bottom: 32px;
									width: 100%;
									img{
										margin: 0 auto;
									}
								}
								.ban-item-texts{
									max-width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.header-wrapper .header-inner .header-right-menu .right-menu-item-wrap .right-menu-item p{
		display: none;
	}
	.subheader-wrapper .subheader-inner .subheader-menu ul li .sub-submenu .col-items-list .col-item{
		max-width: 100%;
		margin-right: 0!important;
	}
	.header-wrapper.active{
		padding: 27px 0;
	}
	.header-wrapper .header-inner .header-right-menu .right-menu-item-wrap .right-menu-item{
		a svg{
			margin-bottom: 0;
		}
		max-height: 24px;
	}
}
.grid__item .header, .section-header{
	z-index: 0;
}