// Header layout

.header-layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-layout--center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

// Header items

.header-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.header-item--logo {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.header-item--icons {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

/*================ Header layout specific styles ================*/

// Same default logo and icon container size, logo block width overrides

.header-layout--left-center {
	.header-item--logo,
	.header-item--icons {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 200px;
		flex: 0 0 200px;

		@include media-query($medium-up) {
			min-width: 130px; // approx width of 2 icons
		}
	}
}

.header-layout[data-logo-align="center"] {
	.header-item--logo {
		@include media-query($medium-up) {
			margin: 0 $gutter / 1.5;
		}
	}

	.header-item--navigation,
	.header-item--icons {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 130px;
		flex: 1 1 130px; // aprox width of 2 icons
	}
}

.header-layout[data-logo-align="left"] {
	.header-item--logo {
		margin-right: $gutter / 3;
	}
}

.header-item--logo-split {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;

	.header-item:not(.header-item--logo) {
		text-align: center;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 20%;
		flex: 1 1 20%;
	}
}

.header-item--split-left {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

// Icon alignment

.header-item--left {
	.site-nav {
		margin-left: -($siteNavIconPadding);
	}
}

.header-item--icons {
	.site-nav {
		margin-right: -($siteNavIconPadding);
	}
}

.site-header {
	position: relative;
	padding: 10px 0;
	background: $colorNav;

	@include media-query($medium-up) {
		padding: 30px 0;
	}
}

.site-header--stuck {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	transition: none;
	z-index: $z-index-stuck-header;

	// Rearrangement for when top search drawer is open so nav is above overlay
	.js-drawer-open--search & {
		z-index: $z-index-header-search;
	}

	@include media-query($medium-up) {
		padding: 15px 0;
	}
}

.site-header--opening {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.site-header__logo {
	margin: ($gutter / 3) 0;
	display: block;

	@include media-query($medium-up) {

		.text-center & {
			padding-right: 0;
			margin: ($gutter / 3) auto;
		}
	}

	a,
	a:hover {
		text-decoration: none;
	}

	img {
		display: block;

		.header-layout--center & {
			margin: 0 auto;
		}
	}
}

.site-header__logo-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: $colorNavText;

	&:hover {
		color: $colorNavText;
	}

	@include media-query($small) {
		margin: 0 auto;
	}
}

// Sticky header on top of image/slideshow

.header-wrapper--sticky {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: $z-index-sticky-header;
	background: none;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

	.site-header:not(.site-header--stuck) {
		background: none;
	}

	.ie9 & {
		background-color: transparent;
	}

	// Rearrangement for when top search drawer is open so nav is above overlay
	.js-drawer-open--search & {
		z-index: $z-index-header-search;
	}
}

.site-header__search-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	height: 100%;
	z-index: $z-index-header-search;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0, 0, 0.38, 1);

	&.is-active {
		bottom: 0;
		transition: none;
	}
}

.site-header__search {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: $z-index-header-search;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translate3d(0, -110%, 0);
	transform: translate3d(0, -110%, 0);
	background-color: $colorBody;
	color: $colorTextBody;
	transition: all 0.3s cubic-bezier(0, 0, 0.38, 1);

	.page-width {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;

		@include media-query($small) {
			padding: 0;
		}
	}

	.is-active & {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.icon {
		width: 30px;
		height: 30px;
	}
}

.site-header__search-form {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	@include media-query($medium-up) {
		padding: ($gutter / 2) 0;
	}
}

.site-header__search-input {
	border: 0;
	width: 100px; // flexbox overrides, but fixes browser issues
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-size: em(20px);

	@include media-query($medium-up) {
		font-size: em(24px);
	}

	&:focus {
		border: 0;
		outline: 0; // only active element on the page, so this is acceptable
	}
}

// Submit and cancel buttons

.site-header__search-btn {
	padding: 0 ($gutter / 2);
}

/*================ Module | Search Bar ================*/

.search-bar {
	max-width: 100%;
}

.search-bar--page {
	max-width: 300px;
	margin-top: -$gutter / 2;
}

.search-bar--drawer {
	margin-bottom: $gutter / 2;
	padding-bottom: $gutter / 2;
	border-bottom: 1px solid $colorDrawerBorder;

	input {
		border: 0;
	}
}

.search-bar .icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

/*================ Module | Section Headers ================*/

.section-header {
	margin-bottom: $sectionHeaderBottomSmall;

	@include media-query($medium-up) {
		margin-bottom: $sectionHeaderBottom;
	}

	@if ($type_header_text_alignment) {
		text-align: center;
	}
}

.section-header--hero {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	color: #fff;
	margin-bottom: $gutter / 2;

	@include media-query($medium-up) {
		margin-bottom: $gutter;
	}
}

.section-header__rte {
	font-size: em(18px);
}

.section-header__title {
	margin-bottom: 0;
	font-family: 'FL Sans', sans-serif;
	font-size: 18px;
}

.section-header__title--big {
	font-size: em(40px);

	@include media-query($medium-up) {
		font-size: em(80px);
	}
}

.section-header__title--medium {
	font-size: em(32px);

	@include media-query($medium-up) {
		font-size: em(60px);
	}
}

.section-header__link {
	@include baseFontStack;
	font-weight: normal;
	font-size: $type_base_size;
	padding-top: 6px;
	float: right;

	@include media-query($small) {
		display: none;
	}
}

.section-header--404 {
	margin-bottom: 0;
	padding: 80px 0;
}

.section-header select {
	margin-left: $gutter / 2;
}

.section-header .btn {
	float: right;
	margin: 0;
}

.site-nav {
	margin: 0;
}

.site-navigation {
	.text-center & {
		margin: 0 auto;
	}

	.header-layout--left & {
		padding-left: $gutter / 3;
	}
}

.site-nav__icons {
	white-space: nowrap;
	float: left;
}

.site-nav__item {
	position: relative;
	display: inline-block;
	margin: 0;

	li {
		display: block;
	}

	.icon-chevron-down {
		width: $desktopMenuChevronSize;
		height: $desktopMenuChevronSize;
	}
}

.site-nav__link {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding: ($siteNavItemPadding / 2) $siteNavItemPadding;
	white-space: nowrap;
	color: $colorNavText;

	.site-header--heading-style & {
		@include headerFontStack;
	}

	&:hover {
		color: $colorNavText;
	}

	.is-light & {
		color: $colorStickyNavLinks;

		&:hover {
			color: $colorStickyNavLinks;
		}
	}

	.site-nav--has-dropdown > & {
		position: relative;
		z-index: $zindexNavDropdowns + 1;
	}

	.icon-chevron-down {
		margin-left: 5px;
	}

	@include media-query($medium-down) {
		padding: $siteNavItemPadding / 2;

		.header-layout--center & {
			padding-left: 2px;
			padding-right: 2px;
		}
	}
}

// Keep active state on parent dropdown link

.site-nav--has-dropdown {
	z-index: $zindexNavDropdowns + 1;

	// Force on top of other dropdowns when active
	&:hover,
	&.is-focused {
		z-index: $zindexNavDropdowns + 2;
	}
}

.site-nav--has-dropdown:hover > a {
	color: $colorTextBody !important;
	background-color: $colorBody;
	opacity: 1;
	transition: none;

	&:before {
		content: '';
		position: absolute;
		left: 15px;
		right: 45px;
		bottom: 0;
		display: block;
		background-color: $colorBorder;
		height: 1px;
		z-index: $zindexNavDropdowns + 1;
	}
}

.site-nav__link--icon {
	padding-left: $siteNavIconPadding;
	padding-right: $siteNavIconPadding;

	@include media-query($small) {
		padding-left: $siteNavItemPadding / 2;
		padding-right: $siteNavItemPadding / 2;

		& + & {
			margin-left: -3px; // ~amount of inline-block space
		}
	}

	.icon {
		width: $desktopMenuIconSize;
		height: $desktopMenuIconSize;
	}
}

/*================ Dropdowns ================*/

.site-nav__dropdown {
	position: absolute;
	left: 0;
	margin: 0;
	z-index: $zindexNavDropdowns;
	display: block;
	visibility: hidden;
	background-color: $colorBody;
	min-width: 100%;
	padding: ($gutter / 3) 0 5px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
	-webkit-transform: translate3d(0px, -12px, 0px);
	transform: translate3d(0px, -12px, 0px);

	.site-nav--has-dropdown:hover &,
	.is-focused > & {
		display: block;
		visibility: visible;
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		transition: all 300ms cubic-bezier(0.2, 0.06, 0.05, 0.95);
	}

	li {
		margin: 0;
	}

	> li {
		position: relative;

		> a {
			position: relative;
			z-index: $zindexNavDropdowns + 1;
		}
	}

	a {
		background-color: $colorBody;
		padding-right: 30px;
	}
}

/*================ Third level dropdown ================*/

.site-nav__deep-dropdown {
	background-color: $colorBody;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	z-index: $zindexNavDropdowns;
	-webkit-transform: translate3d(-12px, 0px, 0px);
	transform: translate3d(-12px, 0px, 0px);

	// Last menu item is anchored to right if
	//   - center aligned menu
	.header-layout--center .site-nav__item:last-child & {
		left: auto;
		right: 100%;
	}

	.site-nav__deep-dropdown-trigger:hover &,
	.is-focused > & {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		transition: all 300ms cubic-bezier(0.2, 0.06, 0.05, 0.95);
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 10px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.09), transparent);
		pointer-events: none;

		// Reverse box shadow on submenus if
		//   - center aligned menu
		.header-layout--center .site-nav__item:last-child & {
			left: auto;
			right: 0;
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0.09), transparent);
		}
	}
}

.site-nav__dropdown-link--has-children {
	.site-nav__deep-dropdown-trigger:hover &,
	&:hover,
	&:focus {
		background-color: darken($colorBody, 5%);
	}
}


// Rotate to face right

.site-nav__deep-dropdown-trigger .icon-chevron-down {
	position: absolute;
	top: 50%;
	right: 10px;
	width: $desktopMenuChevronSize;
	height: $desktopMenuChevronSize;
	-webkit-transform: rotate(-90deg) translateX(50%);
	transform: rotate(-90deg) translateX(50%);
}

/*================ Mobile navigation ================*/

.mobile-nav {
	// Negative of .drawer left/right padding for full-width link tap area
	margin: (-$gutter / 2) (-$gutter / 2) 0 (-$gutter / 2);

	li {
		margin-bottom: 0;
		list-style: none;
	}
}

.mobile-nav__search {
	padding: $gutter / 2;
}

.mobile-nav__item {
	position: relative;
	display: block;

	// Background color on top level items so there is no
	// element overlap on subnav's CSS toggle animation
	.mobile-nav > & {
		background-color: $colorDrawers;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: $gutter / 2;
		right: $gutter / 2;
		border-bottom: 1px solid $colorDrawerBorder;
	}

	.mobile-nav > &:last-child:after {
		display: none;
	}
}

// Login/logout links can't have a class on them, so style <a> element

.mobile-nav__item a {
	display: block;
	font-size: em(21px);
	@include media-query($medium-up) {
		font-size: em(25px);
	}
}

.mobile-nav__item a,
.mobile-nav__toggle button {
	color: $colorDrawerText;
	padding: $gutter / 2;
	text-decoration: none;

	&:active {
		color: darken($colorDrawerText, 15%);
	}

	&:active {
		background-color: darken($colorDrawers, 5%);
	}
}

.mobile-nav__link {
	@include headerFontStack;
}

.mobile-nav__child-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.mobile-nav__item--secondary {
	a {
		font-size: 15px;
		line-height: 1.2;
		padding-top: 10px;
		padding-bottom: 5px;
	}

	&:after {
		display: none;
	}
}

.mobile-nav__spacer {
	height: 0;
	padding: 5px;
}

.mobile-nav__has-sublist {
	position: relative;
	display: table;
	width: 100%;

	.mobile-nav__link {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
}

.mobile-nav__toggle {
	display: table-cell;
	vertical-align: middle;
	width: 1%;

	.icon {
		width: 16px;
		height: 16px;
	}
}

.mobile-nav__sublist {
	margin: 0;

	.mobile-nav__item:after {
		top: 0;
		bottom: auto;
		border-bottom: none;
	}

	.mobile-nav__item:last-child {
		padding-bottom: $gutter / 2;
	}

	.mobile-nav__link {
		@include baseFontStack;
		font-weight: normal;
		padding: ($gutter / 4) 25px ($gutter / 4) $gutter;
		font-size: $type_base_size;
	}
}

.mobile-nav__grandchildlist {
	margin: 0;

	.mobile-nav__item:last-child {
		padding-bottom: 0;
	}

	.mobile-nav__link {
		padding-left: $gutter * 1.5;
	}
}

.mobile-nav__social {
	margin: 10px 0 20px 0;

	li {
		margin-right: 15px;
		display: inline-block;
	}
}

/*================ Cart bubble for items in cart ================*/

@include media-query($medium-up) {
	.site-nav__link--icon .icon {
		width: 28px;
		height: 28px;
	}
}

.cart-link {
	position: relative;
	display: block;
	line-height: 1;
}

.cart-link__bubble {
	display: none;
}

.cart-link__bubble--visible {
	display: block;
	position: absolute;
	top: 0px;
	right: -4px;
	width: 15px;
	height: 15px;
	background-color: $colorCartDot;
	border: 2px solid $colorBody;
	border-radius: 50%;
}

.grid-search {
	margin-bottom: $gutter;
}

.grid-search__product {
	position: relative;
	text-align: center;
}

// Force heights for consistency

.grid-search__page-link,
.grid-search__product-link {
	height: 280px;
}

.grid-search__page-link {
	display: block;
	background-color: adaptive-color($colorBody, 2%);
	padding: 20px;
	color: $colorTextBody;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover,
	&:focus {
		background-color: adaptive-color($colorBody, 4%);
	}
}

.grid-search__page-content {
	display: block;
	height: 100%;
	overflow: hidden;
}

.grid-search__page-content img {
	display: block;
	margin-bottom: 10px;
}

.grid-search__image {
	display: block;
	padding: 20px;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;

	@include media-query($medium-up) {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}



/*================ Logo Image ================*/

.site-header__logo .logo--has-inverted {
	.is-light & {
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		height: 0;
	}
}

.site-header__logo .logo--inverted {
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	height: 0;

	.is-light & {
		opacity: 1;
		visibility: visible;
		height: auto;
	}
}

/*================ Text Shop Name ================*/

.site-header__logo {
	font-size: em(20px);

	@include media-query($medium-up) {
		text-align: left;
		font-size: em(25px);
	}
}

.site-header__logo a,
.header-logo a {
	color: $colorNavText;

	.is-light & {
		color: $colorStickyNavLinks;

		&:hover {
			color: $colorStickyNavLinks;
		}
	}
}

.site-header {
	@if ($colorNav == $colorBody) {
		border-bottom: 1px solid $colorBorder;
	}

	.is-light & {
		border-bottom: none;
	}
}

/*================ Submenu items ================*/

.site-nav__dropdown-link {
	display: block;
	white-space: nowrap;
	padding: 8px 15px;
	font-size: em(16px);
}

.zopim {
	z-index: 29 !important;
}

.cart-is-empty__header {
	text-align: center;
	padding: 15px 0 30px;
}

.cart-is-empty__header__title {
	font-size: 25px;
	letter-spacing: 0.8px;
}

.cart-is-empty__header__text {
	font-size: 13px;
	line-height: 1.62;
	letter-spacing: 0.4px;
	padding-left: 20px;
	padding-right: 20px;
}

.cart-is-empty__content {
	position: relative;
	padding-top: 30px;
	padding-bottom: 1px;
}

.cart-is-empty__content__button {
	margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
	.cart-is-empty__content__button {
		padding-left: 17px;
		padding-right: 17px;
	}
}

.cart-is-empty__line {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #f1f1f1;
	left: -7px;
	right: -7px;
	width: calc(100% + 14px);
}

.cart-is-empty__line.top {
	top: 0;
}

.cart-is-empty__line.bottom {
	bottom: 0;
}

.cart-is-empty__footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

.cart-is-empty__footer_shipping {
	font-size: 10px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: 1px;
	color: #7fd489;
}

.cart-is-empty__footer_shipping img {
	margin-top: -2px;
}

.cart-is-empty__footer_shipping .text {
	padding-left: 10px;
}

@media only screen and (max-width: 768px) {
	.drawer {
		max-width: 100vw;
	}
}

@media only screen and (max-width: 768px) {
	.drawer--right {
		width: 100vw;
		right: 0;
		-webkit-transform: translateX(100vw);
		-ms-transform: translateX(100vw);
		transform: translateX(100vw);
	}
}

@media only screen and (max-width: 768px) {
	.drawer--right.drawer--is-open {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.drawer__inner {
	padding-top: 0;
}

@media only screen and (max-width: 768px) {
	.drawer__inner {
		top: 58px;
	}
}

@media only screen and (min-width: 590px) {
	.drawer__inner {
		top: 80px;
	}
}

.drawer__cart .drawer__inner {
	padding-top: 0;
}

@media only screen and (max-width: 768px) {
	.drawer__cart .drawer__inner {
		top: 58px;
	}
}

@media only screen and (min-width: 590px) {
	.drawer__cart .drawer__inner {
		top: 80px;
	}
}

.drawer__cart .drawer__inner--has-fixed-footer {
	padding-left: 18px;
	padding-right: 18px;
}

.drawer__fixed-header {
	left: 0;
	right: 0;
	border-bottom: 1px solid #f1f1f1;
}

@media only screen and (max-width: 768px) {
	.drawer__fixed-header {
		height: 58px;
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media only screen and (min-width: 590px) {
	.drawer__fixed-header {
		height: 80px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.drawer__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.drawer__header {
		height: 58px;
	}
}

@media only screen and (min-width: 590px) {
	.drawer__header {
		height: 80px;
	}
}

.drawer__cart_icon {
	display: table-cell;
	vertical-align: middle;
	width: 16px;
}

.drawer__cart_icon img {
	display: block;
	width: 16px;
	height: auto;
}

@media only screen and (max-width: 768px) {
	.drawer__cart_icon img {
		margin-top: -4px;
	}
}

.drawer__title {
	width: calc(100% - 36px);
	font-size: 12px;
	font-weight: 500;
	line-height: 2.83;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding-left: 10px;
	display: block;
}

.drawer__close {
	width: 20px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.drawer__close-button {
	right: 15px;
}

.drawer__footer {
	padding: 0;
}

.drawer__footer .cart-subtotal {
	background: #efefef;
	padding: 22px 25px;
}

.drawer__footer .ajaxcart__subtotal,
.drawer__footer .ajaxcart__price {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 1.2px;
	color: #272c3b;
	margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
	.drawer__footer .ajaxcart__subtotal {
		padding-left: 22px;
	}
}

@media only screen and (max-width: 768px) {
	.drawer__footer .ajaxcart__price {
		padding-right: 22px;
	}
}

.drawer__footer .btn--secondary {
	margin-top: 0;
	background-image: none !important;
	width: 100%;
	display: block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.drawer__footer .btn--secondary:hover {
	padding-right: 20px;
	padding-left: 20px;
}

.drawer__footer--fixed {
	min-height: 115px;
}

.cart-free-shipping {
	padding: 10px 10px;
	position: relative;
}

.cart-free-shipping__line {
	position: absolute;
	width: calc(100% + 36px);
	height: 1px;
	background: #f1f1f1;
	bottom: 0;
	left: -18px;
}

@media only screen and (max-width: 768px) {
	.site-header {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.header-wrapper li {
	list-style-type: none;
	line-height: 1;
}

.header-wrapper button,
.header-wrapper a {
	padding: 0;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (min-width: 768px) {
	.header-wrapper button,
	.header-wrapper a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

}

.header-wrapper button:focus, .header-wrapper button:hover,
.header-wrapper a:focus,
.header-wrapper a:hover {
	text-decoration: none;
}

.header-wrapper input, .header-wrapper textarea, .header-wrapper select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
}

.header-wrapper input {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.header-wrapper input:-webkit-autofill {
	color: #000000 !important;
	-webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.header-wrapper input:-webkit-autofill:hover {
	-webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.header-wrapper input::-webkit-contacts-auto-fill-button {
	visibility: hidden;
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 0;
}

.header-wrapper ::-webkit-credentials-auto-fill-button {
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
}

.header-wrapper select::-ms-expand {
	display: none;
}

.header-wrapper select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000000;
}

.header-wrapper option:not(:checked) {
	color: #000000;
}
.page__container {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-positive: 1;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

html.with-modal {
	overflow: hidden;
}

.main-header--mobile {
	position: relative;
	height: 52px;
	background-color: #ffffff;
}

.main-header--mobile .page__container {
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	height: 100%;
	padding: 0 30px;
}

.mobile-menu-open .main-header--mobile {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	z-index: 30;
}

.main-header__menu-toggle {
	padding: 0;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
	position: relative;
	width: 20px;
	height: 14px;
	background-color: transparent;
}

.main-header__menu-toggle span {
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 1px;
	font-size: 0;
	background-color: #000000;
	-webkit-transition: background-color ease 0.2s;
	-o-transition: background-color ease 0.2s;
	transition: background-color ease 0.2s;
}

.main-header__menu-toggle span::before, .main-header__menu-toggle span::after {
	position: absolute;
	content: '';
	left: 0;
	width: 20px;
	height: 1px;
	background-color: #000000;
	-webkit-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-webkit-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}

.main-header__menu-toggle span::before {
	top: -7px;
	-webkit-transition-property: top, background-color, -webkit-transform;
	transition-property: top, background-color, -webkit-transform;
	-o-transition-property: top, transform, background-color;
	transition-property: top, transform, background-color;
	transition-property: top, transform, background-color, -webkit-transform;
}

.main-header__menu-toggle span::after {
	top: auto;
	bottom: -7px;
	-webkit-transition-property: bottom, background-color, -webkit-transform;
	transition-property: bottom, background-color, -webkit-transform;
	-o-transition-property: bottom, transform, background-color;
	transition-property: bottom, transform, background-color;
	transition-property: bottom, transform, background-color, -webkit-transform;
}

.main-header__menu-toggle--active span {
	background-color: transparent;
}

.main-header__menu-toggle--active span::before, .main-header__menu-toggle--active span::after {
	background-color: #000000;
	-webkit-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
}

.main-header__menu-toggle--active span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.main-header__menu-toggle--active span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.main-header__logo-link {
	height: 13px;
}

@media (max-width: 767px) {
	.main-header__logo-link {
		height: auto;
		line-height: 1;
		padding-top: 5px !important;
		display: block;
	}
}

.main-header__logo {
	width: 166px;
	height: auto;
}

.main-header__cart {
	display: block;
	width: 16px;
	height: 20px;
	font-size: 0;
}

.main-header__cart .cart-link__bubble--visible {
	right: 3px;
	width: 10px;
	height: 10px;
	top: 8px;
}

.main-header__nav-mobile {
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	height: calc(100vh - 52px);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	background-color: #ffffff;
	z-index: 10;
	padding-bottom: 26px;
	-webkit-transform: translateX(-100vw);
	-ms-transform: translateX(-100vw);
	transform: translateX(-100vw);
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-header__nav-mobile .main-header__item {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	position: relative;
	font-family: DM Sans;
	border-bottom: 1px solid #f1f1f1;
}

.main-header__nav-mobile .main-header__item.main-header__item--search {
	padding: 35px 30px 0 30px;
	border-bottom: none;
}

.main-header__nav-mobile .main-header__item:nth-child(2) .main-header__btn-accordeon {
	height: 70px;
}

.main-header__nav-mobile .main-header__item:last-of-type {
	padding: 25px 0 26px;
}

@media only screen and (max-width: 767px) {
	.main-header__nav-mobile .main-header__item:last-of-type {
		border-bottom: none;
		padding-bottom: 70px;
	}
}

.main-header__nav-mobile .main-header__item--watches .main-header__accordeon-content {
	padding-bottom: 40px;
}

.main-header__nav-mobile .main-header__item--about .main-header__accordeon-content {
	padding-bottom: 36px;
}

.main-header__nav-mobile .main-header__item--account .main-header__accordeon-content {
	padding-top: 8px;
	padding-bottom: 40px;
}

.main-header__nav-mobile .main-header__item--sign-up .main-header__accordeon-content {
	padding-top: 32px;
	padding-bottom: 43px;
}

.main-header__nav-mobile .main-header__item--help .main-header__accordeon-content {
	padding-top: 15px;
	padding-bottom: 28px;
}

.main-header__nav-mobile .main-header__item--info {
	font-size: 13px;
	line-height: 22px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333333;
}

.main-header__nav-mobile .main-header__item--active .main-header__btn-accordeon {
	font-weight: 700;
}

.main-header__nav-mobile .main-header__item--active .main-header__btn-accordeon::after {
	top: 50%;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.main-header__nav-mobile .main-header__logo {
	width: 136px;
	margin-bottom: 24px;
}

.main-header__nav-mobile--show {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.main-header__nav-mobile--hide {
	-webkit-transform: translateX(-100vw);
	-ms-transform: translateX(-100vw);
	transform: translateX(-100vw);
}

.main-header__block-title {
	width: 100%;
	margin-bottom: 29px;
	font-family: 'Rox DemiBold', Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 0.77px;
	text-align: center;
	color: #262626;
}

.main-header__block-title--no-mb {
	margin-bottom: 10px;
}

.main-header__text {
	margin-bottom: 28px;
	font-family: DM Sans;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 1px;
	text-align: center;
	color: #000000;
}

.main-header__list {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	margin-left: 0;
}

.main-header__list li {
	width: 100%;
	margin-bottom: 21px;
}

.main-header__list li:last-of-type {
	margin-bottom: 0;
}

.main-header__link {
	display: block;
	font-family: DM Sans;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.46px;
	text-align: center;
	color: #000000;
}

@media (min-width: 768px) {
	.main-header--mobile {
		display: none;
	}
}

.main-header--desktop, .main-header__menu-lvl-2 {
	display: none;
}

@media (min-width: 768px) {
	.main-header--desktop {
		position: relative;
		display: block;
		height: 80px;
		background-color: #ffffff;
		z-index: 12;
	}
	.main-header--desktop .page__container {
		position: relative;
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-pack: justify;
		-webkit-box-pack: justify;
		justify-content: space-between;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}
	.main-header__logo-link {
		height: 17px;
	}
	.main-header__logo {
		width: 224px;
	}
	.main-header__nav-desktop {
		position: relative;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		width: 100%;
		height: 80px;
		background-color: #ffffff;
		z-index: 3;
		max-width: 1220px;
	}
	.main-header__nav-desktop .main-header__nav-list {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		width: 100%;
		height: 100%;
		margin-left: 0;
	}
	.main-header__nav-desktop .main-header__item {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin-right: 15px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.main-header__nav-desktop .main-header__item--logo {
		margin: 0 auto;
	}
	.main-header__nav-desktop .main-header__item:nth-child(1), .main-header__nav-desktop .main-header__item:nth-child(2), .main-header__nav-desktop .main-header__item:nth-child(3) {
		padding-right: 3px;
	}
	.main-header__nav-desktop .main-header__item .hover-list {
		position: absolute;
		background-color: #fff;
		top: 60px;
		height: 1px;
		overflow: hidden;
		z-index: -1;
		-webkit-box-shadow: 0px 0 16px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 0 16px rgba(0, 0, 0, 0.05);
		margin-left: -35px;
		-webkit-transition: all ease 0.2s;
		-o-transition: all ease 0.2s;
		transition: all ease 0.2s;
		opacity: 0;
	}
	.main-header__nav-desktop .main-header__item .hover-list .hover-item:not(:last-child) {
		border-bottom: 1px solid #F1F1F1;
	}
	.main-header__nav-desktop .main-header__item .hover-list .hover-item a {
		-webkit-transition: all ease 0.2s;
		-o-transition: all ease 0.2s;
		transition: all ease 0.2s;
		padding: 25px 35px;
		display: block;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #262626;
	}
	.main-header__nav-desktop .main-header__item.hover .hover-list {
		top: 80px;
		opacity: 1;
		height: auto;
		z-index: 1;
		overflow: visible;
	}
}

@media (min-width: 768px) and (min-width: 768px) and (max-width: 875px) {
	.main-header__nav-desktop .main-header__item--logo > a .main-header__logo {
		width: 166px !important;
	}
}

@media (min-width: 768px) and (min-width: 1200px) {
	.main-header__nav-desktop .main-header__item--logo > a {
		height: 100%;
		margin-left: auto;
	}
}

@media (min-width: 768px) {
	.main-header__nav-desktop .main-header__item--about {
		position: relative;
		margin-right: 0;
	}
	.main-header__nav-desktop .main-header__item:last-of-type {
		margin-right: 0;
	}
	.main-header__item-btn, .main-header__submenu-btn {
		height: auto;
		padding: 0;
		border-radius: 0;
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
		-webkit-transition: all ease 0.2s;
		-o-transition: all ease 0.2s;
		transition: all ease 0.2s;
		position: relative;
		height: 100%;
		padding: 0 5px;
		font-family: DM Sans;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #262626;
		border: none;
		background-color: transparent;
		z-index: 12;
	}
	.main-header__item-btn:hover, .main-header__item-btn:active, .main-header__item-btn:focus {
		background-color: transparent;
	}
	.main-header__submenu-btn:hover, .main-header__submenu-btn:active, .main-header__submenu-btn:focus {
		background-color: transparent;
	}
	.main-header__item-btn::after,
	.main-header__submenu-btn::after {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		height: 3px;
		background-color: transparent;
		-webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		-o-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	.main-header__item-btn--women, .main-header__item-btn--men, .main-header__submenu-btn--women, .main-header__submenu-btn--men {
		padding: 0;
	}
	.main-header__item-btn--locale, .main-header__submenu-btn--locale {
		position: relative;
		padding-left: 40px;
	}
	.main-header__item-btn--locale img, .main-header__submenu-btn--locale img {
		position: absolute;
		top: 50%;
		left: 0;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.main-header__item-btn.active, .main-header__submenu-btn.active {
		font-weight: 700;
	}
	.main-header__item-btn.active::after, .main-header__submenu-btn.active::after,
	.hover .main-header__item-btn::after, .hover .main-header__submenu-btn::after {
		background-color: #272C3B;
	}
	.main-header__menu-lvl-2 {
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		display: none;
		min-height: 445px;
		background-color: #ffffff;
		-webkit-box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.05);
		box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.05);
		z-index: 10;
	}
	.main-header__menu-lvl-2.active {
		display: block;
	}
	.main-header__menu-lvl-2.fixed {
		position: fixed;
	}
	#womenMenu, #menMenu, #search {
		display: none;
	}
	.main-header__submenu {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-pack: space-evenly;
		-webkit-box-pack: space-evenly;
		justify-content: space-evenly;
		height: 54px;
		margin: 0;
		background-color: #F7F7F7;
	}
	.main-header__submenu .main-header__item {
		height: 100%;
		margin-right: 0;
	}
}

@media (min-width: 1200px) {
	.main-header__nav-desktop .main-header__item {
		margin-right: 25px;
	}
	.main-header__nav-desktop .main-header__item--women, .main-header__nav-desktop .main-header__item--men, .main-header__nav-desktop .main-header__item--about {
		margin-right: 0;
	}
	.main-header__nav-desktop .main-header__item--women::after, .main-header__nav-desktop .main-header__item--men::after, .main-header__nav-desktop .main-header__item--about::after {
		content: none;
	}
	.main-header__nav-desktop .main-header__item--logo {
		margin: 0 auto;
	}
	.main-header__item-btn {
		padding: 0 9px;
		font-size: 12px;
	}
	.main-header__item-btn--locale {
		padding-left: 49px;
	}
	.main-header__item-btn--locale img {
		left: 9px;
	}
	.main-header__submenu {
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
	}
	.main-header__submenu .main-header__item {
		margin-right: 53px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.main-header__submenu .main-header__item:last-of-type {
		margin-right: 0;
	}
}

.main-header__form,
.customer_login,
.main-header__form .contact-form {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
}

.main-header__form--account,
.customer_login {
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.main-header__form--account::after,
.customer_login::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: calc(50% - 113px);
	width: 226px;
	height: 1px;
	background-color: #F2F2F2;
}

.main-header__form--account .main-header__form-btn-submit,
.customer_login .main-header__form-btn-submit {
	margin-bottom: 22px;
	display: block !important;
}

.main-header__form-label {
	margin-bottom: 15px;
}

.main-header__form-label ::-webkit-input-placeholder, .main-header__form-label :-moz-placeholder, .main-header__form-label ::-moz-placeholder, .main-header__form-label :-ms-input-placeholder {
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #818287;
	opacity: 1;
}

.main-header__form-label:last-of-type {
	margin-bottom: 35px;
}

.main-header__form-label--select {
	position: relative;
}

.main-header__form-label--select::after {
	position: absolute;
	content: '';
	top: calc(50% - 3px);
	right: 4px;
	width: 5px;
	height: 5px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.main-header__form-field,
.main-header__form-select {
	width: 226px;
	height: 38px;
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #262626;
	border: none;
	border-radius: 0;
	padding-left: 0;
	border-bottom: 1px solid #D8D8D8;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	background-color: transparent;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
}

@media only screen and (max-width: 767px) {
	.main-header__form-field,
	.main-header__form-select {
		font-size: 16px;
	}
}

.main-header__form-btn-submit {
	padding: 0;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
	width: 226px;
	height: 38px;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #272C3B;
}

.main-header__form-link {
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 0.8px;
	text-align: center;
	color: #c6af76;
}

.main-header__search {
	position: relative;
	width: 100%;
}

.main-header__search ::-webkit-input-placeholder, .main-header__search :-moz-placeholder, .main-header__search ::-moz-placeholder, .main-header__search :-ms-input-placeholder {
	font-family: DM Sans;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(38, 38, 38, 0.34);
	opacity: 1;
}

.main-header__search svg {
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 110px);
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
}

.main-header__search-field {
	width: 100%;
	height: 2.7em;
	padding: 1em 36px;
	font-family: DM Sans;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000;
	border-radius: 0;
	border: 1px solid #e0e0e0;
	text-align: left;
}

@media (max-width: 767px) {
	.main-header__search-field {
		text-align: center;
	}
}

.main-header__search-field:valid + svg, .main-header__search-field:focus + svg {
	left: 12px;
}

@media (min-width: 768px) {
	#search {
		position: relative;
		padding: 157px 114px 0 74px;
	}
	.main-header__search-btn {
		padding: 0;
		text-align: center;
		border: none;
		outline: none;
		cursor: pointer;
		-webkit-transition: all ease 0.2s;
		-o-transition: all ease 0.2s;
		transition: all ease 0.2s;
		position: absolute;
		right: 0;
		top: 10px;
		z-index: 20;
		width: 17px;
		height: 17px;
		font-size: 0;
		background-color: transparent;
	}
	.main-header__search-btn::before, .main-header__search-btn::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 20px;
		height: 1px;
		background-color: #000000;
	}
	.main-header__search-btn::before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.main-header__search-btn::after {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.main-header__search {
		margin: auto 0;
	}
	.main-header__search ::-webkit-input-placeholder, .main-header__search :-moz-placeholder, .main-header__search ::-moz-placeholder, .main-header__search :-ms-input-placeholder {
		font-family: 'Rox DemiBold', Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
		font-size: 48px;
		font-weight: 600;
		letter-spacing: 0.77px;
		text-transform: none;
		text-align: left;
		color: #D8D8D8;
		opacity: 1;
	}
	.main-header__search-title {
		margin-bottom: 2px;
		font-family: DM Sans;
		font-size: 14px;
		line-height: 21px;
		font-weight: 500;
		letter-spacing: 0.46px;
		text-transform: uppercase;
		color: #272c3b;
	}
	.main-header__search-field {
		height: 78px;
		padding: 0;
		font-family: 'Rox DemiBold', Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
		font-size: 48px;
		letter-spacing: 0.77px;
		border: none;
		text-transform: none;
		border-bottom: 1px solid #DDDDDD;
		-webkit-transition: all ease 0.2s;
		-o-transition: all ease 0.2s;
		transition: all ease 0.2s;
		border-left: 0 !important;
		border-right: 0 !important;
		border-top: 0 !important;
	}
}

body .ui-autocomplete {
	border: 0 !important;
	-webkit-box-shadow: 0 19px 34px 0 rgba(231, 231, 231, 0.7);
	box-shadow: 0 19px 34px 0 rgba(231, 231, 231, 0.7);
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

body .ui-autocomplete .isp_section_header {
	display: none;
}

body .ui-autocomplete .ui-menu-item-x {
	display: none;
}

body .ui-autocomplete .ui-menu-item {
	text-transform: none;
}

body .ui-autocomplete .ui-menu-item > a {
	display: block;
	padding: 5px 0 !important;
}

body .ui-autocomplete .ui-menu-item .as_magento_suggest {
	padding-left: 10px !important;
	padding-right: 20px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

body .ui-autocomplete .ui-menu-item .as_magento_product_name {
	color: #262626;
	text-transform: none;
	font-family: 'Rox Bold';
	padding-bottom: 3px;
}

@media (max-width: 767px) {
	body .ui-autocomplete .ui-menu-item .as_magento_product_name {
		font-size: 15px;
	}
}

body .ui-autocomplete .ui-menu-item .as_magento_product_desc {
	font-family: DM Sans;
	text-transform: none;
	font-size: 14px;
	line-height: 1.2;
	max-width: 95%;
	letter-spacing: 0;
	color: #000;
}

@media (max-width: 767px) {
	body .ui-autocomplete .ui-menu-item .as_magento_product_desc {
		font-size: 12px;
	}
}

body .ui-autocomplete .ui-menu-item .as_magento_price {
	display: none;
}

.main-header__search-field::-webkit-input-placeholder {
	opacity: 0.15 !important;
}

.main-header__search-field:-moz-placeholder {
	opacity: 0.15 !important;
}

.main-header__search-field::-moz-placeholder {
	opacity: 0.15 !important;
}

.main-header__search-field:-ms-input-placeholder {
	opacity: 0.15 !important;
}

.main-header__item--active .main-header__btn-accordeon::after {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.main-header__btn-accordeon {
	padding: 0;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
	position: relative;
	width: 100%;
	height: 75px;
	padding: 0 33px;
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.86px;
	text-transform: uppercase;
	color: #262626;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-header__btn-accordeon::after {
	position: absolute;
	content: '';
	top: calc(50% - 4px);
	right: 33px;
	width: 7px;
	height: 7px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-header__btn-accordeon:not(.arrow-down):after {
	display: none !important;
}

.main-header__accordeon-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.main-header__accordeon-content--row {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
}

.main-header__models-list {
	width: 100%;
}

.main-header__models-list:not(:last-child) {
	margin-bottom: 1px;
}

.main-header__models-list .main-header__model-title {
	padding-left: 20px;
}

.main-header__models-link {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	height: 125px;
	padding: 15px 98px 18px 26px;
	background-image: -webkit-linear-gradient(#ffffff 0, #ffffff 15px, #F8F8F8 15px, #F8F8F8 107px, #ffffff 107px);
	background-image: -o-linear-gradient(#ffffff 0, #ffffff 15px, #F8F8F8 15px, #F8F8F8 107px, #ffffff 107px);
	background-image: linear-gradient(#ffffff 0, #ffffff 15px, #F8F8F8 15px, #F8F8F8 107px, #ffffff 107px);
	overflow-x: hidden;
}

.main-header__model-title {
	position: relative;
	font-family: DM Sans;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: #262626;
	z-index: 2;
}

.main-header__model {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.main-header__shop-list-wrap {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.main-header__shop-list-wrap:not(:last-child) {
	margin-bottom: 30px;
	padding-bottom: 18px;
}

.main-header__shop-list-wrap .main-header__model-title {
	width: 100%;
	margin-bottom: 25px;
	letter-spacing: 1px;
}

@media (max-width: 767px) {
	.main-header__shop-list.main-collection {
		width: 100%;
		text-align: center;
	}
}

.main-header__shop-list.main-collection:first-of-type {
	margin-right: 16px;
}

@media (max-width: 767px) {
	.main-header__shop-list.main-collection:first-of-type {
		margin-right: 0;
	}
}

@media (max-width: 767px) {
	.main-header__shop-list.main-collection:not(:last-child) {
		margin-bottom: 15px;
	}
}

.main-header__shop-list li {
	margin-bottom: 14px;
}

.main-header__shop-list li:last-of-type {
	margin-bottom: 0;
}

.main-header__shop-link {
	font-family: DM Sans;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.46px;
	color: #000000;
	text-transform: capitalize;
}

.main-header__sort-list-wrap {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

@media (max-width: 767px) {
	.main-header__sort-list-wrap {
		width: calc(50% - 8px);
	}
}

.main-header__sort-list-wrap .main-header__model-title {
	display: block;
	width: 100%;
	margin-bottom: 25px;
	letter-spacing: 1px;
}

.main-header__sort-list-wrap--first {
	width: calc(50% - 8px);
	margin-right: 16px;
}

.main-header__sort-list li {
	margin-bottom: 14px;
}

.main-header__sort-list li:last-of-type {
	margin-bottom: 0;
}

.main-header__help-list {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	font-family: DM Sans;
	color: #000000;
	width: 100%;
}

@media (min-width: 768px) {
	.main-header__help-list {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 767px) {
	.main-header__help-list {
		max-width: 240px;
		padding-top: 20px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.main-header__help-list li {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100px;
	padding-top: 19px;
}

.main-header__help-list li > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
	text-decoration: none !important;
}

.main-header__help-list li:not(:last-child) {
	margin-right: 53px;
}

.main-header__help-list li svg {
	margin-bottom: 10px;
}

.main-header__help-list li.help--email svg {
	width: 17px;
	margin-top: 2px;
	margin-bottom: 8px;
	height: auto;
}

.main-header__help-item-title {
	margin-bottom: 7px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
}

.main-header__help-text {
	font-size: 10px;
	line-height: 12px;
	font-weight: 500;
	letter-spacing: 0.83px;
	text-align: center;
	color: #000000;
}

.main-header__info-title {
	margin-bottom: 1px;
	font-weight: 700;
}

.main-header__info-phone {
	margin-bottom: 7px;
	color: #333333;
}

.main-header__info-hours {
	margin-bottom: 8px;
	text-align: center;
}

.main-header__info-email {
	text-decoration: underline !important;
	color: #333333;
}

.main-header__tab {
	min-height: 445px;
	padding: 44px 0 30px;
}

.main-header__tab .page__container {
	height: 100%;
	margin: 0 auto;
}

.main-header__tab-content {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0;
}

.main-header__tab-list-wrap {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: start;
	-webkit-box-align: start;
	align-items: flex-start;
	width: 20%;
	font-family: DM Sans;
	color: #000000;
}

.main-header__tab-list-wrap.featured a:not(.main-header__tab-featured-link):hover {
	text-decoration: none !important;
}

.main-header__tab-list-wrap__double--col {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.main-header__tab-list-title {
	margin-bottom: 21px;
	font-size: 12px;
	line-height: 15px;
	font-weight: 600;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #262626;
	opacity: 0.5;
}

.main-header__tab-list {
	margin-bottom: 40px;
	margin-left: 0;
	padding-right: 15px;
}

.main-header__tab-list li {
	margin-bottom: 15px;
}

.main-header__tab-list li:last-of-type {
	margin-bottom: 0;
}

.main-header__tab-list-link {
	font-size: 12px;
	line-height: 10px;
	letter-spacing: 0.49px;
	color: #000000;
}

.main-header__tab-featured-img {
	width: 100%;
	height: auto;
	margin-bottom: 21px;
}

.main-header__tab-featured-title {
	margin: 0 0 12px;
	font-family: 'Rox DemiBold', Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: 0.77px;
	text-decoration: none;
}

.main-header__tab-featured-descr {
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
}

.main-header__tab-featured-link {
	font-size: 13px;
	line-height: 24px;
	text-decoration: underline;
	color: #000000;
}

.header-wrapper .main-header__tab-featured-link {
	text-decoration: underline;
}

@media (min-width: 1200px) {
	.main-header__tab-list-wrap {
		max-width: 317px;
	}
	.main-header__tab-list-title {
		letter-spacing: 1px;
	}
	.main-header__tab-list-title br {
		display: none;
	}
	.main-header__tab-list li {
		margin-bottom: 17px;
	}
	.main-header__tab-list-link {
		font-size: 15px;
		line-height: 17px;
	}
	.main-header__tab-featured-title {
		font-size: 18px;
		line-height: 22px;
	}
}

@media (min-width: 768px) {
	.main-header__popup {
		position: absolute;
		top: 80px;
		right: 0;
		display: none;
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		background-color: #ffffff;
		-webkit-box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.05);
		box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.05);
		z-index: 1;
	}
	.main-header__popup--about {
		right: auto;
		left: 0;
		-ms-flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-ms-flex-align: start;
		-webkit-box-align: start;
		align-items: flex-start;
		-ms-flex-pack: justify;
		-webkit-box-pack: justify;
		justify-content: space-between;
		width: 693px;
	}
	.main-header__popup--about .main-header__popup-content {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-grow: 1;
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		padding: 55px 46px 0;
	}
	.main-header__popup--about .main-header__block-title, .main-header__popup--about .main-header__link {
		text-align: left;
	}
	.main-header__popup--about .main-header__img-about {
		display: block;
		width: 373px;
		min-width: 373px;
	}
	.main-header__popup--help {
		width: 562px;
		padding: 37px 23px 33px;
	}
	.main-header__popup--help .main-header__list {
		position: relative;
		width: 100%;
		padding-bottom: 37px;
	}
	.main-header__popup--help .main-header__list::after {
		position: absolute;
		content: '';
		bottom: 0;
		right: 0;
		left: 0;
		height: 1px;
		background-color: #F1F1F1;
	}
	.main-header__popup--help .main-header__help-list {
		margin-top: 0;
	}
	.main-header__popup--help .main-header__help-list li:not(:last-child) {
		margin-right: 71px;
	}
	.main-header__popup--auth {
		width: 401px;
		padding: 45px 0 35px;
	}
	.main-header__popup--auth .main-header__block-title {
		margin-bottom: 35px;
	}
	.main-header__popup--auth .main-header__block-title--no-mb {
		margin-bottom: 10px;
	}
	.main-header__popup--auth .main-header__form-label:last-of-type {
		margin-bottom: 22px;
	}
	.main-header__popup.active {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
	}
}

#search .page__container {
	position: relative;
	margin: 0 auto;
}


.main-header {
	-webkit-box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.05);
}

.main-header ul {
	position: sticky;
	width: 100%;
	margin-left: 0;
}

.main-header.site-header--stuck {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	z-index: 20;
	padding: 0;
}
a.main-header__btn-link {
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all ease 0.2s;
	position: relative;
	width: 100%;
	height: 75px;
	padding: 0 33px;
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.86px;
	text-transform: uppercase;
	color: #262626;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-header.site-header--opening {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
div#preferencespopup {
	.modal__inner {
		flex-direction: column;
		width: 360px;
		max-width: 100%;
		.modal__heading {
			width: 100%;
			padding: 16px 32px;
			border-bottom: 8px solid #EAEAEA;
			.preferences-heading {
				h2 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #000000;
					margin-bottom: 0;
				}
			}
		}
		.modal__centered-content {
			padding: 32px;
			width: 100%;
			.shop-in-heading {
				margin-bottom: 16px;
				h3 {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 16px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #000000;
					margin: 0;
				}
			}
			.shop-in-selection {
				margin-bottom: 8px;
				select {
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					display: flex;
					align-items: center;
					color: #000000;
					width: 100%;
					padding: 16px;
					border: 1px solid #B3B3B3;
					box-sizing: border-box;
					border-radius: 2px;
				}
			}
			.prefferences-info {
				background: #F5F5F5;
				border-radius: 2px;
				padding: 16px;
				margin-bottom: 24px;
				p{
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					/* identical to box height, or 171% */

					display: flex;
					align-items: center;

					color: #000000;
					margin-bottom: 8px;
				}
			}
			.update-prefferences {
				a {
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #FFFFFF;
					background: #000000;
					border-radius: 2px;
					display: inline-block;
					width: 100%;
					padding: 12px 0;
					text-align: center;
					transition: background-color 300ms ease, color 300ms ease;
					&:hover{
						color: #000;
						background-color: #DDCFAD;
					}
				}
			}
		}
	}
}

.modal.modal-side {
	right: 0;
	top: 0;
	left: inherit;
	bottom: inherit;
	height: 100vh;
	width: 100%;
	max-width: 400px;
	.modal__inner {
		margin: 0;
		height: 100%;
		flex-direction: column;
		width: 100%;
		.modal__heading{
			width: 100%;
			padding: 32px 0;
			justify-content: center;
			border-bottom: 24px solid #F5F5F5;
			.modal-side-heading {
				h2 {
					margin: 0;
					font-family: DM Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					text-align: center;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					font-feature-settings: 'ss04' on;
					color: #000000;
				}
			}
		}
		.modal__centered-content{
			width: 100%;
			padding: 32px 24px;
		}
	}
	&.modal-centered{
		.modal__heading{
			padding-top: 144px;
			border-bottom: 0;
			padding-bottom: 52px;
			h2{
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 32px;
				line-height: 40px;
				/* identical to box height, or 125% */

				text-align: center;
				font-feature-settings: 'ss01' on;

				color: #000000;
			}
		}
		.modal__inner {
			.modal__centered-content{
				padding: 0 32px;
				form{
					label {
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 16px;
						color: #000000;
						opacity: 0.54;
						text-transform: capitalize;
						margin-bottom: 4px;
					}
					input{
						font-family: DM Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 24px;
						color: rgba(0, 0, 0, 0.87);
						border: none;
						border-bottom: 1px solid #CACACA;
						width: 100%;
						margin-bottom: 44px;
						padding: 0;
						&[type="submit"]{
							background: #000000;
							border-radius: 2px;
							font-family: DM Sans;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 24px;
							letter-spacing: 2.5px;
							text-transform: uppercase;
							color: #FFFFFF;
							text-align: center;
							padding: 12px 0;
							margin-bottom: 24px;
							transition: color 300ms ease, background-color 300ms ease;
							&:hover{
								color: #000;
								background: #DDCFAD;
							}
						}
					}
				}
				.fogget-password-link, .signin-link{
					text-align: center;
					border-bottom: 1px solid #E1E1E1;
					margin-bottom: 24px;
					a{
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 16px;
						text-decoration: underline;
						color: #5472C7;
						margin-bottom: 24px;
						display: inline-block;
					}
				}
				.signin-link{
					border-bottom: 0;
					margin-bottom: 0;
					a{
						margin-bottom: 0;
					}
				}
				.register-link{
					text-align: center;
					padding-bottom: 24px;
					h3{
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 24px;
						letter-spacing: 2.5px;
						text-transform: uppercase;
						font-feature-settings: 'ss04' on;
						color: #000000;
						margin-bottom: 24px;
					}
					a{
						font-family: DM Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 16px;
						text-decoration-line: underline;
						color: #5472C7;
					}
				}
			}
		}
	}
}
div#helppopup {
	.help-links{
		margin-bottom: 66px;
		ul{
			margin: 0;
			list-style: none;
			li{
				padding: 16px 0;
				border-bottom: 1px solid #EAEAEA;
				a{
					font-family: DM Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 24px;
					/* identical to box height, or 171% */


					color: #000000;
				}
			}
		}
	}
	.help-footer {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-left: -15px;
		margin-right: -15px;
		& > div{
			width: 33%;
			text-align: center;
			h3{
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				/* identical to box height, or 171% */


				color: #000000;
				margin-bottom: 0;
			}
			p{
				font-family: DM Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 24px;
				/* identical to box height, or 200% */


				/* black-800 */

				color: #4B4B4B;
				margin-bottom: 0;
			}
			&.help-call{
				width: 29%;
			}
			&.help-chat{
				width: 27%;
			}
			&.help-mail{
				width: 44%;
			}
		}
	}
}

div#CartDrawer{
	padding: 0 32px 32px;
	.drawer__fixed-header {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 0 32px;
		height: auto;
		border-bottom: 1px solid #f0f1f3;
		.drawer__header {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: auto;
			border-bottom: 0;
			.drawer__cart_icon{
				display: none;
			}
			.drawer__title {
				font-family: DM Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				font-feature-settings: 'ss04' on;
				color: #000000;
			}
			button.drawer__close-button.js-drawer-close {
				left: 0;
				padding: 0;
				transform: translateX(-100%);
			}
		}
	}
	.drawer__inner {
		position: absolute;
		top: 61px;
	}
	.drawer__footer {
		left: 0;
		right: 0;
		height: auto!important;
		min-height: auto;
		padding: 0;
		.grid--full.cart-subtotal {
			background: #efefef;
			padding: 22px 25px;
			p.ajaxcart__subtotal,p.ajaxcart__price {
				font-size: 12px;
				font-weight: 600;
				line-height: 1.2;
				letter-spacing: 1.2px;
				color: #272c3b;
				margin-bottom: 0;
			}
		}
		button.cart__checkout {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1.2px;
			text-transform: uppercase;
			width: 100%;
			background-position: 125% 35%;
		}
	}
}
.site-header-sticky-1 {
	height: 80px !important;
}

@media (max-width: 767px) {
	.site-header-sticky-1 {
		display: none;
	}
}

.site-header-sticky-2 {
	height: 52px !important;
}

@media (min-width: 768px) {
	.site-header-sticky-2 {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	body.mobile-menu-open .zopim,
	body.mobile-menu-open #someone-purchased,
	body.mobile-menu-open .ju_Con,
	body.mobile-menu-open .ju_overlay,
	body.js-drawer-open .zopim,
	body.js-drawer-open #someone-purchased,
	body.js-drawer-open .ju_Con,
	body.js-drawer-open .ju_overlay {
		display: none !important;
	}
}

@media only screen and (max-width: 767px) {
	body.mobile-menu-open .ju_iframe,
	body.js-drawer-open .ju_iframe {
		width: 100% !important;
	}
}

@media only screen and (max-width: 767px) {
	.page-container > .transition-body {
		z-index: 27;
		position: relative;
	}
}
#buttonwishlist svg{
	margin-right: 5px;
}


html,
body {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

h1,
h2,
.h1,
.h2,
h2.h3 {
	font-family: 'Rox Bold', Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
}

.fomo-notification .fomo-notification-image-wrapper img {
	-o-object-fit: contain;
	object-fit: contain;
}

#buttonHelpPopup {
	min-width: 38px;
}

#buttonSigninPopup {
	min-width: 55px;
}

.main-header__item--about .hover-item {
	min-width: 200px;
}
.main-header__nav-desktop .main-header__item.language-switcher-desktop{
	display: none;
}
