

.hero {
	overflow: hidden;

	// Make sure slides fill full height
	.slideshow__slide,
	.slick-list,
	.slick-track {
		height: 100%;
	}
}

// General slideshow styles

.slideshow-wrapper {
	position: relative;
}

// Pause button (focusable by keyboard only)

.slideshow__pause:focus {
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
	color: $colorBtnPrimaryText;
	background-color: $colorBtnPrimary;
	padding: 10px;
	z-index: $zindexSkipToContent;
	transition: none;

	.video-is-playing & {
		display: none;
	}
}

.slideshow__pause-stop {
	display: block;

	.is-paused & {
		display: none;
	}
}

.slideshow__pause-play {
	display: none;

	.is-paused & {
		display: block;
	}
}

// General slide styles

.slideshow__slide {
	display: none;
	position: relative;
	overflow: hidden;

	&:first-child {
		display: block;
	}

	// Progress bar
	&:after {
		content: '';
		position: absolute;
		background: $colorBody;
		bottom: 0;
		height: 2px;
		width: 0%;
		z-index: 1;
		transition: width 0s linear 0s;
	}
}

$z-index-hero-image: 1;

$z-index-hero-video: 2;

$z-index-hero-image-overlay: 3;

$z-index-hero-text: 4;

.hero {
	position: relative;
	overflow: hidden;
	background: $colorLargeImageBg;
}

@-webkit-keyframes loading {
	0% {
		width: 0px;
	}
	60% {
		width: 100px;
		margin-left: -50px;
	}
	100% {
		margin-left: 50px;
		width: 0px;
	}
}

@keyframes loading {
	0% {
		width: 0px;
	}
	60% {
		width: 100px;
		margin-left: -50px;
	}
	100% {
		margin-left: 50px;
		width: 0px;
	}
}

.hero__media,
.hero__image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	z-index: $z-index-hero-image;

	&::before {
		@include overlay($z-index-hero-image-overlay);
		@include heroScrim();

		.video-interactable & {
			pointer-events: none;
		}
	}
}

.hero__media iframe,
.hero__media video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;

	.video-interactable & {
		pointer-events: auto;
	}
}

// Mobile only vimeo play button

.vimeo-mobile-trigger {
	display: block;
	position: absolute;
	width: 100%;
	z-index: 2;
	margin-top: 90px;

	.hero__text-content & {
		margin-top: -130px;
	}

	.icon {
		width: 40px;
		height: 40px;
		background-color: #fff;
		border-radius: 50%;
		padding: 10px;
	}
}

.hero__media iframe,
.hero__media video {
	width: 300%;
	left: -100%;
	max-width: none;

	// Uncomment these two media queries if full height section
	// is showing top or bottom bars
	// @media screen and (min-height: 850px) {
	//   .hero--100vh & {
	//     width: 600%;
	//     left: -250%;
	//   }
	// }

	// @media screen and (min-height: 850px) and (min-width: 1140px) {
	//   .hero--100vh & {
	//     width: 200%;
	//     left: -50%;
	//   }
	// }

	// This min-width may need to change slightly depending on
	// embedded video dimensions. Can do on a per-shop basis
	@media screen and (min-width: 1140px) {
		width: 100%;
		height: 300%;
		left: auto;
		top: -100%;
	}
}

// Text

.hero__text-wrap {
	position: relative;
	height: 100%;
	color: $colorHeroText;

	.video-interactable & {
		pointer-events: none;
	}

	.page-width {
		display: table;
		width: 100%;
		height: 100%;
	}
}

.hero__text-content {
	position: relative;
	padding: ($gutter / 2) 0;
	z-index: $z-index-hero-text;
	@include media-query($medium-up) {
		padding: ($gutter * 1.5) 0;
	}
}

.hero__title {
	display: block;
	margin-bottom: 0;
	font-size: em(40px);

	@include media-query($medium-up) {
		font-size: em(80px);
	}
}

.hero__subtext {
	margin-top: 20px;
}

.hero__subtitle {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	@include baseAccentFontStack;

	@if $type_base_accent_transform {
		font-size: em(floor($type_base_size * 0.85));
	} @else {
		font-size: em(floor($type_base_size * 1));
	}
	margin-top: 5px;

	@include media-query($medium-up) {
		@if $type_base_accent_transform {
			font-size: em(floor($type_base_size * 1.18));
		} @else {
			font-size: em(floor($type_base_size * 1.3));
		}
	}
}

.hero__link {
	display: inline-block;

	.video-interactable & {
		pointer-events: auto;
	}

	.btn {
		background: none !important;
		margin-top: 10px;
		@include media-query($medium-up) {
			margin-top: 0;
		}

		&:hover {
			padding-right: 12px;
			background: none;
		}
	}
}

// Text alignment

.hero__text-content {
	display: table-cell;

	&.horizontal-left {
		text-align: left;
	}

	&.horizontal-center {
		text-align: center;
	}

	&.horizontal-right {
		text-align: right;
	}

	&.vertical-center {
		vertical-align: middle;
		padding-top: 50px;
		@include media-query($medium-up) {
			padding-top: 90px;
		}

		.hero__subtitle {
			margin-right: 0; // because link is a block below subtitle
		}

		.hero__link {
			display: block;
			margin-top: $gutter/4;
			@include media-query($medium-up) {
				margin-top: $gutter/2;
			}

			.btn {
				margin-left: 0;
			}
		}
	}

	&.vertical-bottom {
		vertical-align: bottom;
	}
}

// Slideshow height

.hero--450px {
	height: floor(450px * 0.65);
}

.hero--550px {
	height: floor(550px * 0.65);
}

.hero--650px {
	height: floor(650px * 0.65);
}

.hero--750px {
	height: floor(750px * 0.65);
}

.hero--100vh {
	height: 100vh;
}

@include media-query($medium-up) {
	.hero--450px {
		height: 450px;
	}
	.hero--550px {
		height: 550px;
	}
	.hero--650px {
		height: 650px;
	}
	.hero--750px {
		height: 750px;
	}
}

@include media-query($small) {
	.hero--mobile--250px {
		height: 250px;
	}
	.hero--mobile--300px {
		height: 300px;
	}
	.hero--mobile--400px {
		height: 400px;
	}
	.hero--mobile--500px {
		height: 500px;
	}
	.hero--mobile--100vh {
		height: 90vh;
	}
}

// Align to top of page if first section on page

.index-section--hero:first-child {
	[data-align-top] .slideshow-wrapper {
		position: relative;
		z-index: 1;
	}
}

// Animations

@if ($animate_sections) {
	[data-aos="hero__animation"],
	.hero .slideshow__slide {
		.hero__title .animation-contents,
		.hero__subtitle .animation-contents,
		.hero__link .animation-contents {
			opacity: 0;

			.ie9 &,
			.no-js & {
				opacity: 1;
			}
		}

		.hero__media,
		.hero__image {
			opacity: 0;

			.no-js & {
				opacity: 1;
			}
		}
	}

	[data-aos="hero__animation"].loaded.aos-animate,
	.hero.loaded.aos-animate .slideshow__slide.slick-active {
		.hero__title .animation-contents {
			-webkit-animation: $animate_sections_text_style 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 0.3s forwards;
			animation: $animate_sections_text_style 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 0.3s forwards;
		}

		.hero__subtitle .animation-contents {
			-webkit-animation: $animate_sections_text_style 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.7s forwards;
			animation: $animate_sections_text_style 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0.7s forwards;
		}

		.hero__link .animation-contents {
			-webkit-animation: fade-in 2s ease 1.5s forwards;
			animation: fade-in 2s ease 1.5s forwards;
		}

		.hero__media,
		.hero__image.lazyloaded,
		.hero__image--svg {
			-webkit-animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
			animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		}
	}
} @else {
	[data-aos="hero__animation"] {
		.hero__media,
		.hero__image {
			opacity: 0;

			.no-js & {
				opacity: 1;
			}
		}
	}

	[data-aos="hero__animation"].loaded {
		.hero__media,
		.hero__image {
			-webkit-animation: fade-in 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
			animation: fade-in 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		}
	}
}

.hero-banner {
	width: 100%;
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	@media screen and (max-width: 768px) {
		height: 375px !important;
	}

	.btn-groups-links {
		display: block;
		position: absolute;
		z-index: 6;

		.btn-url {
			&:nth-of-type(2) {
				margin-left: 10px;
			}

			&:hover,
			&:focus,
			&:active {
				padding-right: 20px !important;
				@media screen and (max-width: 589px) {
					padding-right: 18px !important;
				}
			}
		}
	}

	.content {
		z-index: 5;

		.text-content {
			text-align: center;

			h1 {
				@media screen and (min-width: 768px) {
					font-size: 3.5em;
				}
			}

			.banner-subtitle {
				@media screen and (min-width: 768px) {
					font-size: 1.1em;
				}
			}
		}

		.btn-url {
			&:nth-of-type(2) {
				margin-left: 10px;
			}

			&:hover,
			&:focus,
			&:active {
				padding-right: 20px !important;
				@media screen and (max-width: 589px) {
					padding-right: 18px !important;
				}
			}
		}
	}

	.inner_image_absolute_block {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}

	.overlay {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		background-color: #000;
	}

	.img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.visible-md {
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
	}

	.visible-sm {
		display: none;
		@media screen and (max-width: 767px) {
			display: block;
		}
	}
}
