.instagram-section {
	@include media-query($small) {
		.grid__item:nth-child(5),
		.grid__item:nth-child(6),
		.grid__item:nth-child(7),
		.grid__item:nth-child(8),
		.grid__item:nth-child(9),
		.grid__item:nth-child(10) {
			display: none;
		}
	}
}

.instagram-feed-wrap {
	position: relative;

	.grid {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}
}

// Prevent images loading in from causing a reflow

.instagram-feed-wrap__reflow-fix {
	width: 20%; // based on 5 per row

	@include media-query($small) {
		width: 50%; // switches to 2 per row
	}

	&:after {
		content: '';
		display: block;
		height: 0;
		padding-bottom: 100%;

		@include media-query($small) {
			padding-bottom: 200%; // switches to 2 per row
		}
	}
}

.instagram-feed-wrap--2 .instagram-feed-wrap__reflow-fix:after {
	padding-bottom: 200%;
}


.flex_wrapper_instagram {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 6%;
}

.instagram p.subtitle {
	color: #c6af76;
	font-family: DM Sans;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.title_block_instagram {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 34px;
}

.title_block_instagram h2.h3 {
	margin-bottom: 0;
	color: #262626;
	font-family: "Rox Bold";
	font-size: 42px;
	font-weight: 700;
	line-height: 1;
}

.title_block_instagram img.title_icon_instagram {
	width: 33px;
	height: 33px;
	margin-right: 23px;
}

.instagram .rte.featured-row__subtext {
	color: #818287;
	font-family: DM Sans;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	max-width: 430px;
	margin-bottom: 36px;
}

.instagram a.btn {
	color: #262626;
	font-family: DM Sans;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase; /* Text style for "SHOP INSTA" */
	letter-spacing: 1.25px;
	background-color: unset;
	padding: 0;
	position: relative;
}

.instagram a.btn:after {
	background-color: #000;
}

p.load_more_instagram:after,
a.button_story:after,
.video_text_block .watch_video p,
.feature-row__text .btn:after,
.bg_color_black .feature-row__text .btn:after,
.instagram a.btn:after,
.watch_video p:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	padding: 0;
	height: 1px;
	display: none;
	-webkit-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.underline {
	width: calc(100%);
	background-image: linear-gradient(transparent calc(100% - 1px), black 1px);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	-webkit-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	transition: all 500ms cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-moz-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-ms-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-o-transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	transition-timing-function: cubic-bezier(0.5, 0, 0.07, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

@media screen and (min-width: 769px) {
	a.button_story:hover:after,
	.feature-row__text .btn:hover:after,
	.bg_color_black .feature-row__text .btn:hover:after,
	.button_story:hover:after,
	.instagram a.btn:hover:after,
	.watch_video p:hover:after {
		// width: 100%;
	}
	a.button_story:hover .underline,
	.feature-row__text .btn:hover .underline,
	.bg_color_black .feature-row__text .btn:hover .underline,
	.button_story:hover .underline,
	.instagram a.btn:hover .underline,
	.watch_video p:hover .underline {
		background-size: 100% 99% !important;
	}
	.homepage-landing-featured-collection .grid-product__content {
		margin-bottom: 0;
	}
	.section-logo-list {
		padding-bottom: 37px;
	}
	.basic_image_with_text {
		margin-bottom: 60px;
	}
	.index-section {
		margin: 60px 0;
	}
}

@media screen and (max-width: 768px) {
	a.button_story.show-line:after,
	.feature-row__text .btn.show-line:after,
	.bg_color_black .feature-row__text .btn.show-line:after,
	p.load_more_instagram.show-line:after,
	.button_story.show-line:after,
	.instagram a.btn.show-line:after,
	.watch_video p.show-line:after {
		width: 100%;
	}
	a.button_story.show-line .underline,
	.feature-row__text .btn.show-line .underline,
	.bg_color_black .feature-row__text .btn.show-line .underline,
	p.load_more_instagram.show-line .underline,
	.button_story.show-line .underline,
	.instagram a.btn.show-line .underline,
	.watch_video p.show-line .underline {
		background-size: 100% 100% !important;
	}
	.section--hero .underline {
		background-image: linear-gradient(transparent calc(100% - 1px), white 1px);
	}
}

.instagram_inner {
	position: relative;
}
