.map-section {
	position: relative;
	height: 650px;
	width: 100%;
	overflow: hidden;

	@include media-query($medium-up) {
		height: 500px;
	}

	.page-width {
		height: 100%;
	}
}

.map-section--load-error {
	height: auto;
}

.map-onboarding {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 0;
}

.map-section__overlay-wrapper {
	position: relative;
	height: 100%;
}

.map-section__overlay {
	position: relative;
	display: inline-block;
	background-color: $colorBody;
	padding: $gutter;
	margin-top: $gutter;
	width: 100%;
	z-index: 3;

	@include media-query($medium-up) {
		position: absolute;
		left: $gutter;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		margin-top: 0;
		width: 30%;

		.ie9 & {
			top: 10%;
		}
	}

	.map-section--load-error & {
		position: static;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.map-section__link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

// Optically center map in visible area with

// extended height/widths and negative margins

.map-section__container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
	margin-bottom: -50%;

	@include media-query($medium-up) {
		width: 130%;
		height: 100%;
		margin: 0 -30% 0 0;
	}
}

// Animations

@if ($animate_sections) {
	[data-aos="map-section__animation"] .map-section__container {
		-webkit-animation: fade-out 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		animation: fade-out 0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		will-change: opacity, transform;
		opacity: 0;

		.ie9 & {
			opacity: 1;
		}
	}

	[data-aos="map-section__animation"].aos-animate .map-section__container {
		-webkit-animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
		animation: $animate_sections_background_style 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
	}
}
