.modal {
	display: none;
	bottom: 0;
	left: 0;
	opacity: 1;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $zindexModal;
	color: $colorModalText;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	a,
	a:hover {
		color: inherit;
	}

	.btn,
	.btn:hover {
		color: $colorBtnPrimaryText;
	}

	.modal-open & {
		.modal__inner {
			-webkit-animation: modal-open 0.5s forwards;
			animation: modal-open 0.5s forwards;
		}

		&:before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $colorModalBg;
			-webkit-animation: overlay-on 0.5s forwards;
			animation: overlay-on 0.5s forwards;
			cursor: pointer;
		}
	}

	.modal-closing & {
		.modal__inner {
			-webkit-animation: modal-closing 0.5s forwards;
			animation: modal-closing 0.5s forwards;
		}

		&:before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $colorModalBg;
			-webkit-animation: overlay-off 0.5s forwards;
			animation: overlay-off 0.5s forwards;
		}
	}

	.modal-open--solid &:before {
		background-color: $colorModalBg;
	}
}

.modal--solid {
	.modal-open & {
		&:before {
			background-color: #000;
			-webkit-animation: full-overlay-on 0.5s forwards;
			animation: full-overlay-on 0.5s forwards;
		}
	}

	.modal-closing & {
		&:before {
			background-color: #000;
			-webkit-animation: full-overlay-off 0.5s forwards;
			animation: full-overlay-off 0.5s forwards;
		}
	}
}

.modal--is-closing {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important; // override .is-transitioning styles
	overflow: hidden;
}

.modal--is-active {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important; // override .is-transitioning styles
	overflow: hidden;
}

// Class on body element when modal open.

// Only medium-up because iOS jumps to top otherwise

@include media-query($medium-up) {
	.modal-open {
		overflow: hidden;
	}
}

.modal__inner {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin: $gutter / 2;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	@include media-query($medium-up) {
		margin: 40px;
	}

	.modal--square & {
		background-color: $colorBody;
		color: $colorTextBody;
	}

	img {
		display: block;
		max-height: 90vh;
	}
}

// No max height on product images

.modal__inner {
	.image-wrap img {
		max-height: none;
	}
}

.modal__centered {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	min-width: 1px; // ie10 thing
	max-width: 100%;
}

.modal__centered-content {
	.modal--square & {
		max-height: 80vh;
		padding: $gutter * .75;
		min-width: 200px;
		min-height: 200px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		@include media-query($medium-up) {
			padding: $gutter * 1.5;
			max-height: 90vh;
			max-width: 1200px;
		}
	}
}

.modal__close {
	border: 0;
	padding: $gutter/2;
	@include media-query($medium-up) {
		padding: $gutter;
	}
	position: fixed;
	top: 0;
	right: 0;
	color: $colorModalText;

	.icon {
		width: 28px;
		height: 28px;
	}

	&:hover,
	&:focus {
		color: $colorModalText;
	}

	.modal--square & {
		position: absolute;
		color: $colorTextBody;
		padding: $gutter / 3;

		&:hover,
		&:focus {
			color: $colorTextBody;
		}
	}
}

// Ajax page adjustments

.modal {
	.page-content,
	.page-width {
		padding: 0;
	}
}

// Google-friendly non intrusive mobile modal

.popup-cta {
	margin-bottom: $gutter / 2;
}

@include media-query($small) {
	.modal--mobile-friendly {
		top: auto;
		bottom: 0;
		overflow: auto;

		&.modal--square .modal__centered-content {
			padding: 20px 20px 0;
		}

		&.modal--is-active {
			overflow: auto;
		}

		.modal-open & {
			&:before {
				display: none;
			}
		}

		.modal__inner {
			margin: 0;
			border: 2px solid $colorTextBody;
		}

		.h1 {
			padding-right: 25px;
		}

		input {
			font-size: 16px !important;
		}

		.text-close {
			display: none;
		}
	}
}

.modal .acs-line {
	display: none;
}
