.newsletter {
	margin: 0 auto;
	max-width: 520px;
}

.newsletter-section .errors {
	margin-left: auto;
	margin-right: auto;
	max-width: 520px;
}

.modal .newsletter .h1 {
	margin-bottom: $gutter / 2;
	font-size: 1.6em;
	@include media-query($medium-up) {
		font-size: 1.8em;
		margin-bottom: $gutter;
	}
}

.modal .newsletter p,
.newsletter-section .rte p {
	font-size: em($type_base_size);
	margin-bottom: $gutter / 2;
	@include media-query($medium-up) {
		font-size: em($type_base_size + 2);
	}
}

.modal .newsletter .image-wrap {
	margin-bottom: $gutter / 4;
	@include media-query($medium-up) {
		margin-bottom: $gutter / 2;
	}
}

.modal .newsletter input {
	font-size: em($type_base_size);
	@include media-query($medium-up) {
		font-size: em($type_base_size + 1);
	}
}

.modal .newsletter .text-close {
	text-decoration: underline;
}

.newsletter__input-group {
	background-color: $colorInputBg;
	margin: 0 auto 20px;
	max-width: 400px;
}

.newsletter__input {
	&::-webkit-input-placeholder {
		color: $colorTextBody;
		opacity: 1;
	}

	&:-moz-placeholder {
		color: $colorTextBody;
		opacity: 1;
	}

	&::-moz-placeholder {
		color: $colorTextBody;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $colorTextBody;
	}

	&::-ms-input-placeholder {
		color: $colorTextBody;
		opacity: 1;
	}
}

@include media-query($small) {
	.form__submit--large {
		display: none;
	}

	.form__submit--small {
		display: block;
	}
}

@include media-query($medium-up) {
	.form__submit--large {
		display: block;
	}

	.form__submit--small {
		display: none;
	}
}
