/* Order status */
.order-status__form {
	.order-status__header {
		display: block;
		font-weight: bold;
	}

	.order-status__number {
		display: block;
		margin-top: 10px;
		width: 100%;
	}

	.order-status__email {
		display: block;
		margin-top: 10px;
		width: 100%;
	}

	.order-status__btn {
		display: block;
		margin-top: 10px;
		width: 100%;
		padding: 10px 0;
		background-color: black;
		color: white;
		height: 47px;

		&.disabled {
			background-image: url(#{'"{{ "ajax-loader.gif" | asset_url }}"'};);
			background-repeat: no-repeat;
			background-position: center;
			font-size: 0;
		}
	}
}

.order-status__result1 {
	display: none;
	margin-top: 30px;

	&.active {
		display: block;
	}
}

.order-status__result2 {
	display: none;
	margin-top: 30px;

	&.active {
		display: block;
	}
}
