/*================ Module | Pagination ================*/

.pagination {
	display: flex;
	justify-content:center;
	align-items: center;
	@include baseFontStack;
	margin: 0 0 30px 0;
	padding: ($gutter * 2) 0 0;
	text-align: center;
	font-size: em(15px);
	@include media-query($small) {
		font-size: em(14px);
	}

	> span {
		display: inline-block;
		line-height: 1;
	}

	a {
		display: inline-block;
	}

	a,
	.page.current {
		padding: 8px 12px;
	}

	.page.current {
		opacity: 0.3;
	}

	// Hard code font family for arrows as some fonts don't include them
	.next,
	.prev {
		color: $colorBtnPrimaryText;
		background: $colorBtnPrimary;
		width: 43px;
		height: 43px;
		line-height: 27px;
		border-radius: 43px;
		margin: 0 10px;
		@include media-query($small) {
			width: 35px;
			height: 35px;
			line-height: 19px;
		}

		.icon {
			color: $colorBtnPrimaryText;
			width: 13px;
			height: 13px;
			@include media-query($small) {
				width: 12px;
				height: 12px;
			}
		}
	}
}
