.js-qty__wrapper {
	position: relative;
	max-width: 100px;
	min-width: 75px;
	overflow: visible;
	background-color: $colorInputBg;
	border: 1px solid $colorBorder;
	color: color-control($colorInputBg, 1);
}

.js-qty__num {
	display: block;
	background: none;
	border: none;
	text-align: center;
	width: 100%;
	padding: 8px 25px;
	margin: 0;
	z-index: 1;
}

.js-qty__adjust {
	cursor: pointer;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	border: 0 none;
	background: none;
	text-align: center;
	overflow: hidden;
	padding: 0 5px;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: all 0.2s ease-out;
	z-index: 2;
	fill: color-control($colorInputBg, 1);

	.icon {
		display: block;
		font-size: 8px;
		vertical-align: middle;
		width: 10px;
		height: 10px;
		fill: inherit;
	}

	&:hover {
		background-color: darken($colorInputBg, 5%);
		color: color-control($colorInputBg, 1);
	}

	&:active {
		background-color: darken($colorBorder, 10%);
	}
}

.js-qty__adjust--plus {
	right: 0;
	border-left: 1px solid darken($colorInputBg, 5%);
}

.js-qty__adjust--minus {
	left: 0;
	border-right: 1px solid darken($colorInputBg, 5%);
}

.js-qty__fallback {
	display: none;

	.no-js & {
		display: inline-block;
	}
}

/*================ Qty selector in drawer ================*/

.drawer {
	.js-qty__wrapper {
		background-color: transparent;
	}

	.js-qty__num {
		border: none;
		color: $colorDrawerText;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.js-qty__adjust {
		border-color: $colorDrawerBorder;
		color: $colorDrawerText;
		fill: $colorDrawerText;

		&:hover {
			background-color: color-control($colorDrawers, 1);
			color: $colorDrawers;
			fill: $colorDrawers;
		}
	}
}
