.rox-bold,
.rox-bold p {
	font-family: 'Rox Bold';
	font-weight: normal;
}

.rox-demibold,
.rox-demibold p {
	font-family: 'Rox DemiBold';
	font-weight: normal;
}

h2.gold {
	font-weight: 700;
	color: #C6AF76;
	text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
	h2.gold {
		font-size: 12px;
		letter-spacing: 3px;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 590px) {
	h2.gold {
		font-size: 14px;
		letter-spacing: 3.5px;
	}
}
