/*================ Module | Rich Text Editor ================*/

.rte {
	@include clearfix;

	& + & {
		margin-top: $gutter;
	}

	p,
	ul,
	ol,
	table {
		margin-bottom: 25px;
	}

	ul {
		ul {
			margin-bottom: 0;
		}
	}

	a {
		text-decoration: none;
		border-bottom: 2px solid rgba($colorTextBody, 0.1);
		position: relative;
	}

	@if ($animate_underlines) {
		a:after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0%;
			border-bottom: 2px solid rgba($colorTextBody, 1);
			transition: width 0.5s ease;
		}

		a {
			&:hover:after,
			&:focus:after {
				width: 100%;
			}
		}
	}

	// Add some top margin to headers from the rich text editor
	h1, h2, h3, h4, h5, h6 {
		margin-top: 2.5em;
		margin-bottom: 1em;
	}

	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}

		a {
			text-decoration: none;
		}
	}

	// In case merchants paste meta tags into their content by accident
	meta:first-child {
		& + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
			margin-top: 0;
		}
	}

	> div {
		margin-bottom: $gutter / 2;
	}

	li {
		margin-bottom: 0;
	}

	> p:last-child {
		margin-bottom: 0;
	}

	table {
		table-layout: fixed;
	}
}

.rte--block {
	margin-bottom: 20px;
}

.rte-setting {
	> p:last-child {
		margin-bottom: 0;
	}
}

.text-center .rte,
.text-center.rte {
	ul,
	ol {
		list-style-position: inside;
		margin-left: 0;
	}
}

.rte--nomargin {
	margin-bottom: 0;
}

.rte--indented-images img:not([style]),
.rte--indented-images img[style="float: none;"] {
	max-width: 100vw;
	margin: 0 -22px;
	display: block;
	@include media-query($medium-up) {
		max-width: 130%;
		margin: $gutter -15%;
	}
}

// Some people use text-align on the parent p tag, so do not style those images

.rte--indented-images p[style] img {
	display: inline;
	margin: 0;
	max-width: 100%;
}
