.shop-banner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.shop-banner.small .banner-slider {
	height: 42px;
	overflow: hidden;
}

.shop-banner.small .banner-slider--slide {
	height: 42px;
	font-size: 12px;
	line-height: 42px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: none;
	top: 0 !important;
	left: 0 !important;
	position: absolute !important;
}

@media only screen and (min-width: 590px) {
	.shop-banner.small .banner-slider--slide {
		font-size: 14px;
	}
}

.shop-banner.full {
	padding: 60px 0;
}

@media only screen and (max-width: 768px) {
	.shop-banner.full {
		padding: 40px 0 50px;
	}
}

.shop-banner--title {
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1.5px;
}

@media only screen and (max-width: 768px) {
	.shop-banner--title {
		font-size: 34px;
		letter-spacing: 0.9px;
	}
}

.shop-banner--subtitle {
	font-size: 48px;
	line-height: 1;
	letter-spacing: 1.5px;
}

@media only screen and (max-width: 768px) {
	.shop-banner--subtitle {
		font-size: 24px;
		letter-spacing: 0.6px;
		margin-top: 5px;
	}
}

.shop-banner hr.short {
	width: 49px;
	height: 2px;
	margin-top: 40px;
	margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
	.shop-banner hr.short {
		margin-top: 25px;
	}
}

.shop-banner--main-cta {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
	.shop-banner--main-cta {
		font-size: 20px;
	}
}

.shop-banner--secondary-cta {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
}

@media only screen and (max-width: 768px) {
	.shop-banner--secondary-cta {
		font-size: 18px;
	}
}

.shop-banner--buttons {
	margin-top: 50px;
}

@media only screen and (max-width: 768px) {
	.shop-banner--buttons {
		margin-top: 37px;
	}
}

@media only screen and (min-width: 590px) {
	.shop-banner--buttons .btn {
		min-width: 300px;
	}
}

@media only screen and (max-width: 768px) {
	.shop-banner--buttons .btn {
		display: block;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 768px) {
	.shop-banner--buttons .btn + .btn {
		margin-top: 27px;
	}
}

.shop-banner.xmas {
	background-color: #3878ad;
	position: relative;
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas {
		padding-top: 20px;
		padding-bottom: 30px;
	}
}

.shop-banner.xmas > .page-width {
	position: relative;
	z-index: 1;
}

@media only screen and (min-width: 769px) {
	.shop-banner.xmas > .page-width .page-wrap {
		width: 50%;
	}
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap {
		min-height: 485px;
	}
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap hr {
		display: none;
	}
}

.shop-banner.xmas > .page-width .page-wrap .shop-banner--title {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 7.5px;
	padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap .shop-banner--title {
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 3.6px;
		padding-bottom: 0;
	}
}

.shop-banner.xmas > .page-width .page-wrap .shop-banner--subtitle {
	font-size: 81px;
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap .shop-banner--subtitle {
		font-size: 36px;
		letter-spacing: 0;
	}
}

.shop-banner.xmas > .page-width .page-wrap .shop-banner--main-cta {
	font-size: 30px;
	letter-spacing: 2.9px;
	font-weight: 600;
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap .shop-banner--main-cta {
		font-size: 15px;
		letter-spacing: 1.35px;
		font-weight: 600;
		margin-bottom: 5px;
	}
}

.shop-banner.xmas > .page-width .page-wrap .shop-banner--secondary-cta {
	font-size: 21px;
	letter-spacing: 1.2;
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap .shop-banner--secondary-cta {
		font-size: 12px;
		letter-spacing: 0.8px;
	}
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap .shop-banner-bottom {
		position: absolute;
		bottom: 0;
		width: calc(100% - 40px);
	}
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap .shop-banner--buttons {
		margin-top: 20px;
	}
}

.shop-banner.xmas > .page-width .page-wrap .shop-banner--buttons .btn {
	min-width: 45%;
	padding-left: 30px;
	padding-right: 30px;
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas > .page-width .page-wrap .shop-banner--buttons .btn {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 12px;
		vertical-align: top;
	}
}

.shop-banner.xmas > .page-width .page-wrap .shop-banner--buttons .btn + .btn {
	margin-left: 10px;
	margin-top: 0;
}

.shop-banner.xmas .shop-banner-back {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
	.shop-banner.xmas .shop-banner-back.desktop {
		display: none;
	}
}

@media only screen and (min-width: 769px) {
	.shop-banner.xmas .shop-banner-back.mobile {
		display: none;
	}
}

.template-collection .shop-banner--buttons {
	display: none;
}

@media only screen and (max-width: 768px) {
	.template-collection .shop-banner.xmas .shop-banner-back {
		background-position: center top;
	}
}

@media only screen and (max-width: 768px) {
	.template-collection .shop-banner.xmas > .page-width .page-wrap {
		min-height: 435px;
	}
}
