/*============================================================================
  Slick Slider 1.6.0

  - If upgrading Slick's styles, use the following variables/functions
    instead of the slick defaults
  - Remove `outline: none` from `.slick-dots li button`
  - Change slick-image-url to just url
  - Remove any instance of slick-font-url
==============================================================================*/

$slick-font-family: "slick-icons, sans-serif";

$slick-arrow-color: #000;

$slick-dot-color: #fff;

$slick-dot-color-active: #fff !default;

$slick-prev-character: '\2039';

$slick-next-character: '\203A';

$slick-dot-character: '';

$slick-dot-size: 6px;

$slick-opacity-default: 0.75;

$slick-opacity-on-hover: 1;

$slick-opacity-not-active: 0.25;

/*================ Slick Slider SCSS ================*/

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;

	[dir="rtl"] & {
		float: right;
	}

	img {
		display: block;
	}

	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}

/*================ Slick Slider Theme ================*/

.slick-list {
	.slick-loading & {
		background: #fff url(#{'"{{ "ajax-loader.gif" | asset_url }}"'};) center center no-repeat;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;

	&:hover, &:focus {
		background: transparent;
		color: transparent;

		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}

	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}

	&:before {
		font-family: $slick-font-family;
		font-size: 20px;
		line-height: 1;
		color: $slick-arrow-color;
		opacity: $slick-opacity-default;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.slick-prev {
	left: -25px;

	[dir="rtl"] & {
		left: auto;
		right: -25px;
	}

	&:before {
		content: $slick-prev-character;

		[dir="rtl"] & {
			content: $slick-next-character;
		}
	}
}

.slick-next {
	right: -25px;

	[dir="rtl"] & {
		left: -25px;
		right: auto;
	}

	&:before {
		content: $slick-next-character;

		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}

/* Dots */

.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;

	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;

		button {
			border: 0;
			background: transparent;
			display: block;
			height: 20px;
			width: 20px;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;

			&:hover, &:focus {
				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: $slick-dot-character;
				width: 20px;
				height: 20px;
				font-family: $slick-font-family;
				font-size: $slick-dot-size;
				line-height: 20px;
				text-align: center;
				color: $slick-dot-color;
				opacity: $slick-opacity-not-active;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}

		&.slick-active button:before {
			color: $slick-dot-color-active;
			opacity: $slick-opacity-default;
		}
	}
}




$slideshow-dot-size: 10px;

$slideshow-dot-size-large: 12px;

.slick-slider {

	// Dots
	.slick-dots {

		// Inactive dot
		li,
		li button {
			width: $slideshow-dot-size;
			height: $slideshow-dot-size;
		}

		li button::before {
			width: $slideshow-dot-size;
			height: $slideshow-dot-size;
			border-radius: 100%;
		}

		// Active dot
		li.slick-active,
		li.slick-active button,
		li.slick-active button::before {
			width: $slideshow-dot-size-large;
			height: $slideshow-dot-size-large;
		}
	}
}

.hero .slick-dots {
	bottom: 20px;

	li button::before {
		background-color: $slideshow-text-light;
	}
}

$z-index-slideshow-image: 1;

$z-index-slideshow-video: 2;

$z-index-slideshow-image-overlay: 3;

$z-index-slideshow-text: 4;

// Slick overrides

.hero.slick-dotted {
	margin-bottom: 0;
}

.slick-track {
	cursor: pointer;
	cursor: -webkit-grab;

	// Disable grab cursor if only a single slide
	[data-slide-count="1"] & {
		cursor: default;

		&:active {
			cursor: default;
		}
	}

	&:active {
		cursor: -webkit-grabbing;
	}
}

// To enable arrows

$slickArrowSize: 40px;

.slick-prev,
.slick-next {
	width: $slickArrowSize;
	height: $slickArrowSize;
	top: 40%;
	z-index: 20;

	&:before {
		color: $colorHeroText;
		font-size: 60px;
		line-height: $slickArrowSize;
		text-shadow: 0 0 20px rgba(0, 0, 0, 1);
	}
}

.slick-prev {
	left: 25px;

	[dir="rtl"] & {
		right: 25px;
	}

	@include media-query($small) {
		left: $page-width-gutter-small;
		[dir="rtl"] & {
			right: $page-width-gutter-small;
		}
	}
}

.slick-next {
	right: 25px;

	[dir="rtl"] & {
		left: 25px;
	}

	@include media-query($small) {
		right: $page-width-gutter-small;
		[dir="rtl"] & {
			left: $page-width-gutter-small;
		}
	}
}
