/*================ Social share buttons ================*/

$shareButtonHeight: 18px;

.social-sharing {
	@include baseFontStack;

	.icon {
		height: $shareButtonHeight;
		width: $shareButtonHeight;
	}
}

.social-sharing__link {
	display: inline-block;
	color: $colorTextBody;
	border-radius: 2px;
	font-size: em($type_base_size - 1);
	margin: 0 10px 0 0;
	height: $shareButtonHeight;
	line-height: $shareButtonHeight;
	text-decoration: none;
	font-weight: normal;
}

.social-sharing__title {
	display: inline-block;
	vertical-align: middle;
	height: $shareButtonHeight;
	line-height: $shareButtonHeight;
	padding-right: 15px;
	padding-left: 3px;
}
