

/*================ Module | Theme Tags ================*/

.tags a {
	font-size: em(16px);

	@include media-query($medium-up) {
		font-size: em(19px);
	}
}

.tags--vertical {
	list-style: none outside;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 5px;

		@include media-query($medium-up) {
			margin-bottom: 10px;
		}
	}
}

.tags--article {
	a {
		padding-right: $gutter / 2;
		padding-left: 0;
	}
}

.tags__title {
	margin-right: $gutter / 2;
}

.tag--active {
	font-weight: 900;
}

// Show more/less button

.tags-toggle {
	margin-top: 10px;

	@include media-query($medium-up) {
		margin-top: 20px;
	}
}
