.testimonials-slider__text {
	padding: 0;
	margin-bottom: $gutter * 1.5;

	.slick-slider & {
		margin-right: $gutter;
		margin-bottom: 0;
	}

	.text-center .slick-slider & {
		margin-left: $gutter / 2;
		margin-right: $gutter / 2;
	}

	cite {
		@include headerFontStack;
		font-size: em($type_base_size + 2);
		font-style: normal;
	}

	p {
		margin-bottom: $gutter / 4;

		+ cite {
			margin-top: 0;
		}
	}
}

// Section image

$testimonialImageSize: 142px;

.testimonail-image {
	max-width: $testimonialImageSize;
	background-color: $colorBody;

	.text-center & {
		margin-left: auto;
		margin-right: auto;
	}
}

.testimonail-image--round {
	width: $testimonialImageSize;
	height: $testimonialImageSize;
	max-width: none;
	border-radius: $testimonialImageSize;

	// fix animation bug in Safari
	img {
		overflow: hidden;
		border-radius: $testimonialImageSize;
	}
}

// Slick overrides

.testimonials-slider.slick-initialized {
	cursor: -webkit-grab;
	cursor: grab;
}

@include media-query($medium-up) {
	.testimonials-slider.slick-initialized[data-count="1"],
	.testimonials-slider.slick-initialized[data-count="2"],
	.testimonials-slider.slick-initialized[data-count="3"] {
		cursor: default;

		.slick-track {
			cursor: default;
		}
	}
}

// Slick dot positioning and color

.testimonials-wrapper .slick-dots {
	position: relative;
	bottom: 0;
	margin-top: $gutter / 2;

	li button::before {
		background-color: $colorTextBody;
	}
}

// Slick selected outline overrides

.testimonials-wrapper .slick-slide[tabindex="0"] {
	outline: none;
}
