<div
  data-section-id="{{ section.id }}"
  data-section-type="blog-pagination-section"
  class="text-{{ section.settings.align_text }}">

{% paginate blog.articles by 5 %}
{% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

{% endpaginate %}
</div>

{% schema %}
  {
    "name": "Blog Pagination",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
