{% if section.settings.divider %}<div class="section--divider">{% endif %}
<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    </div>
  {% endif %}

  <div class="grid{% if section.settings.enable_gutter %} grid--small-gutters{%else%} grid--no-gutters{% endif %}">

    {%- assign isEmpty = true -%}

    {% if section.blocks.size > 0 %}
      {%- assign isEmpty = false -%}
    {% endif %}

    {% for block in section.blocks limit: collection_limit %}
      {%- assign collection = collections[block.settings.collection] -%}
      {%- assign grid_item_width = 'medium-up--one-half collection--square-large' -%}
      {% assign background_position = block.settings.focal_point %}
      {% include 'custom-collection-grid-item' %}
    {% endfor %}

    {% if isEmpty %}
      <div class="page-width">
        <div class="grid">
          <div class="grid__item">
            <div class="rte">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}


{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 15,
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_gutter",
        "label": "Add spacing",
        "default": false
      }
    ],
    "presets": [{
      "name": "Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "size": "wide"
          }
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection",
          "settings": {
            "size": "wide"
          }
        }
      ]
    }],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "focal_point",
            "label": "Focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Left"
              },
              {
                "value": "center center",
                "label": "Center"
              },
              {
                "value": "center right",
                "label": "Right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "select",
            "id": "size",
            "label": "Size",
            "default": "square-small",
            "options": [
              {
                "label": "Square (small)",
                "value": "square-small"
              },
              {
                "label": "Wide",
                "value": "wide"
              },
              {
                "label": "Tall",
                "value": "tall"
              },
              {
                "label": "Square (large)",
                "value": "square-large"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "mobile_logo_collection",
            "label": "Logo Collection"
          }
        ]
      }
    ]
  }
{% endschema %}
