{%- assign per_row = section.settings.per_row -%}
{%- assign product_limit = per_row | times: section.settings.rows -%}
{%- assign collection = collections[section.settings.home_featured_products] -%}

{% if section.settings.divider %}<div class="section--divider">{% endif %}
<div id="CollectionSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {% if section.settings.title != blank %}
    <div class="page-width">
      <div class="section-header">
        <h2 class="section-header__title">
          {{ section.settings.title }}
          {% if section.settings.view_all and section.settings.rows == 1 %}
            <a href="{{ collections[section.settings.home_featured_products].url }}" class="section-header__link">{{ 'collections.general.all_of_collection' | t }}</a>
          {% endif %}
        </h2>
      </div>
    </div>
  {% endif %}

  <div class="page-width page-width--flush-small">
    <div class="grid-overflow-wrapper">
      <div class="grid grid--uniform" data-aos="overflow__animation">
        {% assign grid_item_width = 'small--one-half medium-up--one-third' %}

        {% case per_row %}
        {% when 1 %}
          {%- assign grid_item_width = '' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 3 %}
          {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
        {% when 4 %}
          {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
        {% when 5 %}
          {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
        {% endcase %}

        {% if section.settings.home_featured_products == blank or collections[section.settings.home_featured_products].empty? or collections[section.settings.home_featured_products].products_count == 0 %}

          {% unless emptyState %}
            {% assign emptyState = true %}
          {% endunless %}

          <div class="grid__item">
            <div class="grid grid--uniform">
              {% for i in (1..product_limit) %}
                <div class="grid__item grid-product {{ grid_item_width }}" data-aos="row-of-{{ per_row }}">
                  <div class="grid-product__content">
                    <a href="{{ product.url | within: collection }}" class="grid-product__link {% if sold_out %} grid-product__link--disabled{% endif %}">
                      <div class="grid-product__image-mask">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        <div class="image-wrap">{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
                      </div>
                      <div class="grid-product__meta">
                        <div class="grid-product__title">{{ 'home_page.onboarding.product_title' | t }}</div>
                        <div class="grid-product__price">$29</div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

        {% else %}
          {% assign hide_discount = section.settings.hide_discount_price %}
          {% for product in collections[section.settings.home_featured_products].products limit: product_limit %}
            {% include 'product-grid-item', 'hide_discount': hide_discount %}
          {% endfor %}

          {% if section.settings.view_all %}

            {% if section.settings.rows > 1 %}
              <div class="grid__item small--hide text-center">
                <a href="{{ collections[section.settings.home_featured_products].url }}" class="btn">{{ 'collections.general.all_of_collection' | t }}</a>
              </div>
            {% endif %}

            <div class="grid__item grid__item--view-all text-center {{ grid_item_width }} medium-up--hide">
              <a href="{{ collections[section.settings.home_featured_products].url }}" class="grid-product__see-all">
                {{ 'collections.general.view_all_products_html' | t: count: collection.products_count }}
              </a>
            </div>

          {% endif %}

        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if settings.quick_shop_enable %}
  {% for product in collections[section.settings.home_featured_products].products limit: product_limit %}
    {% include 'quick-shop-modal' %}
  {% endfor %}
{% endif %}

{% if section.settings.divider %}</div>{% endif %}


{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section index-section--featured-collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "home_featured_products",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "per_row",
        "label": "Products per row",
        "default": 4,
        "min": 1,
        "max": 5,
        "step": 1
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows of products",
        "default": 1,
        "min": 1,
        "max": 5,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "view_all",
        "label": "Show 'View all' link",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
	  },
	  {
      "type": "checkbox",
      "id": "hide_discount_price",
      "label": "Hide discount price and label",
      "default": false
      }
    ],
    "presets": [{
      "name": "Featured collection",
      "category": "Collection"
    }],
    "blocks" : []
  }
{% endschema %}
