
<footer class="site-footer">
  <div class="page-width">
    <div class="grid">
      {% assign row_width = 0 %}
      {% for block in section.blocks %}
        {% assign row_width = row_width | plus: block.settings.container_width %}
        <style>
        @media only screen and (min-width: 590px) {
          .footer__item--{{ block.id }} {
           /* width: {{ block.settings.container_width }}%; */
          }
        }
        </style> 
        {% if row_width > 100 %}
          <div class="footer__clear small--hide"></div>
          {% assign row_width = row_width | minus: 100 %}
        {% endif %}

        {% case block.type %}
        {% when 'logo_social' %}
          <div class="grid__item  primary_social_block">
            {% include 'footer-logo-social', block: block, first_instance: true %}
          </div>
      <div class="grid__item-footer-menu">
        {% when 'menu' %}
          <div class="grid__item">
            {% include 'footer-menu', block: block %}
          </div>
        {% endcase %}
      {% endfor %}
        <div class="footer__payments">
          <div class="footer__form-title">Verified payment methods</div>
          <div class="footer__payment-icons">
            <img src="{{ 'payments.svg' | asset_url }}" alt="">   
          </div>
        </div>
      </div>
    </div>

    {% comment %}{% include 'currency-picker', picker_id: 'footer', currency_class: 'footer__currency large-up--hide' %}{% endcomment %}

    {% include 'footer-social-links', desktop: 'true' %}

  </div>
  <div class="footer__copyright text-center">
    {% if section.settings.copyright %}
      <span class="footer__copyright-row">{{section.settings.copyright}}</span>
    {% endif %}
    {% if section.settings.tos_link %}
      {% assign tos = section.settings.tos_link | replace: '/pages/','' %}
      <span><a href="{{section.settings.tos_link}}">{{pages[tos].title }}</a> </span>
    {% endif %}
    {% if section.settings.privacy_link %}
      {% assign privacy = section.settings.privacy_link | replace: '/pages/','' %}
      <span><a href="{{section.settings.privacy_link}}">{{pages[privacy].title }}</a>  </span> 
    {% endif %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "payment_colored_icons",
        "label": "Show colorful payment icons",
        "default": false
      },
      {
        "type": "url",
        "id": "tos_link",
        "label": "Terms of use"
      },
      {
        "type": "url",
        "id": "privacy_link",
        "label": "Privacy Policy"
      },
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": " © 2020 Aromahigh. All rights reserved."
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo and social",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 15,
            "max": 110,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "support@aromahigh.com"
          },
          {
            "type": "text",
            "id": "phone_title",
            "label": "Phone title",
            "default": "Call Tall-Free"
          },
          {
            "type": "text",
            "id": "phone",
            "label": "Phone",
            "default": "+1 (844) 534-1121"
          },
          {
            "type": "text",
            "id": "time",
            "label": "Work schedule",
            "default": "M-T 8:30-2 pm & F 9-1 pm PST"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show title",
            "default": true
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show title",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals."
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show title",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 20,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
