{%- assign main_menu = linklists[section.settings.main_menu_link_list] -%}

{%- assign logo_alignment = 'left' -%}
{% if section.settings.main_menu_alignment == 'center-left' or section.settings.main_menu_alignment == 'center-split' or section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-drawer' %}
  {%- assign logo_alignment = 'center' -%}
{% endif %}

{% include 'cart-drawer' %}

{%- assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle -%}

{%- assign sticky_header = false -%}
{% if section.settings.header_style == 'sticky' %}
  {%- assign sticky_header = true -%}
{% endif %}
{%- assign overlay_header = false -%}
{%- assign has_logo = false -%}
{% if template_name == 'index' and section.settings.sticky_index %}
  {%- assign overlay_header = true -%}
{% endif %}
{% if template_name == 'collection' and collection.image and section.settings.sticky_collection %}
  {%- assign overlay_header = true -%}
{% endif %}

<style>
  .site-nav__link {
    font-size: {{ section.settings.type_navigation_size }}px;

    {% if section.settings.type_navigation_size < 18 %}
      padding-left: 8px;
      padding-right: 8px;
    {% endif %}
  }
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="header-wrapper{% if overlay_header %} header-wrapper--sticky is-light{% endif %}">

    {% if section.settings.show_announcement %}
      {% include 'announcement-bar' %}
    {% endif %}
    {% if section.settings.show_countdown %}
      {% include 'countdown-bar' %}
    {% endif %}

    {% include 'header-new' %}
  </div>
</div>

{% schema %}
  {
    "name": "Header and menus",
    "settings": [
      {
        "type": "image_picker",
        "id": "main_logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "main_menu_link_list",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "select",
        "id": "main_menu_alignment",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Logo left, menu left"
          },
          {
            "value": "left-center",
            "label": "Logo left, menu center"
          },
          {
            "value": "left-drawer",
            "label": "Logo left, menu drawer"
          },
          {
            "value": "center-left",
            "label": "Logo center, menu left"
          },
          {
            "value": "center",
            "label": "Logo center, menu below"
          },
          {
            "value": "center-drawer",
            "label": "Logo center, menu drawer"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_style",
        "label": "Header style",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "sticky",
            "label": "Sticky"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "sticky_index",
        "label": "Overlay header over homepage",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sticky_collection",
        "label": "Overlay header over collection",
        "info": "(if collection image is enabled)",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "header_search_enable",
        "label": "Show search icon"
      },
      {
        "type": "header",
        "content": "Typography"
      },
      {
        "type": "range",
        "id": "type_navigation_size",
        "label": "Text size",
        "default": 18,
        "min": 12,
        "max": 40,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "type_navigation_style",
        "label": "Use heading font"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show an announcement"
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement text",
        "default": "Free shipping and returns",
        "info": "When closed, the announcement will remain closed until the next visit. Change the text to see it again."
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement link"
      },
      {
        "type": "header",
        "content": "Countdown bar"
      },
      {
        "type": "checkbox",
        "id": "show_countdown",
        "label": "Show Countdown bar"
      },
      {
        "type": "text",
        "id": "countdown_text",
        "label": "Countdown text",
        "default": "Special offers end's in: "
      },
      {
        "type": "text",
        "id": "countdown_date",
        "label": "Countdown end date",
        "info": "Enter date with format: YYYY-MM-DD"
      },
      {
        "type": "url",
        "id": "countdown_link",
        "label": "Countdown link"
      },
	  {
		"type": "checkbox",
		"id": "enable_gift",
		"label": "Enable Gift Tab",
		"default": true
	  }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "image_picker",
            "id": "logo-inverted",
            "label": "White logo",
            "info": "Used when on top of an image"
          },
          {
            "type": "range",
            "id": "desktop_logo_width",
            "label": "Desktop logo width",
            "default": 200,
            "min": 100,
            "max": 400,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "mobile_logo_width",
            "label": "Mobile logo width",
            "default": 140,
            "min": 60,
            "max": 200,
            "step": 10,
            "unit": "px",
            "info": "Set as a max-width, may appear smaller"
          }
        ]
      }
    ],
    "default": {
      "settings": {}
    }
  }
{% endschema %}
