<section class="hero-banner" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px; height: {{ section.settings.banner_height | plus: 0 }}px;">
        {% if section.settings.overlay %}
          <div class="overlay" style="opacity:  {{ section.settings.overlay_opacity | times: 0.01 }};"></div>
        {% endif %}
        <div class="inner_image_absolute_block visible-md">
            <img src="{{ section.settings.image | img_url: '' }}" class="img" alt="{{ section.settings.title }}">
        </div>
        <div class="inner_image_absolute_block visible-sm">
          <img src="{{ section.settings.image_mobile | img_url: '' }}" class="img" alt="{{ section.settings.title }}">
        </div>
		<div class="content" style="color: {{ section.settings.text_color }};">
          <div class="text-content">
              {% if section.settings.title != blank %}
                  <h1 class="fl-sans">{{ section.settings.title | newline_to_br }}</h1>
              {% endif %}
              {% if section.settings.subtitle != blank %}
                  <p class="banner-subtitle fl-sans">{{ section.settings.subtitle }}</p>
              {% endif %}
          </div>
		</div>
    <div class="btn-groups-links" style="top:  {{ section.settings.btn_y_placement }}%;">
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="btn btn-url" style="border-color: {{ section.settings.button_color }};color:{{ section.settings.button_color }}">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
      {% if section.settings.button_label_2 != blank %}
        <a href="{{ section.settings.button_link_2 }}" class="btn btn-url" style="border-color: {{ section.settings.button_color }};color:{{ section.settings.button_color }}">
          {{ section.settings.button_label_2 }}
        </a>
      {% endif %}
    </div>
</section>

{% schema %}
  {
    "name": "Hero banner",
    "class": "hero-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image Banner"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Banner subheading"
      },
      {
        "type": "html",
        "id": "title",
        "label": "Heading",
        "default": "Banner Title"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button",
        "info": "Leave empty to hide button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Button 2 label",
        "default": "Button text",
        "info": "Leave empty to hide button"
      },
	  {
		"type": "color",
		"id": "button_color",
		"label": "Button color"
	  },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Button 2 link"
      },
      {
        "type": "range",
        "id": "btn_y_placement",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Buttons vertical placement",
        "default": 50
      },
      {
        "type": "checkbox",
        "id": "overlay",
        "label": "Show overlay",
        "default": false
      },
      {
       "type": "range",
       "id": "overlay_opacity",
       "min": 1,
       "max": 100,
       "step": 1,
       "unit": "%",
       "label": "Overlay Opacity",
       "default": 20
      },
      {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
      },
      {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 10
      },
        {
        "type": "text",
        "id": "banner_height",
        "label": "Banner height",
        "default": "583",
        "info": "Enter desired number"
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#333333"
        }
    ],
    "presets": [
      {
        "name": "Hero banner",
        "category": "Banners"
      }
    ]
  }
{% endschema %}
{% stylesheet 'scss' %}
  .hero-banner {
    width: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-width: 768px) {
        height: 375px !important;
    }
    .btn-groups-links {
      display: block;
      position: absolute;
      z-index: 6;
      .btn-url {
        &:nth-of-type(2) {margin-left: 10px;}
        &:hover,
        &:focus,
        &:active {
          padding-right: 20px!important;
          @media screen and (max-width: 589px) {
            padding-right: 18px !important;
          }
        }
      }
    }
    .content {
      z-index: 5;
      .text-content {
        text-align: center;
        h1 {
          @media screen and (min-width: 768px) {
            font-size: 3.5em;
          }
        }
        .banner-subtitle {
          @media screen and (min-width: 768px) {
            font-size: 1.1em;
          }
        }
      }
    }
    .inner_image_absolute_block {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
      background-color: #000;
    }
    .img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  .visible-md {
    display: none;
      @media screen and (min-width: 768px) {
        display: block;
    }
  }
  .visible-sm {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}
{% endstylesheet %}
