{% assign hp_b_en = shop.metafields.airf.hp_b_en %}
{% assign scope = shop.metafields.airf %}
{% assign hp_b_l = scope.hp_b_l %}
{% if hp_b_en == "true" %}
    {% if hp_b_l and hp_b_l != blank %}
        <section class="section-benefits">
            <div class="section-inner">
                <div class="home-benefits">
                    {% for row in hp_b_l.rows %}
                        {% for row_field in row %}
                            {% if row_field.key contains "hp_b_i" %}
                                {% assign hp_b_i = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "hp_b_ti" %}
                                {% assign hp_b_ti = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "hp_b_te" %}
                                {% assign hp_b_te = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="home-benefit">
                            {% if hp_b_i and hp_b_i != "&nbsp" %}
                                <div class="home-benefit-icon">
                                    {{ hp_b_i }}
                                </div>
                            {% endif %}
                            <div class="home-benefit-heading">
                                <h3>{{ hp_b_ti }}</h3>
                            </div>
                            <div class="home-benefit-text">
                                <p>{{ hp_b_te }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}