{% assign hp_b_e = shop.metafields.airf.hp_b_e %}
{% assign hp_b_h = shop.metafields.airf.hp_b_h %}
{% assign hp_b_b = shop.metafields.airf.hp_b_b %}
{% assign hp_b_sh = shop.metafields.airf.hp_b_sh %}
{% assign hp_b_mb = shop.metafields.airf.hp_b_mb %}
{% assign hp_b_u = shop.metafields.airf.hp_b_u %}
{% assign hp_b_sh_b = shop.metafields.airf.hp_b_sh_b %}
{% assign hp_b_sh_l = shop.metafields.airf.hp_b_sh_l %}
{% assign hp_b_sh_sh = shop.metafields.airf.hp_b_sh_sh %}
{% assign hp_b_tc = shop.metafields.airf.hp_b_tc %}
{% assign hp_b_bbc = shop.metafields.airf.hp_b_bbc %}
{% assign hp_b_ubt = shop.metafields.airf.hp_b_ubt %}
{% assign hp_b_btc = shop.metafields.airf.hp_b_btc %}
{% if hp_b_e == "true" %}
    <section class="section-home-banner">
        <div class="home-banner"  {% if hp_b_sh_sh != "true" %}style="background-image: url( {{ 'bn-background.jpg' | asset_url }} )"{% endif %} >
            <div class="section-inner">
                <a href="{{ hp_b_u }}"></a>
                <div class="home-banner-mobile">
                    <a href="{{ hp_b_u }}">
                        <img src="{{ hp_b_mb }}" alt="{{ hp_b_h }}">
                    </a>
                </div>
                <div class="home-banner-heading" {% if hp_b_sh_sh != "true" %} style="margin-bottom: 24px;" {% endif %}>
                    <h1 style="color: {{ hp_b_tc }}">
                        {% comment %}
                        {{ hp_b_h }}
                         {% endcomment %} 
                         Magic and science <br> at your service 
                    </h1>
                </div>
                {% if hp_b_sh_sh == "true" %}
                    <div class="home-banner-text">
                        <a href="{{ hp_b_sh_l }}" style="color: {{ hp_b_tc }}">{{ hp_b_sh }}
                            <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.666748L6.33333 6.00008L0.999998 11.3334" stroke="white"/>
                            </svg>
                        </a>
                    </div>
                {% endif %}
                {% if hp_b_sh_b == "true" %}
                    <div class="home-banner-links">
                        <a href="https://aromahigh.myshopify.com/collections/all" >Shop aromahigh</a>
                    </div>
                {% endif %}
                {% comment %}
                {% if hp_b_ubt and hp_b_ubt != '&nbsp' %}
                    <p>{{ hp_b_ubt }}</p>
                {% endif %}
                {% endcomment %}
            </div>
        </div>
    </section>
    <style>
        .home-banner{
            background-image: url('{{ hp_b_b }}')
        }
        .home-banner-links a:hover{
            background-color: {{ hp_b_btc }};
            color: {{ hp_b_bbc }};
        }
        {% assign hp_b_bo = shop.metafields.airf.hp_b_bo %}
        {% if hp_b_bo == "true" %}
            section.section-home-banner .home-banner:before{
                display: block;
                content: '';
                background: linear-gradient(90deg, #000 12.2%, rgba(0,0,0,0) 62.79%);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        {% else %}
            section.section-home-banner .home-banner:before{
                display: none;
            }
        {% endif %}
        @media (max-width: 400px) {
            .home-banner{
                background-image: url('{{ hp_b_mb }}')
            }
        }
    </style>
{% endif %}