{% assign hp_bs_e = shop.metafields.airf.hp_bs_e %}
{% assign hp_bs_h = shop.metafields.airf.hp_bs_h %}



{% assign scope = shop.metafields.airf %}
{% assign hp_bs_pl = scope.hp_bs_pl %}
{% if hp_bs_e == "true" %}
    <section class="section-best-seller">
        <div class="section-inner">
            <div class="home-best-seller">
                <div class="home-best-seller-heading">
                    <h2>{{ hp_bs_h }}</h2>
                </div>
                {% assign hp_bs_pl = shop.metafields.airf['hp_bs_pl'] %}
                {% if hp_bs_pl and hp_bs_pl != blank %}
                    {% assign separator = "###" %}
                    {% assign hp_bs_pl_related_handles = hp_bs_pl | split: separator %}
                    <div class="best-items">
                        {% for handle in hp_bs_pl_related_handles %}
                            {% assign related_product = all_products[handle] %}
                            {% unless related_product.empty? %}
                                <div class="best-item">
                                    <div class="best-item-image">
                                        <a href="{{ related_product.url }}">
                                            <img src="{{ related_product.featured_image | img_url: 'master'}}" alt="{{ related_product.title }}">
                                        </a>
                                    </div>
                                    <div class="best-item-title">
                                        <a href="{{ related_product.url }}">{{ related_product.title }}</a>
                                    </div>
                                    <div class="best-item-price">
                                        <p>{{ related_product.price | money }}</p>
                                    </div>
                                    {% if related_product.first_available_variant.id %}
                                        <div class="best-item-add">
                                            <a href="#" class="add-to-cart" data-variant="{{ related_product.first_available_variant.id }}">
                                                <span>
                                                    Add To Cart
                                                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11.193 9L15.143 5L11.193 1" stroke="white" stroke-miterlimit="10" stroke-linecap="round"/>
                                                    <path d="M13.285 5H1" stroke="white" stroke-miterlimit="10" stroke-linecap="round"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endunless %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        $('.best-item-add a').click(function (e) {
            e.preventDefault();
            var acsCart = [];
            var variant = {};
            variant.id = $(this).data('variant');
            variant.qty = 1;
            //console.log(variant);
            acsCart.push(variant);

            if (acsCart.length > 0){
                MGUtil.data = acsCart;
                MGUtil.total = MGUtil.data.length;
                //console.log(MGUtil.data);
                MGUtil.action = 'add';
                MGUtil.recursive();
            }
        });
    </script>
{% endif %}