{% assign hp_swl_e = shop.metafields.airf.hp_swl_e %}
{% assign hp_swl_li = shop.metafields.airf.hp_swl_li %}
{% assign hp_swl_lt = shop.metafields.airf.hp_swl_lt %}
{% assign hp_swl_lte = shop.metafields.airf.hp_swl_lte %}
{% assign hp_swl_ll = shop.metafields.airf.hp_swl_ll %}
{% assign hp_swl_lc = shop.metafields.airf.hp_swl_lc %}
{% assign hp_swl_ri = shop.metafields.airf.hp_swl_ri %}
{% assign hp_swl_rt = shop.metafields.airf.hp_swl_rt %}
{% assign hp_swl_rte = shop.metafields.airf.hp_swl_rte %}
{% assign hp_swl_rl = shop.metafields.airf.hp_swl_rl %}
{% assign hp_swl_rc = shop.metafields.airf.hp_swl_rc %}
{% if hp_swl_e == "true" %}
    <div class="home-content-hero">
        <a  href="{{ hp_swl_ll }}" class="home-content-hero__col" style="background: {{ hp_swl_lc }};">
            <article>
               <figure><img src="{{hp_swl_li}}" srcset="{{ hp_swl_li }}, {{ hp_swl_li }} 2x"  alt=""></figure>
                <h5>{{ hp_swl_lt }}</h5>
                <p>{{ hp_swl_lte }}</p>
                <img src="{{ 'arrow.svg' | asset_url }}"  alt="" class="home-content-hero__arrow">
            </article>
        </a>
        <a href="{{ hp_swl_rl }}" class="home-content-hero__col" style="background: {{ hp_swl_rc }};">
            <article>
                <figure><img src="{{ hp_swl_ri }}" srcset="{{ hp_swl_ri }}, {{ hp_swl_ri }} 2x"  alt=""></figure>
                <h5>{{ hp_swl_rt }}</h5>
                <p>{{ hp_swl_rte }}</p>
                <img src="{{ 'arrow.svg' | asset_url }}"  alt="" class="home-content-hero__arrow">
            </article>
        </a>
    </div>
{% endif %}