{% assign hp_c_e = shop.metafields.airf.hp_c_e %}
{% assign hp_c_h = shop.metafields.airf.hp_c_h %}
{% assign hp_c_sh = shop.metafields.airf.hp_c_sh %}
{% assign hp_c_ss = shop.metafields.airf.hp_c_ss %}
{% assign scope = shop.metafields.airf %}
{% assign hp_c_c_l = scope.hp_c_c_l %}
{% if hp_c_e == "true" %}
    <section class="section-collections">
        <div class="section-inner">
            <div class="arrows-down">
                <svg width="24" height="48" viewBox="0 0 24 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 8L12 16L4 8" stroke="black"/>
                    <path d="M20 20L12 28L4 20" stroke="black"/>
                    <path d="M20 32L12 40L4 32" stroke="black"/>
                </svg>
            </div>
            <div class="home-collections-wrap">
                <div class="home-collections-heading">
                    <h2>{{ hp_c_h }}</h2>
                    <p>{{ hp_c_sh }}</p>
                </div>
                {% if hp_c_c_l and hp_c_c_l != blank %}
                    <div class="home-collections">
                        {% for row in hp_c_c_l.rows %}
                            {% for row_field in row %}
                                {% if row_field.key contains "hp_c_cl_i" %}
                                    {% assign hp_c_cl_i = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "hp_c_cl_t" %}
                                    {% assign hp_c_cl_t = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "hp_c_cl_l" %}
                                    {% assign hp_c_cl_l = scope[row_field.key] %}
                                {% endif %}
                            {% endfor %}
                            <div class="home-collection">
                                <div class="home-collection-image">
                                    <a href="{{ hp_c_cl_l }}">
                                        <img src="{{ hp_c_cl_i }}" alt="">
                                    </a>
                                </div>
                                <div class="home-collection-title">
                                    <a href="{{ hp_c_cl_l }}">
                                        {{ hp_c_cl_t }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
                <script>
                    jQuery('.home-collections').slick({
                        dots: true,
                        infinite: true,
                        speed: 300,
                        slidesToShow: {{hp_c_ss}},
                        slidesToScroll: 1,
                        nextArrow: '<div class="arrow right"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L9 9L1 17" stroke="black"/></svg></div>',
                        prevArrow: '<div class="arrow left"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 17L1 9L9 1" stroke="black"/></svg></div>',
                        variableWidth: true,
                        responsive: [
                            {
                                breakpoint: 991,
                                settings: "unslick"
                            }
                            // You can unslick at a given breakpoint now by adding:
                            // settings: "unslick"
                            // instead of a settings object
                        ]
                    });
                </script>
                <div class="home-collections-view-more">
                    <a href="#">Show more</a>
                </div>
                <script>
                    jQuery('.home-collections-view-more a').click(function (e) {
                        e.preventDefault();
                        var text = jQuery(this).text();
                        jQuery(this).text(
                            text == "Show more" ? "Show less" : "Show more");
                        jQuery('.home-collections').toggleClass('view-more');
                    });
                </script>
            </div>
        </div>
    </section>
{% endif %}