{% assign hp_f_e = shop.metafields.airf.hp_f_e %}
{% assign hp_f_h = shop.metafields.airf.hp_f_h %}
{% assign hp_f_b = shop.metafields.airf.hp_f_b %}
{% assign hp_f_bm = shop.metafields.airf.hp_f_bm %}
{% assign hp_f_t = shop.metafields.airf.hp_f_t %}
{% assign hp_f_l = shop.metafields.airf.hp_f_l %}
{% assign hp_f_bt = shop.metafields.airf.hp_f_bt %}
{% if hp_f_e == "true" %}
    <section class="section-founded">
        <div class="section-inner">
            <div class="home-founded">
                <div class="home-founded-heading">
                    <h2>{{ hp_f_h }}</h2>
                </div>
                <div class="home-founded-text">
                    <p>{{ hp_f_t }}</p>
                </div>
                <div class="home-founded-link">
                    <a href="{{ hp_f_l }}">{{ hp_f_bt }}</a>
                </div>
                <div class="home-founded-image">
                    <img src="{{ hp_f_b }}" alt="{{ hp_f_h }}">
                </div>
            </div>
        </div>
    </section>
    <style>
        .home-founded{
            background-image: url('{{ hp_f_b }}')
        }
    </style>
{% endif %}