{% assign hp_gts_e = shop.metafields.airf.hp_gts_e %}
{% assign hp_gts_li = shop.metafields.airf.hp_gts_li %}
{% assign hp_gts_lbt = shop.metafields.airf.hp_gts_lbt %}
{% assign hp_gts_lbl = shop.metafields.airf.hp_gts_lbl %}
{% assign hp_gts_ri = shop.metafields.airf.hp_gts_ri %}
{% assign hp_gts_rbt = shop.metafields.airf.hp_gts_rbt %}
{% assign hp_gts_rbl = shop.metafields.airf.hp_gts_rbl %}
{% if hp_gts_e == "true" %}
    <div class="go-to-shop">
        <div class="section-inner">
            <div class="page__container">
                <div class="go-to-shop__col" style="background-image: url( {{ hp_gts_li }} )">
                    <div class="go-to-shop__button"><a href="{{ hp_gts_lbl }}" class="button">{{ hp_gts_lbt }}</a></div>
                </div>
                <div class="go-to-shop__col" style="background-image: url( {{ hp_gts_ri }} )" >
                    <div class="go-to-shop__button"><a href="{{ hp_gts_rbl }}" class="button">{{ hp_gts_rbt }}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}