{% assign hp_i_e = shop.metafields.airf.hp_i_e %}
{% assign hp_i_h = shop.metafields.airf.hp_i_h %}
{% assign hp_i_bt = shop.metafields.airf.hp_i_bt %}
{% assign hp_i_ss = shop.metafields.airf.hp_i_ss %}
{% assign hp_i_sh = shop.metafields.airf.hp_i_sh %}
{% assign scope = shop.metafields.airf %}
{% assign hp_i_l = scope.hp_i_l %}

{% if hp_i_e == "true" %}
    {% if hp_i_l and hp_i_l != blank %}
        <section class="section-instagram">
                <div class="home-instagram">
                    <div class="home-instagram-heading">
                        <h4>Let's be friends</h4>
                        <p>Follow us: <a href="#">@aromahigh</a> <br>
                            Share your style: <a href="#">#myaromahigh</a>
                        </p>
                        <p>We obsessively watch those hashtags - share a pic and you might be featured :)</p>
                    </div>
                    <div class="home-instagram-wrapper">
                        <div class="home-instagram-list-wrap">
                            <div class="home-instagram-list">
                                {% for row in hp_i_l.rows %}
                                    {% for row_field in row %}
                                        {% if row_field.key contains "hp_i_l_i" %}
                                            {% assign hp_i_l_i = scope[row_field.key] %}
                                        {% endif %}
                                        {% if row_field.key contains "hp_i_l_t" %}
                                            {% assign hp_i_l_t = scope[row_field.key] %}
                                        {% endif %}
                                    {% endfor %}
                                    <div class="home-instagram-item">
                                        <div class="home-instagram-item-image">
                                            <div class="image-placeholder" style="background-image: url('{{ hp_i_l_i }}')"></div>
                                        </div>
                                        <div class="home-intagram-item-title">
                                            <p>
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.11996 0.959839C2.82636 0.959839 0.959961 2.82623 0.959961 5.11984V10.8798C0.959961 13.1734 2.82636 15.0398 5.11996 15.0398H10.88C13.1736 15.0398 15.04 13.1734 15.04 10.8798V5.11984C15.04 2.82623 13.1736 0.959839 10.88 0.959839H5.11996ZM5.11996 1.59984H10.88C12.8276 1.59984 14.4 3.17216 14.4 5.11984V10.8798C14.4 12.8275 12.8276 14.3998 10.88 14.3998H5.11996C3.17229 14.3998 1.59996 12.8275 1.59996 10.8798V5.11984C1.59996 3.17216 3.17229 1.59984 5.11996 1.59984ZM11.84 3.51984C11.6702 3.51984 11.5074 3.58727 11.3874 3.70729C11.2674 3.82731 11.2 3.9901 11.2 4.15984C11.2 4.32958 11.2674 4.49236 11.3874 4.61239C11.5074 4.73241 11.6702 4.79984 11.84 4.79984C12.0097 4.79984 12.1725 4.73241 12.2925 4.61239C12.4125 4.49236 12.48 4.32958 12.48 4.15984C12.48 3.9901 12.4125 3.82731 12.2925 3.70729C12.1725 3.58727 12.0097 3.51984 11.84 3.51984ZM7.99996 4.47984C6.05971 4.47984 4.47996 6.05959 4.47996 7.99984C4.47996 9.94009 6.05971 11.5198 7.99996 11.5198C9.94021 11.5198 11.52 9.94009 11.52 7.99984C11.52 6.05959 9.94021 4.47984 7.99996 4.47984ZM7.99996 5.11984C9.59433 5.11984 10.88 6.40547 10.88 7.99984C10.88 9.59421 9.59433 10.8798 7.99996 10.8798C6.40559 10.8798 5.11996 9.59421 5.11996 7.99984C5.11996 6.40547 6.40559 5.11984 7.99996 5.11984Z" fill="black"/>
                                                </svg>
                                                <a href="/" class="button">SHOP IT</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <script>
            jQuery('.home-instagram-list-js').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                swipeToSlide: true,
                touchMove: true,
                variableWidth: true,
                touchThreshold: 70,
                nextArrow: '<div class="arrow right"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L9 9L1 17" stroke="black"/></svg></div>',
                prevArrow: '<div class="arrow left"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 17L1 9L9 1" stroke="black"/></svg></div>'
            });
        </script>
    {% endif %}
{% endif %}