{% assign hp_m_e = shop.metafields.airf.hp_m_e %}
{% assign hp_m_ci = shop.metafields.airf.hp_m_ci %}
{% assign scope = shop.metafields.airf %}
{% assign hp_m_ml = scope.hp_m_ml %}
{% if hp_m_e == "true" %}
    {% if hp_m_ml and hp_m_ml != blank %}
        <div class="home-section-detailed">
            <div class="section-inner">
                <figure class="home-section-detailed__image">
                    <img src="{{ hp_m_ci }}" srcset="{{ hp_m_ci }}, {{ hp_m_ci }} 2x" alt="">
                </figure>
                <div class="home-section-detailed__list">
                    {% for row in hp_m_ml.rows %}
                        {% for row_field in row %}
                            {% if row_field.key contains "hp_m_ml_i" %}
                                {% assign hp_m_ml_i = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "hp_m_ml_t" %}
                                {% assign hp_m_ml_t = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "hp_m_ml_c" %}
                                {% assign hp_m_ml_c = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="magic-item ">
                            <div class="magic-item-icon">
                                {{ hp_m_ml_i }}
                            </div>
                            <article>
                            <div class="magic-item-title">
                                <h3>{{ hp_m_ml_t }}</h3>
                            </div>
                            <div class="magic-item-text">
                                <p>{{ hp_m_ml_c }}</p>
                            </div>
                            </article>
                        </div>
                    {% endfor %}
                    <div class="magic-button">
                        <a href="/collections/all">Shop Aromahigh Essential Oils</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}