{% assign hp_n_e = shop.metafields.airf.hp_n_e %}
{% assign hp_n_h = shop.metafields.airf.hp_n_h %}
{% assign hp_n_sh = shop.metafields.airf.hp_n_sh %}
{% assign hp_n_bt = shop.metafields.airf.hp_n_bt %}
{% assign hp_n_i = shop.metafields.airf.hp_n_i %}
{% if hp_n_e == "true" %}
    <section class="section-newsletter">
        <div class="section-inner">
            <div class="home-newsletter-wrap">
                <div class="home-newsletter-content">
                    <h2>{{ hp_n_h }}</h2>
                    <p>{{ hp_n_sh }}</p>
                    {% form 'customer', id: 'newsletter-footer-so' %}
                        {% if form.posted_successfully? %}
                            <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
                        {% endif %}
                        {% if form.context == 'footer' %}
                            {% if form.errors %}
                                {{ form.errors | default_errors }}
                            {% endif %}
                        {% endif %}
                        <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                        <input type="hidden" name="contact[tags]" value="prospect,newsletter">
                        <input type="hidden" name="contact[context]" value="footer">
                        <div class="footer__newsletter">
                            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off">
                            <button type="submit" class="footer__newsletter-btn" name="commit">
                                {{ hp_n_bt }}
                            </button>
                        </div>
                    {% endform %}
                </div>
                <div class="home-newsletter-image">
                    <img src="{{ hp_n_i }}" alt="{{ hp_n_bt }}">
                </div>
            </div>
        </div>
    </section>
    <script>
        jQuery('#newsletter-footer-so .footer__newsletter-input').change(function () {
            if (jQuery('#newsletter-footer-so .footer__newsletter-input').val() != ''){
                jQuery('#newsletter-footer-so .footer__newsletter-input').removeClass('error');
            }else{
                jQuery('#newsletter-footer-so .footer__newsletter-input').addClass('error');
            }
        });
        jQuery('button.footer__newsletter-btn').click(function () {
            if (jQuery('#newsletter-footer-so .footer__newsletter-input').val() == ''){
                jQuery('#newsletter-footer-so .footer__newsletter-input').addClass('error');
            }
            if (jQuery('#newsletter-footer-so .footer__newsletter-input').hasClass('error')){
                return false;
            }
        });
    </script>
{% endif %}
