{% assign hp_nf_e = shop.metafields.airf.hp_nf_e %}
{% assign hp_nf_h = shop.metafields.airf.hp_nf_h %}
{% assign hp_nf_i = shop.metafields.airf.hp_nf_i %}
{% if hp_nf_e == "true" %}
    <div class="home-section-nofilter">
        <div class="section-inner">
            <div class="nofilter-wrap">
                <div class="nofilter-left">
                    <div class="nofilter-heading">
                        <h2>{{ hp_nf_h }}</h2>
                    </div>
                    {% assign scope = shop.metafields.airf %}
                    {% assign hp_nf_l = scope.hp_nf_l %}
                    {% if hp_nf_l and hp_nf_l != blank %}
                        <div class="nofilter-list">
                            {% for row in hp_nf_l.rows %}
                                {% for row_field in row %}
                                    {% if row_field.key contains "text" %}
                                        <p>{{ scope[row_field.key] }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="nofilter-right">
                    <div class="nofilter-img">
                        <img src="{{ hp_nf_i }}" alt="{{ hp_nf_h }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}