{% assign hp_o_e = shop.metafields.airf.hp_o_e %}
{% assign hp_o_h = shop.metafields.airf.hp_o_h %}
{% assign hp_o_b = shop.metafields.airf.hp_o_b %}
{% assign hp_o_bm = shop.metafields.airf.hp_o_bm %}
{% assign hp_o_l = shop.metafields.airf.hp_o_l %}
{% assign hp_o_bt = shop.metafields.airf.hp_o_bt %}
{% if hp_o_e == "true" %}
    <section class="section-offer">
        <div class="section-inner">
            <div class="home-offer">
                <div class="home-offer-text">
                    <h2>{{ hp_o_h }}</h2>
                </div>
                <div class="home-offer-link">
                    <a href="{{ hp_o_l }}">{{ hp_o_bt }}</a>
                </div>
            </div>
        </div>
    </section>
    <style>
        .home-offer{
            background-image: url('{{ hp_o_b }}')
        }
        @media (max-width: 400px) {
            .home-offer{
                background-image: url('{{ hp_o_bm }}')
            }
        }
    </style>
{% endif %}
