{% assign hp_p_h = shop.metafields.airf.hp_p_h %}
{% assign enable_int = shop.metafields.airf.enable_int %}
{% if enable_int == "true" %}
    <div class="internal-links-list-wrap">
        <div class="page-width">
            <div class="internal-links-list-heading">
                <h2>{{ hp_p_h }}</h2>
            </div>
            
        </div>
            <div class="internal-links-list">
                {% assign scope = shop.metafields.airf %}
                {% assign links_list = scope.links_list %}
                {% if links_list and links_list != blank %}
                    {% for row in links_list.rows %}
                        {% for row_field in row %}
                            {% if row_field.key contains "label_inc" %}
                                {% assign label_inc = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "link_inc" %}
                                {% assign link_inc = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="internal-link">
                            <a href="{{ link_inc }}">{{ label_inc }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
                {% assign scope = collection.metafields.airf %}
                {% assign list_of_li = scope.list_of_li %}
                {% if list_of_li and list_of_li != blank %}
                    {% for row in list_of_li.rows %}
                        {% for row_field in row %}
                            {% if row_field.key contains "col_label" %}
                                {% assign col_label = scope[row_field.key] %}
                            {% endif %}
                            {% if row_field.key contains "col_url_l" %}
                                {% assign col_url_l = scope[row_field.key] %}
                            {% endif %}
                        {% endfor %}
                        <div class="internal-link">
                            <a href="{{ col_url_l }}">{{ col_label }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
    </div>
    <style>
        .internal-links-list {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .internal-links-list-wrap {
            background: #fff;
            padding-top: 52px;
            padding-bottom: 0;
            margin-bottom: 52px;
        }
        .internal-links-list-heading h2{
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            color: #000000;
            text-align: center;
        }
        .internal-links-list-heading{
            margin-bottom: 40px;
        }
        .internal-link a{
            background: #F5F5F5;
            border-radius: 24px;
            text-decoration-line: none;
            display: inline-block;
            padding: 8px 24px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #6E6E6E;
        }
        .internal-link{
            margin-right: 27px;
            margin-bottom: 16px;
        }

    </style>
{% else %}

{% endif %}