{% assign hp_rew_e = shop.metafields.airf.hp_rew_e %}
{% assign hp_rew_h = shop.metafields.airf.hp_rew_h %}
{% assign hp_rew_rt = shop.metafields.airf.hp_rew_rt %}
{% assign hp_rew_rl = shop.metafields.airf.hp_rew_rl %}
{% assign scope = shop.metafields.airf %}
{% assign hp_rew_l = scope.hp_rew_l %}
{% if hp_rew_e == "true" %}
    {% if hp_rew_l and hp_rew_l != blank %}
        <section class="section-reviews">
            <div class="section-reviews__title">{{ hp_rew_h }}</div>
            <div class="section-inner">
                <div class="home-reviews">
                    <div class="home-reviews__slider">
                        {% for row in hp_rew_l.rows %}
                            {% for row_field in row %}
                                {% if row_field.key contains "hp_rew_l_i" %}
                                    {% assign hp_rew_l_i = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "hp_rew_l_t" %}
                                    {% assign hp_rew_l_t = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "hp_rew_l_n" %}
                                    {% assign hp_rew_l_n = scope[row_field.key] %}
                                {% endif %}
                            {% endfor %}
                            <div class="home-reviews__slider-item">
                                <figure><img src="{{ hp_rew_l_i }}" srcset="{{  hp_rew_l_i }}, {{ hp_rew_l_i }} 2x" alt=""></figure>
                                <p>{{ hp_rew_l_t }}</p>
                                <strong>{{ hp_rew_l_n }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="home-reviews__button">
                        <a href="{{ hp_rew_rl }}" class="button">{{ hp_rew_rt }}</a>
                    </div>
                </div>
            </div>
        </section>
        <script>
            jQuery('.home-reviews__slider').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                nextArrow: '<div class="arrow right"><svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.78599 0.658735L16.0559 12.9303C16.4464 13.3208 16.4464 13.9539 16.0559 14.3444L3.78688 26.6151C2.91933 27.4818 1.51511 27.4818 0.650218 26.6151C-0.216444 25.7485 -0.215557 24.3451 0.650218 23.4785L9.78354 14.3435C10.174 13.953 10.174 13.32 9.78358 12.9295L0.649331 3.79273C-0.216444 2.92607 -0.216444 1.52274 0.649331 0.65696C1.51599 -0.207928 2.91933 -0.207928 3.78599 0.658735Z" fill="#333333"/></svg></div>',
                prevArrow: '<div class="arrow left"><svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.78599 0.658735L16.0559 12.9303C16.4464 13.3208 16.4464 13.9539 16.0559 14.3444L3.78688 26.6151C2.91933 27.4818 1.51511 27.4818 0.650218 26.6151C-0.216444 25.7485 -0.215557 24.3451 0.650218 23.4785L9.78354 14.3435C10.174 13.953 10.174 13.32 9.78358 12.9295L0.649331 3.79273C-0.216444 2.92607 -0.216444 1.52274 0.649331 0.65696C1.51599 -0.207928 2.91933 -0.207928 3.78599 0.658735Z" fill="#333333"/></svg></div>',
                responsive: [
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            arrows: false,
                            nextArrow: '',
                            prevArrow: ''
                        }
                    }, 
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: false
                        }
                    }
                ]
            });
            jQuery('.home-reviews-list').slick({
                rows: 2,
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 2,
                slidesToScroll: 2,
                swipeToSlide: true,
                touchMove: true,
                variableWidth: true,
                touchThreshold: 70,
                nextArrow: '<div class="arrow right"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L9 9L1 17" stroke="black"/></svg></div>',
                prevArrow: '<div class="arrow left"><svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 17L1 9L9 1" stroke="black"/></svg></div>',
                responsive: [
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            arrows: false
                        }
                    }, 
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: false
                        }
                    }
                ]
            });
        </script>
    {% endif %}
{% endif %}