{% assign hp_tq_e = shop.metafields.airf.hp_tq_e %}
{% assign hp_tq_h = shop.metafields.airf.hp_tq_h %}
{% assign hp_tq_bt = shop.metafields.airf.hp_tq_bt %}
{% assign hp_tq_bl = shop.metafields.airf.hp_tq_bl %}
{% if hp_tq_e == "true" %}
    <div class="start-quiz">
        <div class="page__container">
            <p>{{ hp_tq_h }}</p>
            <a href="{{ hp_tq_bl }}" class="button">{{ hp_tq_bt }}</a>
        </div>
    </div>
{% endif %}