{% assign hp_t_e = shop.metafields.airf.hp_t_e %}
{% assign hp_t_t = shop.metafields.airf.hp_t_t %}
{% if hp_t_e == "true" %}
    <section class="section-seo-text">
        <div class="section-inner">
            <div class="home-seo-text less">
                <div class="home-seo-texts">
                    {{ hp_t_t }}
                </div>
                <a href="#">Expand</a>
            </div>
        </div>
    </section>
    <script>
        jQuery(document).ready(function () {
            var $btnShowHide = $('.home-seo-text a');
            var $pContent = $('.home-seo-text');
            var $class = 'less';
            var showMoreText = 'Expand';
            var showLessText = 'Hide';
            $btnShowHide.click(function (e) {
                e.preventDefault();
                if ($pContent.hasClass($class)) {
                    $pContent.removeClass($class);
                    $(this).text(showLessText);
                } else {
                    $pContent.addClass($class);
                    $(this).text(showMoreText);
                }
            })
        });
    </script>
{% endif %}