{% assign hp_v_e = shop.metafields.airf.hp_v_e %}
{% assign hp_v_h = shop.metafields.airf.hp_v_h %}
{% assign hp_v_t = shop.metafields.airf.hp_v_t %}
{% assign hp_v_b = shop.metafields.airf.hp_v_b %}
{% assign hp_v_bm = shop.metafields.airf.hp_v_bm %}
{% assign hp_v_v = shop.metafields.airf.hp_v_v %}
{% assign hp_v_bt = shop.metafields.airf.hp_v_bt %}
{% assign hp_v_bta = shop.metafields.airf.hp_v_bta %}
{% if hp_v_e == "true" %}
    <section class="section-video">
        <div class="section-inner">
            <div class="home-video">
                <div class="home-video-heading">
                    <h2>{{ hp_v_h }}</h2>
                </div>
                <div class="home-video-text">
                    <p>{{ hp_v_t }}</p>
                </div>
                <div class="home-video-link">
                    <a href="{{ hp_v_v }}">{{ hp_v_bt }}</a>
                </div>
                <div class="home-video-image">
                    <img src="{{ hp_v_bm }}" alt="{{ hp_v_h }}">
                </div>
            </div>
        </div>
    </section>
    <style>
        .home-video{
            background-image: url('{{ hp_v_b }}')
        }
        @media (max-width: 1100px){
            .home-video{
                background-image: url("{{ hp_v_bta }}");
            }
        }
        @media (max-width: 768px){
            .home-video{
                background-image: url("{{ hp_v_bm }}");
            }
        }
    </style>
{% endif %}