{% assign hp_t_e = shop.metafields.airf.hp_t_e %}
{% assign hp_t_t = shop.metafields.airf.hp_t_t %}
{% assign hp_t_t_t = shop.metafields.airf.hp_t_t_t %}
{% if hp_t_e == "true" %}
<div class="home-why-found">
    <div class="page__container">
        <h4>Why we founded aromahigh?</h4>
        <div class="home-why-found-text min-height">{{ hp_t_t_t }}</div>
        <div class="home-why-found__expand">
            <a>Expand</a>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $( ".home-why-found__expand a" ).click(function() {
            $('.home-why-found-hidden').slideToggle( "fast" );
            $('.home-why-found-text').toggleClass('min-height');
            var text = $(this).text();
            $(this).text(text == "Expand" ? "Collapse" : "Expand");
        });
    });


</script>
    <style>
        .home-why-found-text.min-height {
            max-height: 75px;
            overflow: hidden;
        }
    </style>
{% endif %}
