{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width video_text_block">
  {% capture image_layout %}
    <div class="feature-row__item">
      {% if section.settings.image != blank %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}<a href="{{ section.settings.button_link }}">{% endif %}
        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
          {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="feature-row__image lazyload"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080]"
              data-aspectratio="{{ section.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.image.alt }}">
        </div>
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}</a>{% endif %}
      {% else %}
        <div class="image-wrap">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row" data-aos>
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} larger-text">
      <div class="inner_feature_row_flex">
        {% if section.settings.subtitle != blank %}
          <p class="subtitle">{{ section.settings.subtitle }}</p>
        {% endif %}
        {% if section.settings.title != blank %}
          <h2 class="h3">{{ section.settings.title | newline_to_br }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte featured-row__subtext">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
        {% if section.settings.video_url != blank and section.settings.video_text != blank %}
        <div class="watch_video">
          <a href="{{ section.settings.video_url }}" class="btn">
            <img src="{{ section.settings.icon_video_inner | img_url: ''}}" class="video_icon" alt="">
            <p>{{ section.settings.video_text }}</p>
          </a>
        </div>
        {% endif %}
        {% if section.settings.google_play_url != blank or section.settings.google_play_icon != blank or section.settings.apple_app_store_icon != blank or section.settings.apple_app_store_url != blank %}
        <div class="play_market_app_icons">
          {% if section.settings.google_play_url != blank and section.settings.google_play_icon != blank %}
            <div class="play_market_inner">
              <a href="{{ section.settings.google_play_url }}" class="inner_text_play_market">
                <img src="{{ section.settings.google_play_icon | img_url: '' }}" alt="" class="image_play_market">
              </a>
            </div>
          {% endif %}
          {% if section.settings.apple_app_store_url != blank and section.settings.apple_app_store_icon != blank %}
            <div class="app_store_inner">
              <a href="{{ section.settings.apple_app_store_url }}" class="inner_text_play_market">
                <img src="{{ section.settings.apple_app_store_icon | img_url: '' }}" alt="" class="image_play_market">
              </a>
            </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}






{% schema %}
  {
    "name": "Image with text and video",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Improved"
      },
      {
        "type": "html",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
      {
        "type": "text",
        "id": "video_text",
        "label": "Video Text",
        "default": "WATCH THE VIDEO"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video Url"
      },
      {
        "type": "image_picker",
        "id": "icon_video_inner",
        "label": "Icon video"
      },
      {
        "type": "image_picker",
        "id": "google_play_icon",
        "label": "Google play icon"
      },
      {
        "type": "text",
        "id": "google_play_url",
        "label": "Google play Url"
      },
      {
        "type": "image_picker",
        "id": "apple_app_store_icon",
        "label": "Apple App Store icon"
      },
      {
        "type": "text",
        "id": "apple_app_store_url",
        "label": "Apple App Store Url"
      }
    ]
  }
{% endschema %}
