{% if section.settings.divider %}<div class="section--divider">{% endif %}
{% assign hero_img = page.metafields.airf.hero_img %}
{% assign hero_title = page.metafields.airf.hero_title %}
{% assign layout = 'right' %}
{% assign hero_link = page.metafields.airf.hero_link %}
<div class="page-width full_width section--hero">
  {% capture image_layout %}
  {% if layout == 'left' %}
    <div class="feature-row__item left">
  {% elsif layout == 'right' %}
    <div class="feature-row__item right">
  {% endif %}
      {% if hero_img and hero_img != '&nbsp' %}
        <div class="image_block_inner_hero">
          <img class="feature-row__image lazyload"
              data-src="{{ hero_img }}"
              data-widths="[180, 360, 540, 720, 900, 1080]"
              data-aspectratio="{{ section.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.image.alt }}">
        </div>
      {% else %}
        <div class="image-wrap">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row" data-aos>
    {% if layout == 'left' %}
      {{ image_layout }}
    {% endif %}
    {% if layout == 'left' %}
      <div class="feature-row__item feature-row__text feature-row__text--{{ layout }} larger-text left_block">
    {% elsif layout == 'right' %}
      <div class="feature-row__item feature-row__text feature-row__text--{{ layout }} larger-text right_block">
    {% endif %}
        <div class="inner_feature_row_flex">
        {% if section.settings.subtitle != blank %}
          <p class="subtitle">{{ section.settings.subtitle }}</p>
        {% endif %}
        {% if hero_title and hero_title != '&nbsp' %}
          <h2 class="h3">{{ hero_title | newline_to_br }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte featured-row__subtext">{{ section.settings.text }}</div>
        {% endif %}
        {% if hero_link and hero_link != '&nbsp' %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ hero_link }}
          </a>
        {% endif %}
      </div>
    </div>

    {% if layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>

{% if section.settings.divider %}</div>{% endif %}














{% schema %}
  {
    "name": "Men Full Image with text",
    "settings": [
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      }
    ]
  }
{% endschema %}
