{% assign seen_ttl = page.metafields.airf.seen_ttl %}
{% assign seen_img = page.metafields.airf.seen_img %}
{% if seen_img and seen_img != blank and seen_img != '&nbsp' %}

{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div class="page-width section-logo-list" data-aos="logo__animation">
  {% if seen_ttl and seen_ttl != '&nbsp' %}
      <div class="section-header">
        <h2 class="section-header__title">{{ seen_ttl }}</h2>
      </div>  
  {% endif %}
  {% if seen_img and seen_img != blank %}
    {% assign separator = "###" %}
    {% assign seen_img_childs_keys = seen_img | split: separator %}
    <div class="logo-bar logo-bar--{{ section.id }}">
      {% for seen_img_child_key in seen_img_childs_keys %}
        <div class="logo-bar__item">
          {% if seen_img_child_key contains "seenimg" %}
            {%- assign img_url = page.metafields.airf[seen_img_child_key] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img src="{{ page.metafields.airf[seen_img_child_key] }}" alt="">
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% if section.settings.divider %}</div>{% endif %}

{% endif %}


{% schema %}
  {
    "name": "Logo list",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "range",
        "id": "logo_opacity",
        "label": "Logo opacity",
        "default": 76,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
