<section class="video_home">
  <div class="video_wrapper">
    <div class="inner_video_home_block">
      <div class="title_block_video_home">
        {% assign v_sup = page.metafields.airf.v_sup %}
        {% if v_sup and v_sup != '&nbsp' %}
        <div class="after_title_video_home">
          <h3 class="after_title_video_home_text">{{ v_sup }}</h3>
        </div>
        {% endif %}
        {% assign v_title = page.metafields.airf.v_title %}
        {% if v_title and v_title != '&nbsp' %}
            <div class="title_video_home">
              <h2 class="title_video_home_text">{{ v_title }}</h2>
            </div>
        {% endif %}
      </div>
      <div class="content_video_home">
        {% assign v_url = page.metafields.airf.v_url %}
        {% if v_url and v_url != '&nbsp' %}
          <a href="{{ v_url }}" class="url_video_home">
        {% endif %}
            <div class="bg_image_home_video">
              {% assign bg_image = '' %}
              {% if page.metafields.airf.v_img != blank %}
                {% assign v_img = page.metafields.airf.v_img %}
              {% endif %}
              {% if page.metafields.airf.v_gif != blank %}
                {% assign v_img = page.metafields.airf.v_gif %}
              {% endif %}
              {% if v_img and v_img != '&nbsp' %}
                  <div class="bg_image_hove_video_absolute" style="background-image: url('{{ v_img }}');"></div>
              {% endif %}
              <div class="absolute_content_video_home_block">
                <div class="button_play_video_home">
                  <img src="{{ 'play_button.png' | asset_url }}" alt="" class="button_play_video_inner">
                </div>
                <div class="content_button_play_video_home">
                  {% assign v_desc = page.metafields.airf.v_desc %}
                  {% if v_desc and v_desc != '&nbsp' %}
                      <div class="title_video_home_play">
                        <p class="text_title_video_home_play">{{ v_desc }}</p>
                      </div>
                  {% endif %}
                  <div class="title_video_home_play_phone">
                    <p class="text_title_video_home_play_phone">PRESS TO PLAY</p>
                  </div>
                  {% assign v_time = page.metafields.airf.v_time %}
                  {% if v_time and v_time != '&nbsp' %}
                      <div class="time_video_home_play">
                        <p class="text_title_video_home_play">{{ v_time }}</p>
                      </div>
                  {% endif %}
                </div>
              </div>
            </div>
        {% if v_url and v_url != '&nbsp' %}
          </a>
        {% endif %}
      </div>
      <div class="story_video_home">
        {% assign v_text = page.metafields.airf.v_text %}
        {% if v_text and v_text != '&nbsp' %}
            <div class="content_story_video_home">
              <p class="content_text_story_text">{{ v_text }}</p>
            </div>
        {% endif %}
        {% assign v_link_c = page.metafields.airf.v_link_c %}
        {% assign v_link_url = page.metafields.airf.v_link_url %}
        {% if v_link_c and v_link_c != '&nbsp' or v_link_url and v_link_url != '&nbsp' %}
            <div class="title_button_story_video_home">
              <a href="{{ v_link_url }}" class="button_story">{{ v_link_c }}</a>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% include 'video-modal' %}








{% schema %}
  {
    "name": "Video Block",
    "class": "index-section-video",
    "settings": [
      {
        "type": "text",
        "id": "after_title",
        "label": "Suptitle",
        "default": "WATCH THE FILM"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "The Origins Of An Unlikely"
      },
      {
        "type": "text",
        "id": "name_video",
        "label": "Video caption",
        "default": "A small white diamond and gold twists just look perfect with our Mini Stackable Twist Diamond Ring."
      },
      {
        "type": "text",
        "id": "time_video",
        "label": "Video length",
        "default": "2:58"
      },
      {
        "type": "image_picker",
        "id": "bg_video_image",
        "label": "Background image"
      },
      {
        "type": "image_picker",
        "id": "bg_video_image_gif",
        "label": "Background image GIF"
      },
      {
        "type": "text",
        "id": "story_text",
        "label": "Story text",
        "default": "A small white diamond and gold twists just look perfect with our Mini Stackable Twist Diamond Ring. A small white diamond and gold twists just look perfect with our Mini Stackable Twist Diamond Ring."
      },
      {
        "type": "text",
        "id": "title_story",
        "label": "Story link",
        "default": "READ OUR STORY"
      },
      {
        "type": "text",
        "id": "url_story_btn",
        "label": "Story link URL",
        "default": "#"
      }
    ]
  }
{% endschema %}