{% include 'product-template',
  image_container_width: section.settings.image_size,
  section_id: section.id,
  social: section.settings.social_enable,
  thumbnail_position: section.settings.thumbnail_position
%}

{% comment %}{% if section.settings.related_enable %}
  {% unless isModal %}
    {% include 'related-products' %}
  {% endunless %}
{% endif %}{% endcomment %}

{% if section.settings.collection_links_enable and collection %}
  {% unless isModal %}
    {% include 'collection-navigation-links' %}
  {% endunless %}
{% endif %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "label": "Thumbnail position",
        "default": "beside",
        "options": [
          {
            "value": "beside",
            "label": "Next to image"
          },
          {
            "value": "below",
            "label": "Below image"
          }
        ]
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "Description position",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Next to images"
          },
          {
            "value": "full",
            "label": "Below images"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "social_enable",
        "label": "Enable social sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "related_enable",
        "label": "Show related products",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "collection_links_enable",
        "label": "Show back/next product links",
        "default": true
      },
      {
        "type": "range",
        "id": "related_count",
        "label": "Number of related products",
        "default": 4,
        "min": 2,
        "max": 5,
        "step": 1
      }
    ]
  }
{% endschema %}
