{% include 'product-template',
  image_container_width: section.settings.image_size,
  section_id: section.id,
  social: section.settings.social_enable,
  thumbnail_position: section.settings.thumbnail_position
%}

{% comment %}{% if section.settings.related_enable and section.settings.related_position == 'above' %}
  {% unless isModal %}
    {% include 'related-products' %}
  {% endunless %}
{% endif %}{% endcomment %}

{% comment %}{% include 'page-template-blocks' %}{% endcomment %}

{% comment %}{% if section.settings.related_enable and section.settings.related_position == 'below' %}
  {% unless isModal %}
    {% include 'related-products' %}
  {% endunless %}
{% endif %}{% endcomment %}

{% if section.settings.collection_links_enable and collection %}
  {% unless isModal %}
    {% include 'collection-navigation-links' %}
  {% endunless %}
{% endif %}

{% schema %}
  {
    "name": "Product.sections page",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "thumbnail_position",
        "label": "Thumbnail position",
        "default": "beside",
        "options": [
          {
            "value": "beside",
            "label": "Next to image"
          },
          {
            "value": "below",
            "label": "Below image"
          }
        ]
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "Description position",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Next to images"
          },
          {
            "value": "full",
            "label": "Below images"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "social_enable",
        "label": "Enable social sharing",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "related_enable",
        "label": "Show related products",
        "default": true
      },
      {
        "type": "select",
        "id": "related_position",
        "label": "Position",
        "default": "above",
        "options": [
          {
            "value": "above",
            "label": "Above content"
          },
          {
            "value": "below",
            "label": "Below content"
          }
        ]
      },
      {
        "type": "range",
        "id": "related_count",
        "label": "Number of related products",
        "default": 4,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "collection_links_enable",
        "label": "Show back/next product links",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "contact-form",
        "name": "Contact form",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Contact us"
          },
          {
            "type": "checkbox",
            "id": "show_phone",
            "label": "Show phone number"
          }
        ]
      },
      {
        "type": "text-and-image",
        "name": "Image with text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Improved"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image on left"
              },
              {
                "value": "right",
                "label": "Image on right"
              }
            ]
          }
        ]
      },
      {
        "type": "background-image-text",
        "name": "Large image with text box",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Impressive"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Large image with text box"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with a full-width image to draw attention to an important detail of your brand or product line.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "center right",
                "label": "Right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "color",
            "id": "color_border",
            "label": "Image color",
            "info": "Used for mobile border",
            "default": "#f4f4f4"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "range",
            "id": "height",
            "label": "Section height",
            "default": 550,
            "min": 450,
            "max": 750,
            "step": 100,
            "unit": "px"
          }
        ]
      },
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Text block"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your product pages or to add introductory headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "narrow_column",
            "label": "Narrow column",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text"
          }
        ]
      },
      {
        "type": "image-row",
        "name": "Row of images",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          },
          {
            "type": "checkbox",
            "id": "enable_gutter",
            "label": "Add spacing",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable image zoom",
            "default": true
          }
        ]
      },
      {
        "type": "testimonials",
        "name": "Testimonials",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Testimonials"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "round_images",
            "label": "Circular images"
          },
          {
            "type": "header",
            "content": "Testimonial 1"
          },
          {
            "type": "richtext",
            "id": "testimonial_1",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author_1",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "header",
            "content": "Testimonial 2"
          },
          {
            "type": "richtext",
            "id": "testimonial_2",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author_2",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      },
      {
        "type": "text-columns",
        "name": "Text columns with images",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "type": "checkbox",
            "id": "enable_image_1",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_1",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "type": "checkbox",
            "id": "enable_image_2",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_2",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "type": "checkbox",
            "id": "enable_image_3",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_3",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          }
        ]
      },
      {
        "type": "hero-video",
        "name": "Video hero",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Bring your\nbrand to life."
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Heading text size",
            "default": 80,
            "min": 40,
            "max": 100,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Seamless hero videos"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button text",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link",
            "info": "Links to YouTube videos will be opened in a video player"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "default": "vertical-bottom horizontal-left",
            "options": [
              {
                "value": "vertical-center horizontal-left",
                "label": "Center left"
              },
              {
                "value": "vertical-center horizontal-center",
                "label": "Center"
              },
              {
                "value": "vertical-center horizontal-right",
                "label": "Center right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "Bottom left"
              },
              {
                "value": "vertical-bottom horizontal-center",
                "label": "Bottom center"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "text",
            "id": "video_url",
            "label": "Background video link",
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "info": "Supports YouTube, .MP4 and Vimeo. Not all features supported by Vimeo. [Learn more](https://archetypethemes.co/blogs/motion/how-do-i-add-background-videos)"
          },
          {
            "type": "select",
            "id": "section_height",
            "label": "Desktop height",
            "default": "650px",
            "options": [
              {
                "label": "450px",
                "value": "450px"
              },
              {
                "label": "550px",
                "value": "550px"
              },
              {
                "label": "650px",
                "value": "650px"
              },
              {
                "label": "750px",
                "value": "750px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          },
          {
            "type": "select",
            "id": "mobile_height",
            "label": "Mobile height",
            "default": "auto",
            "options": [
              {
                "label": "Auto",
                "value": "auto"
              },
              {
                "label": "250px",
                "value": "250px"
              },
              {
                "label": "300px",
                "value": "300px"
              },
              {
                "label": "400px",
                "value": "400px"
              },
              {
                "label": "500px",
                "value": "500px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
