{% if section.settings.divider %}<div class="section--divider">{% endif %}
<div class="bg_color_black">
<div class="page-width">
  {% capture image_layout %}
    <div class="feature-row__item">
      {% if section.settings.image != blank %}
        <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
          {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="feature-row__image lazyload"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080]"
              data-aspectratio="{{ section.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.image.alt }}">
        </div>
      {% else %}
        <div class="image-wrap">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row" data-aos>
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}
    <div class="phone_title_black_block">
      {% if section.settings.subtitle != blank %}
        <p class="subtitle">{{ section.settings.subtitle }}</p>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="h3">{{ section.settings.title | escape | newline_to_br }}</h2>
      {% endif %}
    </div>
    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} larger-text">
      {% if section.settings.subtitle != blank %}
        <p class="subtitle">{{ section.settings.subtitle }}</p>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="h3">{{ section.settings.title | escape | newline_to_br }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
      <div class="flex_buttons_inner">
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_label | strip }}
        </a>
      {% endif %}
      {% if section.settings.button_label_2 != blank %}
        <a href="{{ section.settings.button_link_2 }}" class="btn">
          {{ section.settings.button_label_2 | strip }}
        </a>
      {% endif %}
      </div>
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>
</div>
{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Image with text black",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Improved"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Button label 2",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Button link 2"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image with text black",
        "category": "Image"
      }
    ]
  }
{% endschema %}
