<section class="absolute_image_text">
	<div class="bg_coloro_absolute_image_text">
		{% capture image_layout %}
		<div class="image_absolute_block image_{{ section.settings.layout }}">
			<div class="inner_image_absolute_block">
				<img src="{{ section.settings.image | img_url: '' }}" class="image_absolute_block_inner" alt="">
			</div>
		</div>
		{% endcapture %}
		{% if section.settings.layout == 'left' %}
		  {{ image_layout }}
		{% endif %}
		<div class="content_absolute_block block_{{ section.settings.layout }}">
			<div class="inner_absolute_block_content">
				<div class="inner_content_absolute_block">
					{% if section.settings.subtitle != blank %}
			          <p class="subtitle">{{ section.settings.subtitle }}</p>
			        {% endif %}
			        {% if section.settings.title != blank %}
			          <h2 class="h3">{{ section.settings.title | newline_to_br }}</h2>
			        {% endif %}
			        {% if section.settings.text != blank %}
			          <div class="rte featured-row__subtext">{{ section.settings.text }}</div>
			        {% endif %}
			        {% if section.settings.button_label != blank %}
			          <a href="{{ section.settings.button_link }}" class="btn">
			            {{ section.settings.button_label }}
			          </a>
			        {% endif %}	
		        </div>
	        </div>
		</div>
		{% if section.settings.layout == 'right' %}
		  {{ image_layout }}
		{% endif %}
		<div class="clearfix"></div>
	</div>
</section>












{% schema %}
  {
    "name": "Image with text absolute",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading",
        "default": "Improved"
      },
      {
        "type": "html",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image with text absolute",
        "category": "Image"
      }
    ]
  }
{% endschema %}
