<div class="section bordered-props">
    <div class="prop-item">
      <div class="prop-content">
        <div class="prop-item--icon">
          <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.81684 18.9923V19.0002H9.1835V18.9923C6.72017 18.9113 4.38484 17.8757 2.67112 16.1044C0.95739 14.333 -0.00044632 11.9648 6.10352e-05 9.5001C0.00320244 7.03654 0.96224 4.67034 2.67521 2.89978C4.38817 1.12922 6.72139 0.0924918 9.1835 0.00791678V0H9.81684V0.00791678C12.2806 0.0884286 14.6166 1.12377 16.331 2.89511C18.0454 4.66645 19.0039 7.03498 19.0039 9.5001C19.0039 11.9652 18.0454 14.3338 16.331 16.1051C14.6166 17.8764 12.2806 18.9118 9.81684 18.9923ZM16.5391 14.8835H14.0285C13.6569 16.0536 13.0022 17.114 12.1225 17.9704C13.8784 17.4226 15.4213 16.3442 16.5391 14.8835ZM0.642269 9.18343H4.12057C4.13715 7.68359 4.35365 6.19266 4.76436 4.75005H2.01883C1.17151 6.07809 0.695824 7.60905 0.641319 9.18343H0.642269ZM9.81684 14.8835V18.3501C11.4239 18.1892 12.607 16.806 13.3452 14.8835H9.81684ZM13.5668 14.2502C14.0019 12.8119 14.2307 11.3193 14.2464 9.81677H9.81684V14.2502H13.5668ZM9.1835 18.351V14.8835H5.64629C5.75142 15.158 5.86226 15.425 5.98449 15.6752C6.55102 16.8294 7.55676 18.1924 9.1835 18.351ZM9.1835 14.2502V9.81677H4.7574C4.76854 11.3187 4.99331 12.8115 5.42494 14.2502H9.1835ZM4.12026 9.81677H0.641001C0.693771 11.3905 1.16713 12.9213 2.01187 14.2502H4.76405C4.35349 12.8075 4.13699 11.3166 4.12026 9.81677ZM4.7536 9.18343H9.1835V4.75005H5.43349C4.99842 6.18827 4.76961 7.68094 4.75391 9.18343H4.7536ZM9.1835 4.11671V0.650124C7.5764 0.810992 6.39332 2.19421 5.65516 4.11671H9.1835ZM9.81684 0.650124V4.11671H13.3452C12.607 2.19421 11.4239 0.810992 9.81684 0.650124ZM9.81684 4.75005V9.18343H14.2464C14.2307 7.68094 14.0019 6.18827 13.5668 4.75005H9.81684ZM14.876 9.18343H18.3593C18.3048 7.60905 17.8291 6.07809 16.9818 4.75005H14.2344C14.647 6.19218 14.8629 7.68348 14.876 9.18343ZM14.8801 9.81677C14.8634 11.3166 14.6468 12.8076 14.236 14.2502H16.9815C17.8288 12.9221 18.3045 11.3912 18.359 9.81677H14.8801ZM3.07936 15.615C4.1227 16.717 5.43312 17.5307 6.88352 17.977C5.99985 17.1199 5.34247 16.057 4.9702 14.8835H2.45616C2.65062 15.1383 2.85866 15.3825 3.07936 15.615ZM2.46122 4.11671H4.96893C5.34052 2.94664 5.99523 1.8864 6.87497 1.03013C5.1202 1.57835 3.5783 2.65661 2.46122 4.11671ZM12.1159 1.02759C12.7315 1.5995 13.2305 2.28527 13.5852 3.047C13.7526 3.39512 13.9006 3.75224 14.0285 4.11671H16.5391C15.4199 2.65407 13.8744 1.57475 12.1159 1.02759Z" fill="#212731"/>
          </svg>
        </div>
        <div class="prop-item--text">100k+ Watches sold worldwide</div>
      </div>
    </div>
  <div class="prop-item">
    <div class="prop-content">
      <div class="prop-item--icon">
        <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.3869 7.06396C10.0274 7.37187 9.62145 7.62719 9.17862 7.81322C10.3685 8.03637 11.3302 8.50537 12.038 9.2277C13.248 10.4624 13.8355 12.5072 13.7839 15.3053C13.7744 15.312 13.7594 15.3192 13.742 15.3192H1.07396C1.05451 15.3192 1.03804 15.3105 1.02831 15.303C0.953782 12.41 1.49634 10.4091 2.6869 9.18605C3.39079 8.46299 4.36369 7.99948 5.58095 7.79101C5.13938 7.59929 4.73571 7.33848 4.3789 7.02505C0.454606 8.25628 -0.0769969 12.216 0.00805009 15.3589C0.0222461 15.9012 0.509959 16.3405 1.07396 16.3405H13.742C14.306 16.3405 14.7934 15.9012 14.8044 15.3589C14.867 12.2489 14.2377 8.33931 10.3869 7.06396Z" fill="#212731"/>
          <path d="M7.40432 7.14897C9.37881 7.14897 10.9788 5.54847 10.9788 3.57397C10.9788 1.60025 9.37881 0 7.40432 0C5.43107 0 3.82983 1.60025 3.82983 3.57397C3.82983 5.54847 5.43107 7.14897 7.40432 7.14897ZM7.40432 1.02128C8.81207 1.02128 9.95752 2.1665 9.95752 3.57397C9.95752 4.98199 8.81207 6.12769 7.40432 6.12769C5.99655 6.12769 4.85112 4.98199 4.85112 3.57397C4.85112 2.1665 5.99655 1.02128 7.40432 1.02128Z" fill="#212731"/>
          <path d="M17.8722 8.68089C19.5644 8.68089 20.9363 7.30929 20.9363 5.6168C20.9363 3.9253 19.5644 2.55321 17.8722 2.55321C16.1807 2.55321 14.8086 3.9253 14.8086 5.6168C14.8086 7.30929 16.1807 8.68089 17.8722 8.68089ZM17.8722 3.57449C18.9987 3.57449 19.915 4.49055 19.915 5.6168C19.915 6.7433 18.9987 7.65961 17.8722 7.65961C16.7459 7.65961 15.8299 6.7433 15.8299 5.6168C15.8299 4.49055 16.7459 3.57449 17.8722 3.57449Z" fill="#212731"/>
          <path d="M15.0832 8.59335C14.8308 8.68935 14.5985 8.8013 14.3818 8.92521C14.5601 9.20721 14.7214 9.50742 14.867 9.82432C15.2505 9.60217 15.6888 9.43861 16.1882 9.33439C15.7791 9.14839 15.4071 8.89705 15.0832 8.59335Z" fill="#212731"/>
          <path d="M20.6206 8.63051C20.2958 8.92722 19.9247 9.17332 19.5171 9.3536C20.3556 9.5431 21.0295 9.89963 21.5532 10.4337C22.5186 11.4184 22.9978 13.0615 22.9781 15.3192H15.8257C15.8254 15.3394 15.8259 15.3589 15.8254 15.3793C15.8184 15.7281 15.7177 16.0555 15.5484 16.3405H23.1172C23.5842 16.3405 23.9877 15.9702 23.9966 15.5139C24.0468 12.9732 23.5586 9.79865 20.6206 8.63051Z" fill="#212731"/>
        </svg>
      </div>
      <div class="prop-item--text">100k+ followers on instagram</div>
    </div>
  </div>
  <div class="prop-item">
    <div class="prop-content">
      <div class="prop-item--icon">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.9722 6.81003C17.9061 6.60173 17.7297 6.4513 17.5313 6.41658L11.976 5.57184L9.49589 0.295082C9.30851 -0.0983607 8.69125 -0.0983607 8.50386 0.295082L6.02379 5.57184L0.468423 6.41658C0.258994 6.4513 0.0936553 6.60173 0.02752 6.81003C-0.0386153 7.01832 0.0164976 7.24976 0.170813 7.40019L4.19404 11.5082L3.24611 17.3173C3.21304 17.5371 3.29019 17.757 3.46656 17.8843C3.63189 18.0116 3.86337 18.0347 4.05075 17.9306L8.99988 15.188L13.971 17.9306C14.0482 17.9769 14.1364 18 14.2246 18C14.3348 18 14.456 17.9653 14.5442 17.8843C14.7096 17.757 14.7977 17.5371 14.7647 17.3173L13.8167 11.5082L17.84 7.40019C17.9833 7.23819 18.0384 7.01832 17.9722 6.81003ZM12.8467 10.8949C12.7145 11.0222 12.6594 11.2189 12.6924 11.404L13.4971 16.3568L9.26442 14.0193C9.18726 13.973 9.09908 13.9499 9.0109 13.9499C8.92272 13.9499 8.83454 13.973 8.75738 14.0193L4.52472 16.3568L5.32937 11.404C5.36244 11.2189 5.2963 11.0222 5.17505 10.8949L1.74704 7.38862L6.48673 6.67117C6.6631 6.64802 6.81741 6.52073 6.90559 6.35873L8.99988 1.84571L11.1162 6.34715C11.1934 6.52073 11.3477 6.63645 11.5351 6.65959L16.2748 7.37705L12.8467 10.8949Z" fill="#212731"/>
        </svg>
      </div>
      <div class="prop-item--text">10k+ five star feedbacks</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Bordered propositions",
    "class": "index-section index-section--value-props",
    "settings": [],
    "presets": [
      {
        "name": "Bordered propositions",
        "category": "Text"
      }
    ]
  }
{% endschema %}

{% stylesheet 'scss' %}
.bordered-props {
    border: 4px solid #EDEFF0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1300px;
    margin: 120px auto;
    min-height: 98px;
  .prop-item {
    display: flex;
  .prop-content {
    display: flex;
    flex-direction: row;
    .prop-item--icon {
    }
    .prop-item--text {
      display: block;
      margin-left: 15px;
      max-width: 120px;
      font-family: Montserrat;
      font-style: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
 }
}
{% endstylesheet %}
