{% include "product-section-perks" %}  
{% schema %}
  {
    "name": "Value propositions",
    "class": "index-section index-section--value-props",
    "settings": [
    ],
    "presets": [
      {
        "name": "Value propositions",
        "category": "Text"
      }
    ]
  }
{% endschema %}
