<section class="video_home">
  <div class="video_wrapper">
    <div class="inner_video_home_block">
      <div class="title_block_video_home">
        {% if section.settings.after_title != blank %}
        <div class="after_title_video_home">
          <h3 class="after_title_video_home_text">{{ section.settings.after_title }}</h3>
        </div>
        {% endif %}
        {% if section.settings.title != blank %}
            <div class="title_video_home">
              <h2 class="title_video_home_text">{{ section.settings.title }}</h2>
            </div>
        {% endif %}
      </div>
      <div class="content_video_home">
        {% if section.settings.url_story_btn != blank %}
          <a href="{{section.settings.url_story_btn}}" class="url_video_home">
        {% endif %}
            <div class="bg_image_home_video">
              {% assign bg_image = '' %}
              {% if section.settings.bg_video_image != blank %}
                {% assign bg_image = section.settings.bg_video_image | img_url: '' %}
              {% endif %}
              {% if section.settings.bg_video_image_gif != blank %}
                {% assign bg_image = section.settings.bg_video_image_gif | img_url: '' %}
              {% endif %}
              {% if section.settings.bg_video_image != blank %}
                  <div class="bg_image_hove_video_absolute" style="background-image: url('{{ bg_image }}');"></div>
              {% endif %}
              <div class="absolute_gradient_block"></div>
              <div class="absolute_content_video_home_block">
                <div class="button_play_video_home">
                  <img src="{{ 'play_button.png' | asset_url }}" alt="" class="button_play_video_inner">
                </div>
                <div class="content_button_play_video_home">
                  {% if section.settings.name_video != blank %}
                      <div class="title_video_home_play">
                        <p class="text_title_video_home_play">{{ section.settings.name_video }}</p>
                      </div>
                  {% endif %}
                  <div class="title_video_home_play_phone">
                    <p class="text_title_video_home_play_phone">PRESS TO PLAY</p>
                  </div>
                  {% if section.settings.time_video != blank %}
                      <div class="time_video_home_play">
                        <p class="text_title_video_home_play">{{ section.settings.time_video }}</p>
                      </div>
                  {% endif %}
                </div>
              </div>
            </div>
        {% if section.settings.url_story_btn != blank %}
          </a>
        {% endif %}
      </div>
      <div class="story_video_home">
        {% if section.settings.story_text != blank %}
            <div class="content_story_video_home">
              <p class="content_text_story_text">{{ section.settings.story_text }}</p>
            </div>
        {% endif %}
        {% if section.settings.title_story != blank and section.settings.url_story_btn_button != blank %}
            <div class="title_button_story_video_home">
              <a href="/pages/{{ section.settings.url_story_btn_button }}" class="button_story">{{ section.settings.title_story }}</a>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% include 'video-modal' %}








{% schema %}
  {
    "name": "Video Block",
    "class": "index-section-video",
    "settings": [
      {
        "type": "text",
        "id": "after_title",
        "label": "Suptitle",
        "default": "WATCH THE FILM"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "The Origins Of An Unlikely"
      },
      {
        "type": "text",
        "id": "url_story_btn",
        "label": "Video URL",
        "default": "#"
      },
      {
        "type": "text",
        "id": "name_video",
        "label": "Video caption",
        "default": "A small white diamond and gold twists just look perfect with our Mini Stackable Twist Diamond Ring."
      },
      {
        "type": "text",
        "id": "time_video",
        "label": "Video length",
        "default": "2:58"
      },
      {
        "type": "image_picker",
        "id": "bg_video_image",
        "label": "Background image (still)"
      },
      {
        "type": "image_picker",
        "id": "bg_video_image_gif",
        "label": "Background image (GIF)"
      },
      {
        "type": "text",
        "id": "story_text",
        "label": "Story text",
        "default": "A small white diamond and gold twists just look perfect with our Mini Stackable Twist Diamond Ring. A small white diamond and gold twists just look perfect with our Mini Stackable Twist Diamond Ring."
      },
      {
        "type": "text",
        "id": "title_story",
        "label": "Story link",
        "default": "READ OUR STORY"
      },
      {
        "type": "page",
        "id": "url_story_btn_button",
        "label": "Story link URL"
      }
    ],
    "presets": [
      {
        "name": "Video Block",
        "category": "Text"
      }
    ]
  }
{% endschema %}