{% assign ig_sup = page.metafields.airf.ig_sup %}
{% assign ig_title = page.metafields.airf.ig_title %}
{% assign ig_desc = page.metafields.airf.ig_desc %}
{% assign ig_link = page.metafields.airf.ig_link %}

<section class="instagram">
  <div class="page-width">
    <div class="flex_wrapper_instagram">
      <div class="feature-row__item">
        {% if section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="url_link">
        {% endif %}
        {% if ig_sup and ig_sup != '&nbsp' %}
          <p class="subtitle">{{ ig_sup }}</p>
        {% endif %}
        {% if section.settings.button_link != blank %}
          </a>
        {% endif %}
        {% if section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="url_link">
        {% endif %}
          <div class="title_block_instagram">
            {% if section.settings.icon_title != blank %}
              <img src="{{ section.settings.icon_title | img_url: '' }}" alt="" class="title_icon_instagram">
            {% endif %}
            {% if ig_title and ig_title != '&nbsp' %}
              <h2 class="h3">{{ ig_title }}</h2>
            {% endif %}
          </div>
        {% if section.settings.button_link != blank %}
          </a>
        {% endif %}
        {% if section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="url_link">
        {% endif %}
          {% if ig_desc and ig_desc != '&nbsp' %}
            <div class="rte featured-row__subtext">{{ ig_desc }}</div>
          {% endif %}
        {% if section.settings.button_link != blank %}
          </a>
        {% endif %}
        {% if ig_link and ig_link != '&nbsp' %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ ig_link }}
          </a>
        {% endif %}
      </div>
      <div class="feature-row__item">
        <div class="instagram_inner">
          <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-page-size="9" data-feed-id="filippo-loreti" data-theme="lookbook_v2_5"></script>
          <style>.fs-has-links::after {  padding: 3px 6px; color:rgb(255, 255, 255); content: "SHOP THE LOOK";  }.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Montserrat, HelveticaNeue, "Helvetica Neue", sans-serif;;font-style:normal;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Montserrat, HelveticaNeue, "Helvetica Neue", sans-serif;;font-style:normal;font-weight:normal;}.fs-wrapper div.fs-text-container * {color:rgb(255, 255, 255)}.fs-wrapper div.fs-text-container {background-color:rgba(0, 0, 0, 0.71); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 0px }</style>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Instagram feed",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "icon_title",
        "label": "Icon image"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ]
  }
{% endschema %}
