

{% assign sections = page.metafields.airf.sections %}
{% if sections and sections != blank %}
	{% assign separator = "###" %}
	{% assign sections_childs_keys = sections | split: separator %}
	{% assign arr_first = ''  %}
	{% assign arr_second = '' %}
	{% assign arr_third = '' %}
	{% assign arr_fourth = '' %}
	{% assign section_counter = 0 %}
	{% for sections_child_key in sections_childs_keys %}
		{% if sections_child_key contains "1" %}
			{% assign arr_first = arr_first | append: sections_child_key | append: '|'  %}
	    {% endif %}
	    {% if sections_child_key contains "2" %}
			{% assign arr_second = arr_second | append: sections_child_key | append: '|'  %}
	    {% endif %}
	    {% if sections_child_key contains "3" %}
			{% assign arr_third = arr_third | append: sections_child_key | append: '|'  %}
	    {% endif %}
	    {% if sections_child_key contains "4" %}
			{% assign arr_fourth = arr_fourth | append: sections_child_key | append: '|' %}
	    {% endif %}
	{% endfor %}
	
	{% if arr_first != blank %}
		{% assign section_counter = 1 %}
		{% assign block_childs_keys = arr_first | split: '|' %}
		{% for block_child_key in block_childs_keys %}
			{% if block_child_key contains 'stype' %}
				{% assign type = page.metafields.airf[block_child_key] %}
			{% endif %}
			
			{% if block_child_key contains "s_simc" %}
				{% assign s_simc = page.metafields.airf[block_child_key] %}
		        {% if s_simc and s_simc != blank %}
		              {% assign separator = "###" %}
		              {% assign s_simc_related_handles = s_simc | split: separator %}
		              {% for handle in s_simc_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_men =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}
			{% if block_child_key contains "s_smac" %}
				{% assign s_smac = page.metafields.airf[block_child_key] %}
		        {% if s_smac and s_smac != blank %}
		              {% assign separator = "###" %}
		              {% assign s_smac_related_handles = s_smac | split: separator %}
		              {% for handle in s_smac_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_women =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}
			
			{% if block_child_key contains "s_image_p" %}
	            {% assign image_position = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_imgh" %}
	            {% assign image_height = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_image" %}
	            {% assign image = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_vidback" %}
	            {% assign video_back = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_sup" %}
	            {% assign sup_title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_title" %}
	            {% assign title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_desc" %}
	            {% assign description = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_link" %}
	            {% assign link = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_video" %}
	            {% assign video = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_g" %}
	            {% assign app_g = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_as" %}
	            {% assign app_as = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_on" %}
	            {% assign onoff = page.metafields.airf[block_child_key] %}
	        {% endif %}

		{% endfor %}

		{% if onoff == "true" %}
			{% if type == 'full_width' %}
				{% include 'fullwidth-image-with-text' %}
			{% elsif type == 'basic' %}
				{% include 'basic-image-with-text' %}
			{% elsif type == 'black' %}
				{% include 'black-image-with-text' %}
			{% endif %}
		{% endif %}
	{% endif %}
	{% if arr_second != blank %}
		{% assign section_counter = 2 %}
		{% assign block_childs_keys = arr_second | split: '|' %}
		{% for block_child_key in block_childs_keys %}
			{% if block_child_key contains 'stype' %}
				{% assign type = page.metafields.airf[block_child_key] %}
			{% endif %}
				
			{% if block_child_key contains "s_simc" %}
				{% assign s_simc = page.metafields.airf[block_child_key] %}
		        {% if s_simc and s_simc != blank %}
		              {% assign separator = "###" %}
		              {% assign s_simc_related_handles = s_simc | split: separator %}
		              {% for handle in s_simc_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_men =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}
			{% if block_child_key contains "s_smac" %}
				{% assign s_smac = page.metafields.airf[block_child_key] %}
		        {% if s_smac and s_smac != blank %}
		              {% assign separator = "###" %}
		              {% assign s_smac_related_handles = s_smac | split: separator %}
		              {% for handle in s_smac_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_women =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}

			{% if block_child_key contains "s_image_p" %}
	            {% assign image_position = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_imgh" %}
	            {% assign image_height = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_image" %}
	            {% assign image = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_vidback" %}
	            {% assign video_back = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_sup" %}
	            {% assign sup_title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_title" %}
	            {% assign title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_desc" %}
	            {% assign description = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_link" %}
	            {% assign link = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_video" %}
	            {% assign video = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_g" %}
	            {% assign app_g = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_as" %}
	            {% assign app_as = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_on" %}
	            {% assign onoff = page.metafields.airf[block_child_key] %}
	        {% endif %}

		{% endfor %}
		
		{% if onoff == "true" %}
			{% if type == 'full_width' %}
				{% include 'fullwidth-image-with-text' %}
			{% elsif type == 'basic' %}
				{% include 'basic-image-with-text' %}
			{% elsif type == 'black' %}
				{% include 'black-image-with-text' %}
			{% endif %}
		{% endif %}

	{% endif %}
	{% if arr_third != blank %}
		{% assign section_counter = 3 %}
		{% assign block_childs_keys = arr_third | split: '|' %}
		{% for block_child_key in block_childs_keys %}
			{% if block_child_key contains 'stype' %}
				{% assign type = page.metafields.airf[block_child_key] %}
			{% endif %}
			
			{% if block_child_key contains "s_simc" %}
				{% assign s_simc = page.metafields.airf[block_child_key] %}
		        {% if s_simc and s_simc != blank %}
		              {% assign separator = "###" %}
		              {% assign s_simc_related_handles = s_simc | split: separator %}
		              {% for handle in s_simc_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_men =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}
			{% if block_child_key contains "s_smac" %}
				{% assign s_smac = page.metafields.airf[block_child_key] %}
		        {% if s_smac and s_smac != blank %}
		              {% assign separator = "###" %}
		              {% assign s_smac_related_handles = s_smac | split: separator %}
		              {% for handle in s_smac_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_women =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}

			{% if block_child_key contains "s_image_p" %}
	            {% assign image_position = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_imgh" %}
	            {% assign image_height = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_image" %}
	            {% assign image = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_vidback" %}
	            {% assign video_back = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_sup" %}
	            {% assign sup_title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_title" %}
	            {% assign title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_desc" %}
	            {% assign description = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_link" %}
	            {% assign link = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_video" %}
	            {% assign video = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_g" %}
	            {% assign app_g = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_as" %}
	            {% assign app_as = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_on" %}
	            {% assign onoff = page.metafields.airf[block_child_key] %}
	        {% endif %}
		{% endfor %}
		{% if onoff == "true" %}
			{% if type == 'full_width' %}
				{% include 'fullwidth-image-with-text' %}
			{% elsif type == 'basic' %}
				{% include 'basic-image-with-text' %}
			{% elsif type == 'black' %}
				{% include 'black-image-with-text' %}
			{% endif %}
		{% endif %}
	{% endif %}
	{% if arr_fourth != blank %}
		{% assign section_counter = 4 %}
		{% assign block_childs_keys = arr_fourth | split: '|' %}
		{% for block_child_key in block_childs_keys %}
			{% if block_child_key contains 'stype' %}
				{% assign type = page.metafields.airf[block_child_key] %}
			{% endif %}
			{% if block_child_key contains "s_simc" %}
				{% assign s_simc = page.metafields.airf[block_child_key] %}
		        {% if s_simc and s_simc != blank %}
		              {% assign separator = "###" %}
		              {% assign s_simc_related_handles = s_simc | split: separator %}
		              {% for handle in s_simc_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_men =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}
			{% if block_child_key contains "s_smac" %}
				{% assign s_smac = page.metafields.airf[block_child_key] %}
		        {% if s_smac and s_smac != blank %}
		              {% assign separator = "###" %}
		              {% assign s_smac_related_handles = s_smac | split: separator %}
		              {% for handle in s_smac_related_handles %}
		                  
		                      {% assign related_collection = collections[handle] %}
		                      {% unless related_collection.empty? %}
		                          {% assign url_collection_women =  related_collection.url %}
		                      {% endunless %}
		                      
		              {% endfor %}
		          {% endif %}
			{% endif %}
			{% if block_child_key contains "s_image_p" %}
	            {% assign image_position = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_imgh" %}
	            {% assign image_height = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_image" %}
	            {% assign image = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_vidback" %}
	            {% assign video_back = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_sup" %}
	            {% assign sup_title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_title" %}
	            {% assign title = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_desc" %}
	            {% assign description = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_link" %}
	            {% assign link = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_video" %}
	            {% assign video = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_g" %}
	            {% assign app_g = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_app_as" %}
	            {% assign app_as = page.metafields.airf[block_child_key] %}
	        {% endif %}

	        {% if block_child_key contains "s_on" %}
	            {% assign onoff = page.metafields.airf[block_child_key] %}
	        {% endif %}
		{% endfor %}
		{% if onoff == "true" %}
			{% if type == 'full_width' %}
				{% include 'fullwidth-image-with-text' %}
			{% elsif type == 'basic' %}
				{% include 'basic-image-with-text' %}
			{% elsif type == 'black' %}
				{% include 'black-image-with-text' %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endif %}







{% schema %}
  {
    "name": "Section blocks",
    "settings": [
    ]
  }
{% endschema %}