<div class="basic_image_with_text{% if app_g contains 'google' or app_as contains 'apple' %} app-block{% endif %}">
	<div class="page-width">
	  {% capture image_layout %}
	    <div class="feature-row__item">
	      {% if image %}
		      <a href="{% if url_collection_men contains 'collections' %}{{url_collection_men}}{% elsif url_collection_women contains 'collections' %}{{url_collection_women}} {% endif %}" class="image_url_button">
		        <div class="inner_image_absolute_block">
							<div class="img-cover" style="background-image: url({{ image }});"></div>
							{% if video_back != blank and video_back  != '&nbsp' %}
				      	<div
							  data-section-id="{{ section.id }}-{{section_counter}}"
							  data-section-type="video-section"
							  class="video-parent-section hero hero--{{ section.id }}-{{section_counter}}"
							  data-aos="hero__animation">
								  <div class="hero__media hero__media--{{ section.id }}-{{section_counter}}">
								      <video
								        id="Mp4Video-{{ section.id }}-{{section_counter}}"
								        src="{{ video_back }}"
								        loop muted playsinline autoplay class="play-in-viewport"></video>
								  </div>
								</div>
				      {% endif %}
						</div>
			  	</a>
	      {% else %}
	        <div class="image-wrap">
	          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
	        </div>
	      {% endif %}
	    </div>
	  {% endcapture %}

	  <div class="feature-row" data-aos>
	    {% if image_position == 'left' %}
	      {{ image_layout }}
	    {% endif %}

	    <div class="feature-row__item feature-row__text feature-row__text--{{ image_position }} larger-text">
	      <div class="inner_feature_row_flex">
	        {% if sup_title %}
	          <p class="subtitle">{{ sup_title }}</p>
	        {% endif %}
	        {% if title %}
	          <h2 class="h3">{{ title | newline_to_br }}</h2>
	        {% endif %}
	        {% if description %}
	          <div class="rte featured-row__subtext"><p>{{ description }}</p></div>
	        {% endif %}
	        {% if link %}
	          <a href="{% if url_collection_men contains 'collections' %}{{url_collection_men}}{% elsif url_collection_women contains 'collections' %}{{url_collection_women}} {% endif %}" class="btn">
	            {{ link }}
	          </a>
	        {% endif %}
	        {% if video contains 'youtube' %}
	         <div class="watch_video">
	         	<a href="{{ video }}" class="btn">
		            <img src="{{ 'play_button_black.png' | asset_url }}" class="video_icon" alt="">
		            <p>WATCH THE VIDEO</p>
		        </a>
	         </div>
	        {% endif %}
	        {% if app_g contains 'google' or app_as contains 'apple' %}
	        <div class="play_market_app_icons">
	        	{% if app_g contains 'google' %}
	            <div class="play_market_inner">
	              <a href="{{ app_g }}" class="inner_text_play_market">
	                <img src="{{ 'google_play_icon.png' | asset_url }}" alt="" class="image_play_market">
	              </a>
	            </div>
	            {% endif %}
	            {% if app_as contains 'apple' %}
	            <div class="app_store_inner">
	              <a href="{{ app_as }}" class="inner_text_play_market">
	                <img src="//cdn.shopify.com/s/files/1/0122/4602/4256/files/apple-app-store-icon.png?v=1545083635" alt="" class="image_play_market">
	              </a>
	            </div>
	            {% endif %}
	        </div>
	        {% endif %}
	      </div>
	    </div>

	    {% if image_position == 'right' %}
	      {{ image_layout }}
	    {% endif %}
	  </div>
	</div>
</div>

{% assign video_back = '' %}
{% assign image = '' %}
{% assign title = '' %}
{% assign link = '' %}
{% assign description = '' %}
{% assign video = '' %}
{% assign onoff = '' %}