.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Flsans, sans-serif;
  color: #000;
  font-size: 34px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roxboroughcf, Georgia, sans-serif;
  color: #000;
  font-size: 34px;
  line-height: 41px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #c6af76;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

p {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.85px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 30px;
}

ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 17px;
  line-height: 22px;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.85px;
}

strong {
  font-weight: 600;
}

.paragraph {
  display: block;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.85px;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph.center {
  text-align: center;
}

.paragraph.center.white.fix-line {
  max-width: 40vw;
}

.paragraph.center.fix-line {
  max-width: 50vw;
}

.paragraph.bold {
  margin-bottom: 16px;
  font-weight: 600;
}

.paragraph.white {
  color: #fff;
}

.paragraph.white.top-32px.word-limit-32em {
  max-width: 23em;
}

.paragraph.fl-gold {
  color: #c6af76;
}

.paragraph.grey-text {
  color: grey;
}

.paragraph.grey-text.bottom-0px {
  margin-bottom: 0px;
}

.paragraph.top-32px {
  margin-top: 32px;
}

.button {
  margin-top: 10px;
  padding: 14px 32px;
  background-color: #c6af76;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #b29e6a;
}

.button.white {
  background-color: #fff;
  color: #000;
}

.button.white:hover {
  background-color: #d9d9d9;
}

.button.dark {
  background-color: #000;
}

.button.dark:hover {
  background-color: #262626;
}

.button.top-16px {
  margin-top: 16px;
}

.button.top-16px.bottom-16px {
  margin-bottom: 16px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.main_container {
  display: block;
  width: 95%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.main_container.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main_container.top-gap._60px {
  margin-top: 60px;
}

.main_container.gap-btm._60px {
  margin-bottom: 60px;
}

.main_container.bottom-56px {
  padding-bottom: 56px;
}

.main_container.gap {
  margin-top: 80px;
  margin-bottom: 80px;
}

.gap._30px {
  width: 30px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.gap._56px {
  height: 56px;
}

.gap._16px {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: auto;
  margin-left: auto;
}

.text-container {
  max-width: 750px;
}

.text-container.shorter {
  max-width: 540px;
}

.video-section {
  background-color: #000;
}

.video-section.no-bg {
  background-color: transparent;
}

.video-section.no-bg._104px-padding {
  padding-top: 104px;
  padding-bottom: 104px;
}

.style-section {
  margin-top: 80px;
  padding-top: 0px;
}

.style-section.dark {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.h1-heading---white {
  color: #fff;
}

.h2-heading---white {
  color: #fff;
}

.h2-heading---white.center {
  text-align: center;
}

.h2-heading---white.top-56px {
  margin-top: 56px;
}

.paragraph-white {
  color: #fff;
}

.paragraph-white.center {
  text-align: center;
}

.paragraph-white.left-16px {
  margin-left: 16px;
}

.paragraph-white.left-16px.light-grey {
  color: #cecece;
}

.paragraph-white.gap.top-24px {
  margin-top: 24px;
}

.heading-3-white {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.05);
}

.image.align-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.image.align-top.icons {
  margin-top: 4px;
  margin-right: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-img {
  height: 90vh;
  padding-top: 80px;
  background-image: linear-gradient(193deg, #000, rgba(0, 0, 0, 0.5), transparent 46%), url('Ascari_Indigo_rose_gold_rubber_on_wrist_1800x18002x.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.header-img.spaced {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000;
}

.header-img.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('Afilliates_images_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.header-img.center._70--img {
  height: 70vh;
  background-position: 50% 50%;
}

.header-img._60 {
  height: 60vh;
  background-color: #000;
  background-image: url('7_reasons_you_havent_bought_loreti_watch_8.jpg');
  background-position: 65% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-img._60.sneakpeak {
  max-height: 850px;
  min-height: 800px;
  background-color: #000;
  background-image: url('Okeanos-Green-Link-header.jpg');
  background-position: 50vw 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-img._60.align-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header-img._60 {
  height: 60vh;
  background-color: #000;
  background-image: url('7_reasons_you_havent_bought_loreti_watch_8.jpg');
  background-position: 65% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-img._60.sneakpeak {
  max-height: 850px;
  min-height: 800px;
  background-color: #000;
  background-image: url('Okeanos-Green-Link-header.jpg');
  background-position: 50vw 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-img._60.align-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.large-number {
  padding-bottom: 28px;
  color: #c6af76;
  font-size: 80px;
}

.large-number._40px {
  border-radius: 100%;
  font-size: 40px;
}

.large-number._40px.circle {
  width: 64px;
  height: 64px;
  margin-bottom: 40px;
  padding-top: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #c6af76;
  text-align: center;
}

.large-number.center {
  text-align: center;
}

.little-tab {
  padding-top: 60px;
  padding-bottom: 60px;
}

.h4-heading---black-center {
  display: block;
  max-width: 50vw;
  margin-right: auto;
  margin-left: auto;
  color: #000;
  text-align: center;
}

.grid-2 {
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-3 {
  grid-column-gap: 36px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3.revers {
  grid-column-gap: 36px;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
}

.grid-3.revers.mobile {
  display: none;
}

.grid-3.mobile {
  display: none;
}

.grid-3.btm-30px {
  padding-bottom: 30px;
}

.grid-3.center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-body {
  padding-bottom: 80px;
}

.content-body.light-grey {
  background-color: #f7f7f7;
}

.content-body.black {
  background-color: #000;
}

.content-body.black.email-block {
  padding-top: 16px;
  padding-bottom: 60px;
}

.short-accent-fl-gold {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  border-top: 1px solid #c6af76;
}

.grid-3-simple {
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0.25fr 1px minmax(auto, 0.25fr);
  grid-template-rows: 0.25fr 1px minmax(auto, 0.25fr);
}

.h2-heading---center {
  text-align: center;
}

.h2-heading---center.gap-btm._32px {
  margin-bottom: 32px;
}

.paragraph-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.paragraph-center.maxw-520px {
  max-width: 32em;
}

.button-2 {
  margin-top: 10px;
  padding: 14px 32px;
  background-color: #c6af76;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #b29e6a;
}

.button-2.dark {
  background-color: #000;
}

.button-2.dark:hover {
  background-color: #262626;
}

.button-2.dark.center {
  display: inline-block;
}

.centered-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.centered-block.gap-56 {
  padding-top: 34px;
}

.centered-block.gap-56.bottom-104px {
  margin-bottom: 104px;
}

.centered-block.top-56px {
  margin-top: 56px;
}

.centered-block.mobile {
  display: none;
}

.centered-block.gap.top-80px {
  margin-top: 80px;
}

.footer {
  min-height: 60px;
  border-top: 1px solid #e6e6e6;
}

.footer-links {
  padding-right: 8px;
  padding-left: 8px;
  font-family: Montserrat, sans-serif;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.7px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-links:hover {
  text-decoration: underline;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-text {
  padding-right: 8px;
  padding-left: 8px;
  font-family: Montserrat, sans-serif;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.7px;
}

.scroll-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.scroll-icon {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3em;
}

.scroll-icon.left {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 3em;
}

.grid-5 {
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.header-logo {
  min-height: 25px;
  min-width: 230px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-image: url('Vector-Smart-Object.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.timer {
  padding-bottom: 16px;
  font-family: Montserrat, sans-serif;
  color: #c6af76;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.grid-6 {
  grid-column-gap: 24px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-6.gap-56 {
  grid-column-gap: 56px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-6.gap-top._56px {
  margin-top: 56px;
}

.grid-6.gap-top._56px.btm104px {
  margin-bottom: 104px;
}

.grid-6.gap-top.top-104px {
  margin-top: 104px;
}

.grid-6.mobile {
  display: none;
}

.icons-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.icons {
  max-width: 17px;
  background-image: url('Check-mark-icon.svg');
  background-position: 50% 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.faq-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
}

.faq-button {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.faq-button.show {
  margin-left: 24px;
}

.faq-button.hide {
  margin-left: 24px;
}

.hyperlink {
  font-family: Montserrat, sans-serif;
  color: #5472c7;
  font-size: 17px;
}

.hyperlink.darkbg {
  color: #9eb8ff;
  line-height: 25px;
  letter-spacing: 0.85px;
}

.hyperlink._14px-font {
  font-size: 14px;
}

.paragraph-3 {
  display: block;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 17px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.85px;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-3.faq-answer {
  padding-right: 62px;
}

.paragraph-3.faq-question {
  margin-bottom: 0px;
  font-weight: 600;
}

.image-2 {
  display: none;
}

.h2-heading.fl-gold {
  color: #c6af76;
}

.h2-heading.fl-gold {
  color: #c6af76;
}

.video-block {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f7f7f7;
}

.video-block.no-bg {
  background-color: transparent;
}

.button-3 {
  margin-top: 10px;
  padding: 14px 32px;
  background-color: #c6af76;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.button-3:hover {
  background-color: #b29e6a;
}

.button-3.dark {
  background-color: #000;
}

.button-3.dark:hover {
  background-color: #262626;
}

.button-3.dark.top-56px {
  margin-top: 56px;
}

.button-3.dark.top-56px.bottom-16px {
  margin-bottom: 16px;
}

.media-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 96px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.media-logos-container {
  display: block;
  width: 880px;
  max-width: 95vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.grid-8 {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.media-qoute {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 184px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.media-qoute.gap-48px {
  padding-top: 48px;
  padding-bottom: 48px;
}

.media-logo-image {
  display: block;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
}

.reviews-section {
  margin-top: 104px;
}

.rating-stars-with-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rating-stars---icon {
  padding-right: 24px;
}

.rating-stars---icon.smaller {
  height: 12px;
}

.rating-stars---icon.smaller.btm-16px {
  margin-bottom: 16px;
}

.reviews-grid {
  margin-top: 80px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.review-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 2px;
  background-color: #fafafa;
}

.offer-section {
  margin-top: 104px;
  background-color: #000;
}

.offer-section.img {
  background-image: url('wheezywaiter_influencer_page_8.jpg');
  background-position: 55% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.offer-section.img.hide-tablet {
  display: none;
}

.influencer-hero.hide-dekstop {
  display: none;
}

.influencer-hero.hide-tablet {
  display: none;
}

.h4-heading.center {
  text-align: center;
}

.h4-heading.center.gap-top._56px {
  margin-top: 56px;
}

.male-hero.min-h---600px {
  min-height: 600px;
}

.male-hero.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.male-hero.center.min-h---600px {
  height: 80vh;
}

.video {
  display: none;
}

.paragraph-4 {
  display: block;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.85px;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-4.grey-text {
  color: grey;
}

.paragraph-4.grey-text.center {
  text-align: center;
}

.watchmaker-logo {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.watchmaker-logo.mobile {
  display: none;
}

.button-4 {
  margin-top: 10px;
  padding: 14px 32px;
  background-color: #c6af76;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.button-4:hover {
  background-color: #b29e6a;
}

.button-4.gap.top-56px {
  margin-top: 56px;
}

.button-4.gap.top-56px.btm-32px {
  margin-bottom: 16px;
}

.inline-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.student-beans-logo.top-16px {
  margin-top: 16px;
}

.hero {
  height: 75vh;
  max-height: 950px;
  min-height: 600px;
}

.hero.female-quiz {
  background-image: url('Woman-Quiz-Dekstop.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.hero.female-quiz.mobile {
  display: none;
}

.hero.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero.center.female-quiz.dekstop {
  background-position: 50% 50%;
}

.hero.center.male-quiz {
  background-color: #000;
  background-image: url('Men-Quiz-Dekstop.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero.center.male-quiz.dekstop {
  background-image: url('Men-Quiz-Dekstop_1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero.male-quiz.mobile {
  display: none;
}

.hero.align-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hero.align-bottom.perfect-watch {
  background-color: #0c0d0f;
  background-image: url('Perfect_watch_page_1.jpg');
  background-position: 65% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.fl-gold {
  color: #c6af76;
}

@media screen and (max-width: 991px) {
  .button {
    text-align: center;
  }
  .paragraph-white.left-16px.man-quiz {
    text-shadow: 1px 1px 6px #000, 0 0 8px #000;
  }
  .header-img {
    background-image: linear-gradient(193deg, rgba(0, 0, 0, 0.88), transparent 46%), url('Ascari_Indigo_rose_gold_rubber_on_wrist_1800x18002x.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  .header-img._60.sneakpeak {
    max-height: 0px;
    min-height: 900px;
    background-position: 33vw 100%;
    background-size: cover;
  }
  .header-img._60.align-bottom {
    background-position: 30% 50%;
    background-size: cover;
  }
  .header-img._60.sneakpeak {
    max-height: 0px;
    min-height: 900px;
    background-position: 33vw 100%;
    background-size: cover;
  }
  .header-img._60.align-bottom {
    background-position: 30% 50%;
    background-size: cover;
  }
  .h4-heading---black-center {
    max-width: 80vw;
  }
  .grid-3 {
    grid-column-gap: 28px;
  }
  .grid-3.revers {
    grid-column-gap: 28px;
  }
  .grid-3.center.hide-tablet {
    display: none;
  }
  .h2-heading.words-limit {
    max-width: 17em;
  }
  .button-3.dark.top-56px.bottom-16px {
    text-align: center;
  }
  .offer-section.img {
    background-position: 38% 100%;
    background-size: 1440px;
  }
  .offer-section.img.hide-tablet {
    display: none;
  }
  .offer-section.img.hide-mobile {
    background-size: cover;
  }
  .influencer-hero.hide-dekstop {
    display: block;
  }
  .influencer-hero.hide-tablet {
    display: none;
  }
  .h4-heading.top-36 {
    margin-top: 36px;
  }
  .influencer-image {
    max-width: 70%;
  }
  .male-hero.center.min-h---600px {
    min-height: 1000px;
  }
  .button-4 {
    text-align: center;
  }
  .hero.center.female-quiz.dekstop {
    background-position: 50% 50%;
  }
  .hero.center.male-quiz {
    background-position: 30% 50%;
  }
}

@media screen and (max-width: 767px) {
  .paragraph.center.white.fix-line {
    max-width: 80vw;
  }
  .paragraph.center.fix-line {
    max-width: 80vw;
  }
  .paragraph.white.top-32px.center.word-limit-32em {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .video-section.no-bg._104px-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .paragraph-white.gap.top-24px.center.word-limit {
    max-width: 15em;
  }
  .header {
    height: 50px;
  }
  .header-img {
    background-image: linear-gradient(193deg, rgba(0, 0, 0, 0.88), transparent 46%), url('Ascari_Indigo_rose_gold_rubber_on_wrist_1800x18002x.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  .header-img._60.sneakpeak {
    background-position: 0vw 155%;
    background-size: contain;
    background-attachment: scroll;
  }
  .header-img._60.sneakpeak {
    background-position: 0vw 155%;
    background-size: contain;
    background-attachment: scroll;
  }
  .large-number {
    font-size: 60px;
  }
  .h4-heading---black-center {
    max-width: 80vw;
  }
  .grid-3 {
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-3.revers {
    display: none;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-3.revers.mobile {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid-3.mobile {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .grid-3.btm-30px.dekstop {
    display: none;
  }
  .content-body {
    display: block;
    padding-bottom: 60px;
  }
  .centered-block.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .centered-block.mobile.gap.btm-56px {
    margin-bottom: 56px;
  }
  .header-logo {
    width: 189px;
    height: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .grid-6 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-6.gap-top._56px.btm104px.mobile {
    margin-top: 60px;
  }
  .grid-6.reverse {
    display: none;
  }
  .grid-6.mobile {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .image-2 {
    display: none;
  }
  .h2-heading.words-limit.center {
    text-align: center;
  }
  .button-3.dark.top-56px.bottom-16px {
    margin-top: 40px;
    text-align: center;
  }
  .reviews-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .offer-section.img.hide-tablet {
    display: block;
    height: 50vh;
    min-height: 600px;
    background-image: none;
  }
  .offer-section.img.hide-tablet.top-bottom-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    max-height: 750px;
    min-height: 430px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .offer-section.img.hide-mobile {
    display: none;
  }
  .influencer-hero.hide-dekstop {
    display: none;
  }
  .influencer-hero.hide-tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .influencer-image {
    max-width: 100%;
  }
  .h3-heading.center {
    text-align: center;
  }
  .block-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-center.center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-2 {
    min-height: 200px;
    background-image: url('wheezywaiter_influencer_page_7.jpg');
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .male-hero.center.min-h---600px {
    min-height: 900px;
  }
  .watchmaker-logo.tablet {
    display: none;
  }
  .watchmaker-logo.mobile {
    display: block;
  }
  .button-4.gap.top-56px.full-width {
    display: block;
  }
  .inline-block.center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .woman-quiz.hero-text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .only-dekstop-div {
    display: none;
  }
  .hero.female-quiz.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 56px;
    background-image: url('Woman-Quiz-Mobile.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .hero.center.female-quiz.dekstop {
    display: none;
  }
  .hero.center.male-quiz.dekstop {
    display: none;
  }
  .hero.male-quiz {
    padding-top: 56px;
    background-color: #000;
    background-image: url('Men-Quiz-Mobile.jpg');
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero.male-quiz.mobile {
    display: block;
  }
  .hero.align-bottom.perfect-watch {
    min-height: 910px;
    padding-top: 56px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-position: 50% 100%;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.center.white.fix-line {
    max-width: 90vw;
  }
  .image {
    width: 65%;
    max-width: 100%;
  }
  .image.align-top.icons {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .header-img {
    height: 80vh;
    padding-top: 60px;
    background-image: linear-gradient(193deg, rgba(0, 0, 0, 0.88), transparent 46%), url('Ascari_Indigo_rose_gold_rubber_on_wrist_1800x18002x.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }
  .header-img.spaced {
    height: 90vh;
  }
  .header-img.center {
    background-position: 50% 50%;
  }
  .header-img.center._70--img {
    background-image: url('Afilliates_images_1_mbo.jpg');
  }
  .header-img._60.sneakpeak {
    min-height: 1300px;
    background-position: 0vw 105%;
  }
  .header-img._60.align-bottom {
    background-position: 45% 50%;
    background-size: cover;
  }
  .header-img._60.sneakpeak {
    min-height: 1300px;
    background-position: 0vw 105%;
  }
  .header-img._60.align-bottom {
    background-position: 45% 50%;
    background-size: cover;
  }
  .h4-heading---black-center {
    max-width: 100vw;
  }
  .content-body {
    padding-bottom: 40px;
  }
  .button-2 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    text-align: center;
  }
  .button-2.dark.center {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    text-align: center;
  }
  .centered-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer {
    min-height: 70px;
  }
  .footer-links {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer-block {
    padding-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-text {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer-text.hidden {
    display: none;
  }
  .grid-6.gap-top._56px {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-6.gap-top._56px.mobile {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-6.gap-top._56px.btm104px {
    margin-top: 40px;
  }
  .grid-6.gap-top.top-104px.mobile {
    grid-row-gap: 24px;
  }
  .hyperlink._14px-font.center {
    text-align: center;
  }
  .image-2 {
    display: block;
  }
  .button-3.dark.top-56px.bottom-16px {
    text-align: center;
  }
  .rating-stars-with-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .rating-stars---icon {
    padding-right: 0px;
    padding-bottom: 8px;
  }
  .rating-stars---icon.smaller.btm-16px {
    padding-bottom: 0px;
  }
  .offer-section.img.hide-tablet {
    background-position: 76% 100%;
    background-size: contain;
  }
  .offer-section.img.hide-tablet.top-bottom-align {
    height: 0%;
  }
  .div-block-2 {
    background-image: url('wheezywaiter_influencer_page_7.jpg');
    background-position: 50% 100%;
    background-size: cover;
  }
  .male-hero.center.min-h---600px {
    min-height: 750px;
  }
  .hero.female-quiz.mobile {
    min-height: 740px;
  }
  .hero.male-quiz.mobile {
    min-height: 700px;
    background-size: 600px;
  }
  .hero.align-bottom.perfect-watch {
    min-height: 800px;
  }
}

#w-node-33c809da0b72-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9bf524e7e742-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9bb1cdc422cd-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fea6a1fab19a-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d8919f99b870-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0475cddc78b5-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5f2bb68cce63-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-7d6a25366309-968874bc {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c52bf9a84c08-278874c2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dcd867476a31-278874c2 {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-47b7916f0339-278874c2 {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-a8d2c61a594b-278874c2 {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-bad7d029cb14-278874c2 {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-868609ec834d-278874c2 {
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-bcd52c60bb71-278874c2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-23b58d5c6aa3-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e2770037ce3a-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f290d997071c-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1270fd354f9c-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0a7913b55541-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cea1b23a1c49-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-89ad3bf2cb32-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2c3ae67970d0-338874c3 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-23b58d5c6aa3-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b253106e2183-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f290d997071c-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1270fd354f9c-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-7cd9f19f14ec-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cea1b23a1c49-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-89ad3bf2cb32-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-82a4e62380ed-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f5e1bc6187d4-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-99a3fd5ea091-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b3c3450600cc-df8874c4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-28e69228fb7c-168874c5 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-f4d98f3da636-168874c5 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f4d98f3da628-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cad9ff368858-168874c5 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cad9ff368859-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-73897b4c4cf5-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-4fef25aa364c-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6d434340bec8-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e3ca8d156964-168874c5 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-fc1d7d6d6208-168874c5 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-5c5281d8c11a-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-10d79ecb0f62-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5c5281d8c123-168874c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f4d98f3da636-20dbe042 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f4d98f3da628-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cad9ff368858-20dbe042 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cad9ff368859-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-73897b4c4cf5-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-4fef25aa364c-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6d434340bec8-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e3ca8d156964-20dbe042 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-fc1d7d6d6208-20dbe042 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-5c5281d8c11a-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-10d79ecb0f62-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5c5281d8c123-20dbe042 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-29a02c38b997-2c38b990 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-28bf21ae255f-5d59d6f7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-b253106e2183-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f290d997071c-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-47b95738a655-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d7d6cdaf0124-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-77afa3bce3ad-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-4b42d990c249-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-82a4e62380ed-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f5e1bc6187d4-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-72fc5bd1076f-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-94042000572e-5d59d6f7 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-feaa1e985c81-d1fa889d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-28e69228fb7c-b61ce31b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-f4d98f3da636-b61ce31b {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f4d98f3da628-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cad9ff368858-b61ce31b {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cad9ff368859-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-73897b4c4cf5-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-4fef25aa364c-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6d434340bec8-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e3ca8d156964-b61ce31b {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-fc1d7d6d6208-b61ce31b {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-5c5281d8c11a-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-10d79ecb0f62-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5c5281d8c123-b61ce31b {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-62e12879ea8f-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-200112959f8f-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-71ee8f87ae1c-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9d372779bc09-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-62e12879ea7e-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-41d98a6fc73a-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-85ca453a1a68-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ef815de3b4b3-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ed69cebe7f1f-e2ebd0c5 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-ed69cebe7f20-e2ebd0c5 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-6d3bf75e5017-e2ebd0c5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-28bf21ae255f-33f33e0f {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-b253106e2183-33f33e0f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f290d997071c-33f33e0f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c8ca1816ffa9-33f33e0f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-d7d6cdaf0124-33f33e0f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-4b42d990c249-33f33e0f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-bc11c0c702d7-33f33e0f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-82a4e62380ed-33f33e0f {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-bc77d1fcf5ae-968874bc {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-1270fd354f9c-df8874c4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f4d98f3da636-168874c5 {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cad9ff368858-168874c5 {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-f4d98f3da636-20dbe042 {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cad9ff368858-20dbe042 {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-f4d98f3da636-b61ce31b {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cad9ff368858-b61ce31b {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Flsans';
  src: url('FLSans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roxboroughcf';
  src: url('RoxboroughCF-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roxboroughcf';
  src: url('RoxboroughCF-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}