.instabadge {
  position:relative;
}

.instabadge .instabadge-badge {
  background-color:transparent!important;
  border: none!important;
  position:absolute!important;
  max-width: 30%!important;
  max-height: 30%!important;
  top:0!important;
  left:0!important;
  z-index: 30!important;
  transform: inherit!important;
  content:''!important;
  opacity: 1!important;

  background-size: contain!important;
  background-repeat: no-repeat!important;
  height: 100%;
  width: 100%;
}
.instabadge-97289-type_collection .instabadge-badge, .instabadge-careful-coal-type_collection .instabadge-badge {
width: 20%!important;
top: 0!important;
left: auto!important;
bottom: auto!important;
right: 0!important;
background: url('{{ "instabadge-97289.png" }}');
}

.instabadge-97289-type_product .instabadge-badge, .instabadge-careful-coal-type_product .instabadge-badge {
width: 20%!important;
top: 0!important;
left: auto!important;
bottom: auto!important;
right: 0!important;
background: url('{{ "instabadge-97289.png" }}');
}

.instabadge-97290-type_collection .instabadge-badge, .instabadge-vacuous-sleet-type_collection .instabadge-badge {
width: 20%!important;
top: 0!important;
left: auto!important;
bottom: auto!important;
right: 0!important;
background: url('{{ "instabadge-97290.png" }}');
}

.instabadge-97290-type_product .instabadge-badge, .instabadge-vacuous-sleet-type_product .instabadge-badge {
width: 20%!important;
top: 0!important;
left: auto!important;
bottom: auto!important;
right: 0!important;
background: url('{{ "instabadge-97290.png" }}');
}

.instabadge-97291-type_collection .instabadge-badge, .instabadge-boundless-actor-type_collection .instabadge-badge {
width: 21.71985815602837%!important;
max-width: 21.71985815602837%!important;
top: 62.5%!important;
left: 76.59574468085107%!important;
background: url('{{ "instabadge-97291.png" }}');
}

.instabadge-97291-type_product .instabadge-badge, .instabadge-boundless-actor-type_product .instabadge-badge {
width: 21.71985815602837%!important;
max-width: 21.71985815602837%!important;
top: 62.5%!important;
left: 76.59574468085107%!important;
background: url('{{ "instabadge-97291.png" }}');
}

.instabadge-97292-type_collection .instabadge-badge, .instabadge-hot-cactus-type_collection .instabadge-badge {
width: 19.999250468457213%!important;
max-width: 19.999250468457213%!important;
top: 0%!important;
left: 77.62726420986883%!important;
background: url('{{ "instabadge-97292.png" }}');
}

.instabadge-97292-type_product .instabadge-badge, .instabadge-hot-cactus-type_product .instabadge-badge {
width: 19.999250468457213%!important;
max-width: 19.999250468457213%!important;
top: 0%!important;
left: 77.62726420986883%!important;
background: url('{{ "instabadge-97292.png" }}');
}

.instabadge-97293-type_collection .instabadge-badge, .instabadge-safe-nut-type_collection .instabadge-badge {
width: 19.024290780141843%!important;
max-width: 19.024290780141843%!important;
top: 0.5067567567567568%!important;
left: 78.13885195035462%!important;
background: url('{{ "instabadge-97293.png" }}');
}

.instabadge-97293-type_product .instabadge-badge, .instabadge-safe-nut-type_product .instabadge-badge {
width: 19.024290780141843%!important;
max-width: 19.024290780141843%!important;
top: 0.5067567567567568%!important;
left: 78.13885195035462%!important;
background: url('{{ "instabadge-97293.png" }}');
}

.instabadge-97294-type_collection .instabadge-badge, .instabadge-steady-toothpaste-type_collection .instabadge-badge {
width: 20%!important;
top: 0!important;
left: auto!important;
bottom: auto!important;
right: 0!important;
background: url('{{ "instabadge-97294.png" }}');
}

.instabadge-97294-type_product .instabadge-badge, .instabadge-steady-toothpaste-type_product .instabadge-badge {
width: 20%!important;
top: 0!important;
left: auto!important;
bottom: auto!important;
right: 0!important;
background: url('{{ "instabadge-97294.png" }}');
}

.instabadge-97295-type_collection .instabadge-badge, .instabadge-modern-houses-type_collection .instabadge-badge {
width: 19.999437225647505%!important;
max-width: 19.999437225647505%!important;
top: 0.33784212737379793%!important;
left: 75.46702126722813%!important;
background: url('{{ "instabadge-97295.png" }}');
}

.instabadge-97295-type_product .instabadge-badge, .instabadge-modern-houses-type_product .instabadge-badge {
width: 19.999437225647505%!important;
max-width: 19.999437225647505%!important;
top: 0.33784212737379793%!important;
left: 75.46702126722813%!important;
background: url('{{ "instabadge-97295.png" }}');
}

