/*============================================================================
  #Sass Mixins
==============================================================================*/
.clearfix:after { content: ''; display: table; clear: both; }

/*================ Media Query Mixin ================*/
/*================ Responsive Show/Hide Helper ================*/
/*================ Responsive Text Alignment Helper ================*/
/*================ Animation related mixins ================*/
/*================ Functions ================*/
/*================ Animations and keyframes ================*/
@-webkit-keyframes spin { 0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin { 0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes fadeIn { 0%, 35% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeIn { 0%, 35% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes heroContentIn { 0%, 35% { opacity: 0;
    transform: translateY(8px); }
  60% { opacity: 1; }
  100% {
    transform: translateY(0); } }

@keyframes heroContentIn { 0%, 35% { opacity: 0;
    transform: translateY(8px); }
  60% { opacity: 1; }
  100% {
    transform: translateY(0); } }

/*================ Overlay ================*/
/*================ Loading spinner ================*/
/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
/*================ Color variables ================*/
/*============================================================================
  Typography
    - Overwritten where needed in google-fonts.scss
==============================================================================*/
/*============================================================================
  Animations
==============================================================================*/
/*============================================================================
  Drawers
==============================================================================*/
/*============================================================================
  Google fonts
    - Get font name, weight, and fallback stack based on setting string
    - Must define variables outside of conditional and then overwrite inside
==============================================================================*/
.question-section { background: #F5F5F5; }

.question-section .heading { text-align: center; margin-bottom: 24px; }

.question-section .heading h2 { font-family: DM Sans; font-style: normal; font-weight: 600; font-size: 20px; line-height: 40px; letter-spacing: 0.1em; text-transform: uppercase; color: #000000; position: relative; }

.question-section .heading h2:after { position: absolute; width: 72px; border: 1px solid #000000; height: 1px; top: calc(100% + 16px); left: 50%; transform: translateX(-50%); }

.question-section .heading p { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; text-align: center; color: #6E6E6E; }

.slick-slider .slick-dots li { width: 8px; height: 8px; }

.slick-slider .slick-dots li.slick-active { width: 8px; height: 8px; }

.slick-slider .slick-dots li.slick-active button { background: none; }

.slick-slider .slick-dots li button { border: 1px solid #000000; padding: 0; width: 8px !important; height: 8px !important; border-radius: 50%; background: #000; }

.slick-slider .slick-dots li button:before { display: none; width: 8px; height: 8px; }

.slick-slider .slick-prev, .slick-slider .slick-next { width: 48px; height: 48px; border: 1px solid #000; border-radius: 50%; background: #FFFFFF; position: absolute; top: 50%; transform: translateY(-50%); }

.slick-slider .slick-prev.slick-disabled, .slick-slider .slick-next.slick-disabled { border: 1px solid grey; opacity: 0.8; }

.slick-slider .slick-prev:before, .slick-slider .slick-next:before { content: ''; width: 10px; height: 18px; background: url('data:image/svg+xml;utf8,<svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.35355 17.3536C9.15829 17.5488 8.84171 17.5488 8.64645 17.3536L0.292894 9L8.64645 0.646446C8.84171 0.451185 9.15829 0.451185 9.35355 0.646446C9.54882 0.841709 9.54882 1.15829 9.35355 1.35355L1.70711 9L9.35355 16.6464C9.54882 16.8417 9.54882 17.1583 9.35355 17.3536Z" fill="black"/></svg>'); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.slick-slider .slick-prev { left: -40px; }

.slick-slider .slick-next { right: -40px; }

.slick-slider .slick-next:before { transform: translate(-50%, -50%) rotate(180deg); }

.strike-through { color: #B3B3B3; text-decoration: line-through; }

.strike-through.hide { display: none; }

body { color: #4B4B4B; }

body .product-section { font-family: DM Sans; color: #4B4B4B; }

.limited-offer { text-align: center; text-transform: uppercase; font-weight: bold; }

.limited-offer .limited-offer-title { font-size: 14px; line-height: 24px; letter-spacing: 2.5px; padding-bottom: 8px; }

.limited-offer .limited-offer-timer { font-size: 18px; letter-spacing: 0.1em; line-height: 1; }

.limited-offer .limited-offer-timer span { line-height: 1; display: inline-block; vertical-align: top; margin: 0 18px; }

.product-section--title { font-family: DM Sans; font-weight: 600; font-size: 24px; line-height: 32px; letter-spacing: 2.5px; text-transform: uppercase; color: #000; padding-bottom: 16px; text-align: center; }

.product-section--title.line { padding-bottom: 24px; margin-bottom: 24px; position: relative; }

.product-section--title.line:after { position: absolute; content: ''; height: 1px; width: 72px; left: 0; bottom: 0; background: #2C2C2C; }

.product-section--text, .product-section--text p { font-size: 14px; line-height: 24px; color: #4B4B4B; margin-bottom: 40px; }

.grid-items { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-column-gap: 32px; text-align: center; }

.grid-items .item .custom_select { font-weight: normal; font-size: 14px; line-height: 24px; letter-spacing: 0.1em; text-transform: uppercase; color: #4B4B4B; display: block; position: relative; margin-bottom: 11px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.grid-items .item .custom_select input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }

.grid-items .item .custom_select .checkbox_title { display: inline-block; vertical-align: middle; }

.grid-items .item .custom_select .checkbox_icon { position: relative; display: inline-block; vertical-align: middle; top: 0; left: 0; height: 18px; width: 18px; border: 2px solid #19223B; border-radius: 2px; margin-right: 7px; }

.grid-items .item .custom_select .checkbox_icon:after { left: 3px; top: -1px; width: 8px; height: 13px; border: solid white; border-width: 0px 3px 3px 0; transform: rotate(45deg); content: ""; position: absolute; display: none; }

.grid-items .item .custom_select:hover input ~ .checkbox_icon { background-color: #4B4B4B; }

.grid-items .item .custom_select input:checked ~ .checkbox_icon { background-color: #4B4B4B; }

.grid-items .item .custom_select input:checked ~ .checkbox_icon:after { display: block; }

.grid-items .item a { color: #4B4B4B; }

.grid-items .item .img { display: block; padding: 0; height: 327px; background-size: contain; background-position: center center; background-repeat: no-repeat; margin-bottom: 8px; border-radius: 2px; }

.grid-items .item .title { font-size: 14px; line-height: 24px; text-align: center; margin-bottom: 24px; letter-spacing: 2px; text-transform: uppercase; }

.grid-items .item .add_to_cart { height: 40px; line-height: 38px; border: 1px solid #000000; box-sizing: border-box; border-radius: 2px; font-weight: 600; font-size: 14px; letter-spacing: 2.5px; text-transform: uppercase; color: #000; cursor: pointer; text-align: center; }

.grid-items .item.plus .img { position: relative; }

.grid-items .item.plus .img:before { content: ''; position: absolute; top: 50%; right: -50px; transform: translateY(-50%); width: 64px; height: 64px; border-radius: 50%; background: #FFFFFF; border: 1px solid #2C2C2C; box-sizing: border-box; z-index: 2; }

.grid-items .item.plus .img:after { content: ''; background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216 v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z"/> </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>'); background-size: contain; background-repeat: no-repeat; z-index: 3; width: 20px; height: 20px; position: absolute; top: 50%; right: -28px; transform: translateY(-50%); }

.grid-items .item:last-child.plus .img:before, .grid-items .item:last-child.plus .img:after { display: none; }

.product-section-padding { padding-top: 80px; padding-bottom: 80px; }

.product__photos--beside { display: flex; width: 100%; }

.product__photos a { display: block; max-width: 100%; }

.product__photos img { display: block; margin: 0 auto; max-width: 100%; width: 100%; }

.photo-zoom-link { position: relative; }

.photo-zoom-link--enable { cursor: zoom-in; }

.photo-zoom-linked { cursor: zoom-out; }

.product__main-photos { position: relative; overflow: hidden; flex: 1 1 auto; }

@media only screen and (min-width: 590px) { .product__main-photos { order: 2; } }

.product__main-photos img { display: none; }

.product__main-photos .starting-slide img, .product__main-photos .slick-initialized img { display: block; }

.product__main-photos .secondary-slide:not(.slick-slide) { display: none; }

.product__thumbs.slick-initialized.product__thumbs { visibility: visible; opacity: 1; }

.product__thumbs { position: relative; visibility: hidden; opacity: 0; transition: .5s ease-in all; }

.product__thumbs--below { margin-top: 11px; }

@media only screen and (min-width: 590px) { .product__thumbs--below { margin-top: 20px; } }

.product__thumbs--beside { flex: 0 0 60px; max-width: 60px; margin-left: 11px; }

@media only screen and (min-width: 590px) { .product__thumbs--beside { flex: 0 0 72px; max-width: 72px; margin-left: 0; margin-right: 20px; } }

.product__thumbs--beside .slick-list { min-height: 100%; }

.product__thumb-item.slick-current .product__thumb { border-color: #000; }

.product__thumbs--beside .product__thumb-item { margin-bottom: 8px; }

.product__thumbs--below .product__thumb-item { margin-right: 10px; }

.product__thumbs--below .product__thumb-item:last-child { margin-right: 0; }

.product__thumb-item .product__thumb { border: 1px solid #E1E1E1; border-radius: 2px; }

.product__thumb-item .video_text { font-family: DM Sans; font-size: 12px; line-height: 16px; }

.product__thumbs--below:not(.slick-initialized) .product__thumb-item { max-width: 100px; float: left; }

.product__thumb { position: relative; display: block; cursor: pointer; }

.product__thumb img { max-height: 88px; width: auto; }

.product__thumb-play { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #000; border-radius: 100px; padding: 7px; z-index: 1; opacity: 0; transition: opacity 0.5s ease; font-size: 0; }

.aos-animate .product__thumb-play { opacity: 1; }

.product__thumb-play .icon { fill: #fff; width: 24px; height: 24px; }

@media only screen and (min-width: 590px) { .product__thumb-play .icon { width: 30px; height: 30px; } }

.product-information-wrapper .product-information-block { float: none; display: inline-block; vertical-align: middle; }

.product__main-photos .slick-slider.slick-initialized .product-image-main, .tier-image .product-image-main { visibility: visible; opacity: 1; }

.product__main-photos .slick-slider.slick-initialized .product-image-main-loader, .tier-image .product-image-main-loader { display: none; }

.product__main-photos .slick-slider.slick-initialized .slick-next, .product__main-photos .slick-slider.slick-initialized .slick-prev, .tier-image .slick-next, .tier-image .slick-prev { display: none !important; background-image: url('data:image/svg+xml;utf8,<svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.41412 9.00008L10.707 16.293L9.2928 17.7072L0.585693 9.00008L9.2928 0.292969L10.707 1.70718L3.41412 9.00008Z" fill="darkgray"/></svg>'); width: 11px; height: 18px; background-size: contain; transform: initial; }

.product__main-photos .slick-slider.slick-initialized .slick-next.slick-disabled, .product__main-photos .slick-slider.slick-initialized .slick-prev.slick-disabled, .tier-image .slick-next.slick-disabled, .tier-image .slick-prev.slick-disabled { opacity: 0.3; }

.product__main-photos .slick-slider.slick-initialized .slick-next:before, .product__main-photos .slick-slider.slick-initialized .slick-prev:before, .tier-image .slick-next:before, .tier-image .slick-prev:before { display: none; }

.product__main-photos .slick-slider.slick-initialized .slick-prev, .tier-image .slick-prev { left: 15px; }

.product__main-photos .slick-slider.slick-initialized .slick-next, .tier-image .slick-next { transform: rotate(180deg); right: 15px; }

.product__main-photos .slick-slider.slick-initialized .slick-dots, .tier-image .slick-dots { display: none !important; }

.product-image-main-loader { max-width: 487px; margin-left: auto; margin-right: 1px; }

.product-image-main-loader img { width: 25px; }

.product-images-wrap .thumbs-slider-arrow { outline: 0 !important; box-shadow: none !important; transform: rotate(90deg); z-index: 10; margin-left: 24px; }

.product-image-main { margin-left: auto; position: relative; visibility: hidden; opacity: 0; transition: .5s ease-in all; }

.product-image-main.product-video { width: 370px; margin-right: 57px; }

.product-image-main .image-wrap { width: auto; position: relative; padding-bottom: 50px; }

.product-image-main .image-wrap .enlarge-popup-link:not(.zoom_title) img { display: block; max-height: 700px; width: auto; }

.product-image-main .image-wrap.zoomed { padding: 0; }

.product-image-main .image-wrap.zoomed img { max-height: initial; }

.product-image-main .image-wrap.zoomed .zoom_title { display: none; }

.product-image-main .image-wrap .zoom_title { display: none; font-weight: 600; font-size: 14px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; color: #4B4B4B; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; }

.product-image-main .image-wrap .zoom_title span, .product-image-main .image-wrap .zoom_title::before { display: inline-block; vertical-align: middle; margin-right: 6px; }

.product__video-wrapper { position: relative; overflow: hidden; max-width: 100%; padding-bottom: 100%; height: auto; background-color: #ffffff; }

.product__video-wrapper iframe { width: 100%; height: 100%; transition: opacity 0.5s ease-in; }

.product__video-wrapper[data-video-style="muted"].loaded:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }

.product__video-wrapper.video-interactable:before { display: none; }

@media only screen and (max-width: 589px) { .product__video-wrapper[data-video-type="vimeo"].loaded:before { display: none; } }

.product__video-wrapper.loading:before { background: rgba(0, 0, 0, 0.15); }

.product__video-wrapper.loading:after { background: black; }

.product__video-wrapper.loading iframe { opacity: 0.01; }

.product__video-wrapper.loaded iframe { opacity: 1; }

.product__video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.variant-input-wrap { padding: 0; margin: 0 -21px 0 0; border: none; }

.variant-input-wrap input { clip: rect(0 0 0 0); clip: rect(0, 0, 0, 0); overflow: hidden; position: absolute; height: 1px; width: 1px; }

.variant-input-wrap label { position: relative; text-transform: none; text-align: center; background-color: #fff; font-family: DM Sans; font-weight: bold; font-size: 14px; line-height: 56px; letter-spacing: 0.1em; min-width: 56px; min-height: 56px; color: #4B4B4B; border: 1px solid #CACACA; border-radius: 2px; margin-bottom: 24px; display: inline-block; margin-right: 21px; padding: 0 16px; }

.variant-input-wrap label.active { border: 1px solid #000000; }

.variant-input-wrap label:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 1px solid #f0f1f3; z-index: 1; }

.variant-wrapper .variant__label { margin-bottom: 24px; display: flex; align-items: center; justify-content: space-between; }

.variant_text_wrapper { display: none; }

.size-guide { font-family: DM Sans; font-weight: bold; font-size: 12px; line-height: 16px; text-align: right; -webkit-text-decoration-line: underline; text-decoration-line: underline; text-transform: initial; letter-spacing: 0.1em; color: #5472C7; }

.grid-product__variant-title-dynamically { display: none; }

.size-label .size-label-selected { display: none; }

body.modal-open .product-info-section .product-images-wrap { position: relative; }

.product-info-section { margin-bottom: 80px; }

.product-info-section .product-images-wrap { padding-top: 20px; position: -webkit-sticky; position: sticky; top: 0; }

.product-info-section .product-single__meta { padding-top: 20px; }

.notify_me { margin-top: -10px; }

.notify_me p { font-size: 14px; line-height: 24px; color: #000000; }

.notify_me .btn { height: 56px; line-height: 56px; font-weight: bold; font-size: 14px; text-align: center; letter-spacing: 2.5px; color: #FFFFFF; padding: 0 !important; }

.product-single__meta { max-width: 384px; margin-left: auto; }

.product-single__meta .product-single__meta_pre_head { display: flex; align-items: center; justify-content: space-between; padding-bottom: 16px; }

.product-single__meta .product-single__meta_pre_head .product-single__series { font-size: 14px; line-height: 24px; font-weight: bold; letter-spacing: 2.5px; text-transform: uppercase; color: #4B4B4B; }

.product-single__meta .product-single__meta_pre_head .product-single__collection_link { font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px; text-align: right; -webkit-text-decoration-line: underline; text-decoration-line: underline; color: #5472C7; }

.product-single__meta .product-single__title { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 32px; line-height: 40px; font-feature-settings: 'ss01' on; color: #000000; margin-bottom: 8px; padding-bottom: 0; }

.product-single__meta .product-singe__brand { margin-bottom: 24px; }

.product-single__meta .product-singe__brand p { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px; letter-spacing: 2px; text-transform: uppercase; color: #8E8E8E; }

.product-single__meta .pricing-row { margin-bottom: 55px; }

.product-single__meta .pricing-row .product__price { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 24px; line-height: 32px; display: flex; align-items: center; letter-spacing: 2.5px; text-transform: uppercase; color: #727272; }

.product-single__meta .pricing-row .product__price .money { font-weight: 600; font-size: 24px; line-height: 32px; float: left; letter-spacing: 2.5px; }

.product-single__meta .pricing-row .product__price .strike-through { opacity: 1; float: left; margin: 0 0 0 8px; }

.product-single__meta .pricing-row .product__price .strike-through .money { letter-spacing: 0.1em; -webkit-text-decoration-line: line-through; text-decoration-line: line-through; color: #8E8E8E; font-size: 14px; line-height: 16px; }

.product-single__meta .product-reviews-wrapper { display: flex; align-items: center; justify-content: space-between; padding-bottom: 31px; }

.product-single__meta .product-reviews-wrapper .read-reviews { font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px; text-align: right; -webkit-text-decoration-line: underline; text-decoration-line: underline; color: #5472C7; }

.product-single__meta .product-reviews-wrapper .stars { font-size: 12px; line-height: 16px; }

.product-single__meta .product-reviews-wrapper .stars img, .product-single__meta .product-reviews-wrapper .stars .stars-text { display: inline-block; vertical-align: middle; margin-right: 1px; }

.product-single__meta .product-reviews-wrapper .stars .stars-text { margin-left: 10px; }

.product-single__meta .limited-offer { margin-bottom: 24px; background: #F5F5F5; border-radius: 2px; padding: 18px 15px; }

.product-single__meta .limited-offer .limited-offer-title { padding-bottom: 12px; }

.product-single__meta .stock-info-wrap { margin-bottom: 21px; }

.product-single__meta .stock-info-wrap .stock-info { position: relative; height: 24px; margin-bottom: 20px; }

.product-single__meta .stock-info-wrap .stock-info .stock-info-text { text-align: center; line-height: 24px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-weight: bold; font-size: 14px; letter-spacing: 2.5px; text-transform: uppercase; color: #EAEAEA; display: flex; justify-content: center; align-items: center; }

.product-single__meta .stock-info-wrap .stock-info .stock-info-text svg { margin-left: 5.33px; }

.product-single__meta .stock-info-wrap .stock-info-bar { background: #E1E1E1; border-radius: 4px; height: 4px; position: relative; margin-bottom: 7px; }

.product-single__meta .stock-info-wrap .stock-info-bar .stock-info-bar-progress { background: #EBC569; position: absolute; left: 0; top: 0; height: 100%; width: 35%; }

.product-single__meta .stock-info-wrap .stock-info-progress-text { display: flex; align-items: center; justify-content: space-between; }

.product-single__meta .stock-info-wrap .stock-info-progress-text p { font-size: 12px; line-height: 16px; margin-bottom: 0; }

.product-single__meta .stock-info-wrap .stock-info-progress-text .left { font-weight: bold; }

.product-single__meta .similar-products { padding-bottom: 32px; }

.product-single__meta .similar-products .similar-products-carousel .grid-product { display: none; }

.product-single__meta .similar-products .similar-products-carousel.slick-initialized .similar-products-carousel-loader { display: none; }

.product-single__meta .similar-products .similar-products-carousel.slick-initialized .grid-product { display: block; }

.product-single__meta .similar-products .similar-products-carousel-loader img { width: 15px; }

.product-single__meta .similar-products .similar-products__title { font-weight: bold; font-size: 12px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; color: #000; padding-bottom: 15px; }

.product-single__meta .similar-products .grid-product { width: 56px; transition: .3s ease-in-out all; }

.product-single__meta .similar-products .grid-product .grid-product__image-mask { border-radius: 2px; margin-bottom: 8px; padding: 3px 7px; }

.product-single__meta .similar-products .grid-product .grid-product__title { font-weight: 500; font-size: 12px; line-height: 16px; text-align: center; color: #4B4B4B; display: -webkit-box; max-width: 100%; margin: 0 auto; -webkit-line-clamp: 3; /* autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */ overflow: hidden; text-overflow: ellipsis; max-height: 50px; }

.product-single__meta .similar-products .grid-product .grid-product__price, .product-single__meta .similar-products .grid-product .product-bottom-container { display: none; }

.product-single__meta .similar-products .grid-product:hover .grid-product__image-mask { border-color: #000000; }

.product-single__meta .similar-products .slick-next, .product-single__meta .similar-products .slick-prev { top: 45px; background-image: url('data:image/svg+xml;utf8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.72387 6.00005L0.861938 1.13812L1.80475 0.195312L7.60949 6.00005L1.80475 11.8048L0.861938 10.862L5.72387 6.00005Z" fill="black"/></svg>'); width: 8px; height: 12px; background-size: contain; transform: initial; border: none; }

.product-single__meta .similar-products .slick-next.slick-disabled, .product-single__meta .similar-products .slick-prev.slick-disabled { background-image: url('data:image/svg+xml;utf8,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.72387 6.00005L0.861938 1.13812L1.80475 0.195312L7.60949 6.00005L1.80475 11.8048L0.861938 10.862L5.72387 6.00005Z" fill="grey"/></svg>'); }

.product-single__meta .similar-products .slick-next:before, .product-single__meta .similar-products .slick-prev:before { display: none; }

.product-single__meta .similar-products .slick-prev { transform: rotate(180deg); left: -20px; }

.product-single__meta .similar-products .slick-next { right: -20px; }

.product-single__meta .similar-products .slick-slide { margin: 0 16px; }

.product-single__meta .similar-products .slick-list { margin: 0 -16px; }

.product-single__meta .add-to-cart { height: 56px; width: 100%; text-align: center; line-height: 50%; font-weight: bold; font-size: 16px; letter-spacing: 2.5px; margin-bottom: 17px; background: #FF6F59; border-radius: 2px; }

.product-single__meta .add-to-cart svg { display: inline-block; vertical-align: middle; margin-right: 16px; }

.product-single__meta .add-to-cart span { display: inline-block; vertical-align: middle; }

.product-single__meta .add-to-cart.disabled { background: #f5f5f5; }

.product-single__meta .product-section__availability { background: #FAFAFA; padding: 8px; font-weight: bold; font-size: 14px; line-height: 24px; color: #4B4B4B; text-align: center; display: none; margin-bottom: 24px; }

.product-single__meta .product-section__availability.active { display: block; }

.product-single__meta .product-section__availability .block { margin-top: 8px; display: block; text-align: center; }

.product-single__meta .product-section__availability a { font-weight: bold; font-size: 12px; line-height: 24px; -webkit-text-decoration-line: underline; text-decoration-line: underline; color: #5472C7; }

.product-single__meta .add_to_wishlist { text-align: center; margin-bottom: 16px; font-weight: bold; font-size: 12px; line-height: 16px; letter-spacing: 2.5px; text-transform: uppercase; color: #000; display: flex; align-items: center; justify-content: center; }

.product-single__meta .add_to_wishlist span, .product-single__meta .add_to_wishlist img { margin-left: 4px; }

.all_reviews { display: flex; justify-content: space-between; margin-bottom: 64px; }

.all_reviews > div { width: 48%; border: 1px solid #EAEAEA; box-sizing: border-box; border-radius: 2px; padding: 40px; }

.all_reviews .summary_reviews { display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px; }

.all_reviews .summary_reviews .summary_rating p { margin-bottom: 0; font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 14px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; color: #000000; }

.all_reviews .summary_reviews .summary_link a { font-family: DM Sans; font-style: normal; font-weight: 600; font-size: 12px; line-height: 24px; -webkit-text-decoration-line: underline; text-decoration-line: underline; color: #5472C7; }

.all_reviews .segment_review { display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px; }

.all_reviews .segment_review .segment_label { min-width: 75px; max-width: 75px; text-align: left; }

.all_reviews .segment_review .segment_label p { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 14px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; color: #6E6E6E; margin-bottom: 0; }

.all_reviews .segment_review .segment_count { max-width: 35px; min-width: 35px; text-align: right; }

.all_reviews .segment_review .segment_count p { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; color: #6E6E6E; margin-bottom: 0; }

.all_reviews .segment_review .segment_progress { width: 100%; padding: 0 16px; }

.all_reviews .segment_review .segment_progress .segment_progress_bg { width: 100%; position: relative; background: #EAEAEA; border-radius: 8px; height: 8px; }

.all_reviews .segment_review .segment_progress .segment_progress_bg .segment_progress_value { background: #EBC569; border-radius: 8px; height: 8px; position: absolute; top: 0; left: 0; }

.all_reviews .reviews_recoment_chart { position: relative; }

.all_reviews .reviews_recomend { display: flex; justify-content: space-between; height: 100%; align-items: center; }

.all_reviews .reviews_recomend .reviews_recoment_text { max-width: 296px; width: 100%; }

.all_reviews .reviews_recomend .reviews_recoment_text p { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; font-feature-settings: 'salt' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss01' on; color: #000000; margin-bottom: 0; }

.all_reviews .reviews_recomend div#progress-ring { position: relative; margin-right: 0; width: 176px; height: 176px; border-radius: 50%; border: 8px solid #c4c4c4; box-sizing: border-box; display: block !important; }

.all_reviews .reviews_recomend div#progress-ring progress-ring { position: absolute; top: 53%; left: 50%; transform: translate(-50%, -50%); }

.all_reviews .reviews_recomend span#progress_value { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 32px; line-height: 48px; letter-spacing: 0.02em; font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on; color: #000000; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.reviews_list .reviews_item { margin-bottom: 40px; }

.reviews_list .reviews_item .reviews_item_title { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 24px; }

.reviews_list .reviews_item .reviews_item_title .reviews_item_name h4 { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 14px; line-height: 24px; font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on; color: #000000; margin-bottom: 8px; }

.reviews_list .reviews_item .reviews_item_title .reviews_item_bought { margin-bottom: 8px; }

.reviews_list .reviews_item .reviews_item_title .reviews_item_bought a { font-family: DM Sans; font-style: normal; font-weight: 600; font-size: 12px; line-height: 24px; -webkit-text-decoration-line: underline; text-decoration-line: underline; color: #5472C7; }

.reviews_list .reviews_item .reviews_item_title .reviews_item_date p { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; letter-spacing: 0.1em; font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on; color: #000000; margin-bottom: 0; }

.reviews_list .reviews_item .reviews_item_title .reviews_item_rating { display: flex; justify-content: space-between; align-items: center; }

.reviews_list .reviews_item .reviews_item_title .reviews_item_rating .reviews_item_rating_text { margin-right: 16px; }

.reviews_list .reviews_item .reviews_item_title .reviews_item_rating .reviews_item_rating_text p { font-family: DM Sans; font-style: normal; font-weight: 500; font-size: 14px; line-height: 24px; text-align: right; font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on; color: #000000; margin-bottom: 0; }

.reviews_list .reviews_item .reviews_item_body_title h3 { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 18px; line-height: 24px; font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on; color: #000000; margin-bottom: 16px; }

.reviews_list .reviews_item .reviews_item_body_desc p { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on; color: #000000; margin-bottom: 0; }

.product-section-about .tab-content td { width: 50% !important; max-width: 50%; }

.product-icons-wrapper { margin-bottom: 40px; }

.product-icons-wrapper .page-width { display: flex; align-items: center; justify-content: space-around; }

.product-icons-wrapper .product-icon { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 14px; line-height: 24px; text-align: center; -webkit-text-decoration-line: underline; text-decoration-line: underline; color: #000000; transition: .3s ease-in-out all; }

.product-icons-wrapper .product-icon .overlay { transition: .3s ease-in-out all; display: block; background: #FFFFFF; width: 40px; height: 40px; border-radius: 50%; margin: 0 auto 16px; position: relative; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

.product-icons-wrapper .product-icon .overlay img { transition: .1s ease-in-out all; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.product-icons-wrapper .product-icon:hover .overlay { box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); }

.product-icons-wrapper .product-icon:hover .overlay img { transform: translate(-50%, -50%) scale(1.05); }

.reviews_list_load { text-align: center; }

.reviews_list_load a { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 14px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; color: #000000; display: inline-block; padding: 8px 61px; border: 1px solid #000000; margin-bottom: 16px; }

.reviews_list_load p { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; color: #000000; margin-bottom: 0; }

.tab-content-mobile-header { display: none; font-weight: bold; font-size: 14px; line-height: 24px; text-transform: uppercase; color: #4B4B4B; margin-left: -32px; margin-right: -32px; padding: 16px 52px 16px 32px; border-top: 1px solid #E1E1E1; position: relative; cursor: pointer; }

.tab-content-mobile-header:after { width: 14px; height: 14px; content: ''; position: absolute; top: 50%; right: 32px; transform: translateY(-50%); background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.66659 6.33325H13.6666V7.66659H7.66659V13.6666H6.33325V7.66659H0.333252V6.33325H6.33325V0.333252H7.66659V6.33325Z" fill="black"/></svg>'); background-size: contain; }

.tab-content-mobile-header.active:after { height: 2px; background: url('data:image/svg+xml;utf8,<svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6666 0.333252V1.66659H0.333252V0.333252H13.6666Z" fill="black"/></svg>'); }

.product-section-about { padding-bottom: 80px; }

.product-section-about .product-section-about-tabs { height: 72px; margin-bottom: 77px; background: #F5F5F5; }

.product-section-about .product-section-about-tabs .page-width { display: flex; align-items: center; }

.product-section-about .product-section-about-tabs .page-width .tab { cursor: pointer; height: 70px; flex: 1; display: flex; align-items: center; justify-content: flex-start; font-weight: bold; font-size: 14px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; color: #4B4B4B; position: relative; text-align: center; }

.product-section-about .product-section-about-tabs .page-width .tab.active { transition: .3s ease-in-out all; }

.product-section-about .product-section-about-tabs .page-width .tab.active:after { position: absolute; content: ''; left: 0; bottom: 0; width: 100%; height: 4px; background: #EBC569; }

.product-section-about .product-section-about-tabs .page-width .tab span { display: inline-block; vertical-align: middle; }

.product-section-about .tab-content { max-width: 1008px; margin-left: auto; margin-right: auto; display: none; }

.product-section-about .tab-content.active { display: block; }

.product-section-about .tab-content:last-child .tab-content-mobile-header, .product-section-about .tab-content.active .tab-content-mobile-header { border-bottom: 1px solid #E1E1E1; }

.product-section-about .tab-content.active .tab-content-mobile-header:after { height: 2px; background: url('data:image/svg+xml;utf8,<svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.6666 0.333252V1.66659H0.333252V0.333252H13.6666Z" fill="black"/></svg>'); }

.product-section-about .about_grid { display: flex; justify-content: space-between; align-items: center; }

.product-section-about .about_grid .about_image_wrapper { max-width: 488px; }

.product-section-about .about_grid .about_image_wrapper img { max-width: 100%; height: auto; display: block; }

.product-section-about .about_grid .about_image_wrapper .spec_image { margin-bottom: 16px; }

.product-section-about .about_grid .about_image_wrapper .spec_image img { display: none; }

.product-section-about .about_grid .about_image_wrapper .spec_image img.active { display: block; }

.product-section-about .about_grid .about_image_wrapper .spec_menu { display: flex; padding: 0 5px; align-items: center; justify-content: space-between; }

.product-section-about .about_grid .about_image_wrapper .spec_menu a { cursor: pointer; font-weight: bold; font-size: 14px; line-height: 24px; letter-spacing: 0.1em; -webkit-text-decoration-line: underline; text-decoration-line: underline; text-transform: uppercase; color: #8E8E8E; }

.product-section-about .about_grid .about_image_wrapper .spec_menu a.active { color: #4B4B4B; }

.product-section-about .about_grid .about_content { max-width: 404px; }

.product-section-about .about_grid .about_content.centered { margin-left: auto; margin-right: auto; max-width: initial; width: 70%; }

.product-section-about .about_grid .about_content.centered .product-specs__content { width: 100%; }

.product-section-about .about_grid .about_content h3 { font-family: DM Sans; font-weight: bold; font-size: 20px; line-height: 40px; letter-spacing: 2.5px; text-transform: uppercase; color: #4B4B4B; position: relative; padding-bottom: 17px; }

.product-section-about .about_grid .about_content p { font-weight: normal; font-size: 14px; line-height: 24px; color: #4B4B4B; }

.product-section-about .about_grid .about_content ul { font-family: DM Sans; font-weight: normal; font-size: 14px; line-height: 24px; color: #4B4B4B; margin-left: 30px; }

.product-section-about .about_grid .about_content ul li { margin-bottom: 24px; }

.product-section-about .about_grid .about_content .product-specs__content { width: 384px; }

.product-section-about .about_grid .about_content .product-specs__content .product-specs__title { font-family: DM Sans; font-weight: bold; font-size: 24px; line-height: 32px; letter-spacing: 2.5px; text-transform: uppercase; color: #000; margin-bottom: 53px; }

.product-section-about .about_grid .about_content .product-specs__content .product-specs__table .product-specs__row { padding-bottom: 15px; margin-bottom: 15px; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #E1E1E1; }

.product-section-about .about_grid .about_content .product-specs__content .product-specs__table .product-specs__row .label { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 14px; line-height: 24px; color: #4B4B4B; text-transform: initial; letter-spacing: initial; }

.product-section-about .about_grid .about_content .product-specs__content .product-specs__table .product-specs__row .value { font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; text-align: right; color: #4B4B4B; text-transform: initial; }

.product-section-about .about_grid .about_content .product-specs__content .product-specs__table .product-specs__row:last-child { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }

.product-information-wrapper { background: #F5F5F5; position: relative; margin-bottom: 80px; padding: 10px 0; }

.product-information-wrapper .page-width { display: flex; align-items: center; margin-bottom: 0; }

.product-information-wrapper .img-wrapper img { display: block; max-height: 400px; margin: 0 auto; }

.product-information-wrapper .slick-dots { bottom: 25px; display: none !important; }

.product-information-block-text { text-align: center; }

.product-information-block-text .product-information-block__heading { display: none; }

.product-information-block-text .product-information-block__title { margin-bottom: 16px; }

.product-information-block-text .product-information-block__title p { font-weight: 600; margin: 0; padding: 0; font-size: 24px; line-height: 32px; text-align: center; letter-spacing: 0.1em; text-transform: uppercase; }

.product-information-block-text .product-information-block__title p span, .product-information-block-text .product-information-block__title p strong, .product-information-block-text .product-information-block__title p b { font-weight: 700 !important; }

.product-information-block-text .description { font-size: 14px; line-height: 24px; color: #4B4B4B; }

.product-section-promo-text { padding-top: 0; }

.product-section-promo-text .page-width { max-width: 1215px; padding: 0; background: #000; color: #fff; display: flex; color: #fff; }

.product-section-promo-text .img-section, .product-section-promo-text .product-information-block-text { display: flex; flex: 1; align-items: center; justify-content: center; }

.product-section-promo-text .product-information-block-text .description { color: #fff; }

.product-section-testimonials { background: #F5F5F5; text-align: center; }

.product-section-testimonials .page-width { max-width: 592px; margin-left: auto; margin-right: auto; }

.product-section-testimonials .gold { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 14px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; color: #6E6E6E; position: relative; padding-bottom: 15px; margin-bottom: 0; }

.product-section-testimonials .tm-slide { height: auto !important; }

.product-section-testimonials .tm-slide p { font-style: italic; font-weight: bold; font-size: 20px; line-height: 40px; text-align: center; color: #4B4B4B; }

.product-section-testimonials .tm-slider-nav a { padding: 0 20px; text-align: center; cursor: pointer; }

.product-section-testimonials .tm-slider-nav a img { -webkit-filter: grayscale(100%); filter: grayscale(100%); width: auto; }

.product-section-testimonials .tm-slider-nav a.active img { -webkit-filter: grayscale(0); filter: grayscale(0); }

.product-section-testimonials .slick-dotted.slick-slider { margin-bottom: 45px; }

.product-section-promo-video { padding-top: 0; }

.product-section-promo-video .product-information-block-text { max-width: 384px; margin-left: auto; margin-right: auto; padding-bottom: 40px; }

.product-section-promo-video .product-information-block-text .product-information-block__title { margin-bottom: 0; }

.product-section-promo-video .product-information-block-text .product-information-block__title p { color: #000; font-size: 32px; line-height: 40px; text-transform: initial; letter-spacing: initial; padding-bottom: 18px; }

.product-section-promo-video .video-section { position: relative; padding-bottom: 55.25%; /* 16:9 */ height: 0; }

.product-section-promo-video .video-section img { width: 100%; height: auto; }

.product-section-promo-video .video-section iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.product-section-promo-video .page-width { max-width: 1108px; }

.product-section-bought-together { background: #F5F5F5; }

.product-section-bought-together .product-section--text { margin-bottom: 42px; }

.product-section-bought-together .add_to_cart { cursor: pointer; height: 56px; line-height: 56px; border-radius: 2px; background: #000; font-weight: bold; font-size: 16px; text-align: center; letter-spacing: 2.5px; color: #fff; margin-bottom: 24px; }

.product-section-bought-together .total_wrapper { max-width: 384px; margin-left: auto; }

.product-section-bought-together .total_wrapper .total-value { font-weight: 500; font-size: 18px; line-height: 24px; color: #4B4B4B; }

.product-section-bought-together .total_wrapper .money { margin-left: 10px; display: inline-block; }

.product-section-bought-together .item .img { box-sizing: border-box; margin-bottom: 16px; background-color: #fff; }

.product-section-bought-together .item .title { font-size: 14px; line-height: 24px; color: #4B4B4B; margin-bottom: 5px; }

.product-section-bought-together .item .title a { color: #4B4B4B; }

.product-section-bought-together .item .price .money { margin-bottom: 2px; font-size: 14px; line-height: 24px; color: #4B4B4B; }

.product-section-bought-together .item .price .money:last-child { margin-bottom: 0; }

.product-section-bought-together .item.hidden .img, .product-section-bought-together .item.hidden .title, .product-section-bought-together .item.hidden .price { opacity: 0.35; }

.product-section-bought-together .item.hidden.plus .img:before, .product-section-bought-together .item.hidden.plus .img:after { display: none; }

.product-section-might-also-like { padding-bottom: 30px; }

.product-section-might-also-like .product-section--title { padding-bottom: 40px; }

.product-section-might-also-like .slick-initialized .grid-items.slick-slide { display: grid; }

.product-section-might-also-like .grid-items .item .img { padding: 16px 34px; }

.product-section-story { padding-top: 0; }

.product-section-story .product-section--title { font-weight: bold; font-size: 24px; line-height: 32px; letter-spacing: 2.5px; text-transform: uppercase; color: #000000; padding-bottom: 64px; text-align: center; }

.product-section-story .grid-items .item { text-align: left; }

.product-section-story .grid-items .item .img { margin-bottom: 24px; border-radius: 0; height: auto; }

.product-section-story .grid-items .item .img img { display: block; }

.product-section-story .grid-items .item .title { font-weight: bold; font-size: 14px; line-height: 24px; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 16px; text-align: left; }

.product-section-story .grid-items .item .text { font-size: 14px; line-height: 24px; }

.product-section-also-viewed { display: none; background: #FAFAFA; padding-bottom: 50px; }

.product-section-also-viewed .product-section--title { padding-bottom: 41px; }

.product-section-browsing-history { padding-bottom: 55px; }

.product-section-browsing-history .product-section--title { padding-bottom: 41px; }

.product-section-question { padding: 41px 0; text-align: center; background: #F5F5F5; }

.product-section-question .page-width { max-width: 535px; }

.product-section-question .btn { display: block; margin: 0 35px 16px 35px; height: 40px; line-height: 38px; border: 1px solid #000000; background: transparent; text-align: center; font-family: DM Sans; font-weight: bold; font-size: 14px; letter-spacing: 2.5px; text-transform: uppercase; color: #000; padding: 0; }

.product-section-question .btn:last-child { margin-bottom: 0; }

.grid-items.slick-initialized { display: block; padding: 0; margin: 0; overflow-x: initial; }

.grid-items.slick-initialized .slick-slide { margin: 0 16px; }

.grid-items.slick-initialized .slick-list { margin: 0 -16px; }

.grid-items.slick-initialized .slick-next { top: 40%; }

.grid-items.slick-initialized .slick-prev { top: 40%; }

.grid-items.slick-initialized .item .img { display: flex; align-items: center; justify-content: center; flex: 1; }

.grid-items.slick-initialized .item a { flex: 1; }

.fbt-fixed { display: none; width: 100%; position: fixed; left: 0; top: 0; padding: 8px 0; background: #FFFFFF; z-index: 20; color: #000; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

.fbt-fixed .page-width { display: grid; align-items: center; justify-content: space-between; grid-template-columns: 1fr 1fr 1fr; grid-gap: 48px; }

.fbt-fixed .limited-offer .limited-offer-title { font-size: 12px; padding-bottom: 4px; }

.fbt-fixed .limited-offer .limited-offer-timer { font-size: 14px; }

.fbt-fixed .fbt-fixed_title { font-family: DM Sans; font-size: 14px; line-height: 24px; padding-bottom: 4px; }

.fbt-fixed .fbt-fixed_selected { display: none; }

.fbt-fixed .fbt-fixed_selected a { font-size: 14px; line-height: 16px; color: #5472C7; text-decoration: underline; }

.fbt-fixed .cart_column { text-align: center; }

.fbt-fixed .cart_column .fbt-fixed_add_to_cart { cursor: pointer; background: #000000; border: 1px solid #2C2C2C; box-sizing: border-box; border-radius: 2px; text-align: center; height: 40px; position: relative; font-weight: bold; font-size: 12px; line-height: 16px; letter-spacing: 2.5px; text-transform: uppercase; color: #FFFFFF; }

.fbt-fixed .cart_column .fbt-fixed_add_to_cart span.main { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; }

.fbt-fixed .cart_column .fbt-fixed_add_to_cart .grey { color: grey; }

.product-delivery p span { color: #000000; font-weight: 700; }

.benefits-list { display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; }

.benefits-item { max-width: calc(50% - 14px); width: 100%; margin-right: 20px; display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }

.benefits-item:nth-child(even) { margin-right: 0; }

.benefits-item .benefits-text p { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px; letter-spacing: 1px; text-transform: uppercase; color: #8E8E8E; margin-bottom: 0; }

.benefits-item .benefits-icon { background: #4BB543; border-radius: 16px; padding: 6.25px; margin-right: 14px; }

.benefits-item .benefits-icon svg { display: block; }

.cbb-frequently-bought-container, .cbb-also-bought-container, .fera-text-under-product-heading, .banana-statement, .product-single__variants { display: none; }

.modal { left: auto; }

.modal__inner { margin: 0; }

.modal--square .modal__centered-content { max-height: calc(100vh - 80px); max-width: 448px; padding: 40px 32px; }

.modal--square .modal__centered-content h1 { font-family: DM Sans; font-weight: bold; font-size: 26px; line-height: 40px; letter-spacing: 2.5px; text-transform: uppercase; padding-bottom: 16px; margin-bottom: 16px; position: relative; }

.modal--square .modal__centered-content h1:after { position: absolute; content: ''; height: 1px; width: 72px; left: 0; bottom: 0; background: #2C2C2C; }

.modal--square .modal__centered-content p { font-size: 14px; line-height: 24px; }

.modal--square .modal__close { width: 40px; height: 40px; top: 0; right: 0; padding: 0; display: block; }

.modal--square .modal__close .icon { width: 30px; height: 30px; fill: #EBC569; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.modal { height: 100%; }

.modal .modal__inner { height: 100%; }

.product-section-straps .grid-items .item .title { height: 68px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

#enlargeGalleryPopup { width: 100%; height: 100vh; }

#enlargeGalleryPopup .modal__inner { width: 100%; height: 100%; background: white; }

#enlargeGalleryPopup .modal__inner .modal__centered-content { width: 100%; height: 100%; }

#enlargeGalleryPopup .modal__inner .modal__centered-content img { height: 70vh; width: auto; margin-bottom: 5%; }

#enlargeGalleryPopup .modal__inner .modal__centered-content .zoom_me_text { font-family: DM Sans; font-size: 14px; line-height: 24px; color: #4B4B4B; position: absolute; bottom: 5%; left: 50%; transform: translateX(-50%); }

#enlargeGalleryPopup .modal__inner .modal__centered-content .modal-gallery { height: 100%; }

#enlargeGalleryPopup .modal__inner .modal__centered-content .modal-gallery .slick-list { height: 100%; }

#enlargeGalleryPopup .modal__inner .modal__centered-content .modal-gallery .slick-list .slick-track { height: 100%; }

#enlargeGalleryPopup .modal__inner .modal__centered-content .modal-gallery .slick-list .slick-track .slick-slide { position: relative; display: flex; align-items: center; height: 100%; }

#enlargeGalleryPopup .modal__close { background: #000; width: 40px; height: 40px; padding: 0; border-radius: 50%; right: 24px; top: 24px; }

#enlargeGalleryPopup .slick-slider .slick-prev { left: 32px; }

#enlargeGalleryPopup .slick-slider .slick-next { right: 32px; }

.variant-wrapper.color-wrapper { position: relative; margin-bottom: 12px; cursor: pointer; }

.variant-wrapper.color-wrapper .variant__label { margin-bottom: 0; height: 56px; background: #FFFFFF; border-radius: 2px; padding: 0 20px; font-weight: bold; font-size: 14px; line-height: 24px; align-items: center; letter-spacing: 2.5px; text-transform: uppercase; position: relative; border: 1px solid #CACACA; }

.variant-wrapper.color-wrapper .variant__label.selected { border-color: #000; }

.variant-wrapper.color-wrapper .variant__label:after { content: ''; right: 20px; width: 18px; height: 10px; background: url('data:image/svg+xml;utf8,<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3536 0.646447C17.5488 0.841709 17.5488 1.15829 17.3536 1.35355L9 9.70711L0.646446 1.35355C0.451185 1.15829 0.451185 0.841707 0.646446 0.646445C0.841709 0.451183 1.15829 0.451183 1.35355 0.646445L9 8.29289L16.6464 0.646447C16.8417 0.451184 17.1583 0.451184 17.3536 0.646447Z" fill="black"/></svg>'); background-size: cover; transition: .1s all ease-in; }

.variant-wrapper.color-wrapper .variant-input-wrap { z-index: 1; position: absolute; width: 100%; border: 1px solid #CACACA; border-top: none; display: none; }

.variant-wrapper.color-wrapper .variant-input-wrap .mobile_title { display: none; height: 80px; font-weight: bold; font-size: 18px; line-height: 24px; letter-spacing: 2.5px; text-transform: uppercase; align-items: center; justify-content: center; color: #000000; padding: 0 32px; position: relative; border-bottom: 24px solid #F5F5F5; background: #fff; cursor: pointer; }

.variant-wrapper.color-wrapper .variant-input-wrap .mobile_title svg { position: absolute; top: 50%; left: 32px; transform: translateY(-50%); }

.variant-wrapper.color-wrapper .variant-input-wrap label { border: none; min-width: initial; min-height: initial; height: 56px; line-height: 24px; font-size: 14px; padding: 0 20px; margin: 0; display: flex; align-items: center; transition: .3s all ease-in; position: relative; }

.variant-wrapper.color-wrapper .variant-input-wrap label:before { content: ''; position: absolute; width: calc(100% - 40px); height: 1px; background: #E1E1E1; bottom: 0; left: 20px; }

.variant-wrapper.color-wrapper .variant-input-wrap label:after { top: 50%; right: 20px; bottom: auto; left: auto; transform: translateY(-50%); width: 16px; height: 11px; background: url('data:image/svg+xml;utf8,<svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.8622 0.14374C16.0459 0.335394 16.0459 0.646126 15.8622 0.83778L6.11765 11L0.137832 4.76386C-0.045944 4.57221 -0.045944 4.26147 0.137832 4.06982C0.321608 3.87817 0.619568 3.87817 0.803344 4.06982L6.11765 9.61192L15.1967 0.14374C15.3804 -0.0479134 15.6784 -0.0479134 15.8622 0.14374Z" fill="black"/></svg>'); background-size: cover; border: none; display: none; transition: .1s all ease-in; }

.variant-wrapper.color-wrapper .variant-input-wrap label:hover { background: #FAFAFA; }

.variant-wrapper.color-wrapper .variant-input-wrap label:last-child:before { display: none; }

.variant-wrapper.color-wrapper .variant-input-wrap label.active { font-weight: bold; }

.variant-wrapper.color-wrapper .variant-input-wrap label.active:after { display: block; }

.variant-wrapper.color-wrapper.active .variant__label { background: #F5F5F5; border-bottom: none; }

.variant-wrapper.color-wrapper.active .variant__label.selected { border-bottom: 1px solid #000; }

.variant-wrapper.color-wrapper.active .variant__label:after { transform: rotate(180deg); }

.variant-wrapper.color-wrapper.active .variant-input-wrap { display: block; }

.product-small-description { padding-bottom: 24px; font-size: 14px; line-height: 24px; color: #000000; display: none; }

.product-small-description .hidden_text { display: none; }

.product-small-description .full_text { display: block; padding-top: 12px; font-weight: 600; font-size: 12px; line-height: 10px; color: #000000; position: relative; cursor: pointer; }

.product-small-description .full_text .plus { display: inline-block; margin-right: 5px; }

.product-small-description .full_text .minus { display: none; margin-right: 5px; }

.product-small-description .full_text svg, .product-small-description .full_text span { display: inline-block; vertical-align: middle; }

.product-small-description .dots { display: inline; }

.product-small-description.active .hidden_text { display: inline; }

.product-small-description.active .full_text .plus { display: none; }

.product-small-description.active .full_text .minus { display: inline-block; }

.product-small-description.active .dots { display: none; }

body .wishlist-button { margin-bottom: 40px; justify-content: center; }

.tier-chooses { display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; }

.tier-product { max-width: 33%; }

div#tierpopup.modal--square .modal__centered-content { position: relative; z-index: 9999; padding: 60px 32px; }

div#tierpopup .modal__inner { margin: 0; position: absolute; right: 0; top: 0; width: 100%; max-width: 400px; height: 100vh; display: block; }

div#tierpopup .modal__footer { width: 100%; padding: 24px 32px; text-align: center; }

.modal__listofchoosed { display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; }

.modal__listtochoose { display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap; }

.tier-product_to { flex-basis: 50%; cursor: pointer; }

.tier-product-image, .tier-product-image_to { max-width: 176px; padding: 8px 23px; margin: 0 auto 8px; position: relative; }

.tier-product-title h4, .tier-product-title_to h4 { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px; /* identical to box height, or 133% */ text-align: center; letter-spacing: 1px; text-transform: uppercase; color: #000000; }

.tier-product-change, .tier-product-change_to { text-align: center; }

.tier-product-change a, .tier-product-change_to a { font-family: DM Sans; font-style: normal; font-weight: 600; font-size: 14px; line-height: 24px; text-align: center; letter-spacing: 0.1em; -webkit-text-decoration-line: underline; text-decoration-line: underline; text-transform: uppercase; color: #000000; }

.wishlist-heading { width: 100%; }

.modal__footer_addcart a { background: #000000; border-radius: 2px; font-family: DM Sans; font-style: normal; font-weight: 600; font-size: 16px; line-height: 24px; text-align: right; letter-spacing: 0.1em; color: #FFFFFF; display: inline-block; width: 100%; text-align: center; text-transform: uppercase; padding: 16px 0; margin-bottom: 16px; }

.modal__footer_addcart a:hover { color: #fff; }

.modal__footer_addwish .wishlist-button { margin-bottom: 0; }

.modal__footer_addwish .wishlist-button .wishlist-text p { font-family: DM Sans; font-style: normal; font-weight: 600; font-size: 12px; line-height: 16px; /* text-align: right; */ letter-spacing: 0.1em; text-transform: uppercase; color: #000000; }

.tier-product.not-choosing { opacity: 0.4; }

.wishlist-heading h2 { text-align: center; }

div#tierpopup .wishlist-heading h2 { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 18px; line-height: 24px; text-align: center; letter-spacing: 2.5px; text-transform: uppercase; font-feature-settings: 'ss04' on; color: #000000; }

div#tierpopup .wishlist-close { position: absolute; top: 10px; right: 10px; }

div#tierpopup .wishlist-heading { padding-top: 10px; }

.tier-product-indicator { position: absolute; right: 8px; bottom: 8px; background: #F5F5F5; border-radius: 24px; width: 24px; height: 24px; text-align: center; line-height: 24px; }

.box_choose { display: flex; justify-content: space-between; align-items: center; margin-bottom: 24px; }

.box_choose_image { min-width: 176px; border: 1px solid #F5F5F5; margin-right: 32px; }

.box_choose_image img { display: block; }

.box_description h5 { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px; letter-spacing: 2.5px; text-transform: uppercase; color: #6E6E6E; margin-bottom: 8px; }

.box_description h3 { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 18px; line-height: 24px; /* or 133% */ letter-spacing: 2.5px; text-transform: uppercase; font-feature-settings: 'ss04' on; color: #000000; }

.tier-product-old-price p { font-family: DM Sans; font-style: normal; font-weight: normal; font-size: 12px; line-height: 24px; text-align: center; font-feature-settings: 'ss04' on; color: #6E6E6E; margin-bottom: 0px; }

.tier-product-old-price { margin-bottom: 8px; }

.tier-product-title_to h4 { min-height: 48px; margin-bottom: 4px; }

.tier-product-new-price p { font-family: DM Sans; font-style: normal; font-weight: bold; font-size: 16px; line-height: 24px; text-align: center; letter-spacing: 1px; text-transform: uppercase; font-feature-settings: 'ss04' on; color: #000000; margin-bottom: 0; }

.tier-product-old-price p span { color: #f00000; text-decoration: line-through; }

.tier-choose-wrap { margin-bottom: 24px; }

.tier-choose-wrap-heading { margin: 20px 0 10px; }

.tier-choose-wrap-heading h2 { font-family: 'DM Sans', sans-serif; font-size: 16px; margin-bottom: 0; }

@media only screen and (max-width: 1400px) { .slick-slider .slick-prev { left: 56px; }
  .slick-slider .slick-next { right: 56px; } }

@media only screen and (max-width: 1300px) { .product-section-might-also-like .slick-next { right: 25px; top: 45%; }
  .product-section-might-also-like .slick-prev { left: 25px; top: 45%; }
  .product-icons-wrapper .page-width { padding: 0 15px; }
  .product-section-about .about_grid .about_content { padding-left: 25px; }
  .product-information-wrapper .page-width { min-width: 940px; }
  .grid-items.slick-initialized .slick-next { right: 0; top: 40%; }
  .grid-items.slick-initialized .slick-prev { left: 0; top: 40%; } }

@media only screen and (max-width: 1023px) { .product-image-main { margin-right: auto; }
  .product-single__meta { max-width: initial; }
  .product-single__meta .stock-info-wrap .stock-info { max-width: 384px; margin-left: auto; margin-right: auto; }
  .product-single__meta .stock-info-wrap .stock-info svg.bg { width: 100% !important; }
  .product-single__meta .similar-products .slick-next, .product-single__meta .similar-products .slick-prev { top: 40%; }
  .grid-items { margin-right: -32px; margin-left: -32px; display: grid; grid-gap: 16px; grid-template-columns: 10px; grid-template-rows: minmax(150px, 1fr); grid-auto-flow: column; grid-auto-columns: calc(50% - 20px * 3); overflow-x: scroll; -ms-scroll-snap-type: x proximity; scroll-snap-type: x proximity; padding-bottom: calc(.75 * 20px); margin-bottom: calc(-.25 * 20px); }
  .grid-items:before, .grid-items:after { content: ''; width: 10px; }
  .product-info-section .product-images-wrap { position: relative; } }

@media only screen and (max-width: 992px) { .product-information-wrapper .img-wrapper img { max-width: 590px; margin-left: auto; margin-right: auto; margin-top: 60px; }
  .product-section-about .tab-content.active .about_grid table { display: block; }
  .product-section-about .tab-content.active .about_grid table tbody { display: block; }
  .product-section-about .tab-content.active .about_grid table tbody tr { display: block; }
  .product-section-about .tab-content.active .about_grid table tbody tr td { width: 100% !important; display: block; max-width: 100%; }
  .product-information-wrapper .page-width { position: relative; transform: initial; top: initial; left: initial; min-width: auto; }
  .product-information-wrapper .page-width .product-information-block-text { padding: 40px 0 72px; }
  .limited-offer-timer span { margin: 0 6px; } }

@media only screen and (max-width: 768px) { .template-product .breadcrumb { display: block; }
  .fbt-fixed .limited-offer-column { display: none; }
  .fbt-fixed .page-width { grid-template-columns: 1fr 1fr; }
  .fbt-fixed_add_to_cart .mobile { display: none; } }

@media only screen and (max-width: 590px) { #ProductPhotos-product-template .slick-list.draggable, #ProductPhotos-product-sections-template .slick-list.draggable { min-height: 547px !important; }
  .product-image-main .image-wrap .enlarge-popup-link:not(.zoom_title) img { width: 100%; }
  .product-section-story.product-section-padding, .product-section-promo-video.product-section-padding { padding-top: 0; }
  .product-section-story .grid-items .item .img { padding: 0; }
  .product-information-wrapper .img-wrapper img { max-width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; }
  .slick-slider .slick-prev { left: 10px; }
  .product-information-wrapper .page-width .product-information-block-text { padding-left: 32px; padding-right: 32px; }
  .product-section-promo-text { padding-top: 0; padding-bottom: 0; }
  .product-section-promo-text .product-information-block-text { padding: 0 32px 64px 32px; }
  .slick-slider .slick-next { right: 10px; }
  .product-section-about .about_grid .about_image_wrapper { max-width: initial; }
  .product-section-about .about_grid .about_content .product-specs__content { width: initial; padding-top: 25px; }
  .product-section-about .about_grid .about_image_wrapper .spec_image img { margin-left: auto; margin-right: auto; }
  .template-product .grid, .template-product .grid--full { margin-left: 0; }
  .product__thumbs { display: none; }
  .product-image-main { max-width: initial; }
  .product-image-main .product-image-main .image-wrap { padding: 8px 38px; }
  .product__main-photos .slick-slider.slick-initialized .slick-next, .product__main-photos .slick-slider.slick-initialized .slick-prev, .product__main-photos .slick-slider.slick-initialized .slick-dots { display: block !important; }
  .slick-dots { text-align: center; }
  .thumbs-slider-arrow { display: none; }
  .product__main-photos .slick-slider.slick-initialized .slick-dots-track { max-width: 178px; overflow: hidden; margin: 0 auto; text-align: left; }
  .product__main-photos .slick-slider.slick-initialized .slick-dots-track .slick-dots { width: 1000%; position: relative; overflow: hidden; transform: translate3d(0px, 0px, 0px); transition: transform 300ms ease; bottom: 0; text-align: left; }
  .product__main-photos .slick-slider.slick-initialized .slick-next, .product__main-photos .slick-slider.slick-initialized .slick-prev { border: none; background-color: transparent; }
  .grid__item { padding-left: 0; }
  .template-product .page-width { width: 100%; padding: 0 32px; }
  .product-icons-wrapper .product-icon { padding-left: 7px; padding-right: 7px; }
  .product-section-about .product-section-about-tabs { display: none; }
  .product-section-about .tab-content .tab-content-mobile-header { display: block; }
  .product-section-about .tab-content { display: block; }
  .product-section-about .tab-content .about_grid { display: none; padding: 40px 0; }
  .product-section-about .tab-content.active .about_grid { display: block; }
  .product-section-about .about_grid .about_image_wrapper { padding-bottom: 24px; }
  .product-section-about .about_grid .about_content { padding-left: 0; max-width: initial; width: 100%; }
  .product-section-about { padding-bottom: 64px; }
  .product-information-wrapper .slick-dotted.slick-slider { margin-bottom: 0; }
  .product-information-wrapper .slick-dots { display: block !important; bottom: 30px !important; }
  .product-section-promo-text { padding-top: 64px; }
  .product-section-promo-text .img-section { margin-bottom: 32px; }
  .product-section-padding { padding-top: 64px; padding-bottom: 64px; }
  .product-section-testimonials .tm-slide .tm-image { padding-top: 60px; }
  .product-section-testimonials .tm-slide .tm-image img { margin-left: auto; margin-right: auto; max-width: 93px; }
  .product-section-testimonials .tm-slider-nav { display: none !important; }
  .product-section-testimonials .slick-slider .slick-dots { display: block !important; bottom: 86px !important; }
  .product-section-testimonials { padding-bottom: 25px; }
  .product-section-promo-video .container { display: flex; flex-direction: column-reverse; }
  .product-section-promo-video .product-information-block-text { padding-top: 20px; padding-bottom: 0; }
  .product-section-reviews .tab-content-mobile-header { display: block; margin-left: 0; margin-right: 0; border-bottom: 1px solid #E1E1E1; }
  .product-section-reviews-content { padding-top: 24px; display: none; }
  .product-section-reviews-content.active { display: block; }
  .product-section-reviews-content #stamped-main-widget { margin: 1em 32px 1em 32px; }
  .product-section-bought-together .grid-items { grid-template-columns: repeat(auto-fill, minmax(33%, 1fr)); margin-left: 0; margin-right: 0; overflow: initial; grid-auto-flow: initial; }
  .product-section-bought-together .grid-items .item { margin-bottom: 30px; }
  .product-section-bought-together .grid-items .item.plus .img:before, .product-section-bought-together .grid-items .item.plus .img:after, .product-section-bought-together .grid-items:before, .product-section-bought-together .grid-items:after { display: none; }
  .product-section-bought-together { text-align: center; }
  .product-section-bought-together .total_wrapper { margin: 0 auto 35px; max-width: initial; }
  .product-section .breadcrumb { font-size: 10px; }
  .product-section .breadcrumb-wrapper { margin-bottom: 25px; }
  .product-image-main .image-wrap .zoom_title { bottom: 8px; left: 50%; right: auto; transform: translateX(-50%); }
  .product-single__meta .product-single__title { font-size: 24px; line-height: 32px; padding-bottom: 16px; }
  .product-single__meta .limited-offer { font-size: 10px; }
  .product-info-section { margin-bottom: 24px; }
  .product-icons-wrapper .product-icon .overlay { width: 40px; height: 40px; margin-bottom: 16px; }
  .product-icons-wrapper .product-icon { font-size: 12px; line-height: 16px; }
  .product-icons-wrapper .product-icon .overlay img { max-width: 21px; max-height: 21px; }
  .product-icons-wrapper { padding: 24px 0; }
  .product-section-about .about_grid .about_content .product-specs__content .product-specs__title { font-size: 18px; }
  .grid--small .grid__item { padding-left: 0; }
  .product-information-block-text .product-information-block__title p, .product-section-about .about_grid .about_content h3, .product-information-block-text .product-information-block__title p { font-size: 18px; line-height: 32px; }
  .product-information-wrapper.slick-dotted.slick-slider { margin-bottom: 0; }
  .product-section-promo-text .img-section img { margin-left: 0; }
  h2.gold, .gold.h2 { max-width: initial; }
  .product-section-promo-video .product-information-block-text .product-information-block__title p { font-size: 18px; line-height: 32px; }
  .grid-items .item .img { padding: 12px 21px; }
  .grid-items .item .title { font-size: 12px; line-height: 16px; letter-spacing: 1px; }
  .grid-items .item .add_to_cart { font-size: 12px; }
  .product-section-bought-together .product-section--text { margin-bottom: 30px; }
  .product-section-bought-together.product-section-padding { padding-bottom: 20px; }
  .product-section--title { font-size: 18px; line-height: 32px; }
  .product-section-might-also-like .product-section--title, .product-section-also-viewed .product-section--title, .product-section-browsing-history .product-section--title { padding-bottom: 24px; }
  .product-section--title.line { margin-bottom: 0; }
  .product-section--title.line:after { display: none; }
  .product-section-question .btn { margin-left: auto; margin-right: auto; }
  .product-section-might-also-like .slick-prev { left: -30px; }
  .product-section-might-also-like .slick-next { right: -30px; }
  .product-information-wrapper .page-width { padding: 0; }
  body .product-section-promo-text { padding: 0; margin-bottom: 24px; }
  body .product-section-promo-text .page-width { padding: 0; }
  body .product-section-promo-text .page-width .container { max-width: initial; }
  .product-section-also-viewed, .product-section-might-also-like, .product-section-browsing-history { padding-bottom: 30px; }
  .product-section-also-viewed.product-section-padding, .product-section-might-also-like.product-section-padding, .product-section-browsing-history.product-section-padding { padding-bottom: 30px; }
  .grid-items .item .img { margin-bottom: 15px; height: 155px; }
  .limited-offer-timer span { margin: 0 1px; }
  .product-section h1, .product-section h2, .product-section .product-single__meta .product-single__title, .product-section .product-information-block-text .product-information-block__title p, .product-section .product-section-promo-video .product-information-block-text .product-information-block__title p, .product-section .product-section--title { font-size: 24px; line-height: 32px; letter-spacing: 2.5px; }
  .product-section--text, .product-section--text p, .product-section--title { text-align: center; }
  .product-information-wrapper .slick-slider .slick-next { right: 0; }
  .product-information-wrapper .slick-slider .slick-prev { left: 0; }
  .product-information-wrapper .slick-slider .slick-next, .product-information-wrapper .slick-slider .slick-prev { border: none; background: none; top: 70%; }
  .product-section-promo-text .page-width { display: block; }
  .fbt-fixed { padding: 4px 0; }
  .fbt-fixed .fbt-fixed_title { font-size: 12px; padding-bottom: 0; line-height: 16px; }
  .fbt-fixed .fbt-fixed_selected { text-align: center; }
  .fbt-fixed .fbt-fixed_selected a { font-size: 12px; }
  .fbt-fixed .fbt-fixed_selected span { display: none; }
  .fbt-fixed .cart_column .fbt-fixed_add_to_cart .grey { display: none; }
  .fbt-fixed .page-width { grid-gap: 8px; }
  .fbt-fixed .text_column { display: flex; align-items: center; }
  .fbt-fixed .text_column .fbt-fixed_selected { padding-left: 8px; min-width: 33%; }
  .fbt-fixed .text_column .fbt-fixed_selected span { display: none; }
  .product-section-bought-together .item .img { background-color: initial; }
  .modal { z-index: 35; }
  .product-section-about .about_grid .about_content.centered { width: 100%; }
  .variant-wrapper.color-wrapper.active .variant-input-wrap { left: 0; right: 0; top: 0; bottom: 0; background: white; position: fixed; z-index: 40; }
  .variant-wrapper.color-wrapper .variant-input-wrap .mobile_title { display: flex; }
  .variant-wrapper.color-wrapper .variant-input-wrap label { padding: 0 32px; }
  .modal-gallery.slick-slider .slick-prev, .modal-gallery.slick-slider .slick-next { background: none; border: none; }
  .modal-gallery.slick-slider .slick-prev { left: 0 !important; }
  .modal-gallery.slick-slider .slick-next { right: 0 !important; }
  .product-information-wrapper .product-information-block { vertical-align: top; } }
