@charset "UTF-8";

/*
  Motion, by Archetype Themes
  http://archetypethemes.co

*/



.header__offer{
  background: #283455;
  text-align: center;
  padding: 12px 0 14px 0;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF; 
  .page__container{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  small{
    font-size: 10px;
    line-height: 13px;
    padding: 0 12px;
  }
} 
  .header__offer-line{
    min-width: 15px;
    height: 1px;
    background: #fff;
    display: inline-block;
    margin: 0 35px 0 23px;
  }

.main-header__item--logo{
  margin: 0;
  flex: 1;
}
  .main-header__nav-desktop .main-header__item--logo>a{
    margin-left: 0;
  }
  .main-header__nav-list .main-header__item-btn{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

.main-header--desktop{
  &:after{
    content: '';
    height: 9px;
    background: linear-gradient(to right, #e35a5a 0%,#e35a5a 14%,#ec7fa8 14%,#ec7fa8 28%,#e46c2c 28%,#e46c2c 42%,#e9ae40 42%,#e9ae40 57%,#438972 57%,#438972 71%,#75ccdf 71%,#75ccdf 85%,#9780dd 85%,#9780dd 100%);
    display: block; 

  }
}

.site-footer{
  background: #F8F1E9; 
  padding-bottom: 0;
}

.site-footer .footer__copyright{
  background: #EBD2B5;
  padding: 24px 0;
  text-transform: none;
}
.footer__copyright-row{
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  color: #6E6E6E;
  display: block;
  padding-bottom: 7px;
}
.site-footer .footer__copyright{
  span:not(.footer__copyright-row){
    padding: 0 24px;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    display: inline-block;
    color: #6E6E6E;
    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}