{% section 'blog-template' %}
{% paginate blog.articles by 5 %}
{% assign current_page = paginate.current_page %}
{% endpaginate %}
{% if current_page == 1 %}
{% section 'featured-content' %}
{% endif %}
{% section 'blog-pagination' %}