{% include 'vncpc' %}
<!-- spurit_po-added -->
{% include 'spurit_po-cart-snippet' %}
<!-- /spurit_po-added -->
<div class="page-width page-content">

  {% include 'breadcrumbs' %}

  <div class="grid">
    <div class="grid__item">
      {% if cart.item_count > 0 %}
        <header class="section-header">
          <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
        </header>

<div id="bold-cart-msg"></div>
        {% render 'banana-stand-cart-top-container' %}

        <form action="/cart" method="post" novalidate class="cart gip-cart">

          <div class="cart__row small--hide cart__header-labels">
            <div class="grid--full">
              <div class="grid__item medium-up--two-fifths medium-up--push-three-fifths">
                <div class="grid--full">
                  <div class="grid__item one-third small--half text-center">
                    {{ 'cart.label.quantity' | t }}
                  </div>
                  <div class="grid__item two-thirds small--half text-right">
                    {{ 'cart.label.total' | t }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% assign strapDiscount = 0 %}

          {% for item in cart.items %}
            <div class="cart__row gip-cart-line-item {% for p in item.properties %}{% if p contains "Bundle" %}cart-bundle-item{% endif %}{% if p contains "Collection" %} cart-replaced-product{% endif %}{% if p contains "Strap included" %}bundle-main-watch{% endif %}{% endfor %}">
              <div class="grid--full cart__row--table-large">
                <div class="grid__item medium-up--three-fifths">
                  <div class="grid">

                    <div class="grid__item one-quarter">
                      <a href="{{ item.url | within: collections.all }}" class="cart__image">
                        {%- assign img_url = item | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540]"
                            data-aspectratio="{{ item.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ item.title | escape }}">
                      </a>
                    </div>
                      <span class="gip-cart-line-item-price"
                            style="display: none;"
                            data-product-id="{{ item.product_id }}"
                            data-variant-id="{{ item.variant_id }}">
                          {{ item.original_price | money }}
                      </span>
                      <span class="gip-cart-line-item-meta"
                            style="display: none"
                            data-original-price-cents="{{ item.original_price }}"
                            data-discounted-price-cents="{{ item.discounted_price }}">
                      </span>
                    <div class="grid__item three-quarters">
                      <a href="{{ item.url }}" class="h4 cart__product-name">
                        {{ item.product.title }}<span class='appikon-cart-item-success-notes' data-key='{{item.key}}'></span>
<span class='appikon-cart-item-upsell-notes' data-key='{{item.key}}'></span>
<span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
<span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>

                      <span class='booster-cart-item-success-notes' data-key='{{item.key}}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                      </a>
                      {% assign bundleCheck = false %}
                      {% assign newPrice = 0 %}
                      {% unless forloop.last %}
                        {% assign property_next_size = cart.items[forloop.index].properties | size %}
                        {% if property_next_size > 0 %}
                          {% for p in cart.items[forloop.index].properties %}

                            {% if p contains 'Bundle' %}
                              {% assign bundleCheck = true %}
                            {% endif %}

                          {% endfor %}
                        {% endif %}

                        {% if bundleCheck %}
                          {% assign newPrice = item.price | plus: cart.items[forloop.index].price %}
                        {% endif %}

                      {% endunless %}
                      <div class="cart__props">
                        {% unless item.variant.title contains 'Default' %}
                          <p class="cart__product-meta cart__product-meta-variant">
                            {{ item.variant.title }}
                          </p>
                        {% endunless %}


                        {% assign property_size = item.properties | size %}
                        {% if property_size > 0 %}
                          {% for p in item.properties %}
                            {% assign first_character_in_key = p.first | truncate: 1, '' %}
                            {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" or first_character_in_key == '_' %}
                              <p class="cart__product-meta-props">
                                {{ p.first }}:

                                {% if p.last contains '/uploads/' %}
                                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                {% else %}
                                  {{ p.last }}
                                {% endif %}
                              </p>

                              {% if p contains "Bundle" %}
                                {% assign strapDiscount = strapDiscount | plus: item.total_discount %}
                              {% endif %}

                              <br>
                            {% endunless %}
                          {% endfor %}
                        {% endif %}
                      </div>

                      <p class="cart__product-meta remove-button">
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--remove">
                          {{ 'cart.general.remove' | t }}
                        </a>
                      </p>
                    </div>

                  </div>
                </div>

                <div class="grid__item medium-up--two-fifths">
                  <div class="grid--full cart__row--table">

                    <div class="grid__item one-third text-center">
                      <label for="updates_{{ item.key }}" class="visually-hidden">{{ 'cart.label.quantity' | t }}</label>
                      <input type="number" name="updates[]" id="updates_{{ item.key }}" class="cart__product-qty" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}">
                      <span class='gip-cart-line-item-qty' style='display:none;'>{{ item.quantity }}</span>
                    </div>

                    <div class="grid__item two-thirds text-right">
                      {% if item.original_line_price != item.line_price %}
                        {% if bundleCheck %}
                            <span class="saso-cart-item-price" data-key="{{item.key}}">
                                <small class="cart__price cart__price--strikethrough">{{ item.original_price | plus: cart.items[forloop.index].price | times: item.quantity | money }}</small>
                            </span>
                        {% else %}
                          <small class="cart__price cart__price--strikethrough">
                            <span class="saso-cart-item-line-price" data-key="{{item.key}}">
                                <div class="qb-total-line-item" data-id="{{ item.key }}"><span class='appikon-cart-item-line-price' data-key='{{item.key}}'>{{ item.original_line_price | money }}</span></div>
                            </span>
                          </small>
                        {% endif %}
                      {% endif %}

                      <span class="cart__price" data-id-line-price="">
                        <span class="saso-cart-item-price" data-key="{{item.key}}" hidden>{{item.price}}</span>
                        <span class="Bold-theme-hook-DO-NOT-DELETE-comment-bold_cart_item_price" style="display:none !important;"></span>
                        <span class='hulkapps-cart-item-price' data-key='{{item.key}}'>
                            {% if newPrice > 0 %}
                              <span class="gip-cart-final-line-item-total">{{ newPrice | times: item.quantity | money }}</span>
                            {% else %}
                              <span class="gip-cart-final-line-item-total">{{ item.price | times: item.quantity | money }}</span>
                            {% endif %}
                        </span>
                      </span>

                      {% assign discounts_size = item.discounts | size %}
                      {% if discounts_size > 0 %}
                        {% for discount in item.discounts %}
                          <small class="cart__discount">{{ discount.title }}</small>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}

          <div class="cart__row last">
            <div class="grid--full cart__row--table-large">
              {% comment %}
                Optional, add a textarea for special notes
                  - Your theme settings can turn this on or off. Default is on.
                  - Make sure you have name="note" for the message to be submitted properly
              {% endcomment %}
              {% if settings.cart_notes_enable %}
                <div class="grid__item medium-up--seven-twelfths">
                  <div class="cart__note">
                    <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                  </div>
                </div>
              {% endif %}
              <div class="grid__item medium-up--seven-twelfths text-center medium-up--text-right {% unless settings.cart_notes_enable %} medium-up--push-five-twelfths{% endunless %}">
                <div class="grid--full cart__row--table">
                  <div class="grid__item one-half medium-up--two-thirds medium-up--text-center">
                    <p class="h4 cart__subtotal">{{ 'cart.general.subtotal' | t }}</p>
                  </div>
                  <div class="grid__item one-half medium-up--one-third">
                    <p class="h4 cart__subtotal"><span class="Bold-theme-hook-DO-NOT-DELETE-comment-bold_cart_total" style="display:none !important;"></span><span class="wh-original-cart-total"><span class='wh-original-price'><span id="">
                        <span class="">
                            <span class='gip-cart-total'>{{ cart.total_price | money }}</span>
                        </span>
                        <span class=""></span>
                        </span>
                        </span>
                        </span>
                        <span class="wh-cart-total"></span>
                        <div class="additional-notes">
                            <span class="wh-minimums-note"></span>
                            <span class="wh-extra-note"></span>
                        </div>
                    </p>
                  </div>
                </div>

                {% if cart.total_discounts > 0 %}
                  {% assign cartTotalDiscounts = cart.total_discounts | minus: strapDiscount | money %}
                  <p class="cart__savings">
                    {{ 'cart.general.savings_reach_html' | t }}
                    <span class="gip-cart-total-discounts"></span>
                  </p>
                {% endif %}
                <small>
                  {{ 'cart.general.shipping_at_checkout' | t }}<br />
                  {% if settings.enable_currencies %}
                  {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
                  {% endif %}
                </small>
                {% if settings.cart_terms_conditions_enable %}
                  <p class="ajaxcart__note ajaxcart__note--terms">
                    <input type="checkbox" id="CartPageAgree" />
                    <label for="CartPageAgree">
                      {% if settings.cart_terms_conditions_link != blank %}
                        {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
                      {% else %}
                        {{ 'cart.general.terms' | t }}
                      {% endif %}
                    </label>
                  </p>
                {% endif %}

                <div class="d-flex justify-content-end align-items-center flex-lg-row flex-column">
                  {% assign klarnaEnabled = true %}

                  {% for item in cart.items %}
                    {% if item.product.tags contains 'Preorder' %}
                      {% assign klarnaEnabled = false %}
                    {% endif %}
                  {% endfor %}

                  {% if klarnaEnabled %}
                    <!-- Placement v1 -->
                    <klarna-placement
                            data-id="2d025337-7636-400a-bf4d-b4f8d5b83731"
                            data-purchase_amount="{{ cart.total_price }}"
                    ></klarna-placement>
                    <!-- end Placement -->
                  {% endif %}

                  <div>
                    <button type="submit" name="update" class="update-cart">{{ 'cart.general.update' | t }}</button>
                    <button type="submit" name="checkout" class="btn btn--secondary cart__checkout{% if settings.cart_terms_conditions_enable %} cart__checkout--page{% endif %}">
                      {{ 'cart.general.checkout' | t }}
                    </button>
                  </div>
                </div>

                {% if additional_checkout_buttons and settings.cart_type != 'drawer' %}
                  <div class="additional_checkout_buttons"><span class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</span></div>
                {% endif %}
              </div>
            </div>

          </div>

        </form>

      {% else %}
        <header class="section-header">
          <h1 class="section-header__title">{{ 'cart.general.title' | t }}</h1>
          <p>{{ 'cart.general.empty' | t }}</p>
          <p class="rte">{{ 'cart.general.continue_browsing_html' | t }}</p>
        </header>
      {% endif %}
    </div>
  </div>
</div>

{% include 'nosto-element' with 'cartpage-nosto-1' %}

{% include 'nosto-element' with 'cartpage-nosto-2' %}

{% include 'nosto-element' with 'cartpage-nosto-3' %}