{% assign banner_location = 'collection' %}
{% assign bnnr_cp = shop.metafields.airf.bnnr_cp %}
{% if bnnr_cp == "true" %}
  {% include 'banner-full' with banner_location %}
{% endif %}

{% assign xmas_bnr = shop.metafields.airf.xmas_bnr %}
{% if xmas_bnr == "true" %}
  {% include 'banner-xmas' %}
{% endif %}

{% assign enabled = collection.metafields.airf.mnu_en %}
{% if enabled == "true" %}
    {% include 'top-menu-offer' %}
{% endif %}

{% assign c_b_e = collection.metafields.airf.c_b_e %}
{% if c_b_e == "true" %}
    {% include 'collection-banner' %}
{% endif %}

{% comment %}
{% assign hero_en = collection.metafields.airf.hero_en %}
{% if hero_en == "true" %}
    {% include 'collection-hero' %}
{% endif %}
{% endcomment %}

{% comment %}{% include 'collection-filter' with collection %}{% endcomment %}

<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->

{% include 'nosto-element' with 'categorypage-nosto-1' %}
{% section 'collection-template' %}

{% include 'nosto-element' with 'categorypage-nosto-2' %}
