{% comment %}
  Your home page is build up of sections, the code for each living in
  the sections/ director.


{% assign banner_location = 'homepage' %}
{% assign bnnr_hp = shop.metafields.airf.bnnr_hp %}
{% if bnnr_hp == "true" %}
  {% include 'banner-full' with banner_location %}
{% endif %}

{% assign xmas_bnr = shop.metafields.airf.xmas_bnr %}
{% if xmas_bnr == "true" %}
  {% include 'banner-xmas' %}
{% endif %}
{% endcomment %}

{% section 'hp-banner' %}
{% section 'hp-go-to-shop' %}
{% section 'hp-best' %}
{% section 'hp-start-quiz' %}
{% comment %}
{% section 'hp-reviews' %}
{% endcomment %}
{% section 'hp-benefits' %}
{% section 'hp-magic' %}
{% section 'hp-nofilter' %}
{% comment %}
{% section 'hp-content-hero' %}
{% endcomment %}
{% section 'hp-why-found' %}
{% section 'hp-popular' %}
{% section 'hp-gramm' %}


{{ content_for_index }}

{% include 'nosto-element' with 'frontpage-nosto-1' %}

{% include 'nosto-element' with 'frontpage-nosto-2' %}

{% include 'nosto-element' with 'frontpage-nosto-3' %}

{% include 'nosto-element' with 'frontpage-nosto-4' %}


