{% layout 'page.5-reasons-you-should-own-a-premium-watch' %}
      
  <div class="header"><img src="{{ 'watchmaker-logo.png' | asset_url }}" height="52" srcset="{{ 'watchmaker-logo-p-500.png' | asset_url }} 500w, {{ 'watchmaker-logo.png' | asset_url }} 1130w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 198.5px, 100vw" alt="" class="watchmaker-logo mobile"><img src="{{ 'watchmaker-logo.png' | asset_url }}" height="68" srcset="{{ 'watchmaker-logo-p-500.png' | asset_url }} 500w, {{ 'watchmaker-logo.png' | asset_url }} 1130w" sizes="(max-width: 767px) 100vw, 259.59375px" alt="" class="watchmaker-logo tablet"></div>
  <div>
    <div class="main_container gap">
      <h2 class="h2-heading---center gap-btm _32px"><strong>5 Reasons you should own a premium watch</strong></h2>
      <p class="paragraph-center maxw-520px">There are certain things you can buy that instantly make you appear more stylish, successful, and attractive. And a premium watch is one of those things. But if you’ve ever found yourself staring at watch price tags through a glass showcase and questioning the return on investment of a premium timepiece… you’re not alone—four and five-figure price tags is a huge problem for many watch shoppers. Thankfully, it’s a problem Filippo Loreti has solved. Here are 5 reasons why a premium watch is a must-have accessory for every successful man.<br></p>
    </div>
  </div>
  <div class="media-logos">
    <div class="media-logos-container">
      <div class="w-layout-grid grid-8"><img src="{{ 'media_icons_1.png' | asset_url }}" width="102" alt=""><img src="{{ 'media_icons_2.png' | asset_url }}" width="82" alt=""><img src="{{ 'media_icons_4.png' | asset_url }}" width="90" alt=""><img src="{{ 'media_icons_3.png' | asset_url }}" width="42" alt=""><img src="{{ 'media_icons_5.png' | asset_url }}" width="131" id="w-node-28bf21ae255f-33f33e0f" alt=""></div>
    </div>
  </div>
  <div class="video-block no-bg">
    <div class="main_container">
      <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FVEO00bCzVxE%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DVEO00bCzVxE&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVEO00bCzVxE%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
      <div class="centered-block gap-56"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">EXPLORE THE COLLECTIONS</a></div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center maxw-520px">“Truly looks like a stellar luxury watch.”</p><img src="{{ 'media_icons_2.png' | asset_url }}" width="103" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container top-gap _60px">
      <div class="w-layout-grid grid-6"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_1-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" data-w-id="befb8c25-c9ae-0aba-89f2-b253106e2182" alt="">
        <div id="w-node-b253106e2183-33f33e0f" data-w-id="befb8c25-c9ae-0aba-89f2-b253106e2183">
          <h2 class="large-number _40px circle">1 </h2>
          <h3><strong>It makes a unique<br>style statement. </strong></h3>
          <div class="gap _30px"></div>
          <p>Let’s be honest — looks matter. And while clothing, footwear, and eyewear set the tone for your style, it’s often the smaller, more nuanced accessories that speak the loudest. This is what makes a premium timepiece the ultimate men’s style accessory. Your ideal watch communicates your taste in a manner that’s never showy but bold enough to be noticed when and where it matters. People who appreciate subtlety and class are drawn to Filippo Loreti’s refined features including the moonphase dial and engraved case back. Filippo Loreti is synonymous with understated style and the smallest details of their handsome timepieces are guaranteed to catch the attention of discerning eyes.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile"><img src="{{ 'travelerbox_3watches.jpg' | asset_url }}" data-w-id="74340d19-9ebd-97e2-40ec-ad471d7a2ad7" alt="">
        <div id="w-node-f290d997071c-33f33e0f" data-w-id="d1f9be34-73e7-0276-e6d5-f290d997071c">
          <h2 class="large-number _40px circle">2 </h2>
          <h3><strong>It keeps time perfectly.</strong></h3>
          <div class="gap _30px"></div>
          <p>While the average watch is capable of “telling time,” it’s likely to run down its battery quickly… or simply not be able to keep time accurately. It’s also not built to survive much past five years. Investing in a premium-quality timepiece means your watch has been designed and crafted by skilled artisans to keep time impeccably for a lifetime. Filippo Loreti watches are assembled to exacting standards using tried-and-tested Japanese Miyota movements, renowned in watchmaking circles for their reliability and accuracy. They also offer an industry-leading, international warranty, so they will repair your watch at no cost to you, anywhere in the world, anytime.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse">
        <div id="w-node-c8ca1816ffa9-33f33e0f">
          <h2 class="large-number _40px circle">2 </h2>
          <h3><strong>It keeps time perfectly.</strong></h3>
          <div class="gap _30px"></div>
          <p>While the average watch is capable of “telling time,” it’s likely to run down its battery quickly… or simply not be able to keep time accurately. It’s also not built to survive much past five years. Investing in a premium-quality timepiece means your watch has been designed and crafted by skilled artisans to keep time impeccably for a lifetime. Filippo Loreti watches are assembled to exacting standards using tried-and-tested Japanese Miyota movements, renowned in watchmaking circles for their reliability and accuracy. They also offer an industry-leading, international warranty, so they will repair your watch at no cost to you, anywhere in the world, anytime.</p>
        </div><img src="{{ 'travelerbox_3watches.jpg' | asset_url }}" alt=""></div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center maxw-520px">"If you want high-quality and stylish luxury designs, without paying traditional luxury prices, Filippo Loreti is the way to go."</p><img src="{{ 'media_icons_4.png' | asset_url }}" width="113" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top _56px"><img src="{{ 'oceanus_silves_blue_mesh_pov.jpg' | asset_url }}" srcset="{{ 'oceanus_silves_blue_mesh_pov-p-500.jpeg' | asset_url }} 500w, {{ 'oceanus_silves_blue_mesh_pov-p-800.jpeg' | asset_url }} 800w, {{ 'oceanus_silves_blue_mesh_pov.jpg' | asset_url }} 880w" sizes="(max-width: 926px) 95vw, 880px" alt="">
        <div id="w-node-d7d6cdaf0124-33f33e0f">
          <h2 class="large-number _40px circle">3 </h2>
          <h3><strong>It makes the right impression.</strong></h3>
          <div class="gap _30px"></div>
          <p>It’s a well-known fact that men are often judged by the watch they wear. And while this may not be fair, it’s reality. If you want to make a bold and lasting impression—all without saying a word—a premium timepiece is essential. Filippo Loreti watches are at the same time minimalist and maximalist—sleek in silhouette but substantial in every other way. The smallest, most-subtle details combine to become stunningly-handsome designs that ensure both you and your watch are judged positively.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse">
        <div id="w-node-4b42d990c249-33f33e0f">
          <h2 class="large-number _40px circle">4 </h2>
          <h3><strong>It’s a way to reward yourself.</strong></h3>
          <div class="gap _30px"></div>
          <p>When you reach a major milestone, post a lifetime achievement, or conquer a formidable obstacle, a premium watch is the perfect way to reward yourself for your perseverance, tenacity, and dedication. Seeing a Filippo Loreti on your wrist is a constant reminder of your past efforts and a source of pride to propel you forward in future endeavors. It’s the voice that silently whispers, “I can do this.”</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_5-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 100vw, (max-width: 821px) 95vw, 780px" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_5-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }} 780w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, 100vw" alt="">
        <div id="w-node-bc11c0c702d7-33f33e0f">
          <h2 class="large-number _40px circle">4 </h2>
          <h3><strong>It’s a way to reward yourself.</strong></h3>
          <div class="gap _30px"></div>
          <p>When you reach a major milestone, post a lifetime achievement, or conquer a formidable obstacle, a premium watch is the perfect way to reward yourself for your perseverance, tenacity, and dedication. Seeing a Filippo Loreti on your wrist is a constant reminder of your past efforts and a source of pride to propel you forward in future endeavors. It’s the voice that silently whispers, “I can do this.”</p>
        </div>
      </div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center maxw-520px">“Filippo Loreti disrupts watch industry by offering $1000 premium watches for less than $200“</p><img src="{{ 'media_icons_1.png' | asset_url }}" width="103" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top _56px"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_3-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" data-w-id="f0413962-918b-d493-f6e3-82a4e62380ec" alt="">
        <div id="w-node-82a4e62380ed-33f33e0f" data-w-id="f0413962-918b-d493-f6e3-82a4e62380ed">
          <h2 class="large-number _40px circle">5 </h2>
          <h3><strong>It’s made by world-class craftsmen</strong></h3>
          <div class="gap _30px"></div>
          <p>Wearing a timepiece you know has been designed and assembled by world-class craftsmen is a special feeling. You can almost feel the personal care and attention radiate from your wrist. The Italian leather strap on your Filippo Loreti is also a subtle reminder of the hand-crafted love your timepiece receives before making its way into your home.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center">"If you want to be noticed by everyone, this watch is for you."</p><img src="{{ 'media_icons_5.png' | asset_url }}" width="133" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container"></div>
  </div>
  <div>
    <div class="main_container gap-btm _60px">
      <h2 class="h2-heading---center gap-btm _32px"><strong class="h2-heading">Try a Filippo Loreti risk-free..</strong></h2>
      <p class="paragraph-center maxw-520px">With free shipping, free returns, and a 10-year international warranty, you have absolutely zero risk when you try out a Filippo Loreti watch. But be warned… the moment you strap one on your wrist, there’s a very good chance you’ll never want to take it off.<br></p>
      <div>
        <div class="centered-block gap-56"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">find your filippo Loreti today</a></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}