{% layout 'page.affiliates' %}
      
  <div class="header"><a href="https://shop.filippoloreti.com/" class="header-logo w-inline-block"></a></div>
  <div class="header-img center _70--img">
    <div class="main_container center">
      <h2 class="h2-heading---white center">Welcome To The Filippo Loreti Affiliate Program!</h2>
      <div class="gap _30px"></div>
      <p class="paragraph-white center">Earn up to 20% Commission on Each Sale</p>
      <div class="gap _30px"></div><a href="http://www.shareasale.com/join/flshop" target="_blank" class="button w-button">Become an Affiliate</a></div>
  </div>
  <div class="content-body">
    <div class="main_container">
      <div class="gap _56px"></div>
      <div class="w-layout-grid grid-6">
        <div id="w-node-c52bf9a84c08-278874c2">
          <h3>Join the Filippo Loreti Affiliate Program today.</h3>
          <div class="gap _30px"></div>
          <p>Become a part of the high-fashion community as an affiliate and earn some quick cash. Delight your audience with Filippo Loreti watch designs they’ll be sure to love.<br>‍<br>Are &nbsp;you passionate about superb quality and iconic watch design? Then we think you’ll shine at this exclusive opportunity.</p>
        </div><img src="{{ 'Afilliates_images_2.jpg' | asset_url }}" alt=""></div>
    </div>
  </div>
  <div class="content-body light-grey">
    <div class="gap _56px"></div>
    <div class="main_container">
      <h2 class="h2-heading---center">What’s In It For You?</h2>
      <div class="gap _16px"></div>
      <div class="gap _30px"></div>
      <div class="w-layout-grid grid-6 gap-56">
        <div id="w-node-dcd867476a31-278874c2" class="icons-block"><img src="{{ 'Check-mark-icon.svg' | asset_url }}" alt="" class="image align-top icons">
          <p>Starting <strong>8% up to 20%</strong> commission on all sales.</p>
        </div>
        <div id="w-node-47b7916f0339-278874c2" class="icons-block"><img src="{{ 'Check-mark-icon.svg' | asset_url }}" alt="" class="image align-top icons">
          <p>Real-time reporting and sales tracking.</p>
        </div>
        <div id="w-node-a8d2c61a594b-278874c2" class="icons-block"><img src="{{ 'Check-mark-icon.svg' | asset_url }}" alt="" class="image align-top icons">
          <p>30 day cookie period. Full credit for any orders placed within 30 days of the original click.</p>
        </div>
        <div>
          <div class="icons-block"><img src="{{ 'Check-mark-icon.svg' | asset_url }}" alt="" class="image align-top icons">
            <p>Fully Automated Data Feed - constantly <strong>updated every 24 hours.</strong></p>
          </div>
        </div>
        <div id="w-node-bad7d029cb14-278874c2" class="icons-block"><img src="{{ 'Check-mark-icon.svg' | asset_url }}" alt="" class="image align-top icons">
          <p><strong>Secret access</strong> to exclusive offers, promo codes and content with the best practices on promoting it.</p>
        </div>
        <div id="w-node-868609ec834d-278874c2" class="icons-block"><img src="{{ 'Check-mark-icon.svg' | asset_url }}" alt="" class="image align-top icons">
          <p>Dedicated affiliate management and support.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="gap _56px"></div>
    <div class="main_container center">
      <h2 class="h2-heading---center">How do you get started?</h2>
      <div class="gap _16px"></div>
      <p class="paragraph center fix-line">It’s easy to join the Filippo Loreti Affiliate Program. Simply follow these 3 quick steps to become a member today:</p>
      <div class="gap _30px"></div>
      <div class="w-layout-grid grid-6"><img src="{{ 'Afilliates_images_3.jpg' | asset_url }}" alt="">
        <div id="w-node-bcd52c60bb71-278874c2">
          <p class="paragraph bold">1. SIGN UP</p>
          <p>Enter your details on Shareasale.com platform and complete the registration.</p>
          <div class="gap _30px"></div>
          <p class="paragraph bold">2. GET APPROVAL</p>
          <p>You will get approval from the platform.</p>
          <div class="gap _30px"></div>
          <p class="paragraph bold">3. START EARNING</p>
          <p>Promote our products to everyone and earn at the same time.</p>
        </div>
      </div>
      <div class="gap _56px"></div><a href="http://www.shareasale.com/join/flshop" target="_blank" class="button dark w-button">Join now</a>
      <div class="gap _16px"></div>
      <p class="paragraph center">Sign up now, and start earning money today!</p>
    </div>
  </div>
  <div class="content-body"></div>
  <div class="content-body">
    <div class="main_container">
      <h2 class="h2-heading---center">FAQS</h2>
      <div class="gap _30px"></div>
      <div class="faq-wrapper">
        <div data-w-id="02be492c-c58e-75b5-c584-c83f9e218069" class="faq-trigger">
          <p class="paragraph-3 faq-question">How do I get paid?</p><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69008255cc2a_Faq-button-1.svg" alt="" class="faq-button show"><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69c48855cc29_Faq-button-2.svg" style="display:none" alt="" class="faq-button hide"></div>
        <div style="display:none;height:0PX;opacity:0" class="faq-text">
          <p class="paragraph-3 faq-answer">When you join the Filippo Loreti Affiliate Program on ShareaSale.com, you will be automatically paid from each sale generated through your affiliate link on this platform. All material for advertising will be listed on the ShareaSale.com platform. Our cookie lasts 30 days, which means that if the visitor makes a purchase within 30 days of their last click on your site, you will receive credit for the sale!</p>
        </div>
      </div>
      <div class="faq-wrapper">
        <div data-w-id="02be492c-c58e-75b5-c584-c83f9e218072" class="faq-trigger">
          <p class="paragraph-3 faq-question">What are Filippo Loreti watches?</p><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69008255cc2a_Faq-button-1.svg" alt="" class="faq-button show"><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69c48855cc29_Faq-button-2.svg" style="display:none" alt="" class="faq-button hide"></div>
        <div style="display:none;height:0PX;opacity:0" class="faq-text">
          <p class="paragraph-3 faq-answer">What are Filippo Loreti watches? We offer premium watches for an affordable price. Our watches are iconic, timeless, limited-edition pieces.</p>
        </div>
      </div>
      <div class="faq-wrapper">
        <div data-w-id="02be492c-c58e-75b5-c584-c83f9e21807b" class="faq-trigger">
          <p class="paragraph-3 faq-question">Where does Filippo Loreti sell?</p><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69008255cc2a_Faq-button-1.svg" alt="" class="faq-button show"><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69c48855cc29_Faq-button-2.svg" style="display:none" alt="" class="faq-button hide"></div>
        <div style="display:none;height:0PX;opacity:0" class="faq-text">
          <p class="paragraph-3 faq-answer">Everywhere in the world.</p>
        </div>
      </div>
      <div class="faq-wrapper">
        <div data-w-id="02be492c-c58e-75b5-c584-c83f9e218084" class="faq-trigger">
          <p class="paragraph-3 faq-question">Is Filippo Loreti only sold online?</p><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69008255cc2a_Faq-button-1.svg" alt="" class="faq-button show"><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69c48855cc29_Faq-button-2.svg" style="display:none" alt="" class="faq-button hide"></div>
        <div style="display:none;height:0PX;opacity:0" class="faq-text">
          <p class="paragraph-3 faq-answer">Yes, we're online sellers.</p>
        </div>
      </div>
      <div class="faq-wrapper">
        <div data-w-id="02be492c-c58e-75b5-c584-c83f9e21808d" class="faq-trigger">
          <p class="paragraph-3 faq-question">What do I get for becoming an affiliate?</p><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69008255cc2a_Faq-button-1.svg" alt="" class="faq-button show"><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69c48855cc29_Faq-button-2.svg" style="display:none" alt="" class="faq-button hide"></div>
        <div style="display:none;height:0PX;opacity:0" class="faq-text">
          <p class="paragraph-3 faq-answer">Access to our bestselling Filippo Loreti designs.<br>Commission from every single sale you generate.<br>Special offers exclusive to your channel.<br>Holiday promotions not found anywhere else.<br>Opportunity to increase your commissions up to 20% and become our Golden Member.<br></p>
        </div>
      </div>
      <div class="faq-wrapper">
        <div data-w-id="02be492c-c58e-75b5-c584-c83f9e21809f" class="faq-trigger">
          <p class="paragraph-3 faq-question">Are there any fees or other costs associated with joining the affiliate program?</p><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69008255cc2a_Faq-button-1.svg" alt="" class="faq-button show"><img src="https://uploads-ssl.webflow.com/5e456fecdbdb6917a355cc0c/5e456fecdbdb69c48855cc29_Faq-button-2.svg" style="display:none" alt="" class="faq-button hide"></div>
        <div style="display:none;height:0PX;opacity:0" class="faq-text">
          <p class="paragraph-3 faq-answer">No - it is free to sign up for the affiliate program and to add banners/links to your site, social media or emails. Filippo Loreti receives traffic and sales through the partnership, and you can only earn by being an affiliate partner.<br></p>
        </div>
      </div>
      <div class="gap _16px"></div>
    </div>
  </div>
  <div class="content-body black email-block">
    <div class="main_container center">
      <div class="gap _56px"></div><img src="{{ 'Mail-icon.svg' | asset_url }}" alt="">
      <div class="gap _30px"></div>
      <p class="paragraph center white fix-line">If you have any additional questions, please contact us by <a href="#" class="hyperlink darkbg">partnerships@filippoloreti.com</a></p>
      <div class="gap _16px"></div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}