{% layout 'page.5-ways-filippo-loreti-is-taking-on-the-swiss-watchmakers' %}
      
  <div class="header"><a href="https://shop.filippoloreti.com/" class="header-logo w-inline-block"></a></div>
  <div class="header-img _60 sneakpeak">
    <div class="main_container">
      <div class="w-layout-grid grid-6">
        <div>
          <h2 class="large-number">5 </h2>
          <h2 class="h2-heading---white">Ways Filippo Loreti is Taking on the Swiss Watchmakers</h2>
          <div class="gap _30px"></div><img src="{{ '5_ways_filippo_loreti_is_taking_on_the_swiss_watchmakers.jpg' | asset_url }}" srcset="{{ '5_ways_filippo_loreti_is_taking_on_the_swiss_watchmakers-p-500.jpeg' | asset_url }} 500w, {{ '5_ways_filippo_loreti_is_taking_on_the_swiss_watchmakers.jpg' | asset_url }} 780w" sizes="100vw" alt="" class="image-2">
          <div class="gap _30px"></div>
          <p class="paragraph-white">The luxury watch industry has spent decades advancing the technology used to make the key components of a fine wristwatch, pushing the cost of manufacturing lower and lower. Today, a watch costing thousands of dollars to obtain may only cost a couple of hundred to build.<br>‍<br><strong>However, these cost savings are not passed onto the consumer.<br>‍<br></strong>Filippo Loreti is here to change all of that with The Okeanos Collection: fine timepieces made to exacting Swiss standards, for a fraction of the cost. Here are five ways that Filippo Loreti has declared war on the Swiss.</p><img src="https://uploads-ssl.webflow.com/5e25b32bacccd1796b176052/5e3a688d0875f8734cead353_Scroll-icon.svg" alt="" class="scroll-icon left"></div>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="main_container top-gap _60px">
      <div class="w-layout-grid grid-6 reverse"><img src="{{ 'okeanos_lp_image_1.jpg' | asset_url }}" srcset="{{ 'okeanos_lp_image_1-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_lp_image_1.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="9152cf75-f802-7423-706a-23b58d5c6aa2" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="">
        <div id="w-node-23b58d5c6aa3-338874c3" data-w-id="9152cf75-f802-7423-706a-23b58d5c6aa3" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">1 </h2>
          <h3>GOING WITH DESIGN, NOT BRANDS</h3>
          <div class="gap _30px"></div>
          <p>Filippo Loreti doesn’t cut corners, but they don’t spend silly money on details you don’t need. For example, ETA, a Swiss maker of watch movements, makes the oft used but pricey ETA 2824-2 movement. Because the patent on the ETA 2824-2 expired, Sellita, another Swiss-based movement maker, produces identical movement for less money: the SW200, as used by Filippo Loreti. Why pay extra for a brand name you didn’t know existed until reading this?</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 mobile">
        <div id="w-node-e2770037ce3a-338874c3" data-w-id="26795dc1-8bc2-ec1b-5a3f-e2770037ce3a" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">1 </h2>
          <h3>GOING WITH DESIGN, NOT BRANDS</h3>
          <div class="gap _30px"></div>
          <p>Filippo Loreti doesn’t cut corners, but they don’t spend silly money on details you don’t need. For example, ETA, a Swiss maker of watch movements, makes the oft used but pricey ETA 2824-2 movement. Because the patent on the ETA 2824-2 expired, Sellita, another Swiss-based movement maker, produces identical movement for less money: the SW200, as used by Filippo Loreti. Why pay extra for a brand name you didn’t know existed until reading this?</p>
        </div><img src="{{ 'okeanos_lp_image_1.jpg' | asset_url }}" srcset="{{ 'okeanos_lp_image_1-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_lp_image_1.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="26795dc1-8bc2-ec1b-5a3f-e2770037ce39" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px">
        <div id="w-node-f290d997071c-338874c3" data-w-id="d1f9be34-73e7-0276-e6d5-f290d997071c" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">2 </h2>
          <h3>THE BEATING HEART OF AN APEX WATCH</h3>
          <div class="gap _30px"></div>
          <p>When Swiss watchmakers want the best quartz movement, they turn to Miyota of Japan for their supply. Filippo Loreti’s Okeanos dive watches run on the same Miyota movement favored by the Swiss when they turn to battery power, only for a much lower price.</p>
        </div><img src="{{ 'okeanos_automatic_caseback_watch2_1.jpg' | asset_url }}" srcset="{{ 'okeanos_automatic_caseback_watch2_1-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_automatic_caseback_watch2_1.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="74340d19-9ebd-97e2-40ec-ad471d7a2ad7" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse"><img src="{{ 'okeanos_lp_image_2.jpg' | asset_url }}" srcset="{{ 'okeanos_lp_image_2-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_lp_image_2.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="ba5b0995-608b-f06c-c97a-1270fd354f9b" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="">
        <div id="w-node-1270fd354f9c-338874c3" data-w-id="ba5b0995-608b-f06c-c97a-1270fd354f9c" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">3 </h2>
          <h3>CLASSIC LUXURY FINISH</h3>
          <div class="gap _30px"></div>
          <p>Finding a watch with first-class movement is one thing, but finding one that also exudes class, without being over the top, is difficult. The Okeanos Watch Collection by Filippo Loreti starts with the principle of a top-performing dive watch, producing it in a host of colors, finishes, and bands, so no matter what your style, Filippo Loretti has the dive watch for you.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile">
        <div id="w-node-0a7913b55541-338874c3" data-w-id="7c82eb30-68e6-96d9-21eb-0a7913b55541" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">3 </h2>
          <h3>CLASSIC LUXURY FINISH</h3>
          <div class="gap _30px"></div>
          <p>Finding a watch with first-class movement is one thing, but finding one that also exudes class, without being over the top, is difficult. The Okeanos Watch Collection by Filippo Loreti starts with the principle of a top-performing dive watch, producing it in a host of colors, finishes, and bands, so no matter what your style, Filippo Loretti has the dive watch for you.</p>
        </div><img src="{{ 'okeanos_lp_image_2.jpg' | asset_url }}" srcset="{{ 'okeanos_lp_image_2-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_lp_image_2.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="7c82eb30-68e6-96d9-21eb-0a7913b55540" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px">
        <div id="w-node-cea1b23a1c49-338874c3" data-w-id="db531035-a0fd-20b5-5684-cea1b23a1c49" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">4 </h2>
          <h3>VISIBILITY WHEN YOU NEED IT</h3>
          <div class="gap _30px"></div>
          <p>When Swiss watchmakers want the best quartz movement, they turn to Miyota of Japan for their supply. Filippo Loreti’s Okeanos dive watches run on the same Miyota movement favored by the Swiss when they turn to battery power, only for a much lower price.</p>
        </div><img src="{{ 'okeanos_lp_image_4.jpg' | asset_url }}" srcset="{{ 'okeanos_lp_image_4-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_lp_image_4.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="db531035-a0fd-20b5-5684-cea1b23a1c53" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse"><img src="{{ 'okeanos_lp_image_3.jpg' | asset_url }}" srcset="{{ 'okeanos_lp_image_3-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_lp_image_3.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="b99b1edf-5d9e-dec1-caac-89ad3bf2cb31" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="">
        <div id="w-node-89ad3bf2cb32-338874c3" data-w-id="b99b1edf-5d9e-dec1-caac-89ad3bf2cb32" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">5 </h2>
          <h3>10 YEAR WARRANTY</h3>
          <div class="gap _30px"></div>
          <p>All Filippo Loreti watches, including the Okeanos series, have a ten year warranty. This means that wearing a timepiece for its intended purpose, be it diving, hiking, or just moving boxes in your garage, doesn’t risk damaging your investment.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile">
        <div id="w-node-2c3ae67970d0-338874c3" data-w-id="3f3856dc-141f-8d6c-5995-2c3ae67970d0" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">5 </h2>
          <h3>10 YEAR WARRANTY</h3>
          <div class="gap _30px"></div>
          <p>All Filippo Loreti watches, including the Okeanos series, have a ten year warranty. This means that wearing a timepiece for its intended purpose, be it diving, hiking, or just moving boxes in your garage, doesn’t risk damaging your investment.</p>
        </div><img src="{{ 'okeanos_lp_image_3.jpg' | asset_url }}" srcset="{{ 'okeanos_lp_image_3-p-500.jpeg' | asset_url }} 500w, {{ 'okeanos_lp_image_3.jpg' | asset_url }} 780w" sizes="100vw" data-w-id="3f3856dc-141f-8d6c-5995-2c3ae67970cf" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
    </div>
  </div>
  <div>
    <div class="main_container gap-btm _60px">
      <h2 class="h2-heading---center"><strong>Luxury wrist watches straight from the best manufacturers in the world.</strong></h2>
      <div>
        <div class="gap _56px"></div>
        <div class="centered-block"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">get your watch</a></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}