{% assign hero_on = page.metafields.airf.hero_on %}
{% if hero_on == "true" %}
  {% section 'women-text-and-fullimage' %}
{% endif %}

{% comment %}{% section 'hero-video' %}{% endcomment %}

{% assign bs_on = page.metafields.airf.bs_on %}
{% if bs_on == "true" %}
  {% section 'women-featured-collection' %}
{% endif %}

{% assign tms = page.metafields.airf.tms %}
{% assign tms_on = page.metafields.airf.tms_on %}
{% if tms and tms != blank and tms  != '&nbsp' and tms_on == "true" %}
  {% section 'women-testimonial' %}
{% endif %}

{% assign sections = page.metafields.airf.sections %}
{% if sections and sections != blank and sections != '&nbsp' %}
  {% section 'women-image-with-text-new' %}
{% endif %}

{% assign v_url = page.metafields.airf.v_url %}
{% assign video_on = page.metafields.airf.video_on %}
{% if v_url and v_url != '&nbsp' and video_on == "true" %}
  {% section 'man-video-home' %}
{% endif %}

{% assign ig_on = page.metafields.airf.ig_on %}
{% if ig_on == "true" %}
  {% section 'women-instagram' %}
{% endif %}

{% assign seen_img = page.metafields.airf.seen_img %}
{% assign seen_on = page.metafields.airf.seen_on %}
{% if seen_img and seen_img != blank and seen_img != '&nbsp' and seen_on == "true" %}
  {% section 'women-logo-list' %}
{% endif %}

{% comment %}{% include "product-section-perks" %}  {% endcomment %}
