{% layout 'page.7-reasons' %}
      
  <div class="header"><img src="{{ 'watchmaker-logo.png' | asset_url }}" height="52" srcset="{{ 'watchmaker-logo-p-500.png' | asset_url }} 500w, {{ 'watchmaker-logo.png' | asset_url }} 1130w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 198.5px, 100vw" alt="" class="watchmaker-logo mobile"><img src="{{ 'watchmaker-logo.png' | asset_url }}" height="68" srcset="{{ 'watchmaker-logo-p-500.png' | asset_url }} 500w, {{ 'watchmaker-logo.png' | asset_url }} 1130w" sizes="(max-width: 767px) 100vw, 259.59375px" alt="" class="watchmaker-logo tablet"></div>
  <div>
    <div class="main_container gap">
      <h2 class="h2-heading---center gap-btm _32px"><strong>7 Reasons guys are loving Filippo Loreti</strong></h2>
      <p class="paragraph-4 grey-text center">BY DAVID PARKER – 12 March, 2020</p>
      <p class="paragraph-center maxw-520px">Whether you’re shopping for your very first watch or adding to an existing collection, you’re likely facing the same challenge… you want premium features, attention-grabbing design, and superb quality — all at a price that makes you feel you’ve gotten a steal of a deal. That’s a tough combination to find. But one company delivers on all fronts. Here are seven reasons guys like you are loving Filippo Loreti watches.<br></p>
    </div>
  </div>
  <div class="media-logos">
    <div class="media-logos-container">
      <div class="w-layout-grid grid-8"><img src="{{ 'media_icons_1.png' | asset_url }}" width="102" alt=""><img src="{{ 'media_icons_2.png' | asset_url }}" width="82" alt=""><img src="{{ 'media_icons_4.png' | asset_url }}" width="90" alt=""><img src="{{ 'media_icons_3.png' | asset_url }}" width="42" alt=""><img src="{{ 'media_icons_5.png' | asset_url }}" width="131" id="w-node-28bf21ae255f-5d59d6f7" alt=""></div>
    </div>
  </div>
  <div class="video-block no-bg">
    <div class="main_container">
      <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FVEO00bCzVxE%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DVEO00bCzVxE&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVEO00bCzVxE%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
      <div class="centered-block gap-56"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">EXPLORE THE COLLECTIONS</a></div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center maxw-520px">“Truly looks like a stellar luxury watch.”</p><img src="{{ 'media_icons_2.png' | asset_url }}" width="103" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container top-gap _60px">
      <div class="w-layout-grid grid-6"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_1-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" data-w-id="befb8c25-c9ae-0aba-89f2-b253106e2182" alt="">
        <div id="w-node-b253106e2183-5d59d6f7" data-w-id="befb8c25-c9ae-0aba-89f2-b253106e2183">
          <h2 class="large-number _40px circle">1 </h2>
          <h3>They create iconic limited edition designs.</h3>
          <div class="gap _30px"></div>
          <p>Filippo Loreti's in-house design team meticulously crafts every detail of every watch — elevating them to true works of art. There's no substitute for in-house design — you can almost feel the care and attention in each timepiece radiating from your wrist. And because many designs are true limited editions, it’s possible to go your entire life without meeting someone wearing the same watch.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse">
        <div id="w-node-f290d997071c-5d59d6f7" data-w-id="d1f9be34-73e7-0276-e6d5-f290d997071c">
          <h2 class="large-number _40px circle">2 </h2>
          <h3>They deliver exceptional value.</h3>
          <div class="gap _30px"></div>
          <p>Watch buyers shouldn’t have to choose between superb quality, outstanding design, and fair pricing. Filippo Loreti ensures they don’t have to. By limiting expenses to things that matter — thoughtful design, top-quality components, and expert manufacturing — Filippo Loreti is able to bring its timepieces to market at irresistible prices. As GQ insider Blake says, Filippo Loreti is “the best blend of all the luxury elements you want, at a price that can be your little secret.”</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_4.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_4-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_4.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 100vw, (max-width: 821px) 95vw, 780px" data-w-id="74340d19-9ebd-97e2-40ec-ad471d7a2ad7" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_4.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_4-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_4.jpg' | asset_url }} 780w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, 100vw" alt="">
        <div id="w-node-47b95738a655-5d59d6f7">
          <h2 class="large-number _40px circle">2 </h2>
          <h3>They deliver exceptional value.</h3>
          <div class="gap _30px"></div>
          <p>Watch buyers shouldn’t have to choose between superb quality, outstanding design, and fair pricing. Filippo Loreti ensures they don’t have to. By limiting expenses to things that matter — thoughtful design, top-quality components, and expert manufacturing — Filippo Loreti is able to bring its timepieces to market at irresistible prices. As GQ insider Blake says, Filippo Loreti is “the best blend of all the luxury elements you want, at a price that can be your little secret.”</p>
        </div>
      </div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center maxw-520px">"If you want high-quality and stylish luxury designs, without paying traditional luxury prices, Filippo Loreti is the way to go."</p><img src="{{ 'media_icons_4.png' | asset_url }}" width="113" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top _56px"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_3-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" alt="">
        <div id="w-node-d7d6cdaf0124-5d59d6f7">
          <h2 class="large-number _40px circle">3 </h2>
          <h3>Quality first. No exception.</h3>
          <div class="gap _30px"></div>
          <p>You only need to hold a premium watch to know that you are holding a piece of outstanding craftsmanship. From Moonphase dials to engraved casebacks, the details are what matter. We share production facilities with several other premium watch brands, meaning our timepieces are held to the same high standards as them. And of course, each timepiece is quality checked by hand before it leaves our factory.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile"><img src="{{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_5-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_5-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }} 1040w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, 100vw" alt="">
        <div id="w-node-77afa3bce3ad-5d59d6f7">
          <h2 class="large-number _40px circle">4 </h2>
          <h3>It’s run by two brothers <br>with a mission.</h3>
          <div class="gap _30px"></div>
          <p>In 2014, co-founder brothers Danielius and Matas Jakutis became frustrated by seeing $1,000+ price tags on watches that cost $100 to produce. They believed everyone had the right to own a premium timepiece without spending four figures (or more) for the privilege. The brothers founded Filippo Loreti to make this possible. When Business Insider got their hands on Filippo Loreti’s watches, they admitted, “You really don't need a $5,000 Rolex. These brothers are changing the face of the entire watch industry.”</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse">
        <div id="w-node-4b42d990c249-5d59d6f7">
          <h2 class="large-number _40px circle">4 </h2>
          <h3>It’s run by two brothers <br>with a mission.</h3>
          <div class="gap _30px"></div>
          <p>In 2014, co-founder brothers Danielius and Matas Jakutis became frustrated by seeing $1,000+ price tags on watches that cost $100 to produce. They believed everyone had the right to own a premium timepiece without spending four figures (or more) for the privilege. The brothers founded Filippo Loreti to make this possible. When Business Insider got their hands on Filippo Loreti’s watches, they admitted, “You really don't need a $5,000 Rolex. These brothers are changing the face of the entire watch industry.”</p>
        </div><img src="{{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_5-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_5-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }} 1040w" sizes="(max-width: 767px) 100vw, (max-width: 1094px) 95vw, 1040px" alt=""></div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center maxw-520px">“Filippo Loreti disrupts watch industry by offering $1000 premium watches for less than $200“</p><img src="{{ 'media_icons_1.png' | asset_url }}" width="103" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top _56px"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_5-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" data-w-id="f0413962-918b-d493-f6e3-82a4e62380ec" alt="">
        <div id="w-node-82a4e62380ed-5d59d6f7" data-w-id="f0413962-918b-d493-f6e3-82a4e62380ed">
          <h2 class="large-number _40px circle">5 </h2>
          <h3>They’ve broken world records. Twice!</h3>
          <div class="gap _30px"></div>
          <p>With their stunning watches, Filippo Loreti set a world record for most funded timepiece campaign in crowdfunding history. In 2016 they shattered their own record by raising $5.28M in 30 days. As Yanko Design noted... “the watch that ruled KickStarter is truly disrupting the $19B luxury watch industry by offering irresistible prices on premium watches.” Can there be any question about Filippo Loreti’s popularity with watch lovers?</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse">
        <div id="w-node-f5e1bc6187d4-5d59d6f7" data-w-id="e1507761-8977-939e-1f17-f5e1bc6187d4">
          <h2 class="large-number _40px circle">6 </h2>
          <h3>Their watches get plenty of compliments.</h3>
          <div class="gap _30px"></div>
          <p>If you’re the type of person who likes to fly below the radar without being noticed, a Filippo Loreti may not be the right watch for you. Customers frequently rave about compliments they receive — Cass from BroBible recently said, “I’ve been getting compliments on this watch unlike any other watch I’ve worn. It really seems to be an eye catcher.”</p>
        </div><img src="{{ 'ascari_two_tone_black_rose_details_003.jpg' | asset_url }}" data-w-id="e1507761-8977-939e-1f17-f5e1bc6187e6" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile"><img src="{{ 'ascari_two_tone_black_rose_details_003.jpg' | asset_url }}" alt="">
        <div id="w-node-72fc5bd1076f-5d59d6f7">
          <h2 class="large-number _40px circle">6 </h2>
          <h3>Their watches get plenty of compliments.</h3>
          <div class="gap _30px"></div>
          <p>If you’re the type of person who likes to fly below the radar without being noticed, a Filippo Loreti may not be the right watch for you. Customers frequently rave about compliments they receive — Cass from BroBible recently said, “I’ve been getting compliments on this watch unlike any other watch I’ve worn. It really seems to be an eye catcher.”</p>
        </div>
      </div>
    </div>
  </div>
  <div class="media-qoute gap-48px">
    <div class="main_container">
      <p class="paragraph-center">"If you want to be noticed by everyone, this watch is for you."</p><img src="{{ 'media_icons_5.png' | asset_url }}" width="133" alt="" class="media-logo-image"></div>
  </div>
  <div class="content-body">
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top _56px"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_2.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_2-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_2.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" alt="">
        <div id="w-node-94042000572e-5d59d6f7">
          <h2 class="large-number _40px circle">7 </h2>
          <h3>They’ve started a watch lover’s movement.</h3>
          <div class="gap _30px"></div>
          <p>Filippo Loreti has created and fostered a thriving community of customers and admirers. Founders, designers, and support staff interact with the community on a daily basis in the company’s private discussion forum. True story... everyone in the community has the opportunity to advise the design team on features they desire and eventually see them incorporated into new watch designs.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="main_container gap-btm _60px">
      <h2 class="h2-heading---center gap-btm _32px"><strong class="h2-heading">Try a Filippo Loreti risk-free..</strong></h2>
      <p class="paragraph-center maxw-520px">With free shipping, free returns, and a 10-year international warranty, you have absolutely zero risk when you try out a Filippo Loreti watch. But be warned… the moment you strap one on your wrist, there’s a very good chance you’ll never want to take it off.<br></p>
      <div>
        <div class="centered-block gap-56"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">get your limited edition</a></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}