    <div class="page-width page-content">

        {% include 'breadcrumbs' %}

        <div class="grid">
            <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

                <header class="section-header">
                    <h1 class="section-header__title">{{ page.title }}</h1>
                </header>

                <div class="rte text-spacing">
                    {{ page.content }}
                </div>

                <div class="form-vertical">
                    {% form 'contact' %}

                        {% if form.posted_successfully? %}
                            <p class="note note--success">
                                {{ 'contact.form.post_success' | t }}
                            </p>
                        {% endif %}

                        {{ form.errors | default_errors }}

                        <div class="grid grid--small">
                            <div class="grid__item medium-up--one-half">
                                <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                                <input type="text" id="ContactFormName" class="input-full" name="contact[name]"
                                       autocapitalize="words"
                                       value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                            </div>

                            <div class="grid__item medium-up--one-half">
                                <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]"
                                       autocorrect="off" autocapitalize="off"
                                       value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                            </div>
                        </div>

                        <!--
          <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          -->

                        <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
                        <textarea rows="10" id="ContactFormMessage" class="input-full"
                                  name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

                        <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

                    {% endform %}
                </div>

            </div>
        </div>
        {% include 'page-acf-content' %}
    </div>

    <script>
        jQuery(document).ready(function ($) {
            if ($('form#contact_form .errors').length > 0){
                $(window).scrollTop($('form#contact_form .errors').offset().top);
            }
            $('form#contact_form').submit(function () {
                $('form#contact_form .errors').remove();
                var validationemail = 1;
                var validationmessage = 1;
                if ($('#ContactFormEmail').val() == ''){
                    validationemail = 0;
                }
                if ($('#ContactFormMessage').val() == ''){
                    validationmessage = 0;
                }
                if (validationmessage  == 0 || validationemail == 0){
                    if (validationmessage == 0){
                        $('form#contact_form').prepend('<div class="errors"><ul><li>Message can\'t be blank.</li></ul></div>');
                    }
                    if (validationemail == 0){
                        $('form#contact_form').prepend('<div class="errors"><ul><li>Email can\'t be blank.</li></ul></div>');
                    }
                    $(window).scrollTop($('form#contact_form .errors').offset().top);
                    return false;
                }

            });
        });
    </script>
