{% layout 'page.quiz-women' %}
      
  <div class="header"><a href="https://shop.filippoloreti.com/" class="header-logo w-inline-block"></a></div>
  <div class="hero female-quiz mobile">
    <div class="main_container">
      <div class="woman-quiz hero-text-block">
        <h2 class="h2-heading---white center"><strong>Take the quiz and find your perfect limited edition watch</strong></h2>
        <div class="gap _30px"></div>
        <p class="paragraph-white center">Answer a few simple questions and we will help you to find your perfect timepiece.</p><a href="https://admin.revenuehunt.com/public/quiz/NjyHAJ" class="button-4 gap top-56px btm-32px center w-button">Start the quiz</a>
        <div class="inline-block center"><img src="{{ 'check-mark.svg' | asset_url }}" alt="">
          <p class="paragraph-white left-16px light-grey">No fees, no commitments</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero center female-quiz dekstop">
    <div class="main_container">
      <div class="w-layout-grid grid-3 tablet">
        <div>
          <h2 class="h2-heading---white"><strong>Take the quiz and find your perfect limited edition watch</strong></h2>
          <div class="gap _30px"></div>
          <p class="paragraph-white">Answer a few simple questions and we will help you to find your perfect timepiece.</p><a href="https://admin.revenuehunt.com/public/quiz/NjyHAJ" class="button-4 gap top-56px btm-32px w-button">Start the quiz</a>
          <div class="inline-block"><img src="{{ 'check-mark.svg' | asset_url }}" alt="">
            <p class="paragraph-white left-16px light-grey">No fees, no commitments</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="media-logos">
    <div class="media-logos-container">
      <div class="w-layout-grid grid-8"><img src="{{ 'media_icons_1.png' | asset_url }}" width="102" alt=""><img src="{{ 'media_icons_2.png' | asset_url }}" width="82" alt=""><img src="{{ 'media_icons_4.png' | asset_url }}" width="90" alt=""><img src="{{ 'media_icons_3.png' | asset_url }}" width="42" alt=""><img src="{{ 'media_icons_5.png' | asset_url }}" width="131" id="w-node-29a02c38b997-2c38b990" alt=""></div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}