{% include 'breadcrumbs' %}
<div class="page-width page-content">
    <div class="grid">
        <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

            <header class="section-header">
                <h1 class="section-header__title">{{ page.title }}</h1>
            </header>

            <div class="rte rte--nomargin">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
{% if page.url contains 'reviews' %}
    <script type="text/javascript" async="" src="https://cdn1.stamped.io/files/widget.min.js?shop=aromahigh.myshopify.com"></script>
{% endif %}
{% unless page.url contains 'reviews' %}
    {% include 'page-acf-content' %}
{% endunless %}
