{% layout 'theme' %}

  {{ 'normalize.css' | asset_url | stylesheet_tag }}
  {{ 'components.css' | asset_url | stylesheet_tag }}
  {{ 'fl-project-4aa07c0816e937a6a3fa4319a669.css' | asset_url | stylesheet_tag }}
<style>
.site-footer__linklist li{
    	font-size: 11px;
    }
</style>
<!--   {% section 'header' %} -->
  <div>
    <div class="main_container">
      <h1 class="h2-heading---center gap-btm gap-top _56px">Filippo Loreti's Student Discount</h1>
      <div class="grid-12 gap-top _56px" style="margin-top: 56px;">
        <div id="w-node-feaa1e985c81-d1fa889d">
          <script data-iframe='https://connect.studentbeans.com/v2/filippo-loreti/us' data-load='connect' id='stb_root' src='https://cdn.studentbeans.com/third-party/all.js'></script>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}

<!--   {% section 'footer' %} -->
