{% layout 'page.perfect-premium-watch' %}
      
  <div class="header"><a href="https://shop.filippoloreti.com/" class="header-logo w-inline-block"></a></div>
  <div class="hero align-bottom perfect-watch">
    <div class="main_container">
      <div class="w-layout-grid grid-3 btm-30px mobile center">
        <div class="block-center center">
          <h2 class="h2-heading---white center">Perfect Premium Watch, Perfect Price.</h2>
          <p class="paragraph-white gap top-24px center word-limit">We created a beautiful, top-of-the-line watches starting at only <span class="fl-gold">$99</span></p><img src="https://uploads-ssl.webflow.com/5e25b32bacccd1796b176052/5e3a688d0875f8734cead353_Scroll-icon.svg" alt="" class="scroll-icon left"></div>
      </div>
      <div class="w-layout-grid grid-3 btm-30px dekstop">
        <div>
          <h2 class="h2-heading---white">Perfect Premium Watch, <br>Perfect Price.</h2>
          <p class="paragraph-white gap top-24px">We created a beautiful, top-of-the-line watches starting at only <span class="fl-gold">$99</span></p><img src="https://uploads-ssl.webflow.com/5e25b32bacccd1796b176052/5e3a688d0875f8734cead353_Scroll-icon.svg" alt="" class="scroll-icon left"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top top-104px"><img src="{{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_5-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_5-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }} 1040w" sizes="(max-width: 1094px) 95vw, 1040px" alt="">
        <div id="w-node-62e12879ea8f-e2ebd0c5">
          <h3>A Watch Company That Started With A Mission</h3>
          <div class="gap _30px"></div>
          <p>Filippo Loreti founders, Danielius and Matas Jakutis, were frustrated with having to choose between disposable fast fashion and overpriced luxury timepieces. <br>‍<br><em>“We got tired of faceless designs and high markups. We saw an opportunity to create beautifully-designed, expertly-crafted, high-quality watches at prices the average person can afford.”<br>‍</em><br> And so Filippo Loreti was born. With a mission and passion to create premium watches for an honest and affordable price.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top top-104px mobile"><img src="{{ 'student_discount_1-2.jpg' | asset_url }}" srcset="{{ 'student_discount_1-2-p-500.jpeg' | asset_url }} 500w, {{ 'student_discount_1-2.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 95vw, 100vw" alt="">
        <div id="w-node-200112959f8f-e2ebd0c5">
          <h3>The Single Most Important Accessory You Need</h3>
          <div class="gap _30px"></div>
          <p>Like it or not, looks matter. From a job interview to a business meeting to a purely social occasion, the right watch communicates your style, tastes, and values. <br><br>And it accomplishes all of this without making a single sound. Remarkably, one small piece of jewelry can have this much power. <br><br>It used to be the case that men had only two options when it came to watches: poorly-constructed, uninspired look-alikes; or high-quality, well-designed pieces that cost over $1,000. <br><br>We hated that there was no middle-ground. So we did something about it.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top top-104px reverse">
        <div id="w-node-71ee8f87ae1c-e2ebd0c5">
          <h3>The Single Most Important Accessory You Need</h3>
          <div class="gap _30px"></div>
          <p>Like it or not, looks matter. From a job interview to a business meeting to a purely social occasion, the right watch communicates your style, tastes, and values. <br><br>And it accomplishes all of this without making a single sound. Remarkably, one small piece of jewelry can have this much power. <br><br>It used to be the case that men had only two options when it came to watches: poorly-constructed, uninspired look-alikes; or high-quality, well-designed pieces that cost over $1,000. <br><br>We hated that there was no middle-ground. So we did something about it.</p>
        </div><img src="{{ 'student_discount_1-2.jpg' | asset_url }}" srcset="{{ 'student_discount_1-2-p-500.jpeg' | asset_url }} 500w, {{ 'student_discount_1-2.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 100vw, (max-width: 821px) 95vw, 780px" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top top-104px"><img src="{{ 'Perfect_watch_page_2.jpg' | asset_url }}" srcset="{{ 'Perfect_watch_page_2-p-500.jpeg' | asset_url }} 500w, {{ 'Perfect_watch_page_2-p-800.jpeg' | asset_url }} 800w, {{ 'Perfect_watch_page_2.jpg' | asset_url }} 1040w" sizes="(max-width: 1094px) 95vw, 1040px" alt="">
        <div id="w-node-9d372779bc09-e2ebd0c5">
          <h3>What Makes A Great Watch?</h3>
          <div class="gap _30px"></div>
          <p>A truly “great” watch should look and feel good on your wrist, be constructed from premium materials, and withstand years of daily use. It should be easy, right? <br><br>But behind these deceptively-simple criteria lie centuries of watchmaking tradition, technology, and craft.<br><br>By working closely with experienced Swiss designers and employing state-of-the-art tools and manufacturing processes, Filippo Loreti has created a perfect marriage between beauty and quality.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top top-104px reverse">
        <div id="w-node-62e12879ea7e-e2ebd0c5">
          <h3>Features</h3>
          <div class="gap _30px"></div>
          <p><span><strong>ICONIC&nbsp;ITALY&nbsp;INSPIRED&nbsp;DESIGN</strong>.</span><br>No senseless details. Just the world’s most stylish watch. From the subtle shapes of hour indices to intricate case back artwork, the art, architecture, and fashion of Italy’s most iconic cities finds its way into every Filippo Loreti timepiece.<br><br><strong>OUTSTANDING&nbsp;QUALITY.</strong><br>Expertly crafted using 316L stainless steel cases, sapphire glass crystals, high-precision Japanese movements, and 3D-engraved casebacks, our designs are on par with watches costing well over $1,000.<br><br><strong>EASY&nbsp;TO&nbsp;STYLE.</strong><br>Quickly and easily switch between custom-fitted leather straps and adjustable mesh bracelets to style your watch to any outfit or occasion.</p>
        </div><img src="{{ 'wheezywaiter_influencer_page_4.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_4-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_4-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_4.jpg' | asset_url }} 1040w" sizes="(max-width: 767px) 100vw, (max-width: 1094px) 95vw, 1040px" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top top-104px mobile"><img src="{{ 'wheezywaiter_influencer_page_4.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_4-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_4-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_4.jpg' | asset_url }} 1040w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, 100vw" alt="">
        <div id="w-node-41d98a6fc73a-e2ebd0c5">
          <h3>Features</h3>
          <div class="gap _30px"></div>
          <p><span><strong>ICONIC&nbsp;ITALY&nbsp;INSPIRED&nbsp;DESIGN</strong>.</span><br>No senseless details. Just the world’s most stylish watch. From the subtle shapes of hour indices to intricate case back artwork, the art, architecture, and fashion of Italy’s most iconic cities finds its way into every Filippo Loreti timepiece.<br><br><strong>OUTSTANDING&nbsp;QUALITY.</strong><br>Expertly crafted using 316L stainless steel cases, sapphire glass crystals, high-precision Japanese movements, and 3D-engraved casebacks, our designs are on par with watches costing well over $1,000.<br><br><strong>EASY&nbsp;TO&nbsp;STYLE.</strong><br>Quickly and easily switch between custom-fitted leather straps and adjustable mesh bracelets to style your watch to any outfit or occasion.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top top-104px"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_1-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" alt="">
        <div id="w-node-85ca453a1a68-e2ebd0c5">
          <h3>Smarter Design, Better Watches</h3>
          <div class="gap _30px"></div>
          <p>We spent close to 3 years developing our iconic Venice model. Mostly because of every little detail matters. But partly because we’re a bit obsessive. At every step of the development process, our watch was reviewed and refined by talented Swiss watchmakers, product designers, and quality controllers. <br><br>The result? A world-class watch that’s both beautiful and practical. <br><br>We hope you love it as much as we do.</p><a href="https://shop.filippoloreti.com/products/any-2-premium-watches?variant=31702722642005" class="button-3 dark top-56px bottom-16px w-button">EXPLORER THE COLLECTIONS</a></div>
      </div>
      <div class="w-layout-grid grid-6 gap-top top-104px">
        <div id="w-node-ef815de3b4b3-e2ebd0c5">
          <h3>We Could Charge A Lot More, But We Prefer Not To</h3>
          <div class="gap _30px"></div>
          <p><span>We could easily charge $1,000 for these watches. After all, some of our competitors charge even more. <br><br>Most “luxury” manufacturers mark up their prices simply because they can. And that doesn’t sit well with us.<br><br>By working closely with our production partners, removing middlemen, and selling directly to you, we’re able to offer incredible watches at fair and honest prices.<br><br>Higher quality. Lower price. It’s a simple maxim we take very seriously here at Filippo Loreti.</span></p>
        </div><img src="{{ 'wheezywaiter_influencer_page_2.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_2-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_2-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_2.jpg' | asset_url }} 1040w" sizes="(max-width: 1094px) 95vw, 1040px" alt=""></div>
    </div>
  </div>
  <div class="reviews-section">
    <div class="main_container">
      <div class="rating-stars-with-text"><img src="{{ 'rating_stars_icon.svg' | asset_url }}" id="w-node-ed69cebe7f1f-e2ebd0c5" alt="" class="rating-stars---icon">
        <h4 id="w-node-ed69cebe7f20-e2ebd0c5" class="h4-heading center">+10,000 of verified reviews</h4>
      </div>
      <h2 class="h2-heading---center">Real reviews. Real premium watches.</h2>
      <div class="reviews-block">
        <div class="w-layout-grid reviews-grid">
          <div class="review-card"><img src="{{ 'rating_stars_icon.svg' | asset_url }}" alt="" class="rating-stars---icon smaller btm-16px">
            <p class="paragraph-4 grey-text">“I liked the look of it online and honestly it looks even better in person. I absolutely love the look of it and it’s all the little details which make it really special. The back of the watch for example has got this drawing of an ocean titan on it, I just think that’s such a classy touch.”</p>
            <p><strong>- Eugene</strong></p>
          </div>
          <div class="review-card">
            <div><img src="{{ 'rating_stars_icon.svg' | asset_url }}" alt="" class="rating-stars---icon smaller btm-16px">
              <p class="paragraph-4 grey-text">“The rubber strap is so much better than any of the other ones I’ve tried. It feels smooth on my wrist and looks super luxurious in comparison with other ones I’ve seen. I’ve worn it in the sea and in the pool and the water resistance is impressive. It’s still working perfectly.”</p>
            </div>
            <p><strong>- George</strong></p>
          </div>
          <div class="review-card">
            <div><img src="{{ 'rating_stars_icon.svg' | asset_url }}" alt="" class="rating-stars---icon smaller btm-16px">
              <p class="paragraph-4 grey-text">“It’s limited edition so I know not many other people will have it, but that’s definitely not the only reason I love it. It’s a diving watch but I actually wear mine every day now. I just think it looks so good, I might as well get as much wear out of it as I can!”</p>
            </div>
            <p><strong class="bold-text">- Mika</strong></p>
          </div>
        </div>
      </div>
      <div class="centered-block top-56px"><a href="https://shop.filippoloreti.com/pages/review-page" class="hyperlink _14px-font center">See all reviews</a></div>
      <div class="centered-block gap top-80px">
        <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FVEO00bCzVxE%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DVEO00bCzVxE&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVEO00bCzVxE%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
      </div>
      <div class="centered-block gap-56"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">EXPLORE THE COLLECTIONS</a></div>
    </div>
  </div>
  <div>
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top top-104px"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_5-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" alt="">
        <div id="w-node-6d3bf75e5017-e2ebd0c5">
          <h3>No Risk, All Reward.</h3>
          <div class="gap _30px"></div>
          <p>We’re confident a Filippo Loreti will be the best watch you’ll ever own. But we understand you may be skeptical. So, here are two ways we take on the risk so you don’t have to…<br><br><strong>100% SATISFACTION GUARANTEE</strong><br>If for any reason your Filippo Loreti watch doesn’t meet your expectations, simply contact our customer support team and we’ll issue a 100% refund any time within 30 days of purchase.<br><br><strong>10 YEARS WARRANTY</strong><br>We offer an industry-leading 10-year, international warranty. In the unlikely event you encounter a problem, we will repair or replace it at no cost to you, anywhere in the world, any time within the next decade.</p>
        </div>
      </div>
      <div class="centered-block gap-56 bottom-104px"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">Try a Filippo Loreti risk-free…</a></div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}