{% layout 'page.7-reasons-you-havent-bought-loreti-watch' %}
      
  <div class="header"><a href="https://shop.filippoloreti.com/" class="header-logo w-inline-block"></a></div>
  <div class="header-img _60 align-bottom">
    <div class="main_container">
      <div class="w-layout-grid grid-3 btm-30px">
        <div>
          <h2 class="h2-heading---white">The <span class="h2-heading fl-gold">7</span> Reasons You Haven’t Bought A Filippo Loreti Watch Yet</h2><img src="https://uploads-ssl.webflow.com/5e25b32bacccd1796b176052/5e3a688d0875f8734cead353_Scroll-icon.svg" alt="" class="scroll-icon left"></div>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="main_container top-gap _60px">
      <div class="w-layout-grid grid-6 mobile">
        <div id="w-node-23b58d5c6aa3-df8874c4" data-w-id="9152cf75-f802-7423-706a-23b58d5c6aa3" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">1 </h2>
          <h3>What If I Don’t Really Need A Watch?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">Your watch sends a message — make certain it’s <br>the right message.</strong></p>
          <p>Let’s be honest – looks matter. And while your clothes set the tone for your style, it’s the smaller, more nuanced accessories that speak the loudest. A premium timepiece communicates your taste without you needing to say a word. So choosing one that’s synonymous with understated style is guaranteed to catch the attention of discerning eyes and will make sure the message you’re sending to the world is the right one.</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_1-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 95vw, 100vw" data-w-id="9152cf75-f802-7423-706a-23b58d5c6aa2" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 reverse"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_1-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_1.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 100vw, (max-width: 821px) 95vw, 780px" data-w-id="befb8c25-c9ae-0aba-89f2-b253106e2182" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="">
        <div id="w-node-b253106e2183-df8874c4" data-w-id="befb8c25-c9ae-0aba-89f2-b253106e2183" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">1 </h2>
          <h3>What If I Don’t Really Need A Watch?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">Your watch sends a message — make certain it’s <br>the right message.</strong></p>
          <p>Let’s be honest – looks matter. And while your clothes set the tone for your style, it’s the smaller, more nuanced accessories that speak the loudest. A premium timepiece communicates your taste without you needing to say a word. So choosing one that’s synonymous with understated style is guaranteed to catch the attention of discerning eyes and will make sure the message you’re sending to the world is the right one.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px">
        <div id="w-node-f290d997071c-df8874c4" data-w-id="d1f9be34-73e7-0276-e6d5-f290d997071c" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">2 </h2>
          <h3>Is Filippo Loreti Really Worth The Money?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">The infographic tells the story.</strong></p>
          <p>Of course, you want to make sure that it’s worth spending your hard-earned money on. One way to guarantee this is by choosing a brand that sells direct to the consumer (that means you). By doing that, we’re able to bypass traditional mark-ups and deliver premium watches without premium price tags.</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_4.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_4-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_4.jpg' | asset_url }} 780w" sizes="(max-width: 821px) 95vw, 780px" data-w-id="74340d19-9ebd-97e2-40ec-ad471d7a2ad7" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile">
        <div id="w-node-1270fd354f9c-df8874c4" data-w-id="ba5b0995-608b-f06c-c97a-1270fd354f9c" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">3 </h2>
          <h3>How Do I Know I’m Getting A High-Quality Watch?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">Our watches are designed, manufactured, and tested to the highest standards.</strong></p>
          <p>You only need to hold a premium watch to know that you are holding a piece of outstanding craftsmanship. From Moonphase dials to engraved casebacks, the details are what matter. We share production facilities with several other premium watch brands, meaning our timepieces are held to the same high standards as them. And of course, each timepiece is quality checked by hand before it leaves our factory.</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_3-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 95vw, 100vw" data-w-id="ba5b0995-608b-f06c-c97a-1270fd354f9b" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_3-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_3.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 100vw, (max-width: 821px) 95vw, 780px" data-w-id="e3290a89-32db-4d2a-77b0-7cd9f19f14eb" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="">
        <div id="w-node-7cd9f19f14ec-df8874c4" data-w-id="e3290a89-32db-4d2a-77b0-7cd9f19f14ec" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">3 </h2>
          <h3>How Do I Know I’m Getting A High-Quality Watch?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">Our watches are designed, manufactured, and tested to the highest standards.</strong></p>
          <p>You only need to hold a premium watch to know that you are holding a piece of outstanding craftsmanship. From Moonphase dials to engraved casebacks, the details are what matter. We share production facilities with several other premium watch brands, meaning our timepieces are held to the same high standards as them. And of course, each timepiece is quality checked by hand before it leaves our factory.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px">
        <div id="w-node-cea1b23a1c49-df8874c4" data-w-id="db531035-a0fd-20b5-5684-cea1b23a1c49" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">4 </h2>
          <h3>I’ve Never Heard of Filippo Loreti. Why Should I Trust You?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">We don’t normally like to namedrop but…</strong></p>
          <p>Forbes, Huffington Post, Yanko Design, and Business Insider have all reviewed and recommended our watches and you may have also spotted us on the wrists of some of your favourite influencers. We’ve sold 56,000 watches in three years and have even generated an 18,000 person waiting list for one of our models. &nbsp;But if you’re still not sure, you can always<br><a href="https://shop.filippoloreti.com/pages/review-page">check out our reviews</a> and see what people are saying for yourself.</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_6.jpg' | asset_url }}" data-w-id="db531035-a0fd-20b5-5684-cea1b23a1c53" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
    </div>
  </div>
  <div class="video-block">
    <div class="main_container">
      <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FVEO00bCzVxE%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DVEO00bCzVxE&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVEO00bCzVxE%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
      <div class="centered-block gap-56"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">EXPLORE THE COLLECTIONS</a></div>
    </div>
  </div>
  <div class="content-body">
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top _56px mobile">
        <div id="w-node-89ad3bf2cb32-df8874c4" data-w-id="b99b1edf-5d9e-dec1-caac-89ad3bf2cb32" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">5 </h2>
          <h3>I’m Not Sure About Delivery?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">It will come straight to your door with no surprises.</strong></p>
          <p>Choosing your watch should be the hard bit. So as soon as you click ‘buy’ you should be able to relax in the knowledge that it will arrive at your door as quickly and smoothly as possible. Our reliable delivery partners can deliver via express courier in 2 to 5 business days which means you could be wearing your new watch by the weekend. Orders placed using standard shipping may take slightly longer but in both cases, you will receive a tracking number shortly after placing your order so you’ll know exactly when your package is scheduled to arrive. No surprises.<br><br>Please take note: for models with an active waitlist it may take up to several months for delivery of your exclusive handcrafted timepiece.</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_5-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 95vw, 100vw" data-w-id="b99b1edf-5d9e-dec1-caac-89ad3bf2cb31" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_5-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_5.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 100vw, (max-width: 821px) 95vw, 780px" data-w-id="f0413962-918b-d493-f6e3-82a4e62380ec" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="">
        <div id="w-node-82a4e62380ed-df8874c4" data-w-id="f0413962-918b-d493-f6e3-82a4e62380ed" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">5 </h2>
          <h3>I’m Not Sure About Delivery?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">It will come straight to your door with no surprises.</strong></p>
          <p>Choosing your watch should be the hard bit. So as soon as you click ‘buy’ you should be able to relax in the knowledge that it will arrive at your door as quickly and smoothly as possible. Our reliable delivery partners can deliver via express courier in 2 to 5 business days which means you could be wearing your new watch by the weekend. Orders placed using standard shipping may take slightly longer but in both cases, you will receive a tracking number shortly after placing your order so you’ll know exactly when your package is scheduled to arrive. No surprises.<br><br>Please take note: for models with an active waitlist it may take up to several months for delivery of your exclusive handcrafted timepiece.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px">
        <div id="w-node-f5e1bc6187d4-df8874c4" data-w-id="e1507761-8977-939e-1f17-f5e1bc6187d4" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">6 </h2>
          <h3>What If I Want To Return It?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">Returns couldn’t be easier.</strong></p>
          <p>We get it, sometimes you people change their mind. There’s nothing wrong with this and we think it should be easy to send back your watch if for any reason you’re unhappy with it. You’ll have 90 days from receiving your order to get a full refund without any hassle. All you need to do is email our customer support team, give them your details, and they’ll send you a return label. No muss. No fuss.</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_7.jpg' | asset_url }}" data-w-id="e1507761-8977-939e-1f17-f5e1bc6187e6" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px mobile">
        <div id="w-node-99a3fd5ea091-df8874c4" data-w-id="e0757b4b-cd72-477a-cc4a-99a3fd5ea091" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">7 </h2>
          <h3>What If I Haven’t Bought Yet Because I’m Going To Right Now?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">You won’t regret it.</strong></p>
          <p>Click the link below to shop our striking collection of men’s watches. We’re certain you’ll find one that’s just right for you.</p>
        </div><img src="{{ '7_reasons_you_havent_bought_loreti_watch_2.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_2-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_2.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 95vw, 100vw" data-w-id="e0757b4b-cd72-477a-cc4a-99a3fd5ea090" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top _56px reverse"><img src="{{ '7_reasons_you_havent_bought_loreti_watch_2.jpg' | asset_url }}" srcset="{{ '7_reasons_you_havent_bought_loreti_watch_2-p-500.jpeg' | asset_url }} 500w, {{ '7_reasons_you_havent_bought_loreti_watch_2.jpg' | asset_url }} 780w" sizes="(max-width: 767px) 100vw, (max-width: 821px) 95vw, 780px" data-w-id="51bfc9ef-62c9-c372-d820-b3c3450600cb" style="-webkit-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="">
        <div id="w-node-b3c3450600cc-df8874c4" data-w-id="51bfc9ef-62c9-c372-d820-b3c3450600cc" style="-webkit-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
          <h2 class="large-number _40px circle">7 </h2>
          <h3>What If I Haven’t Bought Yet Because I’m Going To Right Now?</h3>
          <div class="gap _30px"></div>
          <p><strong class="paragraph fl-gold">ANSWER</strong></p>
          <p><strong class="paragraph">You won’t regret it.</strong></p>
          <p>Click the link below to shop our striking collection of men’s watches. We’re certain you’ll find one that’s just right for you.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="main_container gap-btm _60px">
      <h2 class="h2-heading---center"><strong class="h2-heading">Luxury wrist watches straight from the best manufacturers in the world.</strong></h2>
      <div>
        <div class="centered-block gap-56"><a href="https://shop.filippoloreti.com/collections/mens-watches/products/any-2-premium-watches?variant=31702722642005" class="button-2 dark center w-button">EXPLORE THE COLLECTIONS</a></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}