{% include 'breadcrumbs' %}
{% assign p_b_e = page.metafields.airf.p_b_e %}
{% if p_b_e == "true" %}
  {% include 'page-banner' %}
{% endif %}

<div class="mlm-page">
  <div class="section-inner">
    {% assign yscope = page.metafields.airf %}
    {% assign dscope = page.metafields.airf %}
    <div class="mlm-page-content">
      <div class="a_v_y">
        <div class="a_h">
          <h2>Aromahigh</h2>
        </div>
        <div class="y_h">
          <h2>Youngliving</h2>
        </div>
        <div class="a_v_y_list">
          {% assign aroma_list = page.metafields.airf['aroma_list'] %}
          {% if aroma_list and aroma_list != blank %}
            {% assign separator = "###" %}
            {% assign aroma_list_related_handles = aroma_list | split: separator %}
            {% assign counter = 1 %}
            {% for handle in aroma_list_related_handles %}
              {% assign related_product = all_products[handle] %}
              {% unless related_product.empty? %}
                <p>
                  <a href="{{ related_product.url }}">{{related_product.title}}</a>
                  {% assign key = 'young_t_' | append: counter %}
                  <span>{{ yscope[key] }}</span>
                </p>
              {% endunless %}
              {% assign counter = counter | plus: 1 %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="a_v_d">
        <div class="a_h">
          <h2>Aromahigh</h2>
        </div>
        <div class="y_h">
          <h2>doTERRA</h2>
        </div>
        <div class="a_v_y_list">
          {% assign aroma_list = page.metafields.airf['aroma_l_d'] %}
          {% if aroma_list and aroma_list != blank %}
            {% assign separator = "###" %}
            {% assign aroma_list_related_handles = aroma_list | split: separator %}
            {% assign counter = 1 %}
            {% for handle in aroma_list_related_handles %}
              {% assign related_product = all_products[handle] %}
              {% unless related_product.empty? %}
                <p>
                  <a href="{{ related_product.url }}">{{related_product.title}}</a>
                  {% assign key = 'doterra_t_' | append: counter %}
                  <span>{{ dscope[key] }}</span>
                </p>
              {% endunless %}
              {% assign counter = counter | plus: 1 %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include 'product-section-question' %}
</div>
<style>
  .internal-links-list-wrap{
    display: none;
  }
</style>
