{% layout 'page.recommended-by-samcrac' %}
      
  <div class="header"><a href="https://shop.filippoloreti.com/" class="header-logo w-inline-block"></a></div>
  <div class="hero center min-h---600px">
    <div class="main_container">
      <div class="influencer-hero hide-tablet"><img src="{{ 'Influencer_page_default.jpg' | asset_url }}" srcset="{{ 'Influencer_page_default-p-500.jpeg' | asset_url }} 500w, {{ 'Influencer_page_default-p-800.jpeg' | asset_url }} 800w, {{ 'Influencer_page_default.jpg' | asset_url }} 1040w" sizes="(max-width: 767px) 95vw, 100vw" alt="" class="influencer-image">
        <h4 class="h4-heading top-36 center">Only for Samcrac fans</h4>
        <h2 class="h2-heading words-limit center">Get 2 premium quartz watches for $99 each and save up to 72%</h2><a href="https://shop.filippoloreti.com/products/any-2-premium-watches?variant=31702722642005" class="button-3 dark top-56px bottom-16px w-button">GET YOUR SPECIAL OFFER</a>
        <p class="paragraph grey-text center">Offer is limited</p>
      </div>
      <div class="influencer-hero hide-dekstop"><img src="{{ 'Influencer_page_default.jpg' | asset_url }}" srcset="{{ 'Influencer_page_default-p-500.jpeg' | asset_url }} 500w, {{ 'Influencer_page_default-p-800.jpeg' | asset_url }} 800w, {{ 'Influencer_page_default.jpg' | asset_url }} 1040w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 66vw, 100vw" alt="" class="influencer-image">
        <h4 class="h4-heading top-36">Only for Samcrac fans</h4>
        <h2 class="h2-heading words-limit">Get 2 premium quartz watches for $99 each and save up to 72%</h2><a href="https://shop.filippoloreti.com/products/any-2-premium-watches?variant=31702722642005" class="button-3 dark top-56px bottom-16px w-button">GET YOUR SPECIAL OFFER</a>
        <p class="paragraph grey-text">Limited offer</p>
      </div>
      <div class="w-layout-grid grid-3 center hide-tablet">
        <div>
          <h4>Only for Samcrac fans</h4>
          <h2>Get 2 premium quartz watches for $99 each and save up to 72%</h2><a href="https://shop.filippoloreti.com/products/any-2-premium-watches?variant=31702722642005" class="button-3 dark top-56px bottom-16px w-button">GET YOUR SPECIAL OFFER</a>
          <p class="paragraph grey-text">Limited offer</p>
        </div><img src="{{ 'Influencer_page_default.jpg' | asset_url }}" srcset="{{ 'Influencer_page_default-p-500.jpeg' | asset_url }} 500w, {{ 'Influencer_page_default-p-800.jpeg' | asset_url }} 800w, {{ 'Influencer_page_default.jpg' | asset_url }} 1040w" sizes="(max-width: 991px) 100vw, (max-width: 1094px) 95vw, 1040px" alt=""></div>
    </div>
  </div>
  <div class="media-logos">
    <div class="media-logos-container">
      <div class="w-layout-grid grid-8"><img src="{{ 'media_icons_1.png' | asset_url }}" width="102" alt=""><img src="{{ 'media_icons_2.png' | asset_url }}" width="82" alt=""><img src="{{ 'media_icons_4.png' | asset_url }}" width="90" alt=""><img src="{{ 'media_icons_3.png' | asset_url }}" width="42" alt=""><img src="{{ 'media_icons_5.png' | asset_url }}" width="131" id="w-node-28e69228fb7c-b61ce31b" alt=""></div>
    </div>
  </div>
  <div class="video-section no-bg _104px-padding">
    <div class="main_container">
      <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FNpEaa2P7qZI%3Ffeature%3Doembed&amp;display_name=YouTube&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DNpEaa2P7qZI&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FNpEaa2P7qZI%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
    </div>
  </div>
  <div>
    <div class="main_container">
      <h2 class="h2-heading---center">Reviewed watch in a video</h2>
      <div class="w-layout-grid grid-6 gap-top _56px btm104px reverse"><img src="{{ 'wheezywaiter_influencer_page_6.jpg' | asset_url }}" width="320" srcset="{{ 'wheezywaiter_influencer_page_6-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_6.jpg' | asset_url }} 640w" sizes="(max-width: 767px) 100vw, 320px" id="w-node-f4d98f3da636-b61ce31b" alt="">
        <div id="w-node-f4d98f3da628-b61ce31b">
          <h3>RECOMMENDed by Samcrac</h3>
          <div class="gap _30px"></div>
          <p>“It’s crafted from premium materials by world-class watchmakers and fear not, my friend, it has a ten year warranty”</p><a href="https://shop.filippoloreti.com/collections/mens-watches/products/venice-moonphase-black-gold-mesh?variant=7759681454133" class="button-3 dark top-56px bottom-16px w-button">GET this watch</a>
          <p class="paragraph grey-text">Try it risk free 90-day money back guarantee.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px btm104px mobile"><img src="{{ 'wheezywaiter_influencer_page_6.jpg' | asset_url }}" width="200" srcset="{{ 'wheezywaiter_influencer_page_6-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_6.jpg' | asset_url }} 640w" sizes="(max-width: 767px) 200px, 100vw" id="w-node-cad9ff368858-b61ce31b" alt="">
        <div id="w-node-cad9ff368859-b61ce31b" class="block-center">
          <h3 class="h3-heading center">RECOMMENDed by Samcrac</h3>
          <div class="gap _30px"></div>
          <p class="paragraph center">“It’s crafted from premium materials by world-class watchmakers and fear not, my friend, it has a ten year warranty”</p><a href="https://shop.filippoloreti.com/collections/mens-watches/products/venice-moonphase-black-gold-mesh?variant=7759681454133" class="button-3 dark top-56px bottom-16px w-button">GET this watch</a>
          <p class="paragraph grey-text center">Try it risk free 90-Day money back guarantee.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="media-qoute">
    <div class="main_container">
      <p class="paragraph-center maxw-520px">“Filippo Loreti disrupts watch industry by offering $1000 premium watches for less than $200“</p><img src="{{ 'media_icons_1.png' | asset_url }}" width="103" alt="" class="media-logo-image"></div>
  </div>
  <div>
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top top-104px reverse">
        <div id="w-node-73897b4c4cf5-b61ce31b">
          <h3>EXCEPTIONAL VALUE</h3>
          <div class="gap _30px"></div>
          <p>We don’t want you to have to choose between great quality, iconic design, and affordability. That’s why we limit ourselves to things that matter and sell directly to the consumer so we can offer you irresistible prices.</p>
        </div><img src="{{ 'wheezywaiter_influencer_page_2.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_2-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_2-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_2.jpg' | asset_url }} 1040w" sizes="(max-width: 767px) 100vw, (max-width: 1094px) 95vw, 1040px" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top top-104px mobile"><img src="{{ 'wheezywaiter_influencer_page_2.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_2-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_2-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_2.jpg' | asset_url }} 1040w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, 100vw" alt="">
        <div id="w-node-4fef25aa364c-b61ce31b">
          <h3>EXCEPTIONAL VALUE</h3>
          <div class="gap _30px"></div>
          <p>We don’t want you to have to choose between great quality, iconic design, and affordability. That’s why we limit ourselves to things that matter and sell directly to the consumer so we can offer you irresistible prices.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px"><img src="{{ 'wheezywaiter_influencer_page_4.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_4-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_4-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_4.jpg' | asset_url }} 1040w" sizes="(max-width: 1094px) 95vw, 1040px" alt="">
        <div id="w-node-6d434340bec8-b61ce31b">
          <h3>LIMITED EDITION DESIGNS</h3>
          <div class="gap _30px"></div>
          <p>Being produced in limited numbers ensures that your new timepiece will become a unique and personal heirloom of style and quality. But a word of warning, once they are gone, they are gone for good.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-section">
    <div class="main_container">
      <div class="rating-stars-with-text"><img src="{{ 'rating_stars_icon.svg' | asset_url }}" id="w-node-e3ca8d156964-b61ce31b" alt="" class="rating-stars---icon">
        <h4 id="w-node-fc1d7d6d6208-b61ce31b" class="h4-heading center">+10,000 of verified reviews</h4>
      </div>
      <h2 class="h2-heading---center">Real reviews. Real premium watches.</h2>
      <div class="reviews-block">
        <div class="w-layout-grid reviews-grid">
          <div class="review-card"><img src="{{ 'rating_stars_icon.svg' | asset_url }}" alt="" class="rating-stars---icon smaller btm-16px">
            <p class="paragraph grey-text">“I liked the look of it online and honestly it looks even better in person. I absolutely love the look of it and it’s all the little details which make it really special. The back of the watch for example has got this drawing of an ocean titan on it, I just think that’s such a classy touch.”</p>
            <p><strong>- Eugene</strong></p>
          </div>
          <div class="review-card">
            <div><img src="{{ 'rating_stars_icon.svg' | asset_url }}" alt="" class="rating-stars---icon smaller btm-16px">
              <p class="paragraph grey-text">“The rubber strap is so much better than any of the other ones I’ve tried. It feels smooth on my wrist and looks super luxurious in comparison with other ones I’ve seen. I’ve worn it in the sea and in the pool and the water resistance is impressive. It’s still working perfectly.”</p>
            </div>
            <p><strong>- George</strong></p>
          </div>
          <div class="review-card">
            <div><img src="{{ 'rating_stars_icon.svg' | asset_url }}" alt="" class="rating-stars---icon smaller btm-16px">
              <p class="paragraph grey-text">“It’s limited edition so I know not many other people will have it, but that’s definitely not the only reason I love it. It’s a diving watch but I actually wear mine every day now. I just think it looks so good, I might as well get as much wear out of it as I can!”</p>
            </div>
            <p><strong class="bold-text">- Mika</strong></p>
          </div>
        </div>
      </div>
      <div class="centered-block top-56px"><a href="https://shop.filippoloreti.com/pages/review-page" class="hyperlink _14px-font center">See all reviews</a></div>
    </div>
  </div>
  <div>
    <div class="main_container">
      <div class="w-layout-grid grid-6 gap-top top-104px reverse">
        <div id="w-node-5c5281d8c11a-b61ce31b">
          <h3>OUTSTANDING QUALITY</h3>
          <div class="gap _30px"></div>
          <p>All our watches have been hand-crafted by master watchmakers. Our standards never slip and each piece has been quality-checked by us to ensure that you’re happy. We’re so confident in the quality, that every watch comes with an industry-leading 10-year warranty.</p>
        </div><img src="{{ 'wheezywaiter_influencer_page_3.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_3-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_3-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_3.jpg' | asset_url }} 1040w" sizes="(max-width: 767px) 100vw, (max-width: 1094px) 95vw, 1040px" alt=""></div>
      <div class="w-layout-grid grid-6 gap-top top-104px mobile"><img src="{{ 'wheezywaiter_influencer_page_3.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_3-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_3-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_3.jpg' | asset_url }} 1040w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, 100vw" alt="">
        <div id="w-node-10d79ecb0f62-b61ce31b">
          <h3>OUTSTANDING QUALITY</h3>
          <div class="gap _30px"></div>
          <p>All our watches have been hand-crafted by master watchmakers. Our standards never slip and each piece has been quality-checked by us to ensure that you’re happy. We’re so confident in the quality, that every watch comes with an industry-leading 10-year warranty.</p>
        </div>
      </div>
      <div class="w-layout-grid grid-6 gap-top _56px"><img src="{{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }}" srcset="{{ 'wheezywaiter_influencer_page_5-p-500.jpeg' | asset_url }} 500w, {{ 'wheezywaiter_influencer_page_5-p-800.jpeg' | asset_url }} 800w, {{ 'wheezywaiter_influencer_page_5.jpg' | asset_url }} 1040w" sizes="(max-width: 1094px) 95vw, 1040px" alt="">
        <div id="w-node-5c5281d8c123-b61ce31b">
          <h3>MEET OUR FOUNDERS</h3>
          <div class="gap _30px"></div>
          <p>All it took was two brothers – Danielius and Matas Jakutis – to notice a problem that they knew they could fix. And the problem was simple: premium quality watches were too expensive. So Filippo Loreti was born in 2014 with a clear mission. To offer premium quality, Italian style watches, priced fairly without traditional markups.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="offer-section img hide-tablet top-bottom-align">
    <div class="main_container bottom-56px">
      <div class="block-center">
        <h2 class="h2-heading---white top-56px center">Don't miss your chance</h2>
        <p class="paragraph white top-32px center">You will never see this offer again, it’s special for Samcrac fans.</p><a href="https://shop.filippoloreti.com/products/any-2-premium-watches?variant=31702722642005" class="button top-16px bottom-16px w-button">GET YOUR SPECIAL OFFER</a>
        <p class="paragraph grey-text bottom-0px center">Limited offer</p>
      </div>
    </div>
    <div class="div-block-2"></div>
  </div>
  <div class="offer-section img hide-mobile">
    <div class="main_container bottom-56px">
      <div class="w-layout-grid grid-6">
        <div>
          <h2 class="h2-heading---white top-56px">Don't miss your chance</h2>
          <p class="paragraph white top-32px">You will never see this offer again, it’s special for Samcrac fans.</p><a href="https://shop.filippoloreti.com/products/any-2-premium-watches?variant=31702722642005" class="button top-16px bottom-16px w-button">GET YOUR SPECIAL OFFER</a>
          <p class="paragraph grey-text bottom-0px">Limited offer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="main_container">
      <div class="footer-block"><a href="https://shop.filippoloreti.com/pages/terms-of-use" class="footer-links">TERMS OF USE</a>
        <div class="footer-text hidden">|</div><a href="https://shop.filippoloreti.com/pages/privacy-policy" class="footer-links">PRIVACY POLICy</a>
        <div class="footer-text hidden">|</div>
        <div class="footer-text">© 2020 FILIPPO LORETI</div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e53dd775d73aa864ebbfabb" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'fl-project-4aa07c0816e937a6a3fa4319a669.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}