{% include 'breadcrumbs' %}
<div class="page-width page-content">
    <div class="grid">
        <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

            <header class="section-header">
                <h1 class="section-header__title">{{ page.title }}</h1>
                <p>To track your order please enter your Order ID in the box below and press return. This was given to you on your receipt and in the confirmation email you should have received.</p>
            </header>

            <div class="rte rte--nomargin">
                {% include 'page-order-status' %}
            </div>
        </div>
    </div>
    <script>
        $('.order-status__form').submit(function () {
            jQuery.ajax({
                type: 'POST',
                url : 'https://p2.tns.company/order-status_a.php',
                data : {
                    'email': $('.order-status__email').val(),
                    'order_n': $('.order-status__number').val(),
                    'action': 'get_order'
                },
                success: function(response){
                    if (response == 'false' || response == 'founded'){
                        if (response == 'false'){
                            $('.order-status__result2').html('No Order Founded!');
                            $('.order-status__result2').show();
                        }else{
                            $('.order-status__result2').html('Such order founded, but email that you entered do not belong to this email. Please check email!');
                            $('.order-status__result2').show();
                        }
                    }else{
                        var order = JSON.parse(response);
                        console.log(order);
                    }
                },
                error: function(err_response){
                    console.log(err_response);
                }
            });
            return false;
        });
    </script>
</div>
{% unless page.url contains 'review-page' %}
    {% include 'page-acf-content' %}
{% endunless %}
