{% assign sp_m_b_i = page.metafields.airf.sp_m_b_i %}
{% assign sp_b_m_i = page.metafields.airf.sp_b_m_i %}
{% assign sp_m_b_lo = page.metafields.airf.sp_m_b_lo %}
{% assign sp_m_b_t = page.metafields.airf.sp_m_b_t %}
{% assign sp_m_b_bt = page.metafields.airf.sp_m_b_bt %}
{% assign sp_m_b_bl = page.metafields.airf.sp_m_b_bl %}

{% include 'defer-script' with 'vendor.js' %}

<div class="special-offer-wrap">
    <div class="mbox">
        <div class="special-offer">
            <div class="special-offer-banner" style="background-image: url('{{ sp_m_b_i }}');">
                <div class="special-offer-text">
                    <h5>Recommended by</h5>
                    <img src="{{ sp_m_b_lo }}" alt=""/>
                    <h1>{{ sp_m_b_t }}</h1>
                    <a href="{{ sp_m_b_bl }}">{{ sp_m_b_bt }}</a>
                </div>
                <div class="more-special-offer">
                    <a href="#">
                        <span>more Special offers</span>
                        <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.569 13.7643C13.6992 13.8945 13.6992 14.1055 13.569 14.2357L7.99996 19.8047L2.43093 14.2357C2.30075 14.1055 2.30075 13.8945 2.43093 13.7643C2.5611 13.6341 2.77216 13.6341 2.90233 13.7643L7.99996 18.8619L13.0976 13.7643C13.2278 13.6341 13.4388 13.6341 13.569 13.7643Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.569 9.7643C13.6992 9.89448 13.6992 10.1055 13.569 10.2357L7.99996 15.8047L2.43093 10.2357C2.30075 10.1055 2.30075 9.89448 2.43093 9.7643C2.5611 9.63413 2.77216 9.63413 2.90233 9.7643L7.99996 14.8619L13.0976 9.7643C13.2278 9.63413 13.4388 9.63413 13.569 9.7643Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.569 5.7643C13.6992 5.89448 13.6992 6.10553 13.569 6.23571L7.99996 11.8047L2.43093 6.23571C2.30075 6.10553 2.30075 5.89448 2.43093 5.7643C2.5611 5.63413 2.77216 5.63413 2.90233 5.7643L7.99996 10.8619L13.0976 5.7643C13.2278 5.63413 13.4388 5.63413 13.569 5.7643Z" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            {% assign scope = shop.metafields.airf %}
            {% assign sp_list = scope.sp_list %}
            {% assign count_p = 0 %}
            {% if sp_list and sp_list != blank %}
                {% for row in sp_list.rows %}
                    {% assign count_p = count_p | plus: 1 %}
                {% endfor %}
                <div class="special-offer-products-wrap">
                    <div class="special-offer-products-heading">
                        <h2>There are {{ count_p }} offers currently available</h2>
                    </div>
                    <div class="special-offer-products">
                        {% for row in sp_list.rows %}
                            {% for row_field in row %}
                                {% if row_field.key contains "pr_or_ban" %}
                                    {% assign pr_or_ban = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "sp_prod" %}
                                    {% assign sp_prod = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "sp_b_i" %}
                                    {% assign sp_b_i = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "sp_b_te" %}
                                    {% assign sp_b_te = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "sp_b_ta" %}
                                    {% assign sp_b_ta = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "sp_bu_t" %}
                                    {% assign sp_bu_t = scope[row_field.key] %}
                                {% endif %}
                                {% if row_field.key contains "sp_b_l" %}
                                    {% assign sp_b_l = scope[row_field.key] %}
                                {% endif %}
                            {% endfor %}
                            {% if pr_or_ban == 'false' %}
                                <div class="special-offer-product banner" style="background-image: url('{{ sp_b_i }}');">
                                    <div class="special-offer-banner-text">
                                        <h3>{{ sp_b_te }}</h3>
                                        <p>{{ sp_b_ta }}</p>
                                    </div>
                                    <div class="special-offer-banner-link">
                                        <a href="{{ sp_b_l }}">{{ sp_bu_t }}</a>
                                    </div>
                                </div>
                            {% else %}
                                {% assign product = all_products[sp_prod] %}
                                {% assign featured = true %}
                                <div class="special-offer-product">
                                    <a href="{{ product.url }}">
                                        {% for image in product.images %}
                                            {% if featured %}
                                                <img src="{{ image.src | product_img_url: '300x' }}" alt="{{ image.alt | escape }}">
                                                {% assign featured = false %}
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endif %}
            <div class="special-offer-collections-wrap">
                <div class="special-offer-collections-heading">
                    <h2>Our Collections</h2>
                    <p>Our assortment of premium quality products will breathe some fresh air into your everyday looks.</p>
                </div>
                {% assign sp_col = shop.metafields.airf['sp_col'] %}
                {% if sp_col and sp_col != blank %}
                    {% assign separator = "###" %}
                    {% assign sp_col_related_handles = sp_col | split: separator %}
                    <div class="special-offer-collections">
                        {% for handle in sp_col_related_handles %}
                            {% assign related_collection = collections[handle] %}
                            {% unless related_collection.empty? %}
                                <div class="special-offer-collection">
                                    <div class="special-offer-collection-image">
                                        <a href="/collections/{{ related_collection.handle }}">
                                            <img src="{{ related_collection.image.src | collection_img_url: 'large' }}" alt="">
                                        </a>
                                    </div>
                                    <div class="special-offer-collection-title">
                                        <a href="/collections/{{ related_collection.handle }}">
                                            {{ related_collection.title }}
                                        </a>
                                    </div>
                                </div>
                            {% endunless %}
                        {% endfor %}
                    </div>
                {% endif %}
                <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
                <script>
                    jQuery('.special-offer-collections').slick({
                        dots: true,
                        infinite: true,
                        speed: 300,
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        variableWidth: true,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 3,
                                    slidesToScroll: 3,
                                    infinite: true,
                                    dots: true
                                }
                            },
                            {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 2
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            }
                            // You can unslick at a given breakpoint now by adding:
                            // settings: "unslick"
                            // instead of a settings object
                        ]
                    });
                </script>
            </div>
            <div class="special-offer-newsletter-wrap">
                <div class="special-offer-newsletter-content">
                    <h2>YOU ARE the one who DRIVES US FORWARD</h2>
                    <p>Join our community of watch lovers and be the one to shape new collections of Fillippo Loreti watches.</p>
                    {% form 'customer', id: 'newsletter-footer-so' %}
                        {% if form.posted_successfully? %}
                            <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
                        {% endif %}
                        {% if form.context == 'footer' %}
                            {% if form.errors %}
                                {{ form.errors | default_errors }}
                            {% endif %}
                        {% endif %}
                        <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                        <input type="hidden" name="contact[tags]" value="prospect,newsletter">
                        <input type="hidden" name="contact[context]" value="footer">
                        <div class="footer__newsletter">
                            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off">
                            <button type="submit" class="footer__newsletter-btn" name="commit">
                                Join The Community
                            </button>
                        </div>
                    {% endform %}
                </div>
                <div class="special-offer-newsletter-image">
                    <img src="{{ 'newsletter_offer.png' | asset_url }}" alt="Special offer newsletter">
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .mbox {
        max-width: 1250px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
    }
    .more-special-offer{
        display: none;
    }
    .special-offer-products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .special-offer-product {
        width: 100%;
        max-width: 280px;
        margin-bottom: 32px;
    }
    .special-offer-banner-text h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .special-offer-banner-text p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    .special-offer-banner-link a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: inline-block;
        border: 1px solid #DDCFAD;
        padding: 12px 40px;
    }
    .special-offer-banner-link {
        text-align: center;
    }
    .special-offer-product.banner {
        padding: 32px 24px 32px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .special-offer-product img {
        display: block;
    }
    .special-offer-products-heading h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #000000;
        max-width: 445px;
        margin: 0 auto;
    }
    .special-offer-banner {
        margin-bottom: 80px;
    }
    .special-offer-text {
        padding: 104px;
    }
    .special-offer-text h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
    .special-offer-text img {
        margin-bottom: 24px;
    }
    .special-offer-text h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        font-feature-settings: 'ss01' on;
        color: #FFFFFF;
        margin-bottom: 32px;
    }
    .special-offer-text a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: inline-block;
        padding: 8px 61px;
        border: 1px solid #FFFFFF;
    }
    .special-offer-products-wrap {
        margin-bottom: 80px;
    }
    .special-offer-collections-heading h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 32px;
    }
    .special-offer-collections-heading p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on;
        color: #6E6E6E;
        max-width: 384px;
        margin: 0 auto;
    }
    .special-offer-collections-heading {
        margin-bottom: 40px;
    }
    .special-offer-collection {
        max-width: 280px;
        width: 280px;
    }
    .special-offer-collections button.slick-prev.slick-arrow {
        left: -55px;
    }
    .special-offer-collections button.slick-next.slick-arrow {
        right: -55px;
    }
    .special-offer-collection.slick-slide.slick-active {
        margin-right: 0;
    }
    .special-offer-collection.slick-slide~.slick-active {
        margin-right: 32px;
    }
    .special-offer-collection-title {
        padding: 16px 24px;
        text-align: center;
        width: calc(100% - 32px);
        margin-left: 16px;
        position: relative;
        top: -40px;
        background: #fff;
        height: 80px;
        display: flex;
        justify-self: center;
        align-items: center;
        justify-content: center;
    }
    .special-offer-collection-title a {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        max-width: 200px;
        display: inline-block;
    }
    .special-offer-collections button.slick-prev.slick-arrow:before,.special-offer-collections button.slick-next.slick-arrow:before {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
    }
    .special-offer-collections button.slick-prev.slick-arrow,.special-offer-collections button.slick-next.slick-arrow{
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .special-offer-collections.slick-slider .slick-dots li button{
        border: 1px solid #000;
        border-radius: 50%;
        width: 8px!important;
        height: 8px!important;
        padding: 0;
    }
    .special-offer-collections.slick-slider .slick-dots li.slick-active button::before{
        width: 8px;
        height: 8px;
        background: #000;
    }
    .special-offer-collections-wrap {
        margin-bottom: 80px;
    }
    .special-offer-newsletter-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
    }
    .special-offer-newsletter-content {
        flex-basis: 50%;
    }
    .special-offer-newsletter-image {
        flex-basis: 50%;
        text-align: center;
    }
    .special-offer-newsletter-image img{
        display: block;
        margin: 0 auto;
    }
    .special-offer-newsletter-content h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #2C2C2C;
        text-align: center;
        max-width: 384px;
        margin: 0 auto 16px;
    }
    .special-offer-newsletter-content p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #6E6E6E;
        max-width: 384px;
        margin: 0 auto 23px;
    }
    .special-offer-newsletter-content form#newsletter-footer-so {
        max-width: 384px;
        margin: 0 auto;
    }
    form#newsletter-footer-so input::placeholder {
        color: #B3B3B3;
    }
    form#newsletter-footer-so input {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #2C2C2C;
        background: #fff;
        padding: 16px;
        width: 100%;
        max-width: 100%;
        margin-bottom: 24px;
    }
    form#newsletter-footer-so button {
        position: relative;
        display: block;
        width: 100%;
        background: #000000;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 16px 0;
    }
    .special-offer-wrap ~ .internal-links-list-wrap {
        background: #fff;
        text-align: center;
    }
    .special-offer-wrap ~ .internal-links-list-wrap .internal-links-list{
        max-height: 50px;
    }
    .internal-links-list-wrapper {
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .special-offer-wrap ~ .internal-links-list-wrap .internal-links-list .internal-link a {
        background: #FAFAFA;
        border-radius: 24px;
        text-decoration: none;
        padding: 8px 24px;
        color: #6E6E6E;
    }
    .special-offer-products-heading {
        margin-bottom: 40px;
    }
    @media (max-width: 1250px){
        .special-offer-collections button.slick-next.slick-arrow,.special-offer-collections button.slick-prev.slick-arrow{
            display: none!important;
        }
    }
    @media (max-width: 767px){
        .special-offer-banner {
            background-image: url('{{ sp_b_m_i }}')!important;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: calc(100% + 30px);
            margin-left: -15px;
        }
        .special-offer-newsletter-content{
            flex-basis: 100%;
        }
        .special-offer-newsletter-image{
            display: none;
        }
        .special-offer-text {
            padding: 104px;
            padding: 32px 53px 20px;
            text-align: center;
        }
        .special-offer-text h1{
            max-width: 254px;
            margin: 0 auto 24px;
        }
        .special-offer-text a{
            margin-bottom: 232px;
        }
        .more-special-offer{
            display: block;
            text-align: center;
        }
        .more-special-offer a span{
            display: block;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 8px;
            text-align: center;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .special-offer-products {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .special-offer-product.banner {
            background-size: cover;
            padding-bottom: 208px;
        }
        .special-offer-collection.slick-slide.slick-active{
            margin-right: 0!important;
            padding: 0px 5px;
        }
        .special-offer-collections.slick-slider .slick-dots li.slick-active button{
            background: #000;
        }
    }
</style>
<script>
    jQuery(document).ready(function ($) {
        if ($('.internal-link').length > 0){
            var width = 200;
            $('.internal-link').each(function () {
                width = width + $(this).outerWidth();
            });
            $('.internal-links-list').wrap('<div class="internal-links-list-wrapper"></div>');
            $('.internal-links-list').width(width);
        }
    });

</script>
