{% section 'product-sections-template' %}

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ bold_price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<script text="text/javascript">
	var _learnq = _learnq || [];
	document.getElementById("AddToCart-product-sections-template").addEventListener('click',function (){
      _learnq.push(['track', 'Added to Cart', item]);
	});
</script>
<script text="text/javascript">
    window.juapp=window.juapp||function(){(window.juapp.q=window.juapp.q||[]).push(arguments)}

    juapp(
      'cartItemAdd',
      item.ProductID,
       {
        name: item.Name,
        quantity: 1,
        price: item.Price
       }
    );
</script>
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>
{% include "fireapps-shipping" %}
